[2015-08-10 13:50] haoyuchen1992 commented on #3908
@caneruguz Forget to mention that this bug happens in all the four major browsers.  I will look  into it more.

[2015-08-10 14:00] mfraezz commented on #3973
There was likely a breaking change with recent style guide modifications, as the style on the login, password reset, and two-factor auth pages are all affected (see https://github.com/CenterForOpenScience/osf.io/pull/2365 and compare with production). @haoyuchen1992 might know what's causing this.

As for the "remember me" checkbox: I don't think that's ever been on the `osf.io/login/` page, but i

[2015-08-10 14:32] haoyuchen1992 commented on #3908
After discussing with Caner, we found the reason behind this was about the debounce time for updating affix.

[2015-08-10 14:38] HarryRybacki commented on #3947
Regarding S3, bucket names must be unique across all server locations and user attempting to use them.

This specific problem is resulting from another odd boto specific behavior.

- If you attempt to create a **US Standard** bucket with a name you have previously reserved it will simply return the bucket you already have created.
![screen shot 2015-08-10 at 10 37 04 am](https://cloud.githubuserco

[2015-08-10 14:46] haoyuchen1992 commented on #3973
@mfraezz @jlcohoon  Actually, when applying in style guide, we may not touch this page. Maybe there is style missing. If not, I can add "remember me" instead.

[2015-08-10 14:55] jlcohoon commented on #475
OSF Storage and folders can now be downloaded as a zip, but you still can't select multiple files to be downloaded. Any chance this can be put on the list for next epic?

[2015-08-10 14:59] NatashaRichter opened #3983 "File detail page: Loading spinner partially obscures "View this file on [add-on]""
## Description

If you have the View, Edit, and Revisions panes open at the same time and edit and save a file, the OSF loading spinner partially obscures the text "View this file on [add-on]" on normal size screens and to a larger degree on smaller size screens.

## Screenshots

**Normal size screen**

![spinner_overlaps_view_this_file](https://cloud.githubusercontent.com/assets/7093086/9174583/b

[2015-08-10 15:00] lbanner commented on #475
I'd suggest you put it on the Epic planing Trello -- ping @erinmayhood . Thanks.

[2015-08-10 15:02] #3908 closed

[2015-08-10 15:04] #3314 closed

[2015-08-10 15:09] HarryRybacki commented on #3870
@NatashaRichter can you attempt to reproduce this bug again? I just tried and was prompted by what I think to be a satisfactory response:
![screen shot 2015-08-10 at 11 08 45 am](https://cloud.githubusercontent.com/assets/2614670/9174818/4ee403d0-3f50-11e5-932b-ca3f7bd951f2.png)

[2015-08-10 15:14] HarryRybacki commented on #3947
@NatashaRichter are you okay with closing this?

[2015-08-10 17:22] jinluyuan opened #3987 "[Safari] Files grid jumps when clicking a row for the first time upon page load"
### Steps
1. Sign into osf.io in Safari
2. Go to one of your projects
3. In either the project overview page or the files page, click on any row in the files grid (project name, add-on name, file, etc.)
4. Click on another row
5. Repeat this in any other browser (Chrome, FF, IE)

### Expected behavior
I expected that the first click in Safari would behave like all the other browsers.

![normal beh

[2015-08-10 18:15] mfraezz commented on #3817
@TomHardwicke This should be fixed now, can you confirm? If so, @lbanner can you close this issue. It was merged as a hotfix

[2015-08-10 18:30] lbanner commented on #3817
Great! -- @TomHardwicke just let me know. Thanks.

[2015-08-10 18:47] jinluyuan commented on #3905
Just some helpful info!

### Bucket naming rules
Bucket name should conform with DNS requirements:
- Should not contain uppercase characters
- Should not contain underscores (_)
- Should be between 3 and 63 characters long
- Should not end with a dash
- Cannot contain two, adjacent periods
- Cannot contain dashes next to periods (e.g., "my-.bucket.com" and "my.-bucket" are invalid)

([Source](http

[2015-08-10 18:49] lbanner commented on #3905
Shall we document the above ^^ somewhere?

[2015-08-10 18:50] haoyuchen1992 commented on #3987
@nanchen47  I can look at it, thanks!

[2015-08-10 18:53] lbanner commented on #3987
You got it!

[2015-08-10 20:07] reinaH opened #3994 "Ensure API tests are being set up with AuthUserFactory() where possible"
@brianjgeiger

All classes in User and Node test_views are being set up like so:
[code]
and authentication is being passed in this manner:
[code]

As Steve has noted, this is a superfluous way of passing authentication. If the AuthUserFactory is used , you don't need to set the user's password or have an auth variable. The first chunk of code can be alternatively written as:
[code]
and authenticat

[2015-08-10 20:26] #3365 closed

[2015-08-10 20:32] #3868 closed

[2015-08-10 20:34] caneruguz commented on #3973
@jlcohoon
I don't think the pages should be identical necessarily. COS login is a service that is independent of the OSF. It's branding should not be OSF and it should not have the OSF headers and components. I think we agree up to here.

In terms of its look that's up for discussion, it could be made to apply the same style as the OSF, but I don't think that's very necessary. It would be simple t

[2015-08-10 20:49] jlcohoon commented on #3973
I'm not sure I understand. This isn't about whether or not we have COS or OSF branding. The issue is that we have two different login pages for the OSF with disparate looks and features.

For example, if I attempt to log in to the OSF but mess up my login, I find myself at accounts.osf.io/login:
![screen shot 2015-08-10 at 4 41 57 pm](https://cloud.githubusercontent.com/assets/4965832/9183816/99e3

[2015-08-11 00:43] lbanner commented on #3973
I get it - and thanks for finding form whence a user hits 'osf.io/login' @jlcohoon -- I want to suggest we tie this into next Epic, as we consider overall site consistency and navigation. OK @erinmayhood ?

[2015-08-11 13:21] caneruguz commented on #3973
@jlcohoon is making good points, the user experience managing login is potentially causing confusion. The panel bug is not the main reason for formatting, the two login systems are designed entirely differently and the universal login does not take any design clues from OSF, it's rather mimicking other single login systems. Is there a reason we have two pages is a bigger discussion but the quick a

[2015-08-11 13:22] abought opened #3998 "OSF Help Page is placeholder"
## Priority

Probably quite trivial.

Will become more relevant once we have more content (eg API and OAuth developer docs) in the near future.

## Description
The OSF has had a help page route (https://osf.io/help/) since 2013, but only as an unstyled placeholder. As we add more help content (including for developers) this should be reorganized and made consistent.

For now, it might make sense t

[2015-08-11 13:23] HarryRybacki commented on #3947
@lbanner @GaryKriebel ^^

[2015-08-11 13:33] NatashaRichter opened #3999 "No header on information modal on project overview and files tab"
## Steps

1. Log in to osf.io.
2. Navigate to one of your projects.
3. From your project overview page, click the "i" button above the files widget.
4. Then, head to your files tab and click the "i" button.

## Expected behavior

I expect to see what I do when I click the information button on staging: a header reading, "How to Use the File Browser."

## Actual behavior

The modal has no header in

[2015-08-11 13:35] NatashaRichter commented on #3947
@HarryRybacki @lbanner @GaryKriebel I'm cool with closing this now. Thanks for the explanation, Harry!

[2015-08-11 13:48] nanchen47 commented on #3999
@NatashaRichter this issue doesn't seem to have a high priority and once staging gets merged into production. This should be fixed. I suggest closing this issue.

[2015-08-11 13:50] lbanner commented on #3999
That sounds good - I will make it so!

[2015-08-11 13:50] #3999 closed

[2015-08-11 14:11] caneruguz commented on #2554
@samanehsan the changes in that PR are applied but it still doesn't address the original issue. @jlcohoon can you take a look at current production behavior and let us know if this issue should close or not?

[2015-08-11 14:23] caneruguz commented on #3429
@wisherp I can't replicate this issue can you try again?

[2015-08-11 14:24] NatashaRichter commented on #3999
@nanchen47 okay, how do we know that this wasn't a regression from the release though?

[2015-08-11 14:25] caneruguz commented on #3878
@GaryKriebel does this mean this issue should be closed?

[2015-08-11 14:25] caneruguz commented on #3419
@GaryKriebel @sloria  should this issue be closed?

[2015-08-11 14:42] wisherp commented on #3429
@caneruguz I am still seeing this on IE 10 through UVA Hive. It seems to work fine on every other browser so it might be an issue with the Hive rather than the OSF.

[2015-08-11 15:04] caneruguz commented on #3841
It looks like in here:
https://github.com/CenterForOpenScience/osf.io/blob/develop/website/static/js/fileViewTreebeard.js#L13
the if logic is failing because ```window.contextVars.file.extra.branch``` goes to false because extra is null.

It gets set here: https://github.com/CenterForOpenScience/osf.io/blob/develop/website/templates/project/view_file.mako#L164

@samanehsan do you know where that m

[2015-08-11 15:11] samanehsan commented on #3841
@caneruguz, that value gets passed in from the view here: https://github.com/CenterForOpenScience/osf.io/blob/develop/website/addons/base/views.py#L455

[2015-08-11 15:20] jlcohoon commented on #2554
Technically the problem of not being able to delete a page without visiting it still exists. However, I'm under the impression that that would be difficult to implement. I still think that it would be helpful to quickly delete multiple wiki pages at once, but perhaps hover isn't the answer.

[2015-08-11 15:37] lbanner commented on #3429
Let's go with that for now :smiling_imp:  -- closing. TY!

[2015-08-11 15:37] #3429 closed

[2015-08-11 15:38] lbanner commented on #3947
OK!

[2015-08-11 15:38] #3947 closed

[2015-08-11 15:42] NatashaRichter opened #4001 "[Safari] No green success message after configuring commenting"
## Steps

1. Log in to osf.io.
2. Navigate to one of your projects.
3. Head to the project settings page.
4. Scroll down to Configure Commenting.
4. Choose an option and click Save.

## Expected behavior

In Safari, I expect to see what I do in Chrome and Firefox: a green success message informing me that I've successfully updated my settings prior to page refresh.

## Actual behavior

In Safari,

[2015-08-11 15:48] NatashaRichter commented on #4001
The same issue occurs with the Apply button when selecting add-ons (no green "settings updated" message is shown). Under Configure Add-ons, though, I do see the green success messages when importing individual add-on accounts from my Profile.

[2015-08-11 16:00] caneruguz commented on #3619
@lbanner just sent a PR for this issue: https://github.com/CenterForOpenScience/osf.io/pull/4002

[2015-08-11 16:06] NatashaRichter commented on #3999
@caneruguz @haoyuchen1992 Could you check this out? I was worried this might be a regression after the release.

[2015-08-11 16:07] lbanner commented on #3619
Got it!

[2015-08-11 16:09] #3983 closed

[2015-08-11 16:16] chennan47 commented on #3949
@sloria can this be closed?

[2015-08-11 17:00] jinluyuan commented on #3951
Just checked this again. When I click to download, a .txt file is downloaded onto my computer. However, the file simply has the image shown above (<span class...) instead of the actual citation style chosen (APA, MLA, etc.).

[2015-08-11 17:06] sloria commented on #3949
Yes

[2015-08-11 17:06] #3949 closed

[2015-08-11 17:08] caneruguz commented on #3841
@samanehsan for some reason the extra field is not being filled properly. It looks like you wrote that function, do you have some time to look into this issue?

[2015-08-11 17:14] #3619 closed

[2015-08-11 17:46] Johnetordoff commented on #3972
This is a tricky issue, because I know it happens sporadically, but I can't consistently reproduce it or see what might causing it programmatically. I know that clearing the browser cache fixes this problem temporarily (at least on firefox). I also know that this originally only happened when an Addon checkbox checked and applied, but I can't reproduce this on Safari, I am using the latest version

[2015-08-11 17:55] jinluyuan opened #4005 "No way to distinguish between projects in Add Links modal"
### Steps
1. Sign into osf.io or staging.osf.io
2. Go to one of your projects
3. In the Components widget of project's Overview page, click the "Add Links" button
4. In the modal that appears, search for a registered project with multiple registrations

### Expected behavior
I expected that for each project or registered project, there would be a timestamp indicating when the project was created o

[2015-08-11 18:52] haoyuchen1992 commented on #3987
After playing around for a while, I find it happens in two other situations. Firstly, go to the project with admin right.
1.   changing the selection from osf-storage icon to github icon for the project with
2.   changing the selection from osf-storage icon to the file under that osf-storage icon

[2015-08-11 19:00] sloria opened #4007 "API docs incorrectly display "links" type as "string""
It should say "object".

![swagger_ui](https://cloud.githubusercontent.com/assets/2379650/9207136/a02d38bc-4039-11e5-8f9b-0492d3abd502.png)

[2015-08-11 19:22] haoyuchen1992 commented on #3987
@lbanner  after discussing with @caneruguz, we suggest to defer this bug. Firstly, it doesn't hurt any functionality and only happens on Safari. And also it is hard to debug.

[2015-08-11 19:37] jinluyuan commented on #3904
Relevant Trello card: https://trello.com/c/QkP4A2d2/30-rendered-as-amp-in-some-places

[2015-08-11 19:41] abought commented on #3904
This is likely a faithful representation of how the data is stored in the database (thank you, Bleach), but knockout.js then performs its own escaping, creating a display anomaly. `unescape_entities` is the usual solution in this case.

[2015-08-11 20:20] wisherp opened #4009 "Treebeard modals did not get updated during the 0.45 release"
The treebeard changes made on staging did not get merged well onto production during the 0.45 release. Notice the difference below:

# Expected (as it is on staging):
![space between the buttons on staging](https://cloud.githubusercontent.com/assets/10926926/9209393/471634ee-4044-11e5-898f-c595f72b1663.png)

![image](https://cloud.githubusercontent.com/assets/10926926/9209426/742d170e-4044-11e5-87

[2015-08-11 20:21] chennan47 commented on #4009
https://github.com/CenterForOpenScience/osf.io/issues/3999related issue

[2015-08-11 20:27] NatashaRichter opened #4010 "File renaming unsuccessful if multiples of same letter or character entered in succession"
Reported on Markup-Safe 3 trello board by @nicipfeiffer.

## Steps

1. Log in to osf.io.
2. Navigate to one of your projects.
3. From the dashboard, click into the files widget.
4. Rename one of your files to include two or more of the same characters in succession, like "helloooooo". Try the same thing with a character like angle brackets. Lastly, try to rename a file to be contained in angle bra

[2015-08-11 20:36] NatashaRichter commented on #4010
@caneruguz Here's that strange file renaming bug.

[2015-08-11 20:36] haoyuchen1992 commented on #4001
I can work on it, thanks!

[2015-08-11 20:37] jinluyuan commented on #4010
Duplicate of https://github.com/CenterForOpenScience/osf.io/issues/3386

[2015-08-11 20:41] NatashaRichter commented on #4010
Thank @jinluyuan. I'm going to link your github issue to the relevant trello card on mark-up safe 3 and close this one.

[2015-08-11 20:41] #4010 closed

[2015-08-11 21:09] #3791 closed

[2015-08-11 21:23] NatashaRichter commented on #3872
@wisherp @sloria Can we reopen this issue? It's happening again on Production for Chrome and Firefox. Or I can make a new issue for it? I think @haoyuchen1992 was looking into it on the 0.45 board. See trello card here: https://trello.com/c/GL7NB99k/31-configure-notifications-and-configure-commenting-are-not-highlighted-upon-click

[2015-08-11 21:43] #3994 closed

[2015-08-11 21:55] NatashaRichter opened #4012 "Add Links modal: Cannot search for project title with HTML escape characters"
I reported this on the Markup-safe 3 trello board.

## Steps

1. Log in to osf.io.
2. Create a project with a title like this: `&lt;i&gt;QA is awesomer&/i&gt;`
3. Navigate to another project.
4. Click on the "Add links" button
5. In the search field, search for your new title.

## Expected Behavior

I expect to be able to find my project based on what I originally titled it and what it was rendere

[2015-08-12 14:02] caneruguz commented on #4009
@steve this looks like an update of install issue. Can you take a look?

[2015-08-12 14:09] sloria commented on #4009
Yes, needed to reinstall treebeard. Good catch @wisherp

[2015-08-12 14:09] #4009 closed

[2015-08-12 14:09] sloria commented on #3999
This should now be fixed

[2015-08-12 14:34] nicipfeiffer commented on #3901
@sloria has this been fixed and merged?

[2015-08-12 14:35] jlcohoon opened #4016 "removing self as contributor produces two different modals"
## Steps
1. Visit a project where you are a read or read+write contributor
2. Visit the sharing page
3. Click the red 'x' in the row where you are listed
4. Click "Save Changes"
5. Read the modal that appears
6. Confirm changes

Then

6. Visit a project where you are an admin
7. Visit the sharing page
8. Click the red 'x' in a row where you are listed
9. Click "Save Changes"
10. Read the modal tha

[2015-08-12 14:36] sloria opened #4017 "Remove unnecessary modal when registering project"
The registration process has an excess of confirmation steps.

1. Click New Registration -> Modal confirmation
2. The registration form selection page shows the same information as the previous modal.
3. Once finished with the form, type "register"
4. Modal displays showing which addons and files will be registered.
5. As of release 0.46: Confirm modal -> Admins must confirm through email

![regis

[2015-08-12 15:22] caneruguz opened #4019 "UI issue with the new tag colors"
## Steps:
1. Go to a project on osf.io and click on the box to enter a tag
2. Click inside the box but away from the blue box for the new tag input, observe that the blue box is not going away.
2. Hover over an existing tag

![screen shot 2015-08-12 at 11 17 11 am](https://cloud.githubusercontent.com/assets/1314003/9228000/5dba1a4e-40e4-11e5-929d-7931396fdeab.png)

There are two problems here
1. T

[2015-08-12 15:40] caneruguz commented on #4017
Yes totally agree!

[2015-08-12 15:56] jinluyuan opened #4020 "SHARE lacks visibility and explanation on the OSF"
The OSF lacks any direct link to SHARE, other than through search results. A user who is not already familiar with SHARE will have no way of knowing what it is since we don't give information about it on either FAQ or Getting Started, and even the cos.io website doesn't have an immediately accessible page about it.  Although SHARE is a separate service from the OSF and not solely under the jurisdi

[2015-08-12 16:15] jinluyuan opened #4022 "[feature request] Read more link for project overview page's Wiki widget"
### Steps
1. Go to osf.io
2. Go to one of your projects
3. Add a paragraph or two of text to the wiki
4. Go to the project's overview page
5. Notice where the text cuts off in the Wiki widget

### Expected behavior
I expected there to be a "Read more", "Continue reading", or "More..." link of some sort text to where the text cuts off, and the link would take me to the Wiki page.

### Actual behavi

[2015-08-12 16:26] mfraezz commented on #1669
I added click functionality, but was unable to determine exactly why drag and drop isn't working. I did notice some weird behavior. When a `click` event was already attached to the dropzone element, I added the following via IE's console (`x` is the dropzone, `y`/`asdfasdf` was the textfield immediately below `x`):
![screen shot 2015-08-11 at 16 33 53](https://cloud.githubusercontent.com/assets/56

[2015-08-12 16:32] lbanner commented on #3904
This can be resolved @abought ? or should we close?

[2015-08-12 16:35] sloria opened #4023 "Unregistered contributor with no gravatar displays as a white square"
### Steps

1. Go the Sharing page of a project.
2. Click to "Add" a contributor.
3. Search for name that doesn't exist on the OSF.
4. Click "Add <name> as an unregistered contributor"
5. Don't input an email. Submit the form

### Expected

A placeholder image is displayed were the Gravatar would be.

### Actual

A white square is displayed.

![osf___realigned_stable_initiative_contributors](https:

[2015-08-12 16:40] sloria commented on #4017
This is a minimal code change. With @erinmayhood 's "go", I can go ahead and remove the modal or allow this issue to be claimed.

[2015-08-12 16:47] abought commented on #3904
I am still seeing this bug on staging with data entered as of a few minutes ago.

This page uses knockout, and therefore was not covered by the mako markupsafe conversion.

[2015-08-12 16:50] nicipfeiffer opened #4025 "Unicode Emoticons in Project Titles disable links to S3 files in Project Logs"
Reported on the 0.45 Trello testing board

## Steps
1. Go to a project you have admin access to that has a project name not containing unicode emoticons
2. Go to the project setting page and configure S3 for the project
3. On the Project overview page upload a file to the S3 folder
4. Refresh the page and look at the project logs
5. Confirm that you can see the filename that was just uploaded and

[2015-08-12 16:54] nicipfeiffer opened #4026 "S3 Bucket location is unknown after creation"
Reported on the 0.45 Trello board
## Steps
1. Go to project settings for a project with S3 enabled
2. Click to create a new bucket
3. Enter the name and select a location
4. Save the new bucket to your project
5. Go to the settings page and project log to look to see what location you chose
## Expected

As a user that may have collaborators in another region, I may want to have access to the S3 bu

[2015-08-12 17:25] #3386 closed

[2015-08-12 17:26] #3804 closed

[2015-08-12 17:42] lbanner commented on #3987
Deferred!

[2015-08-12 17:48] lbanner commented on #4025
Rather a random edge case, eh? :smiling_imp: I'll tag w/Discuss

[2015-08-12 19:28] nicipfeiffer opened #4031 "Mobile: Password warning cut off on front page"
Reported on 0.45 Trello board

## Steps
1. Using a mobile device or Chrome with developer tools and mobile browser enabled, go to osf.io
2. Be sure that you are logged out
3. Do not enter any text into the name, email, password, etc fields and click the Sign Up Free button

## Expected
I would see errors that those fields are required and the rest of the page would appear normally

## Actual
The w

[2015-08-12 19:40] haoyuchen1992 opened #4032 "[Production & Staging] [Style Guide] Need change button text when it is disabled"
### Steps
1. Go to project setting
2. Connect Amazon S3 account
3. Change bucket and click Save

### Expected
When save button turns disable, it should change the button text from Save to Saving.

###  Actual
Related PR for Similar Issue: https://github.com/CenterForOpenScience/osf.io/pull/3993

![saving](https://cloud.githubusercontent.com/assets/5420789/9233080/1d3fccbe-40ff-11e5-8e47-fd2c8e3b27

[2015-08-12 19:50] nicipfeiffer opened #4033 "Improve Error message when attempting to create an S3 bucket that already exists"
Reported as an enhancement on the 0.45 Trello board

## Steps to Reproduce:
1. Configure S3 in your user settings
2. Go to a project that you have admin access to
3. On the project settings page, select S3 and click to import from profile
4. Click to create a bucket
5. Enter a name for the bucket and a location
6. Should see that it was successfully created and saved on the settings page
7. Now cl

[2015-08-12 19:52] jinluyuan commented on #4032
There should be a guideline in the Style Guide about this. This is similar to https://github.com/CenterForOpenScience/osf.io/issues/3871.

The disabled button's text should be "Saving", or the progressive tense of whatever verb the button had. (Create -> Creating, Add -> Adding)

[2015-08-12 19:58] WillBanner opened #4034 "[Staging and Production] View Only Link name does not have character limit"
# Steps
1. Go to osf.io and log in.
2. Go to a project on which you are an admin.
3. Go to the sharing tab.
4. Click to create a new view-only link.
5. Make the name of the view only link extremely long.

# Expected
After a certain number of characters, I would be prevented from making the view-only link name any longer.

# Actual
I am able to make the link name as long as I want.

![image](https:

[2015-08-12 20:06] GaryKriebel commented on #4033
This will depend on changes to error handling in WaterButler.

[2015-08-12 20:10] WillBanner opened #4035 "[Staging and Production] [Firefox] View Only link name without spaces does not wrap text"
# Steps
1. Go to osf.io and log in.
2. Go to a project on which you are an admin.
3. Go to the sharing tab.
4. Click to create a view only link.
5. Name the link something long without any spaces like: "ThisisareallylongviewonlylinknamethatdoesnothaveanyspaceswhichcanbeaproblemasyouwillseeassoonasIfinishtypingthiswholethingout"

# Expected
When I create the link, after a certain number of characte

[2015-08-13 01:59] #3762 closed

[2015-08-13 04:07] nanchen47 commented on #182
Now registration is formatted as other timestamps.

[2015-08-13 04:08] nanchen47 commented on #198
With the file system changed to waterbulter, this is no longer a problemm

[2015-08-13 04:08] #198 closed

[2015-08-13 04:33] sloria commented on #182
This is still an issue. The dates displayed in registration and forks are still UTC only.

[2015-08-13 04:50] nanchen47 commented on #460
Related pr https://github.com/CenterForOpenScience/osf.io/pull/3113

[2015-08-13 04:51] nanchen47 commented on #468
This is no longer a problem with the new loading screen.

[2015-08-13 04:51] #468 closed

[2015-08-13 04:59] nanchen47 commented on #482
This is no longer a problem.

[2015-08-13 04:59] #482 closed

[2015-08-13 05:33] nanchen47 commented on #671
This is no longer a problem with the new registrations system.

[2015-08-13 05:33] #671 closed

[2015-08-13 05:48] nanchen47 commented on #758
This has been fixed and no longer is a problem

[2015-08-13 05:48] #758 closed

[2015-08-13 05:51] nanchen47 commented on #836
This pr has been merged and deployed on production.

[2015-08-13 05:51] #836 closed

[2015-08-13 06:04] #898 closed

[2015-08-13 06:13] nanchen47 commented on #946
Close this one and continue tracking on #2933

[2015-08-13 06:13] #946 closed

[2015-08-13 06:20] nanchen47 commented on #971
Since the current behavior is fine, close this one

[2015-08-13 06:20] #971 closed

[2015-08-13 06:34] nanchen47 commented on #1034
Don't see this problem coming up on sentry any more. If it happens again. Reopen it.

[2015-08-13 06:34] #1034 closed

[2015-08-13 06:45] nanchen47 commented on #1161
With waterbulter, this should no longer be a problem.

[2015-08-13 06:45] #1161 closed

[2015-08-13 07:06] nanchen47 commented on #1256
The discussion leads a different problem which is issue https://github.com/CenterForOpenScience/osf.io/issues/280. Closing this one in favor of that one.

[2015-08-13 07:06] #1256 closed

[2015-08-13 07:39] nanchen47 commented on #1867
This problem doesn't happen anymore. Close for now, reopen it if it happens.

[2015-08-13 07:39] #1867 closed

[2015-08-13 07:40] nanchen47 commented on #1883
Close this in favor of #2015.

[2015-08-13 07:40] #1883 closed

[2015-08-13 07:55] nanchen47 commented on #2153
The jsunit tests have been integrated with Travis CI.

[2015-08-13 12:25] sloria commented on #2153
While we are running are tests against PhantomJS on TravisCI, we are not yet running our tests on SauceLabs through TCI.

This issue is still open.

[2015-08-13 13:24] saradbowman opened #4038 "[production] User Unable to Reset Password in Safari"
Steps
-------
1. User navigates to OSF using Safari and attempts to reset password
2. User inputs email address associated with OSF account and receives error message, "Not a valid email address."
3. User inputs a different email address, not associated with her OSF account, and receives a success message but no password reset email (expected behavior)
4. User clears cookies on Safari, tries again

[2015-08-13 13:28] nanchen47 commented on #2348
This pr has been merged and deployed on production.

[2015-08-13 13:28] #2348 closed

[2015-08-13 13:31] caneruguz commented on #2845
@nicipfeiffer can you add me to the project https://osf.io/6hjum/ ? I get a forbidden message.

[2015-08-13 13:34] nanchen47 commented on #2368
This pr has been merged and deployed on production.

[2015-08-13 13:34] #2368 closed

[2015-08-13 13:43] nanchen47 commented on #2459
The fix pr has been merge and deployed on production.

[2015-08-13 13:43] #2459 closed

[2015-08-13 13:43] lbanner commented on #4038
@saradbowman Is this a single user issue? or a Safari issue that replicates? If single user, let's see what we can do to help them ... @sloria or @icereval ?

[2015-08-13 13:44] #3765 closed

[2015-08-13 13:45] saradbowman commented on #4038
Single user reported - @Sloria investigated a bit, suggested a different browser. Using Firefox resolved the issue for this user.

[2015-08-13 13:46] lbanner commented on #4038
OK .... @caileyfitz or @jinluyuan ... can you test / aim to replicate in Safari, please? I'd like to make sure this is not a consistent user issue. Thanks.

[2015-08-13 13:54] nanchen47 commented on #2538
This is solved by @samanehsan 's file page tree view.

[2015-08-13 13:58] nanchen47 commented on #2618
Can't repo this problem anymore. If this happens again. please reopen it.

[2015-08-13 13:58] #2618 closed

[2015-08-13 14:00] nanchen47 commented on #2644
The fix pr by @samchrisinger has been merge and deployed.

[2015-08-13 14:00] #2644 closed

[2015-08-13 14:05] jinluyuan commented on #4038
@lbanner I am unable to replicate in Safari (production).

I still get a green success alert that the email has been sent to reset my password with all of these email addresses:
- my OSF account's email address
- an email address with special characters `{|}~` (not associated with any OSF account)
- an email address with a period `jinlu.yuan` (not associated with any OSF account)
- an email addres

[2015-08-13 14:09] NatashaRichter opened #4039 "S3 icon cut off on Project Overview page and on Files tab"
This was reported on the 0.45 trello board by @WillBanner

## Steps

1. Log in to osf.io.
2. Navigate to a project for which you have admin access.
3. Head to your project settings and select and configure your Amazon S3 add-on. Connect it to a bucket.
4. Now, return to the Project Overview page and look at the S3 icon there.
5. Click to navigate to the Files tab and look at the S3 icon there, too

[2015-08-13 14:11] NatashaRichter commented on #4039
**Comment from trello board**

@caneruguz wrote: This is an error on production, we have standard sizes for icons but in this case this icon is not properly sized. There is a CSS solution to this with background-size:contain but that would effect every icon on that list.

We can either create a github issue since it's on production or if we have time I can come back to this when I'm finished with

[2015-08-13 14:15] lbanner commented on #4038
Thanks @jinluyuan -- I'll close this as a single case that has been resolved.

[2015-08-13 14:15] #4038 closed

[2015-08-13 14:17] samanehsan commented on #2538
@nanchen47, the issue that @caileyfitz pointed out is still the current behavior of our file grids and is not solved by the file page tree view. When a user is viewing a project file and clicks to view a file in one of the components, they are still taken to the component project and shown only the component's files in the grid.

[2015-08-13 14:21] nanchen47 commented on #2683
Same issue as https://github.com/CenterForOpenScience/osf.io/issues/3972. Close this in favor of that one.

[2015-08-13 14:21] #2683 closed

[2015-08-13 14:23] saradbowman commented on #3157
Turns out the user has 900 Zotero folders. Can we reopen this?

[2015-08-13 14:25] #3649 closed

[2015-08-13 14:26] caneruguz commented on #4019
@lbanner PR for this are coming in a bit.

[2015-08-13 14:28] GaryKriebel commented on #3157
This will have to become a feature request as we have designed the system to handle the maximum number of returned folders per their API.  Allowing for more will require new requirements and design work.

[2015-08-13 14:28] lbanner commented on #4019
:+1:

[2015-08-13 14:29] nanchen47 commented on #260
This issue is included in https://github.com/CenterForOpenScience/osf.io/issues/2797. Close this one in favor of #2797

[2015-08-13 14:29] #260 closed

[2015-08-13 14:41] lbanner commented on #3076
@rohan-bajaj  ... @WillBanner is noting this as no longer an issue -- You OK if I close? Status on any work here? Thanks -

[2015-08-13 14:48] nanchen47 commented on #2888
Same issue as #2686. Close this one and track this problem there.

[2015-08-13 14:48] #2888 closed

[2015-08-13 14:51] rohan-bajaj commented on #3076
I haven't been able to fix it. Was it fixed on staging? The problem seems to be the text it self. If you decrease the box size so that it fits perfectly in a shrunk browser the text would need to be shrunk to so that might just lead to a complaint about font size... It isn't a problem if the screen is full.

[2015-08-13 14:52] GaryKriebel commented on #3157
@erinmayhood ... this will require discussion/decision on UI.

[2015-08-13 14:52] lbanner commented on #3076
OK -- since we are cleaning up some things in GH issues, I am going to close this for now. Thanks!

[2015-08-13 14:52] #3076 closed

[2015-08-13 15:03] nanchen47 commented on #2958
This problem has been fixed.

[2015-08-13 15:03] #2958 closed

[2015-08-13 15:11] nanchen47 commented on #2968
Can't repo this problem. Close this one for now. Please reopen it if it comes up again.

[2015-08-13 15:11] #2968 closed

[2015-08-13 15:12] caneruguz commented on #4031
@lbanner The task for designers would be to look into the sign up form when all or some of the error messages are present and suggest changes to their design that should fit this situation. One solution is to push the background down as well or change the size.

[2015-08-13 15:13] nanchen47 commented on #2980
According to @chrisseto, this should be fixed. If this comes up again, reopen this.

[2015-08-13 15:16] #3875 closed

[2015-08-13 15:24] caneruguz commented on #4039
@lbanner I'll do this, it should be a quick fix

[2015-08-13 15:32] samanehsan commented on #897
Comment panes will be added to all files and wiki pages in PR #2534, and there will be an interface for viewing all of the comments across the project.

[2015-08-13 15:39] samanehsan commented on #287
This can be closed after #2534 is merged since it changes the comment pane UI to remove the blue tab. Instead, the conversation bubble will appear in the project navigation bar:
![screen shot 2015-08-13 at 11 38 47 am](https://cloud.githubusercontent.com/assets/6414394/9254145/edda1e00-41af-11e5-83be-d08e25f66575.png)

[2015-08-13 16:10] nanchen47 commented on #3138
Same issue as https://github.com/CenterForOpenScience/osf.io/issues/2536. Continue tracking of this issue there.

[2015-08-13 16:10] #3138 closed

[2015-08-13 16:20] nicipfeiffer commented on #2845
@caneruguz done.  And I just checked and I can still reproduce this.

[2015-08-13 17:27] caneruguz commented on #3677
@jlcohoon @lbanner
So the finalized task I think is this:
- In small windows (XS view) make the project menu expand and push the content lower instead of being fixed. (Which means users will need to scroll to the top)

This is what it would look like
![nav_push](https://cloud.githubusercontent.com/assets/1314003/9256649/bc9bee68-41be-11e5-8b95-f3e66b8a0011.gif)

@erinmayhood is this something we s

[2015-08-13 17:38] lbanner commented on #3677
That's good!

[2015-08-13 17:45] jlcohoon commented on #3677
I think this is wonderful!

On Thu, Aug 13, 2015 at 1:38 PM, LarryB <notifications@github.com> wrote:

[2015-08-13 17:52] nanchen47 commented on #3351
Included in https://github.com/CenterForOpenScience/osf.io/issues/620. Close this one and keep tracking issue there.

[2015-08-13 17:52] #3351 closed

[2015-08-13 18:06] nanchen47 commented on #3366
Verified with @jlcohoon, this bug is gone.

[2015-08-13 18:06] #3366 closed

[2015-08-13 18:06] nanchen47 commented on #229
Talked with @jlcohoon , this is no longer needed.

[2015-08-13 18:06] #229 closed

[2015-08-13 18:08] nanchen47 commented on #3369
This pr has been merged and deployed on production.

[2015-08-13 18:20] samanehsan commented on #3369
@nanchen47, this PR is merged but it is still being tested and will go out in the next release.

[2015-08-13 18:22] sloria opened #4044 "[API] /nodes/ endpoint returns 500 when a node has system tags"
### Steps

1. Add a system tag to a node (can be any string). This can be done "manually" in the shell.
2. Visit `/v2/nodes/`

### Traceback

![attributeerror_at__v2_nodes_](https://cloud.githubusercontent.com/assets/2379650/9257947/acecd8f8-41c6-11e5-879b-a21b5c532ddb.png)

It looks like system tags being serialized incorrectly. They should be serialized as a list of strings.

[2015-08-13 18:32] nanchen47 commented on #3419
Based on the discussion above, close this one.

[2015-08-13 18:32] #3419 closed

[2015-08-13 18:32] nanchen47 commented on #3878
Based on the discussion above, close this one.

[2015-08-13 18:32] #3878 closed

[2015-08-13 18:43] brianjgeiger commented on #4044
Well, we'll have to fix that, then. I wonder if system tags are stored differently than user tags, or if we did the serialization differently for each. Whoever gets this, Test Driven would be the way to go about fixing it.

[2015-08-13 18:56] mfraezz commented on #3951
Some citation styles have different text styling (**bold**, *italic*, etc.). These aren't supported in `.txt` files. I'll have to figure out exactly what's going on first, but the cleanest solution that comes to mind would be sending the already formatted text (the html I received has the right style tags for APA) to the MFR's unoconv extension, and having it export back an `.rtf` or `.pdf`, or po

[2015-08-13 19:26] mfraezz commented on #3157
@GaryKriebel, 100 for Zotero (or 500 for Mendeley) is only the max number of returned items *per request*. It wouldn't require much to keep sending requests with a different starting index until all the items had been returned, but depending on the total number of items a user has, this could either break folderPicker or dramatically slow the UI response time.

[2015-08-13 19:34] alexschiller opened #4047 "View-Only Links name field allows unlimited input"
<h3>Steps</h3>
1. Make an new view only link
2. Paste as much text as you want into the name field.
![screen shot 2015-08-13 at 3 24 36 pm](https://cloud.githubusercontent.com/assets/1322421/9259649/9b10879c-41d0-11e5-886d-5ec47bd95641.png)

<h3>Expected</h3>
Limited input like on other Title fields (e.g., Project/Component titles).

[2015-08-13 19:35] chennan47 commented on #4047
The question will be how many characters will be reasonable. @jlcohoon

[2015-08-13 19:41] haoyuchen1992 commented on #4032
I will make a PR for this issue.

[2015-08-13 19:46] jinluyuan commented on #4047
This is a duplicate of https://github.com/CenterForOpenScience/osf.io/issues/4034

[2015-08-13 19:51] alexschiller commented on #4047
I'll close, thanks, didn't see that one when I searched

[2015-08-13 19:51] #4047 closed

[2015-08-13 19:53] nanchen47 commented on #3580
This looks more like a desired behavior to provide user with options to edit .rtf file directly on OSF. Thoughts? @GaryKriebel @lbanner

[2015-08-13 20:05] alexschiller opened #4049 "View Only links sanitization inconsistent between initial naming and editing"
<h3>Steps</h3>
Two weird versions:
Version 1:
Action: Create a new view only link with the name: <blarg
Output: name: \&lt;blarg
Action: Edit the view only link by clicking on the name and call it: <blarg
Output: name: <blarg

Version 2:
Action: Create a new view only link with the name: <!blarg
Output: name: Empty (in red)

Action: Edit a name to be: <!blarg
Output: name: <!blarg

<h3>Expected</h

[2015-08-13 20:16] nanchen47 commented on #3703
@haoyuchen1992 what's the status on this one?

[2015-08-13 20:20] nanchen47 commented on #3708
Can't repo this problem anymore. If this happens again, please reopen it.

[2015-08-13 20:20] #3708 closed

[2015-08-13 20:24] GaryKriebel commented on #3157
@mfraezz I was thinking that there would have to be pagination in the returning sets.

Slowing the response time, I have no problem with... a user with 1,000 folders should expect it might take some time to load those folders.

Breaking the folder picker is certainly a different thing, though.

[2015-08-13 20:25] GaryKriebel commented on #3951
@mfraezz seems to have a logical solution to this.

[2015-08-13 20:34] sloria opened #4051 "[API] Gravatar has hardcoded size"
As an API user, I wouldn't expect any additional parameters to be added to the gravatar URL.

![django_rest_framework](https://cloud.githubusercontent.com/assets/2379650/9260988/1a9b0bba-41d9-11e5-9ed0-f129cf41e46e.png)

Requirements:
1) v2 serializer uses profile_image_url instead of gravatar_url because we may not always use gravatar;
2) modify the user view to accept a query parameter to set th

[2015-08-13 20:38] jinluyuan commented on #3951
@mfraezz I think an `.rtf` would be appropriate since people will want to copy and paste from the document. A `.pdf` would have some accessibility issues.

[2015-08-13 20:41] nanchen47 commented on #3793
Same issue as #3778 . Close this one in favor of that.

[2015-08-13 20:41] #3793 closed

[2015-08-13 20:46] haoyuchen1992 commented on #3703
@nanchen47 Oh, I almost forget about this one. Because it isn't assigned to me. Can you assign it to me now? Thanks!

[2015-08-13 20:49] mfraezz commented on #3951
Okay. I'm not terribly familiar with MFR's use of `unoconv`, but I know that is a possibility of the third-party `unoconv` library. It may require minor adjustments to the MFR first, which I'll begin investigating.

[2015-08-13 20:49] nanchen47 commented on #3840
@ZobairAlijan is this covered in https://github.com/CenterForOpenScience/osf.io/pull/3816?

[2015-08-13 20:51] ZobairAlijan commented on #3840
No, It is separate.

[2015-08-13 20:52] jinluyuan commented on #3789
I noticed that this is an even bigger issue when visiting a wiki to which the user does not have write access. The collapsed wiki menu is empty and looks like a bug.

![screen shot 2015-08-13 at 4 48 03 pm](https://cloud.githubusercontent.com/assets/8591162/9261343/3fadd124-41db-11e5-8d80-8fdbc1e38a62.png)

It would be best if the collapsed wiki menu didn't have all the extra gray space at all. Fo

[2015-08-13 20:52] mfraezz commented on #3157
The most likely way of it 'breaking' would be the browser noticing that it's taking a long time, and giving one of those `Unresponsive Script` warnings that you've probably seen before. I'm not even certain that this would happen for anything other than a very large set (~50,000+ items). An easy way to avoid this would be capping the number of possible requests at some value at or less than 20 (~2

[2015-08-13 20:56] nanchen47 commented on #3872
@haoyuchen1992 any update on this one?

[2015-08-13 20:56] haoyuchen1992 commented on #3978
@sloria I just check the  issue. I think it has been solved.

[2015-08-13 20:57] WillBanner opened #4052 "[Staging and Production] [Chrome] Scroll Bar overlaps navigation strip"
# Steps
1. Go to staging.osf.io and log in.
2. On the dashboard, add a bunch of collections/ projects. This is just so that you have the ability to scroll through the project browser.
3. Scroll all the way down to the bottom of the list of projects/collections on the project browser.
4. Scroll down on the page itself (not on the project browser) so that the navigation strip at the top is covering

[2015-08-13 20:58] mfraezz commented on #3157
One possibility would be loading about 500 items, then having a `Load More` link at the bottom that triggers another (up to) 5 requests.

[2015-08-13 20:59] nanchen47 commented on #3928
@Johnetordoff any update on this one?

[2015-08-13 21:18] haoyuchen1992 commented on #3872
@chennan47  I had discussed with @sloria. And We decided to defer this issue. And the details is commented in the trello [card mentioned aboved](https://trello.com/c/GL7NB99k/31-configure-notifications-and-configure-commenting-are-not-highlighted-upon-click).

Basically, the cause is the side effect of adding affix-bottom. Here is the code  link--https://github.com/CenterForOpenScience/osf.io/comm

[2015-08-13 21:49] nanchen47 commented on #3948
@NatashaRichter can you verify if this has been fixed on production?

[2015-08-13 22:52] chennan47 commented on #3645
this is fixed by https://github.com/CenterForOpenScience/osf.io/pull/4053

[2015-08-13 23:02] #3978 closed

[2015-08-14 05:07] nanchen47 commented on #4035
When developing view-only link field, this situation has been taken into consideration. The name field of view-only link is more like a description which admins are used to distinguish the purpose of one view-only link from another. Although we can't trust user, but it won't make sense in real like for a single English word to be that long. Thoughts? @lbanner @GaryKriebel

[2015-08-14 12:32] nicipfeiffer opened #4054 "When downloading a file with Script tags the file name is different"
Reported on the Markup Safe 3 board
## Steps
1. Upload a file to OSF storage named `<script> alert('hello, world')</script>`
2. Click on the file name to go to the file detail page
3. Click the download button to download the file in your browser
4. Notice the file name and compare to the name entered on the OSF

## Expected
I would expect to see the same character in both places

## Actual
In the

[2015-08-14 12:50] nicipfeiffer opened #4055 "Files Tab - Search for file with angle brackets yields JS error"
Reported on the Markup Safe 3 board by @NatashaRichter

## Steps

1. Log in to osf.io.
2. Head to the Files Tab and on the files grid, click to search.
3. Search for a file name (that does not exist) contained in angle brackets, like: <i>QA is awesome!</i> or <script> alert('hello, world')</script>
4. Open up your JS console and notice the results of the search.
5. Rename a file in Google Drive <s

[2015-08-14 12:53] nicipfeiffer opened #4056 "View-only link names display escaped HTML characters: & < >"
Reported on the Markup Safe 3 board by @jinluyuan
# Steps
1. Go to the Sharing page of any of your projects
2. Click the Add button for View-only links
3. Name your link with the characters `& < >`

![](https://trello-attachments.s3.amazonaws.com/55c2395a385f787cf2c86df6/600x479/d4df4f875c63aef8f8f2bd2426ebdfad/Screen_Shot_2015-08-05_at_12.27.31_PM.png)

# Expected behavior
I expected that under t

[2015-08-14 13:00] abought commented on #4049
Can you update the bug report to be sure that the characters you typed display correctly?

Our sanitizer (bleach) HTML-escapes ASCII entities (and unicode-converts unicode entities), so what is stored in the database is sometimes different than what you typed in. This may be part of that same family of bugs, but seeing the actual snippets typed in would be helpful.

[2015-08-14 13:17] #4001 closed

[2015-08-14 13:37] alexschiller commented on #4049
Updated to fix github rendering the coded version properly...

[2015-08-14 13:46] caneruguz commented on #4052
@WillBanner I can't replicate this with the instructions given. Can you check again? If it is still a problem we may need more instructions for duplicating.

[2015-08-14 13:50] #4032 closed

[2015-08-14 13:50] caneruguz commented on #1004
So I'm trying to remove as many issues as can be done and this one is not really a bug but it's related to redesign. Also some changes have been made in staging that address issues of header title continuty and navigation current item being higlighted. In other words I think we should close this from the issue tracker and move it to somewhere else as ideas to be developed into a proposal later for

[2015-08-14 13:53] #4039 closed

[2015-08-14 13:55] nicipfeiffer opened #4058 "Project descriptions field: cannot use > or <"
Reported on the Markup Safe 3 board by @jinluyuan

## Steps
1. Go a project on osf.io that you are an admin on
2. On the project overview page, click on the project description to edit
3. In the edit text field, enter `<ch&nge>`
4. Also enter, `&lt;&gt;&amp;`
![screenshot 2015-08-14 09 53 31](https://cloud.githubusercontent.com/assets/9381062/9275327/5fddbbbe-426a-11e5-880f-afb5c4bf5b3b.png)

5. S

[2015-08-14 13:59] mfraezz commented on #1669
This issue is no longer accurate; at next release, users will be able to upload via click, but drag and drop still won't work.

[2015-08-14 14:43] samanehsan commented on #1004
Sounds good to me @caneruguz!

[2015-08-14 14:48] haoyuchen1992 commented on #1250
@nanchen47 I just tested staging for uploading file on Safari 7 (on https://saucelabs.com). It works!!

[2015-08-14 14:49] brianjgeiger commented on #4051
We had a brief discussion on this issue, and it's leading to the following proposed changes:
1) v2 serializer uses profile_image_url instead of gravatar_url because we may not always use gravatar;
2) modify the user view to accept a query parameter to set the profile_image_size.

By default, it will still return a specified size.

[2015-08-14 14:52] #3645 closed

[2015-08-14 15:07] #3480 closed

[2015-08-14 15:12] caneruguz commented on #1233
I made some enhancements which are now in staging. Part of the changes include calling Cancel button Discard changes. There is also better navigation between profile information and profile edit pages as they now link to each other. So I recommend closing this issue.

[2015-08-14 15:13] caneruguz commented on #1259
@nanchen47 can you remove the ready tag from this?

[2015-08-14 15:16] caneruguz commented on #1414
We have found icons that work for some of our metaphors and the icons are in production. I think overall custom icon font is a good idea but not for the short term. I would keep this idea in the backburner but remove it from the issue tracker. Thoughts?

In any case this should not have a Ready tag but rather discuss. If we went for this task we would still need to clarify which icons.

@lyndsysim

[2015-08-14 15:18] brianjgeiger commented on #1414
That's fine. Though we could take the first step of converting all the icons we currently use into a custom font, so it would reduce the amount of data transfer and get us ready to add icons easily. That being said, this is not a huge priority, it just gives us better flexibility down the line.

[2015-08-14 15:22] sloria commented on #4051
Perhaps we remove it altogether from the response model? After all, it is derived data--the client can compute the gravatar URL given the user's username.

[2015-08-14 15:23] brianjgeiger commented on #4051
No, you need an email address to get the gravatar, which we don't provide. We need an API method to get the url.

[2015-08-14 15:29] sloria commented on #4051
Oh ok, then including it in the response is fine.

[2015-08-14 15:33] caneruguz commented on #2100
@ticklemepierce can you send an update on this? What is your plan to resolve it?

[2015-08-14 15:42] lbanner commented on #2100
@caneruguz ... @ticklemepierce has moved on from his internship. We'll need to reassign. Thanks.

[2015-08-14 15:44] lbanner commented on #1414
OK ... removed 'ready' and ping: @erinmayhood for possible Epic task consideration. TY.

[2015-08-14 15:50] lbanner commented on #1233
I buy it -- Done!

[2015-08-14 15:50] #1233 closed

[2015-08-14 15:52] lbanner commented on #1669
Alright @mfraezz -- we'll close with the release of #4021 and, as needed, create a new issue for drag & drop. Thanks.

[2015-08-14 16:01] #3611 closed

[2015-08-14 16:11] lbanner commented on #1004
Onboard --

[2015-08-14 16:11] #1004 closed

[2015-08-14 16:40] lbanner commented on #4035
@WillBanner  --  will it wrap, or how does it look, given @nanchen47's case above ^^, for a lot of text in the field i.e. a sentence structure but not a single long string?

[2015-08-14 16:45] lbanner commented on #3580
There should be an edit pane for RTF files, I think (?) But @nicipfeiffer are you suggesting that in this case, displaying RTF, using the edit function does not work?

[2015-08-14 17:02] caneruguz commented on #2154
@nanchen47 @lbanner a PR for this is sent so it is pending review.

[2015-08-14 17:27] nicipfeiffer commented on #2980
@nanchen47 Let's reopen this issue as I have see this today and @sloria is looking into it too.

[2015-08-14 17:28] chrisseto commented on #2980
@nicipfeiffer Does this still involve dataverse?

[2015-08-14 17:32] nicipfeiffer commented on #3580
@lbanner I am really just asking that since this is a Rich text formatted file (similar to gdocs and word docs) that the edit pane isn't helpful to users.  For .txt files and the like the edit pane is useful as there is not formatting within the edit pane, but for this .rtf file there is lots of formatting language instead of editable text.

[2015-08-14 17:33] nicipfeiffer commented on #2980
@chrisseto Yes, the projects that have dataverse are currently giving 500 errors and not loading the files tree.

[2015-08-14 17:49] GaryKriebel commented on #1690
The functionality has been changed and the files no longer come back into the user's directory after uploading a "new" version of the "deleted" file.

[2015-08-14 17:49] #1690 closed

[2015-08-14 17:56] lbanner commented on #3580
I get ya -- OK -- I'm going to relabel as 'enhancement' as @nanchen47 has noted, as, technically, this is working as required.

[2015-08-14 18:05] nanchen47 commented on #795
Talked with @brianjgeiger , This problem is solved.

[2015-08-14 18:05] #795 closed

[2015-08-14 18:08] abought commented on #4058
#4 is the expected behavior: If you entered `&lt;&gt;&amp;`, then it should display as written. If it rendered differently (as `<>&`), that would indicate that the text you entered was being treated as code. We do not want that.

#3 is more problematic. In a local test, it wasn't "escaped" (rendered as inert text)- rather, the sanitizer removed the parts of your input that looked like HTML. Since

[2015-08-14 18:10] nanchen47 commented on #2456
Verified with @fabianvf , this is fixed.

[2015-08-14 18:10] #2456 closed

[2015-08-14 18:17] nanchen47 commented on #2364
Talked with @chrisseto , this should no longer be a problem. If it happens again, please reopen it.

[2015-08-14 18:17] #2364 closed

[2015-08-14 18:24] caileyfitz commented on #3948
@nanchen47 I checked on production, and it looks fixed!

[2015-08-14 18:28] jinluyuan commented on #4058
## Clarification
[Trello card](https://trello.com/c/Fs5P5IEk/36-project-descriptions-field-edit-vs-display-show-different-text)

The original card described this issue like this:

@nicipfeiffer's comment shows successful replication of the bug:

@abought's comment provides explanation to the behavior above

## The problem
Essentially, the issue is that before this release, if a user inputted angle

[2015-08-14 18:30] #445 closed

[2015-08-14 18:35] WillBanner commented on #4052
@caneruguz This is only replicable on chrome on macs, so that could be the issue? I can still replicate the problem. I've edited the steps so that they might make more sense? I hope that helps!

[2015-08-14 18:37] chennan47 commented on #3505
Url should have placehold required

[2015-08-14 18:38] abought commented on #4058
The text is a literal depiction of how the data is stored in the database and will remain an issue so long as we use bleach in the current form as our sanitizer. That said, I do recognize that for abstracts, these symbols have value.

We have had problems in the past with `&lt;` and `&gt;` being unescaped in the display layer, so while we can special case ampersands, `<` and `>` are much trickier

[2015-08-14 19:06] WillBanner commented on #4035
@lbanner @nanchen47 An actual sentence will wrap, however the reason I'm bringing this up, as it is a very minor issue, is because, in both safari and chrome, if a stream of text without spaces is put in for the name, the text will wrap, but this is not the case in Firefox or, as I recently discovered, IE.

[2015-08-14 19:10] nanchen47 commented on #3948
Thanks @caileyfitz

[2015-08-14 19:10] #3948 closed

[2015-08-14 19:24] GaryKriebel commented on #530
This is being addressed with the following PRs:
https://github.com/CenterForOpenScience/osf.io/pull/2652
https://github.com/CenterForOpenScience/osf.io/pull/2624

[2015-08-14 19:25] jinluyuan opened #4067 "OSF Meetings page displaying escaped ampersands for project titles"
### Steps
1. Go to osf.io
2. Go to the Meetings page (Browse > Meetings)
3. Go to a meeting that contains projects with ampersands in the title, such as [Inclusive Astronomy 2015 Posters & Talks](https://osf.io/view/IA2015/) or [SPSP 2014 Posters & Talks](https://osf.io/view/spsp2014/).

### Expected behavior
I expected that the ampersand in project titles on the OSF Meetings page would match the

[2015-08-14 19:32] GaryKriebel commented on #710
The PR for this issue is: https://github.com/CenterForOpenScience/osf.io/pull/3320

[2015-08-14 19:51] jinluyuan opened #4068 "OSF Meetings table's scrollbar causes contents to be misaligned with column labels"
### Steps
1. Go to osf.io/meetings
2. Go to a meeting that has more than 17 submissions (the maximum height of the table)
3. In the meeting's table of contents, notice the alignment of the contents with the column labels

### Expected behavior
I expected the contents to align vertically with the column labels. This is the behavior when viewing a project with 17 or less submissions.

[APS 2015](htt

[2015-08-14 19:56] sloria opened #4069 "Go/nogo for release 0.46.0"
Changelog: https://github.com/CenterForOpenScience/osf.io/blob/develop/CHANGELOG
Trello: https://trello.com/b/avpiaMVj/0-46

@JeffSpies @nicipfeiffer @lbanner @GaryKriebel

[2015-08-14 19:57] sloria commented on #4069
Note for deployment: Ensure that treebeard and osf-style packages are updated

[2015-08-14 19:58] sloria commented on #4069
Note for deployment: New email notification task was added; make sure celery is restarted

[2015-08-14 19:59] lbanner commented on #4069
I am a "GO" on this one, barring any last minute QA concerns. I'd propose Sunday eve/night? Monday early AM? Too bold? :smiling_imp:

[2015-08-14 19:59] sloria commented on #4069
also pinging @erinmayhood for go/nogo response

[2015-08-14 20:00] GaryKriebel commented on #4068
This page may be updated shortly.  Good to keep in mind when that work is merged.

[2015-08-14 20:03] nicipfeiffer commented on #4069
@sloria Also, should we change throttling back to the 24 hour period and not the 10 minutes we set it to for staging?

[2015-08-14 20:58] erinmayhood commented on #4069
Yes, if QA clears

[2015-08-14 22:05] icereval commented on #2149
Fixed with MFR [hotfix/0.3.9](https://github.com/CenterForOpenScience/modular-file-renderer/commit/fb4c52efa7223fc2d5cc968316e313357d7b8165) and Dockerfile [build](https://github.com/CenterForOpenScience/docker-library/commit/0a8eee0e5438af09ef5bb70e95c7867313785a9f).

h/t @mattclark & @mfraezz

[2015-08-14 22:05] #2149 closed

[2015-08-17 13:08] chrisseto commented on #2980
This should be fixed now, one of dataverse's servers was being problematic.

[2015-08-17 13:33] brianjgeiger commented on #4044
Currently leaning towards removing system tags from the API entirely. If I do that, I'll likely collapse the tags structure into a list. Then if we add the system tags back in, they'll be in their own level, rather than in the compound data structure that they are now.

[2015-08-17 14:39] mfraezz commented on #3951
The MFR currently doesn't have the required functionality exposed, any there isn't enough reason to expose it at present. It can all be done with JS if you get the `.rtf` headers correct, which I'm working on

[2015-08-17 14:46] NatashaRichter opened #4072 "Long external link causes project overview page to freeze"
## Steps

1. Log in to osf.io.
2. Enable "External Link."
3. Enter a long link (I entered a link from a search query on the UVA Virgo site).
4. Head to your project overview page after configuring the link.
5. Notice the alert that appears on screen (which is locked, since you must attend to it and cannot click out of it to dismiss it).
6. Try to zoom out (Command and "-").

## Expected behavior

[2015-08-17 14:59] lbanner commented on #4072
Replicated a few times @NatashaRichter ? ... the freezing aspect?

[2015-08-17 15:32] jinluyuan opened #4073 "[Chrome][Safari] SHARE - Incorrect word wrapping in donut graph's hover labels"
Reported by @nicipfeiffer in 0.46 Trello board

## Steps
1. Go to osf.io/share in either Chrome or Safari
2. Type 'results' into the search bar
3. Hover mouse over the provider donut graph

## Expected
The information about the provider and percentage of events in the results returned would display consistently no matter where the mouse is placed on the providers' slice.

Correct appearance (Firef

[2015-08-17 16:32] jinluyuan opened #4074 "SHARE - "Invalid Query" growlbox error with Safari Atom Feed"
Reported on 0.46 Trello board

## Steps
1. Go to osf.io/share
2. Type in a search term
3. Next to the SHARE search bar, click the RSS/atom feed icon (next to the magnifying glass icon)
4. In the modal that appears, click the "Add" button
5. Notice that the page refreshes and a red growlbox error appears
6. Click the sidebar button in your Safari browser (button next to the back < and forward > but

[2015-08-17 16:40] TomHardwicke commented on #3817
@lbanner Sorry for delay responding - yes this is fixed thanks very much guys!

[2015-08-17 16:41] jinluyuan opened #4075 "SHARE - Line graph has inaccurate curves"
Reported by me on the 0.46 Trello board

The line curves dramatically down right before the second 6/15 and curves up right before the first 7/15 despite there not being any actual change in the data values.

![](https://trello-attachments.s3.amazonaws.com/55ce013778b78e7d5b88d3d3/600x187/b714f1217478a462a34ec5ea2bdabf18/Screen_Shot_2015-08-13_at_1.59.33_PM.png)

## Comments
@bdyetton on Aug 14 at

[2015-08-17 16:45] jinluyuan opened #4076 "SHARE - Donut graph percentages are not clearly visible in medium sized window"
## Steps
1. Go to osf.io/share
2. Enter 'results' in the search bar
3. Reduce the browser window size to the size when the donut graph has shrunk, but not moved to "small screen" mode (when the page moves into vertical content)

*Tested in the lastest versions of Safari, Chrome, Firefox, and IE*

## Expected
I would expect that the percentages would be visible or pop out.

## Actual
The percentage

[2015-08-17 16:48] jinluyuan opened #4077 "[IE] SHARE - Some provider icons are only a period"
Reported by me in the 0.46 Trello board

## Steps
1. Go to osf.io/share in the IE 11 (or the latest version of IE)
2. Notice the provider icons
3. Enter a search term to pull up search results
4. In the left column of providers, notice the provider icons

## Expected behavior
I expected that all the icons would render properly

## Actual behavior
![](https://trello-attachments.s3.amazonaws.com/55c

[2015-08-17 17:46] lbanner commented on #3817
Excellent @TomHardwicke -- Hope all is well with you. Thanks.

[2015-08-17 17:46] #3817 closed

[2015-08-17 19:46] NatashaRichter opened #4082 "OSF Storage and add-on icons distorted upon zooming out"
## Steps

1. Log into osf.io.
2. Navigate to one of your projects.
3. On the project overview page, zoom out until the text on your screen is very small. I zoomed out two or three times.
4. Notice the icons for the add-ons and for OSF Storage.

## Expected behavior

I expect the icons to appear normally.

## Actual behavior

The icons are distorted (see screenshots below).

## Note

I see this on

[2015-08-17 21:47] sloria commented on #4069
I'm a go with QA's go.

ping @nicipfeiffer @JeffSpies @GaryKriebel

[2015-08-17 22:28] JeffSpies commented on #4069
Same.

On Monday, August 17, 2015, Steven Loria <notifications@github.com> wrote:

--
Sent from mobile.

[2015-08-17 23:02] nicipfeiffer commented on #4069
I am a GO

On Monday, August 17, 2015, Jeffrey Spies <notifications@github.com> wrote:

[2015-08-18 00:07] lbanner commented on #4069
GO : )

[2015-08-18 02:50] #4069 closed

[2015-08-18 13:46] jlcohoon commented on #3973
@icereval, do you know what the purposes for the two pages are? Are there differences in functionality?

[2015-08-18 13:53] jinluyuan opened #4085 "SHARE - Atom feed displays long JSON search queries instead of the actual term searched"
Reported in the 0.46 Trello board by me

Discussed with @erinspace, and this is an expected change for 0.46. However, it is an unattractive feature and should be changed in the future.

## Steps
1. In osf.io/share, search for a term (in this example, "mountain lion")
2. Click the RSS/Atom feed icon instead of the magnifying glass search icon
3. Add the feed to your RSS/Atom reader
 - In Firefox, t

[2015-08-18 14:03] brianjgeiger opened #4086 "API Validator not complaining if you try to update a read-only field"
Steps
-------
1. Enable all asserts for tests/api_tests/nodes/test_views/test_writing_to_public_field
2. Run the test

Expected
------------
Tests would pass

Actual
--------
The assertion that you would get a 403 when trying to update the public field, which is currently read-only, passes with a 200.

[2015-08-18 14:04] jinluyuan opened #4087 "OSF Search count for SHARE results does not match SHARE page's count"
## Steps
1. Go to osf.io
2. Click the Search icon in the top nav bar
3. Search for any term (in these examples, "fish" and "bio")
4. In the search results, notice the number that appears next to SHARE
5. Click the SHARE tab
6. Below the SHARE search field, notice the "Found ## events" number

## Expected behavior
I expected the OSF search's number for SHARE would match SHARE's own results total. T

[2015-08-18 15:48] jlcohoon opened #4088 "search bar occludes dropdown items"
## Steps
1. Visit the OSF
2. Open the search bar and type something
3. Click on a dropdown menu from the top navigation bar

## Outcome
1. The search bar has a higher z-index than the dropdown, blocking the dropdown from view
![screen shot 2015-08-18 at 11 42 40 am](https://cloud.githubusercontent.com/assets/4965832/9334866/f9350d9e-459e-11e5-89bf-d105eb4f3def.png)

## Expected outcome
1. Dropdown

[2015-08-18 15:51] NatashaRichter opened #4089 "OSF spinner - smaller screen size distorts spinner image"
## Steps

1. Log in to osf.io on Chrome (or Safari) and reduce screen size to 938*815 (inner screen), or so that your outer screen takes up a little over half your screen.
2. Zoom out two or three times.
3. Navigate to one of your projects that has files and citations in the Mendeley and Zotero widgets.
4. Notice the spinners as they load.
5. Click on the "Add Links" button in the Components widge

[2015-08-18 15:53] jlcohoon opened #4090 "osf for meetings breaks lines at awkward place in default window size"
## Steps
1. Open the OSF for Meetings page in your laptop: https://osf.io/meetings/
2. Look at the number of submissions for each conference

## Outcome
1. "Submission(s)" is cut so that the final s is on a new line:
![screen shot 2015-08-18 at 11 42 58 am](https://cloud.githubusercontent.com/assets/4965832/9334986/aa3e35b6-459f-11e5-8826-148cb98ce827.png)

2. The line breaks that way at any windo

[2015-08-18 16:05] jinluyuan commented on #3904
@abought @lbanner This issue also causes URL's to break, and we had not previously realized how that might be a big issue. Just now, I spontaneously happened to go to [this user's profile](https://osf.io/jqxzy/) and click the link to her personal site. However, the link doesn't work because the ampersand has escaped. In the address bar, if you replace the `&amp;` with `&`, then the URL works works

[2015-08-18 16:17] abought commented on #3904
Good catch!

The social fields are a knockout endpoint featuring data as entered into the database. The reason the URL is mangled is here:
https://github.com/abought/osf.io/blob/develop/website/profile/views.py#L614

Basically: we are running a bleach-based sanitizer/escaping function on URLs, rather than just validating the URL fields explicitly.

This is a problem, because:
1. Bleach has side ef

[2015-08-18 17:24] NatashaRichter opened #4091 "Component icons on dashboard distorted upon zooming out"
## Steps

1. Log into osf.io on Chrome.
2. Stay on your dashboard and keep the screen same size the same.
3. Zoom out (cmd and '-') once. The text should still be very readable.
3. Notice the icons in your dashboard.

## Expected behavior

I expect all the icons to render normally, as they do on Safari and Firefox.

## Actual behavior

The left side of the icons is slightly cut off.

## Screenshot

[2015-08-18 17:25] jinluyuan commented on #4090
This happens in Safari, Chrome, and IE.

It is not an issue in Firefox.
![screen shot 2015-08-18 at 1 24 29 pm](https://cloud.githubusercontent.com/assets/8591162/9337288/7a0e5350-45ac-11e5-9fb3-c3fba05402c5.png)

[2015-08-18 17:25] NatashaRichter commented on #4091
Similar to https://github.com/CenterForOpenScience/osf.io/issues/4082

[2015-08-18 17:34] chrisseto commented on #3979
@saradbowman I'm not sure why there is a `file_download` and a `number_download` at all but the discrepancy is because `downloads-total` and `downloads-unique

[2015-08-18 17:53] abought opened #4094 "APIv2: Need ability to disable sanitization for selected fields"
## Description
Currently, any data entered into APIv2/DRF is passed through a round of sanitization. However, bleach has side effects that mangle some values (like URLs) in undesirable ways. ([example](https://github.com/CenterForOpenScience/osf.io/issues/3904#issuecomment-132264166))

There should be a way to disable sanitization on a per-field basis, in addition to the per-model flag we currentl

[2015-08-18 18:57] jinluyuan opened #4095 "[Firefox] "Cross-Origin Request Blocked" error when loading project overview page"
## Steps
1. Sign into osf.io or staging.osf.io in Firefox
2. Open up your console, and keep your eye on it
3. Go to one of your projects
4. Before the files load in the files widget (indicated by spinning arrows icon next to add-on), quickly click to go to another page, like Settings.

## Expected behavior
I expected there not to be an error. Safari and Chrome do not display errors.

## Actual beh

[2015-08-18 19:11] mfraezz commented on #3923
This happens because of an underlying problem with the oauth system for citations (and Dataverse), specifically with the way we're [verifying auth](https://github.com/CenterForOpenScience/osf.io/blob/develop/website/addons/base/__init__.py#L565). We're checking only to see that one or more external accounts are associated with the osf user's account, not if that association is still valid on both

[2015-08-18 20:43] NatashaRichter opened #4096 "SHARE [Safari]: Significant amount of white space under copyright line upon search"
## Steps

1. Navigate to osf.io/share on Safari.
2. Enter a term into the search bar and click the search icon.
3. Scroll all the way down to the bottom of the page.
4. Click "More" at the bottom of the page.
5. Scroll down some more.

## Expected behavior

I expect that I will not be able to scroll past the copyright line at the bottom of the page.

## Actual behavior

I can scroll way past the c

[2015-08-19 02:20] saradbowman opened #4097 "Different formatting of project description logged in vs. logged out"
Steps
-------
1. Edit a project description to have a list of items:
![screen shot 2015-08-18 at 10 17 40 pm](https://cloud.githubusercontent.com/assets/7749914/9347399/fe99b50c-45f6-11e5-83d3-d3bca9f6c246.png)
2. Save the list and see it formatted as a list:
![screen shot 2015-08-18 at 10 18 17 pm](https://cloud.githubusercontent.com/assets/7749914/9347411/11aca2f8-45f7-11e5-885c-95e34bdbb55a.png

[2015-08-19 12:47] bnosek opened #4098 "Reset Password: Minor text fix"
User forgot password.  The present phrasing could confuse them.  It should say "New Password" and "Verify New Password".

![screen shot 2015-08-19 at 8 46 11 am](https://cloud.githubusercontent.com/assets/1761504/9356471/d743f8fc-464e-11e5-86c5-91bfc1b6b6f1.png)

[2015-08-19 12:47] nicipfeiffer commented on #2575
@lbanner @GaryKriebel @chrisseto This seems like something worth revisiting with the File Quota work, especially considering a use case where there is a big difference in file size of pink2.pdf and pink3.pdf.

[2015-08-19 12:51] lbanner commented on #2575
Agree @nicipfeiffer

[2015-08-19 13:24] chrisseto commented on #2575
Versions have not behaved like this for quite a while now.
When a file is deleted it's versions are are no longer resurrected when any file with the same name is uploaded to the same project.
![screen shot 2015-08-19 at 09 20 37](https://cloud.githubusercontent.com/assets/5532905/9357266/08a3da02-4654-11e5-83c5-1c6f5e6ef44f.png)
![versions](https://cloud.githubusercontent.com/assets/5532905/935726

[2015-08-19 13:31] GaryKriebel commented on #2575
@chrisseto is correct that deleted files no longer come back.  Therefore, I am closing this issue.

[2015-08-19 13:31] #2575 closed

[2015-08-19 13:38] NatashaRichter opened #4099 "Change case in "Add Links" modal spinner"
## Steps

1. Log into osf.io.
2. Navigate to one of your projects.
3. Click on the "Add Links" button in the Components widget.
4. Search for a common letter, like "A."
5. As results load, notice the spinner.

## Expected behavior

I expect the spinner to use sentence case, as every other spinner on the OSF does (I checked the other ones).

## Actual behavior

The spinner uses title case.

## Scre

[2015-08-19 13:49] nicipfeiffer opened #4100 "[Enhancement] Ability to rename a file on the File Detail page"
## Steps
1. Go to an editable file in a project that you are an admin on (.md, .txt, etc)
2. On the file detail page, click to edit the file
3. Now suppose you decide that the name of the file no longer pertains because of the edits made to the content
4. Click on the name of the file that you can see on the file detail page

## Expected
I would expect that I can edit the name of the file, as I ca

[2015-08-19 13:49] GaryKriebel commented on #4090
This page is currently being reworked and may be fixed with the updates.

[2015-08-19 13:54] chrisseto commented on #4054
We can't do anything about this. Waterbutler sends back the correct content disposition, used to name the file, but it is up to the OS and Browser to give the file an actual name on disk.

![screen shot 2015-08-19 at 09 47 58](https://cloud.githubusercontent.com/assets/5532905/9357998/eabbd8ec-4657-11e5-964b-2e2f1abe946a.png)
Note the above decodes to `attachment; filename="<script> alert('hello,

[2015-08-19 13:56] #4054 closed

[2015-08-19 14:00] chrisseto commented on #3979
As for projects the value is skewed because its counting registrations as well as (folders created via project organizer)[https://github.com/CenterForOpenScience/osf.io/blob/750125e9cbaaf51ca55938ab1380166e133801d8/scripts/analytics/benchmarks.py#L172].

[2015-08-19 14:02] chrisseto commented on #3979
As for projects the script is counting registrations as well as unregistered projects.
![screen shot 2015-08-19 at 10 02 03](https://cloud.githubusercontent.com/assets/5532905/9358327/5fdc8008-4659-11e5-85fb-ac5fb3112003.png)
What do you think is the correct behavior @saradbowman?

[2015-08-19 14:05] abought opened #4101 "APIv2 Serializers should support validation on compound fields"
## Summary
Currently, some APIv2 serializers convert compound fields to simple lists and dictionaries. This makes it difficult to document what the fields in the dictionary should be, and impossible to control input validation or sanitization per-entry (eg for URLs).

This will become more problematic once we introduce the ability to *edit* these fields (eg user data).

A PR exists demonstrating s

[2015-08-19 14:06] chrisseto commented on #226
Looks like the url is getting parsed incorrect and the file name is being interpreted as `<actual filename>/version/1/`.

[2015-08-19 14:11] jinluyuan opened #4102 "MFR only displays first sheet of spreadsheets"
## Steps
1. Go to this project [file](https://osf.io/4vjxa/) (or upload your own spreadsheet with multiple sheets)
2. Notice that the MFR only displays the first sheet
3. Download the file and open it
4. Notice that all of data is on the second sheet

## Expected behavior
I expected that the MFR would display all of the file. This is important for cases when the data is on the second page, like in

[2015-08-19 14:12] jlcohoon opened #4103 "unconfigured add-ons display widget to non-contributors"
from community: https://github.com/CenterForOpenScience/community/issues/193

## Steps
1. Visit a public project you have admin rights on
2. Connect Mendeley as an add-on via the project's settings
3. Do not configure Mendeley
4. Visit the project overview
5. Open an incognito tab and visit the project

(example here: https://osf.io/ag5tn/)

## Outcome
1. Unconfigured add-ons show a widget below t

[2015-08-19 14:15] GaryKriebel commented on #4102
@icereval, do you know if MFR was designed to handle multiple sheets of a spreadsheet?

[2015-08-19 14:15] NatashaRichter opened #4104 "[Project Settings] Add period to statement under "Configure Project""
## Description

When you go to your project settings from a top-level project, the user sees the following statement under "Configure Project" at the top: "A top-level project's category cannot be changed"

The statement needs a period, since it is not a warning. That statements below it all have periods.

## Screenshot

![statement_needs_period](https://cloud.githubusercontent.com/assets/7093086/

[2015-08-19 14:17] jinluyuan commented on #4102
@GaryKriebel @icereval If handling multiple sheets is too difficult, then it would be nice to have an alert above the MFR that says "Download file to view all sheets". The current setup makes the user (or maybe just me) think there's something wrong with the file.

[2015-08-19 14:24] jlcohoon commented on #3170
As a note, the emails to registered contributors do send a link to the project. Only unregistered users do not get a link to the project. As mentioned above, a view-only link could be a good solution to ensure that they can view the contents if it is private.

[2015-08-19 14:27] caneruguz commented on #4019
@lbanner I think this is merged and also released with 0.46

[2015-08-19 14:28] #4019 closed

[2015-08-19 14:37] chrisseto commented on #226
@rubenarslan did https://osf.io/3bqw7/version/1/ ever resolve properly?
It seems that when file GUIDs, the `osf.io/<someid>/` format, were introduced support for `/version/1/` was dropped and we started specifying versions as query parameters, `?version=1`.
The correct url would be https://osf.io/3bqw7/?version=1 or the long/legacy version `https://osf.io/<projectid>/osffiles/<filename>/version/1/

[2015-08-19 14:40] jlcohoon opened #4105 "change "statistics" button to read "analytics""
from the community repo: https://github.com/CenterForOpenScience/community/issues/317

Users frequently ask if the "Statistics" page is where they put their results/code. This could be clarified by using a more common word for the information stored on the page—"Analytics." Because we do not want to change the URLS, we should just change what the button reads. This would mean URLS should still rea

[2015-08-19 14:45] jlcohoon opened #4106 "Indicate who saved each version of a wiki"
from the Community repo: https://github.com/CenterForOpenScience/community/issues/318

## Steps

1. Visit a wiki page with multiple versions
2. Open the dropdown on the view or compare panels

## Outcome

1. Versions are listed
2. No indication of who saved each version is given

![screen shot 2015-08-19 at 10 44 08 am](https://cloud.githubusercontent.com/assets/4965832/9359463/40ceb446-465f-11e5-

[2015-08-19 14:49] GaryKriebel commented on #4105
@JeffSpies, based on https://github.com/CenterForOpenScience/community/issues/317#issuecomment-128041857, would you rather just change the tab name or change the url as well (with /statistics redirecting)?

[2015-08-19 14:53] jinluyuan commented on #4105
I think if we rename it to Analytics, the link in the menu should be moved to be last, behind Forks but before Settings, since it is not a part of the actual project's work, and it could be confused with the "analysis" part of the research process. The statistics/analytics link is currently in the middle, which is also where analysis would be in a research project.

[2015-08-19 14:54] GaryKriebel commented on #4106
@erinmayhood - input on the UI?

[2015-08-19 14:57] chennan47 commented on #4105
@GaryKriebel If this is what we want, we will need to change both the tab name and make the url change. Moreover, we need to keep the original url and make it redirect to the new url.

[2015-08-19 14:59] GaryKriebel commented on #4105
@chennan47 ... yes .... exactly ... just asking Jeff if we should simply change the tab name or go all the way with the tab/url/redirect (1 change vs. 3)

[2015-08-19 15:27] lbanner commented on #2980
@nicipfeiffer can you confirm fix here? Is this same issue we are presently dealing with? Thanks -

[2015-08-19 15:29] chrisseto commented on #2980
Original issue(s) were fixed. Dealing with a new one now but same symptoms.

[2015-08-19 15:41] rubenarslan commented on #226
Yeah it did, but honestly it was so long ago, I can hardly remember (it was just what one of my legacy URL was supposed to redirect to). Just wanted to point it out, since I created the issue.

[2015-08-19 16:39] jinluyuan opened #4109 "[Small screen] Incorrect title header for Sharing page"
## Steps
1. Sign into osf.io
2. Go to one of your projects
3. Visit each page and notice that there are no header titles
4. Make your window smaller
5. Visit each page and notice that there ARE header titles for every page except Wiki

## Expected behavior
In a small window, I expected that the header of the Sharing page would be "Sharing" since all the other pages have headers that match the name

[2015-08-19 17:46] chrisseto commented on #3698
@NatashaRichter fixed via https://github.com/CenterForOpenScience/waterbutler/commit/97d48c027b09e657ba0ece8ecc1c35ed93dff020

[2015-08-19 18:37] jinluyuan opened #4114 "Landing page does not display navigation bar properly (search & sign-in) when resizing"
## Steps
1. Go to osf.io as a logged-out user
2. Make your window full screen
3. Visually locate the embedded video and registration fields (now referred to as "the objects")
3. Make the window narrower and STOP when you notice the objects have gotten smaller
4. Now increase the window width until the objects are normal sized again
5. Notice that you can't access the Sign In button or search butto

[2015-08-19 18:39] jinluyuan commented on #4114
Fixed by https://github.com/CenterForOpenScience/osf.io/pull/4113

[2015-08-19 18:39] #4114 closed

[2015-08-19 19:22] #3705 closed

[2015-08-19 19:53] caneruguz commented on #4088
@jlcohoon should it not ideally close the search bar?

[2015-08-19 19:54] jlcohoon opened #4118 "No success alert shown after creating fork"
## Steps
1. Visit a public project
2. Visit the project's forks page
3. Click "New Fork"

## Outcome
1. The user is brought to their new project titled "Fork of _______"
2. No success alert is shown

## Expected Outcome
1. Because the project and its fork are likely to be very similar looking, additional visual cues should be given to show the user that they are in their new fork of the project. A

[2015-08-19 19:55] GaryKriebel commented on #4088
That is what I was thinking.

[2015-08-19 19:55] caneruguz commented on #3689
Now that we have a plugin for expanding view it might be a good idea to try to implement it on these uses as well. I can take a look at this one @lbanner

[2015-08-19 19:56] jlcohoon commented on #4088
Yep, that makes more sense.

[2015-08-19 20:33] jinluyuan opened #4122 "[Small screen] Landing page's sign in fields are not responsive to window size"
## Steps
1. Go to osf.io as a logged out user
2. Make your window small enough, so the page goes into small screen mode
3. Click the Sign In button

## Expected behavior
I expected that the sign in fields and Log In button would be responsive to the size of the window, which was the case pre-0.45 release (or around that time).

![bb2db912-255d-11e5-9a03-a2d51414ea30](https://cloud.githubuserconten

[2015-08-20 04:39] JeffSpies commented on #4105
Let's hold on this; @erinmayhood should keep this in mind as she looks at
project dashboard navigation.

On Wed, Aug 19, 2015 at 10:59 AM, Gary Kriebel <notifications@github.com>
wrote:

[2015-08-20 13:09] caneruguz commented on #4122
The PR for this issue was merged: https://github.com/CenterForOpenScience/osf.io/pull/4115

[2015-08-20 13:26] caneruguz commented on #4109
@sloria does the route need to change as well?

![screen shot 2015-08-20 at 9 25 43 am](https://cloud.githubusercontent.com/assets/1314003/9384278/7477191e-471d-11e5-9281-030a33121d90.png)

[2015-08-20 13:37] lbanner commented on #3689
Done!

[2015-08-20 13:41] sloria commented on #4109
Let's not change the route for now; it's possible that the name of that page may be changed in the near future.

For now, it's fine to just change the header to be consistent.

[2015-08-20 13:43] caneruguz commented on #4109
Okay I'm sending a quick hotfix for three issues that are very minor.

[2015-08-20 13:45] #3044 closed

[2015-08-20 14:18] #4099 closed

[2015-08-20 14:18] #4104 closed

[2015-08-20 14:18] #4109 closed

[2015-08-20 15:16] chrisseto commented on #4095
Does this actually affect how the site loads at all?
It looks like this is just a side effect of how firefox handled canceled CORs requests.

[2015-08-20 17:37] billyhunt commented on #4086
It seems this is a "feature" of Django Rest Framework.  https://github.com/CenterForOpenScience/osf.io/issues/4086

I looked over the JSON API Spec and found no mention of a process for PATCH and PUT with read only fields.

[2015-08-20 17:38] brianjgeiger commented on #4086
Okay, then could you submit a PR to take out the commented-out assert.

[2015-08-20 17:39] billyhunt commented on #4086
Oh yeah!  :100: :turtle:

[2015-08-20 22:02] jinluyuan commented on #4095
@chrisseto I have noticed that on the files page and overview page, the CORS error correlates with the files not loading (e.g. Red text "OSF Storage *couldn't load*")

[2015-08-21 11:46] caileyfitz opened #4137 "Icons not centered for information and x buttons"
In the project organizer, both the information and the x button (visible after clicking to rename a collection or project) have uncentered icon text:

![screen shot 2015-08-21 at 7 45 11 am](https://cloud.githubusercontent.com/assets/5975444/9407582/940aa12c-47d8-11e5-9e13-0d182e6f6007.png)

![info icon not centered](https://cloud.githubusercontent.com/assets/5975444/9407572/7def6102-47d8-11e5-879

[2015-08-21 11:50] caileyfitz opened #4138 "Button should say "Add" instead of "Save" when adding contributor to a project with no children"
# Steps
1. Go to a project for which there are no children components
2. Go to the Sharing tab
3. Click to add a contributor
4. Search for a user and press the plus sign to add them to the project
5. Read the button text at the bottom of the modal

# Expected
I expect that there would be two buttons: a gray button with the text "Cancel" and a green button with the text "Add"

# Actual
The gray Can

[2015-08-21 11:51] caileyfitz commented on #2326
I am also still seeing that the graph shows negative events:
![share graph](https://cloud.githubusercontent.com/assets/5975444/9407675/7c5de97a-47d9-11e5-821a-f26fb7742938.png)

[2015-08-21 11:55] caileyfitz opened #4139 "Inadequate spacing for project overview buttons on small screen"
# Steps
1. Navigate to a project's overview page
2. Locate the buttons on the top right of the screen
3. Reduce the width of the page until the buttons stack on top of each other
4. Notice the spacing for buttons when they overflow onto two lines

# Expected
I expect that the spacing in between buttons when they overflow onto two lines would be consistent with the spacing in between buttons on the

[2015-08-21 12:01] caileyfitz opened #4140 "Extra spacing beneath private figshare registration message"
# Steps
1. On either production or staging, go to a project for which you have admin access
2. Go to the project settings
3. Enable figshare and connect a private (non-published) figshare account
4. Register the project
5. In the modal that appears warning that there is private figshare content, notice the spacing in the modal

# Expected
I expect that there would be equal spacing both above and b

[2015-08-21 12:06] caileyfitz opened #4141 "Loophole for project contributor notifications"
I discovered a potential loophole for notifications when a user is added as a project contributor. Currently, if a user is added as a contributor to a project and then later added as a contributor to a component for that project, they will **not** get an email informing them that they have been added as a contributor to the component because they are already a contributor on the parent project. Th

[2015-08-21 13:56] sloria commented on #2686
The following also applies to the "Public / Private" setting; I would expect this could be done on the Settings page as well.

I'll update the issue title accordingly.

[2015-08-21 14:19] sloria commented on #3944
The suggested order change will be in effect in https://github.com/CenterForOpenScience/osf.io/pull/3397. See https://github.com/CenterForOpenScience/osf.io/pull/3397#issuecomment-133438729

[2015-08-21 14:25] bnosek commented on #4141
Good issue to raise.  My perspective is that preventing this is not a
priority because it isn't easy to see use cases where the nefarious action
would be performed.  In addition, the component project will still show up
in the users dashboard, so they can discover it (like present
functionality) - they just aren't notified.

I do think that it will be worth adding notification for being removed fr

[2015-08-21 14:37] caileyfitz commented on #4141
:+1: @bnosek

[2015-08-21 15:20] erinmayhood commented on #1244
@sloria can this be closed?

[2015-08-21 15:21] erinmayhood commented on #1247
@sloria can this be closed?

[2015-08-21 15:22] erinmayhood commented on #1250
@sloria can this be closed?

[2015-08-21 15:25] sloria commented on #1244
I lean towards keeping this open; the original issues described above are still present.

[2015-08-21 15:27] sloria commented on #1247
Yes

[2015-08-21 15:27] #1247 closed

[2015-08-21 15:54] chennan47 commented on #1250
@erinmayhood The fix only solves the uploading file part. However the drag and drop function still doesn't work. I will change the title of the issue.

[2015-08-21 16:07] caileyfitz commented on #1250
@nanchen47 I have Safari 7.0.6 and I am still having the issue with drag and drop

[2015-08-21 16:14] chennan47 commented on #1156
Talked with @lyndsysimon , this guid leads to a user which has never been created, has no nodes created and no contribution on any project. The url is hit by google bot, not sure where they get the reference. At this point I think we should just remove this guid.

[2015-08-21 16:15] chennan47 commented on #1250
@caileyfitz Thanks for the tests. With that said, this issue should remain open.

[2015-08-21 16:22] caileyfitz commented on #1250
@nanchen47 no problem - sorry for the delay!

[2015-08-21 16:50] JeffSpies commented on #1156
How do we know it's a user then?

[2015-08-21 17:32] samanehsan commented on #4141
I agree with Brian :+1:  In a later iteration, we might want to include links to the components in the email so that we do not rely on the user being able to see the components when they visit the project. But for now, since this seems like it isn't a common use case I think it does not need to be addressed immediately.

[2015-08-21 17:39] chennan47 commented on #1156
@JeffSpies Checked on the database, the guid showed it's a user.

[2015-08-21 18:33] caileyfitz commented on #2541
@lbanner @GaryKriebel This has regressed. I am seeing a Delete button on the files detail page for my published Dataverse files. I think we need to reopen this.

[2015-08-21 18:34] lbanner commented on #2541
Ugh - got it.

[2015-08-21 18:34] lbanner commented on #2541
@caileyfitz can you have a QA team member replicate to verify? Thanks.

[2015-08-21 18:53] NatashaRichter opened #4145 "Option to "Delete Multiple" from published Dataverse appears in files widget"
**Tested on staging and production on demo Dataverse accounts.**

Related to: https://github.com/CenterForOpenScience/osf.io/issues/2541

## Steps

1. Go to a project with dataverse configured (published version).
2. Head to your project overview page and click to select a file in the published version.
3. Look at the toolbar above.
4. Now click to select multiple files in the published version.
5

[2015-08-21 19:07] nanchen47 commented on #1399
As the latest changes done to S3 addon, this is no longer an issue.
![screen shot 2015-08-21 at 3 06 55 pm](https://cloud.githubusercontent.com/assets/11743657/9416908/4ba62382-4816-11e5-88e0-f7a666f57eae.png)

[2015-08-21 19:07] #1399 closed

[2015-08-21 19:08] nanchen47 commented on #995
@caileyfitz has verified that this is no longer an issue on production.

[2015-08-21 19:08] #995 closed

[2015-08-21 19:14] nicipfeiffer commented on #2541
@lbanner and @caileyfitz I am also seeing the delete button on the files detail page.
![screenshot 2015-08-21 15 14 05](https://cloud.githubusercontent.com/assets/9381062/9417062/54a942a6-4817-11e5-8838-07b58ba79f2a.png)

[2015-08-24 13:11] haoyuchen1992 commented on #4089
This may be resolved by Caner's PR -- https://github.com/CenterForOpenScience/osf.io/pull/4083

[2015-08-24 14:36] lbanner commented on #4089
I'll tag 'pending review' until #4083 is merged and tested -

[2015-08-24 14:44] mfraezz commented on #500
SlickGrid, the UI component we’re using for tabular data, is sortable by default (ascending / descending based on column). Clicking the column header toggles sorting, so half of this is already done. Slickgrid hasn’t been maintained for two years, but apparently has support for “Grouping, filtering, custom aggregators, and more!”, which sounds a lot like searching. However, we’re not currently tak

[2015-08-24 14:45] mfraezz commented on #4102
@GaryKriebel It was not designed with this in mind. I'll work on this enhancement

[2015-08-24 15:01] haoyuchen1992 commented on #3907
@lbanner  I just tested the message, which has been changed.

[2015-08-24 15:07] lbanner commented on #3907
:+1:

[2015-08-24 15:07] #3907 closed

[2015-08-24 15:55] brianjgeiger opened #4154 "API V2 Node Children returning deleted children"
Steps
-------
1. Create a child node to a node
2. Delete the just created child node
3. List the child nodes for the original node

Expected
------------
The child node would not show in the list

Actual
--------
It does show in the list

Probably the best thing to do would be to add a conditional in the list comprehension for the view to remove nodes that are deleted. Alternately, modify the meth

[2015-08-24 17:40] erinmayhood commented on #3698
@NatashaRichter can you verify this has been fixed and close if so?

[2015-08-24 18:10] erinmayhood commented on #3972
@NatashaRichter can you see if this has been resolved and if so, close?

[2015-08-24 18:13] nicipfeiffer commented on #3698
@erinmayhood This is currently in the 0.47 release as a hotfix.  (https://trello.com/c/b48zfyPF/41-fix-double-log-problem-with-github)
QA has done 2 passes and it looks to be fixed. @lbanner Can you close?

[2015-08-24 18:14] erinmayhood commented on #3973
@caneruguz can you consider these pages as you work on: https://openscience.atlassian.net/browse/OSF-4148? As we add login pages from target sources we should make sure to have the consistency issues existing here cleaned up.

@caneruguz I'd love a very specific list of changes you would recommend here so we can make assignments.

[2015-08-24 18:43] #4044 closed

[2015-08-24 19:08] caneruguz commented on #3973
@erinmayhood having an external login complicates things significantly for us. I think we need a functionality review before I can make suggestions about concrete tasks. Preferably to answer these questions?

- Is our authentication system (CAS) built to be invisible in terms of UI and just provide backend support? If that's the case why are we sent to its login page?
- Why is CAS not handling for

[2015-08-24 19:58] wisherp opened #4159 "Search bar overlaps the sign-in field and is missing a close button when logged out"
# Steps
1. Go to osf.io
2. Log out if already logged in
3. Click on search
4. Search for anything, for example 'Science'
5. Now click on Sign In button at the top

# Expected
The sign in field appears on top of the search bar so that the user could log in. Also the search bar should have a 'x' next to the '?' to close it.

# Actual
 The search bar is missing an 'x' and also overlaps the sign in fi

[2015-08-24 20:07] sloria commented on #710
@erinmayhood  Would you mind reviewing this? Is this still a feature we want?

[2015-08-25 12:55] NatashaRichter commented on #3972
Looks good now!

[2015-08-25 12:56] #3972 closed

[2015-08-25 13:07] haoyuchen1992 commented on #4159
I can look at it, Thanks!

[2015-08-25 13:39] lbanner commented on #3698
OK ... looked to be rooted in the Staging server in any case - Thanks.

[2015-08-25 13:39] #3698 closed

[2015-08-25 13:54] lbanner commented on #4159
You got it!

[2015-08-25 13:58] nanchen47 commented on #280
Will be considered when we do a full refactor of the file pages.

[2015-08-25 13:58] #280 closed

[2015-08-25 14:01] nanchen47 commented on #368
Will be considered based on the feed back from users.

[2015-08-25 14:01] #368 closed

[2015-08-25 14:04] caneruguz commented on #4159
Thanks to @haoyuchen1992 who came to talk to me about this before we went further with this issue.

The overlapping issue is already open in this one: https://github.com/CenterForOpenScience/osf.io/issues/4088
I think it's a complete duplicate since 4088 covers the real more general problem that the sign in drowdown is part of.

The second issue of the X is intentional. We did it this way with @br

[2015-08-25 14:05] nanchen47 commented on #369
Will be considered when we refactoring the email system.

[2015-08-25 14:05] #369 closed

[2015-08-25 14:06] lbanner commented on #4159
Good analysis -- and much appreciated!

[2015-08-25 14:06] #4159 closed

[2015-08-25 14:06] nanchen47 commented on #371
Will be considered based on user's feedback on the new comment system when it's on production.

[2015-08-25 14:06] #371 closed

[2015-08-25 14:09] nanchen47 commented on #386
Will be worked on when we refactor the project modal.

[2015-08-25 14:09] #386 closed

[2015-08-25 14:11] nanchen47 commented on #430
Will be considered based on user's feed back.

[2015-08-25 14:11] #430 closed

[2015-08-25 14:16] nanchen47 commented on #435
Will be considered when we refactor the project modal.

[2015-08-25 14:16] #435 closed

[2015-08-25 14:17] nanchen47 commented on #473
OSF always provide unlimited storage space for users.

[2015-08-25 14:17] #473 closed

[2015-08-25 14:22] haoyuchen1992 commented on #4137
Pending review tag could be added here.

[2015-08-25 14:22] haoyuchen1992 commented on #4138
Pending review tag could be added here.

[2015-08-25 14:22] nanchen47 commented on #483
Will be worked on when we enhance the view-only link.

[2015-08-25 14:22] #483 closed

[2015-08-25 14:23] nanchen47 commented on #514
Will be considered when we update the project structure.

[2015-08-25 14:23] #514 closed

[2015-08-25 14:24] nanchen47 commented on #530
Will be fixed by the spam assassin. Close for now.

[2015-08-25 14:24] #530 closed

[2015-08-25 14:28] nanchen47 commented on #597
Will be considered when we refactor the email system. Thanks.

[2015-08-25 14:28] #597 closed

[2015-08-25 14:29] nanchen47 commented on #599
Will be worked on when we refine the log system.

[2015-08-25 14:29] #599 closed

[2015-08-25 14:31] nanchen47 commented on #620
There is no way for us to catch those information unless a change is made from addon provider. Thanks.

[2015-08-25 14:31] #620 closed

[2015-08-25 14:32] nanchen47 commented on #624
This is an expected behavior. It will be considered when we enhance wiki system. Thanks.

[2015-08-25 14:32] #624 closed

[2015-08-25 14:33] nanchen47 commented on #628
This is an expected behavior. Will consider an enhancement when we update view-only link. Thanks.

[2015-08-25 14:33] #628 closed

[2015-08-25 14:35] nanchen47 commented on #634
Will be worked on when we refactor the warning system. Thanks.

[2015-08-25 14:35] #634 closed

[2015-08-25 14:38] #4154 closed

[2015-08-25 14:41] #3822 closed

[2015-08-25 14:41] #3565 closed

[2015-08-25 14:42] #3551 closed

[2015-08-25 14:43] #3854 closed

[2015-08-25 14:44] brianjgeiger commented on #3552
I think we're going to keep the swagger docs, but we're going to make them more generally useful by modifying the layount and allowing us to add more context around the docs.

[2015-08-25 14:44] #3552 closed

[2015-08-25 14:45] #3330 closed

[2015-08-25 14:45] nanchen47 commented on #675
Will be consider when we enhance the contributor system. Thanks.

[2015-08-25 14:45] #675 closed

[2015-08-25 14:47] nanchen47 commented on #676
Will be consider in enhancing piwik. Thanks.

[2015-08-25 14:47] #676 closed

[2015-08-25 14:52] brianjgeiger commented on #4007
@pattisdr Does this still happen in your JSON API Branch?

[2015-08-25 14:52] nanchen47 commented on #710
The pr is done for this problem. Waiting on merge.

[2015-08-25 14:55] nanchen47 commented on #711
Will be consider when we enhance the project organizer. Thanks.

[2015-08-25 14:55] #711 closed

[2015-08-25 14:59] pattisdr commented on #4007
Yes, links is still using "LinksField" and I haven't made any changes there.

[2015-08-25 14:59] nanchen47 commented on #741
Will be consider when we enhance the interface. Thanks.

[2015-08-25 14:59] #741 closed

[2015-08-25 15:01] nanchen47 commented on #743
Will be worked on with the treebeard enhancement.

[2015-08-25 15:01] #743 closed

[2015-08-25 15:14] brianjgeiger commented on #3308
Fixed by #4093

[2015-08-25 15:14] #3308 closed

[2015-08-25 15:15] nanchen47 commented on #808
Will be considered when enhance view-only link. Thanks.

[2015-08-25 15:15] #808 closed

[2015-08-25 15:22] brianjgeiger commented on #4007
Okay. Poking around just a bit, I expect this is a django-rest-swagger thing rather than a DRF thing, but I'm not positive.

[2015-08-25 15:28] felliott opened #4164 "install rabbitmq missing from the setup task"
`invoke setup` doesn't install rabbitmq via brew

[2015-08-25 15:31] lbanner commented on #4164
@sloria The above for 'OSF Setup'

[2015-08-25 16:05] nanchen47 commented on #874
Will be considered based on user's feedback.

[2015-08-25 16:05] #874 closed

[2015-08-25 16:11] nanchen47 commented on #885
Will be considered in later enhancement. Thanks.

[2015-08-25 16:11] #885 closed

[2015-08-25 16:13] nicipfeiffer opened #4167 "Wiki rename flashes modal that wiki has moved"
## Steps
1. Go to a project you are an admin on
2. Go to the the wiki tab
3. Create a new wiki
4. On the new wiki, click on the name of the wiki in the upper left above the wiki menu
5. Edit or rename the wiki
6. Click to save the edit
7. Look at the screen

## Expected
I would expect the rename to be saved, nothing flashing on the screen

## Actual
After saving the edits to the wiki name, there i

[2015-08-25 16:14] nanchen47 commented on #906
Will be considered in the interface refactor. Thanks.

[2015-08-25 16:14] #906 closed

[2015-08-25 16:17] nanchen47 commented on #1414
Will be considered in later enhancement.

[2015-08-25 16:17] #1414 closed

[2015-08-25 16:19] nanchen47 commented on #1087
Will be solved in the piwik enhancement. Thanks.

[2015-08-25 16:19] #1087 closed

[2015-08-25 16:20] nanchen47 commented on #1127
Will be considered in later enhancement. Thanks.

[2015-08-25 16:20] #1127 closed

[2015-08-25 17:44] nanchen47 commented on #1166
Will be considered in future enhancements. Thanks.

[2015-08-25 17:44] #1166 closed

[2015-08-25 17:46] nanchen47 commented on #1332
Same issue as 2954. Continue discussion there.

[2015-08-25 17:46] #1332 closed

[2015-08-25 17:48] nanchen47 commented on #1338
Will be considered when it comes with the chance to refactor the whole website.

[2015-08-25 17:48] #1338 closed

[2015-08-25 18:00] nanchen47 commented on #1390
Will be considered when we enhance the search function. Thanks.

[2015-08-25 18:00] #1390 closed

[2015-08-25 18:01] nanchen47 commented on #1532
Will be considered when refactoring the registration page interface.

[2015-08-25 18:01] #1532 closed

[2015-08-25 18:04] chennan47 opened #4168 "On boarding Drag and Drop doesn't work in IE and Safari"
The file uploads' drag and drop function doesn't work in IE and Safari. related issues: https://github.com/CenterForOpenScience/osf.io/issues/1669
https://github.com/CenterForOpenScience/osf.io/issues/1250

[2015-08-25 18:05] nanchen47 commented on #1250
Close this one since the title and description is out of date. Continue tracking the rest of the problem in https://github.com/CenterForOpenScience/osf.io/issues/4168

[2015-08-25 18:05] #1250 closed

[2015-08-25 18:06] nanchen47 commented on #1669
Close this one since the title and description is out of date. Continue tracking the rest of the problem in #4168

[2015-08-25 18:06] #1669 closed

[2015-08-25 18:08] nanchen47 commented on #1687
Will be worked on when we redesign the dashboard page.

[2015-08-25 18:08] #1687 closed

[2015-08-25 18:09] nanchen47 commented on #1746
Will be considered when update the profile pages.

[2015-08-25 18:09] #1746 closed

[2015-08-25 18:12] nanchen47 commented on #2020
Will be considered in later MFR development. Thanks.

[2015-08-25 18:12] #2020 closed

[2015-08-25 18:13] nanchen47 commented on #2031
Will be worked on when refine the user settings page.

[2015-08-25 18:13] #2031 closed

[2015-08-25 18:14] nanchen47 commented on #2088
Will be considered based on further user's feedback. Thanks.

[2015-08-25 18:14] #2088 closed

[2015-08-25 18:16] nanchen47 commented on #2220
Will be considered when refine the meetings page.

[2015-08-25 18:16] #2220 closed

[2015-08-25 18:18] nanchen47 commented on #2332
Will be addressed in @bdyetton 's search page ui update.

[2015-08-25 18:18] #2332 closed

[2015-08-25 18:25] nanchen47 commented on #2542
Will be considered in later dataverse addon refactor. Thanks.

[2015-08-25 18:25] #2542 closed

[2015-08-25 18:27] brianjgeiger commented on #4007
On the other hand, when you get the options for the nodes/{nid} endpoint, it returns a type for each field. So it's something in the DRF, and I expect it's somewhere in the magic of how it interacts with the database rather than in the serializer, per se.

[2015-08-25 18:27] #2720 closed

[2015-08-25 18:29] nanchen47 commented on #2774
Will be considered when we enhance treebeard.

[2015-08-25 18:29] #2774 closed

[2015-08-25 18:34] nanchen47 commented on #2848
Will be considered later when the obstacle it solved.

[2015-08-25 18:34] #2848 closed

[2015-08-25 18:37] nanchen47 commented on #2849
Will be considered later when the obstacle it solved.

[2015-08-25 18:37] #2849 closed

[2015-08-25 18:50] haoyuchen1992 commented on #4067
I just went to the example projects, such as Inclusive [Astronomy 2015 Posters & Talks](https://osf.io/view/IA2015/) or [SPSP 2014 Posters & Talks](https://osf.io/view/spsp2014/).  The special characters were rendered well. Can anyone check it again? @lbanner @GaryKriebel

[2015-08-25 18:51] nanchen47 commented on #2861
Will be considered in later pagination enhancement. Thanks.

[2015-08-25 18:51] #2861 closed

[2015-08-25 18:53] nanchen47 commented on #2882
Will be considered in later pagination enhancement. Thanks.

[2015-08-25 18:53] #2882 closed

[2015-08-25 18:59] haoyuchen1992 commented on #4088
So for this one, the ideal solution is to hidden the search bar when the dropdown menu downs, right?  If Yes, I can work on it. Thanks!

[2015-08-25 19:08] nanchen47 commented on #2913
Will be considered in on boarding refactor.

[2015-08-25 19:08] #2913 closed

[2015-08-25 19:10] haoyuchen1992 commented on #4088
Update: But for the search page, the search bar can't be hidden.
![screenshot 2015-08-25 15 09 15](https://cloud.githubusercontent.com/assets/5420789/9476574/5a70fdba-4b3b-11e5-9e46-46adcace583c.png)

[2015-08-25 19:13] nanchen47 commented on #2927
Will be considered in future analysis enhancement.

[2015-08-25 19:13] #2927 closed

[2015-08-25 19:13] lyndsysimon commented on #568
Yarik:

We're in the process of re-organizing our list of issues, and after review, I don't believe this one is actionable at the moment.

I completely understand and appreciate your concerned - and for that matter, share it - but as Josh mentioned above we unfortunately have no way to address it right now. Because of this, I'm going to go ahead and close out this Issue.

One potential workaround

[2015-08-25 19:13] #568 closed

[2015-08-25 19:15] lyndsysimon commented on #1510
Citations are available on the OSF now in a variety of formats, BibTeX included. Closing this issue as complete :)

[2015-08-25 19:15] #1510 closed

[2015-08-25 19:17] nanchen47 commented on #2979
Will be considered in future profile page enhancement. Thanks.

[2015-08-25 19:17] #2979 closed

[2015-08-25 19:19] pattisdr commented on #4007
If I change date_created in the NodeSerializer, for example, from a DateTimeField to a CharField, the field type says `string` instead of `datetime`.  So it makes me feel like it's getting it from the serializer field type.

![screen shot 2015-08-25 at 3 17 24 pm](https://cloud.githubusercontent.com/assets/9755598/9476729/519f910a-4b3c-11e5-9d69-b737cf1be56a.png)

![screen shot 2015-08-25 at 3 17

[2015-08-25 19:20] nanchen47 commented on #3022
Will be considered in file pages enhancement.

[2015-08-25 19:20] #3022 closed

[2015-08-25 19:23] nanchen47 commented on #3231
Will be considered in later enhancement. Thanks.

[2015-08-25 19:23] #3231 closed

[2015-08-25 19:25] NatashaRichter opened #4171 "Small Screen: Permissions drop-down text breaks in middle of word"
## Steps

1. Navigate to one of your projects that has many contributors.
2. Head to the sharing tab.
3. Make the screen smaller.
4. Notice the text in the Permissions drop-down as you make the screen smaller.

## Expected behavior

I expect the permission type to remain on one line.

## Actual behavior

The word is broken up onto two lines. Long contributor names are also broken up across two lin

[2015-08-25 19:26] nanchen47 commented on #3345
@pdurbin Thanks very much for your suggestions. We will consider your opinion when we refine homepage. You are very welcome to provide further suggestions. Thanks again.

[2015-08-25 19:26] #3345 closed

[2015-08-25 19:29] nanchen47 commented on #3375
Will be considered when refine the warning system.

[2015-08-25 19:29] #3375 closed

[2015-08-25 19:32] nanchen47 commented on #3414
Will be considered based on user's feed back on the new comment panel when it's on production. Thanks.

[2015-08-25 19:32] #3414 closed

[2015-08-25 19:33] nanchen47 commented on #3514
Will be consider based on more user's feedback.

[2015-08-25 19:33] #3514 closed

[2015-08-25 19:36] nanchen47 commented on #3580
Will be considered on future file page edit enhancements. Thanks.

[2015-08-25 19:36] #3580 closed

[2015-08-25 19:44] nanchen47 commented on #3591
Will be considered based on further report of the same issue. Thanks.

[2015-08-25 19:44] NatashaRichter opened #4172 "User Settings: Table cell wrapping breaks up single words across two lines"
*Note: This occurs on normal-size screen width.

## Steps

1. Navigate to your User Settings.
2. Edit your Education, such that your department name is long, like "English Language and Literature".
3. Edit your Employment such that your job title and/or workplace title is long.
4. Head to your public profile page and click on the "Education" and "Employment" tabs.

## Expected behavior

I expect a

[2015-08-25 19:46] nanchen47 commented on #3750
Will be considered when we refactor addons.

[2015-08-25 19:46] #3750 closed

[2015-08-25 19:46] NatashaRichter commented on #4172
Related to #4171, except that this issue occurs on normal-size screens and #4171 occurs only on small screens. @caneruguz, you've asked me to tag you on this, so here it is!

[2015-08-25 19:48] nanchen47 commented on #3778
Will be considered when we refactor S3 addon.

[2015-08-25 19:48] #3778 closed

[2015-08-25 19:49] nanchen47 commented on #3790
Will be considered when refactor dashboard page. Thanks.

[2015-08-25 19:49] #3790 closed

[2015-08-25 19:51] nanchen47 commented on #3794
Will be worked on when we refactor github addon. Thanks.

[2015-08-25 19:51] #3794 closed

[2015-08-25 19:53] samchrisinger commented on #3591
@nanchen47 I believe this issue may be linked to the duplicate email issues we're troubleshooting on the current develop. PR: https://github.com/CenterForOpenScience/osf.io/pull/4170

[2015-08-25 19:53] nanchen47 commented on #3867
Will be considered based on user's feedback. Thanks.

[2015-08-25 19:53] #3867 closed

[2015-08-25 19:58] nanchen47 commented on #3987
Will be considered when refine the file grid.

[2015-08-25 19:58] #3987 closed

[2015-08-26 13:24] lbanner commented on #4067
Looks resolved! Closing ...

[2015-08-26 13:24] #4067 closed

[2015-08-26 13:27] #4138 closed

[2015-08-26 13:45] #4140 closed

[2015-08-26 14:08] brianjgeiger commented on #3049
I expect this is going to be handled with upcoming changes to the files endpoint.

[2015-08-26 14:23] brianjgeiger commented on #3072
Hi, @PatrickEGorman. Have you had a chance to work on this?

[2015-08-26 14:45] sloria opened #4176 "Go/nogo for release 0.47.0"
[Changelog](https://github.com/CenterForOpenScience/osf.io/blob/develop/CHANGELOG)
[Milestone](https://github.com/CenterForOpenScience/osf.io/pulls?q=is%3Apr+milestone%3A0.47.0+is%3Aclosed)

Target release is ~4pm

Deployment considerations:
- Must update python requirements (pyjwt was added as a dependency)
- Must restart celery worker
- Must run cron.py

[2015-08-26 14:45] sloria commented on #4176
@JeffSpies @erinmayhood @lbanner @GaryKriebel @nicipfeiffer

[2015-08-26 14:51] sloria commented on #4176
Update: @samchrisinger is currently working to fix a bug that is causing multiple approval emails to be sent probabilistically for registrations and embargoes. This is not a regression caused by code in this release; Cailey has confirmed that the bug is on production. Therefore, I recommend that we continue to work towards resolving the bug, but it doesn't have to block a 4pm release.

[2015-08-26 15:09] brianjgeiger opened #4177 "API V2 JSON API Extension: Bulk Operations"
The JSON API allows for optional extensions. One of those is a method of doing multiple requests at the same time, such as updating multiple nodes or removing multiple contributors. This feature would allow people to reduce the number of requests they make to the api and ensure that multiple related requests all happen or none do.

http://jsonapi.org/extensions/bulk/

Note that any optional extens

[2015-08-26 15:14] brianjgeiger opened #4178 "API V2 JSON API Extension: JSON PATCH"
The JSON API allows for optional extensions. One of those is a following a standard for how to patch resources with JSON Requests. If we do this, it might be good to have in before we go to production. I have not analyzed to determine the impact of using JSON PATCH nor if it's a good idea, but current belief is that using existing standards is generally a positive move within reason.

http://jsonp

[2015-08-26 16:43] saradbowman opened #4183 "[production] Email address for login is case sensitive"
Steps
-------
1. Login to the OSF using your email/password as you normally enter it
2. Log out of the OSF.
3. Login again, but this time type your email address in all caps, or with some capitalization scheme you did not use in step 1.

Expected
------------
User would be able to login regardless of capitalization

Actual
--------
User receives error message, The email or password you entered is

[2015-08-26 16:52] GaryKriebel commented on #4183
@icereval ... is the fault in CAS or OSF?

[2015-08-26 17:48] JeffSpies commented on #4176
Larry has my Go/No go for this release.

On Wed, Aug 26, 2015 at 10:51 AM, Steven Loria <notifications@github.com>
wrote:

[2015-08-26 18:12] lbanner commented on #4176
As I understand it, potential issue with the Embargoes emails is only remaining blocker. @nicipfeiffer with your GO on that, I am a GO. Thanks.

[2015-08-26 18:16] sloria commented on #4176
I am a go with QA's go.

[2015-08-26 18:19] GaryKriebel commented on #4176
Embargo emails look to be fixed and are being tested now.

[2015-08-26 18:30] nicipfeiffer commented on #4176
A few small bugs remain, so when those are resolved QA is a GO!

[2015-08-26 18:44] icereval commented on #4183
Fixed in https://github.com/CenterForOpenScience/cas-overlay/commit/50153bf6057459ea413bf64891e3f7d8421afb9e

[2015-08-26 18:44] #4183 closed

[2015-08-26 18:47] #4137 closed

[2015-08-26 18:51] #4139 closed

[2015-08-26 19:52] brianjgeiger opened #4189 "API V2 Search"
Ultimately, we're going to want to have a search endpoint that works within API v2 so that all access to functions are v2 and JSON API compliant. There are a lot of ways this could be designed and implemented, so it will require a proposal before any work is started.

[2015-08-26 19:59] nicipfeiffer commented on #4176
Update, registrations are currently failing with a new bug.  I am a No Go until this is resolved.

[2015-08-26 20:08] pattisdr commented on #4007
Under `rest_framework/metadata`, if you tamper with the label_lookup you can change the field types under OPTIONS.  This doesn't change what Swagger docs returns.  Notice that OPTIONS LinksField is `field

![screen shot 2015-08-26 at 4 09 05 pm](https://cloud.githubusercontent.com/assets/9755598/9504783/81c8c196-4c0c-11e5-96b3-09637c0cd117.png)

[2015-08-26 20:10] brianjgeiger commented on #4007
Good work. I would not be surprised to discover that django-rest-swagger has something similar then.

[2015-08-26 20:32] fabianvf commented on #4189
This may also be a good time to rethink/restructure the elasticsearch mappings to make search more useful.

[2015-08-26 20:34] nicipfeiffer commented on #4176
QA is now a GO!  All bugs have been resolved.

[2015-08-26 20:35] lbanner commented on #4176
Let's do this thing!! :rocket:

[2015-08-26 20:40] pattisdr commented on #4007
Oh yes, it's in `rest_framework_swagger/docgenerator.py`, method is `_get_serializer_fields`.  `links` doesn't match any of the scenarios described in the method for determining data_type, so it gets the default: `string`.

[2015-08-26 20:41] brianjgeiger commented on #4007
Does it look like something we can override without doing crazy things?

[2015-08-26 20:50] chrisseto opened #4193 "Profile page scrollspy "jumps" at the top of the page"
# Steps
* Go the the profile
* Scroll to the bottom of the page
* Slowly scroll to the top
* Notice the jump
* Lie down
* Try not to cry
* Cry a lot

![glitch](https://cloud.githubusercontent.com/assets/5532905/9505752/2e6a7926-4c12-11e5-9f76-c78c7db24c1c.gif)

[2015-08-26 20:52] sloria commented on #4176
Released

[2015-08-26 20:52] #4176 closed

[2015-08-26 21:03] brianjgeiger commented on #4101
API v2 Serializers do support custom field-level validators, and there's no reason they couldn't handle compound fields. http://www.django-rest-framework.org/api-guide/serializers/#validation "You can specify custom field-level validation by adding `.validate_<field_name>` methods to your `Serializer` subclass."

Is that sufficient for this issue, @abought? I know that, as we add editing capabilit

[2015-08-26 21:16] abought commented on #4101
Unfortunately, it's not enough that DRF *can* do this- the issue is whether we take advantage of those capabilities. Minimum requirements for resolution include:

1. API behavior is self-documenting, *in our implementation*. The user should never have to submit a "black box" dictionary (such as social fields) whose structure and keys are undocumented. **All** input fields that the API acts on shou

[2015-08-27 00:13] PatrickEGorman commented on #3072
My internet is still a wip so I haven't been online too much.  I also have been wondering if anybody has been tracking my pr's as I completed my node contributors one a couple weeks ago and it has yet to finish review.  Looks like it has some merge conflicts but if you'd be interested in considering it still, I'd like to finish that one first.

[2015-08-27 00:44] brianjgeiger commented on #3072
That just needs merge conflicts aside from review, yes? Go ahead and bring it up to date, but you'll have to do it again soon so feel free to wait on that.

.:Brian J. Geiger
Sent from the phone.

[2015-08-27 00:48] PatrickEGorman commented on #3072
Okay.  I have limited internet access so ping me when it's ready, if you don't mind

[2015-08-27 02:00] erinmayhood commented on #4105
@sloria Please go ahead and change the name of the tab ASAP.

For the next iteration:
The new URL should be /analytics.
We will need a redirect.

Further changes (placement, etc) will wait for an update of navigation.

[2015-08-27 02:14] sloria commented on #4105
The tab name has been changed.

[2015-08-27 13:39] #3689 closed

[2015-08-27 17:52] caileyfitz commented on #4088
Since @haoyuchen1992's PR was merged, should this be fixed? @sloria @lbanner Because I am still seeing things as obscured by the search bar...

![screen shot 2015-08-27 at 11 03 15 am](https://cloud.githubusercontent.com/assets/5975444/9528531/eb5f90ba-4cc2-11e5-91b1-68577eba8ad5.png)

[2015-08-27 18:06] lbanner commented on #4088
Thoughts on this @haoyuchen1992 ?

[2015-08-27 18:55] haoyuchen1992 commented on #4088
@lbanner I have tried to replicated the error on Firefox, Safari, and Chrome. But I couldn't replicate it. on both staging and production. Can you try it again?  Thanks!

[2015-08-27 19:00] lbanner commented on #4088
@caileyfitz ? ^^

[2015-08-27 19:51] brianjgeiger commented on #4101
I don't necessarily agree. For item 1, we need to make sure the documentation is correct and useful. We don't necessarily need to ensure that it self-documents correctly. Trying to do the latter may be more work than is worthwhile, and it may cause extra tension with things like ensuring that reserved fields don't automatically become documented.

Item 2 is not necessarily the job of the API. The

[2015-08-27 20:20] caileyfitz commented on #4088
@lbanner @haoyuchen1992 All looks well now. Was having an issue but now I'm not, even on Firefox.

[2015-08-27 20:26] lbanner commented on #4088
OK!

[2015-08-27 20:26] #4088 closed

[2015-08-27 20:46] #4101 closed

[2015-08-27 20:54] abought commented on #3060
As discussed with @brianjgeiger , the `metadata` field on `NodeFileSerializer` should not be serialized as a dictionary. All fields meant to be presented to the user should be explicitly and individually called out, such as is done with [user social fields](https://github.com/CenterForOpenScience/osf.io/blob/develop/api/users/serializers.py#L24).

This is a safeguard in case sensitive information

[2015-08-27 21:20] #2892 closed

[2015-08-28 03:36] JeffSpies commented on #1156
But you said the user had never been created?

On Fri, Aug 21, 2015 at 1:39 PM, Nan Chen <notifications@github.com> wrote:

[2015-08-28 12:21] chrisseto opened #4201 "Nodes' recent activity has no loading indicator"
# Step
* Go to someone's profile
* Click the chevron on one of their popular nodes
* Wait
* Notice that text randomly pops in after some amount of time
* Lie down
* Try not to cry
* Cry a lot

![noloader](https://cloud.githubusercontent.com/assets/5532905/9546091/c7d80c44-4d5d-11e5-809c-f221820502b4.gif)

[2015-08-28 12:56] chrisseto opened #4202 "Unmatched parens break search"
# Steps
* Go to search
* Search for something
* Throw an unmatched `)` somewhere in the query
* Lie down
* Try not to cry
* Cry a lot

![brokensearch](https://cloud.githubusercontent.com/assets/5532905/9546648/81cb5e7c-4d62-11e5-9ace-1eb5d9b2fa54.gif)

[2015-08-28 13:12] chennan47 commented on #1156
The user doesn't have any logs, nodes or even a user name. It's probably generated during some transition.

[2015-08-28 13:35] chennan47 commented on #4167
I think this is a desired behavior. If the user's internet is slow or under some lag spike, the pop up modal gives user a sense for what's going on. It also block the page to prevent user doing other action when server is handling user's rename wiki request. @erinmayhood any thought?

[2015-08-28 13:37] #1502 closed

[2015-08-28 13:39] JeffSpies commented on #1156
OK, we need to deal with the problematic data, but the guid should not be
re-used.

On Fri, Aug 28, 2015 at 9:12 AM, Nan Chen <notifications@github.com> wrote:

[2015-08-28 13:40] billyhunt opened #4203 "New Users Do Not Show Profile Fields in the API"
Steps
-------
1. Go to https://staging2.osf.io/api/v2/users/qxnjd/ (or any user who has not filled out her profile)
2.  Notice there is no social media fields listed for the user.

Expected
------------

For a user that has not filled out their profile, the social media fields should be listed and blank.

![screen shot 2015-08-28 at 9 39 06 am](https://cloud.githubusercontent.com/assets/6232068/95

[2015-08-28 13:58] sloria opened #4204 "Change "Sharing" to "Contributors""
It is not intuitive that the "Sharing" tab is where you manage contributors.

![osf___realigned_stable_initiative_contributors](https://cloud.githubusercontent.com/assets/2379650/9547863/2073e0b4-4d6b-11e5-8233-53481776554c.png)

It is worth noting that the URL also says "contributors".

The tab text should be changed to "Contributors.

Pinging @erinmayhood for feedback.

[2015-08-28 14:02] sloria commented on #4204
I believe the rationale behind "Sharing" was to be inclusive of the "View-only links" on the page.

The term "sharing", however, is too misleading.

I think it's OK to have "View-only links" on a page titled "Contributors". One possible alternative might be "Collaborators", but I think that's less than ideal.

[2015-08-28 15:06] erinmayhood commented on #4204
@sloria 100% yes on changing the tab from Sharing to Contributors.

I will consider View-only links when looking at refactors but I think making the change as you suggest immediately is good.

[2015-08-28 17:19] #4105 closed

[2015-08-28 18:40] #4204 closed

[2015-08-28 19:00] #4098 closed

[2015-08-31 16:13] sloria opened #4221 "Go/nogo for release 0.48.0"
Changelog: https://github.com/CenterForOpenScience/osf.io/blob/develop/CHANGELOG
Closed PRs: https://github.com/CenterForOpenScience/osf.io/pulls?q=is%3Apr+milestone%3A0.48.0+is%3Aclosed

@JeffSpies @lbanner @GaryKriebel @erinmayhood @nicipfeiffer

[2015-08-31 16:13] sloria commented on #4221
Deployment notes:

- Treebeard needs to be update
- cron.py must be run

[2015-08-31 16:14] JeffSpies commented on #4221
Why the treebeard update? Any implications for QA?

On Mon, Aug 31, 2015 at 12:13 PM, Steven Loria <notifications@github.com>
wrote:

[2015-08-31 16:15] sloria commented on #4221
@JeffSpies The latest version includes fixes necessary for the OSF for meetings page.

[2015-08-31 16:16] JeffSpies commented on #4221
@sloria, implications?

On Mon, Aug 31, 2015 at 12:15 PM, Steven Loria <notifications@github.com>
wrote:

[2015-08-31 16:24] sloria commented on #4221
Nothing outside of normal process; QA is testing the treebeard fixes on staging.

[2015-08-31 18:50] JeffSpies commented on #4221
How about implications for other treebeard widgets?

On Mon, Aug 31, 2015 at 12:24 PM, Steven Loria <notifications@github.com>
wrote:

[2015-08-31 19:04] sloria commented on #4221
The change added a feature to support sorting by date, which only happens on the OSF for meetings page; no other treebeard instances should be affected. Is this correct, @caneruguz?

[2015-08-31 19:08] JeffSpies commented on #4221
I'd like to know that sorting still works for other variable types.

On Mon, Aug 31, 2015 at 3:04 PM, Steven Loria <notifications@github.com>
wrote:

[2015-08-31 19:09] #3374 closed

[2015-08-31 19:13] caneruguz commented on #4221
@JeffSpies I tested that other widgets and sorting is working, I also sent another treebeard update that does better sorting of equal items. I checked locally after that change as well to make sure sorting and other widgets work. It looks fine to me locally so I handed it over to QA.

[2015-08-31 19:14] JeffSpies commented on #4221
OK, QA should do the full check though--like you did--right?

On Mon, Aug 31, 2015 at 3:13 PM, Caner Uguz <notifications@github.com>
wrote:

[2015-08-31 19:14] sloria commented on #4221
@JeffSpies I've notified QA in the card to check different variable types.

[2015-08-31 19:26] JeffSpies commented on #4221
It would also be good to make sure sorting with hierarchical data is still
valid.

On Mon, Aug 31, 2015 at 3:14 PM, Steven Loria <notifications@github.com>
wrote:

[2015-08-31 20:29] samchrisinger commented on #3040
@brianjgeiger @billyhunt

I'm a bit confused about the FilterMixin#is_filterable_field method. What exactly does it do? Looking at this impl.:
[code]
The code seems to say: A field is filterable if it's in the special set of filtered fields, or if its a field of the serializer at all. To me this seems like an implicit condition of the implementation-- if the field is not known by the serializer it

[2015-08-31 20:29] samchrisinger commented on #4189
@brianjgeiger I would be very happy to work on this.

[2015-08-31 21:13] brianjgeiger commented on #3040
The point of filterable_field is to limit the fields that can be used for serialization. If you haven't set a `fliterable_fields` variable, then it defaults to `declared fields`. This way we don't do expensive searches on unindexed fields.

[2015-08-31 21:15] brianjgeiger commented on #3040
(At least, that's what it was intended to do. Reading through, it looks more like what you interpreted, so it may have been changed, or it may have been implemented wrong, or I may be misinterpreting as well.)

[2015-08-31 21:40] lbanner commented on #4221
I am a "GO" here -- long as we get the OK from QA <--- @nicipfeiffer Thanks.

[2015-08-31 21:43] nicipfeiffer commented on #4221
Still need to finish checking a few things...

[2015-08-31 23:58] JeffSpies commented on #4221
Steve, knowing my concerns about treebeard and qa, has my go.

On Mon, Aug 31, 2015 at 5:43 PM, Nicole Pfeiffer <notifications@github.com>
wrote:

[2015-09-01 01:12] nicipfeiffer commented on #4221
Here is where we are at with 3 bugs remaining:
(1) Minor bug about dataverse not showing in user settings on the IE browser https://trello.com/c/DxAZedA2/36-ie-dataverse-not-showing-up-in-user-settings-under-configure-add-ons
(2) Expand/Collapse carets not showing for Mendeley and Zotero add-ons on user settings page https://trello.com/c/c5hO4Spy/23-expand-collapse-ui-missing-for-some-add-ons-in-u

[2015-09-01 01:45] lbanner commented on #4221
:rocket: .... I am good with attending to those in first maintenance sprint ... @GaryKriebel @sloria ?

[2015-09-01 01:57] sloria commented on #4221
Yes, I am a go to release. The issues are very minor and can be addressed as hotfixes.

[2015-09-01 02:04] GaryKriebel commented on #4221
If QA is happy for release. I am as well. We should put the remaining issues in the next sprint.

[2015-09-01 02:15] caneruguz commented on #4221
I would suggest let's not lose steam and fix the issues as hot fixes right away tomorrow. I didn't realize these issues were needing my attention until Larry tapped me on the shoulder today. 0.48 was not on my radar. There has been a lot of work done on these issues today and I think we are close to finalizing them. 

—
Sent from Mailbox

On Mon, Aug 31, 2015 at 10:04 PM, Gary Kriebel <notificatio

[2015-09-01 02:20] lbanner commented on #4221
Top of the list @caneruguz - Thanks. Great work on 0.48.0 all - Great last Epic release.

[2015-09-01 02:24] #4221 closed

[2015-09-02 11:34] erinmayhood commented on #4052
Closing for now - can't replicate.

[2015-09-02 11:34] #4052 closed

[2015-09-03 12:41] erinmayhood commented on #4102
#187 will address the issue. Closing.

[2015-09-03 12:41] #4102 closed

[2015-09-03 12:41] erinmayhood commented on #500
#187 will address the issue. Closing.

[2015-09-03 12:41] #500 closed

[2015-09-03 16:07] erinmayhood commented on #889
@saradbowman I believe we have addressed this with the new onboarding process.

[2015-09-03 16:07] #889 closed

[2015-09-03 18:32] samchrisinger commented on #3543
@lbanner I have a suspicion that this may not be an API issue at all, rather an aspect of the Node#update_node implementation

[2015-09-03 18:34] brianjgeiger commented on #3543
No, you can make the change if you don't use a form field (i.e. with a request that uses a json body)

[2015-09-03 18:38] lbanner commented on #3543
Do we need more clarity here? Let me know -

[2015-09-08 02:41] jinluyuan commented on #4102
The PR fix is in the MFR repo: https://github.com/CenterForOpenScience/modular-file-renderer/pull/187

[2015-09-08 02:42] jinluyuan commented on #500
The PR fix is in the MFR repo: https://github.com/CenterForOpenScience/modular-file-renderer/pull/187

[2015-09-08 19:21] #1365 closed

[2015-09-08 19:54] #2369 closed

[2015-09-08 19:59] #3969 closed

[2015-09-08 21:42] sloria commented on #4086
As @billyhunt said, the lack or errors is by design; here is the relevant thread: https://github.com/tomchristie/django-rest-framework/issues/1655#issuecomment-47097476

[2015-09-08 21:42] #4086 closed

[2015-09-09 20:00] sloria opened #4265 "Go/nogo for release 0.49.0"
PRs: https://github.com/CenterForOpenScience/osf.io/pulls?q=is%3Apr+milestone%3A0.49.0+is%3Aclosed

We are also planning to release #3200 (file notifications); this PR has been on staging for QA but has not been merged into develop just in case we want to release the maintenance PRs without it. I delegate to QA on this.

Ping @JeffSpies @erinmayhood @GaryKriebel @lbanner @nicipfeiffer

[2015-09-09 20:51] GaryKriebel commented on #4265
I'm a go with QA's go.

[2015-09-09 21:01] lbanner commented on #4265
Agreed ... @nicipfeiffer when you are a 'GO' w/ *File Notifications*, I am a GO on that -- Clarity, though, @sloria, on the three additional open PR's:
*API and GUIDs* ... @nicipfeiffer can we move that to done?
*API Show New User Profile Fields* ... I think that should be removed from 0.49.0 as not yet reviewed/QA'd
*Add title/description editing to project settings page* ... this a good-to-go @n

[2015-09-09 21:17] nicipfeiffer commented on #4265
Anything in the Done swimlane I am a GO to release, other things have blockers or need more time in QA.

[2015-09-09 21:56] sloria commented on #4265
@lbanner I've moved the three additional PRs to the 0.50.0 milestone.

[2015-09-09 22:00] sloria commented on #4265
- API and GUIDs will be released in 0.50.0, not this release - Chis is working on speeding up the script
- Lyndsy has a fix for rename logs that will need to go in before file notifications is merged

@nicipfeiffer Is the file notifications feature stable enough that we can release it with the maintenance PRs or should we release it separately?

[2015-09-09 22:15] nicipfeiffer commented on #4265
I would like to test file notifications to confirm all is good after logs are fixed. It's really hard to be confident with notifications not being sent in most cases QA tested. What is the estimate for the log fix?

[2015-09-10 02:15] lbanner commented on #4265
Sounds good on move of PRs + GUIDs to 0.50.0 @sloria - Thanks. Looks like we'll check in on file notifications along w/log fix in the AM.

[2015-09-10 07:31] JeffSpies commented on #4265
Larry, do you mind linking to the rename logs bug? Curious to know
implications.

On Wednesday, September 9, 2015, LarryB <notifications@github.com> wrote:

--
Sent from mobile.

[2015-09-10 14:02] lbanner commented on #4265
Hi Jeff --

This is the blocker ticket in JIRA for the issue:
https://openscience.atlassian.net/browse/OSF-4385

And here is the PR submitted this AM by Lyndsy:
https://github.com/CenterForOpenScience/osf.io/pull/4267

As far as I understand it, Lyndsy was tagged with a solution because an
original PR submitted by him was the root cause. For reference, here is
that PR:
https://github.com/CenterFor

[2015-09-10 14:21] sloria commented on #4265
To clarify: the bug occurred due to an interaction between #3200 (file notifications) and #4244 (rename log actions). This bug was only visible on staging (and not on develop) because I've merged the file notifications and develop branches on staging (so that QA can test both maintenance PRs and file notifications).

I've updated the files-notifications branch with the latest develop, along with L

[2015-09-10 14:22] lbanner commented on #4265
Thank you, Steve.

On Thu, Sep 10, 2015 at 10:21 AM, Steven Loria <notifications@github.com>
wrote:

--
Larry Banner
Technical Project Manager
Center for Open Science <http://centerforopenscience.org/>
210 Ridge McIntire Road, Suite 500
Charlottesville, VA 22903-5803
804.432.9522

-----
"We are such little men when the stars come out" - Hermann Hagedorn, 1882
-----

[2015-09-10 23:13] lbanner commented on #4265
QA cleared the Sprint Board! Thank you @nicipfeiffer ... I am a "GO" here :rocket:

[2015-09-10 23:14] sloria commented on #4265
It looks like @icereval found a potential issue with registrations/archiver interacting with the new code: https://openscience.atlassian.net/browse/OSF-4378 .

[2015-09-11 00:42] sloria commented on #4265
I'm about to put the fix on staging. I am a go as long as QA is a go.

@nicipfeiffer @JeffSpies  @erinmayhood

[2015-09-11 16:28] nicipfeiffer commented on #4265
@sloria  and I looked into the registrations getting stuck in archiving and have isolated the problem to just my dataverse and only on staging. On production, when my dataverse causes the registration to fail the appropriate error email is being sent. Therefore, this is not a blocker to release. Just noting here, that QA will test post release to confirm that the correct failing registration email

[2015-09-11 16:30] sloria commented on #4265
I am a go.

Ping @JeffSpies @erinmayhood

[2015-09-11 16:34] lbanner commented on #4265
:+1:

[2015-09-11 17:25] erinmayhood commented on #4265
I say go.

[2015-09-11 18:37] JeffSpies commented on #4265
If Steve understands the interactions involved with Lyndsy's fix and has
expressed them to QA, he has my go.

On Fri, Sep 11, 2015 at 1:25 PM, Erin Mayhood <notifications@github.com>
wrote:

[2015-09-11 20:11] sloria commented on #4265
Yes, I've reviewed the fix, and QA has re-tested.

0.49.0 is now live

[2015-09-11 20:11] #4265 closed

[2015-09-14 21:22] #3191 closed

[2015-09-15 18:20] AndrewSallans opened #4298 "OSF4M Accepting Submissions doesn't sort"
On this page:  https://osf.io/meetings/

The right column should sort based on the up and down arrows, but doesn't.  I've tried in Chrome and Safari, and the Submissions column will sort as suggested, but the Accepting Submissions column will not.  Please fix.

![screen shot 2015-09-15 at 2 19 44 pm](https://cloud.githubusercontent.com/assets/2151933/9885774/f275ec04-5bb4-11e5-9e80-4cb5aed80814.pn

[2015-09-15 18:22] AndrewSallans commented on #4298
Related to this issue?  https://github.com/CenterForOpenScience/osf.io/pull/4252

[2015-09-17 14:29] GaryKriebel commented on #4167
Closed via https://openscience.atlassian.net/browse/OSF-4225

[2015-09-17 14:29] #4167 closed

[2015-09-17 14:43] #3045 closed

[2015-09-17 14:44] #2412 closed

[2015-09-17 14:44] #2384 closed

[2015-09-17 18:29] GaryKriebel commented on #4201
JIRA ISSUE -> https://openscience.atlassian.net/browse/OSF-4536

[2015-09-17 18:31] GaryKriebel commented on #4193
JIRA ISSUE -> https://openscience.atlassian.net/browse/OSF-4536

[2015-09-17 18:33] GaryKriebel commented on #4202
JIRA ISSUE -> https://openscience.atlassian.net/browse/OSF-4536

[2015-09-17 18:40] GaryKriebel commented on #4298
JIRA ISSUE -> https://openscience.atlassian.net/browse/OSF-4539

[2015-09-23 18:28] #3677 closed

[2015-09-29 13:35] sbt9uc opened #4366 "Wiki Editor Disable Ace Auto Complete OSF-2096"
Purpose
-------
To disable Ace Auto Complete on the Wiki Editor page so that it does not pop up for every character of a new word typed.

Changes
------------
Disabled Live Auto Complete to fix the issue.

Side Effects
--------
Auto Complete no longer automatically appears at all on the wiki editor. It does pop up on 'control'+'return', so it can still be accessed for users who need the feature.

[2015-09-29 13:37] #4366 closed

[2015-10-01 19:27] #2387 closed

[2015-10-02 01:41] mr-c commented on #3060
What is the correct way to upload a file today?

At https://staging-api.osf.io/v2/nodes/wyfvt/files/ I see the the 'upload' field under 'links', but that URL doesn't have documentation.

[2015-10-02 01:47] brianjgeiger commented on #3060
Well, we will have to move that documentation over. If you have a self link on a file, click on that, or go to https://staging-api.osf.io/v2/files/asdfg/ but we will make that more findable.

.:Brian

[2015-10-02 02:36] mr-c commented on #3060
Thanks; I've been able to create a file if I first create a folder via the website. How does one create the first file in a project via the API?

[2015-10-02 19:01] billyhunt commented on #3149
Not sure if its helpful, but I noticed that different urls are failing validation through different paths on the server.  For example, the url

http://<scan>

gives a 400 error and

&lt;/script&gt;&lt;script&gt;alert(“Now I am doing bad stuff”)&lt;/script&gt;

gives a 500 error.

[2015-10-02 19:04] abought commented on #3149
Both of those error messages are server-side... this issue should relate to only what happens in the browser (before the input ever hits the server). I can help you walk through that if needed, but it's probably a separate scope from the one.

[2015-10-04 20:06] brianjgeiger commented on #3060
Should work the same way; go to the /nodes/files link and it will list your providers. Each provider (osfstorage will definitely be there, and more if you add them through the OSF gui) will have links such as  new folder and upload. Just use the upload link. The documentation has been updated on staging to be more explicit, so hopefully that will help.

[2015-10-09 22:14] mr-c opened #4433 "README.md test app credential links to "Forbidden" URL"
"For local development, the COS provides [test app credentials](https://osf.io/m2hig/wiki/home/) for a number of services."

https://osf.io/m2hig/wiki/home/:

[code]

[2015-10-13 04:54] wehlutyk opened #4442 "Wrong country reported for visitor in analytics tab"
Hi, first of all thanks for the fantastic work! So:

### What I did

Create a project (and edit it for a while). ([Here it is](https://osf.io/k7d38/).)

### What I expected

In the analytics tab, there's a single visitor (which is me), and I expect the country of this visitor to be properly reported, i.e. I expect the analytics to say this visitor is in Berlin, Germany (or at least Germany)

### W

[2015-10-13 12:57] lbanner commented on #4442
@wehlutyk -- Appreciate you reporting this! We've been working to improve these user analytics and hope to release a new approach by end of this year. Meantime, we'll look into this issue in particular. Thanks!

[2015-10-13 13:13] wehlutyk commented on #4442
Great, thanks for the quick reply :)

[2015-10-13 13:54] lbanner commented on #4433
@mr-c Did you get that error trying to utilize one of the add-on credentials? Or trying to access them in general? Thanks -

[2015-10-13 20:18] #3853 closed

[2015-10-13 22:25] mr-c commented on #4433
Attempting to view the content at https://osf.io/m2hig/wiki/home/ via a web browser produces the error quoted. I just confirmed using Google Chrome in incognito mode.

[2015-10-15 03:34] tsalo opened #4457 "Incorrect social links in search results"
Steps
-------
1. Search for a user.
2. Click on the social icons corresponding to the user in the search results.

![search-result](https://cloud.githubusercontent.com/assets/8228902/10504169/917b0866-72cb-11e5-828a-3ec417cc316c.png)

Expected
------------
Google Scholar: h<span>ttps://scholar.google.com/<b>citations</b>?user=YbH1akIAAAAJ</span>
LinkedIn: h<span>ttps://www.linkedin.com/<b>pub</b>/

[2015-10-19 03:45] tsalo opened #4474 "[feature request] Comment organization like GitHub issues tracking"
## Steps
1. If you need to discuss something related to a project on the OSF (potential changes to a planned analysis, authorship order, etc.), go to the project and make a comment.
2. Add relevant labels and mention contributors you want to be involved in the discussion.
3. When the discussion is over, it should be closeable and searchable.
## Expected

Discussions between contributors about a gi

[2015-10-19 15:35] lbanner commented on #4433
@mr-c ... those credentials are for internal OSF devs only, which is why you get the 'forbidden'  -- Can you let me know where you found this text? In our docs? -- we'll want to update that.

[2015-10-19 16:18] mr-c commented on #4433
Ah.

As mentioned in the subject of this issue, in the last paragraph of https://github.com/CenterForOpenScience/osf.io/blob/develop/README.md

[2015-10-19 16:22] lbanner commented on #4433
Thanks @mr-c .... I apologize for the confusion.

[2015-10-25 01:57] abought commented on #4433
Should be fixed as of c9521fd .

[2015-10-26 13:02] mr-c commented on #4433
Fixed, thanks!

[2015-10-26 13:02] #4433 closed

[2015-10-27 14:53] TomBaxter commented on #4026
I'd like to take a look at this, but before I get too far, I wanted to make sure no one else was already looking at it. I see it is marked JIRA and that it has been reported on Trello, neither of which I have access to.

[2015-10-27 19:38] TomBaxter commented on #4026
I've read through the code and reviewed AWS documentation. While I think this could be achieved without undue effort, I'm not sure this feature would be very useful. All bucket names are unique over all AWS locations. The location is not required for access. I spent some time trying to think of scenarios where an OSF user might need to know the location of the data. The only thing I could think of

[2015-10-27 19:55] TomBaxter commented on #4298
As the OP AndrewSallans suggested this seems to be related to issue #4252 . A fix for which was merged two weeks ago. I tested just now and was able to sort on "Accepting Submissions." I think this issue can be closed.

[2015-10-27 20:17] TomBaxter commented on #4202
There may be a way to get a better error message out of this but the issue itself is the result of using the Lucene search syntax. There are several special characters that need to be escaped if they are to be interpreted literally.

+ - && || ! ( ) { } [ ] ^ " ~ * ? : \

They can be escaped with a proceeding \ as documented at URL below

http://extensions.xwiki.org/xwiki/bin/view/Extension/Search

[2015-10-28 13:11] #3026 closed

[2015-10-28 13:11] #4141 closed

[2015-10-28 13:43] #4097 closed

[2015-10-28 13:43] #4100 closed

[2015-10-28 13:43] #4106 closed

[2015-10-28 13:43] #4118 closed

[2015-10-28 13:43] #4177 closed

[2015-10-28 13:43] #4298 closed

[2015-10-28 13:45] #4085 closed

[2015-10-28 13:45] #4089 closed

[2015-10-28 13:45] #4090 closed

[2015-10-28 13:46] #4077 closed

[2015-10-28 13:47] #226 closed

[2015-10-28 13:47] #322 closed

[2015-10-28 13:53] #460 closed

[2015-10-28 13:53] #710 closed

[2015-10-28 13:53] #868 closed

[2015-10-28 15:05] #965 closed

[2015-10-28 15:08] #1511 closed

[2015-10-28 15:08] #1621 closed

[2015-10-28 15:08] #1661 closed

[2015-10-28 15:08] #1672 closed

[2015-10-28 15:12] #2015 closed

[2015-10-28 15:12] #2039 closed

[2015-10-28 15:12] #2055 closed

[2015-10-28 15:12] #2080 closed

[2015-10-28 15:12] #2100 closed

[2015-10-28 15:12] #2153 closed

[2015-10-28 15:12] #2154 closed

[2015-10-28 15:12] #2173 closed

[2015-10-28 15:12] #2203 closed

[2015-10-28 15:14] #2385 closed

[2015-10-28 15:28] #2659 closed

[2015-10-28 15:28] #2680 closed

[2015-10-28 15:28] #2686 closed

[2015-10-28 15:28] #2933 closed

[2015-10-28 15:31] #3040 closed

[2015-10-28 15:31] #3041 closed

[2015-10-28 15:31] #3043 closed

[2015-10-28 15:31] #3046 closed

[2015-10-28 15:31] #3047 closed

[2015-10-28 15:31] #3048 closed

[2015-10-28 15:31] #3049 closed

[2015-10-28 15:31] #3056 closed

[2015-10-28 15:31] #3060 closed

[2015-10-28 15:31] #3072 closed

[2015-10-28 15:31] #3074 closed

[2015-10-28 15:31] #3080 closed

[2015-10-28 15:37] #3097 closed

[2015-10-28 15:37] #3149 closed

[2015-10-28 15:37] #3167 closed

[2015-10-28 15:37] #3183 closed

[2015-10-28 15:37] #3243 closed

[2015-10-28 15:37] #3259 closed

[2015-10-28 15:37] #3310 closed

[2015-10-28 15:37] #3323 closed

[2015-10-28 15:37] #3369 closed

[2015-10-28 15:37] #3373 closed

[2015-10-28 15:42] #3384 closed

[2015-10-28 15:42] #3388 closed

[2015-10-28 15:42] #3412 closed

[2015-10-28 15:42] #3526 closed

[2015-10-28 15:42] #3543 closed

[2015-10-28 15:42] #3544 closed

[2015-10-28 15:42] #3556 closed

[2015-10-28 15:48] #3703 closed

[2015-10-28 15:48] #3776 closed

[2015-10-28 15:48] #3784 closed

[2015-10-28 15:48] #3798 closed

[2015-10-28 15:53] #3811 closed

[2015-10-28 15:53] #3837 closed

[2015-10-28 15:53] #3840 closed

[2015-10-28 15:53] #3841 closed

[2015-10-28 15:53] #3852 closed

[2015-10-28 15:53] #3923 closed

[2015-10-28 15:53] #3928 closed

[2015-10-28 15:53] #3944 closed

[2015-10-28 15:53] #3951 closed

[2015-10-28 15:53] #3955 closed

[2015-10-28 15:59] #4007 closed

[2015-10-28 15:59] #4012 closed

[2015-10-28 15:59] #4023 closed

[2015-10-28 15:59] #4031 closed

[2015-10-28 15:59] #4049 closed

[2015-10-28 15:59] #4051 closed

[2015-10-28 15:59] #4056 closed

[2015-10-28 16:06] #4145 closed

[2015-10-28 16:06] #4171 closed

[2015-10-28 16:06] #4172 closed

[2015-10-28 17:13] #4203 closed

[2015-11-11 16:49] evomellor opened #4605 "file render not working"
The file render appears to be offline on production server (in live demo now)

[2015-11-11 17:01] GaryKriebel commented on #4605
MFR is back up.

[2015-11-11 17:01] #4605 closed

[2015-11-12 10:59] rubenarslan opened #4608 "Anchors on project summary page with truncated text don't link to full-text document."
See e.g. here: https://osf.io/y9jdt/#V2_API_2
I wanted to click through to one of the subsections. I opened the link in a new tab, was surprised to end up on the exact same page, I had to call up the full page first.
The correct behaviour would be to link to https://osf.io/y9jdt/wiki/home/#V2_API_2 in all cases.

Then, when you click that second link you'll notice that your anchor handling is some

[2015-11-16 17:31] saradbowman commented on #4442
@wehlutyk Thanks for this bug report! As @lbanner mentioned, we're undertaking an overhaul to the user-facing analytics and anticipate deployment in the coming months. It seems this particular issue will require a fairly time-consuming fix. In the interest of getting the new analytics up and running as quickly as possible, we're going to defer on this issue. The new analytics approach will resolve

[2015-11-18 20:02] rdhyee commented on #3937
@livethedance what type of features would you like to see in an Evernote addon?

[2015-11-25 17:49] brianjgeiger commented on #4608
Thanks, @rubenarslan. The TOC is generated dynamically, and doesn't handle going to a different page. I've updated that document, but it'll be some time before the underlying problem with the TOC plugin is fixed, I imagine.

[2015-11-25 18:23] rubenarslan commented on #4608
I think it should be as "simple" as prepending the full document URI to any auto-generated anchor links. Won't hurt on the right page, will work on any other.

Maybe issue 2, the scrolling and URL changing thing is easier to fix.

[2015-11-25 20:15] brianjgeiger commented on #4608
The trick is that we're using a Javascript markdown processor, which doesn't really have a concept that this page might live in multiple places, or even what its homepage is. And it's a general-purpose processor, not one made just for us, so making it work properly in that case will take a little doing.

It's not infeasible; I think the easiest is that we disable the TOC plugin on the preview page

[2015-12-16 17:03] TomBaxter opened #4758 ""Invoke server" fails with: AttributeError: 'module' object has no attribute 'dropbox_account_list'"
Perhaps I'm missing a config file for dropbox? Possibly related to PR #4658

(osf)tkb:osf.io$ invoke server
[website.util.paths]  WARNING: Skipping load of "webpack-assets.json" in DEBUG_MODE.
[website.project.metadata.authorizers]  INFO: No local.json found to populate lists of DraftRegistrationApproval authorizers.
Traceback (most recent call last):
  File "/home/tkb/.virtualenvs/cos/osf/bin/inv

[2015-12-16 19:24] whit537 opened #4762 "onboard @whit537"
May I? :-)

[2015-12-16 19:25] whit537 commented on #4762
Okay! cc: @samanehsan

[2015-12-16 19:26] whit537 commented on #4762
I've got the `osf.io` repo forked and my fork is cloned locally.

[2015-12-16 19:27] whit537 commented on #4762
I'm reading through these installation docs:

 - https://github.com/CenterForOpenScience/osf.io#readme
 - http://cosdev.readthedocs.org/en/latest/osf/setup.html

I thought I would make a little PR just to get used to the PR flow and find an early win. Here are the PR docs I'm going through:

 - http://cosdev.readthedocs.org/en/latest/process/pull_requests.html#sending-a-pull-request

[2015-12-16 19:28] whit537 commented on #4762
Even though this PR I'm preparing is tiny and probably doesn't need a test, I'd like to get the test suite passing locally before submitting it. Per the PR docs, I'm looking here for testing instructions:

http://cosdev.readthedocs.org/en/latest/process/testing.html#testing

[2015-12-16 19:29] whit537 commented on #4762
It [looks like](http://cosdev.readthedocs.org/en/latest/process/testing.html#supporting-libraries) there isn't one preferred test runner. I'm trying out `py.test`.

[2015-12-16 19:31] whit537 commented on #4762
I'm not finding what version of Python OSF requires. I'm looking at http://cosdev.readthedocs.org/en/latest/osf/setup.html#installing-python.

[2015-12-16 19:31] whit537 commented on #4762
I also looked for a `setup.py` to check the trove classifiers: nada.

[2015-12-16 19:32] whit537 commented on #4762
(`setup.cfg` is unhelpful in this regard.)

[2015-12-16 19:33] whit537 commented on #4762
I see `print()` without a `__future__` import [in `tasks.py`](https://github.com/CenterForOpenScience/osf.io/blob/15d15ba1f402f4b53a60e5b5ac4e504fd1cd6115/tasks.py).

[2015-12-16 19:35] whit537 commented on #4762
Actually, it [looks like](https://github.com/CenterForOpenScience/osf.io/blob/15d15ba1f402f4b53a60e5b5ac4e504fd1cd6115/tasks.py#L38) `nosetest` is preferred. What's `rednose`?

[2015-12-16 19:35] sloria commented on #4762
You can run tests with `invoke test`, which just runs `nosetests`. However, feel free to use `py.test` if you are more comfortable with that; our tests are compatible with it (it's what personally use to run tests in isolation).

OSF requires python 2.7.x.

BTW, documentation PRs are always welcome =).

[2015-12-16 19:36] whit537 commented on #4762
Thanks @sloria. :-)

https://pypi.python.org/pypi/rednose

Nice! cf. https://pypi.python.org/pypi/snot :-)

[2015-12-16 19:40] whit537 commented on #4762
Python 2.7 is doc'd at https://github.com/CenterForOpenScience/osf.io#mac-os.

[2015-12-16 19:44] whit537 commented on #4762
And `invoke test` is doc'd at https://github.com/CenterForOpenScience/osf.io#running-tests. Looks like there's some truth-source bifurcation between the README and COSDev.

[2015-12-16 19:47] whit537 commented on #4762
I've got a virtualenv with `nose`+`rednose` (I was having trouble with `pytest` but I was also using an old virtualenv from a while ago when I first cloned `osf.io`). Current status:

![screen shot 2015-12-16 at 2 46 12 pm](https://cloud.githubusercontent.com/assets/134455/11852055/ea5d4b74-a403-11e5-80f3-a1136780094f.png)

[2015-12-16 19:50] whit537 commented on #4762
I actually have yet to install Homebrew, and I'm going to attempt to preserve my ignorance of the bliss of `brew` for a little while longer ...

[2015-12-16 19:51] whit537 commented on #4762
[code]

[2015-12-16 19:52] whit537 commented on #4762
Might come back to haunt me later:

[code]

[2015-12-16 19:53] whit537 commented on #4762
Status:

![screen shot 2015-12-16 at 2 53 41 pm](https://cloud.githubusercontent.com/assets/134455/11852234/d51cab3c-a404-11e5-9177-c1652c72333f.png)

[2015-12-16 19:55] whit537 commented on #4762
I'm glad to see that our dependencies are pinned. :-)

https://github.com/CenterForOpenScience/osf.io/blob/15d15ba1f402f4b53a60e5b5ac4e504fd1cd6115/requirements.txt
https://github.com/CenterForOpenScience/osf.io/blob/15d15ba1f402f4b53a60e5b5ac4e504fd1cd6115/requirements/dev.txt

!m *

[2015-12-16 19:56] whit537 commented on #4762
Chuggin' along ...

![screen shot 2015-12-16 at 2 56 09 pm](https://cloud.githubusercontent.com/assets/134455/11852300/2766a7a8-a405-11e5-9ee2-b6113d0cca7a.png)

[2015-12-16 19:58] whit537 commented on #4762
[code]

Blam?

[2015-12-16 20:01] whit537 commented on #4762
[code]

How important can that be? <:-)

/me forges ahead, to his certain detriment ...

[2015-12-16 20:03] whit537 commented on #4762
I've got node 4.1.1 and npm 2.14.4 installed. I'm not sure what version(s) OSF expects. I've never used bower before ...

[2015-12-16 20:03] whit537 commented on #4762
Looks like `npm i` installed `bower`:

[code]

[2015-12-16 20:03] whit537 commented on #4762
`bower install`?

[2015-12-16 20:04] whit537 commented on #4762
Huzzah? :)

[code]

[2015-12-16 20:05] whit537 commented on #4762
Truckin' ...

![screen shot 2015-12-16 at 3 05 24 pm](https://cloud.githubusercontent.com/assets/134455/11852542/723d4150-a406-11e5-8431-bca4b1e3df7d.png)

[2015-12-16 20:09] whit537 commented on #4762
It looks like `invoke assets --dev` is reinstalling `npm install` and `bower install`. :-/

[2015-12-16 20:09] whit537 commented on #4762
Warnings and errors!

![screen shot 2015-12-16 at 3 09 15 pm](https://cloud.githubusercontent.com/assets/134455/11852617/fd171b16-a406-11e5-8572-3cc8cf7d8a88.png)

[code]

[2015-12-16 20:10] whit537 commented on #4762
Indeed, there is no directory `/Users/whit537/workbench/cos/osf.io/website/static/js/built`.

[2015-12-16 20:12] whit537 commented on #4762
/me starts `mongod`

[2015-12-16 20:12] whit537 commented on #4762
[code]

[2015-12-16 20:13] whit537 commented on #4762
/me looks into elasticsearch ...

[2015-12-16 20:16] whit537 commented on #4762
I tried turning off elasticsearch in `website/settings/local.py` (by setting SEARCH_ENGINE to None). No go.

[Looks like](https://github.com/CenterForOpenScience/osf.io#search) we want version 1.2.1.

[2015-12-16 20:17] whit537 commented on #4762
https://www.elastic.co/downloads/past-releases/elasticsearch-1-2-1

[2015-12-16 20:18] whit537 commented on #4762
Easy as Mongo. :-)

![screen shot 2015-12-16 at 3 17 57 pm](https://cloud.githubusercontent.com/assets/134455/11852826/350b7584-a408-11e5-838e-c31ba2347988.png)

[2015-12-16 20:18] sloria commented on #4762
Ah, the URITemplate issue is nasty. Here's the fix (from https://cosdev.readthedocs.org/en/latest/osf/common_problems.html#error-when-importing-uritemplate)

[code]

[2015-12-16 20:19] whit537 commented on #4762
The `ImportError` persists:

[code]

[2015-12-16 20:19] whit537 commented on #4762
Interesting. Thanks for the pointer, @sloria! :-)

[2015-12-16 20:20] whit537 commented on #4762
@sloria Does it makes sense to add `uritemplate` to `requirements.txt`?

[2015-12-16 20:21] whit537 commented on #4762
Interesting that 0.3.0 is already the version installed, though ...

[code]

[2015-12-16 20:21] sloria commented on #4762
@whit537 It's complicated. We actually want uritemplate.py, but it conflicts with another uritemplate package.

https://github.com/sigmavirus24/uritemplate/issues/14

[2015-12-16 20:23] whit537 commented on #4762
Copy that, gold leader. :hurtrealbad:

[2015-12-16 20:25] whit537 commented on #4762
Still, would being explicit about `uritemplate.py` in `requirements.txt` allow us to control the install order?

[2015-12-16 20:25] whit537 commented on #4762
Blam?

[code]

[2015-12-16 20:26] whit537 commented on #4762
Blam! :-)

Looks like it's time for TokuMX ...

![screen shot 2015-12-16 at 3 25 39 pm](https://cloud.githubusercontent.com/assets/134455/11852987/4e9d5d36-a409-11e5-9d10-bae963786e03.png)

[2015-12-16 20:29] whit537 commented on #4762
Not finding a version specified for TokuMX ...

[2015-12-16 20:29] sloria commented on #4762
Probably. I want to say we've tried that before to no avail...but I can't be sure.

[2015-12-16 20:30] whit537 commented on #4762
/me goes for tokumx-enterprise-2.0.2 ...

[2015-12-16 20:30] whit537 commented on #4762
@sloria M'kay. :)

[2015-12-16 20:32] sloria commented on #4762
I am currently using Tokumx 2.0.0, installed with Homebrew:

[code]

[2015-12-16 20:36] whit537 commented on #4762
Hmm ...

https://github.com/Tokutek/mongo/blob/tokumx-2.0.0/docs/building.md

Not as easy as Mongo. :-/

[2015-12-16 20:50] whit537 commented on #4762
Building Tokutek from source looks like it may require installing `gcc` (to avoid using Apple's clangy gcc-alike). At which point, I give in: and turns out I already have `brew` installed after all. :-)

[code]

[2015-12-16 20:51] whit537 commented on #4762
[code]

[2015-12-16 20:52] whit537 commented on #4762
Blam! :dancer:

![screen shot 2015-12-16 at 3 51 50 pm](https://cloud.githubusercontent.com/assets/134455/11853596/f4baaa68-a40c-11e5-9923-59fd11687cdb.png)

[2015-12-16 20:52] whit537 commented on #4762
Now for that test suite ...

[2015-12-16 20:53] whit537 commented on #4762
Chuggin' ...

![screen shot 2015-12-16 at 3 53 10 pm](https://cloud.githubusercontent.com/assets/134455/11853627/21a7c902-a40d-11e5-9df3-fc4c453be8b6.png)

[2015-12-16 20:53] whit537 commented on #4762
Oooh! Some passing! :-)

![screen shot 2015-12-16 at 3 53 25 pm](https://cloud.githubusercontent.com/assets/134455/11853641/2c1b8aea-a40d-11e5-9eb2-12ccdbb703a1.png)

[2015-12-16 20:54] whit537 commented on #4762
Can't say this test suite is zippy ...

[2015-12-16 21:13] whit537 commented on #4762
[code]

[2015-12-16 21:16] whit537 commented on #4762
https://github.com/CenterForOpenScience/osf.io#additional-configuration-for-mac-os-x

[2015-12-16 21:20] whit537 commented on #4762
Okay! Now for the big run again ... no whammies!

[code]

[2015-12-16 21:25] whit537 commented on #4762
So far so good?

![screen shot 2015-12-16 at 4 25 15 pm](https://cloud.githubusercontent.com/assets/134455/11854388/9d036b16-a411-11e5-8d10-58a4025bdb8d.png)

[2015-12-16 21:32] whit537 opened #4768 "optimize the test suite"
The test suite takes a loooooooonnnnnggggg time to run. I strongly suspect that we could cut it by an order of magnitude without too much effort. Here's some argument from authority about why fast tests are good:

But if your test suite takes a quarter of an hour to run, that puts a severe damper on your willingness to run it often, or even at all. Those tests definitely don’t get run every few mi

[2015-12-16 21:33] whit537 commented on #4762
![screen shot 2015-12-16 at 4 33 10 pm](https://cloud.githubusercontent.com/assets/134455/11854576/b70c16ba-a412-11e5-8066-8d06a6beb03b.png)

[code]

[2015-12-16 21:34] whit537 commented on #4768
~9 minutes on a SSD: https://github.com/CenterForOpenScience/osf.io/issues/4762#issuecomment-165256051.

[2015-12-16 22:48] whit537 commented on #4762
17m 44s at Travis.

![screen shot 2015-12-16 at 5 47 54 pm](https://cloud.githubusercontent.com/assets/134455/11856230/2ac7d008-a41d-11e5-8ee0-5fdb35ae03a3.png)

[2015-12-16 22:49] whit537 commented on #4768
17m 44s at Travis.

![screen shot 2015-12-16 at 5 47 54 pm](https://cloud.githubusercontent.com/assets/134455/11856230/2ac7d008-a41d-11e5-8ee0-5fdb35ae03a3.png)

[2015-12-17 18:44] whit537 commented on #4768
Looking into this ...

[2015-12-17 18:45] whit537 commented on #4768
I'm starting with getting a [profiling](https://docs.python.org/2/library/profile.html#module-cProfile) framework in place.

[code]

[2015-12-17 18:45] whit537 commented on #4768
I'd like to look both at startup time for the entire test suite, and then obviously hotspots in tests themselves.

[2015-12-17 18:47] whit537 commented on #4768
@erinspace reports that ... James? recently profiled and optimized the test suite over on [SHARE](https://github.com/CenterForOpenScience/SHARE).

[2015-12-17 18:47] whit537 commented on #4768
Not seeing a PR for that in https://github.com/CenterForOpenScience/SHARE/pulls?q=is%3Apr+is%3Aclosed.

[2015-12-17 18:54] whit537 commented on #4768
[code]

This sorts the profile by cumulative time in a function, and then only prints the ten most significant lines. If you want to understand what algorithms are taking time, the above line is what you would use.

If you were looking to see what functions were looping a lot, and taking a lot of time, you would do:

[code]

to sort according to time spent within each function, and then print the

[2015-12-17 18:54] erinspace commented on #4768
It was part of a much larger PR made in a hackathon on scrapi -- the real code behind SHARE: https://github.com/CenterForOpenScience/scrapi/pull/244/files I think he did a big overhaul including using tox for test running (which was possible because scrapi is very separate from the OSF)

[2015-12-17 18:55] whit537 commented on #4768
Cool, thanks @erinspace. :-)

[2015-12-17 18:55] whit537 commented on #4768
end of https://docs.python.org/2/library/profile.html#instant-user-s-manual

So ...

[2015-12-17 18:56] whit537 commented on #4768
Yesssssssssssss ...

[code]

[2015-12-17 18:57] whit537 commented on #4768
Okay! I've kicked off a full test run, and then we should have some interesting profiling data to explore! :-)

[2015-12-17 19:13] whit537 commented on #4768
[code]

[2015-12-17 19:14] whit537 commented on #4768
The `recv` call jumps out at me. I notice below that we've got several calls in `mongo_client`. Can we avoid calling to mongo so much?

[2015-12-17 19:18] whit537 commented on #4768
With paths intact:

[code]

[2015-12-17 19:35] whit537 commented on #4768
I'm poking around in the testing and mongo infrastructure, trying to formulate a question ...

[2015-12-17 19:36] whit537 commented on #4768
`save` is implicated, but what about reads (`recv`)?

[2015-12-17 19:37] whit537 commented on #4768
I want to understand the structure of the test suite and its setup/teardown. I also want to understand what the pathways to mongo are in the test suite and how frequently each is called.

[2015-12-17 19:37] whit537 commented on #4768
For the latter I'm thinking of adding print statements in `storedobject.py` and rerunning the test suite. For the former I need to read code ...

[2015-12-17 19:39] whit537 commented on #4768
I count 27 calls to `StoredObject.save` on test suite initialization, in order to run one test.

[2015-12-17 19:46] whit537 commented on #4768
Alright, so I'm seeing `OsfTestCase` that subclasses `DbTestCase` in `tests/base.py`. I'm isolating this as a test which exercises `DbTestCase`:

[code]

[2015-12-17 19:46] whit537 commented on #4768
Let's log some `save` calls ...

[2015-12-17 20:27] whit537 commented on #4768
Okay! Here's a patch for `env/lib/python2.7/site-packages/modularodm/storedobject.py`:

[code]

And here's some sample output:

[code]

[2015-12-17 20:39] whit537 commented on #4768
Seeing a bunch of:

[code]

[2015-12-17 21:00] whit537 commented on #4768
Fixed. New diff:

[code]

[2015-12-17 21:00] whit537 commented on #4768
Rerunning ...

[2015-12-17 21:22] whit537 commented on #4768
[code]

[code]

[2015-12-17 21:24] whit537 commented on #4768
"Entries" means the first frame outside of the test suite, and "Exits" are the last line of code before descending into `storedobject.py`.

[2015-12-17 21:35] whit537 commented on #4768
With the following patch, the test suite runs in ~37% of the time it runs without it. However, errors+failures are up to 82%. ;-)

[code]

[2015-12-17 21:36] whit537 commented on #4768
[code]

[2015-12-17 22:05] whit537 commented on #4768
How about startup time? What does it cost to test the null hypothesis?

[code]

[code]

[2015-12-18 03:34] suchow opened #4787 "Unclear if there is a web API"
I can't figure out if there is an API exposed to developers. Is it possible to programmatically create new projects and add assets to them?

[2015-12-18 13:47] whit537 commented on #4762
My final goals for this morning are:

 - [ ] Submit a PR for https://github.com/CenterForOpenScience/osf.io/issues/4768, or otherwise bring some closure there.
 - [ ] Write https://openscience.atlassian.net/browse/OSF-5439.

[2015-12-18 14:29] whit537 commented on #4768
I just double-checked the Gratipay test suite as a benchmark. Over there, I'm seeing ~70 seconds for ~500 tests. Here I'm seeing ~650 seconds for ~1,750 tests. If our test suite ran as fast as Gratipay's, we would expect to see ~250 seconds, roughly four minutes—a 2x to 3x improvement.

It's a normal workflow is to only run one or a few tests during active local development, running the full test

[2015-12-18 14:34] JeffSpies commented on #4768
We may find that there are optimizations in common between restart time and test suite start time.

[2015-12-18 14:36] whit537 commented on #4768
If we're lucky. :)

[2015-12-18 14:45] whit537 commented on #4768
Alright! Let's do this. :-)

[code]

[2015-12-18 15:01] cwisecarver commented on #4768
I added a blinker signal to GuidStoredObject.save() in a PR that's not been merged yet, for cache invalidation. While I was debugging, it had a log statement in it. For every call to save we were actually saving at least twice, sometimes more than four times. That could explain part of the mongo chatter.

[2015-12-18 15:04] whit537 commented on #4768
Thanks @cwisecarver. That could certainly help the overall test suite time.

[2015-12-18 15:04] lbanner commented on #4787
Hi @suchow -- The answer is yes -- We've got BAPI docs on Production here:
https://api.osf.io/v2/

Not 100% stable as yet i.e. as we continue to develop, we'll likely continue to make changes/alterations + additions. Let me know how I can help further. Thanks!

[2015-12-18 15:06] whit537 commented on #4768
In the cProfile output for the null test, I'm seeing two calls to `init_app`, each taking 1.3 seconds:

[code]

Surely we can remove one of those ...

[2015-12-18 15:09] cwisecarver commented on #4768
website.project.licenses is looping through a json file and doing individual queries by id instead of doing a 'in' in mongo. Depending on the length of that file I could see 1.3 seconds being saved there.

[2015-12-18 15:09] whit537 commented on #4768
@cwisecarver Yeah, there another loop in `ensure_schemas` for which we may be able to consolidate the db calls as well.

[2015-12-18 15:11] whit537 commented on #4768
Importing `api.base.wsgi` triggers a [call to `init_app`](https://github.com/CenterForOpenScience/osf.io/blob/18280783aa7ba0051c5efa1a262fc8e510691eb6/api/base/wsgi.py#L16), and then importing from `tests.base` makes [a second call](https://github.com/CenterForOpenScience/osf.io/blob/18280783aa7ba0051c5efa1a262fc8e510691eb6/tests/base.py#L58-L60). Can we avoid the first during testing?

[2015-12-18 15:29] whit537 commented on #4768
Ftr it sounds like there is some template logfile writing(?) that doesn't need to happen as well.

[2015-12-18 15:39] sloria commented on #4768
Yeah, `init_app` does a lot. When we call it in tests or scripts, we usually only need the storage backends to be set on the models.

[2015-12-18 15:39] whit537 commented on #4768
What happens if we use the `test_app` in the `ApiAppTestCase`?

[2015-12-18 15:41] whit537 commented on #4768
Ooooh!

/me discovers [`api_tests`](https://github.com/CenterForOpenScience/osf.io/tree/18280783aa7ba0051c5efa1a262fc8e510691eb6/api_tests)

[2015-12-18 15:41] whit537 commented on #4768
First run ...

![screen shot 2015-12-18 at 10 41 47 am](https://cloud.githubusercontent.com/assets/134455/11900443/f39c9098-a573-11e5-9642-93ff1e897e98.png)

[2015-12-18 15:43] whit537 commented on #4768
/me learns about `test_travis_$TEST_BUILD`

[2015-12-18 15:45] whit537 commented on #4768
Maybe we can at least lazily `init_app` the API app in `setUpClass`?

[2015-12-18 15:47] whit537 commented on #4768
`1291 passed, 1 skipped in 353.19 seconds`

[2015-12-18 15:49] cwisecarver commented on #4768
4 t/s. That's a benchmark to beat.

[2015-12-18 16:32] whit537 commented on #4768
@cwisecarver [Looks like](https://github.com/CenterForOpenScience/osf.io/issues/4768#issuecomment-165790496) `tests/` is currently at 2.7 t/s, so 4 t/s would be a solid improvement. Gratipay is at about 7 t/s, and it's not super-optimized, so I've been thinking of that as a good goal as well.

[2015-12-18 16:34] whit537 commented on #4768
`1231 failed, 60 passed, 1 skipped` using `test_app` in `ApiAppTestCase`. Not so easy. :-)

[2015-12-18 16:45] whit537 commented on #4768
`794 passed, 13 error in 210.07 seconds`

[code]

[code]

[2015-12-18 16:46] whit537 commented on #4768
Alright, I'm outta time for now, time for me to hit the road. I'll see if I can get back to this next week! :-)

[2015-12-18 19:23] TomBaxter commented on #4758
Not sure where things went wrong, but I reinstalled my dev environment from scratch and am no longer getting an error.

[2015-12-18 19:23] #4758 closed

[2015-12-18 20:09] sloria commented on #4758
This will happen due to cached Python bytecode in pyc files. You can fix this in the future with `invoke clean`.

[2015-12-18 20:39] sloria commented on #3010
@NatashaRichter Is this still an issue or can this be closed?

[2015-12-18 20:40] sloria commented on #2603
@nicipfeiffer Is this still an issue, or can this be closed?

[2015-12-19 01:08] suchow commented on #4787
Thanks, I'm now able to use the web API to create a new project. Is it possible to create registrations? The source code seems to suggest that's not implemented yet.

[2015-12-19 01:28] whit537 commented on #4762
Here's the Jira filter I'll use when deciding what to code review: https://openscience.atlassian.net/issues/?filter=11402.

[2015-12-21 20:40] lbanner commented on #4787
@suchow You are correct, currently we have no V2 for the creation of registrations. It is, however, on the near term development list.

[2015-12-22 18:05] whit537 commented on #4768
Not trivially, anyway. Looks like there's a couple bits of global configuration that importing from `api.base.wsgi` sets up, in `rest_framework` and in `tests/utils`.

[2015-12-23 00:48] whit537 commented on #4768
I'm bailing out. Not finding any obvious quick wins and I should get on with code review. :pensive:

[2015-12-23 00:48] #4768 closed

[2015-12-23 00:49] whit537 commented on #4762
Alright, I've bailed out on #4768. Gonna consider myself onboarded and get on with code review.

To the Jira-mobile! :blue_car:

[2015-12-23 00:49] #4762 closed

[2016-01-03 20:49] machow opened #4834 "Github addon should not report recent activity from every branch"
Currently, the osf.io Recent Activity log reports all files that are changed in a github repository. This seems sensible, as it makes transparent exactly what files have been changed, and makes the contents of a github repo similar to other uploaded (or linked via, e.g., dropbox) files. However, it reports changes for all branches in a repository, many of which may be temporary.

It seems like rep

[2016-01-07 15:59] TomBaxter opened #4855 "ERROR in ./~/gsap/src/minified/easing/EasePack.min.js"
I was updating my osf.io install for my development Environment today and ran into this issue when running "invoke setup" This is on Ubuntu. I dug into the Docker repo to make sure I was installing NPM and node.js in the same way and same versions as the production server.

ERROR in ./~/gsap/src/minified/easing/EasePack.min.js
Module not found: Error: Cannot resolve 'file' or 'directory' ../TweenL

[2016-01-07 16:09] sloria commented on #4855
@TomBaxter what version of `gsap` do you have installed?

[2016-01-07 16:20] TomBaxter commented on #4855
1.18.2  the latest. I verified the code is in their github remo and opened as issue with them.

greensock/GreenSock-JS/issues/133

[2016-01-07 16:33] sloria commented on #4855
Looks like the error was introduced by 1.18.2. I'll go ahead and pin to 1.18.0 for now until this is resolved. It's hard to tell if the bug is on our end or theirs; we are aliasing `TweenLite` and `EasePack` to the minified files here: https://github.com/CenterForOpenScience/osf.io/blob/2924d12c472450822fc190da894199265a8a1698/webpack.common.config.js#L133-L135 , which isn't best practice (better

[2016-01-08 14:01] TomBaxter commented on #4855
@sloria

  Got a quick response from the GreenSock developer. Sounds like we will need to change things on our end. His comments agree with yours on "best practice."

and ...

[2016-01-18 16:56] whit537 opened #4908 "get a coverage report for JavaScript"
Reticketing from #4799 to avoid noise over there.

[2016-01-18 17:06] whit537 commented on #4908
I'm seeing a couple failures on #4799, I'm not going to worry about that here. I'm just looking at coverage.

[code]

[2016-01-18 17:06] whit537 commented on #4908
I'm starting with https://github.com/karma-runner/karma-coverage#examples.

[2016-01-18 17:06] whit537 commented on #4908
I ran `npm install karma-coverage --save-dev`.

[2016-01-18 17:16] whit537 commented on #4908
With this diff:

[code]

I get this output from `inv karma --single`

[code]

[2016-01-18 17:25] whit537 commented on #4908
Looks like the indirect [way](https://github.com/CenterForOpenScience/osf.io/blob/86ddfa977ec25217002c8401a49042f1e37c0b17/karma.common.conf.js#L45-L47) in which we load tests stymies `karma-coverage`.

[2016-01-18 17:28] whit537 commented on #4908
Here's a diff trying to specify a single test file:

[code]

Looks like that shortcuts a necessary compilation step (Coffeescript? ES6?):

[code]

[2016-01-18 17:28] whit537 commented on #4908
https://github.com/CenterForOpenScience/osf.io/blob/86ddfa977ec25217002c8401a49042f1e37c0b17/website/static/js/tests/contributors.test.js#L23

[2016-01-18 18:16] whit537 commented on #4908
Alright, so where does the Coffeescript/ES6 compilation happen in the normal `inv karma` flow?

[2016-01-18 18:29] whit537 commented on #4908
What the heck is [this magic](https://github.com/CenterForOpenScience/osf.io/blob/86ddfa977ec25217002c8401a49042f1e37c0b17/website/static/js/tests/tests.webpack.js#L10)?

[code]

[2016-01-18 18:29] whit537 commented on #4908
What is a `require.context()`?

[2016-01-18 18:29] whit537 commented on #4908
https://webpack.github.io/docs/context.html

[2016-01-18 18:30] whit537 commented on #4908
https://webpack.github.io/docs/context.html#require-context

[2016-01-18 18:31] whit537 commented on #4908
Smells like we're implementing https://github.com/webpack/karma-webpack#alternative-usage.

[2016-01-18 18:32] whit537 commented on #4908
`google karma webpack coverage --lucky`

https://github.com/webpack/karma-webpack/issues/21

[2016-01-18 18:33] whit537 commented on #4908
https://github.com/deepsweet/istanbul-instrumenter-loader

[2016-01-18 19:06] whit537 commented on #4908
Here's a screenshot of what I'm trying to achieve, from https://github.com/douglasduteil/isparta#with-karma:

![screenshot](https://cloud.githubusercontent.com/assets/134455/12400195/a1acc28a-bdec-11e5-846f-a21331811f63.png)

[2016-01-18 19:06] whit537 commented on #4908
So it *is* possible! :-)

Now, how to make it work?

What are the pieces?

[2016-01-18 19:07] whit537 commented on #4908
1. webpack
1. karma
1. karma-coverage
1. istanbul
1. isparta
1. babel
1. istanbul-instrumenter-loader

[2016-01-18 19:43] whit537 commented on #4908
Looks from a `console.log` that the keys of the context object are the filenames matched by the regex. And it looks from [source](https://github.com/webpack/webpack/blob/v1.7.2/lib/dependencies/RequireContextDependencyParserPlugin.js) that webpack is a complex piece of software.

[2016-01-18 19:53] whit537 commented on #4908
Yikes, okay! Looks from a `console.log` that `request.context` returns a `webpackContext` object, and a repo search indicates that this object is [created dynamically](https://github.com/webpack/webpack/blob/v1.7.2/lib/ContextModule.js#L90-L104), per the [example](https://github.com/webpack/webpack/tree/v1.7.2/examples/require.context#jsoutputjs).

[2016-01-18 19:53] whit537 commented on #4908
(I'm not sure how the `ContextDependency` code relates to `websiteContext`.)

[2016-01-18 19:56] whit537 commented on #4908
[`Object.keys`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/keys)

[2016-01-18 20:19] whit537 commented on #4908
And calling the context object as a function [does](https://github.com/webpack/webpack/blob/v1.7.2/lib/ContextModule.js#L93):

[code]

Where `webpackContextResolve` simply dereferences a module ID from the requirement name. Of course, `__webpack_require__` is also [dynamically written](https://github.com/webpack/webpack/blob/v1.7.2/lib/MainTemplate.js#L98-L121). :weary:

[2016-01-18 20:23] whit537 commented on #4908
Thence down into Webpack's plugin system. :rabbit2:

Alright, so `__webpack_require__` requires each file passed to it, those enumerated in `context`. Bit of a goofy idiom, but there it is.

Okay!

[2016-01-18 20:27] whit537 commented on #4908
Now we have `context` and `addonContext` objects in `tests.webpack.js`, and we've used those to load all of the test files. My understanding at this point (I could be wrong) is that the `context` and `addonContext` objects are disposable at this point. We don't them once we've used them to load the actual test scripts.

[2016-01-18 20:33] whit537 commented on #4908
Presumably the [preprocessor](https://github.com/CenterForOpenScience/osf.io/blob/86ddfa977ec25217002c8401a49042f1e37c0b17/karma.common.conf.js#L51) is where the ES6 compilation happens?

I see `babel` [mentioned](https://github.com/CenterForOpenScience/osf.io/blob/86ddfa977ec25217002c8401a49042f1e37c0b17/webpack.common.config.js#L182) in there ...

[2016-01-18 20:33] whit537 commented on #4908
Though it looks like that's only for files with `.es6.` in the name.

[2016-01-18 21:07] whit537 commented on #4908
Running without the preprocessor fails with:

[code]

[2016-01-18 21:36] whit537 commented on #4908
[object-assign](https://www.npmjs.com/package/object-assign)

[2016-01-18 21:51] whit537 commented on #4908
https://github.com/CenterForOpenScience/osf.io/issues/4908#issuecomment-172624973

I think this is how it goes?

[code]

[2016-01-18 22:14] whit537 commented on #4908
`webpack` is a preprocessor as far as `karma` is concerned.

https://karma-runner.github.io/0.12/config/configuration-file.html

[2016-01-18 22:53] whit537 commented on #4908
When I change the [`babel`](https://github.com/CenterForOpenScience/osf.io/blob/86ddfa977ec25217002c8401a49042f1e37c0b17/karma.common.conf.js#L33) to `isparta`, I get this error:

[code]

[2016-01-18 22:58] whit537 commented on #4908
Is it supposed to be `isparta` or `isparta-loader`? The `isparta-loader` docs [say](https://github.com/deepsweet/isparta-loader/blob/000551e04924d45de38152fca93784e8122b5817/README.md) the latter, but they also show `babel` for another part of the config and we're using `babel-loader`. Maybe `karma` (or `webpack`?) accepts both?

[2016-01-18 22:59] whit537 commented on #4908
`isparta` fails with the same error as `isparta-loader`, which leads me to believe that `karma` (or is it `webpack`?) accepts both. :fried_shrimp:

[2016-01-18 22:59] whit537 commented on #4908
Golly ... now what's https://github.com/deepsweet/babel-istanbul-loader?

[2016-01-18 22:59] whit537 commented on #4908
:disappointed:

[2016-01-18 23:00] whit537 commented on #4908
https://github.com/ambitioninc/babel-istanbul

[2016-01-18 23:00] whit537 commented on #4908
There's an "instrumentation" layer ... to `karma`? `webpack`?

[2016-01-18 23:03] whit537 commented on #4908
![screen shot 2016-01-18 at 6 02 46 pm](https://cloud.githubusercontent.com/assets/134455/12404903/b38844ae-be0d-11e5-9839-122d4e1652c1.png)

[2016-01-18 23:04] whit537 commented on #4908
:sob:

![screen shot 2016-01-18 at 6 03 52 pm](https://cloud.githubusercontent.com/assets/134455/12404935/eb0840fa-be0d-11e5-9a7b-d1da3a588f8b.png)
![screen shot 2016-01-18 at 6 04 03 pm](https://cloud.githubusercontent.com/assets/134455/12404936/eb094c2a-be0d-11e5-8a35-73e1284c1ed7.png)

[2016-01-18 23:05] whit537 commented on #4908
So `isparta-webpack-karma-istanbul-babel-istanbul` invented instrumenting? :weary:

[2016-01-18 23:05] whit537 commented on #4908
Sorry, forgot `-loader-coverage-cover-instrumenter`.

[2016-01-18 23:06] whit537 commented on #4908
/me tries `npm install isparta-webpack-karma-istanbul-babel-istanbul-loader-coverage-cover-instrumenter`

[2016-01-18 23:06] whit537 commented on #4908
:disappointed:

![screen shot 2016-01-18 at 6 06 35 pm](https://cloud.githubusercontent.com/assets/134455/12404975/38d7f3c0-be0e-11e5-8c44-bc0688bb86e3.png)

[2016-01-18 23:22] whit537 commented on #4908
Karma is the test runner. Let's start there.

[2016-01-18 23:23] whit537 commented on #4908
Karma [loads config](https://karma-runner.github.io/0.12/config/configuration-file.html) from `./karma.conf.js`.

[2016-01-18 23:25] whit537 commented on #4908
Our `karma.conf.js` [requires](https://github.com/CenterForOpenScience/osf.io/blob/86ddfa977ec25217002c8401a49042f1e37c0b17/karma.conf.js#L1) `karma.common.conf.js`.

[2016-01-18 23:26] whit537 commented on #4908
(That's Node's `require`, right? Not Webpack's?)

[2016-01-18 23:27] whit537 commented on #4908
Looks like probably:

[code]

[code]

[2016-01-18 23:29] whit537 commented on #4908
Alright, so we require `commonConfig` and then override a couple attributes using ponyfilled `assign` before passing in to [`config.set`](https://karma-runner.github.io/0.12/config/configuration-file.html).

[2016-01-18 23:31] whit537 commented on #4908
Here are the config keys set in [`karma.common.conf.js`](https://github.com/CenterForOpenScience/osf.io/blob/86ddfa977ec25217002c8401a49042f1e37c0b17/karma.common.conf.js#L38-L64):

 - frameworks
 - files
 - preprocessors
 - webpack
 - webpackMiddleware
 - webpackServer
 - browserDisconnectTimeout
 - browserDisconnectTolerance
 - browserNoActivityTimeout

[2016-01-18 23:35] whit537 commented on #4908
Here's where they come from:

##### [karma](https://karma-runner.github.io/0.12/config/configuration-file.html)

 - frameworks
 - files
 - preprocessors
 - browserDisconnectTimeout
 - browserDisconnectTolerance
 - browserNoActivityTimeout

##### [karma-webpack](https://github.com/webpack/karma-webpack/blob/v1.5.1/index.js#L9-L11)

 - webpack
 - webpackMiddleware
 - webpackServer

[2016-01-18 23:36] whit537 commented on #4908
Re: `files`: https://karma-runner.github.io/0.12/config/files.html

[2016-01-18 23:39] whit537 commented on #4908
We mimic loading jQuery, and then load `test.webpack.js` per the `karma-webpack` "[alternate usage](https://github.com/webpack/karma-webpack/tree/v1.5.1#alternative-usage)".

[2016-01-18 23:40] whit537 commented on #4908
In other words, we specify a single file to load, and we specify the preprocessor supplied by `karma-webpack` to preprocess it.

[2016-01-18 23:40] whit537 commented on #4908
Re: `preprocessors`: https://karma-runner.github.io/0.12/config/preprocessors.html.

[2016-01-18 23:41] whit537 commented on #4908
`karma-coverage` supplies both `preprocessor` and a `reporter`.

[2016-01-18 23:47] whit537 commented on #4908
[ [previous](https://github.com/CenterForOpenScience/osf.io/issues/4908#issuecomment-172663823) ]

So far, then:

[code]

[2016-01-18 23:50] whit537 commented on #4908
Alright ... so ... since `karma-webpack` and `karma-coverage` both operate via `preprocessors`, that's why we need an additional shim for them to cooperate?

[2016-01-18 23:54] whit537 commented on #4908
[`istanbul-instrumenter-loader`](https://github.com/deepsweet/istanbul-instrumenter-loader) is a shim for `webpack` to provide the instrumentation that the `karma-coverage` `reporter` needs. It replaces the `karma-coverage` *`preprocessor`*, ya?

[2016-01-18 23:55] whit537 commented on #4908
"Loaders" are a Webpack [concept](https://webpack.github.io/docs/using-loaders.html).

[2016-01-19 00:00] whit537 commented on #4908
[ [prev](https://github.com/CenterForOpenScience/osf.io/issues/4908#issuecomment-172684239) ]

[code]

[2016-01-19 00:06] whit537 commented on #4908
My hypothesis is that [`isparta-loader`](https://github.com/deepsweet/isparta-loader/) and [`babel-istanbul-loader`](https://github.com/deepsweet/babel-istanbul-loader/) are parallel. The latter is newer. All four commits on it are from 11 days ago, and the latest commit on the former is a README update pointing to the latter, also from 11 days ago.

[2016-01-19 00:09] whit537 commented on #4908
`isparta-loader` depends on [`istanbul`](https://github.com/douglasduteil/isparta).

`babel-istanbul-loader` depends on [`babel-istanbul`](https://github.com/ambitioninc/babel-istanbul).

[2016-01-19 00:09] whit537 commented on #4908
Let's try the newer one ...

[2016-01-19 00:15] whit537 commented on #4908
[ [previous](https://github.com/CenterForOpenScience/osf.io/issues/4908#issuecomment-172688257 ) ]

[code]

[2016-01-19 00:15] whit537 commented on #4908
Go science! :bulb:

[2016-01-19 00:18] whit537 commented on #4908
Alright, now let's look at `loaders` and `preLoaders` in the `webpack` config we're passing in to `karma`.

[2016-01-19 00:21] whit537 commented on #4908
https://github.com/ambitioninc/babel-istanbul/tree/c99056412584d6249996f3ac448cdb690d60a2d3#features

Hmm ... what are the implications of that for our plumbing?

[2016-01-19 00:32] whit537 commented on #4908
[So arbitrary](https://webpack.github.io/docs/loaders.html#loader-order).

[2016-01-19 00:36] whit537 commented on #4908
Alright, so [this example](https://github.com/deepsweet/babel-istanbul-loader/#karmaconfjs) still shows two separate [pre]loader configs, one for source files and one for tests scripts.

[2016-01-19 00:37] whit537 commented on #4908
We only have [one](https://github.com/CenterForOpenScience/osf.io/blob/86ddfa977ec25217002c8401a49042f1e37c0b17/karma.common.conf.js#L33).

[2016-01-19 00:37] whit537 commented on #4908
It's for test files.

[2016-01-19 00:38] whit537 commented on #4908
Ah, but we're requiring `webpack.common.config.js`.

[2016-01-19 00:38] whit537 commented on #4908
And using that to backfill the `webpackTestConfig`.

[2016-01-19 00:42] whit537 commented on #4908
There's [bunch of loaders](https://github.com/CenterForOpenScience/osf.io/blob/86ddfa977ec25217002c8401a49042f1e37c0b17/webpack.common.config.js#L181-L194) in `webpackCommon`, but none are for plain `*.js` files (there are some for `*.es6.js`. Maybe the addon [config](https://github.com/CenterForOpenScience/osf.io/blob/86ddfa977ec25217002c8401a49042f1e37c0b17/webpack.common.config.js#L87-L101) is

[2016-01-19 00:44] whit537 commented on #4908
So do we get the same parse error inside addons with `babel-istanbul-loader` as with `isparta-loader`?

[2016-01-19 00:48] whit537 commented on #4908
No! But we get 14 test failures instead of 2 ...

[code]

[2016-01-19 01:04] whit537 commented on #4908
Now I can't reproduce the 14 errors, but I do get:

[code]

[2016-01-19 01:09] whit537 commented on #4908
`ack loader-utils` turns up nothing. :flushed:

[code]

[2016-01-19 01:10] whit537 commented on #4908
With an `npm i -D loader-utils` I am back to https://github.com/CenterForOpenScience/osf.io/issues/4908#issuecomment-172675268:

[code]

[2016-01-19 01:11] whit537 commented on #4908
In other words, `babel-istanbul-loader` exhibits the same behavior as `isparta-loader`.

[2016-01-19 02:14] whit537 commented on #4908
Alright, outta steam on this one. :weary:

I'll pick up ... probably on Friday, if it still looks worth it at that point.

Cheers! :-)

[2016-01-21 05:21] wyz4221110 commented on #2909
Hi guys, I met the same error when automatically install OSF on my Mac locally using the line "invoke setup" in osf.io folder and osf virtualenv. But I cannot solve this error by "invoke mongo -d" this line, and the same error shows again as "pymongo.errors.ConnectionFailure: could not connect to localhost:27017: [Errno 61] Connection refused"

@jamiehand could you kindly let me know the exact lin

[2016-01-21 06:57] wyz4221110 opened #4927 "Setup error on Ubuntu:"
I am setting up the OSF on Ubuntu on AWS EC2, when running the "invoke setup" always met the following error message:

ERROR in ./~/json-loader!./~/list-of-licenses/index.js
Module build failed: SyntaxError: Unexpected token v
    at Object.parse (native)
    at Object.module.exports (/home/ubuntu/osf.io/node_modules/json-loader/index.js:7:48)
 @ ./website/static/js/licenses.js 3:15-47

Anyone had

[2016-01-22 20:59] jamiehand commented on #2909
Sorry @wyz4221110 I can't remember! I don't have access to the computer I was using at the time either, so I don't know how I could find it. Sorry about that!

[2016-01-26 03:15] #2297 closed

[2016-02-01 20:22] remram44 opened #4966 "OSF can create Github commits with no changes"
Please do not create a commit if saving with no change. Empty commits are useless.

Example: https://github.com/ViDA-NYU/reproducibility-news/commit/8add858676e87e4b19b383103b1f1f439fd0920a

[2016-02-02 21:06] TomBaxter opened #4974 "GitHub web hook setup fails when using local.py config"
While setting up GitHub on my development environment I ran into this error when selecting/saving repository during initial setup.

GitHubError: 422 Invalid request.
For 'properties/events', nil is not an array.

This is due to "events=None" in osf.io/website/addons/github/api.py  "def add_hook" Events must be an array/list. The following change fixed the issue.

    # def add_hook(self, user, rep

[2016-02-03 18:42] adamjcook opened #4977 "add LaTeX rendering for file viewer"
This functionality already seems to be implemented in the Wiki pages of OSF, but I feel that OSF file rendering would be equally beneficial. Please review my report below. Thank you for your consideration.

#### Steps

1) Go to a Project component.
2) Go to the Files tab.
3) Add a LaTeX (.tex) document to the OSF store.
4) View the file (with selected the "View" tab).
5) The contents of the file a

[2016-02-03 18:50] GaryKriebel commented on #4977
Thanks @adamjcook!

@sloria, who should review the code?

[2016-02-04 19:19] felliott commented on #4974
Hey @TomBaxter,

Looking at this, I think there are two issues.  First, we want to require the programmer who calls `add_hook` to specify which event they're creating a hook for.  We shouldn't be guessing for them.  So perhaps we should throw an error if `events is None`.  Secondly, did you note which bit of code was calling `add_hook` without providing an event list?  Wherever it is, it shouldn't

[2016-02-04 19:43] TomBaxter commented on #4974
Will do. Traveling with my wife today and tomorrow, but will work it as
soon as I'm back.

Thanks, Tom
On Feb 4, 2016 2:19 PM, "Fitz Elliott" <notifications@github.com> wrote:

[2016-02-04 20:11] felliott commented on #4974
Hey @TomBaxter,

Sorry, I just saw on our internal issue tracker that this has been identified and assigned.  I'll let them know about this ticket so they can close it when it gets merged.

Cheers,
@felliott

[2016-02-04 20:27] TomBaxter commented on #4974
Nice! Thanks.
On Feb 4, 2016 3:14 PM, "Fitz Elliott" <notifications@github.com> wrote:

[2016-02-04 20:52] mfraezz commented on #4974
@felliott, the refactor hasn't gone in yet. There should only be one call that specifies the list of events; `add_hook` on the `GitHubNodeSettings` model. This doesn't accept `events` as a kwarg and passes in the event list (`['push']`) defined in `addons/github/settings`. I don't see anywhere else on `develop` or `master` calling the `github/api` method, which is called by the one on the model.

[2016-02-08 14:49] mfraezz commented on #4974
Confirmed with @TomBaxter, fixed when #4936 was merged into develop. This issue can be closed @sloria

[2016-02-08 14:59] #4974 closed

[2016-02-08 18:59] sloria commented on #4977
AFAIK, LateX rendering has not yet implemented. This would need to be implemented into MFR, so @felliott would be the one to review.

[2016-02-10 15:37] machow opened #5014 "Registration with github counts contributions to non-master github branches"
Steps
-------
1. Link repository to osf project
2. Commit to master branch and another branch of repo
3. Register osf project

Expected
------------

OSF contribution count will reflect contributions made to files available in the registration. Since the master branch on github appears to be the only one that is archived, I would expect that only contributions to that branch are counted.

**Contri

[2016-02-19 15:28] samanehsan commented on #2298
This is fixed in production now.

[2016-02-19 15:28] #2298 closed

[2016-02-19 15:29] samanehsan commented on #287
Closing this since the blue tab was removed with recent commenting UI changes and replaced with a conversation bubble icon on the nav bar.

[2016-02-19 15:29] #287 closed

[2016-02-19 15:40] samanehsan commented on #1083
This is fixed on production now

[2016-02-19 15:40] #1083 closed

[2016-03-08 15:40] erinmayhood commented on #4168
Closing - new dashboard view changes onboarding experience.

[2016-03-08 15:40] #4168 closed

[2016-03-08 15:41] #4091 closed

[2016-03-08 15:46] #4787 closed

[2016-03-08 15:47] erinmayhood commented on #4787
Closing for now. @suchow please let us know if you have more questions.

[2016-03-08 15:48] #3931 closed

[2016-03-08 15:48] #3932 closed

[2016-03-08 15:49] #3938 closed

[2016-03-08 15:51] erinmayhood commented on #3981
Done.

[2016-03-08 15:51] #3981 closed

[2016-03-08 15:52] erinmayhood commented on #4016
Fixed.

[2016-03-08 15:52] #4016 closed

[2016-03-08 15:53] erinmayhood commented on #4017
Fixed with registrations changes.