[2015-04-13 21:50] #728 closed

[2015-04-14 00:11] lbanner commented on #2470
Good find @sloria -- though an edge case, there are likely others out there similar to this -- We should look into a catch here @lyndsysimon -- Thanks.

[2015-04-14 13:07] chennan47 commented on #2470
Talked with @sloria yesterday. Actually we can write a migrate script to
fix this problem.

On Mon, Apr 13, 2015 at 8:11 PM, LarryB <notifications@github.com> wrote:

[2015-04-14 13:17] GaryKriebel commented on #2470
Sounds great, @chennan47 .... are you writing that script or someone else?

[2015-04-14 13:29] jlcohoon commented on #2470
@sloria it worked!

[2015-04-14 13:56] nicipfeiffer opened #2480 "[Staging & Production] Google Drive Folders: incorrect error handling with file upload to deleted folders"
## Steps
1. Go to a project you have admin privileges on
2. Configure the Google Drive Add-on
3. Import Access token
4. Link a folder with no files in it
5. Log in to Google Drive in a separate tab
6. Delete the folder that you have linked on the OSF project
7. Go to the trash folder in GDrive
8. Click on the folder again
9. Click to 'permanent delete' the folder, confirm
10. Return to the OSF pro

[2015-04-14 15:40] samanehsan commented on #1083
@nanchen47, why was this issue closed? It's still a problem on staging & production.

[2015-04-14 15:42] lbanner commented on #1083
Yeah -- this is still pending w/ @huangginny 's fix -- I reopened -- TY

[2015-04-14 15:59] nicipfeiffer opened #2482 "[Staging & Production] User Profile: Auto-Fill does not update the Name Fields"
## Steps
1. Log in to osf.io
2. Go to the user settings page
3. Click on 'Profile Information'
4. Make a change to the 'Full Name' field at the top
5. Click the 'Auto-Fill' button
6. Click to Submit the changes
7. Refresh the page

## Expected
The changes made in the Full Name field would auto-filled name fields below for Given Name, Family Name, Middle Name, etc

## Actual
Clicking the 'Auto-Fill

[2015-04-14 16:02] GaryKriebel commented on #2470
Will keep this open until the script is completed and run.

[2015-04-14 16:03] GaryKriebel commented on #2480
@nicipfeiffer staging / production / both ?

[2015-04-14 16:05] nicipfeiffer commented on #2480
@GaryKriebel It happens on both.

[2015-04-14 16:39] samanehsan commented on #913
This issue is the same as #2317, which has been resolved.

[2015-04-14 16:39] #913 closed

[2015-04-14 17:18] sloria commented on #2455
This is fixed. All contributor names will show up under creators now.

[2015-04-14 17:18] #2455 closed

[2015-04-14 18:16] samanehsan commented on #828
Closing since users can now add multiple emails associated with their account on the OSF, and change which one of those emails is the "primary" email. Thanks again for reporting this issue @eplebel!

[2015-04-14 18:16] #828 closed

[2015-04-14 18:20] samanehsan commented on #879
This has been resolved by the new login form, which does not have a field to enter two-factor auth by default.

[2015-04-14 18:20] #879 closed

[2015-04-14 19:00] samanehsan commented on #492
Closing, since admins now have view-only access to all components in a project.

[2015-04-14 19:00] #492 closed

[2015-04-14 19:07] samanehsan commented on #922
The wiki interface has changed significantly, so this is no longer an issue. With the current interface, the wiki title is in a prominent location and can be edited by clicking on it:
![screen shot 2015-04-14 at 11 16 27 am](https://cloud.githubusercontent.com/assets/6414394/7145061/8e4aefac-e2b7-11e4-954f-b68d6020c51c.png)

[2015-04-14 19:07] #922 closed

[2015-04-14 19:14] samanehsan commented on #1122
Closing since we are now using treebeard in production, which lazy-loads nested folders

[2015-04-14 19:14] #1122 closed

[2015-04-14 19:17] samanehsan commented on #1020
Closing, since users can now view previous versions of wiki pages.

[2015-04-14 19:17] #1020 closed

[2015-04-14 19:36] caileyfitz opened #2486 "[staging & production] Citations widget not updated until refresh after DOI creation"
# Steps
1. Go to a project that you have admin on
2. Make a registration of the project
3. Make the registration public
4. Go to the project overview page for the registration
5. Click 'Create DOI/ARK' in the Identifiers widget
6. Confirm that a DOI/ARK is now shown after Identifiers on the project overview page
7. Go to citations widget on project overview page, click to expand

# Expected
I expe

[2015-04-14 19:42] caileyfitz opened #2487 "[staging & production] Unclear on how to resend email confirmation"
# Steps
1. Log into staging
2. Go to the user settings page
3. Click on Account Settings
4. Add an email address that is not already associated with your account
5. Check that it is added to the list of Unconfirmed Emails
6. Go to your email and delete the confirmation email
6. Input the same email address again and press 'Add Email' to resend confirmation email

# Expected
I think it would be hel

[2015-04-14 20:07] sloria opened #2488 "Add loading indicator while DOI/ARK is being created"
Creating a DOI/ARK can take several seconds, during which the user gets no feedback and the "Create DOI/ARK.." link is still clickable. It would be good to give the user some feedback that work is being done.

[2015-04-14 20:17] nicipfeiffer opened #2489 "[SHARE]: Truncate page length to reduce white space on page"
## Steps
1. Go to https://osf.io/share/registration/
2. Click to 'Register as a Provider'
3. Enter a valid name and email, click 'Next'
4. Check all of the checkboxes, click 'Next'
5. Enter a valid name in the 'Name of your organization (required)' field
6. Enter 'cos.io' in the 'Base URL (required)' field
7. Enter some text in the 'Description of your organization (required)' field
8. Click 'Next

[2015-04-15 03:01] #2482 closed

[2015-04-15 13:18] lbanner commented on #2460
@jlcohoon -- this on Production, I assume? @nicipfeiffer -- can you replicate? Thanks.

[2015-04-15 13:21] lbanner commented on #2459
Probably the case that those Permission settings are not auto-saved; They are saved when you click "submit" -- Given potential security aspects, I'd suggest we at least offer up some direction/warning on this -- unless some dev has a clever auto-save solution?

[2015-04-15 13:45] lbanner commented on #2487
@chennan47 Do you want to take this on now as an enhancement to the multiple email functionality? Thanks -

[2015-04-15 13:47] lbanner commented on #2486
I think this will have to function in this manner -- Citations are generated based on a call of some sort, so a refresh will be required. But it is good thinking re: better usability, so I'll defer rather than close. Thanks.

[2015-04-15 13:51] samchrisinger commented on #2486
This might be a very quick fix. I believe we're already loading this asynchronously.

[2015-04-15 13:51] lbanner commented on #2480
@nicipfeiffer When you "Return to the OSF project with the now deleted GDrive folder linked" did you refresh the page? We may be able to improve the error messaging, but there'd be no way for the page to know the folder was deleted unless you refresh. Now if you refresh and the deleted folder is still there -- that is a problem.

[2015-04-15 13:52] lbanner commented on #2486
I'll take your word on that -- Let me know what you find out. Thanks.

[2015-04-15 13:58] samchrisinger commented on #2486
Should be as simple as calling ViewModel#fetch: https://github.com/CenterForOpenScience/osf.io/blob/develop/website/static/js/citationList.js

[2015-04-15 13:59] lbanner commented on #2486
Want it? -- or maybe @chennan47 ? Thank you!

[2015-04-15 14:00] nicipfeiffer commented on #2460
@lbanner I was able to replicate the issue on Production and Staging

[2015-04-15 14:00] samchrisinger commented on #2486
If @chennan47 isn't busy, that'd be great.

[2015-04-15 14:08] nicipfeiffer commented on #2480
@lbanner Yes, the folder is still showing in the grid after refresh.

[2015-04-15 14:10] lbanner commented on #2480
Uh Oh ... OK. Thanks.

[2015-04-15 14:28] lbanner commented on #12
Note @lyndsysimon PR: [WIP] [feature] Account deactivation #2165

[2015-04-15 14:32] nicipfeiffer commented on #2480
@lbanner The folder shows only after deletion, if it is the selected folder in the folder picker.

[2015-04-15 14:44] lbanner commented on #89
@brianjgeiger -- Think this remains a desired functionality? TY

[2015-04-15 14:48] brianjgeiger commented on #89
Not at this point. If people want links to autolink, the Commonmark standard says to put them in angle brackets. This includes email addresses.

![screen shot 2015-04-15 at 10 47 22 am](https://cloud.githubusercontent.com/assets/6599111/7161413/ed0ef6be-e35c-11e4-9e13-d968a3bab3c2.png)

[2015-04-15 18:52] nicipfeiffer opened #2495 "[Production & Staging] Improve error handling for expired tokens in project settings for box add-on"
## Steps
1. Log in to staging or production
2. Go to a project you have admin access on
3. Go to the project settings
4. Authorize the box add-on and import an access token
5. Link a folder in the folder picker to the project
6. Confirm success message for the folder
7. Go to box.com
8. Click on your name in the upper right
9. Choose 'Account Settings in the dropdown list
10. On the account page,

[2015-04-15 19:20] sloria opened #2496 "No confirmation before removing alternate email"
Unlike other "destructive" actions on the site, clicking the "x" to delete an alternate email does not have any confirmation dialog.

[2015-04-15 19:23] lbanner commented on #2496
Good catch: @nanchen47 or @lyndsysimon ?

[2015-04-15 19:32] chennan47 commented on #2496
This is an easy fix. Will address this after I finished the disk storage
mode update.

On Wed, Apr 15, 2015 at 3:23 PM, LarryB <notifications@github.com> wrote:

[2015-04-15 19:36] lbanner commented on #2496
Thanks!

[2015-04-15 19:36] lbanner commented on #89
Great!

[2015-04-15 19:36] #89 closed

[2015-04-15 19:44] samchrisinger opened #2498 "No visible validation for create user form"
![screen shot 2015-04-15 at 3 42 38 pm](https://cloud.githubusercontent.com/assets/2207561/7167778/25f7617c-e386-11e4-9bcd-7d4cb7fbcc3a.png)

In the image above, my emails mismatch. I click 'Sign Up' but get no indication that my info is malformed.

Broken on Prod and Staging.

[2015-04-15 19:45] samchrisinger commented on #2498
@GaryKriebel @lbanner

This may be high priority.

[2015-04-15 19:49] lbanner commented on #2498
This introduced somehow new? -- or has it always been that way? @HarryRybacki This arena you coded in previously? -- got insight and/or do you want to take on? Thanks.

[2015-04-15 20:11] sloria commented on #2498
It's faint, but there is a red outline around the invalid email field. This should certainly be made more visible with an error message though.

[2015-04-15 20:14] lbanner commented on #2498
Yeah, that's awfully subtle :smile_cat:

[2015-04-15 20:14] nicipfeiffer commented on #2495
Also, the same happens with S3. Except the dropdown that is in the project settings instead of the folder picker is blank.
![screenshot 2015-04-15 16 11 24](https://cloud.githubusercontent.com/assets/9381062/7168267/1e9fc1fe-e38a-11e4-8fef-7d63512de7f5.png)

So, if the user did not know that the access token had expired, then they would go to the project settings and try to change the bucker linke

[2015-04-15 20:19] sloria commented on #2498
Looking into this.

[2015-04-15 20:33] HarryRybacki commented on #2498
I never got around to changing this section of the code. Has something changed or has it always been like this?

[2015-04-15 20:43] sloria commented on #2498
Error messages used to display next to the input fields.

[2015-04-15 22:32] #2498 closed

[2015-04-15 23:23] pdurbin commented on #1219
[Dataverse 4.0 is here!](http://datascience.iq.harvard.edu/blog/dataverse-40-here)

Unfortunately there was serious performance-related bug at https://github.com/IQSS/dataverse/issues/2012 I was [chatting with](http://irclog.iq.harvard.edu/dataverse/2015-04-14) @rliebz about. But now it's fixed!

This morning I tried following https://osf.io/getting-started/#dataverse with [my OSF account](https:/

[2015-04-15 23:31] rliebz commented on #1219
https://github.com/CenterForOpenScience/osf.io/pull/2426 will resolve this issue, but it is currently under review.

At the moment, our production site should still be linked to https://thedata.harvard.edu, but of course, this means that it is read-only. For an example of a working add-on, feel free to take a look at https://osf.io/hks4q/, but there are a few fixes and improvements still coming wi

[2015-04-16 03:53] #2496 closed

[2015-04-16 14:29] #2488 closed

[2015-04-16 14:32] lbanner commented on #2495
@samchrisinger ... wonder if you are overcoming this user issue w/ #2414?

[2015-04-16 14:35] samchrisinger commented on #2495
This feels beyond the scope of that PR.

We might address this in a number of places, but likely each of the addons' node-settings javascript will need to incorporate some better error handling.

[2015-04-16 14:46] lbanner commented on #2495
OK

[2015-04-16 14:47] evomellor opened #2505 "Zotero Group Library integration"
Currently, only personal Zotero libraries are supported in OSF, but a great feature of Zotero over Mendeley is that their group collaboration libraries are free. When possible, please add support for Zotero group libraries. Thank you!

[2015-04-16 14:54] lbanner commented on #2505
Good thought -- on the list @evomellor -- Thank you.

[2015-04-16 14:55] Ghalko commented on #982
Recreated Ginny's changes. Logs in second person after logging out 1st. Should I submit a PR? Any more comments?

[2015-04-16 15:02] lbanner commented on #982
Updated #1015 @Ghalko ? Yes, looks like consensus and other practice says go with   'Logs in second person after logging out 1st.'

[2015-04-16 15:41] Ghalko commented on #1321
What browser is the overlap happening in?
- Chrome: No overlap, when hitting the end of scrolling for comment pane it immediately starts scrolling the main page.
- Firefox: Same as chrome except with a delay between reaching the end of the comment pane and main page scrolling.
- Safari: No overlap, but the scrolling issues are interesting: Initially it is similar to chrome, but if direction is cha

[2015-04-16 17:55] caileyfitz opened #2509 "[staging & production] Google Drive deletion logs do not handle non-ascii characters"
# Steps
1. Log into staging
2. Go to a project on which you have admin access
3. Go to the settings tab
4. Enable and configure Google Drive for the project
5. Go to the files tab
6. Upload a file with non-ascii characters in the file name to Google Drive
7. After successful upload, delete the file from Google Drive
8. Go to the project overview page and look at the log

# Expected
I expect that t

[2015-04-16 17:57] caileyfitz commented on #2509
This also affects folder names in Google Drive:
![screen shot 2015-04-16 at 1 57 03 pm](https://cloud.githubusercontent.com/assets/5975444/7187698/81fc46e4-e440-11e4-8fdb-5a2e5af4c759.png)

[2015-04-16 18:51] ginavuu opened #2511 "[Staging and Production] Some Files are Rendering and Extending Pass the Window"
#Steps
1. Go to https://staging.osf.io/f6wxz/

#Expected
The file should render so that everything is within the window without needing to scroll like a normal word doc

#Actual
Some files render with lines extending pass the window.

![extended](https://cloud.githubusercontent.com/assets/11032617/7188705/c3bd2eac-e447-11e4-9ac7-fcf4fa621c62.PNG)

[2015-04-16 19:49] caileyfitz commented on #2511
Also happening for me on production!!
![screen shot 2015-04-16 at 3 48 56 pm](https://cloud.githubusercontent.com/assets/5975444/7189878/1c4b4cae-e450-11e4-9bda-2a79e623de07.png)

[2015-04-16 21:47] chennan47 commented on #2480
Although the folder is removed in google drive, it just moved to the Trash tab and you still have the option to restore it or delete forever. You can still see that folder in OSF file page and upload files to it. When that folder is restored from trash tab, the files you upload through OSF are inside it.

However, if you delete that folder forever from google drive trash tab. You still can see the

[2015-04-17 11:41] pdurbin commented on #2474
I'm hoping #2426 can be merged soon. @rliebz has done some fantastic work. See also #1219.

[2015-04-17 13:40] Ghalko opened #2514 "Public Profile Plus Sign"
## Steps
1. Go to public profile with at least one project.
2. Click on the '+'

## Expected
Displays recent activity

## Actual
Displays only the string "A user"

[2015-04-17 13:48] #2467 closed

[2015-04-17 14:07] Ghalko commented on #1576
![screen shot 2015-04-17 at 10 06 50 am](https://cloud.githubusercontent.com/assets/5169088/7203568/7ffd4f2e-e4e9-11e4-9179-b183766cc288.png)

Mako solution.

[2015-04-17 14:13] brianjgeiger commented on #2511
Once again wondering if we can come up with a generalized solution for this. It happens 2 or 3 times per epic with various renderers. Possibly the MFR refactor will fix, or possibly not, but we should probably put some effort to ending this properly.

[2015-04-17 14:15] caileyfitz opened #2516 "[staging & production] No loading indication for figshare importing access token"
# Steps
1. Log into either staging or production
2. Go to user settings > select add-ons
3. Enable figshare
4. Create an access token (if one is not already created)
5. Go to a project on which you have admin access
6. Go to the settings page for that project
7. Enable figshare
8. Press *Import Access Token* for figshare

# Expected
Pressing *Import Access Token* should import figshare's access to

[2015-04-17 14:19] brianjgeiger commented on #2459
Or when we re-work this page so that it doesn't require batching everything, we could also find an in-line way to add contributors rather than using a modal dialog box.

[2015-04-17 14:20] brianjgeiger commented on #2456
There should be something we can do. That's an odd thing.

[2015-04-17 14:21] Ghalko commented on #2459
Any suggestions for examples or sites for inlining everything @brianjgeiger ? I was going to take this on. Thinking that the back button was going to be a hassle, but if we just want to redo the whole thing?

[2015-04-17 14:23] GaryKriebel commented on #2514
@Ghalko ..... what browser .... and perhaps a screenshot?  I don't seem to be getting the error in Chrome, but I may also not be testing the same way you did.

[2015-04-17 14:24] brianjgeiger commented on #2456
Interesting. This seems to be browser-specific, as Safari is fine with it. Although I'm having a hard time replicating with Chrome as well. I can get the navbar to pull away from the top of the window in Chrome, but it always shows the "background" from chrome rather than our web content underneath.

[2015-04-17 14:40] Ghalko commented on #2514
Changed issue to match production and staging issue.

[2015-04-17 14:51] brianjgeiger opened #2517 "Login from home page does not work with 1Password"
Steps
-------
1. On a machine with 1Password (and possibly other password managers, though not LastPass(see comments)), log out.
2. Go to https://osf.io/
3. Hit command-\ to fill in password

Expected
------------
Sign-in fields would be filled in.

Actual
--------
Login fields are filled in.

![screen shot 2015-04-17 at 10 49 14 am](https://cloud.githubusercontent.com/assets/6599111/7204374/95727

[2015-04-17 14:54] GaryKriebel commented on #2514
I'm not sure what is going on with this issue.  I see that behavior on both stating and productions, but no my local instance.

[2015-04-17 15:08] caileyfitz opened #2518 "[staging & production] figshare file downloads do not keep name"
# Steps
1. Log into staging or production
2. Go to a project on which you have admin access
3. Go to the settings page for that project
4. Enable figshare and configure for project by linking a folder
5. Go to the files tab
6. Click on a file to view it in the files detail page
7. Click on the download button on the right hand of the screen to download the file
8. Go back to the files tab
9. Click

[2015-04-17 15:12] GaryKriebel commented on #2517
@brianjgeiger ... is this browser specific with 1Password?

[2015-04-17 15:13] GaryKriebel commented on #2517
LastPass fills in the information in the correct place, BTW.
![screen shot 2015-04-17 at 11 11 44 am](https://cloud.githubusercontent.com/assets/9437946/7204765/ba3888ee-e4f2-11e4-8940-5a41e908805c.png)

[2015-04-17 15:13] brianjgeiger commented on #2517
Could very well be. 1Password is the only password manager I use.

[2015-04-17 15:18] sloria commented on #2517
Hm, been using 1Password on the OSF, and it's been working correctly.

[2015-04-17 15:18] brianjgeiger commented on #2517
Okay, I'll try updating.

[2015-04-17 15:28] caileyfitz opened #2520 "[staging & production] Project deletion logs incorrectly list file name for figshare"
Probably related to #2509

# Steps
1. Log into staging or production
2. Go to a project on which you have admin access
3. Go to the settings page for that project
4. Enable figshare and configure for project by linking a folder
5. Go to the files tab
6. Upload a new file to figshare
7. After upload, click the red x to delete the file you just uploaded
8. Confirm that you want to delete the file
9.

[2015-04-17 15:29] sloria commented on #1576
@Ghalko Showing `None` looks awkward--sort of looks like a programmer error. How about just hiding the "Public Components" and "Public Projects" headers? ping @JeffSpies

[2015-04-17 15:31] nicipfeiffer commented on #2514
I am also seeing this on staging and production.
![screenshot 2015-04-17 11 30 49](https://cloud.githubusercontent.com/assets/9381062/7205163/4158b090-e4f5-11e4-9b86-9f28d9b637a3.png)

[2015-04-17 15:36] brianjgeiger commented on #1576
Alternately, we could encourage users to make a public component or project, and maybe have a link to why they would want to do so.

[2015-04-17 15:37] sloria commented on #1576
@brianjgeiger If you're viewing your own profile, then we could that. But what if you're viewing someone else's profile?

[2015-04-17 15:39] brianjgeiger commented on #1576
Good point. Yeah, hiding is best, unless we have some really top-knotch "Here's why public is awesome" copy. But probably hiding.

[2015-04-17 15:39] GaryKriebel commented on #1576
"This user has no Public Components"?

[2015-04-17 15:49] GaryKriebel commented on #2514
Well... I WASN"T seeing it on my local system (@Ghalko saw it) .... I AM seeing that behavior on my local system now with latest develop.

![screen shot 2015-04-17 at 11 48 49 am](https://cloud.githubusercontent.com/assets/9437946/7205493/bc177f26-e4f7-11e4-98dd-e76749e9da4c.png)

If I pull @HarryRybacki "add_registration_retraction" code, it DOES work.

![screen shot 2015-04-17 at 11 47 12 am](ht

[2015-04-17 15:55] caileyfitz opened #2521 "[staging & production] Creating access token for Box gives 403 Forbidden"
**This only happens for *some* projects... not sure the distinguishing features that cause this to fail**

# Steps
1. Go to user settings and delete the access token for Box
2. Go to a project on staging where you have admin access
3. Enable Box
4. Click to create an access token
5. Go through the steps to allow OSF access
6. Press 'Grant access to Box' to authorize OSF access to Box

# Expected
I

[2015-04-17 16:01] pdurbin commented on #1219
I didn't realize that demo of the Dataverse Add-On existed! Neat! But! From what I can tell it's using http://thedata.harvard.edu/dvn/dv/cos/faces/study/StudyPage.xhtml?globalId=doi:10.7910/DVN/26601 which is pretty clearly a demo dataset. We are in the process of deleting this dataset in the production Dataverse 4.0 installation at Harvard ( https://dataverse.harvard.edu/dataset.xhtml?persistentI

[2015-04-17 16:01] Ghalko commented on #1576
"This user has no Public Components. Make your components public!" (link to instructions on how to make the public components.)

[2015-04-17 16:30] brianjgeiger commented on #1576
No, if it's on someone else's profile, it would seriously have to make them reconsider the whole notion of closed science to make it worth trying to redirect someone from viewing another person's profile to changing their own project settings. Without something that amazing, hiding the column makes the most sense, I think.

[2015-04-17 16:37] Ghalko commented on #1576
Truly amazing? Who can we source to write truly amazing copy?

[2015-04-17 16:37] brianjgeiger commented on #1576
No idea, so Steve's suggestion is probably the way to go.

[2015-04-17 17:56] caileyfitz opened #2522 "[staging & production] Cannot authorize Google Drive for a project"
**This only happens for *some* projects... not sure the distinguishing features that cause this to fail**

# Steps
1. Log into either staging or production
1. Go to user settings and delete the access token for Google Drive
2. Go to a project on staging where you have admin access
3. Enable Google Drive
4. Click to create an access token
5. Go through the steps to allow OSF access
6. Press 'Accept

[2015-04-17 18:58] brianjgeiger commented on #2517
No still happens to me. To be clear, this only happens on the OSF home page (and possibly the sign-up page, if there's a separate one).

[2015-04-17 19:07] JeffSpies commented on #1576
I think I prefer "This user has no public projects". If it's the user
looking at their own profile, "You have no public projects. Find out how to
make your projects public."

J.

On Fri, Apr 17, 2015 at 12:37 PM, Brian J. Geiger <notifications@github.com>
wrote:

[2015-04-17 21:24] sloria commented on #1576
Sounds good. @Ghalko Can you send a new PR implementing @JeffSpies' suggestion?

[2015-04-18 02:14] lbanner commented on #2522
@chrisseto @sloria -- Is this a regression due to any recent changes/deployments -- Insight? Hate to repeat again. Thanks.

[2015-04-18 02:30] lbanner commented on #2474
Agreed @pdurbin -- working it in --- and appreciate the support you have provided here! Thanks!

[2015-04-18 02:36] lbanner commented on #2521
Given the inconsistency -- is it possible this is an error coming out of BOX? or the BOX connection?

[2015-04-18 02:46] lbanner commented on #2520
I think some work has been done to translate number designations for certain add-ons to names, yes? -- possibly we have not captured all instances.

[2015-04-18 02:49] lbanner commented on #2511
Still exits on Production with .xlsx files as well -- and is noticeable as well w/new File-Index-View functionality..

[2015-04-18 02:51] lbanner commented on #2480
@chennan47 Do you think we can clean this communication up further? At least such that, if you delete the folder forever from google drive trash tab, after refresh on OSF, the folder will not longer exist?

[2015-04-18 17:39] chennan47 commented on #2520
This is a waterbulter problem. Maybe @chrisseto has made some changes https://github.com/CenterForOpenScience/osf.io/blob/develop/website/addons/figshare/model.py#L206 the metadata comes back from waterbulter only has {'path': 'file id/id'} in it.

Another related problem is that if you have figshare enabled on production or staging. Link some figshare folder and visit file page. You will get an e

[2015-04-18 18:59] nanchen47 commented on #2470
The script has already been merged into produciton.

[2015-04-18 18:59] #2470 closed

[2015-04-18 19:04] nanchen47 commented on #2363
The fix by @caneruguz has been merged and deployed. Checked on production. This problem doesn't exist anymore.

[2015-04-18 19:04] #2363 closed

[2015-04-18 21:07] nicipfeiffer opened #2529 "[Staging & Production] DOI/ARK registration log has extra 'and'"
## Steps
1. Log in to production
2. Go to https://osf.io/awvmd/
3. Scroll down and view the log on the registration

## Expected
I would expect the log to list the DOI and ARK created and have no other 'and' after.

## Actual
There is an extra 'and' after list the DOI and ARK that was created on the registration.

![screenshot 2015-04-18 17 01 50](https://cloud.githubusercontent.com/assets/9381062

[2015-04-19 02:30] lbanner commented on #2363
:+1: Thanks all.

[2015-04-19 02:32] lbanner commented on #2520
@chrisseto  Your insight here: Should this be posted to WaterBulter Issues?

[2015-04-19 14:52] caneruguz commented on #2456
I tried to replicate it too and it seems like when a lot of content is on the page it does lag.

My best guess is that as the element size in the page increases (with the number of items) the scroll height increases so a fast scroll needs a very quick repainting which depending on the machine the browser might not be able to catch up with. This is just a guess though. The chart below does show tha

[2015-04-19 15:37] caneruguz commented on #2307
@sloria and @lbanner what's the status on this? It looks like the changes are not merged.

[2015-04-20 13:50] nicipfeiffer opened #2530 "[Production] [Presentation Service] Listed as a contributor on projects and has Profile"
## Steps
1. Log into production
2. Go to https://osf.io/rsfbq/
3. Look at the contributors listed on the project
4. Hover over the 'Presentation Service' contributor. Notice the tooltip.
5. Click on the magnifying glass in the navbar to search
6. In the search bar enter 'Presentation Service'
7. Click on the users filter on the left
8. Click on the user 'Presentation Service'
9. Click on the only

[2015-04-20 13:51] nicipfeiffer commented on #2530
Linking this issue, as it mentions similar findings. https://github.com/CenterForOpenScience/osf.io/issues/2447

[2015-04-20 14:13] nicipfeiffer opened #2532 "[Production] [Presentation Service] User Profiles created from Spam to service"
## Steps
1. Go to osf.io
2. Click on the magnifying glass in the navbar
3. Enter 'seo' in the search bar
4. Click on Users to see the users returned

## Expected
That spam to the presentation service would not create user profiles

## Actual
Spam to the presentation service is creating user profiles

![screenshot 2015-04-20 09 55 06](https://cloud.githubusercontent.com/assets/9381062/7231462/590e5

[2015-04-20 15:33] lbanner commented on #2532
Ugh ... that is not good at all! Can we assume that is is "Spam to the presentation service" ? -- or might there be other ways a spam account can be created. I set priority High for this @sloria -- insight?

[2015-04-20 17:36] sloria commented on #1141
@JeffSpies It might make sense to prevent crawling of API endpoints (`/api/*`)?

[2015-04-20 19:45] caileyfitz opened #2535 "[staging & production] Plus sign for Create a Project is misaligned"
# Steps
1. Log into staging or production
2. Look at the onboarder to the right of the project organizer

# Expected
I expect all UI to be consistent.

# Actual
The plus sign next to **Create a Project** is misaligned: it should be at the top of the box, rather than the bottom. All other plus/minus signs are aligned at the top of their boxes:
![screen shot 2015-04-20 at 3 44 34 pm](https://cloud.g

[2015-04-20 20:25] lbanner commented on #2307
@sloria and @caneruguz - Has this been reviewed? Can we tag w/release 0.34.0? If it is not a HotFix.

[2015-04-20 20:26] lbanner commented on #2456
We have other more pressing issues -- I am going to defer. Thanks all.

[2015-04-20 20:33] caileyfitz opened #2536 "[staging & production] Empty folders have '+' in project overview and files tab"
Reported by @nicipfeiffer on the 0.32 Trello board:

## Steps
1. Create a new project
2. Go to the files tab
3. Click on the '+' to create a new folder in OSF storage folder
4. Submit
5. Return to the files tab
6. Look at the symbol preceding the folder name

## Expected
A new folder would have no files inside, and therefore would not have '+' preceding it.

## Actual
The new folder with no conten

[2015-04-20 20:35] caileyfitz opened #2537 "[staging & production] Google Drive folder names with special characters, ([]()#&<>) listed incorrectly in folder picker"
## Steps
1. Go to a project that you have admin priveleges on
2. Go to the project settings tab
3. Authorize the Google Drive Add-on, import access token, link a folder/repo/bucket/project
4. Go to the files tab
5. In the Google Drive folder, click on the '+' to create another new folder
In the modal
6. Enter the name of the folder using '&' in the name
7. Click Ok
8. Look at the project log
9. Go

[2015-04-20 20:36] caileyfitz opened #2538 "[staging & production] [feature request] Clicking on a component file in file tree eliminates parent project folders from tree"
Reported by @nicipfeiffer on the 0.32 Trello board:

## I think this is consistent behavior with other parts of the site, but want to point it out as this is a new feature and we may be able to improve user experience!

## Steps
1. Go to a project that has at least one component
2. Go to the files tab for the parent project
3. Click to View a file
4. Click on a component file in the file tree
5. L

[2015-04-20 20:36] brianjgeiger commented on #2536
Quick note: Implementing the FileTree (which is a currently a requirement for the V2 API) will fix this issue. The File Tree, only roughly defined so far, is essentially a cache of a project's entire file structure (although cache might not be the correct word). Once we have this, we should also have the count of items in the folders. There will be times when this information is out of date, but i

[2015-04-20 20:37] caileyfitz opened #2539 "[staging & production] Box does not list deleted folder name"
# Steps
1. Go to a project that you have admin priveleges on
2. Go to the project settings tab
3. Authorize the Box Add-on, import access token, link a folder
4. Go to the files tab
5. In the Box folder, click on the '+' to create another new folder
6. Enter the name of the folder
7. Click Ok
8. Now, delete the folder
9. Look at the project log

# Expected
The project log would list the name of th

[2015-04-20 20:43] samanehsan commented on #2535
Closing, since this is a repeat of #2062

[2015-04-20 20:43] #2535 closed

[2015-04-20 20:45] lbanner commented on #2535
Thank you - Good catch.

[2015-04-21 13:14] rliebz commented on #2474
The read-only issue is resolved, but we will still run into some unintuitive behaviors while https://github.com/IQSS/dataverse/issues/1784 is still open.

Essentially, after publishing a dataset, you have to upload at least one file before you can delete any files.

[2015-04-21 13:14] Ghalko commented on #1576
![screen shot 2015-04-21 at 8 53 57 am](https://cloud.githubusercontent.com/assets/5169088/7252915/d41a0dde-e806-11e4-83c2-ce2d3e60d5cb.png)

[2015-04-21 13:16] rliebz commented on #2224
With the release of Dataverse 4.0, it would be worth taking a look to see if this is still an issue. I have not yet run into this while testing 4.0 functionality.

[2015-04-21 13:18] lbanner commented on #1576
Looks good! @JeffSpies can you confirm? Thanks.

[2015-04-21 13:20] lbanner commented on #2224
@caileyfitz Can you try to replicate this? If all seems well now, we can close. Thanks.

[2015-04-21 13:21] rliebz commented on #1673
I have checked several .jpg files and have not been able to reproduce this issue with Dataverse 4.0.

[2015-04-21 13:24] lbanner commented on #1673
Cool -- I will close. TY

[2015-04-21 13:24] #1673 closed

[2015-04-21 13:24] rliebz commented on #1491
I have been unable to reproduce this issue with Dataverse 4.0 now on Waterbutler.

[2015-04-21 13:25] chrisseto commented on #1491
@caileyfitz This should be resolved now, can you double check?

[2015-04-21 13:27] rliebz commented on #1219
Resolved by #2426.

[2015-04-21 13:35] lbanner commented on #1219
Cool -

[2015-04-21 13:35] #1219 closed

[2015-04-21 13:37] caileyfitz commented on #1491
Not seeing this problem anymore :whale:

[2015-04-21 13:37] brianjgeiger commented on #2517
I have just verified with @sloria that he does have the same problem that I do.

[2015-04-21 13:40] caileyfitz commented on #2224
@lbanner I can't try this because there is no horizontal scroll for the files grid and my Dataverse name is too long so I can't switch from Released to Draft :cry:

[2015-04-21 13:40] chrisseto commented on #1491
@nanchen47 Would you mind closing this?

[2015-04-21 13:48] rliebz commented on #2224
@caileyfitz Not sure if this helps, but you can resize the columns by dragging the lines in the title bar.
![screen shot 2015-04-21 at 9 47 38 am](https://cloud.githubusercontent.com/assets/5321575/7253555/9ac4f9d6-e80b-11e4-9340-c0e595d7d1a2.png)

[2015-04-21 13:50] caileyfitz commented on #2224
@rliebz My title is still too long :sob:
![screen shot 2015-04-21 at 9 50 00 am](https://cloud.githubusercontent.com/assets/5975444/7253591/d39c5452-e80b-11e4-9864-d2189d9cee1e.png)

[2015-04-21 13:54] nicipfeiffer commented on #2356
With the release to Dataverse 4.0 the file path for dataverse files has been changed to be like above.
Reported on the 0.33 Trello Testing board by QA:
## Steps
1. Click to view a dataverse file
2. Look at the breadcrumb information

## Expected Prior to the Release of Dataverse 4.0
The breadcrumb should give the user information about the file.  On production the breadcrumb path is:
Projectname /

[2015-04-21 13:56] chrisseto commented on #2356
Extra note: Most if not all path related issues, breadcrumbs and logs, will be resolved with the addition of moving/copying.

[2015-04-21 14:01] nicipfeiffer opened #2541 "[Production & Staging] Dataverse: Deleting a Published version of a file is allowed, but not really."
## Steps
1. Go to a project with dataverse configured
2. Click to view a published file that is also in draft version
3. Click on the delete button the files detail page
4. Confirm that you want to delete the file
5. Return to the Files tab
6. Look for the file in the grid under Published files

## Expected
Completing the steps to delete the published version of a file should not be allowed since

[2015-04-21 14:10] nicipfeiffer opened #2542 "[Production & Staging] Dataverse: Citation gives draft version after a published dataset"
## Steps
1. Go to https://osf.io/9jtkg/
2. Look at the dataverse widget
3. Notice the citation listed

## Expected
The citation to give accurate information about the dataverse dataset linked to the project

## Actual
 The citation has DRAFT VERSION at the end, indicating it is in a draft state and not published.  This is incorrect, the dataset it published
![screenshot 2015-04-21 10 09 16](https:

[2015-04-21 14:31] rliebz commented on #2542
It is actually only possible to access published citations consistently through the search API, which I don't think is a very viable solution—we'd have to check two endpoints, one of which is a search, and potentially still have to fall back on the draft citation.

I've opened up an issue at https://github.com/IQSS/dataverse/issues/2059 to see if they can provide a better option. For now, I recomm

[2015-04-21 14:47] caileyfitz commented on #2224
@rliebz @sloria @lbanner I am again not able to upload a file to Dataverse but am getting a 400 Bad Request.
![screen shot 2015-04-21 at 10 46 50 am](https://cloud.githubusercontent.com/assets/5975444/7254893/be271514-e813-11e4-8c56-ea72d82fd8d5.png)

[2015-04-21 15:22] JeffSpies commented on #1576
Looks good.

On Tue, Apr 21, 2015 at 9:18 AM, LarryB <notifications@github.com> wrote:

[2015-04-21 15:32] billyhunt opened #2543 "Bad Request from Profile when Going to Dashboard"
Steps
-------
1. Go to https://osf.io/dashboard/
2.  Look At Console

Expected
------------

No Error Message

Actual
--------
 On going to link already signed in, you get the following console message.

PUT https://osf.io/api/v1/profile/ 400 (BAD REQUEST)  jquery-1.11.2.min.js:4

With the response being

{"code": 400, "referrer": "https://osf.io/dashboard/", "message_short": "Bad request", "messa

[2015-04-21 15:33] chrisseto commented on #2521
@caileyfitz This may be fixed, Box was having API issues when this issue was created.
https://status.box.com/ shows everything as all green.

[2015-04-21 15:46] lbanner commented on #2521
I'm going to close for now. Thanks.

[2015-04-21 15:48] lbanner commented on #2543
Assume to be a js error on Production @billyhunt ?

[2015-04-21 15:49] lbanner commented on #2224
Hmmmm ... Dataverse issue or us?

[2015-04-21 15:53] lbanner commented on #2541
@nicipfeiffer After the steps above, is the Published file still visible? But not any longer the Draft file?

[2015-04-21 15:54] brianjgeiger commented on #2543
I can't think of any reason why anything on the dashboard should be trying to PUT to the user profile route at all, much less just for loading the dashboard page.

[2015-04-21 15:54] lbanner commented on #2356
OK .... moving/copying is in an upcoming release. How about we HOLD on this for now .... until then.

[2015-04-21 15:55] Ghalko commented on #1101
@lbanner, I can move Ginny's changes to the current repository and submit a pull request.

[2015-04-21 15:55] lbanner commented on #2543
Anyone want to replicate and examine the output?

[2015-04-21 15:56] rliebz commented on #2224
Dataverse. This issue is occurring for pre-existing datasets that do not meet metadata requirements for 4.0. I've filed an issue at https://github.com/IQSS/dataverse/issues/2062, although I'm not sure how easy this will be to resolve.

Two potential solutions if Dataverse does not resolve the issue quickly:
 1. When connecting a dataset, we warn the users and let them know the solution so they can

[2015-04-21 15:56] lbanner commented on #1101
OK good. Thanks.

[2015-04-21 15:58] lbanner commented on #2224
OK -- going to Defer for now -- @rliebz let's keep up-to-date on resolution (or not) from Dataverse.

[2015-04-21 15:58] lbanner commented on #1491
Got it -- Closed! TY

[2015-04-21 15:58] #1491 closed

[2015-04-21 15:59] brianjgeiger commented on #2543
Looks like it's coming from https://github.com/CenterForOpenScience/osf.io/blob/develop/website/static/js/pages/dashboard-page.js#L61-L68 to get the user's current timezone which is important for knowing when to send out notifications. It's complaining about the ID, so maybe it's trying to send the request before it has the ID, or perhaps it's not grabbing the proper ID. Should be fairly easy for

[2015-04-21 16:00] lbanner commented on #2543
TY

[2015-04-21 16:03] lbanner commented on #2536
HOLD'ing for now. TY

[2015-04-21 16:08] brianjgeiger opened #2545 "Requirements conflicts"
Steps
-------
1. invoke requirements
2. invoke requirements --addons
3. invoke requirements

Expected
------------
Any given module should be installed only once.

Actual
--------
Some modules are installed multiple times because different places are requesting different versions of the same modules. A couple of modules get installed every time because they are pointing at a github commit and.

[2015-04-21 17:01] nicipfeiffer commented on #2541
@lbanner Yes, the published file is still visible.  The draft file is now deleted.  The inconsistency, in my opinion, is that the user is completing the deleting action from the published file.  I think this is misleading.

[2015-04-21 17:02] nicipfeiffer opened #2547 "[Production] Dataverse: Improve download error handling"
## Steps
1. Go to https://osf.io/9jtkg/
2. Click on the files tab
3. Toggle the dropdown for the Dataverse folder to 'Draft'
4. Click on the file 'test_slide_pdf_1.pdf' to render
5. See the time out message
6. Click the green download button on the right

## Expected
If the file is unable to be rendered or downloaded, I would expect the user to get an informative error message as to the cause.

##

[2015-04-21 17:13] nicipfeiffer commented on #2547
Linking this issue, as it is related https://github.com/IQSS/dataverse/issues/2063

[2015-04-21 17:48] saradbowman opened #2549 "[bug][production] User name displays in anonymous view-only link"
*Steps*
1. Create anonymous view-only link for a project containing a file
2. Sign out, use view-only link to view project
3. contributor list and logs are anonymized, but user's name is NOT anonymized on file detail page

Here's a view-only link to a file of mine: https://osf.io/nh8t3/?view_only=d3f5970aab394228a7b7aad96aec1ad3

Reported on the help desk.

[2015-04-21 17:55] caileyfitz opened #2550 "[production] File tree jumpy when expanding folders"
Not a problem on staging - just production. @caneruguz says that he put in a fix for this, but for some reason production is still affected.

# Steps
1. Log into production
2. Go to a project on where multiple add-ons are authorized and configured
3. If there are not already folders within the add-ons, go to the add-on sites and add folders (and subfolders)
4. Click on a file in the files tab to v

[2015-04-21 19:20] caneruguz commented on #2550
I checked the master files and they have the latest treebeard commit (or at least same as develop).

Can we rule out a few things first:
- inv assets has run on production, or related treebeard install is done
- treebeard is not cached on  @caileyfitz's laptop

[2015-04-21 19:21] nicipfeiffer opened #2552 "[Production & Staging] ESearch: Does not give intuitively relevant results"
## Steps
1. Go to osf.io
2. Click on the magnifying glass in the navbar at the top of the page
3. Enter 'horse' into the search bar

## Expected
I have a public project by the name of 'horses', so I would expect to see that on the results page.  The project description also contains the word 'horse'.
![screenshot 2015-04-21 15 10 23](https://cloud.githubusercontent.com/assets/9381062/7260513/906c3

[2015-04-21 19:23] brianjgeiger commented on #2552
@nicipfeiffer Try doing a search for horse* and let me know what happens, please.

[2015-04-21 19:26] ginavuu opened #2553 "Published Dataverse files are not highlighting in file tree"
# Steps
1. Select and enable the Datverse add-on (user setting)
2. Configure add-on (user-setting)
3. Go to a project and import credentials
4. Configure add-on for the project (like one that is published)
5. Go to the files tab
6. Click on a file to view it in the file details page
7. On the file details page, look at the file tree

# Expected
I expect that the file being viewed would be highligh

[2015-04-21 19:29] fabianvf commented on #2552
This is strange. It looks like the search isn't wildcarding/fuzzy matching for some reason.

[2015-04-21 19:34] brianjgeiger commented on #2552
Lucene search syntax

[2015-04-21 20:04] brianjgeiger commented on #2552
![screen shot 2015-04-21 at 4 03 51 pm](https://cloud.githubusercontent.com/assets/6599111/7261478/0bc79650-e840-11e4-8e32-2dcc379d2c24.png)

[2015-04-21 20:10] jlcohoon opened #2554 "Show wiki delete button on hover"
<h4>Steps</h4>
1. Visit a component with at least 3 wiki pages
2. Click on a wiki page other than the home page
3. Hover over the title of another non-home-page wiki.

<h4>Outcome</h4>
1. When the user clicks on a wiki page, a trashcan shows up to the right of the name, allowing them to delete it.
2. When the user hovers over a wiki page title, the trashcan does not show up. This means that to del

[2015-04-21 20:21] brianjgeiger commented on #2554
Ideally, the wiki list will become a Treebeard instance just like the File View page is. Once that happens, this interface will be the same. That being said, making the change to the current version probably wouldn't be all that difficult if it's very troublesome the way it is now.

But ultimately, File View and Wiki will work exactly the same way before too long.

[2015-04-21 20:23] jlcohoon opened #2555 "Tabular file rendering not responsive; overlaps with file info"
<h4>Steps</h4>
1. Visit a tabular file (https://osf.io/8rvb3/, for example)
2. Reduce your window size to be 1400px wide or less

<h4>Outcome</h4>
1. The file rendering does not reduce in size as the window shrinks.
2. The file details sidebar on the right continues to move to the left as the window shrinks, and overlaps with the file rendering.
![screen shot 2015-04-21 at 11 05 42 am](https://clo

[2015-04-21 20:25] jlcohoon commented on #2554
I wouldn't think it's very troublesome right now—I suspect not many people have multiple wiki pages (though we could investigate that). If the wikilist will use Treebeard soonish, I'd consider that a resolution to this issue.

[2015-04-21 20:28] nicipfeiffer commented on #2552
@brianjgeiger shouldn't a project with 'horse' in the title be returning as a more relevant result than these others?

[2015-04-21 20:31] brianjgeiger commented on #2552
Possibly. The first question is, what's causing them to show at all? If they have horse things 200 times in the wiki, that might be one reason. I don't know, as I haven't looked at the projects closely at all.

[2015-04-21 20:52] chrisseto commented on #2549
Are you able to view the file?

[2015-04-21 20:57] GaryKriebel commented on #2549
I'm going to be no since @samchrisinger and I are both seeing this.
![screen shot 2015-04-21 at 4 56 23 pm](https://cloud.githubusercontent.com/assets/9437946/7262420/6f3cf6ba-e847-11e4-93e0-0deb8af09a4b.png)

[2015-04-21 20:57] lbanner commented on #2549
Was this an issue i.e. ability to see a user's name, even via anonymous link, in the file info / version bar before deployment of new file-index-view?

[2015-04-21 20:58] sloria commented on #2549
@chrisseto is currently writing a hotfix for this

[2015-04-21 21:47] chrisseto commented on #2549
Fixed via https://github.com/CenterForOpenScience/osf.io/pull/2558

[2015-04-21 21:49] #2549 closed

[2015-04-22 12:52] Ghalko commented on #1101
This will be even simpler to fix with #2196 when it is merged. Should I wait for merge?

[2015-04-22 14:01] lbanner commented on #1101
I would say so -- @sloria -- any chance we can review/merge #2196? Thanks.

[2015-04-22 14:04] chrisseto opened #2561 "Treebeard height doesn't expand to page height"
Treebeard should take advantage of the entire page rather than just leaving white space at the bottom.

Additionally could the footer be removed on the file page? It feels a bit cramped currently.

![osf___osfstorage_file_ops_files_and_downloads](https://cloud.githubusercontent.com/assets/5532905/7276288/a3f5d248-e8d6-11e4-9379-40fd23426f1e.png)

[2015-04-22 14:05] lbanner commented on #2555
Thank you @jlcohoon -- This is a known issue, but you articulate it well here -- If I can find the similar issue #, I'll tie this together. But meantime, I will leave this is a noted bug here.

[2015-04-22 14:08] lbanner commented on #2553
This maybe a know inconsistency with File-Index-View functionality?

[2015-04-22 14:08] jlcohoon commented on #2555
Ah sorry—found it #2254

[2015-04-22 14:10] lbanner commented on #2555
All good! Appreciate the find.

[2015-04-22 14:11] caileyfitz opened #2562 "[staging & production] Add warning about add-ons for anonymized links"
# Steps
1. Go to a project on which you have admin access
2. Go to the Settings tab and enable and configure Dataverse
3. Go to the project overview page to ensure that the Dataverse widget is present
4. Go to the Sharing tab
5. Click to create a view-only link
6. Check the Anonymize box and Submit to create the link
7. Open a private window
8. Paste the view-only link
9. Check that the link is an

[2015-04-22 14:13] lbanner commented on #2541
@rliebz Did your resolving commit here get merged into Production? Thanks.

[2015-04-22 14:22] rliebz commented on #2541
I'm bundling the commit with a few other changes, which includes a better distinction between draft/published files and some related permissions fixes. Still a WIP.

[2015-04-22 14:26] lbanner commented on #2541
OK cool :+1:

[2015-04-22 14:39] nicipfeiffer commented on #2552
@brianjgeiger and @fabianvf I did some investigating further.  And found that when I enter horse* into the search bar I get the following returns for projects:
 - Effects of Superstition and Adversity on Performance. Description: This project examines how superstition influences performance under normal and adverse conditions.

Doing search for horse on project returns = 0 on project overview page

[2015-04-22 14:44] lbanner commented on #2552
Are we sorting by "relevance" in search returns?

[2015-04-22 14:56] brianjgeiger commented on #2552
Essentially. We're using Elastic's relevance, and I think the Lucene query is feeding into that, based on the 45 seconds of research I've done. I expect, when implementation time comes, <http://jontai.me/blog/2013/01/advanced-scoring-in-elasticsearch/> will be important. But we will also need to decide what's important to us as far as search relevance. Some of this may come out of the Open Science

[2015-04-22 16:06] nicipfeiffer opened #2565 "[Production & Staging] User name updating inconsistencies"
## Steps for Project/Registration
1. Log in to osf.io
2. Go to a public project you have admin on.
3. Upload a file to OSF storage
4. Make a registration of the project
5. Go to the User Settings page/Profile Information
6. Make a change to your last name in the Full Name field, Submit.
![screenshot 2015-04-22 11 32 50](https://cloud.githubusercontent.com/assets/9381062/7278423/69d73428-e8e3-11e4-

[2015-04-22 17:31] caileyfitz commented on #2550
@caneruguz I opened an incognito window and found that I have this same problem there. Would this address the caching issue?

[2015-04-22 18:55] #1101 closed

[2015-04-22 19:20] sloria commented on #2469
@jlcohoon Does the UI in https://github.com/CenterForOpenScience/osf.io/pull/2528 satisfy the requirements for this issue?

[2015-04-22 19:24] #2463 closed

[2015-04-22 19:25] jlcohoon commented on #2469
@sloria Looks like it to me!

[2015-04-22 20:03] nicipfeiffer commented on #2256
@brianjgeiger You know of this issue, yes?

[2015-04-22 20:10] brianjgeiger commented on #2256
I saw when you put it in. That's not as important as having the public projects and components, but I think it would probably help our SEO by providing links between a user and existing services, but also for being able to find you by specifying what school you went to or your employment history.

So yes, I think it would be a good thing to fix. I'm not sure how much work it would be or the priori

[2015-04-22 20:29] nicipfeiffer commented on #2256
@brianjgeiger Ok, I didn't think you missed it.  But, I don't want this to get lost at the bottom of the list... @lbanner how can we label so it is considered in planning?

[2015-04-22 20:37] lbanner commented on #2256
Labeled as enhancement -- I suggest we review those, along with labels of "Feature" -- in planning for next Epic. I'll remember to make that happen. Thanks.

[2015-04-22 20:44] #2211 closed

[2015-04-22 23:55] sloria commented on #2517
This should help: https://support.1password.com/compatible-website-design/

[2015-04-23 14:59] caneruguz commented on #2561
This fix is already done, it will be bundled in the toolbar changes release. @lbanner  can you assign me with low priority and working on it tags?

@chrisseto Right now the height adapts to window resize and becomes shorted if window height is short, is that desired behvaior for you? The alterntive is that is gets larger but does not get smaller; which I think is not ideal.

[2015-04-23 15:00] lbanner commented on #2561
Done!

[2015-04-23 15:22] caneruguz commented on #2561
To clarify the fix refers to the height of the files box, the footer is not touched. I think the discussion about footer is a bigger one and should not be specific to this page.

[2015-04-23 15:53] GaryKriebel commented on #2561
I would agree with @caneruguz concerning the footer.... I would actually expect it to be on all pages, but good to defer that portion.

[2015-04-23 17:19] caneruguz commented on #2561
@JeffSpies any thoughts on the footer discussion here?

Here's an example with minor footer stuck to the bottom:

![screen shot 2015-04-23 at 1 18 39 pm](https://cloud.githubusercontent.com/assets/1314003/7302986/5bc639b4-e9bb-11e4-9c48-3d2e675ac0f7.png)

[2015-04-23 17:30] brianjgeiger commented on #2545
For MFR and Modular ODM, we need to pin those to a commit rather than to a branch. Then if there are updates, the commit number will need to be changed.

[2015-04-23 17:55] brianjgeiger commented on #2545
If I do an `invoke requirements --addons` then an `invoke requirements` and then do the process again, here's what is successfully installed or uninstalled on the second go through:
[code]

[code]

[2015-04-23 18:33] JeffSpies commented on #2561
I think that's a nice compromise. Thinking about expandability in the
future could be good if there's critical info we want in there, but, for
the time being that seems to be what every user needs to see. The question
remains as to what we lose from a marketing perspective if people land
there, but we do have the popup. Thoughts on different footers based upon
whether someone is logged in or not?

[2015-04-23 18:37] fayetality commented on #1654
Brian can you recreate the blank Forks page again? I can't seem to get it to happen on my end.

[2015-04-23 18:38] GaryKriebel commented on #2561
I quite like that.... I think that a footer is good in that the user knows "that's it" and on a busy page it's not overwhelming.

[2015-04-23 18:39] rliebz commented on #1665
I have not seen this issue in particular since working with Dataverse 4.0 and Waterbutler. Because we have an open issue for Dataverse upload difficulties (https://github.com/CenterForOpenScience/osf.io/issues/2224) with a more in-depth/recent discussion, I recommend this issue be closed.

[2015-04-23 18:42] lbanner commented on #1665
:+1:

[2015-04-23 18:42] #1665 closed

[2015-04-23 18:57] brianjgeiger commented on #1654
¯\_(ツ)_/¯ I think I ran across it last time. On production, it's at https://osf.io/api6f/forks/

[2015-04-23 19:03] brianjgeiger commented on #1654
To reproduce, I expect you will need two user accounts, one that can admin the project and one that only has write access. It's possible this needs to be a component rather than a project.

[2015-04-23 19:06] caileyfitz opened #2575 "[staging & production] Versions history is not correct"
# Steps
1. Log into either staging or production
2. Go to a project on which you can upload files
3. Upload a pdf, jpg, or png file (confirmed that it happens with all these file types - does not happen with docx files) named pink.pdf (use appropriate extension -- here I will use pdf)
4. Find another file of the same type and name that pink.pdf
5. Upload the second version of pink.pdf
6. In the fi

[2015-04-23 19:08] brianjgeiger commented on #1654
@fayetality You should now have write access to the project linked above on osf.io so you should be able to at least see the problem in production.

[2015-04-23 19:39] nicipfeiffer opened #2576 "[Production & Staging] FAQ link to Settings page gives Page not Found"
## Steps
1. Log in to osf.io
2. Go to Help > FAQ in the navbar
3. Scroll down to the question 'My email address has changed. How do I change my login email?'
4. Click on the word 'settings' in the answer to link to the user settings page

## Expected
I would expect the user to be taken to their user settings page, to their account settings where they can configure their emails and password.

## Ac

[2015-04-24 13:31] nanchen47 commented on #2384
@billyhunt 's https://github.com/CenterForOpenScience/osf.io/pull/2531will fix this problem

[2015-04-24 17:31] #2529 closed

[2015-04-24 17:40] #2576 closed

[2015-04-24 18:41] chennan47 commented on #2480
https://github.com/CenterForOpenScience/osf.io/pull/2588 partially solves the current issue by improving the warning message. But the delete folder will be still showing up on the file page. We can make external request to verify the folder's existence but it will slow down file page's rendering.

Talked with @sloria @lbanner, after https://github.com/CenterForOpenScience/osf.io/pull/2588 is merge

[2015-04-25 03:48] jhwhite commented on #2552
As Brian points out in his comment it looks like the title field needs to have a boost applied. Here's a good stackoverflow about different times to do boosting, index time vs. query time.

http://stackoverflow.com/questions/12590587/elasticsearch-mapping-config-file-boost-field.

[2015-04-25 14:38] softwaredoug commented on #2552
Hey guys, @jhwhite pointed me here. John Berryman and I are actually writing a book on [search relevance](http://manning.com/turnbull). I am happy to come by and hangout and chat with you guys (for free of course) for an hour or so if you wanted to pick my brain...

[2015-04-27 05:04] icereval opened #2591 "[production] file view page search does not consistently redraw w/ github"
Steps
===

Create a project.
Attach a Github repository w/ multiple files.
Select a file to view in the file view page.
Search for a specific file in your github repository.
Backspace the search one character at a time and note the github repo does not redraw as expected.
Hitting backspace after the last character has been removed will cause a redraw.

Expected
===

File search shows results of us

[2015-04-27 14:34] lbanner commented on #2575
@GaryKriebel ... this seems in line with your / our discussions re: How to we handle deleted files, yes? I will tag with "discussion."

[2015-04-27 18:25] #2553 closed

[2015-04-27 18:49] #1576 closed

[2015-04-27 19:47] saradbowman opened #2593 "Add Google Analytics Event tracking to User Registration form"
In order to track where how new users find the OSF, it would be helpful to set up event tracking on the ajax form creating a new account - much like the event tracking we use on the buttons on the slide in footer.

User conversion was tracked using a goal setting in analytics previously - but this broke when registration was changed at the end of March.

[2015-04-27 19:54] lbanner commented on #2593
@saradbowman I assume you have the event tracking code you'd like embedded in form, yes? Thanks.

[2015-04-27 20:06] saradbowman commented on #2593
Yep! I think everything you would need is here (but can provide ID number if that's needed) https://developers.google.com/analytics/devguides/collection/analyticsjs/events

[2015-04-28 03:09] AndrewSallans commented on #2254
Still seeing this problem on an .xls file on a private project right now.  What's the timeline for getting this resolved?

[2015-04-28 08:02] mfraezz commented on #2254
@AndrewSallans I have an open PR that fixes the scaling issue, needs review: https://github.com/CenterForOpenScience/modular-file-renderer/pull/168

[2015-04-28 14:17] brianjgeiger opened #2595 "Refactor invoke requirements"
Steps
-------
1. Try to install addon requirements and main requirements at the same time.

Expected
------------
You could.

Actual
--------
You can't.

The suggestion is to make a relatively small change to the tasks.py. Right now, it's picking one flag and invoking the requirements for that one flag singly (unless it's addons, in which case it goes through a big todo in order to install each ad

[2015-04-28 18:43] saradbowman commented on #2254
Also just reported on the help desk.

[2015-04-28 19:45] samanehsan commented on #2384
@lbanner, there is already a PR resolving this issue in the old repo: https://github.com/CenterForOpenScience/osf/pull/1224

But since it hasn't been updated since November, my suggestion is to close it in favor of @billyhunt 's PR

[2015-04-28 19:50] lbanner commented on #2384
Good plan -- TY

[2015-04-28 20:48] chennan47 commented on #2518
@chrisseto has already fixed this in the new waterbulter.

[2015-04-29 18:27] nicipfeiffer opened #2603 "[Staging & Production] Authorizing Github Add-on gives undefined in console on project and files pages"
## Steps
1. Go to a project you have admin privileges on
2. Go to the settings tab and import the access token for the Github add-on
3. Open the javascript error console for the current browser tab
4. Go to the files tab
5. Go to the project overview page

## Expected
 No console errors

## Actual
Error "Uncaught TypeError: Cannot read property 'provider' of undefined"
Which goes away if the Githu

[2015-04-29 18:39] #2059 closed

[2015-04-29 18:47] reinaH opened #2604 "[Production] 'New Folder' and 'Delete' flags never disappear under Files tab"
The small pop-up flags that appear when you create a new folder ('new folder') or delete a folder ('delete') do not disappear once the action has taken place. This does not apply to deleting files and the error can be reproduced anywhere in the File manager under any extension. The only way to get rid of the tags is to reload the page or leave the tab and come back.  Was successfully reproduced in

[2015-04-29 18:49] reh4fd commented on #2604
@lbanner Nici mentioned that you had noticed this behavior yesterday.

[2015-04-29 19:05] lbanner commented on #2604
Yep!

[2015-04-29 19:46] caneruguz commented on #2604
The entire actions column will disappear soon. So I recommend holding this.

[2015-04-29 19:47] evomellor opened #2605 "Numbered lists in wiki split words between lines"
When a numbered list in the wiki has a sub item, words are cutoff between lines.
![screen shot 2015-04-28 at 2 32 37 pm](https://cloud.githubusercontent.com/assets/11249723/7399896/03edf242-ee87-11e4-82e2-5cbf0f366abe.png)

[2015-04-29 19:49] brianjgeiger commented on #2605
That does not look like a properly formatted sub item. It looks like it's wrapping it in a pre tag instead. Is this on a public project?

[2015-04-29 19:51] evomellor commented on #2605
Yes, it is on this page: https://osf.io/x5w7h/wiki/01%20Overview%20of%20Workflow/

[2015-04-29 19:53] brianjgeiger commented on #2605
Take out the tab after the 3. and put three more spaces in before the 3.

[2015-04-29 19:55] brianjgeiger commented on #2605
![screen shot 2015-04-29 at 3 55 07 pm](https://cloud.githubusercontent.com/assets/6599111/7400055/26846de4-ee88-11e4-9469-6e33294a116f.png)

[2015-04-29 19:57] evomellor commented on #2605
Thank you! :)

[2015-04-29 19:57] #2605 closed

[2015-04-29 22:42] jlcohoon opened #2608 "[staging and production] file upload times do not match versions; versions are not rendered properly"
<h4>Steps</h4>
1. Upload a file to the OSF
2. Make changes to that file, save it, and upload a new version to the OSF.
3. Visit the file's detail page and look at the version history.

<h4>Outcome</h4>
1. The times and dates of the versions are incorrect. They appear to be listed in reverse chronological order, such that if you have three versions, Version 1 has the most recent upload time, Versio

[2015-04-29 22:46] jlcohoon opened #2609 "old file version is not rendering the correct version"
<h4>Steps</h4>
1. Visit this file: https://osf.io/ezrsc/?version=3
2. Click on version two to render it.
3. Download version two.

<h4>Outcome</h4>
1. Version 2 incorrectly renders the same file as version 1.
2. Version 2 downloads the correct file; it does not correspond to what is rendered, however.

<h4>Expected Outcome</h4>
1. Versions should display and download the same file versions.
2. Ren

[2015-04-30 01:27] sloria commented on #2609
@jlcohoon Thanks for reporting. This should now be fixed.

[2015-04-30 01:27] #2609 closed

[2015-04-30 01:28] sloria commented on #2608
@jlcohoon This should now be fixed. Can you verify?

[2015-04-30 01:57] jlcohoon commented on #2608
looks good!

On Wed, Apr 29, 2015 at 9:28 PM, Steven Loria <notifications@github.com>
wrote:

[2015-04-30 02:02] sloria commented on #2608
Thanks!

[2015-04-30 02:02] #2608 closed

[2015-04-30 13:30] nanchen47 commented on #2514
This pr already go on production and I verify this issue has been fixed.

[2015-04-30 13:30] #2514 closed

[2015-04-30 13:46] saradbowman opened #2610 "[production] GDrive doesn't display folders named with cyrillic alphabet"
User reports he is unable to authorize an individual folder for his Google Drive account. In add-on, only 'full drive' option is shown, with the 'syncing' symbol (which never goes away):

![screen shot 2015-04-30 at 9 42 09 am](https://cloud.githubusercontent.com/assets/7749914/7413927/5c4f0048-ef1d-11e4-918d-164f02b659d2.png)

Removing and then adding google drive back to the project does not sol

[2015-04-30 15:20] brianjgeiger opened #2611 "Cannot understand current state of a project"
Steps
-------
1. Go to a project
2. Determine if it is currently being worked on, if the data collection is complete, etc.

Expected
------------
You could easily determine if a project is complete or in progress or not started.

Actual
--------
If you can figure that out, it is only by digging around in the wiki and other places.

Proposal
------------
We add a status field to the projects that w

[2015-04-30 15:26] jlcohoon commented on #2611
+1 to this idea!

[2015-04-30 19:52] sloria commented on #2466
Fixed on staging

[2015-04-30 19:52] #2466 closed

[2015-04-30 20:17] saradbowman opened #2612 "[production] Incorrect error message when attempting to delete project"
Steps
-------
1. Create a project.
2. Nest a component in the project.
3. From the Project settings, try to delete the Project.

Expected
------------
1. There will be an error message telling you to delete the component before you can delete the project.

Actual
--------
1. You get a different error message:
![screen shot 2015-04-30 at 4 12 30 pm](https://cloud.githubusercontent.com/assets/774991

[2015-04-30 23:40] lbanner commented on #2612
So I understand correctly @saradbowman : Expected functionality is that I, as a user, cannot delete a Project if it has one ore more components, correct?

[2015-04-30 23:43] lbanner commented on #2610
Saw this discussion on OSF Dev flow .... any resolution?

[2015-04-30 23:44] lbanner commented on #2604
OK -- HOLD

[2015-04-30 23:46] lbanner commented on #2518
Deployed @chennan47 and @chrisseto ? So I can close ... (?)

[2015-04-30 23:48] lbanner commented on #2254
@sloria This issue has been sitting around for a while -- Can you get a review in of @mfraezz 's CenterForOpenScience/modular-file-renderer#168 ? Thanks!

[2015-04-30 23:53] saradbowman commented on #2610
So far no one can replicate the error.
On Apr 30, 2015 7:43 PM, "LarryB" <notifications@github.com> wrote:

[2015-04-30 23:53] saradbowman commented on #2612
Yes, that's correct. Must delete components before you can delete the
project
On Apr 30, 2015 7:41 PM, "LarryB" <notifications@github.com> wrote:

[2015-04-30 23:54] lbanner commented on #2610
The user still experiencing it? Tried the ol' log-off account, restart your machine, log back on and connect the add-on again approach? :smiling_imp:

[2015-04-30 23:57] lbanner commented on #2354
Yes -- agree it is needed and agree with consistency .. and this possible approach from @brianjgeiger  .. a "Disable two factor authentication" in the same place that a "Deauthorize Github" link might show.

[2015-05-01 00:53] saradbowman commented on #2610
this was the case yesterday, but I will confirm.

On Thu, Apr 30, 2015 at 7:54 PM, LarryB <notifications@github.com> wrote:

[2015-05-01 13:31] chennan47 commented on #2518
@lbanner talked with @chrisseto. It needs a while to be ready.

[2015-05-01 13:33] lbanner commented on #2518
OK - thanks.

[2015-05-01 15:43] lyndsysimon commented on #2354
:+1: on adding a button that deactivates the addon.

[2015-05-01 16:56] sloria commented on #2595
+1. Ran into a dependency conflict today that probably could have been avoided had this proposal been implemented. `inv requirements --addons --dev` should collect all the requirements files and run `pip install` once.

[2015-05-01 19:13] lbanner commented on #2593
@kmjungersen Can you knock this one out fairly quickly? Thanks.

[2015-05-01 19:14] ginavuu opened #2616 "[Staging and Production] Too many error message with similar content"
Steps
1. In staging, go to https://staging.osf.io/usqw2/
2. Fork the project

Expected
The add-ons not to transfer and receive one compiled error message.

Actual
Receive several errors message, with some repeating messages, that takes up 1/3 of the page.
![part 1](https://cloud.githubusercontent.com/assets/11032617/7435688/d7555e30-f013-11e4-815e-c29dcb3acae9.PNG)
![part 2](https://cloud.githubus

[2015-05-01 19:26] kmjungersen commented on #2593
Absolutely - I'm looking into it now. :rocket:

[2015-05-01 19:37] chennan47 commented on #2616
Agreed. Perhaps just shorten the message to be All addons authorization not copied to forked project. You may authorize this fork on the Settings page. Also in the google drive warning, there is no warning between "Settings" and "page"

[2015-05-01 19:43] ginavuu commented on #2616
@chennan47 Good catch on the google drive, I was too overwhelm to catch that.

[2015-05-01 20:15] billyhunt opened #2617 "Sections of URL's Are Not Searchable in User Profiles"
Steps
-------
1. Go to https://osf.io/search/?q=mywebsiteisthebestwebsiteever.com&page=1

Expected
------------

Searching for mywebsiteisthebestwebsiteever.com should return results with www.mywebsiteisthebestwebsiteever.com in them.

![screenshot 2015-05-01 16 10 26](https://cloud.githubusercontent.com/assets/6232068/7436539/a64ff698-f01c-11e4-98d6-f2ec815ed6d8.png)

Actual
--------

The profile

[2015-05-01 20:25] brianjgeiger commented on #2617
https://osf.io/search/?q=*mywebsiteisthebestwebsiteever.com&page=1

Check out the documentation linked by the ? on the search bar. At some point we may want to make the lucene search syntax optional and make it a simple substring search (or something smarter) under other circumstances, but for now, it's all Lucene search syntax.

[2015-05-01 20:29] csoderberg commented on #2552
On a related note, when you search for the exact title of a project on the system (for example, if you search for Reproducibility Project: Psychology, or "Reproducibility Project: Psychology") you'd think the project with that title would be the first thing to come up, or at least near the top. It is in fact on the 6th page of results, and oddly enough most of it's child projects appear in the sea

[2015-05-01 20:32] brianjgeiger commented on #2552
@softwaredoug Thank you for the offer. We'll need to find a good time for this, but we would love to get the benefit of your research and knowledge. @fabianvf

[2015-05-01 20:44] csoderberg opened #2618 "[production] Search occasionally gets...stuck"
So, occasionally, when I type a search term into search and hit enter absolutely nothing happens. I can hit enter as many times as  you want and the search will never run. However, other things on the internet are still working, so it's not that my internet went out. If I change the search term even slightly and hit enter again it will usually run. I can't seem to find any pattern to it in terms o

[2015-05-01 20:48] brianjgeiger commented on #2618
I was going to suggest hitting the search button, but apparently we got rid of that. If you see this again and you're in the office, please call me over. If you know how to use the developer tools in Safari, you can check for errors.

[2015-05-01 20:50] softwaredoug commented on #2552
Sure feel free to ping me on email: dturnbull@opensourceconnections.com

-Doug

On Fri, May 1, 2015 at 4:32 PM, Brian J. Geiger <notifications@github.com>
wrote:

[2015-05-01 20:51] ginavuu opened #2619 "[Staging] Can't create new folder on Dashboard"
# Steps
1. Only in staging
2. Go to my dashboard.
3. Click add a folder
4. Enter a name and hit add

# Expected
To create a new folder.

# Actual
An error message comes up and a new folder is not created.
![no new folder](https://cloud.githubusercontent.com/assets/11032617/7437089/4a1df9b4-f022-11e4-82e7-d44f9f39fbf8.PNG)

[2015-05-01 20:57] csoderberg commented on #2618
Screenshot of what version of safari I was running when it happened:
![screenshot 2015-05-01 16 53 48](https://cloud.githubusercontent.com/assets/7332030/7437146/16f54636-f023-11e4-86a3-a6c4967f750a.png)

[2015-05-01 20:57] brianjgeiger commented on #2618
There are no JS errors on Courtney's machine. It looks as though the event just isn't firing for some reason, but no obvious causes.

[2015-05-01 21:01] fabianvf commented on #2618
Very strange. So is the request going out at all?

[2015-05-01 21:03] brianjgeiger commented on #2618
No, and history isn't being updated either. I suspect from a "make it work better for @csoderberg" perspective, she should update her Safari. I think that 7.1 is not the best version of Safari out there. 7.0.3-7.0.5 were definitely troublesome (see #1250), but maybe 7.1 was not quite ideal either?

[2015-05-04 01:43] lbanner commented on #2619
@ginavuu This is just Staging? And is / has this been a consistent error for you?

[2015-05-04 01:45] lbanner commented on #2617
So this is functioning as expected? Though maybe not ideally?

[2015-05-04 01:47] lbanner commented on #2616
Yeah -- good catch both of you -- I definitely think we can improve, and work on consistency here! Thanks.

[2015-05-04 02:05] brianjgeiger commented on #2617
Functioning as designed. At some point we will want to look at making search better.

.:Brian

[2015-05-04 02:06] lbanner commented on #2617
'K Thanks!

[2015-05-04 02:07] #2617 closed

[2015-05-04 11:58] brianjgeiger commented on #2616
When the growlbox was added, it was a quick drop-in replacement for a couple of other alert types. The most common request, which was out of scope at the time, was to be able to buffer multiple alerts that would happen at once. It might be good to have a general solution for this, and not just to fix it in this one instance.

[2015-05-04 13:38] sloria opened #2621 "[dev] Add jshint to Travis CI builds"

[2015-05-04 15:02] cosenal commented on #2277
I am working on the waterbutler provider here: https://github.com/CenterForOpenScience/waterbutler/pull/41

[2015-05-04 16:22] abought commented on #2619
I am also seeing this- both in staging and production, consistently. The selected top-level folder at the time was "dashboard".

Possibly helpful: when the error occurs, the following message appears on the console:

`PUT
https://staging.osf.io/api/v1/folder/ [HTTP/1.1 404 NOT FOUND 26ms]`

[2015-05-04 16:40] GaryKriebel commented on #958
Folders were added with this pull request:
https://github.com/CenterForOpenScience/osf.io/pull/2327

[2015-05-04 16:40] #958 closed

[2015-05-04 16:49] #2314 closed

[2015-05-04 16:49] #2307 closed

[2015-05-04 16:50] brianjgeiger commented on #2619
Yeah, that's bad. https://github.com/CenterForOpenScience/osf.io/blob/develop/website/routes.py#L979 should be catching that route.

[2015-05-04 16:55] alexschiller opened #2622 "Including a "/" in search throws an error (Unable to Resolve)"
**What I did:**

Any search containing a / that is not escaped

**What I expected:**

Searches that include / to show up

**What happened:**
On production
Error message:
"Unable to resolve
OSF was unable to resolve your request. If this issue persists, please report it to support@osf.io."

JS: POST https://osf.io/api/v1/search/ 400 (BAD REQUEST)

**Potential cause:**
/ not being properly escaped b

[2015-05-04 17:48] sloria opened #2623 "Public components not displaying on profile"
## Steps

- Go to a user profile for a user who has public components

## Expected

Their public components display in the Public Components list.

## Actual

It always displays "This user has no public components"

-----

This was a regression introduced in https://github.com/CenterForOpenScience/osf.io/pull/2515. I will make a hotfix shortly.

[2015-05-04 18:05] JeffSpies commented on #2623
@ghalko should be tracking this fix.

[2015-05-04 18:09] Ghalko commented on #2623
https://osf.io/m7n9p/

Is it a user who is not self?

[2015-05-04 18:10] Ghalko commented on #2623
@sloria did you apply the hotfix yet?

[2015-05-04 18:23] sloria commented on #2623
@Ghalko I am almost done with the hotfix. It was happening for any user (self or otherwise). The problem is in this check: https://github.com/CenterForOpenScience/osf.io/blob/27969d652c226fbc0b1226256378b0b4182679c2/website/templates/profile.mako#L170 .
`"number_public_components"` isn't in the mako context, so the condition is always `True`.

[2015-05-04 18:24] #2623 closed

[2015-05-04 19:01] #2612 closed

[2015-05-04 20:24] abought commented on #2619
Thanks to @lyndsysimon , we've traced the problem: the route has a decorator `@must_be_valid_project`, which raises a 404 if there is no `<pid>` or `<nid>` in the URL. (broke on April 20 when the decorator was added)

The decorator was necessary to ensure that the specified dashboard node exists (and explains the 404 error code), but it makes assumptions that do not match the form of this API rout

[2015-05-04 20:35] lbanner commented on #2619
Who wants it? :smiling_imp:

[2015-05-04 21:42] abought commented on #2619
Apparently, @samchrisinger  and @sloria do, as of ~3pm.  See:
4589170aff0537af87648e456b96e6a8762c45c0

A regression test on the `add_folder` route might still be helpful. Otherwise, folder creation is now working for me in production and on staging.

[2015-05-04 21:48] saradbowman opened #2626 "[production] APA Citations"
Steps
-------
1. Go to project: https://osf.io/r9pqe/?view_only=8be7e07f6c4a4b0aa21ba44c97a4608a
2. Go to Mendeley Add-on, choose format "American Psychological Association 6th Edition"
3. Copy citation for the last entry, "De Jong, K.P.,...."
4. Go to Son of Citation Machine with same information (http://old.citationmachine.net/index2.php) and generate APA 6th edition citation
5. Go to Mendeley D

[2015-05-05 00:32] lbanner opened #2627 "Add clarifying message when Registering a Project re: It's components"
Similar to language added to Component (sub-project) Registration #2615, let's add the following message when a user clicks to Register a Project:

'You are about to Register the project "Parent Project Name" and everything that is inside it. If you would prefer to register just a particular component of "Parent Project Name", please click back and navigate to that component and then initiate regi

[2015-05-05 00:48] bnosek commented on #2627
assuming the part "of the ," is fixed to indicate the project name, yes, looks good.

[2015-05-05 00:53] lbanner commented on #2627
Interesting ... was actually using field indicators in the text above, and GH took them literally -- should have known! Updated above with quotes instead to indicate variable fields per project. Thanks.

[2015-05-05 01:53] nicipfeiffer opened #2628 "[Production & Staging] Deleting a component gives link to a Forbidden Resource in the Project log"
## Steps
1. Go to a project you have admin privileges on
2. Create a new component, name it 'wifi'
3. Change the name of the component to 'new'
4. Go to the settings tab for the component
5. Click to delete the component
6. Go to the parent project and look at the project log

## Expected
There would not be a link to a deleted resource
![screenshot 2015-05-04 21 44 43](https://cloud.githubusercont

[2015-05-05 01:57] nicipfeiffer opened #2629 "[Production & Staging] Linking 2 projects to one another causes endless loop"
## Steps
1. Go to a project (A) that you have admin access on
2. Add a link to another project (B) that you have admin access on
3. Now go to project (B)
4. Add a link to project (A)

## Expected
That linking 2 projects together would be allowed, but only once

## Actual
Linking 2 projects together creates an endless loop for the 2 projects.
Causes issues with the project organizer

![screenshot 2

[2015-05-05 02:17] brianjgeiger commented on #2629
This one is expected. As long as it doesn't cause the folders to automatically open, and as long as the folders only open once for any given link on reload, it's fine. That's an odd situation that will happen in testing but less in normal life.

On the other hand, imagine links that are four or five projects apart that eventually link to one that was part of that chain. You will want them to open

[2015-05-05 14:06] evomellor opened #2632 "Error message after deleting components"
Steps
-------
1. Create a new project
2. Create a component within project (I classified it as "Other" but I'm not sure if that is necessary to replicate the issue)
3. Delete that newly created XprojectX [Correction! Delete the newly created component]
4. Error message on parent project showing up under Components window: Error rendering template util/render_nodes.mako: KeyError('is_profile',)

Ex

[2015-05-05 14:13] sloria commented on #2632
Thanks for reporting. I'll look into this now.

[2015-05-05 14:13] lbanner commented on #2632
Can't seem to replicate this @evomellor -- Though I do see your error. @caileyfitz , when you get a chance, can you see what happens for you? Thanks.

[2015-05-05 14:18] lbanner commented on #2626
Interesting. @lyndsysimon, when you get a moment. Thanks.

[2015-05-05 14:33] chennan47 commented on #2628
Since the log is saved before the nodes is deleted, the previous log contains the component name are supposed not to change with action after the log's action itself. And since the component is deleted, the url are supposed to link you to a 404. In order to remove the link of the previous link requires a search inside the database for all logs related with that node and change all of them. There i

[2015-05-05 14:51] caileyfitz commented on #2632
Steps for this issue are confusing, because step 3 says to 'delete the newly created project', but you can't delete the project without deleting the components first. Is this supposed to say 'delete the newly created component.' Or am I completing the wrong steps @evomellor?

After deleting the *component*, here is what I see on the project overview page:
![screen shot 2015-05-05 at 10 48 30 am](h

[2015-05-05 14:53] evomellor commented on #2632
Yes, correct, "Delete the newly created component"

[2015-05-05 15:03] sloria commented on #2632
Sending a hotfix shortly.

[2015-05-05 15:11] #2632 closed

[2015-05-05 15:14] sloria commented on #2632
@evomellor Should now be fixed

[2015-05-05 15:18] GaryKriebel commented on #2632
Looks good.

[2015-05-05 15:21] evomellor commented on #2632
Thank you!

[2015-05-05 15:21] abought commented on #2632
Looks good for me based on the steps listed above.

[2015-05-05 15:22] sloria commented on #2619
@abought That commit was only merged into develop. Are you still seeing this bug on production?

[2015-05-05 15:31] lbanner commented on #2628
Yeah -- I am OK with this functionality at present. I don't think a priority.

[2015-05-05 15:40] abought commented on #2619
I am able to create folders on production. (Not sure what was happening yesterday- it's possible I had two open tabs mixed up. Glad it's working.)

[2015-05-05 15:42] lbanner commented on #2619
Going to close this now - TY

[2015-05-05 15:42] #2619 closed

[2015-05-05 15:51] fabianvf commented on #2622
On production, I get this message instead, locally and on Prod. Do you still get the same exception?
![screen shot 2015-05-05 at 11 50 16 am](https://cloud.githubusercontent.com/assets/2431974/7476654/0559871e-f31d-11e4-85cb-e9ac79ad3c3c.png)

[2015-05-05 15:57] alexschiller commented on #2622
No, I'm getting the "bad search query" now. Can't replicate the 500 anymore.

On Tue, May 5, 2015 at 11:51 AM, Fabian von Feilitzsch <
notifications@github.com> wrote:

[2015-05-05 16:15] pdurbin opened #2636 "Dataverse Addon: let user choose between installations of Dataverse"
As of this writing https://osf.io/getting-started/#dataverse indicates that the Dataverse Addon can only be used with https://dataverse.harvard.edu

@rliebz and I have been chatting (most recently at http://irclog.iq.harvard.edu/dataverse/2015-05-05#i_19527 ) about how it would be fantastic is users could choose between installations of Dataverse when making use of the Dataverse Addon.

[2015-05-05 16:17] rliebz commented on #2636
This feature is currently in early stages of development at https://github.com/rliebz/osf.io/tree/feature/select-dataverse

[2015-05-05 16:25] rliebz commented on #2369
Now with the file tree on the file view page at a relatively small width, this issue will be more prevalent than it was before and no longer needs to be deferred.

For both Dataverse and GitHub, it is not clear what branch/version you are working on on the files and the file view page. It also may be impossible through the UI to view other branches/versions. For Dataverse, it may not be possible t

[2015-05-05 17:15] lbanner commented on #2369
Done @rliebz -- would a solution here be handled in the Dataverse API/connection, or   with alterations in the File View Page itself, possibly specific to Dataverse? <--- Anyone with insight.

[2015-05-05 17:17] lbanner commented on #2636
Yes -- going to mark this as 'enhancement' and 'working' and tag you @rliebz  - TY @pdurbin

[2015-05-05 17:21] rliebz commented on #2369
I don't think a solution would be specific to the file view page—I've seen names on Dataverse that are too long to fit on the regular files page.

I would imagine a solution would be to take the length of the select element into account when trimming the content of the name column in Fangorn/Treebeard.

[2015-05-06 12:19] AndrewSallans opened #2640 "Getting started videos - YouTube player interface bug"
What you did (step by step)
-tried to advance video in embedded getting started videos

Where does this happen on the OSF?
-https://osf.io/getting-started

What you expected
-to be able to advance the video

What actually happened
-control bar would disappear as the cursor neared it.  Tested this with Michael as well and he experienced the same issue.

Potential causes
-maybe related to an update

[2015-05-06 12:20] AndrewSallans opened #2641 "Getting started videos - menu overlap"
What you did (step by step)
-resized getting started videos page

Where does this happen on the OSF?
-https://osf.io/getting-started

What you expected
-resizing to happen without menu overlap

What actually happened
-menu and video/text sections overlapped

![screen shot 2015-05-06 at 8 20 26 am](https://cloud.githubusercontent.com/assets/2151933/7492700/c533cada-f3c8-11e4-9002-458be642660b.png)

[2015-05-06 12:33] sloria commented on #2640
@AndrewSallans What browser are you seeing this on?

[2015-05-06 12:33] GaryKriebel commented on #2640
@AndrewSallans what browser?  I don't seem to be experiencing it.

[2015-05-06 12:34] AndrewSallans commented on #2640
@sloria and @GaryKriebel Chrome Version 42.0.2311.135 (64-bit)

[2015-05-06 12:39] GaryKriebel commented on #2640
Chrome Version 42.0.2311.90 (64-bit) seems to work.... let's see what happens when I'm no longer "nearly up-to-date".

![screen shot 2015-05-06 at 8 38 37 am](https://cloud.githubusercontent.com/assets/9437946/7493016/4f9b2d38-f3cb-11e4-8b07-32bc0284bea6.png)

[2015-05-06 12:40] GaryKriebel commented on #2640
Still works for me.

[2015-05-06 12:51] GaryKriebel commented on #2640
Ok... here is the clarification.  It does not happen with all videos.  It does happen with the videos under the following sections:
 * Project Organizer
 * Dashboards
 * User Profile
 * Projects
 * 2nd video under Projects
 * Files
 * Links
 * Forks
 * Registrations
 * Contributors
 * Privacy
 * View-only Links
 * Mendeley
 * Citations
 * Statistics

[2015-05-06 13:57] bnosek opened #2642 "[production] Citation feature reported as not handling long author lists accurately"
Not a high priority, but something to check out when the citation feature is revisited.  Discussion below:

Ah, the citation feature - right! I wasn't aware that the author order in the OSF project also is the order of the manuscript.

But it doesn't work perfectly in Bibtex yet: For ML3, for example, in Bibtex style authors get truncated at some point (et al.), but the last author is not included

[2015-05-06 14:45] caileyfitz opened #2644 "[staging & production] Alerts with contradicting content for forked projects"
Related to #2616 in that there are 18 separate alerts, which is absolutely absurd.

# Steps
1. Log into staging or production
2. Go to a project on which you have authorized several add-ons for the project and components but where another user has also authorized add-ons (https://staging.osf.io/q57ph/ is an example on staging and https://osf.io/b9v2w/ is on production -- let me know if you want to

[2015-05-06 14:46] caileyfitz commented on #2644
This is also troublesome for our project vs component distinction. @samchrisinger @sloria @GaryKriebel @lbanner

[2015-05-06 14:48] caileyfitz commented on #2616
@nanchen47 Google Drive also has another issue in that it only refers to a "fork" instead of a "forked project" or "forked component" when authorization is transferred. See the fifth alert:
![screen shot 2015-05-06 at 10 25 35 am](https://cloud.githubusercontent.com/assets/5975444/7495654/4402ea30-f3dd-11e4-8286-7bc1f7f8f3d2.png)

[2015-05-06 14:55] samchrisinger commented on #2644
@sloria , I can address this here: https://github.com/CenterForOpenScience/osf.io/pull/2643

[2015-05-06 15:45] abought opened #2648 "[staging & production] "Go to my project" components box only finds direct children"
### Scope
This is a proposed feature enhancement, which will become more relevant once the node refactor makes it easier to create deeply nested project hierarchies.

## Description
The onboarder "go to my project" search box has an optional "search for a component" field. But this can only find *direct* (not nested) children of the specified project.

Given a deeply nested project of the followin

[2015-05-06 15:46] lbanner commented on #2644
The "contradictory" notification for Dropbox? ... let's be sure to keep the focus tight for now. Thanks.

[2015-05-06 16:10] caileyfitz opened #2649 "[staging & production] Language change for added files in logs"
# Steps
1. Go to a project/component on staging or production
2. Go to Settings > Select Add-ons
3. Enable and configure an add-on for the project/component
4. Go to the Files tab
5. Add a file to the project/component
6. Return to the project/component overview page
7. Look at the logs for the file and add-on additions

# Expected
I expect that since both logs start with **User added**, that the

[2015-05-06 16:33] sloria opened #2650 "Comments should no longer be GUID objects?"
Currently, comments have GUIDs. There has been discussion of making them non-GUID objects.

Discussed in https://github.com/CenterForOpenScience/osf.io/pull/2534. This should be resolved before merging that PR.

[2015-05-06 16:38] #2627 closed

[2015-05-06 16:38] sloria commented on #2627
On staging now.

[2015-05-06 17:18] lbanner commented on #2650
Agreed, and will hold this until post-Epic. Thanks for noting.

[2015-05-06 18:38] caileyfitz commented on #950
Just ran across this issue again. User "brownie sundae" is already a contributor on *Corn or Flour*, but it does not appear so in the modal.
![screen shot 2015-05-06 at 2 35 49 pm](https://cloud.githubusercontent.com/assets/5975444/7500689/36f87ea2-f3fd-11e4-95f8-028a35d3d8a2.png)

Still confusing and it appears as though @kushG has a pending fix for this from months ago. Trying to revive this so

[2015-05-06 21:27] caileyfitz opened #2656 "[staging & production] Removed component still recorded as registered in log"
# Steps
1. Go to a project which has multiple components
2. Delete one of the components
3. Register the project
4. Look at the log

# Expectation
I expect that the logs would only record registrations of non-deleted nodes.

# Actual
The log records that the deleted component was registered. Clicking the name of the deleted component redirects to "Resource deleted" page.
Log:
![screen shot 2015-05

[2015-05-07 05:03] mehanig opened #2659 "Statistics page recursive loading problem"
<h1>Steps</h1>

1) Go to https://osf.io/4znzp/statistics/
2) Go to Widgets & Dashboard -> SEO -> Top Keywords for Page URL
3) Click href link
4) Wait for new instance of OSF.io inside div
5) Repeat from 1

<h1>Expected</h1>
I would expect that whole page reloads or new tab opens

<h1>Actual</h1>
It loads same page but inside div
![screen shot 2015-05-07 at 07 46 02](https://cloud.githubusercontent

[2015-05-07 17:44] brianjgeiger opened #2663 "Rename project organizer "folders" to "collections""
Steps
-------
1. Go to the Project Organizer

Expected
------------
Button in the status bar will say, "New Collection"

Actual
--------
Button in the status bar says, "New Folder"

Now that the OSF can make folders in the grid view, the things in the project organizer should be referred to as Collections (and Smart Collections) to keep people from  getting confused. This will need changing in all

[2015-05-07 17:53] nicipfeiffer commented on #2394
@nanchen47 @lbanner I am seeing this on production when using Chrome and Safari browsers for 'create folder', 'delete' and 'view file' tooltips.
![screenshot 2015-05-07 13 48 18](https://cloud.githubusercontent.com/assets/9381062/7522022/6b6d937a-f4c0-11e4-8533-c10d8f95be00.png)
Can we un-defer?

[2015-05-07 17:58] ginavuu commented on #2641
This is also happening to me when browser window is small. However, the outline re-sizes when you scroll by the videos and then goes back to overlapping after.
![resize](https://cloud.githubusercontent.com/assets/11032617/7522118/256f5092-f4c1-11e4-8d44-73534691310c.PNG)

[2015-05-07 18:02] caneruguz commented on #2561
Please continue discussion in the PR linked above. Download and check out the PR and let me know if there are suggestions.

[2015-05-07 18:04] caneruguz commented on #2394
We should defer because my changes for 0.36 will get rid of actions column and these tool tips. 

—
Sent from Mailbox

On Thu, May 7, 2015 at 1:54 PM, Nicole Pfeiffer <notifications@github.com>
wrote:

[2015-05-07 18:11] lbanner commented on #2629
OK -- with that explanation ... I think I will close this for now. TY.

[2015-05-07 18:11] #2629 closed

[2015-05-07 18:13] lbanner commented on #677
@lyndsysimon -- This taken care of in level 2 merge #2548 - Correct?

[2015-05-07 18:57] GaryKriebel commented on #2663
The upcoming PR from @caneruguz takes care of this, yes?
![screen shot 2015-05-07 at 2 56 28 pm](https://cloud.githubusercontent.com/assets/9437946/7523387/6724ab42-f4c9-11e4-823c-67c72bf2e5db.png)

![screen shot 2015-05-07 at 2 57 26 pm](https://cloud.githubusercontent.com/assets/9437946/7523392/6baa40a0-f4c9-11e4-94e9-abaf11084968.png)

[2015-05-07 18:59] caileyfitz opened #2665 "[staging & production] Read + Write contributors cannot enable add-ons"
# Steps
1. On staging or production, go to a project on which you have admin access
2. As User A (user you logged in as), go to the Setting page and disable all add-ons
3. Go to the Sharing tab
4. Add a second user that you have access to, User B, as a read + write contributor
5. In another window (private or incognito), log in as User B
6. As User B, go to the project on which you were just added

[2015-05-07 19:05] brianjgeiger commented on #2663
Yes. Is that slated for 36?

[2015-05-07 19:06] nicipfeiffer opened #2666 "[Production & Staging] Dropbox add-on does not show folder picker on auth"
## Steps
1. Go to a project you have admin privileges on
2. Go to the project settings page
3. Enable the dropbox add-on
4. Click to import the access token
5. If the folder picker appears, refresh the page. If not, Deauthorize and import the access token again
6. Attempt to click on 'change' to change the selected folder (which is none)

## Expected
When importing the access token, the folder pic

[2015-05-07 19:07] samchrisinger commented on #2666
@lbanner  @GaryKriebel

Can you please assign me?

[2015-05-07 19:10] lbanner commented on #2666
You got it!

[2015-05-07 19:11] lbanner commented on #2663
If it is related to this #2606 then yes!

[2015-05-07 19:17] brianjgeiger commented on #2663
:+1:

[2015-05-07 19:19] lbanner commented on #2665
Not sure we have a full outline of user-levels of access per designation. But I actually do not think a user w/ "read + write" access should be able to change or enable add-ons. I think that should sit at Admin level. "read + write" should give the ability to upload and change files and edit Wiki. More insight here on user-levels?

[2015-05-07 19:20] lbanner commented on #2394
Agreed .. this is tagged "deferred" for that reason. Reference #2606

[2015-05-07 19:24] lbanner commented on #2659
Thank you for the catch @mehanig  ... @nicipfeiffer Can you recreate? And then we can get this assigned. TY!

[2015-05-07 19:30] jlcohoon opened #2667 "OSF favicon changes"
Sometimes, when I visit the OSF, the favicon for the site is a black box that says "OSF." Other times, it is the COS open symbol. I cannot find a rule for when it is one over the other. In fact, I can visit the same page and get different icons:

![screen shot 2015-05-07 at 3 26 35 pm](https://cloud.githubusercontent.com/assets/4965832/7524113/d2361494-f4cd-11e4-9922-955ebdb1e2de.png)

The icon sh

[2015-05-07 19:31] GaryKriebel commented on #2663
it is

[2015-05-07 19:39] caileyfitz commented on #2665
I talked to @sloria about this, and he said it was a bug that read + write is not able to configure add-ons. I think it makes sense for read + write to be able to enable/configure add-ons in cases where there is one admin who has access to everything (adding contributors, configuring project) and has read + write contributors who should be able to connect their own accounts to share their data wit

[2015-05-07 19:46] brianjgeiger commented on #2665
Is it expected that people who do not own the add-on authorization would be able to configure that addon? So if I add my dropbox, nobody else should be able to change those dropbox settings, right? At most, they should be able delete the credentials from the project and add their own, but they should not be able to change the dropbox folder, true?

[2015-05-07 19:49] samchrisinger commented on #2666
Resolved in https://github.com/caneruguz/treebeard/pull/81,
defer until @caneruguz's next feature PR for OSF goes in

[2015-05-07 19:51] GaryKriebel commented on #2667
I believe I have only seen the COS logo.  Are you getting some cached version from your history?  When was this changed from the black OSF?

[2015-05-07 19:53] GaryKriebel commented on #2665
I agree with Brian's last two points.

[2015-05-07 19:55] caileyfitz commented on #2665
@brianjgeiger Currently, another user cannot change your add-on configurations. I can only deauthorize you and then authorize myself.

[2015-05-07 19:56] jlcohoon commented on #2667
I've definitely seen both on multiple occasions. I think it was actually changed from the black to the open symbol at one point, but it seems like there is some way that it uses the old version on occasion. I'll keep on the lookout for the next time it happens.

[2015-05-07 19:59] brianjgeiger commented on #2667
It was changed at the end of August.

[2015-05-07 20:23] GaryKriebel commented on #2667
I don't see the old icon in the code with my local instance.  It wouldn't still be on the server would it?

[2015-05-07 20:27] lyndsysimon commented on #2626
I'm fairly sure the issue here is that we're missing some attributes in the conversion between what Mendeley's API returns and the CSL-Data format.

This can be fixed by setting the appropriate keys in [`website.addons.mendeley.model#Mendeley._citation_for_mendeley_document`](https://github.com/CenterForOpenScience/osf.io/blob/develop/website/addons/mendeley/model.py#L129).

It looks like the miss

[2015-05-07 21:55] GaryKriebel opened #2670 "Disable making public registrations private"
With the advent of DOIs/ARKs, it does not make sense to let a user change a Registration back to Private after they made the Private registration Public.   Once public, you can create a DOI.  If the user makes the project private again, then those linking via the DOI will land on a page where they don't have access.  This is not a behavior we desire.

[2015-05-07 22:00] brianjgeiger commented on #2670
Is the DOI/ARK completely under our control, or can people make DOIs outside of the OSF?

[2015-05-07 22:06] HarryRybacki commented on #2670
@GaryKriebel to confirm, are we disabling the make private functionality for **all** registrations or just those with a DOI/ARK?

[2015-05-07 22:09] GaryKriebel commented on #2670
@brianjgeiger ... only available after you make your registration public.

[2015-05-07 22:09] GaryKriebel commented on #2670
@HarryRybacki .... you are correct... All public registrations will no longer be able to be made private again.

[2015-05-07 22:14] HarryRybacki commented on #2670
@GaryKriebel on it

[2015-05-08 00:28] samanehsan opened #2671 ""Recent activity" on dashboard and project overview say they are in UTC time when they are not"
Steps:
---------
1) Do some action on the OSF (i.e. create a project)
2) Go to the dashboard page's watchlist
3) Check the timestamp on the log

Expected:
--------------
Since there's a sentence at the top saying all times are displayed in UTC offset, I expected the timestamps to be UTC time.

Actual:
----------
The timestamps are localized!
![screen shot 2015-05-07 at 8 15 57 pm](https://cloud.gi

[2015-05-08 01:36] AndrewSallans opened #2672 "Presentation service - non-bibliographic contributors appear in search results"
***Need to clarify this tomorrow, observed at usability session but having tough time recreating now***

Problem
1) Search of OSF discovers project with named contributor and "Presentation Service" as second contributor
2) Click on project and contributor list does not show "Presentation Service" as a listed contributor (presumably is on as a non-bibliographic contributor)

Correct behavior
Neithe

[2015-05-08 02:14] lbanner commented on #2626
You want to make it happen @lyndsysimon ? -- or you think good for an intern project?

[2015-05-08 02:22] lbanner commented on #2665
Which also seems potentially problematic, no? .... multiple read + write contributors on a project battling over whose add-on gets precedence? I don't know, maybe that is how research collaborators may work -- each adding their own storage spot, but with potential conflicts -- still, this is why I'd think choice of add-on (and control) might better reside w/the Project Admin.

[2015-05-08 12:41] Ghalko commented on #2459
This might be fixed by my PR #2223. But I still want to work on redesigning how contributors are added.

[2015-05-08 13:19] caileyfitz commented on #2665
@lbanner You could say the same thing about multiple admins. Then the *admins* would be battling over add-on precedence. I don't really think it's an issue though. Especially with collaborations between multiple schools, we would want multiple contributors to be able to authorize add-ons.

[2015-05-08 14:04] nicipfeiffer opened #2673 "[Production & Staging] Files search does not clear on delete"
## Steps
1. Go to this project that has files in OSF storage: https://osf.io/9jtkg/
2. Go to the files tab and enter the letters 'sn' into the search field
3. When the file 'snowmen' is the only one listed, click it to view and go to the files detail page
4. Make note of the files listed in the file tree (should see: Boston City Flow.jpg, IMG_6126.JPG, test.txt, snowmenQA.jpg, and Seussical.pdf li

[2015-05-08 14:12] caileyfitz opened #2674 "[staging & production] No pointer icon for x in legend modal"
Reported on the 0.35 Trello board:

# Steps
1. Log into staging or production
2. Press the **i** button next to Projects above the project organizer.
3. In the legend modal, hover over the **x** to close the modal

# Expected
I expect that the **x** in the legend modal would have a pointer cursor.

# Actual
There is no pointer cursor.

@samchrisinger said that this is a treebeard issue and that @c

[2015-05-08 14:32] caileyfitz opened #2675 "[staging & production] Can't mass-update permissions on child nodes"
Reported by @abought on the 0.35 Trello board:

## Issue description

If a user has already been assigned permissions on nested child components, then assigning different permissions via the top level project will not overwrite the old permissions.

## Scope
Affects both staging and production servers

## Steps to reproduce

*First round (adding permissions)*
1. Create an OSF project with multiple

[2015-05-08 14:33] caileyfitz opened #2676 "[staging & production] File Version List scroll bar does not persist"
Reported by @nicipfeiffer on the 0.35 Trello board:

## Steps
1. Log in to staging
2. Go to a project you have admin privileges on
3. Upload >10 versions of a file to a project's osf storage
4. Click on a file to go to the file detail page
5. Scroll the version table

## Expected
The fact that the version table scrolls should be obvious like the file tree, files grid and project dashboard.  All ha

[2015-05-08 14:36] caileyfitz opened #2677 "[staging & production] Can't see all components when permission to one is denied"
Reported by @nicipfeiffer on the 0.35 Trello board:

## Steps
1. Go to a project you have admin on that has many nested components/projects
2. Give read access to all but one of the components
3. Make all components public, except the one that hasn't been granted access to
4. Log in as the read access contributor
5. Look at the project page, try to see all components nested beneath the one not gra

[2015-05-08 14:38] caileyfitz opened #2678 "[feature request] Show icons on project overview page"
Reported by @nicipfeiffer on the 0.35 Trello board:

## Suggestion
The new icons are GREAT!

Why not improve the user experience by adding them on the project overview page for the components and linked projects??
![addicons](https://trello-attachments.s3.amazonaws.com/55482a0ae96b275cbf56cc97/1077x553/589eb5890f57ec7edb5ea33fd62edde5/add_icons.png)

[2015-05-08 14:44] caileyfitz opened #2679 "Confusing wording in pre-registration question"
Reported by @abought on the 0.35 Trello board:

## Summary
When choosing the third registration type (`Replication Recipe (Brandt et al., 2013): Pre-Registration`), the experimenter is given a detailed questionnaire to fill out before they can register.

A question on page 3 refers to `#22`... but the questions are not numbered.
![das](https://trello-attachments.s3.amazonaws.com/554a23a77b0f30afdb

[2015-05-08 14:45] caileyfitz opened #2680 "Confusing wording in OSF standard registration dialog"
Reported by @abought on the 0.35 Trello board:

## Summary

A question in the dialog for an *OSF-Standard Pre-Data Collection Registration* is confusingly worded.

When choosing this registration type, it asks:

`Is data collection for this project underway or complete?`

Choices are
- No
- Yes

## Proposed change
The meaning is unclear. If it is asking the user to choose one or the other, then th

[2015-05-08 14:54] GaryKriebel commented on #2622
Closing this for now.... If it appears again we can reopen.

[2015-05-08 14:54] #2622 closed

[2015-05-08 14:55] GaryKriebel commented on #2610
Since we are unable to reproduce, we will close this and reopen if more issues surface.

[2015-05-08 15:07] nicipfeiffer opened #2683 "[Production & Staging] Project settings for read and read+write users nav widget jumps and changes size on scroll"
## Steps
1. Go to a project you have read or read+write permissions on
2. Go to the project settings page
3. Scroll, making note of the left side navigation widget

## Expected
While scrolling, things would move smoothly on the page

## Actual
When scrolling, the left side navigation widget jumps and changes sizes during scrolling.
There is also an error in the console: "Uncaught Error: You cannot

[2015-05-08 15:08] kmjungersen commented on #2593
Fixed with PR #2669, so this issue can be closed 😎

[2015-05-08 15:10] saradbowman commented on #2593
Thank you!!!

On Fri, May 8, 2015 at 11:08 AM, Kurtis Jungersen <notifications@github.com>
wrote:

[2015-05-08 15:28] nicipfeiffer opened #2684 "[Production & Staging] Read permission contributors cannot add comments"
## Steps
1. Go to a private project that you have admin access to
2. Go to the sharing tab and click to add a contributor
3. Add a contributor that you have log in access for also
4. Give the contributor you are adding 'read' permissions to the project
5. Go to the project settings tab
6. In the Configure commenting section, ensure that 'Only contributors can post comments' is selected (if not ple

[2015-05-08 15:50] nicipfeiffer opened #2685 "[Production & Staging] Projects renamed on the dashboard are not returning in the 'Go to project' dropdown"
Renaming a project from the dashboard, then search in go to project and it will not appear
## Steps
1. Go to the project dashboard
2. Highlight a project that you have admin or read+write access to
3. In the grey bar at the top, you should see the name of the project with a pencil icon to the right
4. Click on the pencil icon to edit the name of the project
![screenshot 2015-05-08 11 33 47](https:

[2015-05-08 15:57] #2593 closed

[2015-05-08 16:11] brianjgeiger commented on #2685
As I recall, you can pre-populate the typeahead dropdown so that it doesn't have to do a search under certain circumstances, but I though it would go ahead and search as well. Might just be a matter of adjusting some settings on typeahead.

[2015-05-08 16:25] sloria opened #2686 "Inconsistency in project configuration: Name, Description, and Public/Private vs Category"
## Steps

1. Edit your project name
2. Edit your project description
3. Edit your project category

## Expected

All should be configured the same way.

## Actual

Name and Description are inline editables. They cannot be changed on the project's Settings page. Category can only be changed on the Settings page. It is not inline-editable.

## Suggestion

Put all configuration on the Settings page.

[2015-05-08 16:58] nicipfeiffer opened #2687 "[Production & Staging][figshare] Delete 'x' showing for 'read' contributors on files tab"
Read-only access users of a component see the ‘x’ next to draft figshare files.  Clicking the ‘x’ gives a message that the user does not have permission to delete the file.  Maybe the ‘x’ should not even be there?  With all add-ons authorized, figshare is the one one that shows the ‘x’ to delete

## Steps
1. Go to a private project that you have admin access to
2. Go to the sharing tab and click t

[2015-05-08 16:58] GaryKriebel commented on #2676
This was fixed in https://github.com/CenterForOpenScience/osf.io/pull/2657

[2015-05-08 16:58] #2676 closed

[2015-05-08 17:14] GaryKriebel commented on #2683
I am unable to recreate neither the action nor the error.

[2015-05-08 17:19] sloria commented on #2685
This is the expected--but not ideal--behavior. We load the project data for the "Go to project" on page load. Therefore, a rename on the project organizer will not be reflected on "Go to project" (or any other onboarder widget) until the page is reloaded.

It's a tradeoff; loading the project data on page load means that the typeaheads respond faster. IMO, this benefit outweighs the cost of handli

[2015-05-08 17:22] caileyfitz commented on #2676
@nicipfeiffer and I are still seeing the problem, even though @GaryKriebel cannot reproduce it.

[2015-05-08 17:25] GaryKriebel commented on #2676
can't reproduce

3 different browsers:
![screen shot 2015-05-08 at 1 11 39 pm](https://cloud.githubusercontent.com/assets/9437946/7541749/93f1bc84-f585-11e4-8962-0a69844063f5.png)
![screen shot 2015-05-08 at 1 12 58 pm](https://cloud.githubusercontent.com/assets/9437946/7541752/962b40e2-f585-11e4-8e78-e77ede4c2d5f.png)
![screen shot 2015-05-08 at 1 13 29 pm](https://cloud.githubusercontent.com/ass

[2015-05-08 17:25] sloria commented on #2683
@GaryKriebel are you able to recreate it when you have addons enabled? Looks like Nici has Box and S3 enabled in her screenshot

[2015-05-08 17:25] caileyfitz commented on #2676
![screen shot 2015-05-08 at 1 25 36 pm](https://cloud.githubusercontent.com/assets/5975444/7541776/bf3b1a02-f585-11e4-8984-4f9441fbfef4.png)

[2015-05-08 17:29] sloria commented on #2676
This looks to be an OS-specific--not browser-specific problem. Some versions/configurations of Mac have persistent scroll bars; others do not.

[2015-05-08 17:31] brianjgeiger commented on #2676
You can set it in your system preferences.

![screen shot 2015-05-08 at 1 31 42 pm](https://cloud.githubusercontent.com/assets/6599111/7541889/95e1a6ac-f586-11e4-96cc-2d4231a022f4.png)

[2015-05-08 17:32] GaryKriebel commented on #2683
I have all the addons enabled.... still don't see it

[2015-05-08 17:35] GaryKriebel commented on #2683
![scroll](https://cloud.githubusercontent.com/assets/9437946/7541941/0ff8a8c8-f587-11e4-87e3-742f01487eee.gif)

[2015-05-08 17:37] caileyfitz commented on #2676
Ah, thanks for the insight @sloria and @brianjgeiger!

[2015-05-08 17:40] nicipfeiffer commented on #2676
Ah ha!  Now it looks good.

[2015-05-08 17:46] nicipfeiffer commented on #2683
@GaryKriebel you have to be a 'read' or 'read+write' contributor to have the issue

[2015-05-08 17:46] caileyfitz commented on #2665
Whatever the decision is about this, I think it needs to be made sooner rather than later because our UI is inconsistent right now. You can check a box and press the Submit button and nothing happens. If you do not have that ability, you should not see that option. Likewise, if you see that option, you should have that ability.

[2015-05-08 18:03] GaryKriebel commented on #2683
Let me check that

[2015-05-08 18:05] GaryKriebel commented on #2683
Mea Culpa.... it does exhibit the reported behavior as read+write.

[2015-05-08 18:45] nicipfeiffer opened #2690 "[Production & Staging] Importing Github access token causes the project settings page to jump"
## Steps
1. Login as a contributor with admin on a project
2. Go to the project settings tab
3. Enable the github add-on
4. Click to import the access token
5. Pay attention to the page after clicking

## Expected
That the page would stay anchored at the github configuration section, nothing would jump or move expect for the repo dropdown being added.

## Actual
The page jumps, sometimes to the ve

[2015-05-08 20:12] saradbowman opened #2691 "Inconsistent language on components of components"
Steps
-------
1. Create a project
2. Add a component
3. View the "components" widget on the overview page

Expected
------------
The widget would say something like "No components have been added to this component"

Actual
--------
The widget says "No components have been added to this project."
![screen shot 2015-05-08 at 3 28 09 pm](https://cloud.githubusercontent.com/assets/7749914/7544666/134e

[2015-05-08 20:17] saradbowman opened #2692 "Metrics Update"
Currently there is a script that runs daily (automatically): https://github.com/CenterForOpenScience/osf.io/blob/573d098d071eb8930225d88721e8f25d6b6014bc/scripts/analytics/benchmarks.py

There is also a script that gets run, manually, every month or so: https://github.com/CenterForOpenScience/osf.io/blob/develop/scripts/metrics.py

Should track the items from the second script daily (number projec

[2015-05-08 20:44] caileyfitz opened #2694 "[feature request] Provide indication of deactivation request"
Same suggestion for production... just didn't want people to request deactivation on their production accounts.

# Steps
1. On staging, go to user settings
2. Go to Account Settings
3. Scroll to Deactivate Account
4. Press 'Request Deactivation'
5. Confirm that you want to deactivate account
6. Refresh the page

# Expected
I expect that there would be some indication that the Deactivate Account bu

[2015-05-11 14:44] HarryRybacki commented on #2680
Are we assuming that data collection must have at least begun at this point? **Pre-Data Collection Registration** makes that seem counter intuitive. Perhaps three options would be better:

1. No data has been collected
2. Data collection is in currently in progress
3. Data collection is complete

[2015-05-11 14:46] HarryRybacki commented on #902
@GaryKriebel can we close this out?

[2015-05-11 14:54] HarryRybacki commented on #671
@GaryKriebel I think this fell into the abyss. We should reassess the behavior, if it's fine, close this out, else update it.

[2015-05-11 14:55] HarryRybacki commented on #673
@GaryKriebel another one that got pushed into the backlog abyss -- update/close?

[2015-05-11 15:01] GaryKriebel opened #2695 "Log filenames have slashes"
#Steps to reproduce

1. Perform actions on a file to create an entry in the log.
2. View the log and see that some filenames have slashes in front.
![screen shot 2015-05-11 at 9 49 38 am](https://cloud.githubusercontent.com/assets/9437946/7566148/40063704-f7c3-11e4-91f0-aa4e017bf762.png)

#Expected Result
No Slashes in front of files.

[2015-05-11 15:03] #902 closed

[2015-05-11 15:03] sloria commented on #673
Would still like to see further movement on this, so would prefer not to close.

[2015-05-11 15:24] GaryKriebel opened #2696 "Project Tags with Special Characters."
#Steps to Reproduce
1. Open a project which which you have write/admin access.
2. Tag the project with an apostrophe in it. (e.g. "1 o'clock") and hit enter.
3. See the tag is correct.
![screen shot 2015-05-11 at 11 14 32 am](https://cloud.githubusercontent.com/assets/9437946/7568102/eac1e6ec-f7ce-11e4-842c-6c1bc95d3364.png)
4. Refresh the page.
5. See that the tag has had the apostrophe removed.

[2015-05-11 15:49] caileyfitz commented on #2680
+1 to @HarryRybacki's suggestion

[2015-05-11 17:12] GaryKriebel commented on #673
Let's see what @JeffSpies has in terms of legal updates.

[2015-05-11 17:14] JeffSpies commented on #673
Why are we removing the watermark?

On Mon, May 11, 2015 at 1:12 PM, Gary Kriebel <notifications@github.com>
wrote:

[2015-05-11 17:18] brianjgeiger commented on #673
Because @sloria felt 10 months ago that it was distracting and that the blue floating bar does enough. The last item from you said we should wait until changing interface and lawyer talking could impact, so to defer until that was done.

[2015-05-11 17:19] JeffSpies commented on #673
Caught up, sorry. Yeah, unless there's user feedback about it not differentiating, then this should be closed for the time being.

[2015-05-11 17:21] GaryKriebel commented on #673
Closing this issue.  Will open a new issue if user feedback warrants it.

[2015-05-11 17:21] #673 closed

[2015-05-11 18:11] sloria commented on #673
For better or worse, we receive very little user feedback on UI concerns like this (thus far, our UI decisions have been informed by our own usage of the site).

Given that others agreed that there might be better alternatives to the status quo, I'm not sure why this was closed. It can definitely be put on hold, but I think this is low-hanging fruit for improving the presentation of registrations.

[2015-05-11 18:36] evomellor opened #2697 "Two $ signs in a single section of a wiki causes odd formatting"
Hello,
I was editing a wiki and wanted to refer to a dollar amount twice in a paragraph. However, two dollar signs in the same paragraph resulted in some very odd formatting between the two $ signs. Attached is a screenshot of the formatting (under "The Prize" section). This is the page in which that behavior was seen (https://osf.io/x5w7h/wiki/home/), but I have since edited the page to spell out

[2015-05-11 18:38] GaryKriebel commented on #2697
@brianjgeiger does the dollar sign signify any special formatting?

[2015-05-11 18:41] brianjgeiger commented on #2697
Yes, it's for MathJax.

[2015-05-11 18:42] brianjgeiger commented on #2697
#2039

[2015-05-11 18:43] GaryKriebel commented on #2697
Is one able to escape the $ in the wiki?

[2015-05-11 18:51] brianjgeiger commented on #2697
I'm not sure. I know very little about the implementation of MathJax; it was done before my changes and I don't really use LaTex, so ¯\_(ツ)_/¯. Sometimes these things are particular about where spaces go in relation to the special character, but it could be a matter of an escape sequence.

[2015-05-11 18:57] brianjgeiger commented on #2697
It looks like we need to change the mathjax settings a bit. http://docs.mathjax.org/en/latest/tex.html#tex-and-latex-math-delimiters

[2015-05-11 19:04] sloria commented on #2697
Looking into this.

[2015-05-11 19:07] #2697 closed

[2015-05-11 19:09] sloria commented on #2697
@evomellor You should now be able to escape dollar signs like so:

[code]

I believe only the opening `$` needs to be escaped.

[2015-05-11 19:48] saradbowman commented on #1342
Reopening this issue, as the "Registration date" has disappeared from registrations.

Here is a screenshot of what the header on the registration looked like 1/27/15:
![screen shot 2015-05-11 at 3 42 04 pm](https://cloud.githubusercontent.com/assets/7749914/7573579/b59225ba-f7f4-11e4-8ad8-ae18d1701ac0.png)

This is what the registration looks like today:
![screen shot 2015-05-11 at 3 42 27 pm](htt

[2015-05-11 20:19] evomellor commented on #2697
Yes, that worked, thank you!

[2015-05-12 02:09] abought commented on #2680
Revisiting this a week later, @HarryRybacki 's suggestion seems like a good way to capture the situation.

Since this is the pre-collection registration, an alternative would be to reword in a way that emphasizes that "underway" and "complete" are a similar state of affairs (rather than being alternatives):

[2015-05-12 03:02] GaryKriebel commented on #2663
Fixed by https://github.com/CenterForOpenScience/osf.io/pull/2606

[2015-05-12 03:17] GaryKriebel commented on #874
@sloria is this still an issue?

[2015-05-12 03:18] GaryKriebel commented on #677
Fixed in https://github.com/CenterForOpenScience/osf.io/pull/2548

[2015-05-12 03:19] GaryKriebel commented on #1090
@nanchen47 is this still an issue?

[2015-05-12 03:24] GaryKriebel commented on #2154
@caneruguz will this be fixed with the toolbar changed?

[2015-05-12 03:25] GaryKriebel commented on #2224
@rliebz is this still occurring?

[2015-05-12 03:26] GaryKriebel commented on #2335
@erinspace or @fabianvf ... is this still happening?

[2015-05-12 03:27] GaryKriebel commented on #2337
@nicipfeiffer will you check this?

[2015-05-12 03:28] GaryKriebel commented on #2376
Will be fixed with comment updates.

[2015-05-12 03:29] GaryKriebel commented on #2447
@nanchen47 is this covered in your recent Presentation Service fixes?

[2015-05-12 03:31] GaryKriebel commented on #2532
@nanchen47 is this covered in your recent Presentation Service fixes?

[2015-05-12 03:31] GaryKriebel commented on #2530
@nanchen47 is this covered in your recent Presentation Service fixes?

[2015-05-12 03:32] GaryKriebel commented on #2545
@sloria has this been updated?

[2015-05-12 03:34] GaryKriebel commented on #2552
@fabianvf have you given this a look lately?

[2015-05-12 03:36] GaryKriebel commented on #2565
@fabianvf how quickly should elasticsearch have these updates?

[2015-05-12 03:37] GaryKriebel commented on #2604
Fixed by https://github.com/CenterForOpenScience/osf.io/pull/2606

[2015-05-12 03:41] rliebz commented on #2224
As far as I know, this issue as not been resolved.

Two potential solutions going forward:
 - On the resolution of IQSS/dataverse#2062, we should no longer run into upload issues, and this issue can be closed.
 - On the resolution of https://github.com/IQSS/dataverse/issues/2102, we can manually edit the Dataverse metadata to include the fields necessary that this wouldn't occur, although I hope t

[2015-05-12 12:52] nicipfeiffer commented on #2337
@GaryKriebel I checked, but since the graph has been changed from the entire list of providers on hover to a single provider, I don't see the total number of events for each provider any longer.  Therefore, I can't calculate a total any longer.
![screenshot 2015-05-12 08 50 14](https://cloud.githubusercontent.com/assets/9381062/7587438/2eab793a-f884-11e4-9fcf-8d8b74b0c58b.png)

[2015-05-12 13:23] samanehsan commented on #2376
@GaryKriebel, I think we should keep this issue open until #2534 is on production.

[2015-05-12 13:23] GaryKriebel commented on #2337
Will close this issue and reopen if the issue is seen again.

[2015-05-12 13:23] #2337 closed

[2015-05-12 13:29] GaryKriebel commented on #2376
keeping this issue open until #2534 is on production.

[2015-05-12 13:30] fabianvf commented on #2565
Search engine should be tracking all of this as it happens. Something may have broken the update logic.

[2015-05-12 13:30] jlcohoon commented on #673
I agree with Steve. We do have one comment from UI review the other day
about the background being unattractive. We could see if the interns say
anything as well?

On Mon, May 11, 2015 at 2:11 PM, Steven Loria <notifications@github.com>
wrote:

[2015-05-12 15:05] sloria commented on #2545
@GaryKriebel No, this has not yet been addressed.

[2015-05-12 15:10] sloria commented on #834
@bnosek @JeffSpies Given that we will be exposing user merging to users within the next day or two, just want to make sure that the desired behavior is implemented.

Currently behavior on develop/staging: Logs still link to the merged user's profile. Since activity points are just log counts, activity points do not get transferred.

Please let I or @lyndsysimon know if changes to this behavior nee

[2015-05-12 15:30] GaryKriebel commented on #1093
@nanchen47 did you ever finish this fix?

[2015-05-12 15:45] JeffSpies commented on #834
And that profile links the user's actual profile?

On Tue, May 12, 2015 at 11:10 AM, Steven Loria <notifications@github.com>
wrote:

[2015-05-12 16:05] sloria commented on #834
@JeffSpies Correct. There is an alert at the top that the user's profile has been merged and links to the user's actual profile.

[2015-05-12 16:14] bnosek commented on #834
This seems fine, particularly because we could always iterate to a
"stronger" merge by suppressing the merged user and combining the log
activity points if it made sense to do that someday.

On Tue, May 12, 2015 at 12:05 PM, Steven Loria <notifications@github.com>
wrote:

[2015-05-12 16:17] JeffSpies commented on #834
That's right. This is the iterative solution. Let's go with it.

On Tue, May 12, 2015 at 12:14 PM, Brian Nosek <notifications@github.com>
wrote:

[2015-05-12 19:57] chennan47 commented on #2532
@JeffSpies @sloria This is the user who is spamming osf to create user thro presentation service. I checked all his project is private. But this user is shown up in the search. Any thought on what we want to deal with this?

[2015-05-12 19:59] chennan47 commented on #2447
@JeffSpies The email "presentations@cos.io" is not managed by anyone and is shown up on some project as visible contributor and the email "presentation@osf.io" is managed by @saradbowman. One possible solution is writing a script to merge these two user and make it to be non-visible user over all its projects contributed. Thoughts?

[2015-05-12 20:08] nanchen47 commented on #2562
The pr has already been merged. Close this issue.

[2015-05-12 20:08] #2562 closed

[2015-05-12 20:12] GaryKriebel commented on #1090
Will defer this for now as there are complications in anonymizing all addons.  Language should be in the modal to alert the user that this may be an issue.

[2015-05-12 20:21] nanchen47 commented on #2530
https://github.com/CenterForOpenScience/osf.io/issues/2530

[2015-05-12 20:21] #2530 closed

[2015-05-12 20:34] GaryKriebel commented on #1681
Fixed with https://github.com/CenterForOpenScience/osf.io/pull/2606

[2015-05-12 21:54] nanchen47 commented on #2461
This pr has been merged and deployed on production.

[2015-05-12 21:54] #2461 closed

[2015-05-13 13:44] GaryKriebel commented on #1342
Per a discussion with @JeffSpies and @HarryRybacki .... the following request seems to be the desired solution:
https://github.com/CenterForOpenScience/osf.io/issues/971

[2015-05-13 13:48] JeffSpies commented on #1342
I see that as a counter argument. Their point is that the date the project was updated BEFORE registration is important. That's fine, but probably hard to get with our current system given that log entries are happening for projects post-registration

Let's start here, Why are log entries happening post-registration?

[2015-05-13 15:11] HarryRybacki commented on #1342
This might be too confusing but perhaps we have three date(time)s presented to users from a registration page.

1. Date this registration was created
1. Date the parent project was created
1. Datetime the parent project was last modified?

[2015-05-13 15:20] GaryKriebel commented on #1342
@saradbowman @JeffSpies @bnosek ... thought's on Harry's question?

[2015-05-13 15:38] HarryRybacki commented on #1342
@JeffSpies I'm not sure how loggable actions on the parent of a registration would affect the logs on the registration itself. I manually ran through some test scenarios and the registrations logs were unmodified.

Three fields are used for the template:
1. date_created -- pulled from Node.date_created -- copied from the parent project when the registration is created
1. date_modified -- pulls the

[2015-05-13 15:40] sloria commented on #2684
@bnosek and/or @JeffSpies -- unsure if the expected behavior in the OP is correct. Should "read-only" contributors be allowed to post comments?

[2015-05-13 15:43] bnosek commented on #1342
Creation date/time of parent project and creation date/time of registration are definitely essential.  What is the desire for the third - just so that someone knows if there is new stuff at the parent project to look at when they are at the registration?

I don't see a problem with adding that info as long as we aren't crossing over into the territory of over-providing information when only a smal

[2015-05-13 15:46] HarryRybacki commented on #1342
@bnosek the third (date_modified) is, or at least should be, the date of the last logable action on the registration e.g. making it public **not** the date of the last logable action on the parent. I can't recreate that locally. Either way, I agree that it doesn't make sense to show the date of the last logable action on the parent.

[2015-05-13 15:48] bnosek commented on #1342
And, I don't think we need to show the last loggable action on the
registration as a general concept.  The kinds of actions that one can
perform are extremely limited.  The one that is of interest to surface is
"Date made public".  That way, the reader would know if the registration
had been embargoed and for how long.

On Wed, May 13, 2015 at 11:46 AM, Harry Rybacki <notifications@github.com>
wro

[2015-05-13 15:51] HarryRybacki commented on #1342
Okay, well I propose we make the template have distinct **Date Parent Created** and **Date Registration Created** fields now. Once embargoes are in place adding the **Date Registration Made Public** will be a one line addition from the Embargo model.

[2015-05-13 15:55] bnosek commented on #2684
I agree with Nici.  Read-only contributors are not allowed to change the wiki, files, etc., but they are a contributor on the project making the minimal case of offering comments on what *should* be done to the project a desirable function.

[2015-05-13 16:16] sloria commented on #2684
Ok, this has been changed on production.

[2015-05-13 16:16] #2684 closed

[2015-05-13 17:59] GaryKriebel commented on #2521
Looks like @lbanner clicked "comment" and not "Close and comment".

I'm closing and commenting AND tagging name to make sure he gets another email while he's sitting on a beach.

[2015-05-13 18:19] sloria commented on #1342
The header now shows the Date Registered. @saradbowman Let me know if any further changes need to be made.

Closing the issue for now.

[2015-05-13 18:19] #1342 closed

[2015-05-13 19:34] saradbowman commented on #1342
looks good! thanks!

On Wed, May 13, 2015 at 2:19 PM, Steven Loria <notifications@github.com>
wrote:

[2015-05-13 19:59] GaryKriebel commented on #2511
This issue is also discussed in
https://github.com/CenterForOpenScience/osf.io/issues/1606

WIll close this issue and track progress there.

[2015-05-13 19:59] #2511 closed

[2015-05-13 20:00] GaryKriebel commented on #1606
This issue was also documented in https://github.com/CenterForOpenScience/osf.io/issues/2511

[2015-05-14 12:41] sloria commented on #834
Thanks for the feedback. Closing this for now.

[2015-05-14 12:41] #834 closed

[2015-05-14 14:47] caileyfitz opened #2715 "[staging & production] Cannot add project to dashboard when having only admin read access"
# Steps
1. Log into staging or production as user A
2. Go to a project on which user A and user B have admin access
3. Open another window and log in as user B
4. As user B create a component within that project and *not* add user A as a contributor to that component
5. Confirm that user A has read access via being an admin on the parent project (user B can go to Sharing page of the component and

[2015-05-14 14:49] caileyfitz commented on #2665
Commenting again to revive this. Deferring to @bnosek, @sloria, and @JeffSpies for a final decision, but I think a fix needs to happen soon.

[2015-05-14 14:57] bnosek commented on #2665
Yes, read+write users should be able to enable their add-ons in order to share their work with other members of the team.

[2015-05-14 14:57] caileyfitz commented on #2665
Thanks @bnosek

[2015-05-14 14:58] chennan47 commented on #2715
It's still a private component. User A can view it only because he has
admin right on parent project. User A can still see all the logs of the
component from parent project log. But I don't think we should offer user A
the right to track the private component from watch log. In real world,
User A can just ask User B to add him as a contributor to that component to
track it.

On Thu, May 14, 2015 a

[2015-05-14 15:04] chennan47 commented on #2665
I think perhaps we need some documentation for the privileges for different level of contributors for future reference. @sloria @GaryKriebel

[2015-05-14 15:07] caileyfitz commented on #2665
Here is the current documentation we have, listed under 'Contributors' on the Getting Started page:
![screen shot 2015-05-14 at 11 06 06 am](https://cloud.githubusercontent.com/assets/5975444/7634510/5ae0462e-fa29-11e4-8741-e523c3d3a26a.png)

[2015-05-14 15:15] sloria commented on #2665
Spoke with @JeffSpies: he agreed that read+write should be able to add add-ons. @chennan47 Can you implement this when you get the chance?

[2015-05-14 15:15] caileyfitz commented on #2715
@sloria what are your opinions on this?

[2015-05-14 15:17] brianjgeiger commented on #2715
If you can see it without the use of a special link, you should be able to put it in your project organizer.

[2015-05-14 15:19] chennan47 commented on #2665
@sloria will do

[2015-05-14 15:20] caileyfitz commented on #2715
+1 to @brianjgeiger -- that is my thought

[2015-05-14 17:16] nanchen47 commented on #2672
Same issue as https://github.com/CenterForOpenScience/osf.io/issues/2447. Close this one.

[2015-05-14 17:16] #2672 closed

[2015-05-14 19:44] saradbowman opened #2720 "[presentation service] List aggregate number of downloads on presentation page"
On the main presentation sharing service page (https://osf.io/presentations), we list the names of conferences and number of submissions for each.
![screen shot 2015-05-14 at 3 43 13 pm](https://cloud.githubusercontent.com/assets/7749914/7640230/fc24f0ea-fa4f-11e4-8ab7-30d3477f670d.png)

On each individual conference site (osf.io/view/spsp2015, for example), we list all talks and include number of

[2015-05-14 20:49] JeffSpies commented on #673
I think the grey background is unattractive and doesn't do what we need it
to. If there is serious concern on usability and aesthetic, then we can
consider making it a priority when our designers get to the base OSF L&F.
Until then, unless there is a better solution proposed that addresses both
usability and aesthetic, then we can keep this closed.

If anyone want spend time thinking about UI, let

[2015-05-15 13:48] sloria opened #2725 "Clarify that email notifications apply only to logged-in user"
On a project's settings, there is no indication that the settings in "Configure Notifications" *only* applies to the current user--it does *not* every contributor on the project, unlike all the other settings on the page (addons, commenting, etc.).

Adding some help text would help clarify this difference.

Hat tip to @lavezzojl for discovering this.

[2015-05-16 17:44] saradbowman commented on #2505
+1 help desk request

[2015-05-17 19:01] #2725 closed

[2015-05-18 00:42] #2695 closed

[2015-05-18 14:16] nanchen47 commented on #2604
Since the file page interface has been changed by @caneruguz, this is no longer a problem

[2015-05-18 14:16] #2604 closed

[2015-05-18 14:40] saradbowman opened #2744 "redirect presentation service URL"
As we're rebranding the Presentation Sharing Service as "OSF for Meetings," we should change the URL from osf.io/presentations to osf.io/meetings. It would be best to retain osf.io/presentations and have it redirect to osf.io/meetings.

[2015-05-18 14:42] chennan47 commented on #2715
Talked with @lbanner @saradbowman , you can view that project just becasue you are the admin of the parent project. You have the right to be aware what's going on. However, as the fact you are not a contributor of that child component, you should not be able to include that in your project organizer as your project or a public project. Neither should you be able to watch it to track it. @sloria th

[2015-05-18 15:09] brianjgeiger commented on #2715
If they can make a bookmark to go to the project whenever they want (which they could), they should be able to use the project organizer to go to it. Also, they could go around the "don't use the project organizer" restriction by going to their project organizer, expanding the project that they are administrator on, and dragging the component into another folder.

What disabling that button does i

[2015-05-18 15:13] nanchen47 commented on #2744
Once https://github.com/CenterForOpenScience/osf.io/pull/2742/files gets merged in, this can be closed.

[2015-05-18 15:15] jlcohoon opened #2745 "Some private component titles are publicly visible in logs"
Some, but not all, names of private components are listed in logs. For example, "Materials" is named as a component in this registration even though the component title is listed as private in the component list:
![screen shot 2015-05-18 at 11 08 16 am](https://cloud.githubusercontent.com/assets/4965832/7683753/19fb2650-fd4f-11e4-8fc7-e86e67853dd4.png)

Also, here, the private registered component

[2015-05-18 15:36] nicipfeiffer opened #2747 "[Staging & Production] Mendeley and Zotero error when cancel import access token for multiple linked accounts"
## Steps
1. Log in to osf.io
2. Go to your user settings
3. Connect 2 Mendeley and Zotero accounts
4. Confirm that both were successfully authorized
5. Go to a project you have admin access to
6. Go to the project settings
7. Enable the Mendeley and Zotero add-ons
8. Click on the link to import an access token
9. In the modal, toggle the dropdown and see that both accounts are choices
10. Hit 'Can

[2015-05-18 17:40] caneruguz commented on #2663
@GaryKriebel this issue can be closed.

[2015-05-18 17:41] caneruguz commented on #2561
@lbanner  This original issue can be closed, it is fixed in Files page where the height readjusts on window resize.

[2015-05-18 17:42] caneruguz commented on #2550
@caileyfitz and @GaryKriebel can we recheck this?  It should be resolved.

[2015-05-18 17:43] caneruguz commented on #1220
@lbanner this is not in production so I think we can close the issue.

[2015-05-18 17:44] caneruguz commented on #856
@lbanner @GaryKriebel ; it may be time to revisit this issue. Treebeard is in place and the current behavior does open top level folders.

[2015-05-18 17:45] caneruguz commented on #2282
@lbanner this suggestion is now in production so we can close the issue.

[2015-05-18 17:45] caneruguz commented on #2674
@GaryKriebel this issue should be resolved now

[2015-05-18 18:08] #2663 closed

[2015-05-18 18:10] #2282 closed

[2015-05-18 18:11] caileyfitz commented on #2550
@caneruguz this is now resolved :whale:

[2015-05-18 18:54] #2550 closed

[2015-05-18 19:00] #1220 closed

[2015-05-18 19:04] bnosek commented on #2715
Just chatted with Nan about it.  I agree with Brian G.

[2015-05-18 19:18] sloria commented on #2745
@jlcohoon This should now be fixed. Can you verify?

[2015-05-18 19:43] chennan47 commented on #1654
This is what shown on the project now.
![screen shot 2015-05-18 at 3 43 05 pm](https://cloud.githubusercontent.com/assets/4974056/7688693/a2c80492-fd74-11e4-9101-ad0105b10e1f.png)
I will take a look at sentry later.

[2015-05-18 19:53] GaryKriebel commented on #2674
This is good now.

[2015-05-18 19:53] #2674 closed

[2015-05-18 20:02] jlcohoon commented on #2745
looks good to me

[2015-05-18 20:06] chennan47 commented on #2683
@caileyfitz can you verify if this problem still exist? It doesn't happen to me.

[2015-05-18 20:12] chennan47 commented on #2673
@caileyfitz can you verify this problem still exists?

[2015-05-18 20:15] #2691 closed

[2015-05-18 20:17] chennan47 commented on #2603
This is not the problem of github. Actually, it's the problem with Figshare in fangorn.js

[2015-05-18 20:20] #2745 closed

[2015-05-18 20:30] nanchen47 commented on #2547
This problem no longer appear.

[2015-05-18 20:30] #2547 closed

[2015-05-18 20:38] lbanner commented on #2603
@chennan47 -- Is this an issue we should/need to resolve? Is it showing up only for GitHub interactions, even if it is Figshare/fangorn?

[2015-05-18 20:43] chennan47 commented on #2603
@lbanner . This might be a @chrisseto question. It is related to some change from waterbulter side and we didn't change fangorn.js accordingly on OSF side. And altho this is reporting the error, it doesn't break anything at all.

[2015-05-18 20:47] lbanner commented on #2603
OK - when you get a chance to weigh in @chrisseto -- thanks.

[2015-05-18 20:55] lbanner commented on #856
OK -- I prioritized 'high' so we might remember to engage this conversation again. TY

[2015-05-18 20:56] lbanner commented on #2561
Thanks.

[2015-05-18 20:56] #2561 closed

[2015-05-18 21:24] caneruguz commented on #2341
@sloria can we consider this fixed?

[2015-05-18 22:02] nanchen47 commented on #677
The pr already goes into production.

[2015-05-18 22:02] #677 closed

[2015-05-18 22:26] sloria commented on #2341
Yes.

[2015-05-18 22:26] #2341 closed

[2015-05-19 02:53] lbanner commented on #1669
Looks to be covered/closed in #1232 - Correct @nanchen47 ? If so, let's close this.

[2015-05-19 02:56] lbanner commented on #1629
@jlcohoon -- Is this not covered/overcome with the new PDF viewer in OSF, yes?

[2015-05-19 03:00] lbanner commented on #2495
Looks like I can close this, yes @samchrisinger ? Due to merge of #2523?

[2015-05-19 12:50] caileyfitz commented on #2673
Am not seeing this problem anymore. @nicipfeiffer can you check that this is resolved for you?

[2015-05-19 14:16] jlcohoon commented on #1629
It is!

On Mon, May 18, 2015 at 10:56 PM, LarryB <notifications@github.com> wrote:

[2015-05-19 14:37] nicipfeiffer commented on #2673
Looks to be fixed @chennan47 @caileyfitz

[2015-05-19 14:52] lbanner commented on #1629
Cool - Thanks!

[2015-05-19 14:52] #1629 closed

[2015-05-19 14:56] #2673 closed

[2015-05-19 15:31] lyndsysimon commented on #1654
The problem was with the return value of `_view_project` - `fork_count` was counting registrations of forked nodes as well as the forked nodes themselves, and in some cases it is possible for the forks to have been deleted while registrations of those forks remained.

 len(node.node__forked.find(
                Q('is_deleted', 'eq', False) &
                Q('is_registration', 'ne', True)

[2015-05-19 15:48] hmoco commented on #2692
Would this simply entail rewriting the non-overlapping code to benchmarks.py, and add those values to the table written to 'main.txt'?

[2015-05-19 17:23] lbanner commented on #2696
@zobairAlijan will be taking a look at this one.

[2015-05-19 17:25] lbanner commented on #2692
@sloria -- insight for @hmoco above? TY

[2015-05-19 18:34] PatrickEGorman commented on #2640
All of the videos appear to have the same css selectors.

[code]

Could the problem be with the youtube account?

[2015-05-19 18:44] PatrickEGorman commented on #2640
Actually the first 3 videos are of a different container class and are embedded in the getting_started.mako template.  I will continue to investigate this error

[2015-05-19 19:27] nicipfeiffer opened #2758 "[Production & Staging] Importing Github access token gives 500 error"
## Steps
1. Go to a project you have admin privileges on
2. Open the javascript error console for the current browser tab
3. Go to the settings tab and import the access token for the Github add-on
4. Select a private repo and hit Submit

## Expected
I would expect the private repo to be linked to the project successfully

## Actual
There is an error message 'Settings not updated'
And a console er

[2015-05-19 19:36] nicipfeiffer opened #2759 "[Production & Staging] Forgot Password does not recognize alternate emails"
## Steps
1. Log in to your account on osf.io
2. Go to the User Settings, Account Settings
3. Add a new email to your account
4. Confirm the email through the link that is emailed
5. Check that the new email is now listed as an alternate email
6. Log out
7. Log in using the alternate email and your usual password (should work)
8. Log out
9. Click the Forgot Password link on the log in page
10. In t

[2015-05-19 19:46] chennan47 commented on #2759
@caileyfitz Can you verify this problem? I looked at the code. It looks fine and then I tried on production myself and got the reset  password email sent to my alternative email.

[2015-05-19 19:48] caileyfitz commented on #2759
@chennan47 I get the email also.

[2015-05-19 19:49] nanchen47 commented on #2759
Closed for now and if you got this problem again @nicipfeiffer. Reopen it.

[2015-05-19 19:49] #2759 closed

[2015-05-19 20:24] nanchen47 commented on #2671
From what I am understanding, UTC offset doesn't mean UTC time. It means the difference between your local time zone and the UTC time. I think the current behavior is correct. Close for now.

[2015-05-19 20:24] #2671 closed

[2015-05-19 20:43] leb2dg opened #2761 "[Production & Staging] Add-on Icons are Draggable in Google Chrome"
## Steps

In Google Chrome, go to a project with at least one component
Enable a few external storage add-ons for the project
Go to either the files tab or the project overview page
Collapse all the add-ons so that you can see them all (helpful if you have a ton of files)
Click an icon and drag it out of the container
Unlike issue #2263 that occurs in IE the icon cannot be dragged into another add

[2015-05-19 20:52] lbanner commented on #2761
Good catch! You want to take this one on too @leb2dg ? Thanks.

[2015-05-19 20:57] PatrickEGorman commented on #2640
After spending a fair chunk of time on this error and trying pretty much everything I could think of, I've found that it is tedious and has no obvious solution.  I feel like my time would be better spent elsewhere and unless somebody else wants to invest a lot of time in a minor, obnoxious error, I'd recommend ignoring it.

[2015-05-19 20:59] leb2dg commented on #2761
Yes, I'll take this one as well!

[2015-05-19 21:00] leb2dg commented on #2263
I'm looking into this one.

[2015-05-19 21:09] MPNussbaum commented on #710
@GaryKriebel would you please assign me to this? Thank you.

[2015-05-19 21:51] sloria commented on #2715
Should now be fixed.

[2015-05-19 21:51] #2715 closed

[2015-05-19 22:32] MPNussbaum commented on #2385
@chennan47 @GaryKriebel Was not able to recreate.

![screen shot 2015-05-19 at 6 30 40 pm](https://cloud.githubusercontent.com/assets/2239453/7715417/51a3bd68-fe55-11e4-8710-aec40f57893e.png)
![screen shot 2015-05-19 at 6 31 07 pm](https://cloud.githubusercontent.com/assets/2239453/7715416/519f3108-fe55-11e4-8c2d-f49a25f3db1a.png)

[2015-05-19 22:45] chennan47 commented on #2385
The problem is that, if you don't click to dismiss the message. It persist even you active the addon.

[2015-05-20 02:28] lbanner commented on #710
You got it @MPNussbaum -- this one is interesting. Thanks.

[2015-05-20 02:32] lbanner commented on #2263
Great @leb2dg

[2015-05-20 02:32] lbanner commented on #2761
OK good - Thanks.

[2015-05-20 03:04] MPNussbaum commented on #710
@lbanner Thank you.

[2015-05-20 13:12] samchrisinger opened #2763 "Slashes in Files logs awkward/confusing"
![screen shot 2015-05-20 at 9 11 27 am](https://cloud.githubusercontent.com/assets/2207561/7726474/57a9c20e-fed0-11e4-93eb-e538f99214d1.png)

The folder name is adad, looks like adadl (really adad /).

[2015-05-20 13:16] chennan47 commented on #2763
According to previous discussion with @GaryKriebel @sloria , we left the end slash for folder only. But we may remove it if user feel confusing

[2015-05-20 13:54] ZobairAlijan commented on #2696
It looks like, It is working now.

[2015-05-20 14:00] chennan47 commented on #2696
@ZobairAlijan just verified on production. The problem still exists.

[2015-05-20 14:04] zkraime commented on #2685
@GaryKriebel
Is this still an issue? Or are we keeping the current tradeoff?

[2015-05-20 14:10] lbanner commented on #2685
Good question @zkraime -- I think we accept the current trade-off, it makes sense, and likely most users will not try to search immediately post name-change i.e. without reload -- I am going to close. Thanks.

[2015-05-20 14:10] #2685 closed

[2015-05-20 14:14] lbanner commented on #2763
I'll agree with @samchrisinger here -- Would it be difficult to remove? I think that is preferable.

[2015-05-20 14:24] zkraime commented on #2641
@GaryKriebel I'm interested in taking a jab at this

[2015-05-20 14:28] chennan47 commented on #2763
@lbanner will do

[2015-05-20 14:28] lbanner commented on #2641
OK @zkraime -- We can assign it directly in GH if you accept your invite to the COS org. -- Did you get one? Thanks.

[2015-05-20 14:32] zkraime commented on #2641
@GaryKriebel I forgot to check my other email yesterday afternoon - just accepted!
Thanks

[2015-05-20 14:36] lbanner commented on #2641
Done!

[2015-05-20 14:39] ticklemepierce commented on #2565
As far as I can tell (correct me if I'm wrong), the name that shows up in search is the name when the project was created and the file uploads and registrations are not necessary to reproduce the issue.  @nicipfeiffer can you check this and confirm if you get a chance?

[2015-05-20 15:07] jlcohoon opened #2768 "addons not being listed in file tree"
<h4>Steps</h4>
1. Visit this project: osf.io/amp3e
2. Look at the logs. Note the activity indicating that there are connected Dropbox and Github accounts.
3. Look at the file tree on the overview. Note that there are no addons listed there.
4. Visit the files page to look at the file tree there as well.

![screen shot 2015-05-20 at 10 47 50 am](https://cloud.githubusercontent.com/assets/4965832/77

[2015-05-20 15:11] lbanner commented on #2768
@jlcohoon Two questions: Is this specific to this project? or can you reproduce / have you seen on others? - and: What happens if the add-on is part of the 'private' component? Is functionality such that logs only represent activity on the 'parent?' Thanks.

[2015-05-20 15:20] jlcohoon commented on #2768
I haven't found another project that this is occurring for, though I've
found a limited number of projects with addons. It's possible it's specific
to this one project, but I can't be sure.

And no, this isn't occurring because of a private component. Logs for
private components are not shown in a public parent (I tested and confirmed
this to be sure this isn't a privacy issue).

On Wed, May 20, 2

[2015-05-20 15:29] #1654 closed

[2015-05-20 15:44] GageGaskins commented on #2675
@sloria  @lbanner  Per our conversation about removing contributors, is this the same principle? Just because a user might not have some level of access for a parent project, they could still have higher level for children?

For example, I'm an admin on a component within a project I am also admin on. I then become read/write because I no longer need to control that level of the project. I should

[2015-05-20 15:53] lbanner commented on #2675
@GageGaskins Yes, I think your observation is correct. I could have only read-access on the 'parent' but read-write or admin on a component project.

[2015-05-20 17:09] Johnetordoff commented on #2675
Is there any reason an admin shouldn't automatically have  admin status on every component in the project? I don't see any reason why not and in components with multiple admins people are bound to accidentally lock themselves of their own components.

I feel this is better from a design standpoint because the end user is going to think "I'm an Admin" not "I have an Admin permission in this particu

[2015-05-20 17:31] nicipfeiffer commented on #2565
@ticklemepierce You would need the step for making a registration so that you have a registration to look at the 'Steps for Search' 4-9, unless I have misunderstood your question.

[2015-05-20 17:38] PatrickEGorman commented on #1518
Would there be a way to do this without modifying the webpack javascript files?

[2015-05-20 17:58] abought commented on #2675
For anyone picking this up, here are some scattered notes from when I looked into this a few weeks ago...

1. The settings change endpoint (`project_views.contributor.project_manage_contributors`) ends up calling `add_contributor`. This check appears to be the culprit:
https://github.com/CenterForOpenScience/osf.io/blob/fc51e99e45a42562208feae167a30b0c3beebf70/website/project/model.py#L2212

2. In

[2015-05-20 18:19] samanehsan commented on #1693
@lbanner, @GaryKriebel this has been fixed on production with Caner's changes and can be closed.

[2015-05-20 18:23] lbanner commented on #2675
@Johnetordoff Good questions -- couple of clarifications:

The specifics on this bug/issue here don't involve the larger question of Admin rights 'all-the-way' down. Specifically for this, it is the ability to group change rights for a user, via the modal, across the project and components, *after* originally setting them.

On the larger question, your instinct is good, but, from my understanding,

[2015-05-20 18:45] #1693 closed

[2015-05-20 19:06] nanchen47 commented on #2656
This pr has been merged and deployed to production.

[2015-05-20 19:06] #2656 closed

[2015-05-20 19:08] nanchen47 commented on #2447
This pr has been merged and deployed on production and I verified that the user "Presentation Service" no longer show up in production search.

[2015-05-20 19:08] #2447 closed

[2015-05-20 19:09] saradbowman commented on #2447
Thank you!

On Wed, May 20, 2015 at 3:08 PM, nanchen47 <notifications@github.com> wrote:

[2015-05-20 19:10] nanchen47 commented on #2665
The pr has been merged in and the problem is solved on production.

[2015-05-20 19:10] #2665 closed

[2015-05-20 19:33] ticklemepierce opened #2773 "Mobile site - navbar is wider than content on profile page"
Steps
--------
1.  Login on mobile site
2.  Use drop down menu to navigate to the profile page

Expected
-------------
Navbar stays constant width (width of the screen)

Actual
--------
![screen shot 2015-05-20 at 3 23 20 pm](https://cloud.githubusercontent.com/assets/8229937/7734533/8f6cfcae-ff04-11e4-8d1b-afd0b1d57b96.png)

Navbar is too wide and you cannot see the search button or menu button.

[2015-05-20 19:46] ticklemepierce opened #2774 "Mobile site - dashboard layout issues"
Expected
-------------
On the home page (dashboard), the projects table should fit on the screen.
Also, "Quick Tasks"/"Watchlist" should be right under this instead of having so much whitespace.

Actual
--------
![screen shot 2015-05-20 at 3 34 48 pm](https://cloud.githubusercontent.com/assets/8229937/7734838/260bade8-ff07-11e4-9084-957926605e97.png)
Table is too wide

<br>
![screen shot 2015-05-2

[2015-05-20 19:47] ticklemepierce opened #2775 "Mobile site - OSF logo is not vertically centered"
Expected
-------------
OSF logo should be vertically centered and even with the magnifying glass and menu buttons

Actual
--------
![screen shot 2015-05-20 at 3 47 29 pm](https://cloud.githubusercontent.com/assets/8229937/7734892/8be714fe-ff07-11e4-8b97-73f59be663dc.png)

[2015-05-20 20:04] ZobairAlijan opened #2776 "The tag disapears in develop stage."
1. After adding a tag and refresh the page using cmd + shift + r, the tag disappear.
2. When adding something in tag section and hit enter throws 500 internal error
3. POST XHR http://localhost:5000/api/v1/project/zkpfx/addtag/tag/

4. "TypeError: clean_tag() argument after ** must be a mapping, not unicode " will popup in console.

![screen shot 2015-05-20 at 2 01 47 pm](https://cloud.githubuserc

[2015-05-20 21:40] NatashaRichter opened #2778 "[staging & production] Text hangover in add links modal"
Similar to #1778

### Steps

1. Go to project on which you have admin access
2. From the Project Overview page, click "Add Links" from the toolbar on the right
3. On staging, search for "super" and then click "supercalifragilisticexpialidocious"
4. Click the plus sign to add the link.

### Expected
I expect that all text will stay within the modal outlines.

### Actual
Some text hangs over if the

[2015-05-21 00:09] abought opened #2779 "Search widget in file browser doesn't search un-expanded folders"
## Summary
The search widget in the file browser does not search folders/ sub-components that have not yet been expanded yet. Once the folder has been expanded, the search button is able to return results from that folder.

## Steps to reproduce
1. Create a project
2. Create a sub-component and upload a file to OSF storage.
3. Go back to the parent project.
4. On the file organizer toolbar, click

[2015-05-21 03:25] #2062 closed

[2015-05-21 13:43] lbanner commented on #2779
@caneruguz Can you look at this one? Does it reside in your arena, possibly? Let me know. Thanks.

[2015-05-21 13:45] brianjgeiger commented on #2779
This will properly be dependent on having a caching system for the addon file information. There are other ways to do it, but the best way is to get the caching.

[2015-05-21 13:46] lbanner commented on #2779
Any obstacles to that? Big project?

[2015-05-21 13:48] brianjgeiger commented on #2779
I think we're hoping to have redis in, which rumor had it was going to be next epic if things don't change.

Incidentally, the Project Organizer has the same issue. It might be a good idea to pre-load the All My Projects smart folder at the very least. That information is on the page already, if I recall correctly, because of the various typeahead "go to my project" style widgets. But we might hav

[2015-05-21 13:51] lbanner commented on #2776
@ZobairAlijan Can you provide a bit more clarity here -- also, best to follow the submission format guidelines: https://github.com/CenterForOpenScience/osf.io/blob/develop/CONTRIBUTING.md
Thanks!

[2015-05-21 13:52] caneruguz commented on #2779
To clarify, Treebeard does NOT have a search functionality intentionally, it only does filtering. Previously we had "Filter" in that text box but Steve asked us to change the text to search, while that's not actually what it does.

Remember that we have lazyloading to save users from a lot of data, I can easily lazy load all content on every folder without opening them but I don't think that's the

[2015-05-21 13:54] brianjgeiger commented on #2779
It is indeed. Can be worked around in the front end, properly we need back end work.

[2015-05-21 13:56] ticklemepierce opened #2781 "Navbar refactoring"
Expected
-----------
Everything in the navbar should be centered vertically.

Actual
--------
Similar to #2775, the logo is a bit off center on the full site, as is the gravatar/user name.

![screen shot 2015-05-21 at 9 56 49 am](https://cloud.githubusercontent.com/assets/8229937/7750013/b913be30-ff9f-11e4-8c02-f86c64808255.png)

[2015-05-21 14:11] chennan47 commented on #2776
@ZobairAlijan Can't repo this problem on my localhost, staging or production.

[2015-05-21 14:45] samanehsan commented on #2776
@ZobairAlijan, what tag did you type in that gave you the 500 error?

[2015-05-21 16:10] samchrisinger commented on #1692
Related to, perhaps resolved in https://github.com/CenterForOpenScience/osf.io/pull/2414

[2015-05-21 16:30] brianjgeiger opened #2783 "Wrong icons in file grid"
Steps
-------
1. Go to the project organizer. Look at the icons
2. Go to the file grid. Look at the icons.

Expected
------------
Icons between each of those grids would be the same for the same items.

Actual
--------
Components and projects in the file grid have folder icons inside of their category icons.

[2015-05-21 17:31] caneruguz commented on #2783
@GaryKriebel this could be a good intern task as well.

[2015-05-21 17:32] caneruguz commented on #2781
This issue covers everything in #2775 , we can remove that one. The solution will require the same code.

[2015-05-21 17:35] caneruguz commented on #201
@GaryKriebel is it time to revisit this issue?

[2015-05-21 17:38] caneruguz commented on #475
@GaryKriebel this issue will be fixed with download as zip right?

[2015-05-21 17:38] #2776 closed

[2015-05-21 17:40] caneruguz commented on #645
@GaryKriebel this fix seems to be broken again, can you assign me to this?

[2015-05-21 17:41] caneruguz commented on #709
Currently the files page will only load the root of addons. @GaryKriebel can we consider this issue fixed?

[2015-05-21 17:45] nanchen47 commented on #2775
Duplicated as https://github.com/CenterForOpenScience/osf.io/issues/2781

[2015-05-21 17:45] #2775 closed

[2015-05-21 17:46] #709 closed

[2015-05-21 17:49] chennan47 commented on #201
I think this is covered by @lyndsysimon account merging. Can you confirm that, @lyndsysimon ?

[2015-05-21 17:58] lbanner commented on #201
Yeah -- this is covered by recent merge functionalities -- I think we are good and am going to close. TY

[2015-05-21 17:58] #201 closed

[2015-05-21 18:01] GaryKriebel commented on #475
I belive download as a zip will be for the entirety of OSF Storage, not a select number of the files.

[2015-05-21 18:04] lbanner commented on #475
@GaryKriebel is correct - Download as Zip covers top level OSF folder, so let's keep this open for issue prioritization by Community and @jlcohoon

[2015-05-21 19:39] zkraime commented on #2385
@GaryKriebel I'll grab this one real quick

[2015-05-21 19:45] hmoco commented on #2539
Apparently this is a result of the water_butler logging system not getting the folder name when deleting a folder from box. Chris mentioned this is being worked as a low priority item, but it is not inherently a osf problem.

[2015-05-21 20:03] hmoco commented on #2545
So this behavior is due, I believe, to (in tasks.py)

--exists-action -w, which I am unsure of why it is used
-U, which I understand why is necessary, but might be causing the issue as mentioned in this issue:
https://github.com/pypa/pip/issues/2472

by removing those two from tasks.py functions: requirements and addon_requirements, the invoke commands behave as expected, but I am not sure if remo

[2015-05-21 20:32] lbanner commented on #2545
@brianjgeiger? ^^  Thanks @hmoco

[2015-05-22 12:23] brianjgeiger opened #2797 "Forking external addons"
Steps
-------
1. Fork a project with external addons

Expected
------------
There would be a way to fork the data from the addons

Actual
--------
There is not

This is something of a big task, mostly in the User Interface area once everything currently being worked on is done. However, the short of it is that we should have a streamlined interface to allow people the option to add their own crede

[2015-05-22 12:36] brianjgeiger commented on #1003
From my duplicate issue: "An added flourish would be to have a status widget available everywhere (say, in the navbar) that would be color coded to indicate whether things are good, good but with minor issues, or bad, and they could click it to see the status page."

And maybe a "report a problem with X service" if we think it's working but someone else doesn't. This may just indicate individual u

[2015-05-22 12:59] brianjgeiger opened #2798 "Github markdown style checklists for the wiki"
## Steps
1. Create a github-style markdown checklist in the wiki
## Expected (well, kinda)

There would be a cool checklist
## Actual

No cool checklist exists.

This is actually a feature request for something like https://github.com/blog/1375%0A-task-lists-in-gfm-issues-pulls-comments within our wiki syntax. It would involve a markdown-it plugin that has configurations for ajax-endpoints for han

[2015-05-22 13:54] hmoco commented on #2545
Actually upon further testing --exists-action doesn't create any problems, it is all due to -U. Using a commit instead of a branch for pip install for MFR and modular ODM seems to have no effect.

[2015-05-22 14:04] leb2dg commented on #1506
I'm looking into this.

[2015-05-22 14:25] lbanner commented on #1506
Thanks!

[2015-05-22 17:21] haoyuchen1992 commented on #2778
Hi Natasha, I just tried to replicate the bug, but it didn't show me the same problem. And also I don't see the example link --"supercalifragilisticexpialidocious" any more. Is it because of the length of the name?

[2015-05-22 17:55] PatrickEGorman commented on #2335
Just noticed this myself.  Seems like a pretty important bug to fix

[2015-05-22 18:16] PatrickEGorman opened #2808 "Wiki Page "open_science_projects""
I notice that the wiki page has a link for "open_science_projects".  I'm not sure if this a local problem or a universal problem for the whole site but I think "Open Science Projects" would look far more professional.  As far as I can tell, it's not hard coded in the site by the way.
![screen shot 2015-05-22 at 2 13 47 pm](https://cloud.githubusercontent.com/assets/7470770/7776959/2473f706-008d-11

[2015-05-22 18:39] lyndsysimon commented on #2626
Sorry - yes, it's a suitable intern task. It touches on a lot of things (OSF, addons, external APIs, citations, the CSL-JSON data format), but the change is a small one and there should be enough information above to keep the problem space small enough to be manageable.

@ticklemepierce reached out to me over chat, and I let him know that I'm happy to help with this if there are any major roadbloc

[2015-05-22 18:56] GaryKriebel commented on #2808
@PatrickEGorman, where are you seeing this?

[2015-05-22 19:12] lyndsysimon commented on #12
Closed by #2602 - or at least, the interface is present. The functionality still requires admin approval, but that's an explicit decision because we don't want users to accidentally deactivate their accounts.

[2015-05-22 19:12] #12 closed

[2015-05-22 19:18] PatrickEGorman commented on #2808
The fact that you don't see it hints that it might be a local problem as I see it right here: https://osf.io/4znzp/wiki/home/ in the wiki homepage.  I do see it whether or not I'm logged in, so I thought it might be worth a check

[2015-05-22 19:21] brianjgeiger commented on #2808
Fixed.

[2015-05-22 19:21] #2808 closed

[2015-05-22 19:22] brianjgeiger commented on #2808
That being said, if someone had a link to that page, it's broken now, so it may get changed back. Looking forward to Wikis being addressed by GUID rather than title.

[2015-05-22 19:33] lbanner commented on #2626
:+1:

[2015-05-22 19:54] leb2dg commented on #2649
I'm looking into this.

[2015-05-22 19:56] chennan47 commented on #2649
@leb2dg this is already fixed in https://github.com/CenterForOpenScience/osf.io/pull/2772

[2015-05-22 20:06] leb2dg commented on #2649
@chennan47 Great! Does #2772 fix the preposition issue as well? The difference is still on production (see below screen shot).
![screen shot 2015-05-22 at 4 04 22 pm](https://cloud.githubusercontent.com/assets/7131985/7778759/81628d38-009c-11e5-874e-3c07a5eefe27.png)

[2015-05-22 20:11] chennan47 commented on #2649
@leb2dg that pr fixes this problem but just haven't been merged yet.

[2015-05-22 20:30] leb2dg commented on #2517
Looking into this.

[2015-05-22 20:31] brianjgeiger commented on #2517
Yay!

[2015-05-22 20:51] hmoco commented on #2509
The issue mentioned above doesn't happen anymore/is not reproducible. However, the folder name mess up still happens on the settings page only. I have fixed that, and am now on the process of testing to make sure my fix doesn't break anything else.

[2015-05-25 15:09] chennan47 opened #2822 "Upload more than 100mb files"
<b>Steps</b>
1. log in to OSF
2. go to the file page
3. choose any file folder or addons
4. upload a file more than 100mb
5. It will pop up a message saying "can't upload files for more than 100mb"
then you will see
![screen shot 2015-05-25 at 11 07 16 am](https://cloud.githubusercontent.com/assets/4974056/7798956/57694ede-02ce-11e5-9cb7-8e064faa4a40.png)

<b>Expected</b>
Click on the red cross wi

[2015-05-26 02:16] lbanner commented on #2539
@chrisseto should we remake this in WaterButler and close this issue here? Thanks.

[2015-05-26 02:33] lbanner commented on #2649
Nice dialog @leb2dg and @nanchen47 -- appreciate it.

[2015-05-26 02:34] lbanner commented on #2517
:+1:

[2015-05-26 02:38] lbanner commented on #2509
Cool @hmoco -- when you get coding solution done, go ahead and still reference this issue # in your PR. Thanks.

[2015-05-26 02:51] chrisseto commented on #2539
This should no longer be an issue

On Mon, May 25, 2015 at 10:16 PM, LarryB <notifications@github.com> wrote:

[2015-05-26 02:58] lbanner commented on #2539
Cool -- Thanks -- I'll close.

[2015-05-26 02:58] #2539 closed

[2015-05-26 02:59] chrisseto commented on #2539
Well, wait for the release to verify :P

On Mon, May 25, 2015 at 10:58 PM, LarryB <notifications@github.com> wrote:

[2015-05-26 13:26] NatashaRichter commented on #2778
Hi Haoyu, I'm able to replicate it on staging and on production. If you search for just "super" when on staging, that project will appear and you'll see that the name extends past the modal. The same problem occurs on production (I just created a private sample project with a similar name) and it extends past the modal, as well. If you have trouble replicating again, come and find me!

[2015-05-26 13:42] zkraime commented on #2822
@lbanner, Can I grab this?

[2015-05-26 14:17] PatrickEGorman commented on #2696
I can give this one a look through if nobody else is working on it

[2015-05-26 14:34] lbanner commented on #2822
:+1:

[2015-05-26 16:59] saradbowman opened #2831 "[presentation service] search for tags on presentation service"
Each conference's list of talks/posters has a search bar to search within projects for that conference:

![screen shot 2015-05-26 at 12 49 32 pm](https://cloud.githubusercontent.com/assets/7749914/7817836/b75e44c0-03a5-11e5-915b-6e739f86fbf7.png)

The search function searches project title (I am not sure what else) - but does not search tags. Adding ability to search tags would make it possible to

[2015-05-26 17:07] caneruguz commented on #2831
@lbanner this is something I can quickly address if you give a go.

[2015-05-26 17:09] leb2dg commented on #2783
Is this issue talking about the difference between the icon that appears next to project/component names in different views? If so, would you like the cubes/component icons (first image below) to be used instead of the folder icons (second image below)? @brianjgeiger

![screen shot 2015-05-26 at 1 04 00 pm](https://cloud.githubusercontent.com/assets/7131985/7818161/f8de445c-03a7-11e5-9f51-4114be0d

[2015-05-26 17:14] brianjgeiger commented on #2783
That is all correct, @leb2dg. Use the icons from the first image in all places.

[2015-05-26 17:15] leb2dg commented on #2783
Wonderful, I'll work on this.

[2015-05-26 17:41] lbanner commented on #2831
Make it so! : )

[2015-05-26 17:49] jlcohoon opened #2832 "Downloading a file from Google Drive addon sends user to 500 error page"
<h4>Steps</h4>
1. Visit this file: https://osf.io/tj4is/
2. Download any version of the .gdoc file

<h4>Outcome</h4>
1. The file is not rendered
2. The user is brought to a page reporting a 500 error.
3. The console logs a 404 error for the favicon.

![screen shot 2015-05-26 at 1 49 37 pm](https://cloud.githubusercontent.com/assets/4965832/7819212/13340944-03ae-11e5-82be-2bebff3830d7.png)

<h4>Exp

[2015-05-26 17:51] ZobairAlijan commented on #2696
Patrick, I'm working on it and it is almost done.

[2015-05-26 18:25] ticklemepierce opened #2833 "Statistics page height is hard-coded"
Steps
------
1) Go to https://osf.io/4znzp/statistics/

Expected
------------
* Page is of dynamic height and scrolling is only necessary if it is larger than the height of the window

Actual
--------
* The widget area is always the same height no matter how many widgets there are/how big the widgets are.

![screen shot 2015-05-26 at 1 54 25 pm](https://cloud.githubusercontent.com/assets/8229937/7

[2015-05-26 18:38] PatrickEGorman commented on #2696
I just finished it a couple of hours ago....  I figured since you hadn't worked on this in almost a week, it'd be fine if I took over

[2015-05-26 19:07] PatrickEGorman commented on #2758
Would I be able to work on this?

[2015-05-26 19:41] wisherp opened #2838 "DAZ: Google Drive Add-on Error"
STEPS
1. Go to a project
2. Enable Google Drive
3. Go to the Files tab
4. Click on the Google Drive folder for the project to highlight it
5. Ensure that you see the Download as Zip button in the toolbar
6. Click the Download as Zip button

EXPECTED
The folder would be downloaded as .zip and could be opened to view its contents.

ACTUAL
The file downloads but gives an error when trying to open it.

[2015-05-26 19:51] GaryKriebel commented on #2838
@chrisseto and/or @lyndsysimon .... is this related to what you were working on yesterday?  Looks like there are special characters in the filenames.

[2015-05-26 19:56] chrisseto commented on #2838
@wisherp Please make the project public or add me as a contributor and provider a link to it.
@GaryKriebel This may be related to an issue regarding googledocs that we ran into earlier today.

[2015-05-26 20:00] ticklemepierce commented on #2659
I am unable to reproduce on production based on the above steps unless I am interpreting this incorrectly.

[2015-05-26 20:04] wisherp commented on #2838
@chrisseto I added you as a contributor. Here's the link : https://osf.io/ts7x6/

[2015-05-26 20:09] chrisseto commented on #2838
@wisherp Thank you very much
This is an issue with how we deal with googledocs which needs to be discussed.

[2015-05-26 20:40] hmoco commented on #2509
Would this be considered a feature fix or a hotfix?

[2015-05-26 20:54] hmoco commented on #2537
Like https://github.com/CenterForOpenScience/osf.io/issues/2509 this has also been fixed.

[2015-05-26 20:56] meg3c commented on #2611
Good idea.  It might be possible for the author to comment on what she/he is working on--what revisions are likely.

[2015-05-26 21:05] NatashaRichter opened #2841 "Tooltip does not appear black consistently"
# Steps
1. Go to a project on which you have admin or read/write access
2. In either the files tab or the files grid on the project overview page, click to select a file/folder
3. In the toolbar, look for the Rename option
4. Hover over the option to see if the black tooltip appears
5. Click on another file/folder
6. Check if tooltip is black.

# Expected
I expect to see the black tooltip upon hov

[2015-05-26 21:24] mehanig commented on #2659
@ticklemepierce  no prob, I recorded screencast  ->https://pdlvimeocdn-a.akamaihd.net/70409/326/372111030.mp4?token2=1432689824_08c341430b8b5e3554bfc9c6d8aefed2&aksessionid=096496ad4fcd746299d59b3456e86d5979de1b181432675424

[2015-05-26 22:54] JeffSpies commented on #2532
Nan, are they still showing up in search?

On Tue, May 12, 2015 at 3:57 PM, Nan Chen <notifications@github.com> wrote:

[2015-05-26 23:26] #2778 closed

[2015-05-26 23:40] sloria commented on #2679
I'm not sure that we can change this language, as it has been prescribed by a 3rd-party registration supplement. Ping @JeffSpies or @bnosek for feedback.

[2015-05-26 23:42] JeffSpies commented on #2679
Ah, I'll ping the leads.

[2015-05-26 23:45] #2517 closed

[2015-05-27 00:36] JeffSpies commented on #1141
@brianjgeiger thoughts on this? I think we should go ahead with Steve's suggestion.

[2015-05-27 01:03] chrisseto commented on #2832
@GaryKriebel or @lbanner this issue can be closed.
@jlcohoon this was fixed correct?

[2015-05-27 01:31] brianjgeiger commented on #1141
I don't have a preformed preference on this, and casual search doesn't reveal any general wisdom. Reasoning about it, it would make sense to have google ignore the api routes, because we don't want them to take people to an api page. If they are smarter about it, then using an api route with the v2 serialization would be super handy for them, because it's a concentrated "everything useful without

[2015-05-27 02:12] lbanner commented on #2832
Working fine -- I'll close. Thanks.

[2015-05-27 02:12] #2832 closed

[2015-05-27 02:22] lbanner commented on #2841
@Caner -- insight on this one? Thanks.

[2015-05-27 02:24] lbanner commented on #2537
@hmoco -- Did you submit a PR for these fixes? Can you remind me (note here) the GH # for that PR? Thanks.

[2015-05-27 02:25] lbanner commented on #2509
"feature fix" -- merged to Develop @hmoco

[2015-05-27 02:29] lbanner commented on #2758
OK -- see if you can replicate it first @PatrickEGorman

[2015-05-27 03:19] JeffSpies commented on #1141
And we'll be serving prerendered content to them any way when Kush/Lyndsy
get their service up. I think that's the right call.

Steve, want to hot fix that in the next chance you get?

J.

On Tue, May 26, 2015 at 9:31 PM, Brian J. Geiger <notifications@github.com>
wrote:

[2015-05-27 04:04] hmoco commented on #2537
No, this was not fixed by me, it might have been fixed by Steve or just a byproduct of something else

[2015-05-27 12:52] PatrickEGorman commented on #2758
I seem to be getting a 404 error instead.  The repo is failing to link to the project

[2015-05-27 13:35] caileyfitz opened #2843 "Cannot shift + select items below current view"
Reported on the 0.37 Trello board

**This problem appears in Firefox and Chrome**

# Steps
1. Go to a project on which you have admin access that also has multiple add-ons enabled and many files
2. On the project overview page, scroll to the files grid
3. Within an add-on (preferably one with many files), click to select the first file listed in the grid
4. Scroll in the grid so that the highlight

[2015-05-27 13:39] reinaH opened #2844 "Rename tooltips are persistent"
Reported on the 0.37 Trello board

This problem appears in Firefox and Chrome

### Rename tooltips are persistent in Chrome and Firefox

# Steps
1. Go to a project on which you have admin or read/write access
2. In either the files tab or the files grid on the project overview page, click to select a file/folder
3. In the toolbar, look for the Rename option
4. Hover over the option to see the blac

[2015-05-27 13:43] wisherp opened #2845 "File Widget on Project Summary: closing add-on folders and then scroll up makes the grid blank"
**Reported on 0.37 board by @nicipfeiffer**

## Steps
1. Go to https://staging.osf.io/nsdzh/
2. On the project overview page, in the files widget click the - to close expanded folders....do this for all add-on folders
3. Try to scroll the grid

## Expected
I would be able to scroll the grid and have collapsed folders

## Actual
The grid is blank, white even.

![screenshot_2015-05-22_14 12 41](http

[2015-05-27 13:43] HayleyBance opened #2846 "Renaming files not logged correctly in Activity Log"
Reported by: Rick Klein on May 20, 2015

**This problem appears in Chrome**

# Steps:
1. Go to an OSF project page where you have admin/read write permissions
2. Click "files" tab at top of page
3. Upload a file
4. Click next to the file name to select it
5. A toolbar with "rename" should pop up
6. Click rename, and input a new file name.
7. Click rename again to make the change.
8. Check the acti

[2015-05-27 13:47] NatashaRichter opened #2848 "No DAZ option for Dataverse Add-on"
Reported on the 0.37 Trello board by @nicipfeiffer

## Steps
1. Go to a project on which you have admin access that also has the Dataverse add-on enabled
2. On the project overview page, scroll to the files grid
3. Within the Dataverse add-on, click to select the Dataverse add-on name and any folders within the add-on.
4. Check the toolbar to see if the "Download as Zip" option appears.

## Expect

[2015-05-27 13:50] NatashaRichter opened #2849 "No DAZ Option for Github Add-on"
Reported on the 0.37 Trello board by @nicipfeiffer

# Steps
1. Go to a project on which you have admin access that also has the Github add-on enabled
2. On the project overview page, scroll to the files grid
3. Within the Github add-on, click to select the Github add-on name and any folders within the add-on.
4. Check the toolbar to see if the "Download as Zip" option appears.

# Expected
I expect

[2015-05-27 14:09] hmoco commented on #2687
I can work on this.

[2015-05-27 14:32] caileyfitz commented on #2537
@hmoco Where are you seeing the fix? I still have the problem in staging & production
![screen shot 2015-05-27 at 10 31 37 am](https://cloud.githubusercontent.com/assets/5975444/7838590/a4ccecba-045b-11e5-935b-b33f371df5cd.png)

[2015-05-27 14:36] caileyfitz commented on #2537
@hmoco Where are you seeing the fix? This is not resolved in staging or production for me:
![screen shot 2015-05-27 at 10 31 37 am](https://cloud.githubusercontent.com/assets/5975444/7838683/3bd6d486-045c-11e5-9a35-5c2724142415.png)

[2015-05-27 14:46] PatrickEGorman commented on #2758
I realized that my repo was empty.  Also, I'm thinking you need a private repo in github which I believe costs money.  I think I'll have to find a new issue.

[2015-05-27 14:50] lbanner commented on #2687
You got it -

[2015-05-27 14:57] PatrickEGorman commented on #2849
I checked this error out.  If you click the download button, it downloads it as a .zip file.  It'd be an easy edit to change "download" to "download as zip" but I wonder if there would be space for that in the Files editor bar

[2015-05-27 15:11] hmoco commented on #2537
@caileyfitz This is what I see on both staging and production

![screen shot 2015-05-27 at 11 10 33 am](https://cloud.githubusercontent.com/assets/6268982/7839567/107d6408-0461-11e5-9051-c1a62daa411d.png)

[2015-05-27 15:30] hmoco commented on #2537
Just checked with Haoyu and he gets the same behavior I do on Google folders.

[2015-05-27 17:18] saradbowman opened #2853 "[production] discrepancy between users in search and users in script"
Doing a wildcard search for users (search "Category:User") does not return the same number of users the daily script (https://github.com/CenterForOpenScience/osf.io/blob/573d098d071eb8930225d88721e8f25d6b6014bc/scripts/analytics/benchmarks.py) does.

Upon discussion with @fabianvf, criteria for user in search is:
self.is_registered and
                self.password is not None and

[2015-05-27 17:22] brianjgeiger commented on #2853
My big concern is that is_confirmed and date_confirmed have traditionally caused us problems because they're both measuring the same thing in different ways, so it'll be easy for there to be a conflict in information.

[2015-05-27 17:25] saradbowman opened #2854 "[production] Add-on permissions modal do not mention folders"
The permissions modals that appear when a user connects an add-on have not been updated to include folder permissions, now that users can create/modify folders in add-ons.

The modals should be updated to indicate what actions users can take with regard to folders for a given add-on:
![screen shot 2015-05-27 at 1 23 19 pm](https://cloud.githubusercontent.com/assets/7749914/7842820/b3afc17c-0473-11

[2015-05-27 17:43] lbanner commented on #2854
@samchrisinger -- How does / or does your add-on UI work impact these modals?

[2015-05-27 17:51] zkraime commented on #2686
@GaryKriebel Can I take this too?

[2015-05-27 17:55] samchrisinger commented on #2854
All I plan to change is the bottom row, i.e. content is registered but versions are lost.

@brianjgeiger and I discussed a possible rework of this UI. Now might be the time

[2015-05-27 17:57] lbanner commented on #2686
You've got it @zkraime

[2015-05-27 18:30] caneruguz commented on #2831
Fix has been sent here, @sloria should review these before they go in, but there is no urgency.
https://github.com/CenterForOpenScience/osf.io/pull/2855

[2015-05-27 18:39] caileyfitz commented on #2537
@hmoco Steps 9-11 are not resolved, as they relate to the folder picker in the Settings page.

[2015-05-27 18:49] binoculars opened #2856 "Increase password character limit"
When I went to reset my password on osf.io:

	Password is too long. Password should be at most 35 characters.

My random password generator generates passwords of at least 50 characters. For reference: [Recommended policy on password complexity](http://security.stackexchange.com/questions/3248/recommended-policy-on-password-complexity)

[2015-05-27 18:50] hmoco commented on #2537
@caileyfitz Yep, you're right, I skipped those steps... my bad. Will change pull request to reflect that.

[2015-05-27 18:53] hmoco commented on #2509
As @caileyfitz has pointed out, this has been solved, while my fix is actually for #2537, so this should be closed. I have update the pull request to reflect that. Sorry for the confusion.

[2015-05-27 19:06] brianjgeiger commented on #2856
Agreed. Unless there's some technical limitation, I don't see a reason to limit password length like that.

[2015-05-27 19:11] saradbowman commented on #2831
damn you're fast! Thanks!

On Wed, May 27, 2015 at 2:30 PM, Caner Uguz <notifications@github.com>
wrote:

[2015-05-28 02:21] lbanner commented on #2509
OK

[2015-05-28 02:21] #2509 closed

[2015-05-28 13:11] chennan47 commented on #2843
@caileyfitz I tried on production just now. It actually works for me. Can you verify that? And it should only not work if you shift select across different addons.

[2015-05-28 13:17] chennan47 commented on #2758
@PatrickEGorman if you are using a edu email for github registration and verify you are a student, you will enjoy the right to create a free private repo.

[2015-05-28 13:22] caneruguz commented on #2841
We are moving away from the tooltips on the toolbar because they do not add value to the button, at least for the moment. This tooltip is removed in this issue:
https://github.com/CenterForOpenScience/osf.io/pull/2842

So we can close this when that is merged.

For general information though, browsers have their own tooltips, if a tooltip is anything other than black that means the tooltip is not

[2015-05-28 13:28] revanthkolli commented on #2856
Can I work on this? @lbanner

[2015-05-28 13:31] caneruguz commented on #2833
The iframe height is set to a pixel number.
http://stackoverflow.com/questions/9162933/make-iframe-height-dynamic-based-on-content-inside-jquery-javascript

And this is generally the code that can change it:
[code]

[2015-05-28 13:38] AndrewSallans opened #2860 "Replace social media logo bar in footer with counter/share bar"
Footer currently has this:
![screen shot 2015-05-28 at 9 37 25 am](https://cloud.githubusercontent.com/assets/2151933/7861288/3f961f5c-051d-11e5-8d55-8529ce77aadd.png)

Recommending that we switch to one like this to increase follows:
![screen shot 2015-05-28 at 9 38 23 am](https://cloud.githubusercontent.com/assets/2151933/7861300/4c26c122-051d-11e5-89c3-6049a945f91a.png)

[2015-05-28 13:39] chennan47 commented on #2853
The script need an update to put in Q('is_disabled', 'ne', True)

[2015-05-28 13:42] lbanner commented on #2853
@chennan47 @brianjgeiger ... possible intern task?

[2015-05-28 13:44] chennan47 commented on #2853
@lbanner if the querry is the only thing make the scirpt return different number from elastic, this is an easy fix. Otherwise, needs to look into the production database to figure out the reason to cause the difference.

[2015-05-28 13:44] brianjgeiger commented on #2853
That won't make the script show more users, though, so there's more going on. If that were the contributing factor, then the script would have more users than the search, as Sara suggested.

How many users do we have where date_confirmed isn't None but is_confirmed is true? At this point, we shouldn't have any of those, because those cause login problems and the like. We need to find the answer to

[2015-05-28 13:44] caneruguz commented on #2779
@lbanner, @brianjgeiger and @Jeff

This issue needs some discussion to finalize what it is we need to in fact do. Some options:
1. Make Treebeard lazyload everything but only show folders that are supposed to be open; this will make the filtering be able to find even closed folder children. When they select a file after filter (search) the behaviour now is that this file will continue to be select

[2015-05-28 13:45] saradbowman commented on #2853
I agree the script needs an update to include the disabled piece, what I
find more concerning is that the search index returns a value higher than
the script, despite excluding disabled accounts. I'm interested to know if
this is because of the date_confirmed / is_confirmed issue @bgeiger raises.
I think we need to determine which is the most appropriate value there as
well.

On Thu, May 28, 2015

[2015-05-28 13:45] caneruguz commented on #2666
@lbanner the PR @samchrisinger is referring to has been merged and it is in production. Can we test this and close based on result?

[2015-05-28 13:47] caneruguz commented on #2351
@nanchen47 @brianjgeiger any news on this?

[2015-05-28 13:49] chennan47 commented on #2351
@caneruguz isn't this a site-wide problem that the redirect always cut-head. I remembered you did some pr to fix the problem on the other place. Not sure about the wiki

[2015-05-28 13:49] lbanner commented on #2856
You got it @revanthkolli -- TY

[2015-05-28 13:50] chennan47 commented on #2853
@lbanner I will take a look at this.

[2015-05-28 13:51] brianjgeiger commented on #2779
Or leave this for now and have a proper fix for caching the file/project information early in the next epic. Is this high enough priority to fix twice (presuming we really, really are doing the caching soon)? If so, then probably #2 is the way to go. Have it immediately return what it knows about, show a progress meter/spinner that it's getting more information, find the files/projects and where t

[2015-05-28 13:51] lbanner commented on #2853
OK @chennan47

[2015-05-28 13:54] brianjgeiger commented on #2351
Nobody's chosen to work on this yet. It'll still be a pretty easy one, but I don't think anyone's touched it.

[2015-05-28 13:54] lbanner commented on #2779
@JeffSpies and team -- I am going to note this on Epic list.

[2015-05-28 13:57] caneruguz commented on #2779
Brian I corrected the numbering, are you still referring to 2 or 3?

[2015-05-28 13:57] samchrisinger commented on #2666
:+1:, this is already tested

[2015-05-28 13:58] lbanner commented on #2666
OK good -- I'll close -- TY

[2015-05-28 13:58] #2666 closed

[2015-05-28 13:59] JeffSpies commented on #2779
Lazy loading the file names seems to a good solution for now.

The "caching" solution is a possibility later, but I'd like to move away from that notion of it to one of preserved state of files on OSF. Some will be eventually consistent, but for all intents and purposes it is what we know. That would be stored in Mongo.

[2015-05-28 14:03] GaryKriebel commented on #2860
I would think that this would be a relatively easy change and perhaps appropriate for the intern pool.  Do we need further discussion on this? @JeffSpies @bnosek ?

[2015-05-28 14:04] JeffSpies commented on #2860
@AndrewSallans, you're recommending we display how many people have shared the main page of the OSF?

[2015-05-28 14:06] GaryKriebel commented on #2856
@revanthkolli please accept the github invite request for the organization so that we can assign the issue to you.

[2015-05-28 14:12] AndrewSallans commented on #2860
Possibly recommending that we include the count, but definitely recommending that a follow only requires clicking the button there on the bar and not necessarily going to the 3rd party service and then clicking the button.  Trying to reduce steps.

[2015-05-28 14:16] JeffSpies commented on #2860
Discussion is required off-line. Closing for now.

[2015-05-28 14:16] #2860 closed

[2015-05-28 14:24] mckidwell commented on #2609
@sloria @lbanner I am still experiencing this issue with a PDF in a private component. I can add you to the component if you want to take a look.

The initial file was a PDF too - this may only be affecting PDFs.

[2015-05-28 14:28] revanthkolli commented on #2856
@GaryKriebel My bad, just did.

[2015-05-28 14:32] JeffSpies opened #2861 "Pagination component for logs is left-aligned."
Steps
-------
1. Go to project dashboard of a project with many log entries.
2. View the log widget on the project dashboard.

Expected
------------
The bootstrap pagination component should be centered.

Actual
--------
The bootstrap pagination component is left-aligned.

See ![screen shot 2015-05-28 at 10 17 17 am](https://cloud.githubusercontent.com/assets/512000/7862318/0f6147b6-0523-11e5-8c2c

[2015-05-28 14:42] lbanner commented on #2609
Yeah ... please do @mckidwell

[2015-05-28 14:43] chennan47 commented on #2861
The other place has the pagination is the add contributor and add link modal:
![screen shot 2015-05-28 at 10 40 30 am](https://cloud.githubusercontent.com/assets/4974056/7862800/3fc7107c-0526-11e5-987c-47809d54245b.png)

@JeffSpies do you want there to be centered as well?

[2015-05-28 14:45] lbanner commented on #2861
We don't like the left-align?

[2015-05-28 14:46] JeffSpies commented on #2861
If we get a vertical separator between Results and Adding similar to the
horizontal separators we currently have.

On Thu, May 28, 2015 at 10:43 AM, Nan Chen <notifications@github.com> wrote:

[2015-05-28 14:47] JeffSpies commented on #2861
@lbanner traditionally that would be centered or full-width. The latter making some sense because we have "..." indicating we don't have space to fill out the pagination (while we do).

Left-aligned looks off to me, but it is subjective.

[2015-05-28 14:50] mckidwell commented on #2609
@lbanner added you to the component (https://osf.io/8kt4b/)

File in question is "Article Codebook" -- it renders the same (most recent) version for both Version 1 and 2, but downloads the correct file.

[2015-05-28 14:56] haoyuchen1992 opened #2863 "[Feature Request] Add hint for enabling Add-on(Amazon s3)"
## Steps
1) Go to a project and select setting tab
2) Enter user credentials and press Submit.
3) Enable Amazon s3
4) It asks me for user credentials (Access Key and Secret Key) for Amazon S3

## Expected
Since I am new to both osf add-on and Amazon S3,  I would like to see some hints to explain what are these credentials and how can I get them.

## Actual
There is no hint.
![screen shot 2015-05-2

[2015-05-28 15:33] hmoco commented on #2863
Dataverse's is similar in the sense that it is not a simple button click to connect, but it provides a 'hint' button that makes the process very easy. Something like that for Amazon might be useful
![screen shot 2015-05-28 at 11 31 57 am](https://cloud.githubusercontent.com/assets/6268982/7863966/56ed20aa-052d-11e5-9ce8-6c3b96c49077.png)

[2015-05-28 15:41] leb2dg commented on #2678
I can look into this one as well since it is related to the icons.

[2015-05-28 15:45] GaryKriebel commented on #2678
@ticklemepierce .... are you already looking at this one and it just wasn't updated? If not, @leb2dg will take it.

[2015-05-28 15:46] ticklemepierce commented on #2678
@GaryKriebel No I am not.

[2015-05-28 15:51] GaryKriebel commented on #2678
It's all you, @leb2dg ... thanks!