[2015-05-28 16:01] ZobairAlijan commented on #2861
@GaryKriebel Can I work on this?

[2015-05-28 16:07] haoyuchen1992 commented on #1399
I just checked the issue here. I found the current display formats are different now.

#### Now the layout for Amazon S3, it has been updated.
![screen shot 2015-05-28 at 11 58 24 am](https://cloud.githubusercontent.com/assets/5420789/7864627/5836f89c-0531-11e5-99f0-d0f20543fef5.png)

#### However, for the github add-on, it goes back to the the old layout of Amazon S3.
![screen shot 2015-05-28 at

[2015-05-28 16:07] lbanner commented on #2861
I am good with that @ZobairAlijan -- you are tagged. Check with @chennan47 w/any questions -- he did the foundational work.

[2015-05-28 16:10] ZobairAlijan commented on #2861
@lbanner Thank you

[2015-05-28 16:13] lbanner commented on #1399
I tell you what -- let's defer this in favor of @samchrisinger 's PR here: #2414 ... which I *think* might overcome this issue. Thanks.

[2015-05-28 16:13] GaryKriebel commented on #1399
Is this the USER settings or the PROJECT settings?  If USER, we should check with @samchrisinger as he has a PR submitted that will update that page.

[2015-05-28 16:15] samchrisinger commented on #1399
@GaryKriebel. @lbanner this is for project settings, and is outside of the scope of #2414.

[2015-05-28 16:46] lbanner commented on #1399
Ah -- right -- maybe for next Epic we can bring this into scope .... Thanks.

[2015-05-28 17:05] alexschiller opened #2867 "[Feature Request] Files page OSF-R code generation integration"
For files that can be read into R, the files page could automatically generate the osf-r code to load the file into R (with a copy-to-clipboard-esque button). This could vastly increase awareness of the osf-r package.

Notes:
1. Currently only viable for public files
2 Should only generate for viable file types
3. May need to include R script to require/install osf-r (or have details about install

[2015-05-28 17:16] haoyuchen1992 commented on #2690
Hi Nici, I just followed the steps and tried to replicate the problem. But it looks good. Here is the gif.
![github-addon](https://cloud.githubusercontent.com/assets/5420789/7866156/8a9ffe32-053b-11e5-8082-3a6393bd3e02.gif)
#### Do you still remember what browser you used when you found this issue?

[2015-05-28 17:24] haoyuchen1992 commented on #2690
I just tested IE, firefox, and Safari. In summary, IE and Safari will jump the page while firefox and chrome not.

[2015-05-28 17:31] lbanner commented on #2690
@haoyuchen1992 ... want to take this one on? @caneruguz could be resource.

[2015-05-28 17:38] haoyuchen1992 commented on #2690
@lbanner I can take it!

[2015-05-28 17:38] csoderberg opened #2873 "Missing activity logs"
I was sent links to two public projects, each of which had one file in them.

You would expect the activity logs for these projects to have logs about the project being created and the file that was uploaded.

However, the logs for both projects are completely empty (https://osf.io/hgbcn/; https://osf.io/hxiau/). Also, the 'last updated' date for one of the projects (https://osf.io/hxiau/) is 2013

[2015-05-28 18:23] chennan47 commented on #2532
@JeffSpies Those users are sill showing up in search. Should you deactive those user or just make them disappear from search?

[2015-05-28 18:27] GageGaskins opened #2877 "Mobile site cutting long names in half on profile"
# Steps to Reproduce
1. Go to osf.io and search for any users.
2. Find someone with long name, >12 characters

# Expected
Full name is shown like others on the site

# Actual
![screen shot 2015-05-28 at 2 24 25 pm](https://cloud.githubusercontent.com/assets/7023074/7867704/a3fc449e-0545-11e5-9cc6-76c6c7c41b7b.png)

Name is cut in half. This is emulation, but has been repeated on production site.

[2015-05-28 18:32] lbanner opened #2878 "Go/NoGo for release 0.38.0"
## Milestone:
https://github.com/CenterForOpenScience/osf.io/milestones/0.38.0

## Changelog:
https://github.com/CenterForOpenScience/osf.io/blob/release/0.38.0/CHANGELOG

## Deployment actions:

### MFR
- [x] Create release branch
- [x] Bump versions and commit release branch into master
- [x] Update configuration's for production environment
- [x] Deploy latest source to production servers

###

[2015-05-28 18:45] brandonPurvis commented on #2677
Can I take this one?

[2015-05-28 18:54] JeffSpies commented on #2532
Let's have Michael disable the user and remove them from search. The spam
service should help on this in the future.

On Thu, May 28, 2015 at 2:23 PM, Nan Chen <notifications@github.com> wrote:

[2015-05-28 19:13] haoyuchen1992 commented on #2690
Sorry, I made a mistake in old statement. Only IE would jump the page. Because in our code, we use `window.location.reload();` to refresh our page. And all the browsers, except IE, could remain the old position.

[2015-05-28 19:14] lbanner commented on #2690
OK ... make it so!

[2015-05-28 19:17] lbanner commented on #2677
@brandonPurvis Based on notes above, let's hold on this for #2563 Thanks

[2015-05-28 20:03] PatrickEGorman commented on #2873
This is definitely a weird error.  I thought at first it might be a time issue, but I see some recent activity logs that go back over a year.  I'm not sure what is happening here but I'll try to take a look at it.

[2015-05-28 20:09] PatrickEGorman commented on #2873
Out of curiosity, would you or anybody else know of any other projects from 2013?  I wonder if this issue is dated.

[2015-05-28 20:11] brianjgeiger commented on #2873
https://osf.io/ezcuj/ goes back to 2012 according to its logs.

[2015-05-28 20:35] PatrickEGorman commented on #2758
I applied for the free private repo but have yet to hear back.  I hope to hear back and start work by or before Monday.

[2015-05-28 20:35] csoderberg commented on #2873
https://osf.io/ixgcd/ also goes back to august of 2013

On Thu, May 28, 2015 at 4:11 PM, Brian J. Geiger <notifications@github.com>
wrote:

--
Courtney Soderberg, Ph.D
Statistical and Methodological Consultant
Center for Open Science

[2015-05-28 20:39] PatrickEGorman commented on #2873
@brianjgeiger Page 128 of the project you posted doesn't appear to exist.  When one selects it, it stays on the current page and says there's no logs to show.

[2015-05-28 20:41] csoderberg commented on #2873
That is really weird, because pages 127 and 129 both have logs that show up.

[2015-05-28 20:43] PatrickEGorman opened #2882 "No easy way to access mid date range logs in large projects."
# Steps to Reproduce
1. Go to https://osf.io/ezcuj/ or any other large project
2. Look at recent logs
3. Try to make it to a page in the middle of the logs

# Expected
An easy way to scroll through page numbers.  (Possibly by clicking the three dots)

# Actual
One has to scroll through the pages individually
![screen shot 2015-05-28 at 4 45 12 pm](https://cloud.githubusercontent.com/assets/7470770

[2015-05-28 20:48] brianjgeiger commented on #2873
So there are logs there, but there is a problem rendering them, I'm guessing.

[2015-05-28 21:13] hmoco commented on #2659
@mehanig I have also been unable to reproduce this issue. I have tried in safari, chrome and firefox. Clicking on a link, in both the widget preview window for 'Top Records for Page URL' and when the widget is located in the page, send me to a new tab, and does not cause the 'page within page' problem seen on the screenshot. Will also try on I.E. and report back. Also, the screencast link seems to

[2015-05-28 21:18] mehanig commented on #2659
@hmoco  I tried it only chrome. Osx.
Sorry for broken link, it worked yesterday.
https://yadi.sk/d/EdWOOAeKgw44Q I re-uploaded it.
Anyway, if you can't reproduce it than it's probably mine bug and Issue could be closed.

[2015-05-28 21:19] JeffSpies commented on #2679
Mark agreed to just change "#22" to the question content.

[2015-05-28 21:28] hmoco commented on #2659
Hah, yes that does happen when clicking that link specifically. That is very interesting. I will work on this. Thank you!

[2015-05-28 21:33] hmoco commented on #2659
![screen shot 2015-05-28 at 5 32 19 pm](https://cloud.githubusercontent.com/assets/6268982/7871698/95e9bcfa-055f-11e5-9233-7810bd4f704a.png)

[2015-05-28 21:34] mehanig commented on #2659
@hmoco  Yes ;) looks great!

[2015-05-29 02:18] lbanner commented on #2882
Thanks @PatrickEGorman -- @ZobairAlijan has a PR that, I believe, helps overcome this: #2880

[2015-05-29 02:20] lbanner commented on #2849
Though @PatrickEGorman is correct about the parent folder, in current state of DAZ, GitHub is not supported for sub-folders and DAZ.

[2015-05-29 02:21] lbanner commented on #2848
In current state DAZ is not supported for Dataverse.

[2015-05-29 02:23] lbanner commented on #2844
@caneruguz -- can you check to see if this issue "persists" -- Thanks.

[2015-05-29 02:25] lbanner commented on #2833
@caneruguz ... given approach above, can this be tackled by an intern? TY

[2015-05-29 02:42] #2628 closed

[2015-05-29 02:44] lbanner commented on #2591
@caneruguz ... have you had opportunity to replicate / dig-in on this one?

[2015-05-29 02:45] lbanner commented on #2555
Related and potential resolved in PR #168

[2015-05-29 02:51] #2227 closed

[2015-05-29 02:53] lbanner commented on #2179
This looks to be resolved with multiple emails per account -- Closing.

[2015-05-29 02:53] #2179 closed

[2015-05-29 02:54] lbanner commented on #2171
@saradbowman ... there have been some suggestions / discussions around this, maybe? Does this remain an issue?

[2015-05-29 02:57] lbanner commented on #2235
:+1: ... closing for now.

[2015-05-29 02:57] #2235 closed

[2015-05-29 11:47] caileyfitz commented on #2843
@chennan47 I just tried on production as well, and I am seeing the same issue. Did you scroll so that the highlighted file (first click) was out of view? If it is still in view, shift + click *does* highlight all files between the two clicked files. This also only appears on Firefox and Chrome.

[2015-05-29 12:01] sloria commented on #2171
@lbanner The poster service was recently rebranded as "OSF for meetings". The issue of the internal naming inconsistencies still stands.

[2015-05-29 12:55] lbanner commented on #2609
OK - yes - thanks @mckidwell -
If specific to this, maybe a migration solution @sloria ?

[2015-05-29 13:12] saradbowman commented on #2171
related #2744 and @chennan47's PR

[2015-05-29 13:13] chennan47 commented on #2171
This is covered in https://github.com/CenterForOpenScience/osf.io/pull/2742

[2015-05-29 13:25] caneruguz commented on #2844
@lbanner it's not fixed there yet because the PR that I have for removing the tooltip is not merged in yet.
https://github.com/CenterForOpenScience/osf.io/pull/2842

[2015-05-29 13:25] caneruguz commented on #2833
@lbanner That's a suggestion only, there may be other options but I think that will work well. Yes an intern can easily handle this. Thanks!

[2015-05-29 13:32] ticklemepierce commented on #2833
@caneruguz wouldn't that only run when it loads?  Meaning if a user added widgets they would have to refresh the page for it to adjust in height to reflect that change.  Not sure if this would work but I got it from the same stackoverflow link you posted:

[code]

Then "resizeIframe" could be called when the user adds/deletes/moves/etc. stuff around so that it is always the appropriate size.

[2015-05-29 13:33] caneruguz commented on #2591
@icereval @lbanner
The github list is doing what it's supposed to be doing, it matches the remaining characters, fa, then f, etc. and there aren't many of those in the github repo as far as I can see.

I discovered an unrelated error in looking at this but I don't see what's wrong here. Can someone spell it out for me?

[2015-05-29 13:37] caneruguz commented on #2833
@ticklemepierce that code snippet I gave was not meant to be the solution, I don't know how and when it should run since I'm not familiar with the code, the pertinent part was the section about how you can access the content height. You can run it wherever required. Usually you need to take into account window resize as well.
[code]

and any other action that requies it.

[2015-05-29 13:57] lbanner commented on #2833
@ticklemepierce You want to tackle this one?

[2015-05-29 13:59] lbanner commented on #2591
At this point, if not reproducible as an issue, I'd suggest closing this one -- any debate?

[2015-05-29 13:59] lbanner commented on #2844
:ok_hand:

[2015-05-29 14:02] saradbowman opened #2888 "Add tooltip on hover over project or component names"
We get many questions about how to change the name of a file or component. The answer is simple - click on the title from the project or component overview page.

A simple solution would be to add a tooltip on hover - "Rename." This is how Google docs handles renaming a file.

[2015-05-29 14:02] lbanner commented on #2025
Any indication @caileyfitz @samchrisinger that this remains an issue?

[2015-05-29 14:03] brianjgeiger commented on #2888
This functionality is currently being moved to the settings page.

[2015-05-29 14:04] lbanner commented on #2015
This has been sitting for a while ... @sloria , have we overcome all these inconsistencies? I'd like to close.

[2015-05-29 14:06] ticklemepierce commented on #2833
I believe @hmoco is tackling it.

[2015-05-29 14:07] #2035 closed

[2015-05-29 14:14] lbanner commented on #2888
@brianjgeiger -- thanks -- is this change in functionality discoverable via a PR or WIP or Proposal?

[2015-05-29 14:20] ticklemepierce commented on #2877
This is a duplicate of #2260

[2015-05-29 14:21] lbanner commented on #2877
Cool -- I'll close this one. TY

[2015-05-29 14:21] #2877 closed

[2015-05-29 14:30] brianjgeiger commented on #2888
https://github.com/CenterForOpenScience/osf.io/issues/2686

[2015-05-29 14:41] jlcohoon commented on #2768
another project that this occurs for: https://osf.io/ag5tn/

[2015-05-29 14:46] chennan47 commented on #2768
for https://osf.io/ag5tn/ from the log, the user just added all the addons
but never authored them. It is expected no addons are showing up.

On Fri, May 29, 2015 at 10:41 AM, jlcohoon <notifications@github.com> wrote:

[2015-05-29 14:58] jlcohoon commented on #2768
But the widget shouldn't show up on the overview if the addon isn't completely configured, no?

[2015-05-29 15:02] chennan47 commented on #2768
The widget will show up as soon as you enable that addon, which maybe not a
proper behavior.

On Fri, May 29, 2015 at 10:58 AM, jlcohoon <notifications@github.com> wrote:

[2015-05-29 15:09] ticklemepierce commented on #2464
Unable to reproduce on my Windows virtual machine.

[2015-05-29 15:29] csoderberg commented on #2873
Here is a much newer project that is both just completely missing activity logs for a child component (https://osf.io/rtchq/), and missing the logs for some activities on the parent project (https://osf.io/b3k9a/) as well.

[2015-05-29 15:36] revanthkolli commented on #2774
@GaryKriebel can I work on this?

[2015-05-29 15:41] sloria commented on #2015
@jlcohoon Can you confirm that the download counts for the files in question are now correct?

[2015-05-29 16:03] chennan47 commented on #2873
This fix for this problem is rdy, just need code review and merge.

[2015-05-29 16:04] csoderberg commented on #2873
Great, thanks!

[2015-05-29 16:27] #2690 closed

[2015-05-29 16:29] jlcohoon opened #2891 "Wiki menu lists components with empty wiki pages for non-contributors"
From the Community Github Repo, @bnosek :

It is very strange to navigate the component wikis of a project that I am visiting and have no content appear. If the component wiki does not have content, then it shouldn't appear in the menu (at least for visitors, not project contributors). Instead, that wiki page should not be listed in the left navigation bar.

For an example of the issue, navigate t

[2015-05-29 16:34] jlcohoon opened #2892 "Component widget shows on project overview even when no components exist"
<h4>Steps</h4>
1. Visit a project with no components that you are not a contributor on (https://osf.io/wj643/ for example).

<h4>Outcome</h4>
1. The component widget appears and says that there are no components.
![screen shot 2015-05-29 at 12 31 49 pm](https://cloud.githubusercontent.com/assets/4965832/7887431/fad0757e-05fe-11e5-9543-e1a712310b89.png)

<h4>Expected Outcome</h4>
1. The component w

[2015-05-29 16:37] rohan-bajaj commented on #2486
I'll grab this one. @lbanner

[2015-05-29 16:45] jlcohoon commented on #2861
One more place with left align—the watchlist:

![screen shot 2015-05-29 at 12 42 51 pm](https://cloud.githubusercontent.com/assets/4965832/7887623/82beeb40-0600-11e5-9c65-c9f5d7882c01.png)

[2015-05-29 16:48] chennan47 commented on #2861
The watch log is using the same template as logs. So change on one place
will affect the other. It's good for people who did this fix to verify that.

On Fri, May 29, 2015 at 12:45 PM, jlcohoon <notifications@github.com> wrote:

[2015-05-29 16:48] jlcohoon opened #2893 "Login redirects the user back to their dashboard; should stay on page"
From the community repo, @evomellor:
When a user that is not logged in navigates or follows a link to a particular OSF project, the large instructions at the bottom encourage them to login, and this takes them to their dashboard. A login from a particular page should default to keeping the user on the page in which they logged in.

Example:
1) log out of OSF
2) go to TOP guidelines: https://osf.io

[2015-05-29 16:58] hmoco commented on #2659
So this is apparently a problem that is known, and piwik needs to be updated. I talked to Lyndsy about it and it will probably be fixed by him when he gets to updating the stats page.

[2015-05-29 17:00] hmoco commented on #2833
I have been having difficulties getting piwik to work locally so I can test potential changes, so I will be putting this in the backburner for now.

[2015-05-29 17:00] lbanner commented on #2659
I will hand it off to @lyndsysimon . TY.

[2015-05-29 17:08] hmoco commented on #1516
I can give this a try

[2015-05-29 17:25] jlcohoon commented on #2015
Actually, they still aren't consistent. For "mlewis_sfn13.pdf" the detail page lists 16 downloads and the file tree says 37: https://osf.io/jret9/

[2015-05-29 18:23] PatrickEGorman commented on #2892
Would I be able to take a look at this?

[2015-05-29 19:10] GageGaskins commented on #631
@lyndsysimon @lbanner @GaryKriebel I have this one ready if we're still trying to add this.

[2015-05-29 19:29] lbanner commented on #631
OK @GageGaskins .... go ahead and submit a PR on this. TY.

[2015-05-29 19:34] lbanner commented on #1516
Done!

[2015-05-29 19:57] jlcohoon commented on #631
This is also the case with the project settings page now too—could that be resolved in this issue as well?

[2015-05-30 17:45] GaryKriebel commented on #2774
@revanthkolli ... all yours

[2015-05-30 17:48] GaryKriebel commented on #2486
@rohan-bajaj .... all yours

[2015-06-01 01:21] #2781 closed

[2015-06-01 01:21] #2773 closed

[2015-06-01 02:31] sloria commented on #2679
The suggested change in @ticklemepierce's PR is:

@JeffSpies Is this accesptable?

[2015-06-01 02:33] #1416 closed

[2015-06-01 02:53] #2197 closed

[2015-06-01 02:53] #2209 closed

[2015-06-01 02:56] JeffSpies commented on #2679
+1

Thanks @ticklemepierce.

[2015-06-01 03:02] #2679 closed

[2015-06-01 03:13] #1141 closed

[2015-06-01 03:30] sloria commented on #982
@brianjgeiger Does this issue still exist with the latest integration of SSO/CAS?

[2015-06-01 03:34] #2248 closed

[2015-06-01 12:02] brianjgeiger commented on #982
Yes, it works with the alternate solution given above. Much better.

[2015-06-01 12:02] #982 closed

[2015-06-01 13:46] PatrickEGorman commented on #2758
I have yet to hear back from github.  I double checked and I definitely made the request.  I might suggest passing this issue to somebody who has permissions to create a private repo

[2015-06-01 15:28] caneruguz commented on #2774
Well hold on a second though. About these two issues:

1. The project table not fitting the screen is because treebeard scrolls below certain widths. I don't knwof if we want to change this. Can you test in mobile and see how the scrolling works?

2. The white space is because we have a fixed height for treebeard. Changing this is definitely possible (check for instance the individual file view pa

[2015-06-01 15:30] caneruguz commented on #2774
@GaryKriebel and @lbanner when interns open issues we need to review them first, in some cases they may not in fact be issues and/or they might need further discussion.

[2015-06-01 15:30] ticklemepierce commented on #2774
@caneruguz Does treebeard have to be a static height?

[2015-06-01 15:33] caneruguz commented on #2774
Treebeard needs to know the height to know how many things to draw. We have a solution for this in file view page. The point is you can't fix it to what is visible, it needs to be able to expand with toggling of folders.  There are a few steps to doing this. in fileViewTreebeard.js for instance there is

[code]

So you need to study what is going on there.

[2015-06-01 15:33] geeksnglitter opened #2902 "Login Email Confirmation is Case Sensitive"
I don't believe it should be.
![screen shot 2015-06-01 at 11 10 58 am](https://cloud.githubusercontent.com/assets/7839433/7915962/f9a929f0-084e-11e5-9df8-a0e526426e50.png)

[2015-06-01 15:38] revanthkolli commented on #2774
@GaryKriebel So should I continue working on this or move onto another issue?

[2015-06-01 15:48] GaryKriebel commented on #2774
@revanthkolli Let's hold for now for discussion.

[2015-06-01 15:53] lbanner commented on #2774
@caneruguz Good insight -- keep catching these -- and thanks for prompting dicussion @revanthkolli

[2015-06-01 15:55] lbanner commented on #2902
Upper + lower makes no difference - always - in email addresses? I think they might be case sensitive?

[2015-06-01 15:56] brianjgeiger commented on #2902
The internet would stop functioning if email were case sensitive. Agreed with @geeksnglitter, this form should be more permissive.

[2015-06-01 18:51] geeksnglitter commented on #1518
@GaryKriebel Can I work on this?

[2015-06-01 18:53] lbanner commented on #1518
You are good to go -- Thanks!

[2015-06-01 18:57] lbanner commented on #2902
:+1:

[2015-06-01 19:24] jamiehand opened #2909 "Mongo error interrupts OSF quick install"
1. While "quick installing" the OSF, I typed this into terminal (according to the steps here: http://cosdev.readthedocs.org/en/latest/osf/setup.html#running-the-osf):
pip install invoke
invoke setup

2. The installation ran for a while but then stopped with this error:
pymongo.errors.ConnectionFailure: could not connect to localhost:27017: [Errno 61] Connection refused

3. I entered something to u

[2015-06-01 19:42] brandonPurvis commented on #2552
I'll take this one.

[2015-06-01 20:01] caneruguz commented on #2394
@lbanner This is no longer an issue, the entire column is removed from that page with the changes in the last few releases.

[2015-06-01 20:31] lbanner commented on #2394
Excellent!

[2015-06-01 20:31] #2394 closed

[2015-06-01 20:32] lbanner commented on #2552
@brandonPurvis -- We might want some insight from @fabianvf on this one and it's practicality to tackle outside of full ElasticSearch re-look .... @fabianvf ??

[2015-06-01 20:34] fabianvf commented on #2552
There are definitely incremental improvements that could be made. I'd be happy to help get started.

[2015-06-01 20:39] lbanner commented on #2552
Thank you @fabianvf -- Alright @brandonPurvis -- you got it.

[2015-06-01 21:07] geeksnglitter opened #2913 "Dashboard File Upload Pretends to Upload to Nonexistent Projects"
If you drag a file for upload on the dashboard and start typing in the "Select a Project" searchbar but then hit enter before you have selected a project, the file pops up with an empty status bar. The file cannot be uploading because it has nowhere to go.

![screen shot 2015-06-01 at 4 45 12 pm](https://cloud.githubusercontent.com/assets/7839433/7923017/04ee8b0a-087e-11e5-8194-2bf7fd32fcff.png)

[2015-06-01 21:28] geeksnglitter opened #2915 "Forgotten Password Requests Do Not Check If Email Belongs to OSF User"
I get a confirmation that a password reset email has been sent to my account no matter what email I enter into the password reset request box.

![screen shot 2015-06-01 at 5 19 37 pm](https://cloud.githubusercontent.com/assets/7839433/7923684/4fa47e16-0883-11e5-8796-49e694f0eb9d.png)

![screen shot 2015-06-01 at 5 20 05 pm](https://cloud.githubusercontent.com/assets/7839433/7923687/515b47d0-0883-1

[2015-06-01 21:55] chennan47 commented on #2915
I believe this is what we want. Provide information like "Email not in system" will leak user information since ppl can tell which email is registered or not. @lbanner @GaryKriebel Thoughts?

[2015-06-02 01:44] geeksnglitter commented on #2915
Could we say something like "if registered and email has been sent..." That
way the user knows what to do if they don't get an email?
On Mon, Jun 1, 2015 at 7:40 PM Lauren Revere <lauren.revere@gmail.com>
wrote:

[2015-06-02 01:46] lbanner commented on #2915
Yes, it is intentional for the reasons you note, I believe, @nanchen47 -- That's not a bad suggestion @geeksnglitter, but the notification to contact OSF support is already there.

[2015-06-02 01:47] geeksnglitter commented on #2915
Okay! Didn't realize it was expected behavior. Makes sense.
On Mon, Jun 1, 2015 at 9:46 PM LarryB <notifications@github.com> wrote:

[2015-06-02 01:49] lbanner commented on #2915
NP -- good to point it out! I'll close this, thanks.

[2015-06-02 01:49] #2915 closed

[2015-06-02 01:51] lbanner commented on #2913
Now this is an interesting one -- @caneruguz Do you have any insight here? Thanks.

[2015-06-02 01:58] lbanner commented on #2909
Thank you @jamiehand -- Can you note this as "[COSDev]" in the title? @sloria -- maybe verify clarity on these steps? Thanks.

[2015-06-02 13:19] nanchen47 commented on #2171
The pr has been merged.

[2015-06-02 13:35] caseyrollins commented on #2891
@lbanner @GaryKriebel Can I grab this one?

[2015-06-02 13:59] nicipfeiffer commented on #2845
@caneruguz I am still seeing this, now on production.

[2015-06-02 13:59] GaryKriebel commented on #2891
done

On Tue, Jun 2, 2015 at 9:35 AM, Casey Rollins <notifications@github.com>
wrote:

[2015-06-02 14:02] ZobairAlijan commented on #2861
This issue has been fixed and waiting to be merged.

[2015-06-02 14:10] caneruguz commented on #2913
I didn't do the coding for the onboarder but it seems to me like there is an Enter key binding on the form that should not be there because the typeahead selection still needs you to click on a row.

@alexschiller can provide some insight but someone can go ahead and check out a fix for this.

[2015-06-02 14:14] caneruguz commented on #2892
I want to bring to attention again what Johanna said in Expected outcome. So @PatrickEGorman the logic here is not just
- if there are no components don't show

but
-If this user is not a contributor AND there are no components, don't show.

Sorry if this was clear but I wanted to avoid a potential issue.

[2015-06-02 14:21] caneruguz commented on #2844
@lbanner the PR is merged, ready to test again.

[2015-06-02 14:22] caileyfitz commented on #2025
@lbanner Yes, I am still having this problem. Just tried again and it took 19.79 seconds for anything to show up in the widget.

[2015-06-02 14:29] lbanner commented on #2025
OK

[2015-06-02 14:29] lbanner commented on #2844
On Staging?

[2015-06-02 14:32] lbanner commented on #2845
Good catch -- This has been hard to intentionally replicate.

[2015-06-02 14:34] caneruguz commented on #2845
Can we check if anyone else is seeing this and update the issue for a link on production?

[2015-06-02 14:34] caneruguz commented on #2844
Hmm not sure, @sloria would know.

[2015-06-02 14:35] jlcohoon opened #2926 "Add link to Google doc file if file cannot render"
This comes from the community repo: https://github.com/CenterForOpenScience/community/issues/183

<h4>Steps</h4>
1. Visit a Google slides file
2. Visit a Google doc file

<h4>Outcome</h4>
1. The slide file does not render, and gives the user a timeout error.
![screen shot 2015-06-02 at 10 30 08 am](https://cloud.githubusercontent.com/assets/4965832/7938280/b595b2dc-0912-11e5-855d-e978f1f92c1b.png)

[2015-06-02 14:38] chennan47 commented on #2844
It is merged into develop, so maybe on staging if staging is branched on develop.

[2015-06-02 14:40] lbanner commented on #2844
@icereval ? Merge status above ^^ ?

[2015-06-02 14:41] lbanner commented on #2845
I have seen it a couple times, but I don't think it persists on link over time ... If I or @nicipfeiffer see it again, we'll add a link.

[2015-06-02 14:45] sloria commented on #2171
The PR only changed the URL route to `/meetings/`. There are still inconsistencies (e.g. usage of "conference" in the views) to be addressed. Reopening.

[2015-06-02 14:45] sloria commented on #2844
PR is merged, but may still need to be put on staging.

[2015-06-02 14:54] samanehsan commented on #2892
@jlcohoon, @caneruguz what about registrations? I think for consistency, if it's not on the project page it should not show up on the registration.

[2015-06-02 14:55] meg3c opened #2927 "Who is using the OSF and what are they doing?"
Hayley and I are thinking about ways of cataloguing what users are doing with the OSF, which would be valuable knowledge, both for what is being done and also for what is not--what other projects should be on the OSF and are not appearing.  Input on this idea is welcome, including ways that users are being tracked that we are not aware of.

[2015-06-02 14:56] chennan47 commented on #2892
I think for registration if there is not component the widget shouldn't
show up at all. Since even you are a contributor, you can't modify the
registration anymore.

On Tue, Jun 2, 2015 at 10:54 AM, Saman Ehsan <notifications@github.com>
wrote:

[2015-06-02 15:01] jlcohoon opened #2928 "Add instructions on how to upload files to files page"
This comes from the community repo: https://github.com/CenterForOpenScience/community/issues/191

<h4>Steps</h4>
1. Visit the files page of a project.

<h4>Outcome</h4>
1. Unless the user clicks on a storage add-on, there is no indication of how to upload a file anywhere on the page.
![screen shot 2015-06-02 at 10 55 30 am](https://cloud.githubusercontent.com/assets/4965832/7938999/9fe5925a-0916-1

[2015-06-02 15:05] abought opened #2929 "[COSDev] Install/run instructions should reference CAS/ FakeCAS"
The installation (and run) instructions do not reflect recent changes: they should link to (or include) the instructions for FakeCAS (daily usage) or CAS (when developing features that involve authentication).

Affects:
- https://github.com/CenterForOpenScience/osf.io#running-the-osf
- https://github.com/CenterForOpenScience/cosdev

[2015-06-02 15:13] jlcohoon commented on #2892
Right. The main point is that if you can't do anything with the
(nonexistent) components, you shouldn't see the widget. So, for a
registration, you also would not see the widget. In the case of a
registration neither non-contributors nor contributors should see the
widget if there are no components (like Nan said).

On Tue, Jun 2, 2015 at 10:56 AM, Nan Chen <notifications@github.com> wrote:

[2015-06-02 15:28] nicipfeiffer opened #2931 "[Production & Staging] No add-on icon for Amazon S3 folder on Project Overview"
## Steps
1. Go to a project with Amazon S3 configured
2. Look on the project overview page in the files widget
3. Scroll down and find the Amazon S3 add-on folder
4. Look at the icon for the folder
5. Go to the files tab
6. Scroll down and find the Amazon S3 add-on folder
7. Look at the icon for the folder

## Expected
I would expect that the S3 add-on folder would be consistent with the other add

[2015-06-02 15:29] chennan47 commented on #2928
@caneruguz This is the issue. Thought?

[2015-06-02 15:42] caneruguz commented on #2928
Thanks for the heads up.

My suggestion is to include a more general text that says:
"Select a row for options or click [i] icon to learn more."

This text should only appear when no selection is made and the logic should go somewhere here:
[code]
to add a text aspect like this
[code]

Or something along those lines. We can keep discussion on what the text should say.

[2015-06-02 15:45] brianjgeiger commented on #2928
An alternate is to have the files grid select the first storage location rather than the top level item by default. This would give an upload button if the user has write permissions whenever the user visits the page.

[2015-06-02 15:54] bnosek commented on #2928
My first thought was the the default selection as well, but I have a vague recollection that there was something wrong with that suggestion when I made it previously.  [It could be that the problem was I was the one making the suggestion...]

[2015-06-02 15:56] samanehsan commented on #2892
That makes sense -- thanks for the clarification! @PatrickEGorman, can you make this change in #2905?

[2015-06-02 15:58] lbanner commented on #2888
OK-Will put 'working' via #2686

[2015-06-02 15:59] PatrickEGorman commented on #2892
I thought it was too easy to be true.  I'll hop on that once I finish the profile settings issue

[2015-06-02 16:00] abought opened #2933 "Make markup-safe rendering in Mako the default"
## Purpose
Presently, Mako does not escape strings by default. Turning this feature on could simplify our current array of sanitizing/escaping functions, and more reliably guard against potential script injection exploits.

To avoid an excessive QA burden, this proposal would migrate views over individually. We would start with public-facing pages, as discussed with @JeffSpies .

## Time estimate

[2015-06-02 16:00] JeffSpies commented on #2928
Specifically mentioning drag and drop either above or below the region would probably be useful either way--I have a feeling that not all of our users are aware that that's possible.

[2015-06-02 16:03] nicipfeiffer commented on #2845
@caneruguz and @lbanner
Here is an update:
Steps:
1. Go to https://osf.io/6hjum/
2. On the project overview page, in the files widget click the - to close expanded folders....do this for all add-on root folders, starting at the bottom
3. Try to scroll up on the grid

Here is a screenshot from production:
![screenshot 2015-06-02 11 50 57](https://cloud.githubusercontent.com/assets/9381062/7940502/4

[2015-06-02 16:07] chennan47 commented on #2928
What about
![screen shot 2015-06-02 at 12 07 23 pm](https://cloud.githubusercontent.com/assets/4974056/7940612/fd469f26-091f-11e5-976d-9de53f838b9c.png)

[2015-06-02 16:08] bnosek commented on #2928
should be in the gray bar to avoid taking up more space probably

On Tue, Jun 2, 2015 at 12:07 PM, Nan Chen <notifications@github.com> wrote:

[2015-06-02 16:09] brianjgeiger commented on #2928
No, that's far too heavy for something like this. If we do add some text, it should just be something small and probably under the grid, but we should remove it if we can get some site-wide contextual help in at some point (vaguely discussed from time to time, but no proposals yet).

[2015-06-02 17:05] caneruguz commented on #2928
The suggestion I made for where in the code this text should be places it in the grey bar. I think it should be at the top of the screen rather than bottom.

Eventually (relatively soon maybe) we can start adding the general capacity for personalizing small UI components. At this point it can be a dismissable text.

[2015-06-02 17:43] caneruguz commented on #2845
Okay I'm finally seeing this, and I have a suspicion about why. My theory is that it only happens when a toggle reduces the row count to less than 50 and only when enough scroll down has already happened; which is why it happens when you close starting from the button and close amazon s3 specifically.

@nicipfeiffer you are a genius! I'm sorry I ever doubted you.

[2015-06-02 18:54] jlcohoon commented on #2926
In today's infrastructure meeting, Jeff specified that users should have the option to visit the file even if it renders. This might mean that we need an additional button. That additional button could also be there for other services like Figshare or Dataverse. Maybe like this?
![screen shot 2015-06-02 at 2 53 31 pm](https://cloud.githubusercontent.com/assets/4965832/7944188/39c5378e-0937-11e5-89

[2015-06-02 19:26] erinspace commented on #2335
@GaryKriebel @fabianvf this is now updated in production, this issue can be closed

[2015-06-02 19:27] #2335 closed

[2015-06-02 19:29] erinspace commented on #2335
Just a note - the labels still overhang when the screen is a medium size - this is a c3 issue and we are not going to touch this until we redo the visualization completely sometime in the future
![screen shot 2015-06-02 at 3 27 32 pm](https://cloud.githubusercontent.com/assets/801594/7945003/0caa9ab4-093c-11e5-8f5e-162dcf8699a2.png)

[2015-06-02 19:42] nicipfeiffer commented on #2845
@caneruguz YAY!  I am so relieved that I am NOT crazy!  And YOU are a genius figuring out the S3 relationship to this issue!

[2015-06-02 20:58] samchrisinger commented on #2656
This hotfix is definitely an improvement, but registrations with deleted components will now get 500's instead.

I'm proposing this as a better fix: https://github.com/samchrisinger/osf.io/commit/9dd9a657c192564cc4cc86ce49aa4b7572868d5a,
and will include this in Archiver

[2015-06-02 21:05] chennan47 commented on #2656
Isn't this the same as
https://github.com/CenterForOpenScience/osf.io/pull/2724/files#diff-b4b50a4acab364147a53259fa3fe9b3fR1695

On Tue, Jun 2, 2015 at 4:58 PM, Sam Chrisinger <notifications@github.com>
wrote:

[2015-06-02 21:49] chennan47 commented on #1835
@samchrisinger does the registration change you made will solve this?

[2015-06-02 21:56] lbanner commented on #2845
Cool @caneruguz - TY

[2015-06-02 22:00] lbanner commented on #2926
Looks like this baby is on Epic list in present form, so prioritized as "high" and if stays on list, we'll get it assigned. Thanks.

[2015-06-02 22:21] abought opened #2939 ""/addons" route generates internal server error"
## Summary
One of the officially listed routes in the OSF does not work. In production, visiting it generates an internal server error (error code 500):

https://osf.io/addons/

I'm unclear on whether this has been deprecated by another route (see below).

Probably low priority, since no one has noticed up to now (and the other route works).

## Error messages

On a local dev environment, the mess

[2015-06-02 22:54] chennan47 commented on #2171
@sloria does is mean to change all the "conference" in the backend code to meeting?

[2015-06-02 23:15] sloria commented on #2171
@chennan47 Yes, that would be an improvement.

[2015-06-02 23:52] samanehsan opened #2940 "[staging] github file icon is oversized and cut-off"
Steps:
--------
1. Configure the github addon for a project on STAGING
2. Go to the project's overview page
3. Take a look at the files widget

Expected:
-------------
I expected to see the circular github icon next to the github addon folder:
![screen shot 2015-06-02 at 7 52 44 pm](https://cloud.githubusercontent.com/assets/6414394/7949896/056e6594-0961-11e5-8015-dc228c5c85b2.png)

Actual:
------

[2015-06-03 02:32] #390 closed

[2015-06-03 02:35] lbanner commented on #2940
@caneruguz ? Any insight here.

[2015-06-03 02:50] JeffSpies commented on #390
I'd like to see a demo of this. Is it on staging?

[2015-06-03 13:13] chennan47 commented on #2940
I think this is a bug on production, too. Didn't notice that when I trying to fix the S3 icon, I will address this.

[2015-06-03 13:19] lbanner commented on #2940
OK -- good.

[2015-06-03 13:21] samanehsan commented on #2940
@chennan47, I do not see this happening on production

[2015-06-03 13:29] chennan47 commented on #2940
@samanehsan They roll back commits on master which revert the change the icon from img to span, fix all the icon problem on production with the side effect that now on some browser the icon is draggable.

[2015-06-03 13:36] caneruguz commented on #2940
The icons should not be images, we worked to make sure that they wouldn't be because of the draggable issue. Those changes should not have been reverted.

[2015-06-03 13:41] brianjgeiger commented on #2940
Just change the CSS like so, getting rid of background-position and background-repeat and replacing it with background-size. The icons were too large, so just needing shrinking.

![screen shot 2015-06-03 at 9 39 57 am](https://cloud.githubusercontent.com/assets/6599111/7961293/9272bf30-09d4-11e5-9cce-89ee0e125bde.png)

[2015-06-03 13:44] brianjgeiger commented on #2940
Also, is that inline CSS? It should not be inline.

[2015-06-03 13:47] caneruguz commented on #2940
Brian's fix is correct; but there is something fishy here. @nanchen47 is this on "develop" branch?

[2015-06-03 13:53] chennan47 commented on #2940
@caneruguz They roll back the commits as occasionally merged develop into master. So the fix for the icon from img to span should be still on "develop" branch, I will do the shrink img based on develop and check all addons. If you have any other better plan, let me know. Thanks.

[2015-06-03 13:56] samchrisinger commented on #2656
Sorry @nanchen47, your hotfix has yet to make it into release/0.39.0... or maybe regressed during a merge. Will make sure the release branch gets updated.

[2015-06-03 14:54] samanehsan commented on #2565
@nicipfeiffer, I think the reason the name was not updated on the list of registrations was because it pulls from your given, middle and family name instead of your full name. It's the same thing with the component widgets. Maybe check if those are different?

[2015-06-03 15:15] samanehsan commented on #2565
This issue has been previously reported in #1237

[2015-06-03 15:50] jinluyuan opened #2947 "[Staging & Production] Checking off an add-on causes the OSF header to shift to the right"
### Steps
1. Go to OSF settings
2. Go to "Configure Add-ons"
3. Check the box of any add-on

### Expected behavior
I expected that once the add-on's permissions modal appeared, everything in the background would remain the same.

### Actual behavior
The blue OSF header noticeably shifts to the right when the permissions modal appears. Once the modal is closed, the header shifts back to the origina

[2015-06-03 16:38] haoyuchen1992 commented on #1250
I have spent several days on this bug. Unfortunately, I still don't figure out the real cause and solution. But I would like to share my exploration on this bug.

Firstly, the complexity is mainly because it involves in both Dropzone and Knockout.  Knockout renders the page at the last moment and it makes it really hard to debug. I used IE dev tool to check the code step by step and found that bef

[2015-06-03 16:38] samanehsan commented on #928
Closing this since we now use growl-style notifications on the osf.

[2015-06-03 16:38] #928 closed

[2015-06-03 16:40] samanehsan commented on #705
Closing since it is now possible to change a component's category.

[2015-06-03 16:40] #705 closed

[2015-06-03 16:50] samanehsan commented on #1009
Closing this since it's now possible to move/copy files between addons in different components and/or in their parent project.

[2015-06-03 16:50] #1009 closed

[2015-06-03 17:03] samanehsan commented on #1511
Fixed in https://github.com/CenterForOpenScience/osf.io/pull/2637

[2015-06-03 17:03] binoculars opened #2948 "Add API to ProgrammableWeb"
http://www.programmableweb.com/add/api

[2015-06-03 17:15] jlcohoon opened #2949 "OSF for Meetings search should include project contents"
<h4>Steps</h4>
1. Visit an OSF for Meetings page, like this one: https://osf.io/view/spsp2015
2. Use the page's white search bar to search for content from one of the projects. Try "marriage as a life transition" (from <a href="https://osf.io/2ft73/">this project's</a> wiki)

<h4>Outcome</h4>
1. No results appear

<h4>Expected Outcome</h4>
1. The search should include the contents of the projects,

[2015-06-03 17:30] brianjgeiger commented on #2949
So right now, the "search" bar is a filter rather than a search. It's only taking the information that's currently in the grid and matching it versus what's being typed into the box. We could include some more information, but it's currently not intended to be the same thing as search.

One option is to make it actually do a search. If we do that, do we do it for all the grids, or just the one for

[2015-06-03 17:46] jlcohoon opened #2951 "Collapse multiple private components into one item in file tree"
From a community repo issue: https://github.com/CenterForOpenScience/community/issues/36

<h4>Current behavior:</h4>
Private components that are children of a project are listed in the file tree as separate items. When there is more than one, the list of private components grows. This can be distracting, and does not provide users with much information, considering how much space it can take up.

[2015-06-03 17:51] jlcohoon commented on #2949
All of that makes sense. One extra thing to add to the "think about it" list is that OSF for Meetings pages are relatively separate from other pages on the site and having different search behavior in the grid there could be less confusing to users than it sounds. A good way to check that would be to see what other pages visitors who land directly on an OSF4M page go to, if any. If they pretty muc

[2015-06-03 18:01] brianjgeiger commented on #2949
In which case it might make more sense to go with a custom search page for the Meetings service rather than trying to change the filter. Remove the filter capability from the grid, do a search which only searches for meetings, and have the default search look in the current meeting (if you're already viewing one) or go across meetings otherwise. All meeting data should be open, and it wouldn't inv

[2015-06-03 18:08] zkraime commented on #2686
@sloria In the settings page, should we keep the title and description inline-editable or have an 'Edit' button?
I had assumed the former but realized it might not be ideal

[2015-06-03 18:16] samanehsan commented on #2356
As an update, this has been fixed in box:
![screen shot 2015-06-03 at 2 11 59 pm](https://cloud.githubusercontent.com/assets/6414394/7967842/d96ed25e-09fa-11e5-8ecb-fe584419eed8.png)

But figshare still has file ids instead of the file name:
![screen shot 2015-06-03 at 2 15 20 pm](https://cloud.githubusercontent.com/assets/6414394/7967864/079568c8-09fb-11e5-84bc-5d49c69b7abd.png)

[2015-06-03 18:16] samanehsan commented on #2356
I'm removing the "hold" tag now that we have moving/copying

[2015-06-03 18:18] samanehsan commented on #332
@chennan47, this is now handled for every addon right?

[2015-06-03 18:19] chennan47 commented on #332
It is covered for all the addons which use the new oauth system.

[2015-06-03 19:01] jlcohoon opened #2954 "Allow tags to be added after a registration is created"
This comes from a community issue: https://github.com/CenterForOpenScience/community/issues/16
<h4>Current Behavior</h4>
Registrations do not allow the user to add or edit tags. If the project that was registered did not have any tags, the tag widget does not appear on the registration (for both contributors and non-contributors).

<h4>Proposed Behavior</h4>
Registrations should allow users to add

[2015-06-03 19:02] geeksnglitter commented on #2464
I can take a stab at this one. @lbanner @GaryKriebel

[2015-06-03 19:07] chennan47 commented on #2954
What about ask user to add the tags they want before they submit the registration?

[2015-06-03 19:12] brianjgeiger commented on #2954
I think we're looking into adding a separate class of tags for people who aren't contributors for a project to be able to tag things. I don't expect there would be a problem tagging registrations with those tags, as they'd be more metadata than data. Would that be enough, or would you want contributors to be able to modify the user tags as well? The community-added tags would, I expect, be availab

[2015-06-03 19:12] nicipfeiffer commented on #2356
@samanehsan It looks like with the release of 0.38 there will no longer be any breadcrumbs for files. @chrisseto is this correct?

[2015-06-03 19:22] jlcohoon commented on #2954
I believe that the intent with this, was for contributors on a project to later want their work to be more discoverable and to add tags to the project to help with that. So, contributors being able to modify user tags would be useful. It might be that they could only be added, not deleted.

@saradbowman, you originally logged this issue, what do you think?

[2015-06-03 20:15] lyndsysimon commented on #1237
I've updated @huangginny's PR to reflect changes to the codebase since this was submitted, and the PR is once again ready for review.

[2015-06-04 12:45] lbanner commented on #1237
Thanks .... @sloria -- this is a good one to prioritize for upcoming release.

[2015-06-04 13:38] chrisseto commented on #2356
@nicipfeiffer Yes, you are correct. We're relying on the file tree expanding and highlighting the current file.

[2015-06-04 13:39] lbanner commented on #2356
OK -- Yes -- I will close this @samanehsan

[2015-06-04 13:39] #2356 closed

[2015-06-04 13:41] chrisseto commented on #2951
+1 to this.
@lbanner could we have an intern start working on this soon?

[2015-06-04 13:45] lbanner commented on #2951
OK

[2015-06-04 14:13] lbanner commented on #2954
@brianjgeiger is correct on Tagging, in multiple fashions, as probable project for this Epic .... will tag this issue as "Feature" and "Discuss"

[2015-06-04 14:15] lbanner commented on #2464
@geeksnglitter .... If you cannot reproduce (as @ticklemepierce was unable to), we can close this issue for now -- Let us know. TY

[2015-06-04 14:21] lyndsysimon commented on #2565
Closing in favor of #1237.

[2015-06-04 14:21] #2565 closed

[2015-06-04 14:22] jlcohoon opened #2958 "Onboarder renders some special characters in HTML"
<h4>Steps</h4>
1. Using the onboarder on the user dashboard, search for a project in the "Go to my project" field or in the "search for a project" field in the file upload section of the onboarder—be sure this project has an ampersand (&) in its name.

<h4>Outcome</h4>
1. Some, but not all project titles render the ampersand in HTML. Percent signs, exclamation points, and dollar signs all render p

[2015-06-04 14:22] lyndsysimon commented on #1237
@lbanner - We have two PRs and two issues for this. I've closed the other issue (#2565), and I recommend we go with my PR (#2956), as it makes only a single request to elasticsearch to update all projects for which a user is a contributor. I'll note that recommendation in the PR, as well.

[2015-06-04 14:30] lbanner commented on #1237
Yes -- @samanehsan had comments noting same on #2956 ... make it so : )

[2015-06-04 14:33] samanehsan commented on #1237
:+1:

[2015-06-04 14:33] haoyuchen1992 commented on #2958
I will look at it!

[2015-06-04 14:34] saradbowman commented on #2954
Yes, original intent/request was for contributors on a project to make work more discoverable. I don't know what makes more sense, in terms of only adding and not deleting, etc., but my hunch is you should be able to do both.

[2015-06-04 14:42] saradbowman opened #2960 "[production] Dataverse Terms Modal doesn't reflect 4.0 changes"
There were several updates to Dataverse in version 4.0. The Modal doesn't reflect all changes. Current view:
![screen shot 2015-06-04 at 10 39 25 am](https://cloud.githubusercontent.com/assets/7749914/7986527/12629e6e-0aa6-11e5-9eb8-945d020ce6a5.png)

Revised Text should read:

Permissions
---
"Making an OSF project public or private is independent of making a Dataverse study public or private. Th

[2015-06-04 14:43] lyndsysimon commented on #1425
I've closed the attached PR, and marked this is an intern task.

Whoever takes this on should take a look at the code @KushG added to make it work, and understand why that PR wasn't accepted. Based on his report on Github3.py's features, it may not be possible to do this entirely within that library - but it should be possible, one way or another.

[2015-06-04 14:48] saradbowman commented on #1425
As an FYI, I've received 3-4 more questions on the help desk about this
issue since the first report.

On Thu, Jun 4, 2015 at 10:43 AM, Lyndsy Simon <notifications@github.com>
wrote:

[2015-06-04 14:51] lbanner commented on #1425
OK

[2015-06-04 15:00] geeksnglitter commented on #2464
I can reproduce it. It's real.

[2015-06-04 15:03] lbanner commented on #2464
Thanks -- you got it :smiling_imp:

[2015-06-04 15:07] leb2dg commented on #2951
I can work on this.

[2015-06-04 15:09] lbanner commented on #2951
Done - and thank you!

[2015-06-04 15:30] jlcohoon commented on #2928
Dropbox defaults to the top level for what folder you upload to. They have an "add a document" button rather than an upload symbol, which might be more understandable to users. Since users can drag and drop files, defaulting probably doesn't pose an issue (not being able to move it might have been the problem before). Adding an icon instead of text could help us later if we add a file recovery pag

[2015-06-04 16:11] lbanner commented on #2960
Stealing from the interns @GaryKriebel ? :smiling_imp:

[2015-06-04 16:14] GaryKriebel commented on #2960
Fixed it prior to your tag. :angel:

[2015-06-04 16:14] nicipfeiffer opened #2968 "[Production & Staging] Intermittent Missing files/folders/components on grid on Project Overview and Files Tab"
## Steps
1. Log in to osf.io
2. Go to the public project https://osf.io/4znzp/
3. Go to the project overview page and scroll through the files/folders/component list in the files widget
4. Check that you see all the components listed and files/folders
5. Go to the files tab
6. Check that you see all the components listed and files/folders
7. Try this with your own private projects that have lots o

[2015-06-04 16:17] caneruguz commented on #2968
This seems related to this problem: https://github.com/CenterForOpenScience/osf.io/issues/2845
Which has a proposed fix here: https://github.com/CenterForOpenScience/osf.io/issues/2845

I think it's likely to resolve this issue. If not we may need more information about what's going on.

[2015-06-04 16:19] nicipfeiffer commented on #2968
@caneruguz They are likely related, however I am not expanding or collapsing folders to have the issue.  Simply going to page to view and grid is blank.

[2015-06-04 16:21] caneruguz commented on #2968
Yes, the previous one was also not related to expanding, it was about total number of items in the view.

Otherwise this bug report is very vague, the steps to repeat it should be working some time and not others, otherwise file browser would have been completely unusable. So then we need to know what is specific about this use case.

[2015-06-04 17:23] nicipfeiffer commented on #2968
@caneruguz It seems like if the project is in the cache then it is all there, but if it has not been visited for some time then on the first visit the grid is blank.  If you continue to refresh repeatedly, eventually the grid will populate.  I guess that is what I mean by intermittent.

[2015-06-04 17:56] chennan47 opened #2971 "View-only Link icon update"
<b>Steps</b>
Since the project organizer is using the new icon.  The view-only link's project/component icon needs an update accordingly.

Go to the sharing page of any project and checkout the view-only link table.
![screen shot 2015-06-04 at 1 54 48 pm](https://cloud.githubusercontent.com/assets/4974056/7990784/4aa0931a-0ac1-11e5-826f-7b4133552695.png)
![image](https://cloud.githubusercontent.co

[2015-06-04 17:58] nicipfeiffer opened #2972 "[Production & Staging] [Firefox] File version table has incorrect time"
## Steps
1. Log in to osf.io on the Firefox browser
2. Go to a project you have admin on
3. On the project overview page click on the osf storage folder to select it
4. In the toolbar, click to upload a file
5. Refresh the page and look at the project log.  You should see a log entry for the file you just uploaded.  Make note of the time showing.
6. Click on the link in the log to go to the file
7

[2015-06-04 18:04] abought commented on #2958
To add a wrinkle:

It appears that these special characters are what is being stored in the database. Some (but not all) of our front end code is converting it back to HTML for display.

In the future, we will not be storing special characters in the database, and our front-end code will need to switch from **un-escaping** HTML special characters (or displaying them as-is) to **escaping** them for

[2015-06-04 18:42] samanehsan commented on #2958
I believe @lyndsysimon did a lot of work with escaping HTML site-wide.

[2015-06-04 18:42] brianjgeiger commented on #2958
As a general rule, we are explicitly converting a few characters during various parts of the process. Specifically &amp; &gt; &lt; and maybe one other. See https://github.com/CenterForOpenScience/osf.io/pull/2857 for an example.

[2015-06-04 18:50] leb2dg commented on #2971
I can probably fix this after I finish the current issue I'm working on...may be a few days. If someone else wants to tackle it feel free! (I resolved #2783)

[2015-06-04 18:58] geeksnglitter commented on #2464
Okay so I think IE 11 fixes the problem. Should I proceed trying to get it to work with IE 10? @GaryKriebel

[2015-06-04 18:59] haoyuchen1992 commented on #2972
I will work on this.

[2015-06-04 18:59] abought commented on #2958
Indeed, Saman- I've been picking up from where #1308 left off. It didn't touch many JS files, though; phase 1 would just be Mako.

Currently, we store data as "markupsafe" in the database (see above example), but this will change ([https://github.com/CenterForOpenScience/osf.io/pull/2857#issuecomment-106866212](ref) - good find, @brianjgeiger ).

Phase 2 of a markupsafe-move would be to take sanit

[2015-06-04 19:00] chennan47 commented on #2464
@geeksnglitter go ahead and try with IE10 but anything below IE 9 may not
be worth the time.

On Thu, Jun 4, 2015 at 2:58 PM, geeksnglitter <notifications@github.com>
wrote:

[2015-06-04 19:18] lbanner commented on #2464
Yes -- what @chennan47 said.

[2015-06-04 19:20] haoyuchen1992 commented on #2958
@abought Since my pull request for this problem is based on JQuery HTML API, it assumes that the title doesn't contain any executable Javascript or HTML code. If the sanitization is out of the backend, it  need be replaced with non-JQuery solution.

[2015-06-04 19:33] lbanner commented on #2971
Yours for now @leb2dg - TY

[2015-06-04 19:55] revanthkolli commented on #2947
@jinluyuan I'm using chrome, but I can't seem to replicate this.

[2015-06-04 20:08] nicipfeiffer opened #2976 "[Production & Staging] Github: Creating a new repo on Node Settings gives many errors"
## Steps
1. Go to a project on osf.io that you are admin on
2. Go to the settings tab for the project
3. Enable the Github add-on
4. After importing the access token, click to create a new repo
5. Name the rep and Sumbit
6. Go to the projects' files tab
7. Open the error console
8. Find the folder for the Github add-on
9. Click on the + to expand the folder
10. Click on the folder to select and lo

[2015-06-04 20:11] zkraime commented on #2822
Finally got my file uploading to work.
Tried to recreate - and I was able to except it looks a little different:
![screen shot 2015-06-04 at 4 04 50 pm](https://cloud.githubusercontent.com/assets/11323460/7993353/96b5e00e-0ad3-11e5-9850-d362edeb4680.png)

It flashes a message saying: One of the files is too large (200.46 MB). Max file size is 128 MB.

The button doesn't work though, so it's the sa

[2015-06-04 20:12] samanehsan commented on #2960
@GaryKriebel, relevant issue about language in the dataverse terms modal: #623

[2015-06-04 20:25] samanehsan commented on #332
Ok, in that case I will go ahead and close this issue.

[2015-06-04 20:25] #332 closed

[2015-06-04 20:26] samanehsan commented on #1230
Closing this issue in favor of #2384

[2015-06-04 20:26] #1230 closed

[2015-06-04 20:31] billyhunt opened #2979 "Signing up for a gravatar.org is overly cumbersome"
Steps
-------
A scientist friend using the OSF found it overly cumbersome to have to sign up for gravatar.org to have his photo on the site.

Expected
------------

The OSF has the ability to host their own images.

Actual
--------

A user has to go through many steps to show off how amazing they look.

[2015-06-04 20:37] lyndsysimon commented on #2976
I'm fairly sure I know what's happening here.

Whenever a new repo is created on GitHub, it's uninitialized - there are no branches. The OSF assumes that there is at least one branch (usually `master`), and doesn't handle the case where one doesn't exist. Fixing this defect will fix this problem - I suggest showing a placeholder (like "---") and return a list of zero files. If a file is uploaded a

[2015-06-04 20:51] jinluyuan commented on #2947
@revanthkolli I tried it on Chrome again, and the issue still exists. I have the latest version. Try another browser, or vary the window size?

[2015-06-04 21:01] chennan47 commented on #2822
@zkraime They have done some UI change on the front end, but basically the error is the same. Thanks for the update for the issue.

[2015-06-04 21:11] geeksnglitter commented on #2464
I was wrong - the issue still appears in IE 11 on saucelab, but when I try it on IE 11 on my virtual box virtual machine it does not appear. The same is true from IE10.

[2015-06-04 23:34] lbanner commented on #2822
@zkraime You got this?

[2015-06-05 01:20] #2902 closed

[2015-06-05 01:54] sloria commented on #2686
@zkraime For the initial iteration, just keep the title and description as is (inline-editable). I agree that it isn't ideal, but we can remove the inline-editables in a future iteration.

[2015-06-05 02:12] #1249 closed

[2015-06-05 02:17] #2960 closed

[2015-06-05 02:35] #2939 closed

[2015-06-05 12:29] chrisseto commented on #2520
@lbanner this should be resolved as of moving/copying.

[2015-06-05 12:49] nicipfeiffer opened #2980 "[Production] Project with 500 error when loading files grid"
## Steps
1. Go to the project https://osf.io/5xk9m/ (may need to ask @caileyfitz to be added)
2. See that the files grid never loads
3. Open the console and see the 500 error

## Expected
I would expect the project's overview page to load in it's entirety with no errors. (I am a contributor)
I would also expect that I would see the project overview page and all components that I have permissions t

[2015-06-05 12:53] geeksnglitter commented on #2464
Can we defer this for now @lbanner?

On another note, this might be the fix http://stackoverflow.com/questions/2625166/flash-video-playing-on-top-of-everything-else-in-ie7

[2015-06-05 12:54] lbanner commented on #2464
Appreciate the work on this @geeksnglitter -- we'll defer for now.

[2015-06-05 12:54] #2464 closed

[2015-06-05 12:55] lbanner commented on #2520
Cool - closing

[2015-06-05 12:55] #2520 closed

[2015-06-05 13:16] zkraime commented on #2822
@lbanner Yes, I'd like to complete this

[2015-06-05 13:17] zkraime commented on #2686
OK thanks

[2015-06-05 13:27] saradbowman commented on #2610
A second report on the help desk, and user diagnosed the issue. In this second case, only certain folders would not expand (did not affect the entire drive):

The folders which don't expand (+) contain subfolders with cyrillic
names in it. To test this I've created three new folders on my GDrive with
different subfolders (folders at first level, subfolders - at second):

- Trial folder 1
- New fol

[2015-06-05 13:30] caneruguz commented on #2928
The top level is not quite so obvious in this case because the top level is the Project and then there are sub levels of add ons. Most likely the OSF Storage that belongs to the Project can be auto selected but that's not always the first thing visible depending on the add ons added.

So I think there solution is to add a temporary text to the bar as Johanna initially suggested. It can say one of

[2015-06-05 13:34] caneruguz commented on #2968
I cleared my cache and I'm not seeing this behavior. We need to at least be able to repeat it.

[2015-06-05 13:35] GaryKriebel commented on #2610
@saradbowman is checking with the first user to confirm these are similar issues.

[2015-06-05 13:55] nicipfeiffer commented on #2845
@caneruguz I am still seeing this issue on production. https://osf.io/6hjum/

[2015-06-05 14:07] nicipfeiffer opened #2982 "[Production & Staging] Scrolling long file grids reverts to page scrolling at arbitrary scroll points"
## Steps
1. Go to a project that you have lots of components/files/folder on
2. Go to the files tab
3. Scroll inside the files grid at different speeds
4. Notice when you scroll faster

## Expected
I would expect the scroll to keep up and not stop, and definitely not arbitrarily stop and scroll the entire page when scrolling inside the file grid.

## Actual
When scrolling faster down, the grid rev

[2015-06-05 14:18] lbanner commented on #2878
Analyzing options with @icereval, I am a 'NoGo' for release of 0.38.0 today (Friday), though will listen to debate. Propose release Sunday night (06/07/15)
Reasons:
- 0.38.0 release is QA'd and ready to go, but could use some shoring up w/tests.
- @icereval cannot guarantee a 0 downtime release, so preference is low user time.
- Chris is not available for support this evening and over weekend, but

[2015-06-05 14:27] caneruguz commented on #2845
@sloria or @icereval can you confirm that these changes are pushed to the server? The PR referenced here solved my local copy problems but production still has this bug.

[2015-06-05 14:39] caneruguz commented on #2982
@chrisseto I remember you said you had some suggestions for this. Any leads I can follow?

[2015-06-05 14:44] chrisseto commented on #2982
@sloria found a much better solution that I had.
Take a look here: https://jsfiddle.net/sloria/6pskpL3g/1/

[2015-06-05 16:07] zkraime commented on #2686
Here's what it looks like now:
![screen shot 2015-06-05 at 12 02 18 pm](https://cloud.githubusercontent.com/assets/11323460/8010095/601dbd48-0b7b-11e5-9a78-43383567ffcd.png)
and:
![screen shot 2015-06-05 at 12 06 07 pm](https://cloud.githubusercontent.com/assets/11323460/8010101/67edd77e-0b7b-11e5-8b28-c8572cd3e825.png)

Should I go ahead and submit a PR now?

[2015-06-05 17:20] PatrickEGorman commented on #2976
I'd be willing to take a look at this

[2015-06-05 17:21] JeffSpies commented on #2878
Agreed; no-go based on those reasons.

On Fri, Jun 5, 2015 at 10:18 AM, LarryB <notifications@github.com> wrote:

[2015-06-05 19:46] revanthkolli commented on #2846
@lbanner can I work on this?

[2015-06-05 19:48] jinluyuan opened #2992 "[Production & Staging] OSF email notifications are inconsistent"
## Steps
**OSF New User Registration email**
1. Go to osf.io.
2. Register for a new OSF account.
3. Review the email confirmation for your email address.

**Comment notification email**
4. Go to osf.io.
5. Create a new project.
6. Go the project's Settings tab.
7. Go to "Configure notifications".
8. Enable email notifications for comments to the project.
9. Go to the project's Sharing tab.
10. Add

[2015-06-05 21:13] NatashaRichter opened #2993 "[Production & Staging]: No limit on component title length"
## Steps
1. Log in to osf.io
2. Add a component to a project for which you have admin or read-write permissions.
3. Create a really long title for the component (beyond 200 or so characters).
4. Click the "OK" button.

## Expected behavior

I expect that either the new component will be created with the title I chose or that a modal will appear saying that the component title is too long.

## Actu

[2015-06-06 02:59] #2972 closed

[2015-06-06 03:02] sloria commented on #2686
@zkraime Oh, I think I misunderstood your previous question. To clarify: the inputs on the settings page should *not* be editable inputs--they should be normal text inputs. I just meant that we can keep the editable inputs on the *Overview* page for now.

[2015-06-06 04:26] leb2dg commented on #2951
@jlcohoon / @chrisseto, @samanehsan suggested that this issue, and the way it should be handled, be put up for discussion. I have been assigned a project for the epic and so I may be pulled from this issue depending on how much time it will require.
### Details
Due to the way the data is processed and the rows are rendered, condensing the 'Private Component' rows into a single row is quite complic

[2015-06-06 17:24] zkraime commented on #2686
@sloria Ah OK, understood. thanks

[2015-06-07 19:32] icereval commented on #2878
I'm a GO for releasing tonight.

Unit tests will be pushed up soon for the MFR rebuild and @chrisseto will be in the office tonight to provide release support.

Ping: @JeffSpies @nicipfeiffer @caileyfitz @GaryKriebel @sloria @chrisseto

[2015-06-07 19:39] JeffSpies commented on #2878
I see Kush's commit in the milestone as well as search that says "needs
QA". What are the status of those? Is that milestone up-to-date?

On Sun, Jun 7, 2015 at 3:32 PM, Michael Haselton <notifications@github.com>
wrote:

[2015-06-07 19:54] icereval commented on #2878
I've closed a few and will be reassigning a handful of PR's which were merged into `develop` Friday and pulled the 0.39 release. QA reviewed these fixes in 0.39 however since bugs were identified, it was decided to delay rolling these changes into 0.38 as it would require manually cherry picking commits which could lead to other issues.

[2015-06-07 20:03] GaryKriebel commented on #2878
I am available if anything requires testing now.

If everything in this release has been tested, and I believe it has, then I am a go.

[2015-06-07 22:28] lbanner commented on #2878
Yes -- 'twas the plan and thank you @icereval  -- I am a GO for thawing 0.38.0 and releasing this eve -- We'll be able to regression test first thing in the AM. Let me know if I can support. Thanks.

[2015-06-08 01:26] nicipfeiffer commented on #2878
I am a GO for 0.38 release and agree to hold back the PRs with the bugs that were found.

[2015-06-08 02:48] JeffSpies commented on #2878
Agreed. GO.

On Sun, Jun 7, 2015 at 9:26 PM, Nicole Pfeiffer <notifications@github.com>
wrote:

[2015-06-08 04:15] caileyfitz commented on #2878
A little late on this because I passed out at 5pm and just woke up... 😳 But I am a GO as well

[2015-06-08 04:17] icereval commented on #2878
0.38.0 is deployed, I'll leave this open while regression testing occurs. Thanks everyone for the presence!

[2015-06-08 12:25] saradbowman commented on #2610
First user has folders with Hebrew characters, so the issues are related.

[2015-06-08 12:34] chrisseto commented on #2610
@saradbowman This should be fixed as of last night, would you mind checking?

[2015-06-08 12:38] saradbowman commented on #2610
@chrisseto it is! y'all are fast! Thanks. I'll update the users who reported the bug.

[2015-06-08 12:46] lbanner commented on #2878
Great @icereval -- Thank you!

[2015-06-08 13:54] caileyfitz commented on #2980
Having a similar issue... getting a 500 when trying to load the files tab on a project for which one of the components has Dataverse enabled, but I *do* have access to see that component, unlike @nicipfeiffer. On the user settings page, I see this error:
![screen shot 2015-06-08 at 9 48 29 am](https://cloud.githubusercontent.com/assets/5975444/8036159/05212d94-0dc4-11e5-8b39-3c2459b8b87c.png)
But

[2015-06-08 14:07] Ghalko commented on #2119
@sloria, was this addressed with the 0.36 release?

[2015-06-08 14:09] geeksnglitter commented on #2993
@lbanner Can I fix this?

[2015-06-08 14:17] Ghalko commented on #2156
How modular is the Ace editor? Could we replace it with an editor that supports the features we want? (That is without really tearing things up?)

[2015-06-08 14:18] csoderberg opened #2999 "[Production] PDFs not rendering"
What I did: Went to this project (https://osf.io/cek6t/) to upload slides

Expected behavior: Clicking on uploaded PDF content should lead to the PDF rendering.

What actually happened:

![screenshot 2015-06-08 10 09 54](https://cloud.githubusercontent.com/assets/7332030/8036651/421eb524-0dc7-11e5-9c1b-0492a495c090.png)

This happened in both firefox 38.0.5 and Safari 7.1.6, but not in chrome.

[2015-06-08 14:20] brianjgeiger commented on #2156
It's pretty modular, but unfortunately it's also very feature filled. I currently don't know of a better inline editor for our purposes. For my purposes, spell checking is better than no spell checking, even if it's not OS-level spell checking.

There are a lot of changes we can make to the ACE editor, btw. It wouldn't be bad to get people used to working in it.

[2015-06-08 14:47] Ghalko commented on #2954
#1332 - related

[2015-06-08 14:51] Ghalko commented on #2933
Is this assigned? It looks like it is being worked on. @lbanner

[2015-06-08 14:55] lbanner commented on #2933
Check with @abought I think -

[2015-06-08 15:07] abought commented on #2933
I've been working on this but cabn't assing myself.  I've gotten basic utils (#2917) and profile conversion (#2933), as well as initial QA on project page conversion. Haven't pushed too hard given the need to focus on 0.38 and 0.39, but the pieces are here. Suggestions welcome.

After phase 1 (mako) is completed, the big challenge will be phase 2-3 (JS widgets + consolidating backend sanitizers).

[2015-06-08 15:12] #2119 closed

[2015-06-08 15:13] sloria commented on #2119
Yes, this was addressed. We still use Handlebars, for the Onboarder, but it has been removed from the project organizer, which was what this issue was about.

[2015-06-08 15:15] Ghalko commented on #2933
@abought My first suggestion (and possibly only for this one) is to ask @lbanner or @GaryKriebel to add you to your own proposals as the assignee.

[2015-06-08 15:35] geeksnglitter commented on #2993
Okay very easy fix, but does raise the question of what the allowable length of titles should be. When creating a project or component - once the fix is in -  you will only be able to make a title of max length 200 when you first create it, but when you are editing titles you can still make them however long you wish. Is this the desired behavior?

![screen shot 2015-06-08 at 11 33 32 am](https://

[2015-06-08 15:37] Ghalko commented on #2893
@jlcohoon Is this still happening? I can't seem to reproduce the behavior.

[2015-06-08 15:39] evomellor commented on #2893
I don't think it is, I first noticed this weekend that login now redirects user back to the page they are on. Perhaps this was part of 0.38 release.

[2015-06-08 15:43] jlcohoon commented on #2893
Looks good to me too—both when I log in from the toolbar or via the dedicated log in page.

[2015-06-08 16:00] zkraime commented on #2686
@sloria I added edit links to the inline editables in the edit page.
I wanted to make it so that you <b>can't</b>   also click on the title or description itself to edit it, but I'd have to duplicate code and use a different id so that it remains editable in the dashboard page.
Is this OK?
The only thing I was thinking is that the edit links should disappear while the input form is up and then rea

[2015-06-08 16:11] jlcohoon opened #3007 "Add extra warning to make public modal reminding users to check for sensitive info"
<h4>Steps</h4>
1. Visit a private project
2. Click make public
3. Read the information in the warning modal

<h4>Current behavior</h4>
1. The modal informs users that making the project public means they are taking the risk that nothing in it could ever be private again.

<h4>Expected behavior</h4>
1. The modal should include the warning (in addition to the existing text):
"Review your project for

[2015-06-08 16:13] sloria commented on #2993
@geeksnglitter  200 seems fine for now. In any case, validation should happen both on the frontend and the backend, so that we don't miss places where the title can be made longer than the max length, e.g. the settings page or the inline-editable input.

[2015-06-08 16:19] lbanner commented on #2993
Yours @geeksnglitter -- Thank you.

[2015-06-08 16:21] lbanner commented on #2893
Closing -- and thank you.

[2015-06-08 16:21] #2893 closed

[2015-06-08 18:19] lbanner commented on #2999
@csoderberg Is this error occurring for this file only?

[2015-06-08 18:23] brianjgeiger commented on #2999
Definitely happens for all PDFs stored in OSF Storage (and not, say, Github and S3, which work fine). Images and Text in OSF Storage render fine.

[2015-06-08 18:23] csoderberg commented on #2999
Nope, that was just an example. It's occurring on pretty much every PDF on
the OSF I try.

On Mon, Jun 8, 2015 at 2:19 PM, LarryB <notifications@github.com> wrote:

--
Courtney Soderberg, Ph.D
Statistical and Methodological Consultant
Center for Open Science

[2015-06-08 18:25] lbanner commented on #2999
Ping @sloria @nicipfeiffer -- This is a problem needing resolved ASAP, please. TY

[2015-06-08 19:09] nicipfeiffer commented on #2999
@lbanner I am not seeing this.  All pdfs are rending fine for me,  including the examples.

[2015-06-08 19:13] brianjgeiger commented on #2999
I'm still getting it. Safari. You're not testing in Chrome, right?

![screen shot 2015-06-08 at 3 12 18 pm](https://cloud.githubusercontent.com/assets/6599111/8042976/dd4dbb7a-0df0-11e5-8918-3bd36fe61f15.png)

[2015-06-08 19:15] csoderberg commented on #2999
I'm also still getting it in Safari and Firefox

On Mon, Jun 8, 2015 at 3:13 PM, Brian J. Geiger <notifications@github.com>
wrote:

--
Courtney Soderberg, Ph.D
Statistical and Methodological Consultant
Center for Open Science

[2015-06-08 19:16] nicipfeiffer commented on #2999
@csoderberg I do see it now!

[2015-06-08 19:20] nicipfeiffer commented on #2999
Just thought I would also note that pdfs are rending OK in IE.

[2015-06-08 19:35] nicipfeiffer commented on #2999
Also, worth noting:
![screenshot 2015-06-08 15 31 12](https://cloud.githubusercontent.com/assets/9381062/8043349/7c144e52-0df3-11e5-980d-3d2e6305d510.png)
This is from Chrome, even though the pdf renders there is this error in the console.

[2015-06-08 19:46] NatashaRichter opened #3010 "[Production] Unsaved edits do not persist"
## Steps

1. Log in to osf.io
2. Navigate to a project for which you have admin or read-write permissions
3. Go to the files tab and click a file name (must be text file) to view the file in the file detail page
4. Toggle Edit mode and type a few words
5. Without saving, untoggle Edit and navigate away from the page again by going to another page on the OSF (Dashboard, Files tab of the project, et

[2015-06-08 20:00] caileyfitz opened #3011 "[staging & production] Able to edit previous versions of a file when clicking away then back to most recent version (versions table)"
# Steps
1. Go to a project on which you have admin or read/write access on production
2. Go to the files tab
3. Click on a text file to view it in the detail page
4. If the file does not have previous versions, make edits so that the file has at least four versions
5. Click to view an older file version and confirm that there is no edit tab
6. Click on the most recent version of the file in the re

[2015-06-08 20:12] NatashaRichter commented on #3010
It looks like there is inconsistency across browsers with this issue, as well. On Chrome and Firefox, edits don't persist at all. On Safari, edits flash on the screen and then disappear.

[2015-06-08 20:56] NatashaRichter opened #3013 "[Production & Staging] Files tab filter does not filter upon typing in search bar"
## Steps
1. Log in to osf.io
1. Navigate to a project that has many add-ons enabled and a lot of files
2. Go to the files tab
3. In the toolbar, click on the 'Search' button
4. Type a common letter to initiate filtering
5. Look at the files grid

## Expected
I expect to see the files filtered according to what I entered in the search bar. Sometimes scrolling in the files grid after typing results

[2015-06-08 20:58] raklein opened #3014 "[osf] .sps file rendering in Chinese"
Steps to reproduce:
1. Navigate to this page to try to render the .sps file https://osf.io/zvp3s/

Expected:
1. Displays contents of .sps in plain text

Actual:
1. Appears to be displaying it in Chinese or a related language. Note that this does not happen for all .sps files (this specific .sps file is to create a graph, other files in the same component display correctly)
![screen shot 2015-06-08

[2015-06-08 20:59] csoderberg opened #3015 "[osf] CSV files not rendering"
Steps:

Go to a project (https://osf.io/y2qi4/, https://osf.io/runys/, https://osf.io/zcmjp/)
Click on a .csv file in the project

Expected behavior:
The CSV should render.

Actual behavior:
![screenshot 2015-06-08 16 49 41](https://cloud.githubusercontent.com/assets/7332030/8045181/a645d644-0dff-11e5-9f4f-16d5616087cb.png)

This is a really weird error. It shows up in safari, chrome, and firefox,

[2015-06-08 21:02] chennan47 commented on #3014
This is not Chinese actually. It's related to code transition.

On Mon, Jun 8, 2015 at 4:58 PM, Richard Klein <notifications@github.com>
wrote:

[2015-06-08 23:05] lbanner commented on #2933
@abought -- I assigned you to this one.

[2015-06-09 00:01] sloria commented on #2686
I don't think there's any reason to use inline-editable inputs on the settings page. Just use a normal text input for the title and a text area for the description.

[2015-06-09 00:06] zkraime commented on #2686
Okie dokes

[2015-06-09 12:58] lbanner commented on #3011
Looks like a bug in .TXT editor @chrisseto ? Thanks.

[2015-06-09 13:15] lbanner commented on #3010
@chrisseto ... also looks to be .TXT editor bug.

[2015-06-09 13:25] lbanner commented on #2951
Good review @leb2dg  ---  @jlcohoon @chrisseto Though not ideal, is the issue enough of a problem to either (a) Dig into and take time for a complex solution here - or - (b) Simply not display 'Private' components?

If we can live with the display as it is now, I'd suggest closing or deferring at present.

[2015-06-09 13:32] jlcohoon commented on #2951
I would opt to defer for now, but @bnosek, as the one who originally filed the issue, what do you think?

[2015-06-09 13:35] brianjgeiger commented on #2951
This is certainly something we could work into the V2 API. If you want the feature, we'll have to anyways, if you're going to want it, unless we make it all front end which, as we know, is complicated.

[2015-06-09 13:38] lbanner commented on #2951
Alright -- we'll file under "V2 API" for now, @brianjgeiger ... can you note on your roadmap? :smiling_imp: I'll tag with "hold" -- Thanks.

[2015-06-09 13:39] caneruguz commented on #2951
Actually this is a good point to discuss. Why are we showing private components to begin with? There is almost no functionality they have inside the files panel. Only showing an aggregate number is also as ineffective. I think they should simply be removed from the data source in rubeus.py or appropriate location on the back end; which I think is what the consensus is coming down to right @brianjg

[2015-06-09 13:42] brianjgeiger commented on #2951
I believe currently the V2 API just filters out private components, so it would appear I agree with @caneruguz. Not showing someone something they don't have permissions to know about is more secure. Unless there's a really good reason to show it, I would support hiding those components entirely.

[2015-06-09 13:55] jlcohoon commented on #2951
Showing them was a conscious decision, though maybe we do want to
reconsider? The idea was to show people that there is some hidden content,
so they could at least be aware that there are additional parts to the
project. It's a very low level of transparency.

[2015-06-09 13:59] caneruguz commented on #2951
@jlcohoon That's a very reasonable thing to do, I think we all agree on that. Maybe file browser is not the place to show there are private components since neither they nor their files can be worked with in this environment. They should appear somewhere though and if I'm not mistaken they appear in the current Components widget right? But we may be revising that design as well.

So as in all thin

[2015-06-09 14:07] jlcohoon opened #3017 "Suggested changes to OSF footer"
Addresses an issue from the community repo: https://github.com/CenterForOpenScience/community/issues/171

Several users have asked how they can donate money to support the OSF. To easily allow them and others to do this, we can add a link in the footer on the OSF to the Giving Library page: https://www.givinglibrary.org/organizations/center-for-open-science. The link could go under the "OSF" colum

[2015-06-09 14:08] #2856 closed

[2015-06-09 14:14] #3007 closed

[2015-06-09 14:30] jlcohoon opened #3018 ""download as zip" is shown as an option when there are no files to download"
<h4>Steps</h4>
1. Visit a project or component with no files
2. Visit the files page and click on a storage add-on (like OSF Storage)

<h4>Current Behavior</h4>
1. The "Download as zip" button appears in the top right as an option
![screen shot 2015-06-09 at 10 28 17 am](https://cloud.githubusercontent.com/assets/4965832/8060317/9637120c-0e92-11e5-8cf9-d97a94f279a6.png)

<h4>Expected Behavior</h4>

[2015-06-09 14:42] caileyfitz opened #3019 "[production] File upload stops part-way through and does not resume"
# Steps
1. Go to a newly created project on production (or if you don't have one, create one)
2. Go to the files tab
3. Drag and drop 10+ files of varying types to upload them into OSF Storage
4. Wait for uploads
5. If one upload pauses, press the **x** button to cancel that upload
6. Wait for other files to upload

# Expected
I expect that all files would upload within a reasonable amount of time

[2015-06-09 14:55] wisherp opened #3020 "[Production] Deletion alert is not live for wiki and files"
Reported on the 0.38 board by @reinaH

# STEPS
1. go to project where you are admin
2. add another contributor as admin (use a 2nd account you can log into)
3. have both users go to the same file.
4. have user A delete the file
5. as user B try to perform some action on the file without leaving the page
6. will get a not found error

# EXPECTED
it is expected user B will receive a real time alert

[2015-06-09 15:00] lbanner commented on #3019
@chrisseto ..... WaterButler? Thanks.

[2015-06-09 15:14] #2878 closed

[2015-06-09 15:22] brianjgeiger commented on #2951
It makes sense from a certain perspective, but if someone wants to hide their private activity entirely, they could make a private project that holds everything that's not public, or if they want to keep from making it appear that there are many private components, they could make a private component and then move all the other private components into there.

This changes significantly as we add m

[2015-06-09 15:28] nicipfeiffer opened #3021 "[Production & Staging] Error message does not persist when Unable to configure figshare in Project settings"
Bug found on the 0.38 testing board:

## Steps
1. Go to a project you have admin on
2. Go to the settings tab
3. Enable the figshare add-on
4. Click to import access token

## Expected
I would expect to import the token and see the folder picker appear to complete the configuration.  However, I seem to have an expired token.

## Actual
In this case, the error message to the user in the project set

[2015-06-09 15:32] nicipfeiffer opened #3022 "[Production & Staging] White space below edit pane"
Bug reported on the 0.38 testing board:

## Steps
1. Go to a project with a .txt file in osf storage
2. Go to the files tab
3. Click on the .txt file to render it
4. In the upper right, click on the edit toggle to see the edit pane appear
5. Look for the save and revert buttons

## Expected
I would expect that the save and revert buttons would be easily visible for the user.

## Actual
With my bro

[2015-06-09 15:33] chennan47 commented on #3022
I believe @caneruguz set it to be a fixed height by purpose.

[2015-06-09 15:45] lbanner commented on #3022
Thoughts @caneruguz ?

[2015-06-09 15:47] lbanner commented on #3021
If driven by communication issue w/Figshare ... well ... @chrisseto let us know sense on possibility of resolving. TY

[2015-06-09 17:45] nicipfeiffer opened #3025 "[Production] Cannot upload files with '%' in the name to OSF storage"
## Steps
1. Go to a project you have admin access to on osf.io
2. Find a file with a '%' in the filename or change a file so that the filename has % in it.
3. Click on the file tab
4. Locate the OSF storage folder, click on it to highlight it
5. In the toolbar, click the upload button
6. Upload the file with % in the name

## Expected
I would expect the file to upload successfully

## Actual
Error

[2015-06-09 18:13] jlcohoon opened #3026 "Rebrand sign in page to say OSF not COS"
This comes from the community repo: https://github.com/CenterForOpenScience/community/issues/199

<h4>Steps</h4>
1. Log out of the OSF
2. Visit a private project on the OSF so that you can get to the login page

<h4>Current Behavior</h4>
1. The user is brought to a page that says COS at the top, even though they are logging into the OSF:
![screen shot 2015-06-09 at 2 12 17 pm](https://cloud.github

[2015-06-09 18:37] #2971 closed

[2015-06-09 18:38] #2678 closed

[2015-06-09 20:27] jlcohoon commented on #2951
One further thing to consider is that there is currently a proposal being created (https://docs.google.com/a/cos.io/document/d/1lsaY7JNRmS7GfTtugtkDQegNOXINq-yi-ZUggez1gmU/edit?usp=sharing) to establish a system for Admins to be able to make the name of a private component visible and to allow other users to request access to that component. In that case, there is an actionable item for the user.

[2015-06-10 03:03] haoyuchen1992 commented on #3026
Is this what we want? Honestly, COS log is more beautiful!

![screen shot 2015-06-09 at 11 00 39 pm](https://cloud.githubusercontent.com/assets/5420789/8074088/8a01a40c-0efb-11e5-8a9b-41dac5b53ab1.png)

[2015-06-10 12:51] lbanner commented on #3026
@AndrewSallans @jlcohoon -- We'll want a review on this ^^^ -- Thanks.

[2015-06-10 12:55] lbanner commented on #3025
Assume we should allow the character "%" in file names? Any reason it might not be allowed?

[2015-06-10 13:11] brianjgeiger commented on #3026
It's worth mentioning that this will be a login for all COS services, not just the OSF, and eventually for other services that want to use our login. It's not wrong to call it an OSF login, but think about the generic presentation for all of the cases, not just the one we're using now.

[2015-06-10 13:13] brianjgeiger commented on #3025
It's an escape character, but I expect that the sequences in the filenames are the escaped version. One way or another it should handle it, however, unless there's something secret I don't know. If we absolutely cannot handle %s for some reason, it would still need to be handled better than by using a generic error.

[2015-06-10 13:16] lbanner commented on #3014
@chennan47  -- Do we know why this file displays in this way?

[2015-06-10 13:17] lbanner commented on #3015
@nicipfeiffer @caileyfitz -- are we replicating this?

[2015-06-10 13:17] chennan47 commented on #3014
The encoding and decoding is not working correctly.

On Wed, Jun 10, 2015 at 9:16 AM, LarryB <notifications@github.com> wrote:

[2015-06-10 13:20] lbanner commented on #3013
@NatashaRichter Is this consistent behavior? Or solely related to a project with many add-ons? And do we think this relates to the inability to filter files in window ##2779?

[2015-06-10 13:20] lbanner commented on #3014
Our issue then, yes? Do you think an intern could tackle?

[2015-06-10 13:23] chennan47 commented on #3014
It's a MFR problem. Better have someone familiar with MFR to deal with it.

On Wed, Jun 10, 2015 at 9:20 AM, LarryB <notifications@github.com> wrote:

[2015-06-10 13:33] AndrewSallans commented on #3026
Could we not use this?  This is the logo/text that is presented when using the small-sized OSF window via responsive design.

![screen shot 2015-06-10 at 9 31 53 am](https://cloud.githubusercontent.com/assets/2151933/8083594/bb582e60-0f53-11e5-9126-eb587849b0ff.png)

[2015-06-10 14:02] NatashaRichter commented on #3013
Yes, this is consistent behavior and regardless of number of add-ons and files. Having more files when testing makes it easier to see how filtering does not occur. I'm not sure if it relates to #2779, because even when I have my files out in the open (not in a folder), no filtering occurs (see screenshot below).

![screenshot 2015-06-10 09 58 15](https://cloud.githubusercontent.com/assets/7093086/

[2015-06-10 14:27] nicipfeiffer commented on #3015
@csoderberg I do not have access to the files you linked.  However, in checking my own .csv files I am able to render in OSF storage.

[2015-06-10 14:40] NatashaRichter opened #3032 "[Production] Component activity bars inconsistent in appearance"
## Steps

1. Log in to osf.io
2. Navigate to a project for which you are admin and have some components; add a couple more if need-be
3. Look at the activity bars for the components

## Expected

I expect that activity (number of contributions) will be displayed in green along the blue activity bar. I also expect there to be consistency in activity bar appearance.

## Actual

The activity bars loo

[2015-06-10 14:59] #2516 closed

[2015-06-10 15:01] GaryKriebel commented on #3015
I am able to render a .csv in my project as well.

[2015-06-10 15:04] GaryKriebel commented on #3032
I believe the contribution bars are scaled to be proportional among all of your components.  A quick glance above shows that the "Donut" component has had orders of magnitude more contributions that "Taho" has.

If all of your components have the same number of contributions, the lines will be of equal length.
![screen shot 2015-06-10 at 11 02 49 am](https://cloud.githubusercontent.com/assets/9437

[2015-06-10 15:14] leb2dg opened #3033 "[Production] Icons in Configure Notifications widget are incorrect"
# Steps

Log in to osf.io
Navigate to a project
Go to the settings page for that project and scroll down to the Configure Notification widget
Look at icons next to project/components

# Expected

I expect that the icons displayed would be the same as the ones on the project organizer and the file grid on the project dashboard page.

# Actual

The icons are all folders
.
# Screenshots
![screen shot

[2015-06-10 15:15] leb2dg commented on #3033
I'll fix this.

[2015-06-10 15:15] NatashaRichter commented on #3032
Thanks @GaryKriebel Yes, they are scaled to be proportional. I just think a design change would make activity clearer (or maybe just look better) in screenshot #2.

[2015-06-10 15:16] #2626 closed

[2015-06-10 15:21] csoderberg commented on #3015
You guys should now have access to the 2nd link so you can see the error on
the system. Johanna is also getting yhe rendering error on the two other
rpp links.

Gary, as I mentioned, this isn't happening for all csv. But it is happening
for c svs from two separate projects that use osf storage and a file I
github.
On Jun 10, 2015 11:01 AM, "Gary Kriebel" <notifications@github.com> wrote:

[2015-06-10 15:24] jlcohoon commented on #3015
The console is producing this error:
![screen shot 2015-06-10 at 11 15 24 am](https://cloud.githubusercontent.com/assets/4965832/8086306/bb2ba0ca-0f62-11e5-82c7-c67bd7afa12a.png)

I tried uploading one of the files that isn't rendering to another component and it does work there. But I'm getting the same issues that Courtney is. The two files that she linked to that I have access to were both uplo

[2015-06-10 15:43] jlcohoon commented on #3015
Just tried the same thing on the other project—I uploaded a new CSV and it didn't render either.

[2015-06-10 15:47] nicipfeiffer commented on #3015
I am wondering if we are handling the 2 types differently...http://superuser.com/questions/302334/true-difference-between-excel-csv-and-standard-csv

[2015-06-10 15:48] GaryKriebel commented on #3015
@csoderberg, @jlcohoon, @nicipfeiffer,
The issue with at least one file (Direct Studies.csv) is the percent sign.

If you replace "%" with "percent", the file renders.

![screen shot 2015-06-10 at 11 47 08 am](https://cloud.githubusercontent.com/assets/9437946/8087003/773adba2-0f66-11e5-8930-ca78321ee8b3.png)

What special characters are in the other CSV files that are not rendering?

[2015-06-10 15:53] jlcohoon commented on #3015
I'm not sure what they are supposed to be, but there definitely are some that aren't rendering properly

[2015-06-10 15:56] GaryKriebel commented on #3015
Then we need to
* download those files
* look at them, see if there is a % sign in them
* change them to "percent"
* upload to a test project to see if they render
* if they do not render, look for other special characters so those can be accounted for along with %

[2015-06-10 16:00] jlcohoon commented on #3015
The files that I uploaded just now definitely don't have special characters in them though (sorry—I didn't realize that earlier). So it can't be that a % sign is the cause.

[2015-06-10 16:14] GaryKriebel commented on #3015
@csoderberg ... what about the other files you are stating won't render?

[2015-06-10 16:30] lbanner commented on #3026
If we can reverse it, i.e. blue text on white with O logo -- that could be a sound approach.

[2015-06-10 18:03] #2763 closed

[2015-06-10 18:05] csoderberg commented on #3015
@GaryKriebel Like Johanna, I uploaded a new .csv file to the https://osf.io/js7y4/ project called test.csv, with no special characters (one column, 4 rows, with the content test, 1, 2, 3) and it won't render, so it' can't just be a percent sign or special characters issue since there weren't any in the new file.

As for the two files in the RPP project, I downloaded one and even though it's called

[2015-06-10 18:17] samanehsan commented on #1506
Closing this issue since the fix has been merged in. :octocat:

[2015-06-10 18:17] #1506 closed

[2015-06-10 18:17] #2552 closed

[2015-06-10 18:36] samanehsan commented on #2667
Closing this, but feel free to re-open if it happens again!

[2015-06-10 18:36] #2667 closed

[2015-06-10 18:40] csoderberg opened #3037 "[osf] editable files in github add-ons downloaded with .txt extension put on"
Go to a project (https://osf.io/x9ua5/) with files in a github repo that are rendered as text files (e.g. .md and .csv files). Download the file.

You would expect that they would download with the correct extension.

They actually download with a .txt extension tacked on, so you get .md.txt and .csv.txt. This does NOT happen on OSF storage. I have no tried other add-ons. But it happens for github

[2015-06-10 18:46] csoderberg commented on #3037
possibly related to #3015 (accordion to @nicipfeiffer )

[2015-06-10 18:47] AndrewSallans commented on #3026
That'd be fine.  I just think that structure and pairing is what we should go with.

[2015-06-10 19:10] samanehsan commented on #2768
It makes sense to me that you only see an add-on icon in the files grid if you've both selected and configured it, because the configuration step involves selecting a folder/repo. Ok to close this since it's expected behavior? @jlcohoon, @chennan47, @lbanner, @GaryKriebel

[2015-06-10 19:13] brianjgeiger opened #3040 "Make filtering work for complex fields"
Currently, filtering only works for built-in field types. We have a custom properties field that we are going to want to be able to filter on, so the user would be able to, say, access /api/v2/nodes/?filter[properties.registration]=true to get all of the available registrations. Ideally, we want to do this in a generic way for future custom field types. If things become tricky, we can do this in a

[2015-06-10 19:15] lbanner commented on #2768
Yes -- if that is current functionality. I'll close.

[2015-06-10 19:15] #2768 closed

[2015-06-10 19:20] brianjgeiger opened #3041 "Add UI for adding OAuth applications"
Via @sloria:
[code]

From https://github.com/brianjgeiger/osf.io/issues/30

[2015-06-10 19:23] samanehsan commented on #2591
@icereval okay to close?

[2015-06-10 19:23] brianjgeiger opened #3042 "Add authentication backend to handle view-only links"
Via @sloria: "This is a prerequisite for dogfooding the API."

Specifically, these will be to allow us to replace out the project page with calls to the new API. If the view only link does anonymizing as well, then we should ensure that no real user information is returned with relation links on any node view or subview.

From https://github.com/brianjgeiger/osf.io/issues/31

[2015-06-10 19:25] brianjgeiger opened #3043 "Additional filter functionality for SerializerMethodFields"
We might also consider a convention where serializer method fields implement a filter_fieldname for any arbitrary fieldname, which would be something that we could pass a value and an optional comparison operator and it would return true or false if it matched. That way the serializer can implement the logic for comparisons for custom fields.

If we do this, it would probably be wise to subclass S

[2015-06-10 19:28] brianjgeiger opened #3044 "Add user write views"
We should be able to update users from the API. Probably not create and no delete, but definitely update.

From https://github.com/brianjgeiger/osf.io/issues/73

[2015-06-10 19:29] brianjgeiger opened #3045 "Add node contributor management"
We should be able to add, remove, and update contributors to nodes.

From https://github.com/brianjgeiger/osf.io/issues/74

[2015-06-10 19:29] samanehsan commented on #2783
Closed by #2871

[2015-06-10 19:29] #2783 closed

[2015-06-10 19:29] samanehsan commented on #2687
Closed by #2866.

[2015-06-10 19:29] #2687 closed

[2015-06-10 19:29] samanehsan commented on #2537
Closed by #2964.

[2015-06-10 19:29] #2537 closed

[2015-06-10 19:30] samanehsan commented on #2460
Closed by #2787.

[2015-06-10 19:30] #2460 closed

[2015-06-10 19:30] samanehsan commented on #1518
Closed by #2945.

[2015-06-10 19:30] #1518 closed

[2015-06-10 19:32] brianjgeiger opened #3046 "Create registrations with API"
This one is a little different from other create views. We want to enforce a confirmation capability with registrations to ensure that people understand the consequences of creating a registration. So I think it should work something like:

POST /v2/nodes/{pk}/registrations/
{ "public": true }

will result in an error that will give a confirmation message intending to be displayed and a token (and

[2015-06-10 19:33] samanehsan commented on #2263
Closed by #2793.

[2015-06-10 19:33] #2263 closed

[2015-06-10 19:34] samanehsan commented on #1202
Marking this as "Hold" as per discussion in #3004

[2015-06-10 19:34] brianjgeiger opened #3047 "Collections Endpoints"
In the current system, while folders are nodes, folders have their own endpoints. Folders have a restricted feature set, so I think we should keep them their own endpoint. You should be able to create, delete, and update. The only real bit of information for a folder is the title and the parent. It will always need a parent that is another folder, even if the parent is the dashboard folder. The da

[2015-06-10 19:36] brianjgeiger opened #3048 "Node logs endpoints"
People should be able to get log info via the v2 API. No adding, all reading. This will allow more interesting use cases for the API. Also this will be necessary if we want to be able to use the v2 api for the project summary page.

From brianjgeiger#78

[2015-06-10 19:40] brianjgeiger opened #3049 "DRY waterbutler_url_for"
There's some sort of circular dependency between api.base.utils and `website.util, so Steve suggests, "Would it be possible to define the function in this module but then import it in website.util, so it can be imported from there as well?"

We also cannot import the Auth model into that class, which is inconvenient.

From brianjgeiger#80

[2015-06-10 19:41] samanehsan commented on #1094
Closing since this issue no longer happens on production.

[2015-06-10 19:41] #1094 closed

[2015-06-10 19:47] GaryKriebel commented on #3015
@icereval and I got closer to identifying what may be happening.... he will give it a closer look on his local system.

[2015-06-10 19:49] lbanner commented on #1202
:+1:

[2015-06-10 19:51] samanehsan commented on #2926
@caseyrollins is working on adding links to the original addon files.

[2015-06-10 19:55] nanchen47 commented on #2931
This pr has been merged and deployed on production.

[2015-06-10 19:55] #2931 closed

[2015-06-10 20:00] brianjgeiger opened #3053 "Make /users/me/ route"
User detail information is accessed by going to /users/{user_id}/. If a user is logged in, they should be able to access that information (and anything under) by going to users/me/.

Even better if there are other places in the API that can use a user ID (for example, nodes/{node_id}/contributors/{user_id}/, which I don't think is a thing yet, but will be one day), the same thing should work there

[2015-06-10 20:02] brianjgeiger opened #3054 "Generalize node expansion"
Nodes have a dictionary called "expanded" which is used by the project organizer to allow each user to define if that node is expanded or not from within the project organizer. This should be generalized, the API V1 views updated, and the API V2 routes created.

 - [ ] Generalize Expanded functionality
 - [ ] Update V1 views
 - [ ] Database migration
 - [ ] Create V2 functionality
 - [ ] Ensure ro

[2015-06-10 20:03] brianjgeiger opened #3055 "Change name of obscure path items"
{pk} is not an ideal path item from a documentation standpoint. Let's change all of those to more useful forms, like {node_id} and such. You can find these in the swagger docs easily.

From brianjgeiger#96

[2015-06-10 20:04] brianjgeiger opened #3056 "Make helper functions to facilitate cross-domain AJAX requests"
To avoid redundant code, update and modify osfhelpers.js with helper functions for cross-domain requests. These will mainly be used within the OSF, eg for devs to query the API (or other services) when running locally.

Split from brianjgeiger#90 so that separate tasks get separate issues.

From brianjgeiger#97

[2015-06-10 20:07] brianjgeiger opened #3057 "Nodes created by the API are not showing in Project Organizer smart folder"
Steps
-------
1. Create some nodes via POSTing to /v2/nodes/
2. Go to project organizer/All My Projects smart folder

Expected
-------------
Nodes created will show up in the smart folder

Actual
--------
Not all nodes are showing up. This is especially true for test folders created by runscope. I don't know if there are other mitigating factors.

From brianjgeiger#100

[2015-06-10 20:08] brianjgeiger opened #3058 "Pointer delete occasional failure"
My external tests on Runscope have the pointer delete failing non-deterministically. When they do fail, they fail with a 500. We need to figure out what's happening there, fix it, and handle failures properly.

From brianjgeiger#101

[2015-06-10 20:09] brianjgeiger opened #3059 "Pointer creation failure"
Via @geeksnglitter:

When you try to create a new pointer, if you pass an incorrect node_id, the api will give a 500 response instead of the expected 404, 405.

These errors only occur when you have access to the first pk you enter. If you do not have access, it knows to send a 403.
1.So, when you put in a real pk, but a fake node - it send a 500 only if you had access to the first pk.
2.If you tr

[2015-06-10 20:10] brianjgeiger opened #3060 "File uploads and new Waterbutler Features"
Via @alexschiller:

1. File upload via url currently requires adding file name to the middle of the url string (see image)
2. File self link lists access is via POST it is supposed to be PUT (see here: https://staging2.osf.io/api/v2/nodes/4s8q3/files/

![screen shot 2015-06-05 at 4 09 53 pm](https://cloud.githubusercontent.com/assets/1322421/8014318/ba44350a-0b9d-11e5-962f-349fb12a81f2.png)

Examp

[2015-06-10 20:11] brianjgeiger commented on #3060
Planning to write a wrapper.

[2015-06-10 20:12] brianjgeiger opened #3061 "Keep from having to override swagger_settings.info.description"
Django settings have to be in local.py in order to by at all dynamic. At the moment, this means that we have to have the entirety of the SWAGGER_SETTINGS in local.py, which causes us to have to copy the big description text into the local.py, which is terrible.

Instead, we should try setting swagger_settings to the configured version, then override with subsequent lines the additional behaviors.

[2015-06-10 20:14] brianjgeiger opened #3062 "Update all tests to use URLs relative to API_BASE"
All API unit tests currently point to URLs of the form `v2/<endpoint>`, which is a form of hard-coding and could break if the URL prefix in Django ever changes.

These URLs should be modified to add the prefix based on `osf.io/api/base/settings/defaults.py: API_BASE`.

This would affect anything that lives under `tests/api_tests`.

From brianjgeiger#109

[2015-06-10 20:46] jinluyuan opened #3064 "Uploading a file bigger than 128mb does not let the user "X" out of the stuck file"
### Steps
1. Go to [osf.io](http://www.osf.io) on Safari, Chrome, or Firefox.
2. Go to a project in which you have admin access.
3. In the Files viewer, click on OSF Storage.
4. Click the "Upload" button.
5. Upload a file that is bigger than 128 mb.
6. Try to press the "X" button next to the stalled loading bar.

### Expected behavior
I expected that I would be able to "X" out of the un-uploadable

[2015-06-10 20:53] nanchen47 commented on #3064
This is a duplicate issue as https://github.com/CenterForOpenScience/osf.io/issues/2822. Close this one. And continue discussion there.

[2015-06-10 20:53] #3064 closed

[2015-06-10 21:02] pattisdr commented on #3059
The two errors I am seeing:
1) Creating a fake pointer while logged in/contributor to first node: 500 error
2) Creating a pointer that already exists: 500 error

[2015-06-10 21:06] brianjgeiger commented on #3059
Both of those look pretty easy to fix, hopefully.

For the inconsistent ones reported above, it might be worth trying multiple requests in the same test to see if that changes anything. Another possibility is to use a webtest rather than a view test to see if that changes anything.

[2015-06-10 21:13] samanehsan commented on #2554
#2990 will make the wiki menu use treebeard

[2015-06-10 21:16] samanehsan commented on #2761
Closed by #2793

[2015-06-10 21:16] #2761 closed

[2015-06-10 21:19] samanehsan commented on #1681
Closing since #2606 has been merged.

[2015-06-10 21:19] #1681 closed

[2015-06-11 03:10] icereval commented on #2591
I can still reproduce this on the file view page, however the only difference is i can type `fab` and backspace to `f` and it will only show two items the file tree, as a workaround moving the scroll redraws the rest of the elements. It might be easier to demonstrate this in person.

@samanehsan @caneruguz

[2015-06-11 03:14] icereval commented on #3015
I've fixed a majority of the sides cases identified, however one remains where after editing the study2.csv in the editor and saving it becomes unable to render. I'll take a look at this in depth tomorrow, as I mentioned the other cases should be working, please verify, thanks.

[2015-06-11 13:28] jinluyuan commented on #2260
This occurs on the full site as well, if you put a long enough name.
![screen shot 2015-06-11 at 9 26 21 am](https://cloud.githubusercontent.com/assets/8591162/8108051/0e58ebb8-101c-11e5-8dda-aa08af226a6d.png)

[2015-06-11 13:42] lbanner commented on #2260
Reopening the issue: Fixed in Mobile but not in full site. @ticklemepierce ? Want to carry over that fix? Thanks.

[2015-06-11 14:37] #1504 closed

[2015-06-11 14:42] ticklemepierce commented on #2260
@jinluyuan @lbanner Should be fixed from https://github.com/CenterForOpenScience/osf.io/pull/2806

[2015-06-11 14:44] lbanner commented on #2260
Alright -- looks like #2806 forecast release w/0.39.0 today -- We'll test on Production post release, @jinluyuan

[2015-06-11 14:50] jinluyuan commented on #2260
@ticklemepierce Looks good

[2015-06-11 14:50] #2675 closed

[2015-06-11 14:52] Johnetordoff commented on #3025
I tried to replicate this issue and couldn't. Seems to work fine.

![screen shot 2015-06-11 at 10 49 14 am](https://cloud.githubusercontent.com/assets/9688518/8110008/e09f1402-1027-11e5-9df0-66e1730805e0.png)

[2015-06-11 14:55] jinluyuan commented on #2979
@billyhunt I also noticed that the only way to update my Gravatar is by clicking the default Gravatar on my public profile page. There is no actual place in Settings to change it. This might confuse some users, and some may not even know that they can change their avatar since it's not an option in Settings.

[2015-06-11 14:58] billyhunt commented on #2979
Very good idea.  I think it shows up if your email address is associated with your Gravatar image.  (like github, notice our snazzy images to the left ), but its not clear how to change it on our site, or that you can.

[2015-06-11 15:10] nicipfeiffer commented on #3025
@Johnetordoff what file type?  I consistently get the error with .txt and .jpg.

[2015-06-11 15:10] chennan47 commented on #3025
@Johnetordoff Just tried out on staging and production, this problem still exists. It just doesn't occur when you try it locally.

[2015-06-11 15:15] pattisdr commented on #3059
<b> Error verification </b>
These errors only occur when you have access to the first pk you enter. If you do not have access, it knows to send a 403. :white_check_mark: <b> Also getting 403 </b>
1.So, when you put in a real pk, but a fake node - it send a 500 only if you had access to the first pk. :white_check_mark: <b> Error verified. Also getting 500 </b>
2.If you try to connect a node to itse

[2015-06-11 15:23] #2487 closed

[2015-06-11 15:28] icereval commented on #3015
Issue has been resolved with changes made and released in mfr 0.2.0/1

[2015-06-11 15:28] #3015 closed

[2015-06-11 15:28] icereval commented on #3037
@chrisseto thoughts?

[2015-06-11 15:29] GaryKriebel commented on #3015
Thanks @icereval

[2015-06-11 15:35] sloria opened #3069 "Go/nogo for release 0.39.0"
This release includes many bugfix/UI PRs here: https://github.com/CenterForOpenScience/osf.io/pulls?page=1&q=is%3Apr+is%3Aclosed+milestone%3A0.39.0 .

trello: https://trello.com/b/LwH9f4Ox/0-39

Downtime is expected to be minimal.

Target is to deploy at 4PM today so that QA team can get a start on regression testing post-release.

@JeffSpies @lbanner @GaryKriebel @icereval @nicipfeiffer @caileyfi

[2015-06-11 15:36] sloria commented on #3069
I am a go once the remaining bug cards are addressed.

[2015-06-11 15:41] lbanner commented on #3069
I too will be a "GO" w/QA verification of PR bug cards resolved.

[2015-06-11 16:06] brianjgeiger opened #3072 "Implement includes"
It would be useful under some circumstances to be able to do requests that include information that is currently only available with extra requests. The query parameter is documented at <http://jsonapi.org/format/#fetching-includes>. We wouldn't want to have this on for everything by default. The most likely first use case will be for collections/ to make implementing the Project Organizer interfa

[2015-06-11 16:21] #3018 closed

[2015-06-11 17:25] #3017 closed

[2015-06-11 17:34] sloria commented on #2873
Migration to fix the problem is currently running. The 2 affected projects mentioned by @csoderberg have been migrated. @csoderberg Can you verify?

[2015-06-11 17:35] brianjgeiger opened #3074 "Modify JSONAPI features to match 1.0 spec"
We are implementing a subset of the JSON API. We should ensure that what we are implementing matches the spec. For example, our links were based on the draft spec and so should match the new format. <http://jsonapi.org/format/#document-links> There may be other changes, which should be documented and fixed.

[2015-06-11 17:37] csoderberg commented on #2873
Looks like all the projects I mentioned now have logs. Thanks!

On Thu, Jun 11, 2015 at 1:34 PM, Steven Loria <notifications@github.com>
wrote:

--
Courtney Soderberg, Ph.D
Statistical and Methodological Consultant
Center for Open Science

[2015-06-11 17:50] WillBanner opened #3076 "[Production and Staging] [Chrome] [Safari] [Firefox] "How to use the file Browser" close button cut off"
# Steps:

1. Go to osf.io and log in.
2. Go to your dashboard.
3. Go to a project on which you are an administrator.
4. Under the "files" header in the upper right corner click on the "i" information button.

# Expected result:
The "How to use file browser" information page would pop-up overtop of the file browser and would be spaced to fit within the file browser.

# Actual Result:
The "How to us

[2015-06-11 17:51] jinluyuan commented on #3018
"Download as zip" appears even if there's only one file in the add-on. When I click it, the file downloaded is NOT a zip, but just the original file. Could we also get rid of the "Download as zip" option if there's only one file in the add-on?

[2015-06-11 17:55] sloria commented on #3018
I think we still want to allow downloading as zip even if there's only one file, but the button should actually download the file as a zip. That seems to be a separate bug. @jinluyuan Could you please open  a separate issue?

[2015-06-11 17:56] jinluyuan commented on #3018
Right, meant to say that as the other option. I'll open this as a separate issue. @sloria

[2015-06-11 18:00] jinluyuan opened #3077 ""Download as zip" does not actually produce a zip file if only one storage file is present"
### Steps
1. Go to [osf.io](http://www.osf.io).
2. Go to a project that has only one file in OSF storage (or another storage add-on).
3. Click the "OSF Storage" line.
4. Click the "Download as zip" button from the menu bar.
5. Check your downloads folder.

### Expected behavior
I expected that the "Download as zip" button would produce a .zip of the contents of OSF Storage (in this case, one file)

[2015-06-11 18:06] jinluyuan opened #3078 "Downloaded zip folders of storage add-ons should have more specific names"
### Steps
1. Go to [osf.io](http://www.osf.io).
2. Go to a project that has files in OSF Storage and another add-on.
3. Click the "OSF Storage" lines in the Files viewer.
4. Click "Download as zip".
5. Click another storage add-on.
6. Click "Download as zip".
7. View your Downloads folder.

### Expected behavior
I expected that the downloaded folders would have more specific names, such as "OSF_St

[2015-06-11 18:10] chennan47 commented on #3077
I like the current behavior. Even if you unzip the zip file, it's only one file in it. @lbanner @GaryKriebel thoughts?

[2015-06-11 18:13] chennan47 commented on #3076
You can always scroll down to get the close button, if the language
description is longer. It serves its functional purpose to make the user
read through. Well, even you don't want to, there is a cross sign on right
top. @lbanner <https://github.com/lbanner> @GaryKriebel
<https://github.com/GaryKriebel>thoughts?

On Thu, Jun 11, 2015 at 1:50 PM, WillBanner <notifications@github.com>
wrote:

[2015-06-11 18:18] jinluyuan commented on #3077
It would help with organization to download as a zip. For example, a user might want to save the contents of multiple storage add-ons onto his computer. If the user downloads as zip from OSF Storage, Box, and Dropbox all at once, he would expect that there would be three different folders in his Downloads, and this would help him remember which files were in which storage add-ons. However, in this

[2015-06-11 18:18] jinluyuan opened #3080 "Downloaded zip folders have incorrect timestamp for individual files"
### Steps
1. Go to [osf.io](http://www.osf.io).
2. Go to a project that has files in a storage add-on.
3. Click the line of the storage add-on in the Files viewer.
4. Click "Download as zip".
5. View your Downloads.

### Expected behavior
I expected the timestamp of the individual files to match the parent folder.

### Actual behavior
The individual files are all in UTC time whereas the folder has

[2015-06-11 18:18] sloria commented on #2873
Excellent. Let me know if you see any further log-related problems.

[2015-06-11 18:18] #2873 closed

[2015-06-11 18:30] GaryKriebel commented on #3077
My only thought for the proposed change is if it is a rather large file, but on the face of it, I'm not opposed to keeping it the way it is.

[2015-06-11 18:47] lbanner commented on #3076
The functionality is not ideal from a user perspective. Would this be a @caneruguz fix @chennan47 ? Difficult?

[2015-06-11 18:52] chennan47 commented on #3076
@lbanner This is not a hard task. But since the person fix this should check all other similar modal under different browser under different scale to ensure it doesn't happen elsewhere in the osf. It can be an intern task.

[2015-06-11 19:08] geeksnglitter commented on #2999
Has this been fixed? PDFs rendering fine on my local.

[2015-06-11 19:10] brianjgeiger commented on #2999
It's not fixed on Production.

[2015-06-11 19:10] csoderberg commented on #2999
Nope. Still not working on Safari or Firefox on production.

[2015-06-11 19:21] lbanner commented on #2999
No PR / fix yet, can you take this @geeksnglitter ?

[2015-06-11 19:38] icereval commented on #3069
go

[2015-06-11 19:47] GaryKriebel commented on #3069
I'm a GO if QA is a go

[2015-06-11 19:47] lbanner commented on #3076
:ok_hand:

[2015-06-11 19:50] caileyfitz commented on #3069
I'm a go :rocket: pending the fixes that @sloria, @nicipfeiffer and I discussed (https://trello.com/c/aOuRYKHi/47-collection-has-incorrect-icon-on-project-organizer)

[2015-06-11 19:52] lbanner commented on #3077
@jinluyuan You make a good point, but I think general use case for 'download as zip' will be w/multiple files. So for consistency sake re: options for files. I'm in favor of keeping functionality as is. Based on @GaryKriebel and @nanchen47 discussion, I'll close for now, but let's be aware if user feedback comes in. Thanks.

[2015-06-11 19:52] #3077 closed

[2015-06-11 20:00] sloria commented on #3069
@caileyfitz That is now fixed

[2015-06-11 20:06] nicipfeiffer commented on #3069
I am a GO!

[2015-06-11 20:09] icereval commented on #3069
I spoke with Jeff and he is for a go.

[2015-06-11 20:23] Johnetordoff commented on #3013
This error seems to only occur when there are nested components.

[2015-06-11 20:31] csoderberg opened #3086 "[osf] project search seems to only search through expanded collections"
Steps to reproduce:
* Go to your project dashboard
* With 'all my projects' collapsed, search for a project title that you have.

Expected behavior:
* The search should find the project you are looking for

Actual behavior:
* Nothing comes up. The search will only return a project if the 'all my projects' tab is expanded. So, it seems to just be searching through whatever is currently visible on t

[2015-06-11 20:31] lyndsysimon opened #3087 "Migration script needed for User.email_verifications"
In production, there are about 1,400 `User` objects returned from the following query: `User.find(Q('email_verifications', 'eq', None)).count()`

While `User.email_verifications` has a default value now of an empty dict, this was not always the case. We need a script written that uses the above query, loads each `User`, sets the `email_verifications` field to `{}`, then saves the `User`.

[2015-06-11 20:31] sloria commented on #3069
Released.

[2015-06-11 20:31] #3069 closed

[2015-06-11 20:32] brianjgeiger commented on #3086
Duplicate of https://github.com/CenterForOpenScience/osf.io/issues/2779 (though you wouldn't know it without reading through the discussion)

[2015-06-11 20:33] brianjgeiger commented on #3086
Alllthough, it looks like they may be focusing on files tab for the fix, so maybe we'll keep this open.

[2015-06-11 20:36] csoderberg commented on #3086
Yeah, I saw that and wasn't sure if this was different enough to get it's
own issue or not? But it seemed to be talking about different parts of th
system, so I just made one and hoped for the best.

On Thu, Jun 11, 2015 at 4:33 PM, Brian J. Geiger <notifications@github.com>
wrote:

--
Courtney Soderberg, Ph.D
Statistical and Methodological Consultant
Center for Open Science

[2015-06-11 20:45] saradbowman opened #3088 "[production] User not receiving confirmation email"
Reported on help desk:
1. User creates new account.
2. User does not receive email to confirm account.
3. User checks spam folder, does not find email.
4. User adds OSF email to  "trusted senders" list and asks to resend confirmation email.
5. User does not receive confirmation email.

@sloria checks sendgrid; no bounces associated with that email and reports there is a bug. I am sure he will add

[2015-06-11 21:04] WillBanner opened #3090 "[Production and Staging] Typo in "Getting Started" Forks Explanation"
_From @WillBanner on June 11, 2015 20:53_

Go to osf.io and log in
Click on the "help" dropdown menu at the top of the screen and select "Getting started"
Go to the "structure" heading on the left hand side of the screen and click on the subheading "forks"
At the end of the second line in the fourth paragraph the sentence does not make sense (below).

"If you were originally linking to someone els

[2015-06-11 21:04] WillBanner commented on #3090
_From @erinspace on June 11, 2015 20:57_

Hi @WillBanner! I think maybe this issue belongs over on https://github.com/CenterForOpenScience/osf.io/issues, as it's for the OSF (and not for the http://cos.io website).

[2015-06-12 02:53] bnosek opened #3092 "Remove "beta" from Open Science Framework on header of osf.io"

[2015-06-12 03:26] sloria commented on #3092
This has already been done.

[2015-06-12 03:26] #3092 closed

[2015-06-12 13:12] bnosek opened #3094 "[staging] [registrations] extend max embargo period from 1 year to 4 years"
@HarryRybacki

[2015-06-12 13:26] geeksnglitter commented on #2999
I believe Steve said @icereval was working on it?

[2015-06-12 13:28] lbanner commented on #2999
OK @geeksnglitter ..... @icereval What do you need to assist in knocking this one out? Thanks.

[2015-06-12 13:47] HarryRybacki commented on #3094
@lbanner please assign me. @sloria do you want this PR to go against the 40 release branch?

[2015-06-12 13:49] sloria commented on #3094
@HarryRybacki Yes please.

[2015-06-12 13:59] GaryKriebel commented on #2999
Jeff's presentation was recently tweeted and posted on Facebook and is having the render problem on Firefox.
https://osf.io/3sxgr/?utm_content=buffer18385&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer

[2015-06-12 14:05] lbanner commented on #2999
No good [It's good in Chrome] ..... :red_circle: Priority up on this one -- Who can help?

[2015-06-12 14:28] saradbowman opened #3096 "Mendeley Subfolders appear but do not display content"
Steps
-------
1. Login to Mendeley
2. Create a folder, "Folder A" and put documents in it
3. Create a subfolder, "subfolder" inside "folder A", and put documents in "subfolder"
4. Login to the OSF, connect "Folder A" to a project
5. Go to the project overview page
6. See Mendeley widget, with Folder A's contents and the subfolder "subfolder" with a + to expand it
7. Click "+" to expand
![screen sh

[2015-06-12 14:33] GaryKriebel commented on #3096
@lyndsysimon, @caneruguz - is this a front or back end issue?

[2015-06-12 14:43] brianjgeiger opened #3097 "Easier token process for non-web applications"
Current and immediate-term plans for authentication for the API require a web browser to authenticate a token. Many of our expected uses will not involve a web browser. We need a streamlined way to get people into authenticated APIs that give them appropriate project permissions. This task will require a short proposal and will involve UI as well as possible CAS interaction.

[2015-06-12 15:22] samanehsan commented on #1522
It looks like it's a google chrome issue, not an OSF issue.

From http://stackoverflow.com/questions/25814914/chrome-youtube-cast-sender-js-console-error:

[2015-06-12 15:27] sloria commented on #2999
Fixed by @icereval

[2015-06-12 15:27] #2999 closed

[2015-06-12 15:30] #3094 closed

[2015-06-12 15:34] GaryKriebel commented on #2999
Jeff's presentation is now correctly rendering on Firefox as well.

Thanks @icereval

[2015-06-12 15:36] lbanner commented on #1522
OK @samanehsan ... good find ... I'm going to Close. But we'll have for reference if needed. Thanks.

[2015-06-12 15:36] #1522 closed

[2015-06-12 15:36] abought commented on #3049
Initial diagnosis (while working on a fix):

`website.util` imports `rubeus`

`rubeus` imports `framework.auth.core` (...well, indirectly)

The `User` class (in `auth.core`) depends on `from api.base.utils import absolute_reverse`

The key is this line:
https://github.com/CenterForOpenScience/osf.io/blob/develop/website/util/__init__.py#L15

And in particular the associated comment... apparently,

[2015-06-12 15:42] saradbowman commented on #2610
This issue is fixed now, but user reports that there are unrecognized characters in one of the folder names. Folder name: 2015 РФФИ а Маркеры ошибок

Displays as:

![screen shot 2015-06-11 at 8 39 31 am](https://cloud.githubusercontent.com/assets/7749914/8133720/fbd2abaa-10f7-11e5-9dfa-2657687adca7.png)

[2015-06-12 15:49] samanehsan commented on #1522
I should add that the 404 error when trying to get the youtube video is a separate issue, but it doesn't prevent the videos from playing. Not sure if this one is us or the embedded youtube player.

[2015-06-12 15:53] brianjgeiger commented on #3049
Rubeus in all will be removed eventually, but not soon enough. Moving the import into the function seems like a good way to go. @sloria ?

[2015-06-12 16:03] sloria commented on #3049
Yeah, In the absence of a better, quick solution, just do the import in the function.

[2015-06-12 16:05] abought commented on #3049
With option 2, all unit tests pass. Sample implementation in #3101. I'll go ahead and start building on that.

Option 1 (removing rubeus entirely) is probably the ideal long-term, but it would involve checking a lot more files that reference rubeus.

[2015-06-12 16:15] nicipfeiffer opened #3104 "[Production & Staging] IE: folder '+/-' expand/collapse icons Spin"
## Steps
1. Login to osf.io on the Internet Explorer browser
2. Go to the Project Dashboard
3. Click on the '+/-' to expand/collapse collections (folders)
4. Notice the behavior
5. Click on a project to go to the project overview page
6. In the files widget, Click on the '+/-' to expand/collapse folders
7. Notice the behavior

## Expected
The '+/-' preceding collections and folders would not spin,

[2015-06-12 16:26] lbanner commented on #3104
Interesting! .... @caneruguz ?

[2015-06-12 16:36] samanehsan commented on #3025
@chennan47 any idea why that's the case? What would be the best way to debug if it doesn't happen locally?

[2015-06-12 16:47] chennan47 commented on #3025
@samanehsan I don't have a clue yet. Maybe @chrisseto @icereval will have some thoughts?

[2015-06-12 17:15] GaryKriebel commented on #3096
Fixed with https://github.com/CenterForOpenScience/osf.io/pull/3103

[2015-06-12 17:15] #3096 closed

[2015-06-12 17:18] caneruguz commented on #3104
Is this only for IE?

That button should never be rotating but be replaced with a refresh icon that does rotate.

if this is happenign for all browsers then someone broke this switch to refresh icon, otherwise IE might not be catching it, but this was tested in IE previously and was workin.

[2015-06-12 17:24] samanehsan commented on #2532
Ping @icereval

[2015-06-12 17:25] lbanner commented on #3104
Think'n just IE ... @nicipfeiffer ?

[2015-06-12 18:37] WillBanner opened #3110 "[Staging and Production] [Firefox] Mendeley Citation Copy Button Does not Display "Copy Citation""
# Steps
1. Go to osf.io and log in.
2. Go to your Dashboard.
3. Go to a Project of which you are an admin and which has the mendeley add-on.
4. Make sure you have files in mendeley which are attached to the project.
5. Scroll down to Mendeley on the project overview page.
6. Hover mouse over the icon to the right of a citation.

# Expected
The label "Copy Citation" would appear underneath the icon

[2015-06-12 18:48] jamiehand commented on #3062
Just wanted to note for future/others' reference that I used API_PREFIX (which is based on API_BASE) instead of API_BASE itself.

[2015-06-12 19:02] nicipfeiffer commented on #3104
@lbanner @caneruguz Yes, I checked the other browsers and it is only happening for IE.

[2015-06-12 19:08] pattisdr commented on #3058
<h3> Current Runscope test: </h3>

1) Creates first node :white_check_mark: <b> Passing </b>
2) Creates second node :white_check_mark: <b> Passing </b>
3) Creates pointer from first node to second node :white_check_mark: <b> Passing </b>
4) Deletes pointer :x: <b> Inconsistent 500 error </b>

I'm getting the same thing.

[2015-06-12 19:10] brianjgeiger commented on #3058
I occasionally cannot create the pointer either, but it's much more likely to fail on the deleting the pointer. That being said, focus for now on trying to find out why deleting doesn't work sometimes. I will be very curious to see how this turns out.

[2015-06-12 19:12] samanehsan commented on #2976
@lyndsysimon, would creating a branch when a user tries to upload to an uninitialized repo go into waterbutler?

[2015-06-12 19:20] pattisdr commented on #3058
Yes, I was having problems creating a pointer when the test was only 3) create pointer and 4) delete pointer.   If the pointer didn't delete, I'd manually delete it and try again, and create still wouldn't work.  You're right that there seems to be a problem there too.

But to focus on just the delete portion, I'm creating fresh nodes every time which keeps the create pointer from failing. It's ve

[2015-06-12 19:21] brianjgeiger commented on #3058
Yeah. It really shouldn't be weird. It could be a timing issue. It could be something to do with some kind of caching (which we shouldn't be doing, but maybe). It could be something to do with our storage. ¯\_(ツ)_/¯

[2015-06-12 19:26] brianjgeiger commented on #3058
In case it's useful, here is the last 10 test results from Runscope. You can see if there are any patterns based on that.

![screen shot 2015-06-12 at 3 25 13 pm](https://cloud.githubusercontent.com/assets/6599111/8138278/6104daba-1117-11e5-8c37-a4c1de3dc100.png)
![screen shot 2015-06-12 at 3 25 04 pm](https://cloud.githubusercontent.com/assets/6599111/8138284/611a5fd4-1117-11e5-8e23-d726b07bd66d.

[2015-06-12 19:27] WillBanner commented on #3110
It seems its only my computer that has this issue, must be a problem on my end.

[2015-06-12 19:28] #3110 closed

[2015-06-12 19:43] samanehsan commented on #2976
I have a fix for this issue, but it does not address a similar issue where a user tries to upload a file to an empty repository created through github. Since it's not a common case, perhaps we can create a separate issue for it and mark it as either deferred or low-priority? @lbanner @GaryKriebel

[2015-06-12 20:00] GaryKriebel commented on #2976
I am good with that path, @samanehsan

[2015-06-12 20:13] #3087 closed

[2015-06-12 20:35] icereval commented on #2532
I've disabled all SEO spam users found in search and most of the users listed in the issue with a few exceptions which could be real users or organizations.

https://osf.io/i97kl/
https://osf.io/bev4i/
https://osf.io/9rpyk/

Our current spam system did mark most of the user's as spam however this only prevents the project from being made public by default via the conference service, not the user s

[2015-06-12 20:35] #2532 closed

[2015-06-12 20:49] #2976 closed

[2015-06-12 20:59] samanehsan opened #3122 "GitHub: Cannot upload files to empty github repo"
Related to #2976

Steps
--------
1. Create a new repository on github
2. Configure the github addon for a project and select the new repository
3. Go to the project's files tab
4. Click on the github addon folder and look at the branch select menu
4. Upload a file to the linked github repo

Expected
-------------
The branch select menu is set to "master" and I can upload files to the repository.

[2015-06-12 21:04] pattisdr commented on #3057
One thing that is interesting is every time you create a node through Runscope, it affects which nodes are visible in the project organize. They're not always the same.  A node may be visible at one instance, then you create another node through Runscope, and now the first isn't visible. (I've also observed this with creating pointers).

In the example below, I created 26 nodes consecutively throu

[2015-06-12 21:24] samanehsan commented on #2369
This is fixed for github on the files page and the project overview page. The branch select box is now in the toolbar:
![screen shot 2015-06-12 at 5 22 17 pm](https://cloud.githubusercontent.com/assets/6414394/8140243/bb17fa2c-1127-11e5-895e-05c59ea3fe7e.png)

It's still not fixed on the file detail page, where this issue is much more likely to happen. Or for the dataverse addon.

[2015-06-15 01:23] mr-c commented on #2909
For Ubuntu Linux users you can deduce the steps necessary from https://github.com/CenterForOpenScience/cos-ansible-base/blob/master/roles/tokumx/tasks/main.yml

[2015-06-15 13:18] saradbowman opened #3124 "[Production] [Bug] "Create Project from Template" not copying structure"
Steps
-------
1. Create a new project, using Project TIER: Protocol 2.0 DEMO (https://osf.io/he87a/) as the template

Expected
------------
The new project will have 2 components: "Original Data and Supporting Information" and "Processing and Analysis." "Original Data and Supporting information" will have 2 components nested in it: "Original Data" and "Supporting Information." "Supporting informat

[2015-06-15 13:29] brianjgeiger commented on #3053
Take a look at https://github.com/CenterForOpenScience/osf.io/pull/3051 for how to do this. It is using /collections/dashboard as a shorthand for the dashboard node. I believe most of that happens in the views.

[2015-06-15 13:32] csoderberg opened #3126 "[osf] rendered CSV and text in edit window don't match"
Steps:
* Go to a project and open a .csv file (https://osf.io/zvj9w/)
* Click on the 'edit' button

Expected Behavior:
You would expect that, when the editing window first appears, what is in the editing window should match the rendered .csv content

Actual behavior:
For some .csv files, though not all of them, the content in the editor and in the rendered image are not the same (see examples belo

[2015-06-15 13:57] haoyuchen1992 opened #3127 "[Production & Staging] Comments on discussion board can't be deleted and restored"
### Steps
1. go to the project page
2. click the discussion board on the up-right corner.
![screen shot 2015-06-15 at 9 50 37 am](https://cloud.githubusercontent.com/assets/5420789/8161322/2eeccbe4-1344-11e5-8545-9640caa65f4f.png)
3. Add a comment and then delete it

### Expected
The comments disappear and don't left anything

### Actual
A restore option is still there. What's more, after you clic

[2015-06-15 14:02] brandonPurvis commented on #1228
If this is still needed I can do it.

[2015-06-15 14:02] nanchen47 commented on #3127
This should be fixed by https://github.com/CenterForOpenScience/osf.io/pull/2534. Close for now.

[2015-06-15 14:02] #3127 closed

[2015-06-15 14:12] haoyuchen1992 commented on #3127
Oh, I don't notice that! Next time I should search the existing issues before I make one！ Thanks, Nan!

[2015-06-15 14:33] gkr6sy commented on #2947
@revanthkolli I have been able to reproduce this. It only occurs on pages long enough for a side bar. What I think is happening is the introduction of the modal removes said side bar and causes the header to readjust its size according to the (slightly) larger page size.

[2015-06-15 14:36] PatrickEGorman commented on #3045
Could I take a look at this?

[2015-06-15 14:38] brianjgeiger commented on #3045
Go for it.

[2015-06-15 15:41] abought commented on #3056
Currently being implemented as part of #3082, as `ajaxJSON` in `osfHelpers.js`. PR could be split out if needed sooner.

[2015-06-15 15:50] fabianvf commented on #1228
That would be awesome

[2015-06-15 16:16] chrisseto commented on #3025
Fixed as of https://github.com/CenterForOpenScience/waterbutler/releases/tag/0.6.1

[2015-06-15 16:21] #2640 closed

[2015-06-15 16:41] lbanner commented on #3025
Merged?

[2015-06-15 16:48] barbour-em commented on #3053
For the sake of reference being available here instead of the PR, all this would involve is creating a url for `/users/me` then in the `get_user` method in the view adding something like:

[code]

assuming `find_profile` is a helper function returning the same page `/users/{user_id}/` would

[2015-06-15 17:17] nanchen47 commented on #3025
The code has been deployed and I tested on production that this is no longer a problem.

[2015-06-15 17:17] #3025 closed

[2015-06-15 17:30] brianjgeiger commented on #3053
Would you even need the URL, or would /users/{user_id} take care of that?

[2015-06-15 17:54] reinaH commented on #3053
i will take this issue.

[2015-06-15 18:09] lyndsysimon commented on #3010
I would not expect those edits to persist. Rather, I would expect a warning upon navigating away from the page: "Unsaved changes exist [...]".

[2015-06-15 18:13] lyndsysimon commented on #2968
I've also been unable to reproduce this. If you can make it happen again, please attach a screenshot of the Javascript error console. The only thing I can think of is that there are requests that are/were failing to load before timing out.

[2015-06-15 18:40] lyndsysimon commented on #2659
This update will require deploying a new production Piwik instance - I've remove it from our issues sprint milestone because it's a bit too large in scope.

[2015-06-15 18:41] jinluyuan opened #3136 "[Production] Buttons in "Delete" modal in dashboard & file viewer do not conform to OSF style"
### Steps
1. Go to [osf.io](http://www.osf.io).
2. Go to your dashboard.
3. Create a new collection.
4. Click the collection to highlight it.
5. Click the "Delete" button in the menu bar.
6. View the modal that pops up.
7. Go to a project with files in any storage add-on.
8. Click one of the files to highlight it.
9. Click the "Delete" button in the menu bar.
10. View the modal that pops up.

###

[2015-06-15 18:45] lbanner commented on #2968
I'm going to label "Defer" for now -- if only because I know it is intermittent / hared to intentionally replicate -- If issue arises, we'll capture as much error data as possible. Thanks.

[2015-06-15 18:47] #3090 closed

[2015-06-15 18:48] lbanner commented on #3010
That's one approach -- But I believe unsaved edits persist in Wiki? @brianjgeiger? If so -- ought this follow the same?

[2015-06-15 18:51] lbanner commented on #3053
Alright @reinaH -- give it a shot!

[2015-06-15 19:01] brianjgeiger commented on #3010
Any of the collaborative editing contexts should work the same. Unsaved edits should persist. If it's just live editing and not collaborative, then not necessarily.

.:Brian J. Geiger
Sent from the phone.

[2015-06-15 19:01] barbour-em commented on #3053
@brianjgeiger You may be right, I haven't tested it without the url but it's likely that the view method would handle this no problem. I guess @reinaH will find out!

[2015-06-15 19:20] csoderberg opened #3138 "[Production] empty folders/OSF storage appear like they can be expanded"
Steps:
* Go to a project that has organizational components (https://osf.io/bfp8g/)

Expected behavior:
On the file tree, '+' next to things like folders and OSF storage should indicate that there is content in these sections that you cannot currently see, and if you click the plus these sections will expand to reveal hidden content. So, in the picture below, you would expect that the 'OSF Storage

[2015-06-15 19:29] brianjgeiger commented on #3138
Agreed in general. There are some technical reasons why this doesn't happen right now, mostly having to do with all of the information that is needed for that is located all over the internet. Essentially, the cause and the solution will be the same as for #2779 with the addition that items with the addition of a little front-end code that should be in there already but looks like it isn't.

[2015-06-15 19:42] chrisseto commented on #3010
On production, staging and locally, all my unsaved changes persist across page reloads

[2015-06-15 19:48] chrisseto commented on #3037
Confirmed with @csoderberg this is only an issue in safari.

[2015-06-15 19:50] chrisseto commented on #3037
See:
https://support.apple.com/kb/TA24293?locale=en_US
https://discussions.apple.com/thread/3955970
For more detail.

[2015-06-15 19:50] caileyfitz opened #3141 "Public components not appearing on profile page"
# Steps
1. Log into production
2. If you do not already have one, make a component of a private project public
3. Go to your profile page by clicking on your name in the top-right corner

# Expected
The public component of the private project would appear under the **Public Components** heading on the profile page.

# Actual
No components are displayed beneath the **Public Components** heading on

[2015-06-15 19:53] lbanner commented on #3037
Ah -- and looks not to be our issue, correct? So suggest we close? But be aware? Other thoughts?

[2015-06-15 19:53] brianjgeiger commented on #3037
But from a developer's standpoint, I'm pretty sure that means that we are sending the wrong MIME type.

[2015-06-15 19:54] chrisseto commented on #3037
We're sending the correct mime, a md file is a text file.
Safari should not be renaming those files regardless.

[2015-06-15 19:54] brianjgeiger commented on #3037
For example, https://www.drupal.org/node/803802

[2015-06-15 19:57] brianjgeiger commented on #3037
https://github.com/CenterForOpenScience/osf.io/issues/382 may also give some insight.

[2015-06-15 20:02] chrisseto commented on #3014
Are sps files binary files?

[2015-06-15 20:06] chrisseto commented on #3037
For the moment we are trusting whatever mime type the file storage service returns to us.
We could set mimetypes based off of file extension?

[2015-06-15 20:06] brianjgeiger commented on #3046
*I'm still working on this, but I wanted to save it so it doesn't go away*

Okay, based on our meeting, we'll want to do the following. There's a lot we'll have to change, so I'm mostly going to describe routes and how they should work now, and then we'll go through and take out a bunch of the stuff that we have to do to make up for not having the model there when Sam has the model ready.

 - [ ]

[2015-06-15 20:09] brianjgeiger commented on #3037
Yeah, I mean, plusses and minuses on that. I think we shouldn't do it for all files, but I think we should for markdown?

[2015-06-15 20:10] chrisseto commented on #3037
What's the reasoning behind that?

[2015-06-15 20:11] brianjgeiger opened #3143 "Create DELETE /nodes/{node_id}/"
We'll need this for registration drafts, but it's also something we'll want for being able to use the routes. This should be a two-stage, confirmed process like the node registration POST was. Send a DELETE, get a warning message, and DELETE again to the tokened route. Use the user_id of the requesting user and the node_id to create the token.

[2015-06-15 21:25] reinaH opened #3145 "Invoke setup no currently working"
when running invoke setup, i get these errors:

WARNING in ./~/knockout/build/output/knockout-latest.debug.js
Critical dependencies:
22:24-31 require function is used in a way, in which dependencies cannot be statically extracted
 @ ./~/knockout/build/output/knockout-latest.debug.js 22:24-31

WARNING in ./~/knockout/build/output/knockout-latest.js
Critical dependencies:
7:222-229 require function

[2015-06-15 21:26] chrisseto commented on #3037
Fixed as of https://github.com/CenterForOpenScience/waterbutler/releases/tag/0.6.2
Deployed in production but not staging

[2015-06-15 21:27] lyndsysimon commented on #946
My PR above never got merged; Andy is now working on this.

[2015-06-15 21:30] abought commented on #946
New tracking issue: #2933

[2015-06-15 21:34] raklein commented on #3014
No it's a script file for the stats program SPSS. Can open these files in a
text editor but see below for an example:

"GET

FILE='C:\Users\Vianello\Documents\Dropbox\Manylabs\Results\effectsizes.graphdata1.sav'.
DATASET NAME esdata.

DATASET ACTIVATE esdata.

***add overall variables***

 * compute Overalld=0.
 * if Study='allowedforbiddend' Overalld=1.96.
 * if Study='Anchoring1d' Overalld=1.17.

[2015-06-15 21:38] #2747 closed

[2015-06-15 21:39] #3145 closed

[2015-06-15 22:07] chrisseto commented on #3026
:+1: to @brianjgeiger
Think of this like google's auth servers. when you log into gmail, youtube, etc. the auth server still says google.

[2015-06-15 22:10] chrisseto commented on #2838
@wisherp This issue should have been fixed around 0.39

[2015-06-16 00:59] lbanner commented on #946
Got it -- Thanks.

[2015-06-16 02:37] lbanner commented on #3141
I did replicate this --

[2015-06-16 02:41] lbanner commented on #3138
@brianjgeiger and @csoderberg : This is also referenced in #2536 ... We put that on 'Hold' as it was noted by BrianG that API V2 would overcome -- Assume this is true here as well? TY

[2015-06-16 02:43] lbanner commented on #3136
@caneruguz --- This potential handled with your UI updates to align with Style Guide? If not as yet, probably we add it in -- Yes? Thanks.

[2015-06-16 02:45] lbanner commented on #3126
Did this one get resolved with @icereval 's recent fix on render of .CSV files?

[2015-06-16 03:25] icereval commented on #3126
@csoderberg showed me this today, I'll have a look as soon as I get a chance.

[2015-06-16 12:50] chrisseto commented on #3037
@lbanner Could you confirm and close this issue?

[2015-06-16 12:51] chrisseto commented on #3019
My first guess is Treebeard/Fangorn, @caneruguz?

[2015-06-16 12:54] chrisseto commented on #2518
Can anyone confirm this is fixed?

[2015-06-16 12:55] lbanner commented on #2518
@caileyfitz can you do a double check here? Thanks

[2015-06-16 13:16] brianjgeiger commented on #3046
What we'll do is start by making the /registrations/ views and serializers subclasses of /nodes/ views and serializers, then we'll restrict functionality. The first restriction will be for registration listing so that it only shows nodes that are registrations. Once we're sure that works the way we want it to (and it should), further work should be easy.

[2015-06-16 13:17] lyndsysimon commented on #3026
Another :+1: for leaving it as "COS". Perhaps a clarification to something like "COS Tools" or "The COS Suite" - but not yet. That can and should wait until we get it more consolidated in terms of branding.

[2015-06-16 13:26] #3037 closed

[2015-06-16 13:34] GageGaskins commented on #2947
So this was a known issue with Bootstrap that has supposedly been fixed. Production might be behind on Bootstrap versions that include the fix.

[2015-06-16 13:42] caneruguz commented on #2947
If I'm not mistaken this is the exact replication of this issue: https://github.com/CenterForOpenScience/osf.io/issues/1663

It looks like it can be addressed now from what @GageGaskins  is saying but in the future please search through issues before starting a new one.

[2015-06-16 13:44] caileyfitz commented on #2518
@lbanner @chrisseto Yes, this is fixed!

[2015-06-16 13:47] abought opened #3149 "[bug][production] Front-end URL validation not working as expected"
## Summary
The logic used to validate URLs on the front-end does not seem to fire correctly. If an invalid URL is entered, the server sends a response "400/ BAD REQUEST", but this result is not displayed to the user. The field is not updated.

## Steps to reproduce
1. Go to https://osf.io/settings/
2. Click the "Social" tab
3. In the "Personal Site" box, type: `http://notaurl`
4. Click "submit"
5.

[2015-06-16 14:11] #2518 closed

[2015-06-16 14:14] GageGaskins commented on #2947
Bootstrap has a fix for this going into their 3.3.5 release, so we don't need to do anything for this until then.

[2015-06-16 14:16] haoyuchen1992 commented on #1684
#### I tried to replicated the bug. However, I didn't see the external link panel on the dashboard after I registered the project.

During the registering process, I selected  "open-ended registration". Since this issue was reported several month ago, is there any change happens here? Why external link panel disappear in dashboard (See picture below) of registered project?

![screen shot 2015-06-1

[2015-06-16 14:17] lyndsysimon commented on #3149
I disagree.

First of all, `http://notaurl` *is* a valid URL, per [RFC 3986](http://tools.ietf.org/html/rfc3986). It refers to the TLD (Top-Level Domain) `noraurl`, which of course isn't in existence - but it's still valid :)

Unless the proposal is to actually retrieve the URL, there's really no way to do this with any accuracy. I say leave it be ;)

[2015-06-16 14:19] Ghalko opened #3152 "[Production][Staging]File Revision Table gets cutoff when resizing"
## Steps
1. Open a file page where you can see the revisions table
2. Resize to a smaller screen

## Expected
The revisions table would resize appropriately.

## Actual
![screen shot 2015-06-11 at 11 19 42 am](https://cloud.githubusercontent.com/assets/5169088/8184875/e2e7b59e-140e-11e5-8b64-5f1ef5cb833a.png)
The table resizes for most wider widths, at 1100 or smaller the table starts going off th

[2015-06-16 14:19] lbanner commented on #2947
OK - "deferring" for now -- @caneruguz can you keep eye on this? Thanks.

[2015-06-16 14:22] raklein commented on #2351
So in trying to create the front page for the Many Lab we found it a little difficult to work with this hard height restriction. My preference as a user would be one of the solutions below:
(1) instead of "..." truncating the content, there could be a "[read more]" link that expanded the wiki to show the full content (directly on that page). Or, that could link them to the full wiki (this strikes

[2015-06-16 14:23] abought commented on #3149
If it's a valid URL, than the server shouldn't throw a 400 error without telling the user.

I'm ok with accepting the value, but not with using two inconsistent validators that result in data not being saved, and errors not being caught.

[2015-06-16 14:35] wisherp commented on #2838
@chrisseto still seeing this on production so not sure if it was fixed then, @GaryKriebel
![screen shot 2015-06-16 at 10 24 39 am](https://cloud.githubusercontent.com/assets/10926926/8185522/eb9e46cc-1412-11e5-9ebd-451a9c70b9a5.png)

[2015-06-16 14:35] abought commented on #3058
A 500 error does suggest something unexpected happening on our end. To aid in debugging, are there any relevant server logs associated with these events? If so, where would I go to access them?

[2015-06-16 14:37] caneruguz commented on #3136
Yes we will cover this in our sweep of the style related bugs. Can you assign me just to make sure it's in my radar?

[2015-06-16 14:38] chrisseto commented on #2838
@wisherp I'm not seeing this on the project the you previously linked to, could you add me to the new one?

[2015-06-16 14:39] caileyfitz commented on #1684
@haoyuchen1992 We no longer register external links, so this is now a non-issue.

[2015-06-16 14:39] caneruguz commented on #3019
This is very hard to tell what exactly is going on, I need to try to replicate this to understand but I don't know if this is strictly fangorn. I'll find out though.

@lbanner can you assign me?

[2015-06-16 14:39] wisherp commented on #2838
@chrisseto yes, here's the link: https://osf.io/5crta/

[2015-06-16 14:39] caneruguz commented on #2947
@lbanner can you add a UI tag to this? Thanks!

[2015-06-16 14:48] #2621 closed

[2015-06-16 15:02] chrisseto commented on #2838
@wisherp Could you link the root folder to "longerfoldername" I think the creatively named docx files might be the cause of this.

[2015-06-16 15:20] wisherp commented on #2838
@chrisseto sorry, just wanna make sure, what are you referring to when you say "root folder"?

[2015-06-16 15:41] chrisseto commented on #2838
@wisherp The folder that is linked to the project.

[2015-06-16 15:45] wisherp commented on #2838
@chrisseto cool. Done.

[2015-06-16 15:46] NatashaRichter commented on #3010
Cailey and I just tested this again on all browsers (to make sure my internet connectivity wasn't an issue). Edits in Firefox persist for between 1 and 20 seconds and then disappear while we are still in our respective files (all in OSF Storage and on different projects); same goes for Safari. For Chrome it's inconsistent behavior (sometimes they persist, sometimes they disappear after some time).

[2015-06-16 15:51] haoyuchen1992 commented on #1684
@caileyfitz  OK, got you! So this issue can be closed now. @samanehsan

[2015-06-16 15:54] Johnetordoff commented on #3141
For some reason it can only display public components when there are no public projects.

[2015-06-16 15:55] samanehsan commented on #1684
Great! Thanks @caileyfitz and @haoyuchen1992!

[2015-06-16 15:55] #1684 closed

[2015-06-16 15:56] chrisseto commented on #2838
@wisherp Looks like that is the issue, the original issue which had to do with google docs is fixed however.

[2015-06-16 15:59] GageGaskins commented on #3141
Strange because the view returning the component works.

[2015-06-16 16:04] wisherp commented on #2838
@chrisseto interesting. I just deleted all of the docx files and tried to download the folder but am still getting the same error...

[2015-06-16 16:11] jlcohoon commented on #2675
The new language here is a little confusing—it suggests that the user whose permissions are being updated isn't a contributor at all. For example, Mallory is already a contributor on test3 and example here, but it's asking if I want to add her when really I should be asked if I want to update her permissions:

![screen shot 2015-06-16 at 12 06 38 pm](https://cloud.githubusercontent.com/assets/4965

[2015-06-16 16:17] chrisseto commented on #2838
Whoops, jumped to the wrong conclusion.
You have a google form in one of your folders and it looks like google doesn't expose an easy way to download them. From the google drive interface the only download offered is the responses as csv.
@lbanner @GaryKriebel Thoughts on how to handle that?

[2015-06-16 16:24] chrisseto commented on #2838
https://stackoverflow.com/questions/18508281/how-to-download-google-drive-form-programmatically

[2015-06-16 17:11] jlcohoon commented on #965
just got another plus one on this from the community team

[2015-06-16 17:42] jamiehand commented on #3061
It looks like SWAGGER_SETTINGS is in defaults.py and not in local.py, which seems to contradict this. Am I wrong?

![screen shot 2015-06-16 at 1 40 13 pm](https://cloud.githubusercontent.com/assets/10687411/8189904/4eaab8ee-142d-11e5-8ede-91952cc12ff4.png)
![screen shot 2015-06-16 at 1 40 26 pm](https://cloud.githubusercontent.com/assets/10687411/8189907/511c568c-142d-11e5-9424-d2c3ea94021f.png)

[2015-06-16 17:52] brianjgeiger commented on #3061
I think that, currently, the only local.py that has that is on staging. I thought maybe it was put into local-dist.py, but no. So you are not wrong.

The problem is that because swagger_settings.api_path is defined in defaults.py, it's never picking up the API_PREFIX from local.py. So the thing to figure out is how to get the API_PATH into the swagger settings without having to modify everything e

[2015-06-16 18:01] jlcohoon opened #3155 "OSF storage logo off center"
<h4>Steps</h4>
1. Visit the files page or a project over view
2. Look at one of the rows that OSF storage is listed in

<h4>Actual Behavior</h4>
1. The logo is too far toward the top of the row
![image](https://cloud.githubusercontent.com/assets/4965832/8190371/1e6dec98-1430-11e5-806c-c2736d026674.png)

<h4>Expected Behavior</h4>
1. The logo should be centered in the row

[2015-06-16 18:34] lyndsysimon commented on #896
"figshare" - regardless of capitalization - shouldn't be at the bottom of the list...

[2015-06-16 18:51] lyndsysimon commented on #3149
Agreed. One validator to rule them all, and one validation to bind [to] them.

[2015-06-16 18:55] abought commented on #3149
In which case perhaps it would make more sense to classify this as a bug for tracking purposes? Calling `http://----` a valid URL is rather a stretch, but the submit button is allowing that to go to the server.

[2015-06-16 18:57] saradbowman opened #3157 "[production] [bug] Not all Mendeley Folders and Subfolders displaying"
User is experiencing problems with Mendeley. In add-on configuration, not all of her folders nor all of her subfolders are displaying to be selected:

"I have been having some trouble with Mendeley/OSF integration. I've synced
my account and created the access token for a project, but my OSF project
does not update if I create a new folder in Mendeley and some of my
sub-folders do not appear prope

[2015-06-16 19:31] brianjgeiger commented on #3062
There was a lot of back and forth on this, and I think we've finally found the root of the back and forth. There'll be another PR on this soon that will fix this and #3061

[2015-06-16 19:36] lbanner commented on #3019
Done!

[2015-06-16 20:18] caileyfitz commented on #3019
Just as an update, this occurred for me again today, so I know that it is still an issue.

[2015-06-16 20:49] lyndsysimon commented on #2686
Bug: special characters are not displayed properly in the title edit input:

![image](https://cloud.githubusercontent.com/assets/131414/8194138/976b94f8-1447-11e5-8445-493229af350c.png)

This project's title is "Alpha & Test"

[2015-06-16 20:59] haoyuchen1992 commented on #2155
@lbanner Can I grab this one?

[2015-06-16 21:01] lbanner commented on #2155
Yours -- Thanks.

[2015-06-17 12:49] lbanner commented on #2675
@jlcohoon -- Can you put your above ^^ suggested language change into a new/separate GH Issue? We can then work it as a change/enhancement. Thanks!

[2015-06-17 13:39] brianjgeiger opened #3163 "Add Sentry logging to DRF"
Currently, the API is not logging errors to Sentry. It probably should be.

[2015-06-17 13:41] lyndsysimon commented on #3163
Here's the documentation for Raven's Django integration: http://raven.readthedocs.org/en/latest/integrations/django.html

[2015-06-17 13:50] sloria opened #3164 "Go/nogo for release 0.40.0"
This release includes registration embargoes, retractions, and archiver.

Downtime is expected to be minimal, though we'll want to do a quick, constrained regression test immediately after release.

@JeffSpies @lbanner @GaryKriebel @icereval @nicipfeiffer @caileyfitz

[2015-06-17 13:55] #3062 closed

[2015-06-17 13:55] jlcohoon opened #3166 "add contributor language is misleading"
<h4>Steps</h4>
1. Visit a project with at least one component
2. Add a user to the component—not the project
3. Now search to add a user to the project—stop before confirming on the "select components" page.

<h4>Actual Behavior</h4>
1. The user is asked "Would you like to add these contributor(s) to any children of the current component?" even if they are contributors on those components.

![scre

[2015-06-17 14:00] lbanner commented on #3166
Thanks @jlcohoon

[2015-06-17 14:04] GaryKriebel commented on #2838
@chrisseto -- are we able to exclude the download button for Google Forms as well as stripping it from the zip?

[2015-06-17 14:12] brianjgeiger opened #3167 "Add missing trailing slash to route"
https://github.com/CenterForOpenScience/osf.io/blob/develop/api/nodes/urls.py#L15 is missing the trailing slash. Let's get that in. Also check through the rest of the routes to ensure they have their trailing slashes.

[2015-06-17 14:16] brandonPurvis commented on #3166
I can take care of this.

[2015-06-17 14:18] lbanner commented on #3166
You got it!

[2015-06-17 14:49] jlcohoon opened #3170 "add link to project in email to unregistered users and sticky alert to claim account to OSF"
This comes from the community repo: https://github.com/CenterForOpenScience/community/issues/235

<h4>Current Behavior</h4>
Users that are added as unregistered contributors receive an email alerting them that they have been listed in an OSF project. This email tells the recipient that they can register on the OSF and it tells them the project name, but does not actually link them to the project i

[2015-06-17 14:50] Ghalko opened #3171 "[Production] File Edit: No Indication of Save"
## Steps
1. Open a text file in view files
2. Edit it
3. Save it

## Expected
Indication that file was saved, and current version is current (and saved) until changes are made.

## Actual
Only the versions pane updates to show that the file has been saved. However, this can be hidden. The only way a user knows that there are no changes is to press save again to receive an alert (Bad!) that there a

[2015-06-17 14:53] fabianvf opened #3172 "[SHARE] Some dates show as "Invalid Date""
Steps
-------
Go to this URL, look at the release date for each entry: https://osf.io/share/?q=eric+tanter&sort=Relevance

Expected
------------
You would see the harvest dates displayed as dates for each entry

Actual
--------
You see the message "Invalid Date" for some entries.

Notes
--------
The response for the invalid dates has strings of the form: "2015-04-12"
The response for valid dates h

[2015-06-17 15:23] barbour-em commented on #3167
Will be resolved as part of #3051

[2015-06-17 15:29] fabianvf opened #3176 "osfHelpers.FormattableDate does not accept full ISO 8601 standard in Firefox"
Expected
------------
FormattableDate would accept all ISO 8601 formatted strings, including dates.
```2015-06-01``` is a valid ISO 8601 date

Actual
--------
FormattableDate only accepts ISO 8601 formatted date-time strings of the form "2015-06-01T00:00:00"

Notes
--------
This problem only happens in Firefox, because "Z" is added to any string without "Z" at the end, which results in invalid dat

[2015-06-17 16:28] jlcohoon opened #3180 "templates do not copy folders"
This comes from the community board: https://github.com/CenterForOpenScience/community/issues/247

<h4>Steps</h4>
1. Visit a project with a folder created within OSF storage ("Apples" in the image below)
![screen shot 2015-06-17 at 12 26 02 pm](https://cloud.githubusercontent.com/assets/4965832/8212868/4689a82c-14ec-11e5-8d77-fbdfd726bffa.png)

2. Click the "Duplicate" button and select "Template

[2015-06-17 16:45] abought commented on #3058
With quick hack script designed to mirror what the runscope tests are doing, did ~250 total runs on a single local development environment; 0 failures encountered.

https://gist.github.com/abought/0814e30017494ce5542c

Next will explore the effect of running multiple local server workers to see if this is something in the caching layer (eg modularodm).

[2015-06-17 16:55] pattisdr commented on #3046
Can I just checkout a new branch for this? I know I have a pull request in on the old one but everything is changing.

[2015-06-17 17:07] brianjgeiger commented on #3046
Yeah, that makes sense. You can close your old PR as well.

[2015-06-17 17:08] jlcohoon opened #3181 "Should be able to upload a new version of a file on the file details page"
From the community repo/usability review: https://github.com/CenterForOpenScience/community/issues/209

<h4>Steps</h4>
1. Visit the project overview or the files page (e.g. osf.io/abcde/files)
2. Drag and drop a file onto the file tree on either page
3. Visit that file (or any other file)
4. Drag and drop a file onto the file tree on the left side of the file's detail page

<h4>Actual Behavior</h4

[2015-06-17 17:08] brianjgeiger commented on #3058
Thank you.

[2015-06-17 17:16] lbanner commented on #3181
This gets at the greater question of when/if we move to the Files-View page as sole Files page, I think -

[2015-06-17 17:18] brianjgeiger commented on #3061
Putting this on hold until we finalize how we are hosting the API.

[2015-06-17 17:20] chrisseto commented on #2838
Going with @brianjgeiger's suggestion we are going to exclude google forms from waterbutler metadata listings.

[2015-06-17 17:20] jlcohoon opened #3182 "surface file copying feature"
This is from the OSF suggestion box/community repo: https://github.com/CenterForOpenScience/community/issues/220

<h4>Current behavior</h4>
In order to copy files and folders on the Project Overview page, you have to hold down the "option" button (on Macs) while dragging and dropping a file or folder. Most users are entirely unaware that you actually can copy a file because there is no instruction

[2015-06-17 17:21] reinaH commented on #3053
testing phase:

method names:
me_test_anonymous_gets_400
me_test_authorized_gets_200
me_test_get_projects_logged_in
me_test_get_projects_not_logged_in

should work:
	users/{user_id}
	users/me
	users/me/nodes
	users/{user_id}/nodes

should not work:
	users/{user_id}/me
	users/{user_id}/nodes/me
	nodes/me
	nodes/{user_id}

[2015-06-17 17:21] lbanner commented on #3180
Do we know if this is expected functionality based upon the current code? I will assume yes for now, and tag w/Enhancement vs bug. Thanks.

[2015-06-17 17:24] brianjgeiger commented on #3058
So, if what's happening is what I think is happening, https://github.com/brianjgeiger/osf.io/issues/21#issuecomment-101862513 is relevant. Essentially, we need to associate the user's information with the toku proxy. This should cause requests from the same user to be in the same toku context. Right now, a new context is being made for each request.

[2015-06-17 17:29] jlcohoon opened #3183 "Allow drag and drop image uploading and embedding"
From the OSF suggestion box/community repo: https://github.com/CenterForOpenScience/community/issues/222

<h4>Current Behavior</h4>
Presently, to include an image in the wiki, users must type in the correct markdown or click on the image button.

<h4>Desired Behavior</h4>
On github, you can drag an image into a text field like a comment or a PR description. If you do that, it uploads the file and

[2015-06-17 17:29] brianjgeiger commented on #3180
If files aren't copied, then it is understandable that folders wouldn't be copied as well. Changing that will almost certainly warrant a proposal, as it has implications.

[2015-06-17 17:31] jlcohoon commented on #3180
Close this then and add it to the needs proposal list?

[2015-06-17 17:32] lbanner commented on #3180
Yeah -- I'll close. Thanks @jlcohoon

[2015-06-17 17:32] #3180 closed

[2015-06-17 17:32] brianjgeiger commented on #3183
Plus one.

[2015-06-17 17:46] brandonPurvis commented on #3182
I can take this.

[2015-06-17 17:47] lbanner commented on #3182
You got it! thanks!

[2015-06-17 18:11] samanehsan opened #3186 "[dataverse] Delete button for draft dataverse files is not on the files tab"
Steps
-------
1) Configure the dataverse addon for a project
2) Go to the files tab
3) Click on the dataverse addon folder
4) In the file grid toolbar, select "draft" to show the draft files
5) Click on a draft file so that it is highlighted in the grid
6) Look at the files grid toolbar

Expected
-------------
I would expect to see a delete button in the toolbar, since you can delete draft dataver

[2015-06-17 18:28] WillBanner opened #3187 "[Staging and Production] Multiple clicks on create project button creates many of same project"
# [Firefox] [Safari] [Chrome]
# Steps
1. Go to staging.osf.io and log in.
2. Go to your dashboard.
3. Look at the right hand side of the screen and click on the + next to "create project."
4. Enter in a random project name and double click on the "create" button.

# Expected
I would create one project

# Actual
Two projects were created with that exact same name.

![image](https://cloud.githubuser

[2015-06-17 18:30] samanehsan commented on #2474
@nicipfeiffer, was this error only when trying to delete draft dataverse files through the files grid? Or were you also getting errors when deleting files from the file detail page?

Right now, there is no option to delete draft dataverse files through the files grid and deleting from the file detail page is successful.

[2015-06-17 18:35] chrisseto commented on #2980
This should be fixed now, if dataverse does encounters an issue it will no longer stop the entire file grid from loading.

[2015-06-17 18:51] abought commented on #3058
Ran same mass-action script again locally, this time using 8 workers. Still no obvious failures, even when the pointer creation/deletion were scattered against different PIDs

[code]

[code]

[2015-06-17 18:54] abought commented on #3163
Can't assign myself, but as discussed with @brianjgeiger , I'm going to start implementing as part of the effort to trace #3058 .

[2015-06-17 18:56] chrisseto commented on #2838
This is fixed as of https://github.com/CenterForOpenScience/waterbutler/releases/tag/0.6.3
@wisherp can you confirm?

[2015-06-17 19:13] lbanner commented on #2980
Can we confirm and close?

[2015-06-17 19:20] brianjgeiger commented on #3058
Harrumph. Such a pain when we can't reproduce locally.

[2015-06-17 19:35] wisherp commented on #2838
@chrisseto Still getting the same error while trying to download google drive folders as zip...

[2015-06-17 19:42] jinluyuan opened #3191 "[Production & Staging] Dragging project or component in Dashboard to ineligible row causes highlight to persist"
### Steps
1. Go to [osf.io](http://www.osf.io).
2. Go to your Dashboard.
3. Click the row of one of your projects or components.
4. Drag and drop to the "All my projects" row.
5. Click any other row.

### Expected behavior
I expected that dragging and dropping a project or component around to any row (other than a collection) would cause the highlight on that other row to disappear.

### Actual be

[2015-06-17 19:43] sloria commented on #3164
I am a go once the remaining bug cards are resolved and tested. Re: the dataverse/figshare bug, @lbanner and I suggested removing archiver support for those addons for now.

[2015-06-17 19:45] lbanner commented on #3164
I am a "GO" as well, given those parameters.

[2015-06-17 19:47] GaryKriebel commented on #3164
Will there be notice given to the user that there will not be dataverse/figshare support?

[2015-06-17 19:47] sloria commented on #3164
@GaryKriebel Yes

[2015-06-17 19:48] GaryKriebel commented on #3164
With @sloria confirmation on my question and when the bug cards are cleared, I'm a go as well.

[2015-06-17 20:19] nicipfeiffer commented on #3164
I am a GO once all the bugs have been tested by the QA team and marked as 'resolved/ready for production'.

[2015-06-17 20:21] caileyfitz commented on #3164
I'm a **go** once all trello cards (bugs) have been cleared out

[2015-06-17 21:03] chrisseto commented on #3164
Figshare we can tell if it is archivable or not in a single request, which I think would be an easy enough change albeit a bit hacky given the current architecture.
Dataverse should be fine to copy from at any point in time and I'm not certain as to why we are deferring putting it in archiver. I also don't know why it's failing, if anyone could shed some light on that it would be very appreciated.

[2015-06-17 21:07] haoyuchen1992 commented on #3187
Just replicate the problem. I could work on it!

[2015-06-17 21:09] lbanner commented on #3164
@chrisseto I will default to the group, but here is my thinking: complexities clearly exist in Dataverse and figshare -- and we are near 2 weeks behind on this release. If we hold to continue to deal with those two add-ons, we may not release the greater value here for another few days to a week. I'd suggest the iterative approach, we get what is stable to Production and release Embargoes/Retracti

[2015-06-17 21:09] lbanner commented on #3187
You got it!

[2015-06-17 21:19] chrisseto commented on #3164
@lbanner I, personally, dont think that adding in figshare will add any complexity it appears to be a simple fix that. I'd be fine hotfixing tomorrow.
Dataverse is what makes me nervous. As far as I know we do not know why it fails, which is red flag to me. If someone can answer that well I'll be a go.

[2015-06-17 21:53] JeffSpies commented on #3164
I'm hesitant to release if we don't know why dataverse is failing. That suggests that we may not have complete knowledge about the rest of the system.

For the regression plan, I also suggest more explicit titles like "OSF System Test Registration".

[2015-06-17 22:13] sloria commented on #3164
Chris makes a valid point; we should understand why Dataverse is failing--and ensure that it is not happening with other add-ons.

It would be advantageous to release when we have the QA team in-office and available for regression testing immediately after release.

Delaying release will not hold back QA: they will be able to begin testing on 0.41.0 in the morning tomorrow.

[2015-06-17 22:18] sloria commented on #3164
Also, there are a few last things to resolve and test, such as cleaning up of failed registrations.

[2015-06-17 22:18] sloria commented on #3164
So I'm a nogo for now.

[2015-06-17 22:19] lbanner commented on #3164
To be clear: If we make any fixes to add-ons, Figshare or Dataverse, and the Archiver code, it will require at minimum a pass through of QA for those add-ons, and possibly wise to do a general pass on full Archiver/Embargo/Retraction. That's OK if we have some hesitancy, but we will be looking at QA process on 0.40.0 again tomorrow.

[2015-06-17 22:23] sloria commented on #3164
That is inevitable--even if we release early, QA will have to go through additional passes after hotfixes are made. The only difference is that they would have test on production, which we want to avoid, esp. with registrations.

[2015-06-17 22:36] caileyfitz commented on #3164
My thoughts:

- @sloria makes a really good point about testing hotfixes -- that would necessitate making test registrations on production, which we really want to avoid given that they are always public and also released as SHARE events.

- @nicipfeiffer and I have had some strange happenings that are due to unknown causes and seem to be rare (but still really important). Since we are making a bi

[2015-06-17 22:40] lbanner commented on #3164
OK .... I'm with you. Not to belabor one point, however :smiling_imp: I would not have suggested any work/fixes to bring Figshare or Dataverse up-to-date after this release as hotfixes, rather would have worked those changes thru the regular Review--Staging--QA--Release process.

[2015-06-18 02:19] JeffSpies commented on #3164
OK, no go. I'd also like to talk more about regression testing tomorrow.

[2015-06-18 02:28] #3182 closed

[2015-06-18 12:27] sloria commented on #3164
Re-ping @JeffSpies @GaryKriebel @lbanner @icereval @caileyfitz @nicipfeiffer @chrisseto

Goal is to understand and resolve the issues with figshare and dataverse, discuss regression testing, address remaining bugs found, test cleanup of failed registrations, and release at **4:00 pm**, followed by regression testing.

[2015-06-18 12:28] nicipfeiffer opened #3197 "[Staging & Production] Dataverse: Improve Error Handling when unable to render and download files"
## Steps
1. Log in to osf.io and go to a project that you have admin access on
2. Go to the project's settings tab
3. Enable the dataverse add-on
4. Configure and link a dataset to the project
5. Go to the project's files tab
6. Click to toggle the folder displayed from published to draft
7. Click in the toolbar to upload a file (or use an existing file)
8. Now click on the file to render a view o

[2015-06-18 12:35] GaryKriebel commented on #3164
Let's all meet after standup.

[2015-06-18 13:15] nanchen47 commented on #2940
The pr is merged and deployed on production.

[2015-06-18 13:19] abought commented on #2929
This seems to have been closed by the two PRs referenced above.

[2015-06-18 13:27] lbanner commented on #3197
Is this consistent? Or possibly a blip on the part of Dataverse?

[2015-06-18 13:30] sloria commented on #2940
I'm still seeing this on staging.

[2015-06-18 13:31] sloria commented on #2940
Right now, the `release/0.40.0` branch is what is on staging. I will cherry pick Nan's fix into that branch before today's release.

[2015-06-18 13:45] samanehsan commented on #3010
@NatashaRichter @caileyfitz what browser versions are you using? I can't reproduce this on Firefox (36.0.1), Chrome (43.0.2) or Safari (version 7.1.6)

[2015-06-18 13:51] samanehsan commented on #2474
Closing since dataverse draft files can now be successfully deleted from the files tab.

[2015-06-18 13:51] #2474 closed

[2015-06-18 13:52] sloria commented on #2940
Should be fixed now.

[2015-06-18 13:52] #2940 closed

[2015-06-18 13:56] sloria commented on #2641
Fix has been merged. Will be released in 0.41.0

[2015-06-18 13:56] #2641 closed

[2015-06-18 13:58] sloria commented on #3033
Fix is merged; will be released in 0.41.0

[2015-06-18 13:58] #3033 closed

[2015-06-18 14:07] nicipfeiffer commented on #3197
@lbanner It very likely is an error on that part.  I think this is more about the error handling

[2015-06-18 14:08] samanehsan commented on #2330
Closing, since this has been resolved on production:
![screen shot 2015-06-18 at 10 05 12 am](https://cloud.githubusercontent.com/assets/6414394/8233018/dee39488-15a1-11e5-9782-bc88032db876.png)

[2015-06-18 14:08] #2330 closed

[2015-06-18 14:11] lbanner commented on #3197
OK -- good point. Let's rename with an eye toward error handling?

[2015-06-18 14:18] samanehsan commented on #3010
Just had @caileyfitz show me the issue on Firefox 0.38. The unsaved edits show up but then the edit panel reloads and the changes are gone (sometimes) .

[2015-06-18 14:35] samanehsan commented on #2328
Closing, since there is no longer a table of provider results being shown. Instead, there's just one provider shown when you hover over a data point:
![screen shot 2015-06-18 at 10 34 12 am](https://cloud.githubusercontent.com/assets/6414394/8233699/bbb6c81e-15a5-11e5-8a5e-120854a3ff15.png)

[2015-06-18 14:35] #2328 closed

[2015-06-18 14:51] samanehsan commented on #2326
Closing this since the graph now displays correctly:
![screen shot 2015-06-18 at 10 47 02 am](https://cloud.githubusercontent.com/assets/6414394/8234034/a26fcad4-15a7-11e5-93cf-140299b75444.png)

[2015-06-18 15:08] jinluyuan opened #3201 "[Production & Staging] Button smashing the "watch" button causes watch count to show impossible numbers"
### Steps
1. Go to [osf.io](http://www.osf.io).
2. Go to any project.
3. On the project overview page, click the "watch" button (eye icon) once.
4. The number should either go from 1 to 0 or 0 to 1.
5. Now button smash the watch button.

### Expected behavior
I expected that the watch count would rapidly alternate between 0 and 1.

### Actual behavior
The watch count sometimes would go to -1, and

[2015-06-18 15:29] samanehsan commented on #3088
@sloria @saradbowman was this resolved?

[2015-06-18 15:59] fabianvf commented on #2326
The behavior is actually the same as when the bug was reported, the issues was with the y-axis ticks displaying fractions of events, when fractions of events cannot exist.

[2015-06-18 16:13] lbanner commented on #3201
"button smashing" :smile_cat: .... that a real term?

[2015-06-18 16:14] brianjgeiger commented on #3201
That is fairly industry standard. References to monkeys are also common.

[2015-06-18 16:15] samanehsan commented on #2326
Oh okay, in that case I will reopen. I thought the issue was that the graph wasn't displaying correctly -- before, the graph showed negative results and appeared to be a fraction of an event but now it correctly displays as one event.

[2015-06-18 17:10] jinluyuan commented on #3201
I originally had a more *professional* description, but really, button smashing is the most accurate term for it. Plus, it's fun to say button smashing.

[2015-06-18 17:29] brianjgeiger commented on #3201
So it definitely shouldn't go to -1, and that's an easy fix. Technically, it could go to 2, even though you're pretty sure it wouldn't, because other people could be clicking at the same time. It will fix itself before long; it won't stay on 2 or -1 even if you stopped clicking at the right time. Once the server returns, it will correct itself with the count based on everyone else's clicks as well

[2015-06-18 18:42] jinluyuan opened #3205 "[Production & Staging] "Files couldn't load" error message in Files viewer is unhelpful and wrong color"
### Steps
1. Go to [osf.io](http://www.osf.io).
2. Go to one of your projects.
3. Go to your project's Settings page.
4. Enable a storage add-on with an empty storage folder/bucket.
5. Go to the project's Files page.
6. Click on the row of the add-on you selected.
7. Observe the error message in the add-on's row.

### Expected behavior
I expected that the error message would tell me something like

[2015-06-18 18:47] lbanner commented on #3205
Good point on lack of consistency + usefulness. @caneruguz ... style thoughts?

[2015-06-18 19:06] pattisdr commented on #3046
I have GET `/registrations/` inheriting from `NodeList` to get all registrations where is_registration is True.  Tests are returning all non-deleted, public registrations and user-contributed registrations.

[2015-06-18 19:21] brianjgeiger commented on #3046
Hooray!

[2015-06-18 19:24] brianjgeiger commented on #3046
Okay, so let's see if we can get something that is usable before we change it all for Sam. Can you try to disable all of the write routes for registrations, so that it's completely read-only to start with?

[2015-06-18 19:26] brianjgeiger commented on #3046
Or, if that's how it is but you only have /registrations/, then add on all the detail view GET routes.

[2015-06-18 19:56] sloria commented on #3141
Fixed by @GageGaskins

[2015-06-18 19:56] #3141 closed

[2015-06-18 20:22] NatashaRichter opened #3209 "[Production & Staging] Fix typo in component warning modal"
## Steps

1. Log in to osf.io.
2. Navigate to one of your private projects.
3. Create a component if you do not already have one.
4. Click "Make Public" from the component page.
5. Read warning modal.

## Current message:

Once a component is made public, there is no way to guarantee that access to the data it contains can be completely prevented. Users should assume that **one** a component is ma

[2015-06-18 20:22] TimErrington opened #3210 "[Production & Staging] 'Error rendering template' error message in Registrations view of project"
<h1> Steps </h1>

1. Go to osf.io
2. Go to a project that has a registration (example: https://osf.io/7zqxp/)
3. View Registrations tab
4. Observe error message

<h1> Expected behavior </h1>
I expect to see the registration that is there with the link to it.

<h1> Observed behavior </h1>
The error message  "Error rendering template util/render_nodes.mako: NameError('Undefined',)" appears

![screen

[2015-06-18 20:28] GaryKriebel commented on #3210
Ping @sloria

[2015-06-18 20:33] TimErrington opened #3211 "[Production & Staging] unlogged in view of registrations of a project has link to register parent project"
<h1> Steps </h1>

1. Go to osf.io
2. Go to a project without being logged into the osf
3. Go to a public project that is a child project/component of another project and view registrations page (example: https://osf.io/sd7kg/registrations/)

<h1> Expected behavior </h1>

I expect to see any registrations that are there. If there are no registrations I expect to see a link to the most viewed and mo

[2015-06-18 20:35] sloria commented on #3210
Looking into this

[2015-06-18 20:38] chennan47 commented on #3210
I think @lyndsysimon has solved a problem similar before.

[2015-06-18 20:39] sloria commented on #3210
Fixed now.

[2015-06-18 20:39] #3210 closed

[2015-06-18 20:44] samanehsan commented on #2163
Closed by #2857

[2015-06-18 20:44] #2163 closed

[2015-06-18 20:46] samanehsan commented on #2260
Fixed in #2806

[2015-06-18 20:46] #2260 closed

[2015-06-18 21:03] NatashaRichter opened #3216 "[Production & Staging] Component log just reads "A user" while loading"
## Steps

1. Log in to osf.io.
2. Navigate to one of your projects.
3. Make sure the project has components.
4. Click the "+" sign to the right of a component's title.
5. Look at the component's log as it loads the recent activity.

## Expected behavior

I expect that while loading the component log will remain empty or have a spinning blue bar, as the project log does while loading.

## Actual be

[2015-06-18 21:09] brianjgeiger opened #3217 "Update OSF Readme with info on how to run API"
Currently, API information is located in the API directory and is out of date. Let's go ahead and move that information into the main OSF Readme file and make it accurate.

[2015-06-18 21:10] lbanner commented on #3217
+ 1 ... and thank you.

[2015-06-18 21:11] haoyuchen1992 commented on #3201
I replicated the error. It is quit possible that because the button has been clicked twice in one direction(Such as decrease). Then 1-2 = -1.  We may need to add additional logic to not allow it to happen.

I can work on this one.

[2015-06-18 21:18] sloria commented on #3164
I am go once the remaining cards are through and QA is a go.

[2015-06-18 21:20] lbanner commented on #3164
OK -- I am a "go" under that parameter as well -- Looks like only the one issue remaining ...

[2015-06-18 21:20] GaryKriebel commented on #3164
Ditto

[2015-06-18 21:20] samanehsan commented on #2254
Closing this since CenterForOpenScience/modular-file-renderer#168 has been merged and I this no longer seems to happen on production or staging (E.g. https://staging.osf.io/hq2md/).

[2015-06-18 21:20] #2254 closed

[2015-06-18 21:34] chrisseto commented on #3164
I am a **go**

[2015-06-18 21:43] samanehsan commented on #2555
UPDATE: the overlap issue has been fixed on production. However, there is still not much padding between the file and the revisions table at narrow screen widths:

![screen shot 2015-06-18 at 5 33 26 pm](https://cloud.githubusercontent.com/assets/6414394/8243014/7c6c81bc-15e1-11e5-8fb8-c01f7a49add0.png)

[2015-06-18 21:51] samanehsan commented on #3014
@mfraezz, mind looking into this MFR issue? Thanks!

[2015-06-18 21:53] sloria commented on #3164
There is an issue that is causing projects with multiple addons to probabilistically fail. I am nogo until this is resolved.

[2015-06-18 22:14] nicipfeiffer commented on #3164
I am also a no-go.  There are still problems with add-ons and unsuccessful registrations.  We need to have this working consistently before I am a go for release.

[2015-06-18 22:29] lbanner commented on #3164
OK ... NoGo ... appreciate all the work put in trying to figure this one out.

[2015-06-19 12:56] lbanner commented on #2555
OK -- Good detail to note, but close this for now.

[2015-06-19 12:56] #2555 closed

[2015-06-19 13:22] haoyuchen1992 commented on #3216
@lbanner I just replicated the issue, I can work on it! Thanks!

[2015-06-19 13:36] sloria commented on #3164
Re-ping @JeffSpies @GaryKriebel @lbanner @icereval @caileyfitz @nicipfeiffer @chrisseto

We are currently working on figuring out why registrations are probabilistically failing.

Again, target release time is **4:00pm**.

[2015-06-19 13:44] GaryKriebel commented on #3164
I will provide a go/no go closer to 4pm

[2015-06-19 13:44] pattisdr commented on #3046
<ul>
<li> Regarding GET for /registrations/ that gets nodes where is_registration is True: </li> </ul>
Is the route GET `/v2/registrations/` instead of GET `/v2/nodes/registrations` ?

[2015-06-19 13:49] brianjgeiger commented on #3046
Yes. /v2/registrations/{registration_id} etc.

[2015-06-19 13:56] brianjgeiger commented on #3046
Differences worth thinking about between nodes and registrations: registrations could have a related link to their source project. Also, registrations/registration_id/registrations won't make much sense, but it might make sense to have a list of other registrations from the same source project. I'm not sure the best thing to call that off the top of my head.

[2015-06-19 14:06] lbanner commented on #3164
I'll note a discomfort with a 4:00pm Friday release -- and might propose Sunday evening, giving us Monday AM for regression. I'll continue to check-in on progress. Let @GaryKriebel and I know if we can help w/resource.

[2015-06-19 14:51] wisherp commented on #2838
@chrisseto This is working now when the folders don't have .gslides files!

[2015-06-19 14:59] #3172 closed

[2015-06-19 14:59] #3176 closed

[2015-06-19 15:06] sloria commented on #2155
Fix merged into develop. Will be released with 0.41.0

[2015-06-19 15:06] #2155 closed

[2015-06-19 15:25] NatashaRichter opened #3230 "[Production & Staging] Inconsistent end-of-log behavior"
## Steps

1. Log in to osf.io.
2. Navigate to one of your projects which has a lot of activity in the log (at least 8 or 9 pages) or go to the "Center for Open Science" project, which has many pages.
3. Click through the different pages of the log at a regular pace the first time through, faster the second time through, and even faster a third time through.
4. Notice the last page of the log.

##

[2015-06-19 15:25] csoderberg opened #3231 "[production] version numbers of .gdocs aren't stable"
Steps to recreate the issue:
* Connect the google drive add-on to a project (https://osf.io/54hqf/)
* Create a new google document on google drive
* Add some text
* Refresh the OSF page, the document will appear with 1 version
* Go back to google drive and make some more changes to the google doc
* Refresh the OSF page again

Expected Behavior:
* You would expect to see at least two versions of th

[2015-06-19 15:59] #3166 closed

[2015-06-19 16:06] mfraezz commented on #3014
I'm not as much of an expert on MFR as I was before it became MFRAAS, but this is the only .sps in that project that doesn't render properly. Bash tells me the files are encoded differently:
[code]

Non-ISO means it contains characters not in the normal ASCII range (31-128), which is likely the reason it's displaying incorrectly. Searching for characters outside of this range gives us one characte

[2015-06-19 16:22] pattisdr commented on #3046
- [X] GET `/registrations`.  Return all registrations where is_registration = True
- [X] POST `/nodes/{node_id}/registrations` . Clones node, appends DRAFT_REGISTRATION to title, adds pointer from node to registration
- [ ] GET `/registrations/{registration_id}/`
- [ ] PUT `/registrations/{registration_id}/`
- [ ] PATCH `/registrations/{registration_id}/`

[2015-06-19 16:23] pattisdr commented on #3046
What is the difference between POST for /nodes/{node_id}/registrations/ and POST for /registrations/? Is POST /registrations/ the final draft?

[2015-06-19 16:27] brianjgeiger commented on #3046
Thinking about it, I don't think that POST for /registrations/ makes sense. Don't do that. To start with, let's just do the GET routes, so, so the detail route and whatever related routes make sense (pointers and children, for example)

[2015-06-19 16:29] jlcohoon commented on #2039
Community team has 3 +1s on this. They also suggested just adding a small indication/link that the wiki uses Markdown, like how Github does:

![screen shot 2015-06-19 at 12 28 01 pm](https://cloud.githubusercontent.com/assets/4965832/8257901/d71d3262-167e-11e5-84b4-f287e5b25cfb.png)

[2015-06-19 16:38] brianjgeiger commented on #2039
This is a fairly simple thing for someone to do. All of the information is collected.

[2015-06-19 17:18] pattisdr commented on #3046
Here are the current routes:
![screen shot 2015-06-19 at 1 14 31 pm](https://cloud.githubusercontent.com/assets/9755598/8258762/9ea7ca3a-1685-11e5-935c-c55d723d85bc.png)

[2015-06-19 17:40] pattisdr commented on #3046
Why do you want GET `registrations/{registration_id}/registrations`? I thought the user made a registration of the node (now a registration draft).  The user continues to work on draft until finished and registration becomes frozen.  Are people registering registrations?

[2015-06-19 17:47] brianjgeiger commented on #3046
We don't. But we will want a link for the source node, and we might want a link for other registrations that belong to the same source node. https://github.com/CenterForOpenScience/osf.io/issues/3046#issuecomment-113522702

[2015-06-19 17:56] saradbowman opened #3232 "[production] [bug] "Invalid Date" displayed for View-only Links"
Steps
-------
1. Go to a private project.
2. Create a view-only link.

Expected
------------
View-only link creation date will be displayed.

Actual
--------
"Invalid date" is displayed.

![screen shot 2015-06-19 at 1 47 43 pm](https://cloud.githubusercontent.com/assets/7749914/8259505/f81c2b10-168a-11e5-9673-6807d9a60ecb.png)

This happens for newly created projects with newly created view-only l

[2015-06-19 18:00] #896 closed

[2015-06-19 18:04] NatashaRichter opened #3233 "[Production & Staging] Quickly clicking through project logs leads to "No logs to show" page"
## Steps

1. Log in to osf.io.
2. Navigate to one of your projects that has a lot of activity in the log (at least 8 or 9 pages) or go to the "Center for Open Science" project, which has many pages
3. Click the right arrow in the log very quickly to try to navigate to the last page of the log.
4. Check what the last page of the log is.

## Expected behavior

I expect that the last page of the log

[2015-06-19 18:15] jlcohoon commented on #540
Community team would like to resurrect this for the wiki page re-ordering. We've got four +1s in favor of allowing users to reorder the wiki pages within a project.

[2015-06-19 18:30] WillBanner opened #3235 "[Production and Staging] Project Browser search displays multiple of exact same project"
# Steps
1. Go to osf.io and log in.
2. Go to your dashboard
3. Find a project that has a component project
4. Press the + next to the parent project on the project browser so that you can view both projects in the browser.
5. Create a new collection.
6. Drag and drop the component project into the collection.
7. Click on the search button for the project browser.
8. Search for the component projec

[2015-06-19 19:11] caileyfitz opened #3238 "Registration component contribution counts incorrect"
Sort of reviving #1478 but this is a little different

# Steps
1. Log into production
2. Go to a registration that has at least one component (can expand 'All my registrations' collection in project organizer to find one)
3. Look at the component list on the right side of the registration project overview page
4. Check for number of contributions

# Expected
I expect that the number of contributio

[2015-06-19 19:30] sloria commented on #3164
Sam and Chris have put in a fix to support archiving both Unpublished and Published versions of dataverses, which may be part or all of the cause of the probabilistic registration failures we were seeing yesterday. I seem to recall QA @WillBanner seeing failures without Dataverse, though.

QA will see if they can reproduce the failures.

I am a go once we demonstrate that registrations succeed rel

[2015-06-19 19:32] JeffSpies commented on #3164
You're busy too this weekend, Steve. Let's go a bit later if necessary.

On Fri, Jun 19, 2015 at 3:30 PM, Steven Loria <notifications@github.com>
wrote:

[2015-06-19 20:24] #2929 closed

[2015-06-19 20:56] caneruguz commented on #3205
@lbanner assign me and I'll work on this.

[2015-06-21 17:58] brianjgeiger commented on #3060
Or maybe using HEAD verb for metadata and GET for downloads. Possibly both.

[2015-06-21 18:02] brianjgeiger commented on #3054
Update this to work with the user object