[2015-07-16 16:19] nicipfeiffer commented on #3430
@lbanner @GaryKriebel @MPNussbaum This issue was fixed with the style guide changes in release 0.42 :grinning: by this PR https://github.com/CenterForOpenScience/osf.io/pull/3553

[2015-07-16 16:26] jinluyuan opened #3644 "Project Settings Dataverse message - change phrasing from "node" to "project/component""
### Steps
1. Go to [osf.io](http://www.osf.io)
2. Go to your User Settings
3. Enable and configure Dataverse for a Dataverse account that has no actual content in it
4. Go to one of your projects or components
5. Go to the project's Settings page
6. Import the Dataverse account you just connected to in User Settings
7. Notice the blue message that appears

### Expected behavior
I expected that the

[2015-07-16 17:09] Johnetordoff commented on #3633
@lbanner can I get this one?

[2015-07-16 17:10] wisherp opened #3645 "[Feature Request] Dashboard: The list of legends under the information button should be vertical and alphabetized"
# Steps
1. Log into osf.io
2. On your dashboard, click on the information button (“i", next to “Search”)
3. Ensure you get a modal with a list of legends

# Expected
The legends are listed vertically and alphabetically for easy find

# Actual
The list is presented horizontally and also is not alphabetized which makes it difficult to read and find the desired legend

![legend modal could be updated

[2015-07-16 17:48] caileyfitz opened #3646 "Linked projects in registrations have buttons for forbidden actions"
# Steps
1. Go to a project for which you have admin access
2. Add a link to the project
3. Confirm that the link appears in the component list on the right side of the project overview page
4. Take note of the actions which appear to the right of the link title (**x**, fork icon, plus sign)
5. Register the project
6. Go to the project registration
7. In the component list on the project registrati

[2015-07-16 18:00] #3518 closed

[2015-07-16 18:08] lbanner commented on #3633
:+1:

[2015-07-16 18:14] #3634 closed

[2015-07-16 18:25] caileyfitz opened #3649 "Change category button flashes for parent project"
# Steps
1. Go to a parent project for which you have admin access
2. Go to the settings page
3. Immediately as the page loads, pay attention to the Configure Project container at the top of the page

# Expected
Since this is a parent project and thus the category cannot be changed, I would expect that there would be no option to change the category, no matter how briefly it may appear.

# Actual
W

[2015-07-16 18:35] #3633 closed

[2015-07-16 18:39] sloria commented on #3633
I've cherry-picked this change onto master, so this is on prod now.

[2015-07-16 18:42] NatashaRichter opened #3650 "Fix language of "Resend Email Confirmation" modal"
## Steps

1. Head to your User Settings > Account Settings
2. Under "Unconfirmed Emails," add a secondary email address.
3. Click "Add Email" and then click the blue "resend confirmation" that appears.
4. Notice modal that appears.

## Current Language

The text of the modal that appears reads, "Are you sure that you want to resend email confirmation at nadiya@gmail.com"

The text is missing a que

[2015-07-16 18:43] Johnetordoff commented on #3494
@lbanner can I get this one?

[2015-07-16 18:46] jinluyuan opened #3651 "Change project & comment expansion icon from plus sign to down arrow for consistency"
The expansion icons in the Dashboard and a project's Citations widget are light blue down arrows, which are both attractive and easy to understand.

![screen shot 2015-07-16 at 2 22 05 pm](https://cloud.githubusercontent.com/assets/8591162/8731619/9ce6cdf8-2bc6-11e5-8c79-5dd74cb81bf6.png)
![screen shot 2015-07-16 at 2 27 51 pm](https://cloud.githubusercontent.com/assets/8591162/8731655/dcfbf26a-2b

[2015-07-16 18:49] brandonPurvis commented on #3638
I can work on this.

[2015-07-16 18:52] lbanner commented on #3638
:+1:

[2015-07-16 18:53] lbanner commented on #3494
:+1:

[2015-07-16 18:59] NatashaRichter opened #3652 "User Settings: Email confirmation alert not italicized correctly"
## Steps

1. Navigate to a project for which you have an unconfirmed secondary email address.
2. Navigate to your user settings.
3. Click on "Account Settings" in the side bar.
4. Under Unconfirmed Emails, click on "resend confirmation."
5. Notice italics in the green alert that pops up.

## Expected Behavior

That only the email address will be italicized in the alert.

## Actual Behavior

The se

[2015-07-16 19:08] MPNussbaum commented on #3645
@GaryKriebel, would you please assign me to this?

[2015-07-16 19:08] GaryKriebel commented on #3430
closing the issue

[2015-07-16 19:08] #3430 closed

[2015-07-16 19:36] GaryKriebel commented on #3651
@caneruguz ... part of style guide?

[2015-07-16 19:46] Johnetordoff commented on #3644
@GaryKriebel I can you put me on this?

[2015-07-16 19:47] jinluyuan commented on #3644
@Johnetordoff I think a better sentence might be "There are no dataverses, datasets, or files associated with the connected account."
This better matches Dataverse's own message for empty accounts.

![screen shot 2015-07-16 at 3 47 25 pm](https://cloud.githubusercontent.com/assets/8591162/8733481/00ff3a2c-2bd2-11e5-9c79-d6a4430902c3.png)

[2015-07-16 19:51] lbanner commented on #3644
Good @jinluyuan

[2015-07-16 20:01] JeffSpies commented on #3374
@jlcohoon, did you do that? If so, this issue should be closed.

[2015-07-16 20:06] jlcohoon commented on #3374
I did update the issue, but I don't think the message has been updated yet, so this should remain open. By original issue, I meant what I logged at the top of this thread.

[2015-07-16 20:07] brandonPurvis commented on #3652
I can take this one.

[2015-07-16 20:12] Johnetordoff commented on #3650
@GaryKriebel I can do this

[2015-07-16 20:19] sloria opened #3658 "Create project form inputs don't have placeholder text"
Unlike the other widgets, the "Create a project" widget does not have placeholder text for its input fields.

![osf___dashboard](https://cloud.githubusercontent.com/assets/2379650/8734180/434568b2-2bd6-11e5-9c41-400495268292.png)

Perhaps add "Required" as a placeholder for the Title field and "Optional description" for the Description field.

[2015-07-16 20:28] caneruguz commented on #3651
@GaryKriebel not part of style guide but legitimate unification bug for osf. As @jinlu says, plus sign should not be used for expanding/collapsing. Let's tag this style and you can assign me.

[2015-07-16 20:35] JeffSpies commented on #3374
We only need one issue. You should link them and close one of them.

[2015-07-17 12:59] Johnetordoff commented on #3658
@GaryKriebel can I get this?

[2015-07-17 13:19] #3652 closed

[2015-07-17 13:21] #3650 closed

[2015-07-17 14:56] Johnetordoff commented on #3649
@lbanner can I get this?

[2015-07-17 15:00] lbanner commented on #3649
Yep!

[2015-07-17 15:04] jlcohoon commented on #2892
is this closed because it got fixed? or because we decided no? It's definitely still happening (or happening again). See: https://osf.io/a8g32/

[2015-07-17 15:13] lbanner commented on #2892
Interesting .. @PatrickEGorman want to take a look? @sloria did we regress something? Thanks.

[2015-07-17 15:17] sloria commented on #2892
Hm, this was fixed before. @PatrickEGorman, would you mind taking a look at this again?

[2015-07-17 15:37] brianjgeiger commented on #3400
I haven't seen this error recently, so I need to make sure runscope is still running these tests. I believe it is, so things may be better now.

[2015-07-17 15:43] jlcohoon opened #3669 "extra space after contributor names on public activity and registrations pages"
## Steps
1. Visit the public activity page: https://osf.io/explore/activity/
2. Look for a project with multiple contributors—look a their names.
3. Visit the registrations page of a project with multiple contributors: https://osf.io/atgp5/registrations/
4. Look at the contributor names below the registration name

## Outcome
1. Each contributor has an extra space after their name. In some cases t

[2015-07-17 15:44] Johnetordoff commented on #3013
I'm not sure, there have been many changes, but you can no longer replicate the issue.

[2015-07-17 15:45] PatrickEGorman commented on #2892
Okay.  I'm between tasks anyway so I can investigate

[2015-07-17 15:45] jlcohoon opened #3671 "public activity should not show retracted registrations"
## Current Behavior
The public activity lists popular projects and registrations as well as new projects and registrations. Retracted registrations are included in the displayed projects. For example, this registration was listed under Popular Registrations: https://osf.io/ct8dx/ (Study of attention focus in different environments)

![screen shot 2015-07-17 at 11 45 05 am](https://cloud.githubuser

[2015-07-17 15:48] jinluyuan commented on #3651
@caneruguz I just realized that this also applies to the Treebeard expansion icon. I think it would look better as a down arrow, but this might require more discussion.

Dashboard
![screen shot 2015-07-17 at 11 46 30 am](https://cloud.githubusercontent.com/assets/8591162/8751190/9fe8e6ae-2c79-11e5-944f-9054f74581c6.png)

Files tree
![screen shot 2015-07-17 at 11 47 12 am](https://cloud.githubuserc

[2015-07-17 15:51] #2891 closed

[2015-07-17 16:37] jinluyuan commented on #3669
I noticed this too. It happens in all project/component containers, not just on the public activity page. Relevant [Trello card](https://trello.com/c/2QIU8n4V/65-public-activity-page-extra-space-between-contributor-and).

This is an example from an OSF user's profile page Public Projects widget:
![](https://trello-attachments.s3.amazonaws.com/55a66adf15c499b55aa312ee/491x161/905122975ef6f937a156be

[2015-07-17 17:00] jlcohoon commented on #3669
Not on *all* containers though—not on project overviews.

[2015-07-17 17:03] jinluyuan commented on #3669
@jlcohoon Ah weird!

[2015-07-17 17:06] haoyuchen1992 commented on #3669
@jinluyuan I think this is the unnecessary space before an & has been deleted in an unmerged PR. And as for the comma, I am not sure this would be treated as an bug. Some discussion need here.

[2015-07-17 17:23] NatashaRichter opened #3673 "User Settings: Text of green alerts sometimes covers the "x""
## Steps

1. Log in to osf.io.
2. Go to your User Settings.
3. Add some alternate email addresses (some shorter than others) and confirm them if necessary.
4. Switch your primary and alternate email addresses.
5. Notice the green alerts which pop up.

## Expected Behavior

I expect that regardless of the length of my email addresses, the text of the alerts will not run into the "x" on the right si

[2015-07-17 18:00] jinluyuan commented on #3669
@haoyuchen1992 I think this is a bug since the spacing should look like this:

Project overview page
![screen shot 2015-07-17 at 2 00 18 pm](https://cloud.githubusercontent.com/assets/8591162/8753754/35357ff8-2c8c-11e5-8783-fd4c659adf22.png)

[2015-07-17 18:36] pdurbin commented on #3345
@GaryKriebel you're welcome. @caneruguz encouraged me to create this issue: https://github.com/CenterForOpenScience/osf.io/commit/b9de67f6b46dc661863bfe8883976caec0795e6a#commitcomment-11869545

The new site is great.

[2015-07-17 18:42] haoyuchen1992 commented on #3627
Comparing with [Original code](https://github.com/CenterForOpenScience/osf.io/blob/41f177cb99f8c6bb64cb374e2ce726f40d84ea63/website/templates/nav.mako#L29) and [Current Code](https://github.com/CenterForOpenScience/osf.io/blob/develop/website/templates/nav.mako#L30), it looks like we add `hidden-xs` class to the expanding icons.

@caneruguz  Is it intentional to do that ? I prefer to retain the ex

[2015-07-17 18:50] haoyuchen1992 commented on #3621
I am OK with displaying as "private link". But my question is that why we need display all the private components or links as  a number of empty and same boxes. I think it is better  to add one sentence, such as "private components are not shown". In our current design, we spends too much space on delivering that message.

What do you think? @caneruguz @lbanner @GaryKriebel

[2015-07-17 18:51] jlcohoon opened #3677 "clicking out of project navigation dropdown should close navigation"
## Steps
1. Visit an OSF project
2. Reduce the width of your window until the navigation collapses
3. Open the project navigation dropdown
4. Click elsewhere on the screen (not on the dropdown items,  e.g. bottom half of this image)

![screen shot 2015-07-17 at 1 54 14 pm](https://cloud.githubusercontent.com/assets/4965832/8754668/3ea3235e-2c93-11e5-8c26-5e739ca23c20.png)

## Behavior
1. Nothing h

[2015-07-17 18:57] brianjgeiger commented on #3621
#2951

[2015-07-17 18:59] brianjgeiger commented on #2951
We were talking about doing this API side, but after consideration, that seems wrong and we should keep it all in the UI.

[2015-07-17 18:59] jlcohoon commented on #3669
Agreed, there should never be a space before a comma and should only ever have one before an ampersand

[2015-07-17 19:00] XTech2K commented on #3646
Can I nab this? It's a quick fix and I have it almost prepared already.

[2015-07-17 19:42] Johnetordoff commented on #3641
@GaryKriebel Can I take this?

[2015-07-17 19:44] lbanner commented on #2951
OK

[2015-07-17 19:45] lbanner commented on #3621
Ties these together then?

[2015-07-17 19:48] brianjgeiger commented on #3621
They don't have to be solved at the same time, but they should use the same solution from the end-user's perspective (i.e. 3 Private Projects, 1 Private Link or whatever)

[2015-07-17 19:53] jinluyuan commented on #3621
@lbanner I think these are different issues since Johanna & Haoyu's ideas are bigger feature changes, but I am simply requesting that the file tree on the Project Overview page say "Private Link" instead of "Private Component".

![screen shot 2015-07-17 at 3 50 14 pm](https://cloud.githubusercontent.com/assets/8591162/8755858/f71941f4-2c9b-11e5-88c6-fa5729a34e9f.png)

[2015-07-17 19:56] saradbowman commented on #889
I want to ping on this again, as it's becoming increasingly important to know what our user base looks like. We get frequent questions from outside groups about this.

It would be very helpful to have profile information to be able to search, but few users have filled out profile information. It's unclear if this is because users do no want to fill out profile information or because they're not aw

[2015-07-17 19:58] lbanner commented on #3644
Since not merged yet, will keep this open for now.

[2015-07-17 19:59] lbanner commented on #3621
Good point -- We'll keep this one narrow, and deal with the bigger issue via the other. Thanks!

[2015-07-17 20:02] lbanner commented on #3641
Done!

[2015-07-17 21:11] abought opened #3680 "[docs] README.md should mention MFR"
The OSF file preview page requires running an optional extra service called "Modular File Renderer" (MFR):
https://github.com/CenterForOpenScience/modular-file-renderer

This service is not mentioned in the README.md installation instructions for the OSF, but it should be.
https://github.com/CenterForOpenScience/osf.io/#optional-extras

(Complete with any additional configuration needed to make it

[2015-07-18 03:55] AndrewSallans opened #3681 "SHARE main page overflow on mobile"
I was looking at the SHARE page (http://osf.io/share) on a mobile browser and noticed that some of the provider labels overflow from their boxes (see image below), and they are still listed two columns wide.

![screenshot_2015-07-17-21-18-11](https://cloud.githubusercontent.com/assets/2151933/8760260/01d6ba7a-2cdf-11e5-8f15-7edbd3780b4f.png)

Suggestion:  like the way providers are displayed on th

[2015-07-20 13:08] Johnetordoff commented on #3673
@nanchen47 Can I get this issue?

[2015-07-20 13:28] #3658 closed

[2015-07-20 13:44] brianjgeiger commented on #3536
@reinaH There's a PR for this, yes? If so, please reference this issue in the PR.

[2015-07-20 13:45] Johnetordoff commented on #3671
@nanchen47 can I get this?

[2015-07-20 14:15] jlcohoon opened #3685 "[staging + production] wiki menu does not resize correctly"
## Steps
*On staging or production*
1. Visit a wiki page.
2. Collapse the left hand navigation menu
3. Resize the window to be about 860 px wide.
4. Note the icons in the menu on the left.
5. Uncollapse the menu
6. Resize the window to be about 916 px wide

*On staging*
1. Visit a non-homepage wiki for a project.
2. Collapse the left hand navigation menu
3. Resize the window to be about 730 px wid

[2015-07-20 14:33] Johnetordoff commented on #3494
I got this issue mixed up with #3611, the correct PR is coming.

[2015-07-20 14:40] jinluyuan commented on #3685
[Trello card](https://trello.com/c/eJNsz1fG/137-issues-when-collapsing-wiki-menu-and-then-making-window-smaller) to address staging issues

[2015-07-20 15:19] Johnetordoff commented on #3494
This issue was fixed as of [this pr](https://github.com/CenterForOpenScience/modular-file-renderer/commit/7605cefb95f41497387eda3a4d40cd18bc1e8957) and is no longer reproducible. @lbanner can we close this?

[2015-07-20 15:23] #2822 closed

[2015-07-20 15:37] jinluyuan opened #3689 "View-only links - Expand and collapse buttons for component listing are awkward"
### Steps
1. Go to [osf.io](http://www.osf.io)
2. Go to one of your projects that has at least two components
3. Go to the project's Sharing page
4. Add a new View-only link that includes all the components

### Expected behavior
I expected that the list of components would be expanded with a double down-arrow icon like in user settings for add-ons.

![screen shot 2015-07-20 at 11 32 27 am](https:

[2015-07-20 15:48] lbanner commented on #3494
Yes -- thanks @Johnetordoff

[2015-07-20 15:48] #3494 closed

[2015-07-20 16:45] Johnetordoff commented on #3625
@lbanner can I get this?

[2015-07-20 16:58] lbanner commented on #3625
:+1:

[2015-07-20 17:15] jinluyuan opened #3693 "Inconsistent style of top right "x" icon in Treebeard modals"
Reported on [Trello](https://trello.com/c/C8kEBqVK/135-inconsistent-style-of-top-right-x-icon-in-modals) by me

The Dashboard's Legend modal and all the modals within Treebeard have two different "x" icons than the typical small, light gray "x" in other modals, such as the Change Avatar modal and Collaborative File Editing modal.

![dashboard legend](https://cloud.githubusercontent.com/assets/8591

[2015-07-20 17:15] Johnetordoff commented on #3636
@GaryKriebel Can I get this one?

[2015-07-20 17:19] jinluyuan opened #3694 "Dataverse - Unable to delete all selected files"
Reported on [Trello](https://trello.com/c/csP5hPtG/22-dataverse-unable-to-delete-all-selected-files) by me

### Steps
1. Go to osf.io
2. Go to one of your projects
3. Ensure that Dataverse is enabled and configured
4. Go to the files widget on either the Project Overview page or the Files page
5. Scroll down the files until you get to the Dataverse add-on
6. Select to highlight Dataverse
7. Change

[2015-07-20 17:26] jinluyuan opened #3696 "Project overview page - Recent Activity page number shows through OSF footer banner for logged out users"
### Steps
1. Go to osf.io as a logged out user
2. Go to any project that has multiple pages of recent activity, such as [this one](https://osf.io/9f6gx/)
3. Wait for the footer banner to load
4. Scroll until the banner is over the bottom of the Recent Activity widget

### Expected behavior
I expected that the banner would cover all affected Recent Activity content.

### Actual behavior
![screen sh

[2015-07-20 17:27] brianjgeiger commented on #3041
The first people who are going to need this will be @himanshuo and @jamiehand so please let them know when you might have something testable.

[2015-07-20 17:32] abought commented on #3041
Will do; the document I sent them should contain instructions for an interim solution. They'll still need realCAS to use that though.

But remember that access tokens are very... tricky... to acquire for humans; they were never designed for API clients. Any thoughts on #3097?

[2015-07-20 17:37] NatashaRichter opened #3698 "Github: Project logs list uploaded files twice"
Reported on the "Large file uploads" trello board by @nicipfeiffer
https://trello.com/c/jgSLqE7v/24-github-project-logs-list-the-uploaded-files-twice

## Steps

1. Navigate to a project for which you have read + write or admin access.
2. Go to project settings.
3. Enable and configure Github for the project.
4. Go to the files tab.
5. Click to select the row where the Github icon is displayed.
6.

[2015-07-20 17:39] Johnetordoff commented on #3637
I'm a little confused about replicating this. I went to the wiki tab and got this screen,

![screen shot 2015-07-20 at 1 36 52 pm](https://cloud.githubusercontent.com/assets/9688518/8782594/89c20cc6-2ee4-11e5-9371-c46efff98b31.png)

which doesn't correspond to the pic.

[2015-07-20 17:40] brianjgeiger commented on #3041
My thoughts on #3097 haven't changed, but I'll post details there.

[2015-07-20 17:41] brianjgeiger commented on #3097
Someone needs to come up with a proposal, try it out, and implement it. I don't know the right answer, though I can pass along some suggestions. Personal access tokens seem like the right sort of thing. I don't know details like CAS integration or whatever either.

[2015-07-20 17:44] brianjgeiger commented on #3041
That being said, @jamiehand could make a quick web server in Tornado that used her API client if need be. It's a little excessive, but Tornado makes for quick prototypes, and it would allow a test of the oauth workflow. I'm not sure about @himanshuo's best path, though. Tokens or similar would be keen.

[2015-07-20 17:45] himanshuo commented on #3041
I could do the tornado server route as well.

[2015-07-20 17:46] jinluyuan opened #3699 "Email notification about new comment has too much white space at top"
Reported on [Trello](https://trello.com/c/jPKa1LO2/62-email-notification-about-new-comment-has-too-much-white-space-at-top-above-recent-activity) by me

### Steps
1. Go to osf.io
2. Go to one of your projects that has two contributors, both that you control
3. Go to the project's Settings page as one contributor
4. Go to "Configure Notifications"
5. Change the setting for Comments Added to "Emails

[2015-07-20 17:46] abought commented on #3097
I have some notes in phase 3 of my proposal. Touching that up is next priority after #3082.

[2015-07-20 17:47] brianjgeiger commented on #3097
Sounds great.

[2015-07-20 17:51] Johnetordoff commented on #3615
@lbanner I like the suggested idea can I start working on it?

[2015-07-20 17:52] NatashaRichter opened #3700 "Check growl boxes and alerts across site for overlapping text"
## Description

I attempted to upload a file to Amazon S3 and saw the growl box in the screenshot below, because I need to update my S3 credentials.

## Expected Behavior

I expect that the text of all growl boxes and alerts will not overlap with the "x" to cancel out of the growl boxes or alerts.

## Actual Behavior

When the text of a grow box or alert is short, the text overlaps with the "x."

[2015-07-20 17:52] PatrickEGorman commented on #2892
I took a look at it.  I added an simple if statement:
```% if ('write' in user['permissions'] and not node['is_registration']) or node['children']:```
to decide whether it was shown or not.  It appears that this project seems to have found some way through this if statement.  I'm not exactly sure.  At the moment I'm pretty busy with the api so I was wondering if somebody else could possibly take a

[2015-07-20 17:56] #3626 closed

[2015-07-20 18:07] lbanner commented on #3615
I'll assign you @Johnetordoff -- But want @jlcohoon thoughts here also on this solution. @jlcohoon? Thanks.

[2015-07-20 18:13] brianjgeiger commented on #3615
Just so you know, I'm expecting this might be a little complicated. Right now, we are just asking Elastic for results and displaying them. Elastic doesn't really understand about registrations being a part of another project, in the way that it doesn't understand that components belong to projects as such. Trying to find a way to handle this after Elastic is done with it won't work well, because E

[2015-07-20 18:14] jlcohoon commented on #3615
I suggested it, so I'm a pretty big fan of the plan. I'm happy to write/assign someone to write a proposal for it if need be.

[2015-07-20 18:18] brianjgeiger commented on #3615
If we're doing something fancy, it might be cool to aggregate all of the components that match a project as well. So, for example, if you searched for `Reproducibility Psychology`, then RPP would show up at the in the list, and all of the components would be accessible from the search page, rather than necessarily being each individually listed as a component. This should, in turn, cause RPP to be

[2015-07-20 18:28] caneruguz commented on #3673
@lbanner I propose closing this issue in favor of #3700 ; which shows that there might be a bigger sitewide issue here. It might also very well be a regression bug, I'm happy to help with it.

[2015-07-20 18:40] lbanner commented on #3615
Might a less fancy solution be simply changing the way we name Registrations? Say, for instance, adding a date in the name/title?

[2015-07-20 18:41] GaryKriebel commented on #3673
Closing in favor of https://github.com/CenterForOpenScience/osf.io/issues/3700

[2015-07-20 18:41] #3673 closed

[2015-07-20 18:45] caneruguz commented on #3696
Sent a quick fix here: https://github.com/CenterForOpenScience/osf.io/pull/3701

[2015-07-20 18:47] #3696 closed

[2015-07-20 18:54] #3671 closed

[2015-07-20 18:59] jlcohoon commented on #3615
I'd think that that's a good solution for now. More fanciful work could be saved for the future. @lbanner how might we preserve the other suggestions for future work? I do think @brianjgeiger's suggestion would be a good enhancement.

[2015-07-20 19:03] NatashaRichter opened #3703 "Improve error message when Amazon S3 credentials need to be updated"
## Description

I attempted to upload a file to my Amazon S3 add-on from the Project Overview page without knowing that my credentials had expired. The red error message I see upon trying to upload is unhelpful.

## Expected Behavior

I expect a more descriptive error message on the Project Overview page **OR** for a message to appear underneath the add-on heading in the files widget itself to des

[2015-07-20 19:08] #3418 closed

[2015-07-20 19:14] bnosek opened #3705 "Download count does not increment when using top button on file view page"
![screen shot 2015-07-20 at 3 13 09 pm](https://cloud.githubusercontent.com/assets/1761504/8784840/df56b904-2ef1-11e5-8141-ff41c6213e28.png)

But, download count DOES increment when using the download button right next to the count in the revisions pane.

[2015-07-20 19:26] WillBanner opened #3706 "[Production] 502 Error when filtering tags"
# [Firefox] [Chrome] [Safari]
# Steps
1. Go to osf.io and log in
2. Click on the search bar at the top
3. Paste one of the searches in the google doc.

Because of how long the searches are, I created a google doc so that I don't fill up this issue page. These are searches that I copied directly from the search bar on production after the error occurred.
These problems could occur on staging, but i

[2015-07-20 19:40] brianjgeiger commented on #3041
Or, as Andy suggests, you could do a Flask server if you're into that kind of thing.

[2015-07-20 19:41] caileyfitz commented on #3637
Yes @Johnetordoff that is because @caseyrollins recently changed the wiki tree over to treebeard, so this should no longer be an issue.

[2015-07-20 19:44] WillBanner opened #3708 "[Staging and Production] 500/503 errors when filtering tags in OSF search"
# [Safari] [Firefox] [Chrome]
# Steps
1. Go to osf.io and log in.
2. Go to the search bar.
3. With these errors there are no exact steps for reproduction. What I've found is that, even when I copy the exact search that I've used in order to get the error, and paste it into the search again, everything will work correctly. So what you'll probably have to do is filter out tags over and over, usually

[2015-07-20 19:47] wisherp opened #3709 "Getting Started: The page does not scroll to the headers when clicking through the side navbar"
# Steps
1. Log in to osf.io
2. Go to the 'Getting Started' page
3. On the left nav bar, click on 'Getting Started'
4. Then click on 'Creating a Project', 'Collaboration', and 'Version Control' respectively

# Expected
The page would scroll just above the respective header selected through the navbar

# Actual
The page scrolls to few lines below the header

![scrolls below the header](https://cloud

[2015-07-20 19:49] caneruguz commented on #3637
@caileyfitz to clarify, should this issue be closed?

[2015-07-20 20:06] nicipfeiffer opened #3710 "[Firefox] [UI] Add Contributors Modal: Contributor permissions dropdown entire words not shown"
## Steps using Firefox browser:
1. Go to a project you have admin access on
2. Click to go to the sharing tab
3. Click to Add a new contributor
4. Enter a name to get a contributor list
5. Select one of the users in the list by clicking the + sign
6. In the Permission dropdown toggle to select 'administrator' and 'read+write'

## Expected
I would expect the entire word to show in the dropdown sele

[2015-07-20 20:16] Johnetordoff commented on #3615
How do you think the date should be formatted, to the minute or just to the day? I don't think it's out of the question you'd have two registration on the same day, but having a lot of extra digits in such small font makes it difficult to read. Is there any style guide rules about dates?

[2015-07-21 14:22] Johnetordoff commented on #3612
@lbanner can I go ahead and implement this change?

[2015-07-21 14:23] lbanner commented on #3612
:+1:

[2015-07-21 14:49] caneruguz commented on #3709
I'm working on this.

[2015-07-21 14:55] haoyuchen1992 commented on #3710
I can work on this one! Thanks!

[2015-07-21 14:56] caneruguz commented on #3693
This is a treebeard change. I'll be working on this now and update osf.

[2015-07-21 15:09] #3599 closed

[2015-07-21 15:13] lbanner commented on #2853
FYI: I am closing this issue now as it generally was met by #2883 However, questions of consistency in count remain, so we're  keeping it on radar. Thanks.

[2015-07-21 15:13] #2853 closed

[2015-07-21 15:14] #3636 closed

[2015-07-21 15:19] haoyuchen1992 commented on #3699
I can work on this one ! Thanks!

[2015-07-21 15:41] jlcohoon commented on #3615
Not sure, probably not though.  You can check here: https://centerforopenscience.github.io/osf-style/
I'd say that for registrations, down to the minute is most helpful.

[2015-07-21 15:47] jlcohoon opened #3721 ""add existing project" search does not search components"
## Steps
1. If you do not have one already, create a project that has a component within it
2. Go to your project organizer
3. Create a collection
4. Drag and drop the *component* from your project into the collection
5. Create another collection
6. Ensure that the project is expanded in the organizer so that you can see the component (rules out https://github.com/CenterForOpenScience/osf.io/issue

[2015-07-21 15:58] brianjgeiger commented on #3721
What's happening is that the component search is only looking for components that you otherwise don't have access to because they are located in a project that is private but you are not a contributor.

That being said, I don't disagree with the issue. Just be careful when the change is made not to break existing functionality.

[2015-07-21 16:11] GaryKriebel opened #3722 "Issues with registering a project with a component - (files, read/non-contributor)"
## Summary
This issue deals with a registering a project where the admin has either read-only permissions or is not a contributor to a component that has at least one file.  The project never fully registers as the component gets stuck in the archiving state.

## Steps to reproduce:
1. Create a project
2. Add a file to your project (1 file in OSF Storage is fine)
3. Add a contributor to your proje

[2015-07-21 16:15] NatashaRichter opened #3723 "Improve error message when connecting Dataverse account"
## Steps

1. Log in to osf.io and head to one of your projects.
2. Navigate to User Settings and click "Connect an Account" next to the Dataverse add-on.
3. Without selecting a Dataverse repository, click "Save."
4. Notice the error message.

## Current Message

"Sorry, but there was a problem connecting to that instance of Dataverse. It is likely that the instance hasn't been upgraded to Datavers

[2015-07-21 16:15] GaryKriebel commented on #3722
@HarryRybacki @chrisseto @sloria
So this does look to be a permissions issue since the admin has no issues as being admin or read/write on the component but does have issues when read/non-contributor on the component.  It also happens only when a file is present in the component.  A fileless component works fine.

The admin SHOULD be able to register the project in all instances as of release 0.26

[2015-07-21 17:05] Johnetordoff commented on #3680
@revanthkolli If you have a second could you write these instructions, there's some little issues I'd like to fix but don't know how to get this thing running.

[2015-07-21 17:05] csoderberg commented on #3617
+1 form Piper Mullins at the Smithsonian

[2015-07-21 17:08] HarryRybacki opened #3725 "`User.social_links` does not handle multiple forms of LinkedIn profiles:"
## Problem:
Regression bug was added when isssue #3401 was closed.

The `User.social_links` method does not handle:
- in/UserID
- pub/Path/To/Public

## Proposed Solution:
Modify `User.social_links` to handle the multiple ways LinkedIn profiles can be linked.

[2015-07-21 17:14] caneruguz commented on #3627
No it's not intentional, we should fix it. Do you want to take this one?

[2015-07-21 17:15] lbanner commented on #3627
Tagging @haoyuchen1992 : )

[2015-07-21 17:16] haoyuchen1992 commented on #3627
@caneruguz @lbanner  OK, Got it!

[2015-07-21 17:32] NatashaRichter opened #3728 "User Settings: Change placeholder text of dataverse repository drop-down menu"
## Steps

1. Log in to osf.io.
2. Go to your User Settings > Configure Add-ons.
3. Click "Connect an Account" next to the Dataverse add-on.
4. Notice placeholder text in the drop-down menu of the modal that appears.

## Current Text:

"Select an item..." (see second screenshot below)

## Suggested Change:

"Select a Dataverse repository"

This makes the placeholder text more descriptive (as with t

[2015-07-21 17:43] caileyfitz commented on #3637
Yes, I can close this

[2015-07-21 17:43] #3637 closed

[2015-07-21 17:50] haoyuchen1992 commented on #3669
I think this will be solved in this PR- https://github.com/CenterForOpenScience/osf.io/pull/3713

[2015-07-21 17:58] #3641 closed

[2015-07-21 18:02] HarryRybacki commented on #3725
Specifically, the base url [here](https://github.com/CenterForOpenScience/osf.io/blob/develop/framework/auth/core.py#L203-L212) needs to be altered and the [`User.social_links` property](https://github.com/CenterForOpenScience/osf.io/blob/develop/framework/auth/core.py#L876-L883) needs to be updated to handle any of the three possible LinkedIn profile paths.

Sample URLs for LinkedIn profiles can

[2015-07-21 18:05] caneruguz commented on #3677
@jlcohoon I don't think this is the expected behavior in general. In a lot of mobile devices the space remaining of the page is very small anyway so it's not a very beneficial feature.

**Example of iPhone 5 for instance:**
![screen shot 2015-07-21 at 2 03 22 pm](https://cloud.githubusercontent.com/assets/1314003/8808579/6cb43e2e-2fb1-11e5-8ecb-5d7142afdcd3.png)

Also Bootstrap is not doing it in

[2015-07-21 18:14] haoyuchen1992 commented on #3677
Originally, I also thought the dropdown menu should be closed after user clicked on other area. After I test some companies' website, I found none of them did that. It makes sense for me now. In mobile setting, it is easy to click something by mistake.  It may be annoying for user when they click other places and the dropdown disappears unexpectedly.

[2015-07-21 18:14] GaryKriebel commented on #3615
I would agree with @jlcohoon that to the minute would be ideal ... there may be a reason that you registered twice in a day (forgot to add a component prior to registration) and would want to make sure you know which is the most recent

[2015-07-21 18:15] lbanner commented on #3615
+1

[2015-07-21 18:17] Johnetordoff commented on #3615
@caneruguz and I are working on amending the Style Guide to include rules on displaying date/time. Any input is appreciated.

[2015-07-21 18:26] jlcohoon commented on #3669
Just noticed on staging that in the component widget there is *no* space before the ampersand. Maybe it got fixed too much?

![screen shot 2015-07-21 at 2 18 06 pm](https://cloud.githubusercontent.com/assets/4965832/8809097/69c3e298-2fb4-11e5-9946-6902f0b7b40b.png)

[2015-07-21 18:29] HarryRybacki commented on #3722
@GaryKriebel I'm not sure we have a good way to tell what service is failing -- Did @samchrisinger  or anyone else ever build the Archiver kill switch we said would be a good idea?. @sloria @chrisseto if you have any ideas let me know. For now I'll just setup the project as noted and try to follow the code down as far as I can.

[2015-07-21 18:34] GaryKriebel commented on #3722
I do not believe there has been any "kill switch" added.  For this particular issue, I would start with getting it to work with OSF storage as that is the current issue in the field.  Solving for that may take care of the permissions for others as well.

[2015-07-21 18:38] jlcohoon commented on #3677
If click away isn't the solution, then the menu should push the content down, not cover it up. Note that in that image the project title is blocked.

[2015-07-21 18:48] brianjgeiger commented on #3677
I tend to agree; an element as important as the menu should not cover in XS, it should displace.

[2015-07-21 18:53] caneruguz commented on #3677
That's a good point, in that case though the navigation can't be fixed so that it can scroll with the page which is not a trivial change but that's what bootstrap is doing so there is good example there.

[2015-07-21 19:04] haoyuchen1992 commented on #3685
@caseyrollins Hi Casey, I know you have sent a PR about his. Can you look at this again? Because wiki plus icon is not centered in staging for xs screen.

![screenshot 2015-07-21 15 01 16](https://cloud.githubusercontent.com/assets/5420789/8809962/aa76c2f6-2fb9-11e5-8159-470dfdaf4e82.png)

[2015-07-21 19:07] caneruguz commented on #3615
@sloria any input on this?

[2015-07-21 19:08] Johnetordoff commented on #3728
@GaryKriebel can I get this?

[2015-07-21 19:09] caseyrollins opened #3734 "[staging & production] file tree collapse icon needs pointer class"
#### Steps
- View a file on the OSF
- Collapse the file tree, notice that when you do so your cursor changes.
- Expand the file tree, notice that your cursor does not change.

[![Gyazo](http://i.gyazo.com/84ac2124a8d38b76555994298ebdf35e.gif)](http://gyazo.com/84ac2124a8d38b76555994298ebdf35e)

#### Expected
- When expanding the file tree, the cursor should change the same way it does when collaps

[2015-07-21 19:11] sloria commented on #3615
re: Displaying date times--we currently display datetimes in localized iso8601 format, with a tooltip for UTC time. I think we go with that for now.

[2015-07-21 19:29] caseyrollins commented on #3685
@haoyuchen1992, thanks for catching that! The PR that fixes this is [here](https://github.com/CenterForOpenScience/osf.io/pull/3735).

[2015-07-21 19:30] fabianvf commented on #3615
I think ISO 8601 is ideal for storage of dates, as it is easily machine readable, but I'm not sure it is the most human friendly representation. I think something like ```February 2nd, 2015 at 8:00PM``` is much friendlier to display.

[2015-07-21 19:34] caneruguz commented on #3615
:+1: for Fabian,

There was an extensive discussion on this earlier: https://github.com/CenterForOpenScience/osf.io/issues/668

[2015-07-21 19:53] sloria opened #3736 "Go/nogo for release 0.43.0"
Changelog: https://github.com/CenterForOpenScience/osf.io/blob/develop/CHANGELOG#L5

ping @JeffSpies  @GaryKriebel @lbanner @nicipfeiffer @caileyfitz

[2015-07-21 19:54] sloria commented on #3736
Current status: @caneruguz @samanehsan and @caseyrollins are looking through the remaining Trello bugs cards, deferring as appropriate.

[2015-07-21 19:58] sloria commented on #3736
Our Travis builds are failing on both `develop` and `master` for some unknown reason--there haven't been any changes to our Travis config, and our builds were passing yesterday. AFAIK, there should not have been breaking changes that would have been merged into both branches. I've contacted Travis CI's support about the issue.

I'd hesitate to give a "go" before we see a successful build.

[2015-07-21 20:05] caneruguz commented on #3645
@MPNussbaum how is this fix coming along? I have made minor changes to the legend so there might be merge conflicts. https://github.com/caneruguz/osf.io/commit/c7f1d40bda2ec3cd314814de27a8c7521289b610

[2015-07-21 20:06] HarryRybacki commented on #3722
@GaryKriebel @sloria @chrisseto
The source of the problem is [here](https://github.com/CenterForOpenScience/osf.io/blob/develop/website/archiver/tasks.py#L182).

Archiver is creating the API token to be handed to WB for the user that initiated the registration. However, that user may or may not have [admin/read+write] privileges for the parent project's components. As a result, WB will kick back t

[2015-07-21 20:10] caneruguz commented on #3429
@wisherp can you specify IE version?

[2015-07-21 20:11] GaryKriebel commented on #3736
I'm good with resolving the build tests before proceeding with a release.

[2015-07-21 20:14] wisherp commented on #3429
@caneruguz This is happening on IE 10

[2015-07-21 20:29] jlcohoon opened #3738 "Disallow "Register a Project" search for projects user does not have admin privileges on"
## Steps
1. Ensure that you are a read or a read + write contributor on a project or component
2. Visit your dashboard
3. Open the "Register a Project" dropdown.
4. Search for a component that you are a read or a read + write contributor on.

## Outcome
1. Results are returned.
2. Clicking "Continue Registration" brings you to a page that tells you the action is forbidden.

## Expected Outcome
1.

[2015-07-21 21:21] saradbowman commented on #3388
Question about this on the help desk - "sometimes I have the option to download as a .zip, sometimes not"

[2015-07-21 21:34] GaryKriebel commented on #3388
I assume they give no details of when they see it and when they do not?

[2015-07-22 13:37] caneruguz commented on #3709
@sloria let me know when this is tested and working so we can close this issue.

[2015-07-22 13:51] sloria commented on #3709
This has been tested by QA on staging.

[2015-07-22 13:51] #3709 closed

[2015-07-22 14:25] caneruguz commented on #3651
@jinluyuan for treebeard the plus and minus icons should stay as they are. Other icons are not as visible for the type of grid that file browser provides.

[2015-07-22 14:29] jinluyuan commented on #3651
@caneruguz I understand.
However, for the wiki menu, it does look strange having a "+" icon for New while also having plus icons next to the Components folder. The same issue applies to the Add to Dashboard button previously mentioned. It's not necessarily a problem, but it would be better to have consistent meaning behind each of our icons at some point.

![screen shot 2015-07-22 at 10 27 23 am](

[2015-07-22 14:33] caneruguz commented on #3651
Okay I see that but this needs some discussion. In any case these icons on file browsers will not be the same icons as the expand icons we are talking about since they are too small. These icons would probably be carets and they would be facing right and down, not up and down. So this needs to be it's own issue.

[2015-07-22 14:49] pattisdr commented on #3552
Documenting a Swagger issue:

I am trying to get the API to match the JSONAPI v1 spec http://jsonapi.org/format/

The header `Content-Type: application/vnd.api+json` must be sent with the response, but a Swagger bug is preventing this. There's an old issue for this https://github.com/marcgibbons/django-rest-swagger/issues/271.

If I comment out `rest_framework.renderers.JSONRenderer` in settings,

[2015-07-22 14:50] caneruguz commented on #3651
@sloria you can close this after merge if everything is looking good.

[2015-07-22 15:07] #3651 closed

[2015-07-22 15:17] revanthkolli commented on #3680
@Johnetordoff The instructions for running the MFR are all on the README.md here https://github.com/CenterForOpenScience/modular-file-renderer

[2015-07-22 15:26] caileyfitz opened #3748 "Google Drive does not give error message when credentials are revoked"
# Steps
1. Go to a project on which you have admin access
2. Go to project settings and enable and configure Google Drive
3. Confirm that Google Drive is configured and files are linked
4. Go to Google Drive > Settings > Manage Apps
5. Revoke access the most recent access to OSF
6. Go back to project settings and refresh page

# Expected
I expect that there would be an error message saying that th

[2015-07-22 16:07] Johnetordoff commented on #3738
@lbanner can I get this?

[2015-07-22 16:16] caileyfitz opened #3750 "Zotero has incorrect error message when credentials are revoked"
# Steps
1. Go to a project on which you have admin access
2. Go to project settings and enable and configure Zotero
3. Confirm that Zotero is configured and citations are linked
4. Go to Zotero > Settings > Feeds/API
5. Revoke access the most recent access to OSF
6. Go back to project settings and refresh page

# Expected
I expect that the error message saying that the credentials are no longer va

[2015-07-22 16:18] lbanner commented on #3738
:+1:

[2015-07-22 16:54] jinluyuan commented on #3651
@caneruguz Did you decide not to change the plus icon in the Comments widget?

[2015-07-22 17:09] caneruguz commented on #3651
@jinluyuan No I just didn't see that. That's a terrible placement for the expansion icon though. What;s happening with comments, isn't it going to go through some changes? @sloria?

[2015-07-22 17:13] jinluyuan commented on #3651
@caneruguz I put in a [Trello card](https://trello.com/c/xdsRUYRF/143-comments-widget-icon-for-opening-up-replies-to-a-comment-differs-from-rest-of-site) about this in the 0.42 release. It used to look like this before Haoyu changed the plus sign and put it on the right of the box.

![](https://trello-attachments.s3.amazonaws.com/559c3b7719602e88644166b1/412x120/5887371463bf64894e870e8afbfde15e/Sc

[2015-07-22 17:35] caneruguz commented on #3651
Alternatively we need to come up with a standard expansion of non-panel items. We'll need to work on this a bit.

[2015-07-22 17:40] lyndsysimon opened #3753 "Migrate HTML entities improperly stored in Mongo"
In some cases, data has been stored in the DB as HTML-entity-encoded strings. As a result, they can render improperly now that sanitization has been consolidated into a single place (display).

One or more scripts will need to be written to migrate strings. For example - a node's title may be stored now as `"COS &amp; open science &gt; status quo"`. After migration, this string should be `"COS & o

[2015-07-22 17:47] abought commented on #3753
Thanks for keeping track of this; I agree that the workarounds are not meant to be permanent.

Tracking issue for all markupsafe conversion: #2933 (with link to original DB migration script)

There are other (existing) workarounds for OSF data as well, such as `safe_unescape_html`. We will need to audit how JS frontend code deals with escaped text before turning off sanitizers.

The workarounds ca

[2015-07-22 18:07] lyndsysimon commented on #3753
My ultimate goal at this point is to eliminate the usage of bleach, and do sanitization on display only. There's still a ways to go before we're able to do that, but we're making progress.

[2015-07-22 18:19] haoyuchen1992 commented on #3681
I can work on it! Thanks!

[2015-07-22 18:21] lbanner commented on #3681
Done! Thanks -

[2015-07-22 18:24] fabianvf commented on #3681
There are a few more problems on mobile, I think...

[2015-07-22 18:30] #3669 closed

[2015-07-22 18:34] #3699 closed

[2015-07-22 18:41] haoyuchen1992 commented on #3681
@fabianvf  Yes, I don't find any media css code for Share.

[2015-07-22 18:49] #3722 closed

[2015-07-22 18:51] caneruguz commented on #3478
Is this not the same as #3696 ? Admittedly this was first so the other one was a replica.
The fix is merged though so this should be closed. @sloria @lbanner

[2015-07-22 18:52] caneruguz commented on #3696
@jinluyuan it appears that this exact issue was reported already at #3478 . Please search through github issues before reporting production bugs.

[2015-07-22 18:53] caneruguz commented on #3136
A fix for this issue is sent here: https://github.com/CenterForOpenScience/osf.io/pull/3733

[2015-07-22 18:54] caneruguz commented on #3693
Fix is sent here: https://github.com/CenterForOpenScience/osf.io/pull/3733

[2015-07-22 18:54] sloria commented on #3736
The Travis builds are now passing, and the remaining bug cards seem to be minor UI inconsistencies-- @samanehsan and @Johnetordoff are looking at those now.

With those fixed and QA's "go", I am a "go".

[2015-07-22 18:56] lbanner commented on #3736
:+1: Same ... "Go"

[2015-07-22 18:57] #3728 closed

[2015-07-22 18:58] lbanner commented on #3478
OK

[2015-07-22 18:58] #3478 closed

[2015-07-22 19:05] haoyuchen1992 commented on #3723
I can work on this! Thanks!

[2015-07-22 19:28] samanehsan commented on #3736
Same here -- I'm a "Go" once those UI fixes are merged and go through QA

[2015-07-22 19:43] haoyuchen1992 commented on #3621
Yes, limited to this text change. I am starting to work on this now. :)

[2015-07-22 19:51] fabianvf commented on #3681
no, so far as I know we did not have any focus on mobile when we wrote it.

[2015-07-22 20:01] haoyuchen1992 commented on #3627
This has been fixed and could be closed now! Thanks!

[2015-07-22 20:02] haoyuchen1992 commented on #3710
The PR has been merged. So this issue could be closed now.

[2015-07-22 20:12] JeffSpies commented on #3736
If QA is happy, I'm happy.

On Wed, Jul 22, 2015 at 3:28 PM, Saman Ehsan <notifications@github.com>
wrote:

[2015-07-22 20:37] caneruguz commented on #3436
@jinluyuan this issue has been discussed before: https://github.com/CenterForOpenScience/osf.io/issues/1663

I recommend closing. @sloria @lbanner thoughts?

[2015-07-22 20:37] #477 closed

[2015-07-22 20:38] caneruguz commented on #3366
@bdyetton any update?

[2015-07-22 20:38] lbanner commented on #3710
Got it - Thanks

[2015-07-22 20:38] #3710 closed

[2015-07-22 20:41] lbanner commented on #3436
OK -- yes, close in favor of discussion and approach in #1663

[2015-07-22 20:41] #3436 closed

[2015-07-22 20:42] #623 closed

[2015-07-22 20:42] lbanner commented on #3627
Got it. Thanks.

[2015-07-22 20:42] #3627 closed

[2015-07-22 20:44] #2947 closed

[2015-07-22 20:44] jinluyuan commented on #3436
@caneruguz @lbanner This is not the same issue as #1663, though it may be related. This issue only applies to Safari, and the issue is that the content of the page expands.

[2015-07-22 20:47] lbanner commented on #3723
Done!

[2015-07-22 20:48] caneruguz commented on #3436
@jinluyuan the content of the page expands because modals remove scrolling by adding a class to the body. When scrolling is removed, the scroll bar is removed, thus giving the page about 15 more pixels. Normally this shouldn't make the page wider but bootstrap has break points for responsive rules. In your case above the screen grab was taken at a point where the difference of 15-20 pixels switche

[2015-07-22 21:05] nicipfeiffer commented on #3736
With three bugs in draft/pending awaiting merge, and zero in bugs found....I am a GO when those are merged and tested.

[2015-07-22 21:06] haoyuchen1992 opened #3762 "[Profuction & Staging] [Share] Nothing is inside the down/up arrow on front page"
### Steps
1. go to the front page of SHARE
Staging: https://staging.osf.io/share/
Production: https://osf.io/share/
2. Find a arrow and click

### Expected
If there is content inside, it will show something after clicking down arrow. If there is nothing there, no arrow will be shown

### Actual
There is nothing content to be shown. But the arrow is still there.

![scroll-down](https://cloud.github

[2015-07-22 21:09] jinluyuan commented on #3436
@caneruguz This happens on Safari when the user makes the window progressively smaller, right until the user's name disappears from the top nav bar and only the Gravatar is visible. Then opening up a modal causes the content to expand - most notably, the user's name appears once again in the top nav bar. This is due to the scrollbar disappearing, as you say. The window has to be at the right size

[2015-07-22 21:10] GaryKriebel commented on #3736
If Jeff is happy that QA is happy then .....

Yes, [Go Flight](https://www.youtube.com/v/kgHYGw9OL7c?start=0&end=42) after final UI fixes

[2015-07-22 21:35] bdyetton commented on #3366
@caneruguz Yep closed by steve in #3391

[2015-07-22 21:36] #327 closed

[2015-07-23 02:25] nicipfeiffer commented on #3736
QA is happy! Gopher it...

[2015-07-23 02:27] GaryKriebel commented on #3736
👍🏻

[2015-07-23 03:30] #3736 closed

[2015-07-23 03:49] bnosek opened #3763 "Long (or forever) load time for new wiki menu for projects with substantial wiki content"
For projects with only a bit of wiki content, the new wiki menu loaded fine.  But for these two projects with sizable wiki content:

https://osf.io/ezcuj/wiki/home/
https://osf.io/e81xl/wiki/home/

The menu did not load (2+ minute wait). Including after clearing browser cache.

[2015-07-23 04:09] sloria commented on #3763
Should be fixed now.

[2015-07-23 04:09] #3763 closed

[2015-07-23 04:11] bnosek commented on #3763
Yes, first try loaded just fine.

On Thu, Jul 23, 2015 at 12:09 AM, Steven Loria <notifications@github.com>
wrote:

[2015-07-23 13:19] sloria opened #3764 "Error not handled when loading wiki menu--loading spinner displayed indefinitely"
Already discussed with @caseyrollins : when an error occurs in loading the data for the wiki menu, the loading spinner should disappear and an error message should be shown.

Discovered when debugging this issue: https://github.com/CenterForOpenScience/osf.io/issues/3763

[2015-07-23 13:22] brianjgeiger commented on #3582
I've done some narrowing down, and it appears that this is a problem of creating nodes concurrently. The window for creation is pretty slow, but I think what is essentially happening is that, when a node is currently in the middle of its save, if another node gets to creating the celery task that creates its piwik id, then the second node creation will error out with a 500. I don't believe this is

[2015-07-23 13:23] nicipfeiffer opened #3765 "Sharing Tab: incorrect error 'Must have at least one visible contributor'"
## Steps
1. Go to a project you are admin on
2. Go to the project sharing tab
3. Add another contributor, preferably one that is also you
4. On the sharing tab, in the contributor table give the contributor that is not you read only permissions and save the changes
5. Now uncheck the box for yourself to be bibliographic, but do not change you admin status. Save the changes
6. Reorder the contribut

[2015-07-23 13:42] haoyuchen1992 commented on #3700
I can work on this! Thanks :)

[2015-07-23 13:54] Johnetordoff commented on #3615
I"m moving ahead with the dating individual entries option, if nobody has any more input. Also here's my purposed style guide guidelines for dates. It just tries to keep everything consistent with the log's datetime display:
<h3 id="datetime">Using Datestime</h3>
<p>All dates are to be displayed in <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time">UTC</a> and should be precise dow

[2015-07-23 14:04] Johnetordoff commented on #3734
@GaryKriebel can I get this one?

[2015-07-23 14:31] lbanner commented on #3734
Done!

[2015-07-23 14:32] lbanner commented on #3615
:+1: as long as @jlcohoon is on board!

[2015-07-23 15:03] Johnetordoff commented on #3611
@lbanner There was a slight mix up and I should be assigned to this issue, could you do that?

[2015-07-23 15:05] #3681 closed

[2015-07-23 15:09] Johnetordoff commented on #3623
@lbanner can I get on this?

[2015-07-23 15:10] caneruguz commented on #3615
I think there is no obstacle to go ahead with the date time to fix this specific issue.

However in terms of adding the concept to the style guide I would pause there. Since the goal of the guide is to have a conversation about the standards we have we should discuss it there:

https://github.com/CenterForOpenScience/osf-style/issues/65

After that issue is resolved we can go ahead and quote it fo

[2015-07-23 15:18] #3205 closed

[2015-07-23 15:19] Johnetordoff commented on #3623
The Style Guide doesn't say anything about case, but this should probably be lower case just so we can remain consistent.

[2015-07-23 15:19] lbanner commented on #3615
I support that thought/plan, but who currently has eyes on the StyleGuide? --- need a way to raise visibility on that when discussion/decision needed. In this case, I will raise it. Thanks.

[2015-07-23 15:20] lbanner commented on #3623
Agreed.

[2015-07-23 15:20] brianjgeiger commented on #3400
This seems fine now.

[2015-07-23 15:20] #3400 closed

[2015-07-23 15:21] chennan47 commented on #3698
Can't repo this problem on staging or production. @NatashaRichter can you verify this problem still exists? Thanks.

[2015-07-23 15:28] brianjgeiger commented on #3552
@reinaH When you're done with your current PR, see if you can find a way to disable api/v2/docs url while still generating a swagger json document (currently being served at https://staging2.osf.io/api/v2/docs/api-docs/v2). It may be that we just don't advertise the /docs/ or it may be that we want to serve static content at /docs/. See if you can get a feel for the sorts of things that the django

[2015-07-23 15:29] wisherp opened #3771 "Project Overview: The pages on the 'Add Links' modal take a longer time to render on production"
# Steps
1. Go to osf.io
2. Go to a project for which you have admin access
3. On the project overview page, click on 'Add Links'
4. Type 'a' on the modal and click on 'Search all projects'
5. Click the right arrow to go through the list of suggested projects

# Expected
The user would be able to go to the next page of results without delay as on staging

![add links staging](https://cloud.githubus

[2015-07-23 15:41] wisherp opened #3773 "Create View-only Link modal - Change "Generate" to "Create""
Reported on the 0.43 trello board by @jinluyuan
Link: https://trello.com/c/1lLoHdBw/67-create-view-only-link-modal-change-generate-to-create
# Issue
The word "generate" is not used anywhere else on the site, and it makes more sense to stick with "Create", which we use extensively.

![](https://trello-attachments.s3.amazonaws.com/55a68b70d7448f83e279e7c8/600x495/a99e244265ae5b26539431322028288e/Scr

[2015-07-23 15:48] wisherp opened #3775 "Project Settings - Github does not have "Disconnected Account" message"
Reported on the 0.43 trello board by @NatashaRichter
Link: https://trello.com/c/fgAuc54g/118-project-settings-github-does-not-have-disconnected-account-message

# Steps

1. Navigate to a project on staging
2. Go to your project settings.
3. Disconnect all of your add-on accounts (you'll have to connect them if they weren't all connected).
4. Notice the alerts under the add-on icons.
5. Disconnect

[2015-07-23 15:59] haoyuchen1992 commented on #3481
@GaryKriebel I just checked get-start page on production. It looks like the issue has already been solved. We can close this one now.

[2015-07-23 16:00] wisherp opened #3776 "Amazon S3 account connection success message is different from others"
Reported on the 0.43 trello board by Will Banner
Link: https://trello.com/c/EdQIrIOX/92-amazon-s3-account-connection-success-message-is-different-from-others

# Steps
1. Go to osf.io
2. Go to your user settings.
3. Configure the Amazon S3 Add on.

# Expected
I would get a green message that says "Add on successfully authorized. To link this add on to an OSF project, go to the settings page of the

[2015-07-23 16:01] haoyuchen1992 commented on #3484
@lbanner This fixed PR has been merged. Maybe we could close this one.

[2015-07-23 16:03] haoyuchen1992 commented on #3589
I can work on this one!

[2015-07-23 16:04] lbanner commented on #3484
:+1:

[2015-07-23 16:04] #3484 closed

[2015-07-23 16:07] nicipfeiffer commented on #3481
@GaryKriebel @haoyuchen1992 I am still seeing this:
![screenshot 2015-07-23 12 06 50](https://cloud.githubusercontent.com/assets/9381062/8855495/68df3da2-3133-11e5-912f-683b7c9ee928.png)

[2015-07-23 16:10] brianjgeiger commented on #3057
That's just weird.

[2015-07-23 16:12] samanehsan commented on #2376
This is fixed on production now:
![screen shot 2015-07-23 at 12 11 20 pm](https://cloud.githubusercontent.com/assets/6414394/8855604/05e0038e-3134-11e5-92e6-65fda72f44cd.png)

[2015-07-23 16:12] #2376 closed

[2015-07-23 16:14] samanehsan commented on #1032
The button now says "comment" instead of "save":
![screen shot 2015-07-23 at 12 13 05 pm](https://cloud.githubusercontent.com/assets/6414394/8855659/5f01e7de-3134-11e5-81a0-65c02448257b.png)

[2015-07-23 16:14] #1032 closed

[2015-07-23 16:16] wisherp opened #3777 "Mendeley & Zotero pages should refresh when account is disconnected"
Reported on the 0.43 trello board by Will Banner
Link: https://trello.com/c/pdANJmhE/109-mendeley-zotero-pages-should-refresh-when-account-is-disconnected

# Steps
1. Go to osf.io and log in.
2. Go to you user settings.
3. Configure your mendeley or zotero add on.
4. When you see the green message that says that the account has been connected, disconnect the account.

# Expected
The page would be

[2015-07-23 16:18] lbanner commented on #3481
How might this be resolved visually? Would we expect the left-side navigation to turn into a scrolling overlay? Such that it remains above the footer, but only displays 2-3 items, giving option to scroll for more?

[2015-07-23 17:02] wisherp opened #3778 "Page should update after connecting to Amazon S3 account"
Reported on the 0.43 trello board by @jinluyuan
Link: https://trello.com/c/paXFY0Qz/104-page-should-update-after-connecting-to-amazon-s3-account

# Steps
1. Go to osf.io
2. Go to your user settings
3. Click the "Connect Account" link next to Amazon S3
4. Go through the account connection process

# Expected behavior
I expected that after I successfully connected to my account, the page would refre

[2015-07-23 17:10] samanehsan opened #3780 "Cannot edit comments by clicking on them"
Steps
-------
1) comment on a project
2) hover your cursor over the comment

Expected
------------
I would expect that clicking on the comment text would allow me to edit it in place since the text cursor appears.

Actual
--------
The cursor changes to a text cursor and the comment background highlights, but I cannot edit the comment.

![comment](https://cloud.githubusercontent.com/assets/6414394/

[2015-07-23 17:10] samanehsan commented on #3780
@caneruguz, @haoyuchen1992 could this be a regression from the recent style changes?

[2015-07-23 17:24] lbanner commented on #3778
I believe this was expected functionality for this refactor (?) given the different approach to connection for S3. But considering how to make it function more consistently with others is worthwhile.

[2015-07-23 17:25] jinluyuan opened #3781 "Using keyboard shortcut to open a new tab from Dashboard projects produces red highlight"
### Steps
1. Log into osf.io
2. In your Dashboard, hover over a project
3. Use the keyboard shortcut Cmd + left mouse click to open a new tab for viewing the project
4. Compare this behavior to using the keyboard shortcut to open a new tab for a project file

### Expected behavior
With the keyboard shortcut, I expected that opening a new tab from the Dashboard would be the same as opening a new ta

[2015-07-23 17:26] lbanner commented on #3615
@Johnetordoff Based on discussion and direction here: https://github.com/CenterForOpenScience/osf-style/issues/65 We are good to go on your approach. Thanks.

[2015-07-23 17:34] haoyuchen1992 commented on #3780
@samanehsan I think so. When I changed it, I didn't realize we had such functionality.

[2015-07-23 17:46] #3623 closed

[2015-07-23 17:49] caileyfitz opened #3782 "Google Drive account connection should not yield an alert at top of page"
Reported by @willbanner on the 0.43 Trello board:

# Steps
1. Go to staging.osf.io
2. Go to your user settings.
3. Configure the Google Drive add on.

# Expected
I would get a green message that says "Add on successfully authorized. To link this add on to an OSF project, go to the settings page of the project, enable Amazon S3, and choose content to connect." below the Add on header.

# Actual
Ins

[2015-07-23 17:54] #3521 closed

[2015-07-23 17:59] caileyfitz opened #3783 "Project Overview: Tags have inconsistent color"
Reported by @nicipfeiffer on the 0.43 Trello board:

On the project overview page tags are green:
![green](https://trello-attachments.s3.amazonaws.com/559e79c80f869aa72844e395/581x188/740d84de974b27f834335c459c21dc74/Screenshot_2015-07-09_09.39.16.png)

But on the search page they are blue:
![blue](https://trello-attachments.s3.amazonaws.com/559e79c80f869aa72844e395/600x134/ebaf000c0a38c2ef60a0b12

[2015-07-23 17:59] #3723 closed

[2015-07-23 18:02] WillBanner opened #3784 "[Production and Staging] User Settings Side Nav Bar moves after disconnecting add-ons"
# [Firefox] [Chrome]

Here's the original trello card, though the bug has changed since then- the nav bar does not get stuck.
https://trello.com/c/fypn8RkM/102-chrome-firefox-after-disconnecting-github-or-google-drive-accounts-side-nav-bar-does-not-scroll

# Steps
1. Go to osf.io and log in.
2. Go to your user settings.
3. Go to configure Add-ons
4. Configure the google drive, Github, box, dropbox

[2015-07-23 18:02] caileyfitz opened #3785 "Registrations - Registration supplement text is not properly style (it looks just like a grayed out version of the creation of it)"
Reported by @jinluyuan on the 0.43 Trello board:

# Steps
1. Go to staging.osf.io
2. Go to one of your projects
3. Create a new registration of your project
4. Select one of the "Brandt, et. al" registration types
5. Fill in information for some of the boxes
6. Type in "register"
7. Click "Register now"
8. When the registration is complete, go to view the registration (such as [this one](https://s

[2015-07-23 18:02] caneruguz commented on #3780
@haoyuchen1992 you should first check if that's in fact the case or it's a css thing. If we broke it the solution has to be very simple, if you see yourself having to play with javascript then something else is wrong.

[2015-07-23 18:05] wisherp opened #3786 "Dataverse should display name of Dataverse account user next to the repository"
Reported by @jinluyuan on 0.43 trello board
Link: https://trello.com/c/lzluMd0Y/110-dataverse-should-display-name-of-dataverse-account-user-next-to-the-repository
Testing card: https://trello.com/c/WvbiX4Fu/78-user-settings-connect-dataverse-account

# Issue
In User Settings, Dataverse should display "Authorized on *Repository_Name* by *Dataverse_Account_User*".

![](https://trello-attachments.s3.

[2015-07-23 18:06] #3734 closed

[2015-07-23 18:10] caneruguz commented on #3783
Okay thanks!

We don't need to overextend the idea of uniformity. If we do however and we move to use colors that are more uniform we need to pick something that works well in both of these cases. Also reminder that the unity thereby formed will need to be applied to all future tags.

Uniformity can be accomplished across items and pages. Sometimes these will conflict. We can have all our tags be

[2015-07-23 18:11] caileyfitz opened #3787 "File Detail Page: Revisions table extends past border"
Reported by @nicipfeiffer on the 0.43 Trello board:

## Occurs on ALL browsers
- Occurs when the screen width is decreased (becomes more narrow)
![screen shot 2015-07-23 at 2 05 04 pm](https://cloud.githubusercontent.com/assets/5975444/8858248/60af924c-3144-11e5-8242-aa6340f3f4cb.png)

- Also occurs for registrations
![screen shot 2015-07-23 at 2 06 33 pm](https://cloud.githubusercontent.com/asset

[2015-07-23 18:12] jinluyuan opened #3789 "Wiki menu - Collapsed menu is taller than expanded menu"
![wiki collapse](https://cloud.githubusercontent.com/assets/8591162/8858281/932ef1fe-3144-11e5-9c67-a2f2e21053f2.gif)

This is distracting since it can stretch the height of the page/move the footer down. The very tall collapsed menu also just looks strange with all the blank gray space. It would be best if it were the same height as the standard Treebeard menu.

[2015-07-23 18:17] wisherp opened #3790 "Project Dashboard Page: Widget heights do not align (top)"
Reported by @nicipfeiffer on the 0.43 trello board
Link: https://trello.com/c/wtNK5RwA/151-project-dashboard-page-widget-heights-do-not-align-top

![a](https://trello-attachments.s3.amazonaws.com/55ae6b16ea6efa40c5d53ff4/1317x169/2362344a6c44566ee7fe0bf0c086d576/dashboard_-_height.png)

# Comments:
@caneruguz: So from a technical perspective these two components are not related at all in terms of

[2015-07-23 18:17] caneruguz commented on #3787
Here is the version that I rewrote this table to that Steve vetoed. He is right that we need more discussion on this so I would like to make a case to use "card" style for this information. The card below is the highlighted (i.e. current version), others will be grey.

![b0a7fdae-1f45-11e5-8220-2c795ebfad0b](https://cloud.githubusercontent.com/assets/1314003/8858466/97eab6b4-3145-11e5-8fe9-aa77e35

[2015-07-23 18:23] sloria commented on #3615
I disagree. ISO 8601 is an effective way to display **dates** in a [human-friendly](https://xkcd.com/1179/), non-locale-specific way (keep in mind that we don't localize dates at the moment). **Datetimes** should be displayed as they are on the site now--`YYYY-MM-DD hh:mm A`, using the [FormattableDate](https://github.com/CenterForOpenScience/osf.io/blob/4821e40194bee984849d76a47e9affc8f03caf3d/we

[2015-07-23 18:24] caneruguz commented on #3790
Incidentally I have a proposal for the dashboard page:
https://osf.io/53dnv/

It suggest making these tabs and full page versions with pins that allow users to individually set their preference for the default.

![project_organizer full screen](https://cloud.githubusercontent.com/assets/1314003/8858637/7f46e500-3146-11e5-994f-743036c411c9.png)

[2015-07-23 18:36] caileyfitz commented on #3787
I actually really like it!

[2015-07-23 18:37] jinluyuan opened #3791 "Project overview page's list of contributors can get too large"
The long list of contributors, which doesn't seem to have a limit, can affect the usability of the site since users have to scroll through so many names before getting to the actual content of the project, especially on small screens or mobile.

RPP is a good example of this:

![screen shot 2015-07-23 at 2 03 54 pm](https://cloud.githubusercontent.com/assets/8591162/8858379/1c707d66-3145-11e5-9309

[2015-07-23 18:41] caneruguz commented on #3615
@sloria XKCD does not count as human friendly, sneaky move there though, adding it as a supporting link!

But seriously I don't think you can find good support for ISO 8601 being user friendly method to display dates; which is okay. We have very good reasons to use that style. We support a community of science from all over the world; standardization, ability to render dates in many different comp

[2015-07-23 18:46] caileyfitz opened #3792 "Success alerts should be green"
Reported by @jinluyuan on the 0.43 Trello board:

As the [Style Guide](https://centerforopenscience.github.io/osf-style/style.html#alerts) shows, "success" alerts should be green.

The attached example is from making a new fork from a project with configured add-ons. This kind of discrepancy occurs in other places on the OSF (can discuss in future release)

Alerts were yellow:
![](https://trello-a

[2015-07-23 18:48] wisherp opened #3793 "User & Project Settings - Amazon S3 should have Connect Account link instead of Access & Secret Key input fields"
Reported on 0.43 trello board by @jinluyuan
Testing card: https://trello.com/c/LITno6xe/72-user-settings-connect-amazon-s3-account#

In both User & Project settings when there is not an Amazon S3 account connected, there is no "Connect Account" link next to Amazon S3. Instead, the key input fields are by default visible. This does not match the style of our other add-on settings.

## User Settings

[2015-07-23 18:50] lbanner commented on #3793
Reference #3778 - I think there are anticipated reasons as to why S3 is handled differently, but moving toward consistency is worth noting.

[2015-07-23 18:52] caileyfitz opened #3794 "GitHub is the only add-on that causes the page to refresh after importing account from profile or disconnecting account"
Reported by @jinluyuan on the 0.43 Trello board:

[2015-07-23 18:58] jinluyuan commented on #3784
This happens in other situations in which the Project or User Settings page has to refresh and return to the same place on the page. Difficult to give "steps" to replicate, but we've all encountered this jumpy nav bar.

[2015-07-23 19:00] caileyfitz commented on #3794
Comment from @sloria:

[2015-07-23 19:02] jinluyuan commented on #3477
This also applies to the component registrations.

![screen shot 2015-07-23 at 3 00 21 pm](https://cloud.githubusercontent.com/assets/8591162/8859525/d1c653d8-314b-11e5-8aa0-8677631c07a6.png)

[2015-07-23 19:22] lbanner commented on #3790
The Dashboard project as noted by @caneruguz could be a candidate for next Epic -- So I'm going to tag this with "Hold" for now - Thanks.

[2015-07-23 19:23] Johnetordoff commented on #3765
@nanchen47 Can you assign me to this?

[2015-07-23 19:32] lbanner commented on #3765
Yours!

[2015-07-23 19:34] lbanner commented on #3789
@caseyrollins Is this in your dev realm on this piece-o-functionality?

[2015-07-23 19:44] caseyrollins commented on #3789
@lbanner, I believe the collapsed menu height was set before I changed the menu. I think the intention of the height setting was that it would line up with the height of the other wiki panels, as shown here:
![screen shot 2015-07-23 at 3 39 04 pm](https://cloud.githubusercontent.com/assets/7913604/8860327/0a8bd36e-3151-11e5-9be4-fad73ce50a32.png)

However, this was/is inconsistent with the collaps

[2015-07-23 19:47] lbanner commented on #3786
Noted -- this is/was anticipated functionality, I believe, due to Dataverse approach -- But good to aim for consistency.

[2015-07-23 19:48] lbanner commented on #3789
OK thanks -- Ping @caneruguz on thoughts.

[2015-07-23 19:50] lbanner commented on #3780
@haoyuchen1992 I am assigning to you for first investigate then resolve if able -- If it needs to go to someone else past investigation, let me know.

[2015-07-23 20:00] caneruguz commented on #3789
For the wiki:  This was a bug when we were first developing it and we resolved it before moving to production on the original wiki panel changes. So something has happened to break it in the meantime.

The file detail page: I was not involed with that but i think in that case there isn't any code that is supposed to make it fit the height of the other segments.

Both these can be fixed by making s

[2015-07-23 20:22] haoyuchen1992 commented on #3481
@lbanner I think the reason for this issue is that we don't set a bottom offset for the affix.  If the bottom offset is set, the nav-bar will not down to to the bottom and then it will not overlap with the footer. I will send a fixed PR for this.

[2015-07-23 20:25] #3435 closed

[2015-07-23 20:30] caileyfitz commented on #3621
@lbanner @haoyuchen1992 What about the case where the link is also a fork? There is still a discrepancy in wording:

![link vs fork](https://cloud.githubusercontent.com/assets/5975444/8861378/20b0785a-3158-11e5-94e1-ec46cb548d2c.png)

What should we do in this case?

[2015-07-23 20:34] lbanner commented on #3771
Could this have been traffic/timing? I'd like to see this reproduced before a Dev begins investigating/coding. Thanks.

[2015-07-23 20:36] lbanner commented on #3621
:anguished:

[2015-07-23 20:38] chennan47 commented on #3771
Every page changes means a ajax request to the backend server and front end needs to wait for the answer from the request to build the content. There is not much user and request on staging than production which makes the speed difference. This is totally expected as long as the delay is acceptable. @lbanner I think this issue can either be labeled as defer for later improvement or just close it.

[2015-07-23 20:41] lbanner commented on #3771
I'll close based on your note -- our awareness around Production performance is likely high at present, in any case. Thanks.

[2015-07-23 20:41] #3771 closed

[2015-07-23 20:41] jinluyuan opened #3796 "Broken link to account settings when OSF can't connect to an add-on account"
### Steps
1. Go to osf.io
2. Go to one of your project's Settings page
3. Connect and configure Box, Dropbox, or figshare
4. Go to the website of the add-on you configured
5. Revoke the OSF's credentials
6. Go back to your project's Settings page
6. Review the red error message that appears below the affected add-on

![screen shot 2015-07-23 at 4 23 00 pm](https://cloud.githubusercontent.com/asset

[2015-07-23 20:43] jinluyuan commented on #3621
"Private Linked Fork"

[2015-07-23 20:44] haoyuchen1992 commented on #3621
I just checked the code in render_node.mako. It shows there are four cases. Now it only deal with two.

            %if summary['is_registration']:
                Private Registration
            %elif summary['is_fork']:
                Private Fork
            %elif not summary['primary']:
                Private Link
            %else:
                Private Component
            %endif

[2015-07-23 20:45] caileyfitz commented on #3621
I say we implement what the mako template does. That seems the easiest in terms of decisions because someone already wrote that and had rationale for it

[2015-07-23 20:45] caileyfitz commented on #3621
So just have the files grid implement the same logic?

[2015-07-23 20:46] haoyuchen1992 commented on #3621
@caileyfitz Yes, the logic is implemented in python. So it is a little bit different from mako implementation.

[2015-07-23 20:47] caileyfitz commented on #3621
@haoyuchen1992 Does that mean that you can or cannot have the files grid match the wording in the component widget?

[2015-07-23 20:49] haoyuchen1992 commented on #3621
@caileyfitz Theoretically , I can do that. Because node object should have all the information about a project. But I need spend some time on finding how the information are defined.

[2015-07-23 20:51] haoyuchen1992 commented on #3784
@WillBanner Hi Will, can you replicate this issue again? I tried in both staging and production. It looks fine.

[2015-07-23 21:11] WillBanner commented on #3784
@haoyuchen1992 hmm, I've been able to replicate it.

[2015-07-23 21:42] NatashaRichter opened #3798 "Update collaborative wiki video on "Getting Started" page"
Right now, the video documents the old version of the wiki. It's still a useful video, but if updated, would be completely accurate.

## Screenshot

![old_wiki_video](https://cloud.githubusercontent.com/assets/7093086/8862874/08d8c516-3162-11e5-8f80-570b29e7e070.png)

[2015-07-24 13:58] wisherp opened #3799 "[Staging and Production] New Component: The 'project page' link does not navigate to the main project overview page"
# Steps
1. Go to osf.io
2. Go to a project for which you have admin access
3. On the project overview page, click add component and create a new component
4. Ensure that you are redirected to the component overview page and there is a blue alert message at the top
5. Click on 'project page' link

# Expected
The link would redirect the user to the main project overview page

# Actual
The link just

[2015-07-24 14:06] caileyfitz commented on #3621
@haoyuchen1992 Let me know when this is implemented so we can test the cases where the link is also a fork and a registration!

[2015-07-24 14:39] NatashaRichter commented on #3790
Related to this is: https://trello.com/c/rSWuHsOA/152-project-dashboard-page-widget-heights-do-not-align-bottom

[2015-07-24 15:04] Johnetordoff commented on #3644
@lbanner can we close this?

[2015-07-24 15:08] jinluyuan commented on #3644
@Johnetordoff Closed!

[2015-07-24 15:08] #3644 closed

[2015-07-24 15:14] haoyuchen1992 commented on #3621
@caileyfitz  After the new PR #3803  merged, it will be good to be tested！

[2015-07-24 15:38] chennan47 commented on #3698
Verified with @NatashaRichter, this problem only happens when your github repo is public.

[2015-07-24 16:03] NatashaRichter opened #3804 "User Settings: Long project titles break UI for "Disconnect Account" link for Dataverse, Mendeley and Zotero"
Reported on the 0.43 trello board by @WillBanner

## Steps

1. Log in to osf.io.
2. Create a project with a really long name.
3. Connect the project to the Dataverse, Mendeley, and Zotero add-ons on the project settings page.
4. Navigate to User Settings > Configure Add-on Accounts
5. Scroll down to look at the Dataverse, Mendeley, and Zotero add-ons.
6. Look at the "Disconnect Account" link.

##

[2015-07-24 16:36] NatashaRichter opened #3805 "Change Password empty fields warning has wrong style and looks different across browsers"
Reported on the 0.43 trello board by @jinluyuan
Trello card: https://trello.com/c/cWxRufp5/71-change-password-empty-fields-warning-has-wrong-style-and-looks-different-across-browsers

## Steps

1. Log in to osf.io and head to your User Settings.
2. Click on "Account Settings" in the side navigation bar.
3. Scroll down to the "Change Password" widget.
4. Without filling in any of the fields, click

[2015-07-24 16:37] NatashaRichter commented on #3805
**Comment by @sloria** (from trello board) : @caneruguz What are your thoughts on styling required validation messages ?

Revanth used the native HTML 'required' attribute here.

This raises a more general question of using native form validation/controls vs. using our own implementation (KO-validation or otherwise).

On one hand, native controls leaves styling up to the browser, leading to minor

[2015-07-24 16:46] #3428 closed

[2015-07-24 17:23] haoyuchen1992 commented on #3780
This is because Steve disable the click-edit effect in a PR -[https://github.com/CenterForOpenScience/osf.io/commit/56f886091fd06bce1472aa24e4fe85c0c6f75db8]. But it doesn't clear it up. I just sent the aboved PR for that.

[2015-07-24 18:00] jinluyuan opened #3808 "Profile Information - GitHub input form should not have rounded corners"
### Steps
1. Go to osf.io
2. Go to your user settings page
3. Look at the input form for GitHub

### Expected
I expected that the gray background helper info would connect seamlessly with the input form.

![screen shot 2015-07-24 at 1 51 39 pm](https://cloud.githubusercontent.com/assets/8591162/8881208/195e730e-320c-11e5-9685-dfdbaa7ba94c.png)

### Actual
The GitHub input form has rounded corners

[2015-07-24 19:43] chennan47 commented on #3805
There is also the same problem on the front-end email verification on add unconfirmed email. They are using html input type check which is provided by browser and thus will have different appearance based on different browser.

[2015-07-24 19:55] caneruguz commented on #3792
I don't think this is a matter of what color these alerts should be, it's more of a matter of how to display this type of data in an efficient way.

This many alerts is not acceptable; so maybe combining into a single alert is the answer. In that process we need to decide which alerts can be combined and which should remain separate. When we do this we can accomodate different status types by usin

[2015-07-24 19:56] caileyfitz commented on #3621
@haoyuchen1992 Great - thanks!

[2015-07-24 20:01] caneruguz commented on #3750
@sloria @nanchen47 @haoyuchen1992

Is suggesting that they deauthorize really the correct solution to the problem of not being able to access? It seems like overkill and a hassle for connectivity problems.

What is the suggested text to resolve this solution that can properly apply to all addons and that is a bit more helpful than the Zotero text above?

[2015-07-24 20:16] NatashaRichter opened #3810 "User Settings: Incorrect error message when Amazon S3 credentials not entered"
## Steps

1. Log in to osf.io and navigate to your User Settings.
2. Click on "Configure Add-on Accounts" in the side nav bar
3. Without entering credentials to the Amazon S3 fields, click the "Save" button.
4. Notice the red warning that appears.

## Expected

I expect the error message to say that the Access Key and Secret Key fields are required.

## Actual

The user sees this red error message

[2015-07-24 20:18] caileyfitz opened #3811 "Navigation box in user and project settings become obscured upon zooming out in Safari"
# Steps
1. Log into osf on **Safari**
2. Go to user settings page
3. If on a Mac, hold Command and press the minus sign to zoom out and make more of the page visible
4. Start to scroll down the page and pay attention to the navigation box on the left side of the page

# Expected
I expect that the navigation box would remain on the left side of the page and would scroll appropriately according to c

[2015-07-24 20:29] lbanner commented on #3792
@caneruguz Should that be a proposed Style Guide discussion item?

[2015-07-24 20:33] haoyuchen1992 commented on #3750
Because the add-ons are implemented differently. Dropbox has its own warning logic and messages. For some other add-ons, such Zotero, they are implemented in `folderPickerNodeConfig.js`.  It is only very general warning message and doesn't do the validation check.

The Zotero error example shown above is created by the code [here]( https://github.com/CenterForOpenScience/osf.io/blob/develop/websit

[2015-07-24 20:34] brianjgeiger commented on #3792
Yeah, we need a better system for collecting multiple alerts. It didn't happen with growlbox because it was out of scope at the time, but we knew it was going to have to go in at some point.

[2015-07-24 21:11] haoyuchen1992 commented on #3808
The reason behind this is because we use a btn-group inside a btn-group, which results in the border issues. I change it into use one btn-group.

Here is the result:
![screenshot 2015-07-24 17 08 37](https://cloud.githubusercontent.com/assets/5420789/8884711/dff61462-3226-11e5-985c-02839e23d9ad.png)

If this is OK for every one, I could send a PR for that!

[2015-07-24 21:38] haoyuchen1992 commented on #3784
The replicated the steps:
1. Scroll down to the bottom of the addon
2. refresh the page (disconnect will lead to refresh the page)

Since this is a small and weird bug, Caner suggested to defer it for a while. But it can be assigned to me and I will check it when I have time.

[2015-07-25 15:58] TomHardwicke opened #3817 "adjusting column width in rendered csv file does not reveal clipped content"
# Steps
1. Uploaded a .csv file to my (private) OSF project. One column (stream) contains very long character strings e.g., "['4', '1', '3', '2', '4', '4', '1', '3', '2', '4', '4', '1', '3', '2', '4', '4', '1', '3', '2', '4', '4', '1', '3', '2', '4', '4" etc

2. The content does not fit the column so it has been clipped, see below:

![screen shot 2015-07-25 at 16 48 52](https://cloud.githubusercon

[2015-07-26 18:03] nanchen47 commented on #3233
This pr has been merged and deployed on production.

[2015-07-26 18:03] #3233 closed

[2015-07-26 18:26] nanchen47 commented on #2610
The pr has been merged and deployed on production.

[2015-07-26 18:26] #2610 closed

[2015-07-26 18:28] nanchen47 commented on #2392
The pr has been deployed.

[2015-07-26 18:28] #2392 closed

[2015-07-26 18:31] nanchen47 commented on #2415
The pr has been deployed and the settings page interface has been modified.

[2015-07-26 18:31] #2415 closed

[2015-07-26 18:32] nanchen47 commented on #2543
The pr has been merged and fix has been deployed on production.

[2015-07-26 18:32] #2543 closed

[2015-07-26 18:33] nanchen47 commented on #3646
The fix has been deployed.

[2015-07-26 18:33] #3646 closed

[2015-07-26 18:34] nanchen47 commented on #3680
The pr has been merged

[2015-07-26 18:34] #3680 closed

[2015-07-26 18:35] nanchen47 commented on #3685
The pr has been merged and deployed.

[2015-07-26 18:35] #3685 closed

[2015-07-26 18:35] nanchen47 commented on #3764
The fix has been deployed.

[2015-07-26 18:35] #3764 closed

[2015-07-26 18:37] nanchen47 commented on #2649
The fix has been deployed.

[2015-07-26 18:37] #2649 closed

[2015-07-26 18:38] nanchen47 commented on #2831
The pr already got in.

[2015-07-26 18:38] #2831 closed

[2015-07-26 18:40] nanchen47 commented on #2744
The redirect fix has been merged.

[2015-07-26 18:40] #2744 closed

[2015-07-26 18:44] nanchen47 commented on #2468
This issue is now fixed.

[2015-07-26 18:44] #2468 closed

[2015-07-27 13:28] saradbowman commented on #3157
I have a very similar case on the help desk, but the user is experiencing the problem in Zotero.

Is there an update on this issue?

[2015-07-27 13:29] GaryKriebel commented on #3157
@lyndsysimon .... do you have any insight to a possible fix that could be handed over to an intern?

[2015-07-27 13:37] geeksnglitter opened #3818 "Wiki tab on dashboard only checks home page content"
## Steps
1. Go to a project with a wiki or make a new project
2. Leave your "Home" wiki page without content or delete its content
3. Add another wiki page and add content to it.
4. Go back to your dashboard.
5. See that the wiki section states "No wiki content".

## Expected
I expect to see some acknowledgment that there is existing wiki content.

## Actual
The "Wiki" section of the dashboard say

[2015-07-27 13:48] pattisdr commented on #3057
To start, I ran an identical test to above, creating 26 consecutive nodes and checking the dashboard each time to see what nodes were visible.  This time, everything persisted.

![screen shot 2015-07-27 at 9 47 34 am](https://cloud.githubusercontent.com/assets/9755598/8907511/6f7f23a2-3444-11e5-97e6-4c88b5ba4abe.png)

[2015-07-27 13:48] brianjgeiger commented on #3057
Well, fantastic! Okay, let's consider this closed then.

[2015-07-27 13:48] #3057 closed

[2015-07-27 13:56] samanehsan commented on #2100
@NatashaRichter noticed this happening again on both staging and production.

[2015-07-27 14:12] Johnetordoff commented on #3765
@nicipfeiffer I have replicated this behavior, but it's very inconsistent. I've followed these instructions carefully and I find when this happens it's fixable by simply clicking save changes again. Is this true for you too?

[2015-07-27 14:19] Johnetordoff commented on #3810
@nanchen47 Can I get this one?

[2015-07-27 14:20] caneruguz commented on #3810
@haoyuchen1992 might already be working on this?

[2015-07-27 14:22] haoyuchen1992 commented on #3810
@caneruguz @Johnetordoff  Yes, I started to work it a while ago. I can work on it.

[2015-07-27 14:23] geeksnglitter opened #3820 "[Staging & Producation] Project Organizer Folder Button Message Lag"
## Steps
1. Go to any project.
2. Click the file folder in the upper right corner to add the project to your dashboard.
3. Click it again to remove it from your dashboard.

## Expected
When you are not hovering over the folder icon the "Add to Dashboard Folder" and "Remove from Dashboard Folder" messages would disappear.

## Actual
4.The "Add to Dashboard Folder" and "Remove from Dashboard Folder"

[2015-07-27 14:26] Johnetordoff commented on #3810
No problem

[2015-07-27 14:26] haoyuchen1992 commented on #3420
I can work on it!

[2015-07-27 14:31] Johnetordoff commented on #3804
@nanchen47 can I get this one?

[2015-07-27 14:35] caneruguz commented on #3019
I'm working on upload canceling but I can't replicate this case again. @caileyfitz any further details would help but it looks tought to pin down.

[2015-07-27 14:53] Johnetordoff commented on #3616
@hmoco did you ever successfully set these up? I'm trying now and getting errors from Zotero.

[2015-07-27 15:10] hmoco commented on #3616
@Johnetordoff I never did try to setup Zotero. I did, however, get Mendeley working.

[2015-07-27 15:16] Johnetordoff commented on #3616
@hmoco do you know who would know about setting up Zotero?

[2015-07-27 15:39] brianjgeiger opened #3822 "Rename pointers in v2 API to node_links"
We call `pointers` `links` in the UI, so let's maintain that. However, we don't want to get them confused with JSON API links, so we will call them node_links. This will affect routes, docs, and how we return data.

[2015-07-27 15:44] sloria commented on #3822
+1

[2015-07-27 16:02] haoyuchen1992 commented on #3820
I can work on this, thanks!

[2015-07-27 16:10] #3808 closed

[2015-07-27 16:14] #3738 closed

[2015-07-27 16:22] #3780 closed

[2015-07-27 16:38] Johnetordoff commented on #3782
@GaryKriebel can I get this

[2015-07-27 16:40] caneruguz commented on #1266
@lbanner  @GaryKriebel  This issue has ready tag but the PR was merged. The issue needs to be updated.

[2015-07-27 16:47] caneruguz commented on #1259
@GaryKriebel  As far as I can tell this seems to be fixed, in that components appear after OSF-Storage for the parent project. Can we test and update this issue?

[2015-07-27 16:50] caneruguz commented on #1321
I don't think this is an actual bug.

The way browser behave is that if a container scroll is completed they will move on to parent page scroll, this happens with overflowed divs. In this case once the comment scroll is completed in either direction the scroll continues on the page. The overlap is also normal in this case.

My opinion is that this is not a fix that is required. Any thoughts @GaryK

[2015-07-27 16:57] #3481 closed

[2015-07-27 16:58] #3589 closed

[2015-07-27 16:58] #3700 closed

[2015-07-27 17:14] lbanner commented on #1321
This has some rework in progress in any case, and with your insight @caneruguz, I am closing.

[2015-07-27 17:14] #1321 closed

[2015-07-27 17:17] #1266 closed

[2015-07-27 17:17] lbanner commented on #3782
Done!

[2015-07-27 17:20] lbanner commented on #3820
You got it!

[2015-07-27 18:00] #3536 closed

[2015-07-27 18:02] GaryKriebel commented on #1259
While the files within each addon are alphabetized, the addon order does not seem to be what was expected.

![screen shot 2015-07-27 at 2 01 00 pm](https://cloud.githubusercontent.com/assets/9437946/8913633/1c89d808-3468-11e5-9300-6d39917efefb.png)

[2015-07-27 18:19] lbanner commented on #3817
@icereval ? @mfraezz ? --- Can we look into this as a priority? MFR related? Thanks.

[2015-07-27 18:21] jlcohoon commented on #1259
In my experience, things are often alphabetized in terms of when they are
added. So if you add three add-ons, those are sorted alphabetically among
themselves. Then if you add three more those get sorted alphabetically
*separately.*

On Mon, Jul 27, 2015 at 2:02 PM, Gary Kriebel <notifications@github.com>
wrote:

[2015-07-27 18:24] lbanner commented on #3784
OK

[2015-07-27 18:26] jlcohoon opened #3827 "some search results offer "jump to" but not all"
## Steps
1. Search the OSF for something that will yield many results (try "reproducibility project: psychology")
2. Look at the various results

## Outcome
1. Some projects show a "jump to: wiki | files"
2. Some projects do not show that option, even if they do have a wiki or files uploaded
![screen shot 2015-07-27 at 9 25 08 am](https://cloud.githubusercontent.com/assets/4965832/8914109/553cd77e

[2015-07-27 19:12] caneruguz commented on #1259
Well if we alphabetize OSF storage will not be the first one to show and will not appear above the github as originally pointed out by Nan.

What is the desired behavior? strict alphabetical? OSF first, then alphabetical? OSF first, then compponents, then alphabetical?

[2015-07-27 19:15] caneruguz commented on #1516
@hmoco what's the status on this? The assignment was two months ago.

@lbanner

[2015-07-27 19:17] lbanner commented on #1516
@hmoco ?

[2015-07-27 19:17] caneruguz commented on #1606
@GaryKriebel Any updates on this issue? MFR has seen some changes recently so we might need to test again!

[2015-07-27 19:20] caneruguz commented on #1606
With the new rendering this seems to unlikely repeat as an issue, is that correct?

![screen shot 2015-07-27 at 3 20 16 pm](https://cloud.githubusercontent.com/assets/1314003/8915451/114bc4e6-3473-11e5-9c5b-a7cd2fa0a7c5.png)

[2015-07-27 19:21] GaryKriebel commented on #1606
@caileyfitz .... do you still have the project in question to do a quick test?

[2015-07-27 19:21] GaryKriebel commented on #1606
@caneruguz .... wasn't even thinking of the pdf rendering.... I believe you would be correct.... Let's verify with @caileyfitz

[2015-07-27 19:22] caneruguz commented on #2031
@hmoco what's the status of this issue?

[2015-07-27 19:41] hmoco commented on #2031
@caneruguz This was under my addon refactor. Since that has been pretty much put on hold, I have not worked on this. I was under the assumption this fell under the scope of some of @samanehsan's changes.

[2015-07-27 19:42] hmoco commented on #1516
@lbanner I never got to finish this as this was when I was between projects. I am now working on a bigger project, but can come back to this as soon as that is done, or have it assigned to someone else.

[2015-07-27 19:48] caneruguz commented on #1516
@hmoco Thanks for the update. For future remember that you need to keep these assignments up to date otherwise you are blocking others from tackling things.

[2015-07-27 19:51] lbanner commented on #1516
Ok @hmoco -- I am pulling you off for now. Thanks.

[2015-07-27 19:51] jinluyuan opened #3835 "User Settings - Amazon S3 and figshare display OSF user's name instead of add-on accountholder"
### Steps
1. For all OSF add-ons, ensure that your name is the same (for me, "Jinlu Yuan" is the owner of each account)
2. Log into osf.io or staging.osf.io under a user that does not have the name of your add-on accounts' holder (or you can change the name of your current OSF account to something other than your add-on accounts' name)
3. Go to Account Settings
4. Configure all add-ons
5. Notice t

[2015-07-27 19:53] lbanner commented on #2031
You are right @hmoco -- I am tagging this 'hold' as it is likely to be overcome by Project Settings refactor -- Thanks.

[2015-07-27 19:55] jinluyuan commented on #2031
@caneruguz @hmoco This [Trello card](https://trello.com/c/GgLMwMOf/86-box-and-dropbox-green-success-message-for-connecting-an-account-persists-indefinitely) addresses the issue about the green success message persisting for Box & Dropbox. @samanehsan should be fixing that at some point.

#3786 and #3835 address the problems with "authorized by" inconsistencies.

[2015-07-27 19:56] lbanner commented on #2031
Actually -- strike that, reverse -- This is user settings. It has been recognized that for a number of technical reasons, these inconsistencies will remain. I am keeping this on hold for review in the future.

[2015-07-27 19:57] lbanner commented on #3835
Known issue due to technical obstacles --

[2015-07-27 19:58] hmoco commented on #1516
@caneruguz @lbanner, yep, I should've gotten myself unassigned a while ago, sorry about that, will take a look at my other assignments to make sure everything is up to date

[2015-07-27 20:00] caileyfitz commented on #1606
No longer seeing this issue @GaryKriebel @caneruguz

[2015-07-27 20:01] mfraezz commented on #3817
I think I know what's going on. It's a comma separated value file, and string in *stream* contains commas. Either pandas (the library we use to render .csv's) doesn't ignore commas that are inside quotation marks, or some of the preprocessing we're doing to hide comments from the rendering is messing with the quotes. My guess is the former, but I'll investigate further.

[2015-07-27 20:03] #3309 closed

[2015-07-27 20:04] #1606 closed

[2015-07-27 20:12] Johnetordoff commented on #3783
@lbanner can you put me on this?

[2015-07-27 20:15] lbanner commented on #3783
Done!

[2015-07-27 20:16] lbanner commented on #3817
Thanks @mfraezz -- Tagging you with this.

[2015-07-27 20:27] jinluyuan opened #3837 "File grid's information modal has incorrect information for non-contributors"
### Steps
1. Go to osf.io
2. Go to any public project that has multiple files visible, or any other project in which you only have read access
3. In the Files widget (aka. File grid), click the "i" button
4. Review the information in the modal that appears

### Expected behavior
I expected that the modal would not say anything about "Select Multiple Files" or "Copy Files" since those are not featu

[2015-07-27 20:51] haoyuchen1992 commented on #3703
I can work on this one, Thanks!

[2015-07-27 20:51] nicipfeiffer commented on #3765
@Johnetordoff Yes, I can clear the error message by putting the order back to it's original state or by saving or canceling the changes.  Irregardless, the error is incorrect and should not be showing.

[2015-07-27 21:30] NatashaRichter opened #3839 "User Settings: Align links on Account Settings page"
## Description

Head to your User Settings > Account Settings. Add an alternate email and an unconfirmed email.

Notice how the links "make primary" and "resend confirmation" are not aligned. Also the, "make primary" text is too far from the red "x".

## Screenshots

![make_links_align](https://cloud.githubusercontent.com/assets/7093086/8918172/6a880176-3484-11e5-928f-a6904c5838d5.png)

[2015-07-27 21:47] mfraezz commented on #3817
Correction: we're using the python stdlib csv tools. Turns out, the auto-sniffed dialect being passed to the csv reader, for whatever reason, causes this bug. Using the default dialect (excel) fixes this, and probably doesn't break anything else. I'm going to do a bit more testing first, will have a PR up tomorrow.

<img width="1026" alt="screen shot 2015-07-27 at 17 45 11" src="https://cloud.gith

[2015-07-28 13:11] haoyuchen1992 commented on #3839
I can work on it, Thanks!

[2015-07-28 13:26] lbanner commented on #3839
Done!

[2015-07-28 13:32] haoyuchen1992 commented on #3781
I will look at it, Thanks!

[2015-07-28 13:35] ZobairAlijan opened #3840 "Making NodeLogs list filterable in API v2"
NodeLogs List is currently not filterable in API v2. It would be a good idea to make the NodeLogs List filterable.

[2015-07-28 14:02] jinluyuan opened #3841 "GitHub branch goes back to default (master) in file details page"
### Steps
1. Go to github.com
2. Go to one of your repos for OSF testing
3. Ensure that your GitHub repo has Master as its default branch (check in Settings)
4. Create a new branch
5. Upload a file into the new branch
6. Go to osf.io
7. Go to one of your projects that has GitHub enabled and configured
8. In project settings, ensure that the relevant GitHub repo is connected
9. Go to the project's

[2015-07-28 14:42] chennan47 commented on #3248
This problem may be caused by old bad data in staging server and can't repo anymore.

[2015-07-28 14:42] #3248 closed

[2015-07-28 14:54] mfraezz commented on #3817
So the actual problem, at least with my attempt to reproduce this issue, is that with so many single-quote chars (wrapping the items in the *stream* array), the sniffer detects ' to be the quotechar, rather than ", which is wrapping the entire cell.

@TomHardwicke could you please email (matt@cos) or provide me a link to the csv in question? I just want to confirm that the formatting is the same b

[2015-07-28 15:00] samchrisinger commented on #3591
Looking at the code, it's unclear exactly why this is happening. The original architecture and supporting test cases are designed to send only one email for both successes and failures.

Until we have a non-anecdotal case where we can reproduce this behavior, I feel that no action is needed here.

[2015-07-28 15:14] Johnetordoff commented on #3782
@caileyfitz I'm not getting the this alert, could you check this? I rummaged through the code as well and couldn't find that message.

[2015-07-28 15:24] caileyfitz opened #3844 "Too little spacing for GitHub buttons on project settings"
Enable and configure GitHub for a project and then decrease screen width:
![screen shot 2015-07-28 at 10 37 20 am](https://cloud.githubusercontent.com/assets/5975444/8935528/30c26624-351b-11e5-8036-1f88e8133de9.png)

There should be more spacing between the buttons and the dropdown menu.

[2015-07-28 15:33] caileyfitz commented on #3782
@Johnetordoff Hmm... I am not seeing this either. We might wait until @willbanner can try to repo this since he filed the issue initially.

[2015-07-28 15:39] #3810 closed

[2015-07-28 15:46] Johnetordoff commented on #3630
@lbanner should I go ahead with this?

[2015-07-28 16:03] haoyuchen1992 commented on #3837
I just checked it and tried to show the text conditionally. However, since the file tree is created by fangorn.js, there is no specific parameter which tells whether a visitor is contributor or not.  To make it simple, should we apply easy alternative way to show the difference? For example, add text "Only for project contributor" or else:
![screenshot 2015-07-28 11 45 57](https://cloud.githubuser

[2015-07-28 16:04] haoyuchen1992 commented on #3844
I can work on it, Thanks!

[2015-07-28 16:21] lbanner commented on #3844
Done!

[2015-07-28 16:23] jinluyuan commented on #3837
@haoyuchen1992 I think that's a good idea.

@lbanner @GaryKriebel What do you think of this rewrite? This will also cover the issue with users not knowing that folders have to be expanded in order to download as zip.

I combined the Select Rows and Select Multiple Files information since they're so related. Also, I de-capitalized the bold text.

At the very least, we should go with adding the info

[2015-07-28 16:57] jinluyuan commented on #3630
If the purpose behind making these two buttons into a button group was to minimize the amount of individual buttons, then I would say that it makes more sense for the Add to Dashboard button and Watch button to be in a button group. Otherwise, three individual buttons works!

[2015-07-28 16:58] lbanner commented on #3630
@Johnetordoff -- Yes -- can you post screenshot of proposed change in buttons/UI when you have it? Thanks.

[2015-07-28 17:17] NatashaRichter opened #3848 "Too little spacing for links in Add Links modal"
## Description

Navigate to one of your projects and from the Overview page, click on the "Add Links" button. Notice the links in the modal.

More space is needed between the links and the "Results" and "Adding" headers.

## Screenshot

![add_links_need_more_space](https://cloud.githubusercontent.com/assets/7093086/8936973/6c33d014-3523-11e5-8940-f0c237fb1c05.png)

[2015-07-28 17:22] #3827 closed

[2015-07-28 17:49] chennan47 commented on #3848
![screen shot 2015-07-28 at 1 47 32 pm](https://cloud.githubusercontent.com/assets/4974056/8938918/713b4018-352f-11e5-8827-504cbfb700e4.png)
All those modals have the same spacing. Doesn't seems a problem to me.

[2015-07-28 17:55] HarryRybacki commented on #3293
@GaryKriebel @lbanner I think this was resolved in PR #3742

[2015-07-28 18:04] nanchen47 commented on #1835
The dataverse widget is removed on registration project.

[2015-07-28 18:04] #1835 closed

[2015-07-28 18:10] sloria commented on #3612
I think we can simplify the language even further:

[2015-07-28 18:19] NatashaRichter opened #3849 "Project Overview page: Add underline to link in blue warning"
## Description

Navigate to a private project with a public Github repo connected to it. Look at the blue warning at the top of the project's overview page and notice the link (hard to see because not underlined). Then, create a new component on the project. Look at the blue warning at the top of the component's overview page and notice the link (underlined). I also looked at an old registration o

[2015-07-28 18:24] NatashaRichter commented on #3612
@sloria Thanks--I like the much more simplified language. :+1: For more info, users can always head to the Getting Started page anyway.

[2015-07-28 18:42] chennan47 commented on #3849
This looks more like a bug that the first one warning about github should have a under line.

[2015-07-28 18:48] sloria opened #3850 "Go/nogo for 0.44.0"
CHANGELOG: https://github.com/CenterForOpenScience/osf.io/blob/develop/CHANGELOG
Trello: https://trello.com/b/DrX9LWgK/0-44 and https://trello.com/b/miD3iWB7/mark-up-rendering

@JeffSpies @lbanner @GaryKriebel @caileyfitz

[2015-07-28 18:48] sloria commented on #3850
Note for deployment: `/tmp/mako_modules` should be cleared in order for the new mako filters to take effect.

[2015-07-28 18:49] sloria commented on #3850
Most cards seem to be through. I am a "go" with QA's "go".

[2015-07-28 18:50] abought opened #3851 "Wrong/unclear error code for email validation in Safari"
## Description
If a user attempts to add an invalid email address in Safari (via `/settings/account/`), they will not be warned on the front end. They will see a growl box with a vague error message, and a 500 error in the console.

<img width="786" alt="screen shot 2015-07-28 at 2 45 41 pm" src="https://cloud.githubusercontent.com/assets/2957073/8940348/5d522e88-3537-11e5-965a-07542e10f124.png">

[2015-07-28 18:51] NatashaRichter commented on #3849
Thanks @chennan47, I will edit the title of this issue accordingly.

[2015-07-28 18:52] lbanner commented on #3850
Ahead on this one! You have my "GO" w/QA's sign off on Mark-up Safe and File-Source-View. Thanks!

[2015-07-28 18:53] GaryKriebel commented on #3850
Apparently I was already talking with QA when you put out the call.  Things are running smooth with them and with their Go, I'm a Go.

[2015-07-28 18:54] lbanner commented on #3293
Yes -- resolved -- Closing, and thank you.

[2015-07-28 18:54] #3293 closed

[2015-07-28 18:55] sloria commented on #3850
Another note for deployment: This will require a waterbutler release. @icereval @chrisseto

[2015-07-28 18:59] caseyrollins opened #3852 "File Tag UI"
The implementation of file tagging ([WIP PR here](https://github.com/CenterForOpenScience/osf.io/pull/3113)) will require adding another UI element to the file detail page. From discussion with @JeffSpies, the two options that would integrate best with our existing functionality on the page would be to either have the tag box above or below the file navigation tree (shown in the first screenshot),

[2015-07-28 19:03] jlcohoon opened #3853 "merging accounts after removal of add-ons fails"
On staging—haven't tested with production.
To test this, you need two accounts: one primary (the one that will be merged into) and one alternate (the one that is being merged into the primary).
## Steps
1. Prior to initiating the merge process, using your alternate account, add an add-on to a project.
2. Remove the add-on from the project.
3. From your primary account, visit Account Settings and e

[2015-07-28 19:04] caileyfitz commented on #3621
@haoyuchen1992 I just took a look at this, and it seems like now there are different icons in the file grid. Not sure what gets a box icon vs folder icon though:

![screen shot 2015-07-28 at 3 03 59 pm](https://cloud.githubusercontent.com/assets/5975444/8940813/e8fa0774-3539-11e5-925b-1c38010d6a75.png)

Is this intended?

[2015-07-28 19:05] jlcohoon commented on #3853
I just tried to merge t845x into xh8t5

[2015-07-28 19:06] caseyrollins commented on #3852
I've also looked into how other storage services handle adding tags to files -- out of Dropbox, GitHub, Google Drive, and Box, Box is the only service that offers file tagging. The gif below shows the process of adding a file tag in Box.

[![Gyazo](http://i.gyazo.com/170d4c6b726bba47d25ad18dbd747e83.gif)](http://gyazo.com/170d4c6b726bba47d25ad18dbd747e83)

[2015-07-28 19:06] caseyrollins commented on #3852
ping @JeffSpies

[2015-07-28 19:07] NatashaRichter commented on #3848
Ah okay, thanks @chennan47 I was looking at links in other places, but they are consistently spaced within modals, as you wrote. Still might look nicer to add a little bit of space between the link and headers in modals, but it's not a big issue. We can close if you like or leave it for discussion.

[2015-07-28 19:08] caileyfitz commented on #3850
What else are we putting in 0.44?

[2015-07-28 19:13] chrisseto commented on #3850
I'm a go with QA's go.
Only concern is @HarryRybacki's S3 encryption PR was merged only on the waterbutler side.
The changes shouldn't affect anything and it's been on staging for while now with no issues.

[2015-07-28 19:18] JeffSpies commented on #3852
@caneruguz @bnosek @saradbowman Can you comment on this when you get a chance? Thanks!

[2015-07-28 19:22] JeffSpies commented on #3850
@icereval, thoughts on Harry's PR? @HarryRybacki, thoughts? I'd like to
hear from them on this as well.

On Tue, Jul 28, 2015 at 3:13 PM, Chris Seto <notifications@github.com>
wrote:

[2015-07-28 19:22] GaryKriebel commented on #3850
@chrisseto does that need the OSF portion to fully utilize S3 and therefore not actually encrypt anything?

[2015-07-28 19:23] saradbowman commented on #3852
I'd vote for putting the tags on the right side (@caseyrollins' second screenshot) because they're on the right on the project overview page. That also separates things associated with this file (revisions + tags) on the right from actions to get to another file (file tree) on the left.

[2015-07-28 19:23] bnosek commented on #3852
Definitely above revisions.  In using the file viewer page, it is most natural to bounce around the tree on the left a bit to see different files (separate issue, it would actually be useful to be a bit wider to see the full file names, many get cut-off).

Having tags above revisions makes sense because neither need to be in the viewer's face as a default.  They are viewable when the person toggle

[2015-07-28 19:25] GaryKriebel commented on #3852
FWIW, I agree with @saradbowman and @bnosek .... putting it on the right constrains actions/descriptions for that file on one side and navigation to all files on the other.

[2015-07-28 19:25] caileyfitz commented on #3850
Does that need QA @GaryKriebel? We have not tested S3 functionality specifically.

[2015-07-28 19:26] lbanner commented on #3852
+1 on the above discussion ... right side appears most appropriate.

[2015-07-28 19:26] GaryKriebel commented on #3850
That's what I was trying to ascertain.  We'll await input from @HarryRybacki and company.

[2015-07-28 19:27] HarryRybacki commented on #3850
@JeffSpies The OSF encryption PR #3812 is dependent on the location based bucket creation PR #3363 -- both of which have been tested and are good-to-go from my standpoint however neither have gone through QA

I'm not sure what the reason for not upgrading boto/boto beyond 0.31 was. I still have an [open PR](https://github.com/boto/boto/pull/3254) against boto/boto to add the final bucket location

[2015-07-28 19:27] chrisseto commented on #3850
The S3 encryption PR does nothing without the corresponding PR on OSF. It's been on staging for ~2 weeks now and does not change the existing S3 functionality at all.

[2015-07-28 19:28] caseyrollins commented on #3852
Follow-up question, does "Information" make sense as the new title for that panel? Or would a title such as "More Information" or "More Actions" be more descriptive?

[2015-07-28 19:28] HarryRybacki commented on #3850
There shouldn't be any problem if the S3 PRs for the OSF side are not merged until .45 -- them not being there will not break anything with WB.

[2015-07-28 19:29] lbanner commented on #3850
So -- no obstacle to deploying w/0.44.0 -- and following with the OSF side of things in next release, post passing thru QA? -- sounds right.

[2015-07-28 19:30] HarryRybacki commented on #3850
@lbanner +1 for me

[2015-07-28 19:30] bnosek commented on #3852
How about "File Info"

On Tue, Jul 28, 2015 at 3:28 PM, Casey Rollins <notifications@github.com>
wrote:

[2015-07-28 19:31] lbanner commented on #3848
@NatashaRichter and @nanchen47 If OK, I will close this for now -- for greater consideration, we might consider a StyleGuide submission/proposal (?). Thanks!

[2015-07-28 19:31] #3848 closed

[2015-07-28 19:32] chrisseto commented on #3850
Sorry, concern might have been the wrong word. There's no reason that it would affect anything; I just wanted to inform everyone that it had been merged.

[2015-07-28 19:39] jinluyuan commented on #3621
@caileyfitz These different private icons are covered in issue https://github.com/CenterForOpenScience/osf.io/issues/3619. Basically, the Private Components with project icons are *actually* projects (or components in the "project" category).

[2015-07-28 19:40] brianjgeiger opened #3854 "Create Node Children POST"
We should be able to add a new node as a child to an existing node. Probably the best place to do that is `POST /nodes/{node_id}/children/`. Should use the same serializer as the `POST /nodes/` endpoint.

[2015-07-28 19:47] brianjgeiger opened #3856 "V2 API Fork functionality"
For complete functionality, we will need to be able to fork projects and get a list of forks. This will involve

`GET /v2/nodes/{node_id}/forks/`
`POST /v2/nodes/{node_id}/forks/`

as well as adding a relation link for the forks inside the node.

[2015-07-28 20:05] jlcohoon opened #3857 "email content about removal of alternate account is incorrect"
## Steps
1. Ensure that you have an alternate email linked to your account
2. From Account Settings, click the 'x' next to the alternate email to remove it.

## Outcome
1. The alternate email receives an email that reads:
...I just wanted to let you know, the email address [alternate email] has been removed from your account. For security purposes, a copy of this message has also been sent to you

[2015-07-28 20:28] jinluyuan opened #3858 ""View File" tooltip for Dataverse should not exist"
### Steps
1. Go to osf.io or staging.osf.io
2. Go to one of your projects
3. Enable and configure Dataverse for your project
4. Ensure that your connected Dataverse has files in it
5. Go to the files widget in the project overview page or the Files page
6. Hover over a file in Dataverse
7. ~~Try to open the file in a new tab or window~~

### Expected behavior
I expected that files in Dataverse wou

[2015-07-28 20:30] caneruguz commented on #3852
I also agree with the top right on this decision. I have been suggesting to people working on any aspect of this file detail page that the right column should be a more all-encompassing action and revision list so I'm glad we are moving in that direction.

I think "File Info" is good, my only concern is whether using Info sounds too colloquial. Another option could be "Details".

[2015-07-28 20:41] brianjgeiger commented on #3042
This may interact with the things happening in #3072

[2015-07-28 20:53] GaryKriebel commented on #3850
@chrisseto .... it is good to point these things out.  Thanks for the clarification.

[2015-07-28 20:54] bnosek commented on #3852
details is good

On Tue, Jul 28, 2015 at 4:30 PM, Caner Uguz <notifications@github.com>
wrote:

[2015-07-28 22:17] caneruguz commented on #3781
@GaryKriebel can you assign me to this? Thanks!

[2015-07-28 23:17] JeffSpies commented on #3850
So is Harry saying it shouldn't be merged?

On Tuesday, July 28, 2015, Gary Kriebel <notifications@github.com> wrote:

--
Sent from mobile.

[2015-07-29 00:16] lbanner commented on #3850
No ... @HarryRybacki is indicating no problem with the WB side of encryption.

[2015-07-29 00:35] GaryKriebel commented on #3850
Correct. The OSF PRs will control the use of encryption and since those PRs were not merged the Waterbutler side will not be enacted even those that portion is merged.

At least that is my understanding.

[2015-07-29 00:44] richardotis commented on #839
Authorea allows syncing article data to GitHub repos now: https://www.authorea.com/users/3/articles/17235/_show_article

It's possible to edit the file on OSF and propagate the changes back to GitHub, and ultimately back to Authorea, though it's not as nice as editing the rendered paper on the regular Authorea site.

[2015-07-29 03:25] #1142 closed

[2015-07-29 09:05] TomHardwicke commented on #3817
I have e-mailed you the csv file Matt - thank you for looking into this.

[2015-07-29 12:33] HarryRybacki commented on #3850
I'm saying that the WB S3 PR has been merged and that it will be regardless of whether or not the OSF S3 PRs are merged. The OSF S3 PRs have not been through QA and subsequently should wait for 0.45 if 0.44 is being released now.

[2015-07-29 13:00] JeffSpies commented on #3850
I looked at the S3 commit in Waterbutler, and it looks fairly innocuous
with the exception of one line that could cause problems.

Just because it's been on staging for two weeks doesn't mean it's
production ready--it sounds like QA hasn't specifically been working with
S3 to know.

To be fair to the process, that code--the one file--should be reverted.

I'm a no-go.

On Wed, Jul 29, 2015 at 8:33

[2015-07-29 13:14] chrisseto commented on #3850
@JeffSpies What line?

[2015-07-29 13:14] lbanner commented on #3850
@chrisseto @icereval  --- I believe it is the S3 encryption PR -- Can we revert that  in WB? What are difficulties or implications?

[2015-07-29 13:18] JeffSpies commented on #3850
https://github.com/CenterForOpenScience/waterbutler/blob/e5c415cfdbcfd47e252b5747fb4ca9d69dae91f7/waterbutler/providers/s3/provider.py#L151

On Wed, Jul 29, 2015 at 9:14 AM, LarryB <notifications@github.com> wrote:

[2015-07-29 13:21] chrisseto commented on #3850
@JeffSpies https://github.com/chrisseto/boto/blob/develop/boto/s3/key.py#L632
`encrypt_key` defaults to `False` and `encrypt_uploads` will always be `False` until the OSF side gets merged.

[2015-07-29 13:30] JeffSpies commented on #3850
I understand what it does, but it doesn't matter. What if something in the
chain doesn't recognize that keyword argument? Or the Python boolean isn't
serialized appropriately? Many scenarios not worth even thinking about. We
have a process; this isn't it.

On Wed, Jul 29, 2015 at 9:21 AM, Chris Seto <notifications@github.com>
wrote:

[2015-07-29 13:38] sloria commented on #3850
QA is doing a regression test for S3 now.

[2015-07-29 13:39] JeffSpies commented on #3850
That seems incredibly wasteful for one line of code.

On Wed, Jul 29, 2015 at 9:38 AM, Steven Loria <notifications@github.com>
wrote:

[2015-07-29 13:40] chrisseto commented on #3850
@sloria I'll just pick the commit out of the release branch.

[2015-07-29 13:41] sloria commented on #3850
QA estimates 5 minutes to finish the test.

[2015-07-29 13:42] JeffSpies commented on #3850
How many people testing?

We'll talk in person soon.

On Wed, Jul 29, 2015 at 9:41 AM, Steven Loria <notifications@github.com>
wrote:

[2015-07-29 14:03] mfraezz commented on #3817
Thanks. Formatting was a bit different, but I generalized it better with regular expressions. Now your data is rendering properly for me:
<img width="875" alt="screen shot 2015-07-29 at 09 59 23" src="https://cloud.githubusercontent.com/assets/5659262/8959414/bb9998d6-35d8-11e5-8efd-89ea426afe26.png">

[2015-07-29 14:05] caileyfitz commented on #3850
I think that https://github.com/CenterForOpenScience/osf.io/pull/3803 needs to be merged and tested before we release 0.44 since its accompanying (yet not comprehensive) PR was merged. See my comment on the PR linked above.

[2015-07-29 14:07] jlcohoon opened #3862 "update and redirect "about" information"
From a conversation regarding: https://github.com/CenterForOpenScience/community/issues/294

* osf.io/about should redirect to osf.io/4znzp/wiki/home/
* osf.io/howosfworks/ should redirect to osf.io/getting-started/
* until further updates to the actual content of the "about" OSF project (4znzp), "About" should be removed from the header navigation and footer of the OSF

[2015-07-29 14:16] saradbowman commented on #3157
ping @lyndsysimon

[2015-07-29 14:28] Johnetordoff commented on #3630
How's this?
![screen shot 2015-07-29 at 10 27 38 am](https://cloud.githubusercontent.com/assets/9688518/8960123/7e9a3a5e-35dc-11e5-8cd9-22ebba5e44d5.png)

[2015-07-29 14:48] XTech2K commented on #3784
The exact same thing happens with the sidebar on the project settings page as well, so if you fix this one, make sure to fix that one as well.

![screen shot 2015-07-29 at 10 50 35 am](https://cloud.githubusercontent.com/assets/5955359/8960703/55482d3e-35df-11e5-8556-d9a89cf8622a.png)

[2015-07-29 14:52] caneruguz commented on #2348
@lbanner I sent a PR related to this issue.

[2015-07-29 14:53] Johnetordoff commented on #3849
@nanchen47 can I get this?

[2015-07-29 14:54] XTech2K commented on #3784
Also, this might be different enough to warrant its own issue, but if you reload the page while anywhere besides the bottom section or very top of the page, the sidebar shrinks horizontally, only looking normal when scrolled to the top of the page.

![screen shot 2015-07-29 at 10 56 13 am](https://cloud.githubusercontent.com/assets/5955359/8960884/207dc1da-35e0-11e5-8ba9-d05fffdf87e4.png)

[2015-07-29 15:20] caileyfitz commented on #3019
@caneruguz Now that we have parallel file uploads, I am no longer seeing this issue, so I am going to close this.

[2015-07-29 15:20] #3019 closed

[2015-07-29 15:21] caneruguz commented on #3019
Okay I also sent a fix to improve cancel upload consistency so hopefully this will take care of things.

[2015-07-29 15:22] caileyfitz commented on #3019
@caneruguz Great, thanks!

[2015-07-29 15:44] #3849 closed

[2015-07-29 16:15] Johnetordoff commented on #3858
@lbanner Can I get on this?

[2015-07-29 16:18] jinluyuan opened #3867 "Modify add-on icons in user & project settings"
The current icons have fuzzy quality because they have been resized through css.

![screen shot 2015-07-29 at 11 06 21 am](https://cloud.githubusercontent.com/assets/8591162/8961220/ecf06b0e-35e1-11e5-8b5f-fb1d8a095e4a.png)

Furthermore, some of the icons differ from what the official, company-sanctioned trademarks should be. This really only applies to Dropbox and Box, but I've listed out all the

[2015-07-29 16:19] #3612 closed

[2015-07-29 17:19] JeffSpies commented on #3852
+1

On Tue, Jul 28, 2015 at 4:54 PM, Brian Nosek <notifications@github.com>
wrote:

[2015-07-29 17:28] jinluyuan opened #3868 "Onboarder project search's timestamp should turn lighter color upon hover"
Hovering over a project results in a blue background in the row. The name of the project becomes white, but the "modified" timestamp stays dark gray. The small, dark gray text on a blue background makes it difficult to read the timestamp without hovering off of it.

![screen shot 2015-07-29 at 1 22 53 pm](https://cloud.githubusercontent.com/assets/8591162/8964703/338f32d0-35f5-11e5-9ba3-d5c5ad9e21

[2015-07-29 17:35] chennan47 commented on #3868
The purpose of the timestamp is to help user to identify two projects with the same name altho timestamp does not seem to be the best solution but it is what we have now. The information is useful before u select it rather than you already select one.

[2015-07-29 17:42] jinluyuan commented on #3868
@chennan47 I don't have a problem with the timestamp. I would just prefer it become a lighter gray or white when I hover over it, so I can read it easier. This is a small style issue.

[2015-07-29 17:54] Johnetordoff commented on #3858
@jinluyuan the right click functionality isn't tied to the tooltips currently. The other addons can't open a new tab from right click either.

[2015-07-29 17:58] sloria commented on #3858
That tooltip is unnecessary. I think we should remove it there and for all addons.

[2015-07-29 17:59] sloria commented on #3858
Ah, read the "Expected" section after posting my previous comment; sorry for the redundancy. So yes, go with Jinlu's suggestion on the expected behavior.

[2015-07-29 18:05] Johnetordoff commented on #3858
It also says  "All files in other storage add-ons are able to be opened in a new tab." I don't get that behavior, so I'm confused. But I've removed the tooltip,

[2015-07-29 18:09] jinluyuan commented on #3858
@Johnetordoff Are you sure you can't get them to open in new tabs? I'm not claiming that clicking on a file opens a new tab. I am saying that I *can* open them in a new tab, either by right clicking or by Cmd + click.

[2015-07-29 18:14] Johnetordoff commented on #3858
I can't right clicking doesn't give the option, Cmd + click actually produces the following error:
![screen shot 2015-07-29 at 2 12 56 pm](https://cloud.githubusercontent.com/assets/9688518/8965838/0190a488-35fc-11e5-989f-9c5b10248a54.png)
I'll test this bit it probably something wrong I'm doing.

[2015-07-29 18:15] jinluyuan commented on #3858
@Johnetordoff I'll meet with you about this

[2015-07-29 18:38] jinluyuan commented on #3868
@chennan47 I see what you mean that the information is useful before selecting rather than after, but hovering over a project does not mean I have already selected it. A lot of people hover over items in a list or point their mouse at each row in order to keep track of where they are in the list.

[2015-07-29 18:50] NatashaRichter opened #3870 "Settings tab viewable on component registration"
## Description

A week ago, I registered one of my components (Almond), which is a child of the parent project, Walnut. When I click into the registration of the component, I see a "Settings" tab and can click into it, as well.

## Expected behavior

I would expect to only see a settings page on a parent registration to retract registration. However, since you can't retract a component's registrat

[2015-07-29 18:51] NatashaRichter commented on #3870
@HarryRybacki

[2015-07-29 18:54] jinluyuan opened #3871 "Delay after clicking Save button and actual save needs some kind of loading indicator"
### Steps
1. Go to staging.osf.io
2. Go to one of your account settings
3. Change any field in your Profile Information
4. Click the Save button
5. Notice the delay between clicking Save and the green "Settings updated" text appearing

### Expected behavior
I expected that while there's a delay between clicking Save and actually saving, I would get some indication that my changes were being proces

[2015-07-29 19:06] wisherp opened #3872 "Project Settings: 'Configure Notifications' link in the side navbar is broken"
# Steps
1. Log in to osf.io
2. Go to a project for which you have admin access
3. Click on the Settings tab
4. On the left nav-bar, click on 'Configure Notifications'

# Expected
The link would be highlighted and the page would scroll just above the header

# Actual
'Configure commenting' link is highlighted when 'Configure Notifications' is clicked and the page scrolls to the middle

![cannot cli

[2015-07-29 19:20] Johnetordoff commented on #3872
@wisherp I actually caused this as part of this PR, #3642.
It's not really a bug it just defaults to the last box on the bottom of the page, it doesn't happen if the font is big enough.

[2015-07-29 19:23] caneruguz commented on #3781
@GaryKriebel a fix is submitted for this one.

[2015-07-29 19:24] chennan47 commented on #3872
@Johnetordoff can you fix that problem and also there is some other problem about that panel on my mac. So when I click on the "Configure Project",
It's like
![screen shot 2015-07-29 at 3 22 23 pm](https://cloud.githubusercontent.com/assets/4974056/8967563/a4cfe862-3605-11e5-9ccf-6ef8f8a2a298.png)
When I click on anything else on that table. It's like:
![screen shot 2015-07-29 at 3 23 17 pm](https

[2015-07-29 19:26] Johnetordoff commented on #3872
@nanchen47 I'll take a look at the width issue.

[2015-07-29 19:53] sloria commented on #3862
@lbanner @GaryKriebel At what stage of the proposal process is this? Is this ready for implementation + QA, or are we holding for feedback?

[2015-07-29 19:55] jlcohoon commented on #3862
For context, said conversation was part of the triage meeting Monday morning.

[2015-07-29 19:58] lbanner commented on #3862
I think w/ @jlcohoon's go on this, we are good.

[2015-07-29 19:58] sloria commented on #3850
OK, the S3 code has been pulled out of waterbutler `develop`. A PR for the issue Cailey posted above is here: https://github.com/CenterForOpenScience/osf.io/pull/3803 . It will be merged once the build is passing.

Plan is to release waterbutler ( @chrisseto ) and OSF at around 10pm.

Re-ping: @JeffSpies @lbanner @GaryKriebel @caileyfitz @chrisseto

[2015-07-29 20:00] HarryRybacki commented on #3870
@lbanner @GaryKriebel please assign me

[2015-07-29 20:04] lbanner commented on #3850
Good ... GO ...

[2015-07-29 20:15] GaryKriebel commented on #3850
Go Flight

[2015-07-29 21:25] JeffSpies commented on #3850
Go.

On Wed, Jul 29, 2015 at 4:15 PM, Gary Kriebel <notifications@github.com>
wrote:

[2015-07-30 01:45] caseyrollins opened #3875 "[staging & production] Registering a project from dashboard creates incorrect URL"
#### Steps
1. Go to 'My Dashboard'
2. Expand the 'Register a Project' panel on the right and search for a project to register.
3. Click 'Continue Registration'
4. Select any of the registration templates.
5. Take note of the extra ```/``` in the URL you are redirected to.

#### Expected
* The URL I am redirected to looks like this ```https://osf.io/rptde/register/Open-Ended_Registration```

#### A

[2015-07-30 02:14] sloria commented on #3850
@caileyfitz 's "go" given on Flowdock

[2015-07-30 02:15] lbanner commented on #3850
:rocket:

[2015-07-30 02:33] sloria commented on #3850
R

[2015-07-30 02:33] #3850 closed

[2015-07-30 12:51] #3621 closed

[2015-07-30 12:57] jinluyuan commented on #3872
[Relevant Trello card](https://trello.com/c/dXX6OioD/51-match-style-of-all-side-nav-bars-getting-started-faq-public-activity-user-settings-project-settings)

The second issue is not a bug with the implementation. It's just that these two sections are too close to the bottom so there isn't a proper way to put them up. When the content is long, like there are a lot of notification boxes then it will

[2015-07-30 13:11] #3858 closed

[2015-07-30 13:31] Johnetordoff commented on #3421
@sloria should we close this one, or is there a work around?

[2015-07-30 13:33] Johnetordoff commented on #3871
@nanchen47 can I get on this?

[2015-07-30 13:39] lbanner commented on #3871
Done!

[2015-07-30 13:42] lbanner commented on #3421
My sense = simpler (and more conservative re: possibly prior concerns) solution is to leave as is, noting "resource" -- So I'll close this for now.

[2015-07-30 13:42] #3421 closed

[2015-07-30 13:57] saradbowman opened #3878 "View-on links should open in new tab"
Clicking a view-on link to open a file stored on Github, figshare, or Google Drive opens the file in the current window.

It would be helpful if the file opened in a new tab, so it was easier for a user to return to the OSF when done viewing the file on 3rd party storage.

[2015-07-30 14:19] jinluyuan opened #3879 "Some buttons are inconsistent with OSF style"
## Amazon S3 project settings
Clicking the Create button prompts the user to enter a new bucket name. The blue button should say "Confirm", not "OK". [Style guidelines](https://centerforopenscience.github.io/osf-style/style.html#buttons)

![screen shot 2015-07-30 at 9 43 25 am](https://cloud.githubusercontent.com/assets/8591162/8984422/87efe090-369f-11e5-88a4-65fc8716133b.png)

Entering an invalid

[2015-07-30 14:22] jinluyuan opened #3880 "Project Settings > GitHub "Create Repo" button is broken"
### Steps
1. Go to osf.io
2. Go to one of your projects
3. In project settings, enable and configure GitHub
4. Click the Create Repo button next to the repo names

### Expected behavior
I expected to be able to create a new repo.

### Actual behavior
Nothing happens when I click the button.

Error console:
![screen shot 2015-07-30 at 10 21 27 am](https://cloud.githubusercontent.com/assets/8591162/

[2015-07-30 14:24] NatashaRichter commented on #3879
@jinluyuan Update on button capitalization: https://github.com/CenterForOpenScience/osf-style/issues/71

[2015-07-30 14:28] jinluyuan commented on #3879
@NatashaRichter Oh I didn't realize that Lauren's issue covered the buttons too.

Since the button case is still being worked on, most of that part of my issue can be ignored for now.
However, "Try new one" should really be changed to "Try again" since it just sounds weird saying "Try new one", and "Creating New Wiki page" needs to either be all sentence case or all title case.

[2015-07-30 14:30] NatashaRichter opened #3881 "Mobile site: Navbar obscures search bar if left open"
## Description

On the mobile site, if I open the navbar, and then click the search icon, the navbar persists. I am able to search, but what I type into the search bar (behind the navbar) is hidden (see picture below). We should have the navbar close upon clicking the search icon.

## Phone Screenshot

![image](https://cloud.githubusercontent.com/assets/7093086/8985452/8721215a-36a5-11e5-9544-c7d3

[2015-07-30 14:38] jinluyuan commented on #2758
@nicipfeiffer @lbanner I'm able to successfully connect my private repos. Maybe this isn't an issue anymore?

[2015-07-30 14:38] caileyfitz commented on #3649
@sloria @Johnetordoff this problem has returned!!! We need to re-open this!

[2015-07-30 14:40] lbanner commented on #3649
:anguished:

[2015-07-30 14:43] caileyfitz commented on #3649
Related: the error message now flashes before category is displayed for every node, whether a parent project or a component and despite current category:

Error message flashes:
![screen shot 2015-07-30 at 10 40 05 am](https://cloud.githubusercontent.com/assets/5975444/8985931/a461111a-36a7-11e5-8b63-1d64d73c86d3.png)

Message goes away after load:
![screen shot 2015-07-30 at 10 40 05 am 1](https:

[2015-07-30 14:59] chennan47 commented on #2758
I don't think this is a problem anymore. I did link to my private github repo on production and staging.

[2015-07-30 14:59] #2758 closed

[2015-07-30 15:03] mfraezz commented on #3748
The GDrive addon currently only checks to see if an access token is associated with the user's settings to determine whether or not the credentials are valid. It will try to refresh it after a certain time, but otherwise it doesn't actually make any requests to see if it's valid on Google's side of things. The other addons typically instantiate a client and make some trivial request to ensure that

[2015-07-30 15:52] #3296 closed

[2015-07-30 16:10] NatashaRichter opened #3884 "Fix language in red error messages when files cannot load"
## Description

In the files widget on the Project Overview page and Files tab, when files cannot load, the user is met by the message in the screenshot below. The spelling of the word "couldn't" needs to be fixed.

## Screenshot

![red_errors_mispelled](https://cloud.githubusercontent.com/assets/7093086/8988351/a960087c-36b3-11e5-8e1f-4ff84d213f70.png)

[2015-07-30 16:30] NatashaRichter opened #3886 "Fix language for the blue Dataverse and Google Drive add-on messages on forked projects"
## Steps

1. On osf.io, navigate to one of your projects.
2. On your project settings page, enable and configure all of your add-ons.
3. Fork the project.
4. On the forked project, notice the blue messages that appear in reference to your add-ons.

## Expected behavior

I expect the add-on warnings to have consistent language.

## Actual behavior

The Google Drive and Dataverse add-on messages nee

[2015-07-30 17:12] jinluyuan commented on #3886
@NatashaRichter Did you notice that Dataverse authorization is listed twice? The first one says "component", but the second one says "project".

[2015-07-30 17:20] NatashaRichter commented on #3886
@jinluyuan The fact that there are two makes this even weirder! I'll look into that issue separately by forking other projects and then see why Dataverse might be double-listed here.

[2015-07-30 17:23] jinluyuan commented on #3078
This same idea applies to downloading folders within add-ons.

Example use case (inspired by lunch talk today): If a user downloads a series of folders that have relationships to each other for purposes of data analysis, he will have to manually rename each folder in order to reconstruct the local file directory.

It would be best if the downloaded folders retained their names displayed on the OSF

[2015-07-30 17:24] jinluyuan commented on #3886
@NatashaRichter I think something like this issue about strange repeated/wrong alerts has come up before, either on GitHub or Trello. It's happened to me as well.

[2015-07-30 17:31] NatashaRichter opened #3887 "Link needs underline in blue messages on forked project"
## Steps

1. Log in to osf.io and navigate to one of your projects.
2. Go to your project settings page.
3. Check all the boxes for all add-ons and click "apply," but do not configure the add-ons.
4. Go to the project overview page.
5. Click on the duplicate button and choose to create a fork.
6. Click the "Fork" button on the modal that appears.
7. Notice the blue messages at the top of the newly

[2015-07-30 17:35] NatashaRichter commented on #3887
This is similar to my other issue: https://github.com/CenterForOpenScience/osf.io/issues/3849

[2015-07-30 17:43] caileyfitz opened #3888 "Standardize order of view/edit panes across pages"
# Steps
1. Go to a project on which you are an admin
2. Upload an editable .txt file to OSF Storage
3. Click on the file to view it in the file details page
4. Click to toggle Edit to open the edit pane
5. Notice the order of the Edit and View panes
6. Now, go to the Wiki tab
7. Click to toggle Edit to open the edit pane
8. Notice the order of the Edit and View panes

# Expected
I expect that the

[2015-07-30 17:49] NatashaRichter opened #3889 "Resend Email Confirmation modal missing question mark"
## Description

The question in the modal needs a question mark:

![resend_email_confirmation_modal](https://cloud.githubusercontent.com/assets/7093086/8990622/8c950f68-36c1-11e5-9da7-f5ac6b5c5694.png)

[2015-07-30 17:52] NatashaRichter commented on #3886
Related to: https://github.com/CenterForOpenScience/osf.io/issues/2644

[2015-07-30 17:53] jinluyuan commented on #856
Could the "Collapse all folders" idea from https://github.com/CenterForOpenScience/osf.io/issues/743 be an answer for the question of whether expanded or collapsed folders is better? Users who want to search through their top level folders can do so by clicking "Collapse all folders", but users who need to interact with files multiple times will still have the benefit of default expanded top-level

[2015-07-30 18:25] caileyfitz commented on #2313
@jinluyuan says this has been fixed!

[2015-07-30 18:25] #2313 closed

[2015-07-30 18:45] jlcohoon commented on #3617
+1 from Richard and Norm who note that because of the extra levels/labels that components come with (i.e. "OSF Storage") they are more inclined to use folders, despite the reduced functionality. They think that having fewer items in the file tree makes it more approachable, especially for new users.

[2015-07-30 19:07] jinluyuan commented on #2028
https://github.com/CenterForOpenScience/osf.io/issues/3793 is the updated version of this issue.

[2015-07-30 19:09] #2028 closed

[2015-07-30 19:10] jlcohoon opened #3892 "re-enable reordering of components"
## Steps
1. Visit a project that you are an admin on that has multiple components that you are also an admin on
2. In the widget on the right, click on a component and try to drag to re-order it among the others.

## Outcome
1. Re-ordering is not possible

## Expected Outcome
1. Re-ordering had previously been enabled (I've used it on the RPP: https://osf.io/ezcuj/), so I expected to be able to dr

[2015-07-30 19:10] #2024 closed

[2015-07-30 19:13] #2354 closed

[2015-07-30 19:15] #2161 closed

[2015-07-30 19:15] jinluyuan commented on #3887
This alert for Two-factor authorization needs an underline for "activate your device".

![screen shot 2015-07-30 at 3 15 10 pm](https://cloud.githubusercontent.com/assets/8591162/8992676/e0550a34-36cd-11e5-8137-430d9679e1c6.png)

[2015-07-30 19:28] caileyfitz commented on #2522
Was just able to duplicate this on **production** with my project *42 Wallaby Way & P. Sherman and my personal gmail account.

[2015-07-30 19:30] jinluyuan commented on #3886
@NatashaRichter This turns out to be an exact repeat of https://github.com/CenterForOpenScience/osf.io/issues/2616. I think we should close this issue in favor of the old one since the old one has more discussion in it.

[2015-07-30 19:31] wisherp commented on #2465
No longer seeing this issue, so am closing it for now.

[2015-07-30 19:31] #2465 closed

[2015-07-30 19:32] caileyfitz commented on #2683
@samanehsan @nicipfeiffer Am now seeing this on production, but it is NOT restricted to users with read + write or read-only access.

Top of page:
![screen shot 2015-07-30 at 3 29 27 pm](https://cloud.githubusercontent.com/assets/5975444/8992992/187f6768-36d0-11e5-9321-34af39eed11b.png)

After scrolling:
![screen shot 2015-07-30 at 3 29 37 pm](https://cloud.githubusercontent.com/assets/5975444/899

[2015-07-30 19:34] NatashaRichter commented on #3886
Closing in favor of: https://github.com/CenterForOpenScience/osf.io/issues/2616

[2015-07-30 19:46] Johnetordoff commented on #3782
@willbanner Any word? Can you reproduce this?

[2015-07-30 19:54] #3886 closed

[2015-07-30 19:58] GaryKriebel commented on #2683
Let's just reopen this one.... they may all be related.

[2015-07-30 20:00] jinluyuan commented on #2522
I just reproduced this issue in User Settings on *staging*. After I tried again, it worked.
![screen shot 2015-07-30 at 3 59 26 pm](https://cloud.githubusercontent.com/assets/8591162/8993641/2444989e-36d4-11e5-8520-835544f05e1d.png)

[2015-07-30 20:03] #3782 closed

[2015-07-30 20:03] wisherp commented on #2838
DAZ for Google Drive seems to be working fine now so closing this now.

[2015-07-30 20:03] #2838 closed

[2015-07-30 20:04] jlcohoon commented on #2926
fixed!

[2015-07-30 20:04] #2926 closed

[2015-07-30 20:11] chrisseto commented on #2522
This is likely an issue with sessions, @lyndsysimon any thoughts?
We may just want to add a scratch field to the User object to store intermediate values that are being dropped in these cases.

[2015-07-30 20:13] #3594 closed

[2015-07-30 20:33] NatashaRichter commented on #3032
UI changes fixed this problem, so closing now!

[2015-07-30 20:33] #3032 closed

[2015-07-30 20:33] #3155 closed

[2015-07-30 20:39] jinluyuan commented on #3878
This is related to https://github.com/CenterForOpenScience/osf.io/issues/3419.

@saradbowman In talks about the "View on" feature, @caseyrollins said that some users' browsers do not allow the new tab to be opened and instead show a "pop-up blocked" message. The team decided to go with opening these links in the same page to guarantee that they all open, and the user can still manually open links

[2015-07-30 20:47] NatashaRichter commented on #3013
No longer happening! Closing.

[2015-07-30 20:47] #3013 closed

[2015-07-30 20:51] NatashaRichter commented on #3349
Project's log now rendering. Closing.

[2015-07-30 20:54] NatashaRichter commented on #3209
Fixed. Closing.

[2015-07-30 20:54] #3209 closed

[2015-07-30 20:55] #3349 closed

[2015-07-30 20:57] NatashaRichter commented on #3216
Fixed. Closing.

[2015-07-30 20:57] #3216 closed

[2015-07-30 21:00] NatashaRichter commented on #3884
Fixed! Closing.

[2015-07-30 21:00] #3884 closed

[2015-07-30 21:01] NatashaRichter commented on #3889
Fixed (https://github.com/CenterForOpenScience/osf.io/pull/3885)! Closing.

[2015-07-30 21:01] #3889 closed

[2015-07-31 13:51] lyndsysimon commented on #3157
What I thought might have been a caching issue wasn't. Without digging into the issue more fully, I don't have a specific suggestion as to where the problem might be.

I do think it's a realistic task for an intern, though. Also, another person to ask for insight might be Sam, as he worked extensively with the Medeley and Zotero addons during the epic where they were released.

[2015-07-31 14:17] caneruguz commented on #3892
@GaryKriebel and @jlcohoon I just submitted a quick fix for this.

It was not related to style changes as far as I could tell.

[2015-07-31 14:17] #3630 closed

[2015-07-31 14:19] jlcohoon commented on #3892
great! thank you!!

[2015-07-31 15:03] caneruguz commented on #3837
@sloria can you confirm that wht @haoyuchen1992 is saying above is in fact correct, can we not use context variables or other methods to pass to fangorn this information?

@GaryKriebel can you put discuss label on this while we figure it out?

[2015-07-31 15:04] Johnetordoff commented on #3887
@nanchen47 I can do this

[2015-07-31 15:19] nanchen47 commented on #3880
The fix has been deployed on production.

[2015-07-31 15:19] #3880 closed

[2015-07-31 15:46] mfraezz commented on #3157
It appears that we're not passing in a limit to the API, and with the default of 20, the user is only getting the first 20 folders she created. I'm assuming something similar is happening with Zotero.

[2015-07-31 15:53] GaryKriebel commented on #3157
@saradbowman .... do you know how many folders the user has?

[2015-07-31 16:18] saradbowman commented on #3157
I have more information on hand about the Zotero case- it appears he has 20 top-level folders. Only 5 top-level folders are displaying on the OSF - but there are an known (to me) number of subfolders.

Are folders displayed in the order in which they were created?

I can get more information from the user if that is helpful.

[2015-07-31 16:31] mfraezz commented on #3157
Based on my testing, Mendeley seems to sort folders based on creation time

[2015-07-31 16:32] mfraezz commented on #3157
I've successfully replicated and solved this for Mendeley locally. I'm working on testing it for Zotero.

[2015-07-31 16:36] #3892 closed

[2015-07-31 16:37] caneruguz commented on #3419
I share this perspective : http://www.smashingmagazine.com/2008/07/should-links-open-in-new-windows/

Opening a link in a new window should be reserved for situations when it makes sense that the current page should continue to be available for a good reason (other than keeping people in our site). Otherwise users will have proliferation of tabs or would have to come back to close the OSF tab. Som

[2015-07-31 16:40] jlcohoon commented on #2949
just got another +1 for this

[2015-07-31 16:52] #3420 closed

[2015-07-31 16:52] #3839 closed

[2015-07-31 16:52] #3844 closed

[2015-07-31 17:04] Johnetordoff commented on #3888
@GaryKriebel can I get on this?

[2015-07-31 17:41] #3887 closed

[2015-07-31 17:43] mfraezz commented on #3157
@lyndsysimon @GaryKriebel @saradbowman Are those limits sufficient for a sufficiently high percentage of use cases, or should I complicate things with pagination?

[2015-07-31 17:46] GaryKriebel commented on #3157
I would think that 500 is good for now and if it remains a problem we can deal with pagination then.  Thoughts @saradbowman ?

[2015-07-31 17:51] mfraezz commented on #3157
I agree about Mendeley. What about Zotero's 100?

[2015-07-31 17:58] #3862 closed

[2015-07-31 18:06] GaryKriebel commented on #3157
I would say that for the short term let's proceed with the fix as it stands and we can revisit for pagination if there are still immediate needs from the userbase.

[2015-07-31 18:09] #3625 closed

[2015-07-31 18:11] #3638 closed

[2015-07-31 18:19] #3341 closed

[2015-07-31 18:49] #3796 closed

[2015-07-31 19:08] wisherp opened #3901 "'Activate your device' link not working for two-factor authentication"
# Steps
1. Log in to osf.io
2. Go to user settings
3. Click on Account Settings on the left navbar
4. Click to enable two-factor authentication
5. Scan the barcode using a google authenticator on your phone and put in your code
4. Hit submit
5. Now go to your Dashboard to navigate away from the User Settings page
6. Notice the blue alert message at the top and click on 'Activate your device' link

[2015-07-31 19:25] #3171 closed

[2015-07-31 19:43] #3851 closed

[2015-07-31 19:59] #645 closed

[2015-07-31 20:11] #3783 closed

[2015-08-01 20:25] nanchen47 commented on #3820
The pr has been merged.

[2015-08-01 20:25] #3820 closed

[2015-08-01 20:26] nanchen47 commented on #3781
The fix has been merged.

[2015-08-01 20:26] #3781 closed

[2015-08-01 20:28] nanchen47 commented on #2958
@jlcohoon So this is a problem of elastic search?

[2015-08-03 03:39] icereval opened #3904 "User Profile: ampersand (&) is not decoded (&amp;) when editing/viewing employment/education"
![image](https://cloud.githubusercontent.com/assets/3111541/9030346/71b3b842-396f-11e5-859c-afc44eb9818d.png)

![image](https://cloud.githubusercontent.com/assets/3111541/9030348/77799044-396f-11e5-80d1-1b0794c6562b.png)

[2015-08-03 12:12] haoyuchen1992 commented on #3879
I will look at it. Thanks!

[2015-08-03 13:01] haoyuchen1992 opened #3905 "[Enhancement] Real-time name checking when user input their new name"
### Steps
1. Go to configure add-on in project setting page
2. Create new bucket in Amazon s3
3. Input a name (input 'a')

### Actual
It doesn't tell me anything wrong when I input the new bucket name. Only after I submit the new name, it says it is a invalid name but without any further explanation, such as what the valid name should be.
![screenshot 2015-08-03 09 01 39](https://cloud.githubuserc

[2015-08-03 13:04] haoyuchen1992 commented on #3881
@lbanner  I already submitted a PR yesterday, please assign to me, Thanks!

[2015-08-03 13:13] haoyuchen1992 commented on #3879
'Name a new bucket' page on project setting has been changed because of @HarryRybacki 's previous PR. So it's follow the style guide now.

For the new bucket name checking, better solution should be applied. Here is the issue #3905

[2015-08-03 13:25] jlcohoon commented on #2958
Looks like it. originally when I logged this issue I was talking about the onboarder. But then found additional instances in OSF search. That last example is using elastic search.

[2015-08-03 13:29] jlcohoon opened #3907 "Update Can't Render File text to include download statement"
from the community repo: https://github.com/CenterForOpenScience/community/issues/325

## Steps
1. Visit a file that cannot be rendered (e.g. a zip file)
2. Read the error message displayed on the screen

## Outcome
1. The error message reads "No renderer could be found for the file type requested."

## Suggested Outcome
1. No renderer could be found for the file type requested. Please download th

[2015-08-03 13:43] caneruguz commented on #98
@lbanner @GaryKriebel can we revisit this issue to see if any action can be taken?  It seems to be going into an undirected discussion but we need to move on. It seems to me these are not issues we are discussing anymore but revisions and features.

[2015-08-03 13:43] #3881 closed

[2015-08-03 13:45] #3857 closed

[2015-08-03 13:48] caneruguz commented on #856
@lbanner I think the original issue was a short term solution and Steve asked whether it's better to load with folders open or closed and Brian said it's better to have them open in the short term although that's also not ideal. I think BrianG's suggestion of #3054 is the right way to go.

My recommendation is that this issue should be closed and discussion should happen at #3054. @sloria ?

[2015-08-03 13:50] #3879 closed

[2015-08-03 13:55] caneruguz commented on #1143
Already selected components appearing disabled is against feedback rules for UI. One could bold the text but that could denote hierachy and also influence the visibility.

@lbanner I already made my comments on this to Haoyu, unless someone specific can comment on it (in which case we need to tag them) we can move on and close this issue.

@caileyfitz

[2015-08-03 14:03] #3693 closed

[2015-08-03 14:08] NatashaRichter opened #3908 "[Safari] Project settings side navbar needs more space on small screen"
## Description

On a small screen on Safari, there is no space between the side navbar and the rest of the page content on the project settings page.

![no_space_side_navbar](https://cloud.githubusercontent.com/assets/7093086/9038931/07ab1754-39c6-11e5-97de-a57f1c04dec2.png)

On Chrome and Firefox, there is space between the side navbar and the rest of the page content.

![adequate_space_side_navb

[2015-08-03 14:10] caneruguz commented on #1233
This is an important fix to make, since the default behavior is confusing. I think we should simply remove the Cancel button because:
- We don't seem to have similar Cancel functionality in other form submit situations on the website
- If user leaves without saving changes there is a dialog that will warn them
- Canceling could take them out of profile edit mode but to where? What if in the future

[2015-08-03 14:23] caneruguz commented on #1457
I think it's generally expected that people will not have much success on uploading from mobile mainly because in most cases the file system is not as open as on a computer. I think we should close this issue until we have good reason to open again.

@lbanner @nanchen47

[2015-08-03 14:30] nanchen47 commented on #1457
Totally agreed with @caneruguz

[2015-08-03 14:30] #1457 closed

[2015-08-03 14:32] caneruguz commented on #1532
The style guide doesn't have any section on badges, so default bootstrap badges would fit the style guide.

My only concern is that badges on that navigation could proliferate quickly. Registration and Fork count makes sense but what we don't want is a badge for each of these page navigations (i.e. number of people accessing in Sharing, number of pages in wiki, number of comments etc.

[2015-08-03 14:47] GaryKriebel commented on #98
@erinmayhood should be brought into this discussion as well.

[2015-08-03 14:48] lbanner commented on #98
This one is definitely an 'enhancement' -- not 'UI,' I think -

[2015-08-03 14:51] caileyfitz commented on #1143
@caneruguz I don't think I completely understand... Doesn't the checkbox already appear disabled? Does *this* go against feedback rules for UI?

[2015-08-03 14:55] caneruguz commented on #1143
This is what can't be done " If the text were to change when selected (such as becoming gray), this may make it clearer which components can be clicked and which can't."

Also the check box is already disabled, isn't it?
disabled means you can't do an action on this right now. If that is the case we can use it, it doesn't mean "this is selected". I don't think there is any need to change here.

[2015-08-03 15:02] lbanner commented on #1143
@caileyfitz -- Good goal but I think this one we leave as is for now ... unless over time we receive confused feedback from users. Closing to clear the decks. TY!

[2015-08-03 15:02] #1143 closed

[2015-08-03 15:13] erinmayhood commented on #98
@lbanner Currently I can perform a search, see suggested tags to improve my search, and successfully add those tags to my search. I agree with @caneruguz that we should move on from this particular discussion because the next steps would be adding significant functionality in addition to UI changes.

I'd like to do a UX assessment of Browse, Search, and Explore, while reviewing the Interactive Pro

[2015-08-03 15:28] #3748 closed

[2015-08-03 15:48] caileyfitz commented on #1143
I stand my ground that this is still very confusing but see the need to focus energy into addressing more troublesome issues.

[2015-08-03 15:53] sloria commented on #3615
@caneruguz makes a fair point, though I think this discussion is outside the scope of this issue. As you pointed out, we had already come to a decision after discussion in https://github.com/CenterForOpenScience/osf.io/issues/668 . A suggest further discussion on displaying dates happen in the osf-style tracker.

[2015-08-03 16:20] lbanner commented on #98
:+1: Closing this in favor of larger discussion. Thanks.

[2015-08-03 16:20] #98 closed

[2015-08-03 16:23] Johnetordoff commented on #3901
@nanchen47  can I get this one?

[2015-08-03 17:13] #3615 closed

[2015-08-03 17:36] jinluyuan opened #3914 "Change order of Keep Both button"
The current style of button order on the OSF is that the "Cancel" button is on the left, and the action button is on the right.

When a user tries to move a file to a folder or component that already has a file by that same name, a modal appears that has two action buttons. It makes sense for the two buttons to be next to each other instead of having Cancel sandwiched in between.

Staging (new loo

[2015-08-03 17:44] #3888 closed

[2015-08-03 18:26] lbanner commented on #3914
Suggestion is to make order: CANCEL REPLACE KEEP BOTH? ..... And does your "Staging" screenshot represent a UI change not yet on Production? Possibly a PR currently on Staging but not merged?

[2015-08-03 18:30] lbanner commented on #856
Agreed .. closing in favor of forward movement on #3054

[2015-08-03 18:30] #856 closed

[2015-08-03 18:48] sloria commented on #3054
@lbanner @GaryKriebel  Implementation details aside, I think saving of expanded/collapsed state sitewide--or at least for all file trees--is worth serious thought for next epic.

[2015-08-03 19:05] jinluyuan commented on #3914
@lbanner Sorry, I should have been clearer. I'm proposing that the order be "CANCEL, KEEP BOTH, REPLACE" since "Keep Both" is an option that is in between "Cancel" and "Replace" (which would delete the original file).

The staging screenshot shows a UI change on staging that hasn't been merged to production yet. Since the order of the buttons is independent of the UI changes, I decided to put this

[2015-08-03 19:32] GaryKriebel commented on #3054
That would be a feature I would not mind having.

On Mon, Aug 3, 2015 at 2:48 PM, Steven Loria <notifications@github.com>
wrote:

[2015-08-03 19:47] sloria commented on #3901
Hm, that alert shouldn't even appear on the dashboard page (or any page other than the user settings page).

[2015-08-03 20:17] #3053 closed

[2015-08-03 20:17] #3217 closed

[2015-08-03 20:27] lbanner commented on #3054
+ 1 ping @erinmaywood as well. Thanks.

[2015-08-03 20:33] jinluyuan opened #3922 "Improve language of email notification for removing alternate email address"
This sentence should be changed since it uses first person and has a comma splice.

Better version (removes the beginning clause)

### Screenshot

![screen shot 2015-08-03 at 4 12 58 pm](https://cloud.githubusercontent.com/assets/8591162/9047028/f63f516a-39fc-11e5-923d-cb2bd52735f6.png)

[2015-08-03 20:33] caileyfitz commented on #3336
@lbanner I am still having this issue

[2015-08-03 20:36] WillBanner opened #3923 "[Staging and Production] Zotero does not give error message when credentials are revoked"
This has the exact same behavior as issue #3748

# Steps

1. Go to a project on which you have admin access
2. Go to project settings and enable and configure Zotero
3. Confirm that Zotero is configured and files are linked
4. Log on to your Zotero account.
5. Go to settings (in the upper right) > feeds/API
6. Click to edit, then revoke, the key for your most recently configured Zotero add-on.
7.

[2015-08-03 20:45] lbanner commented on #3922
But the change is not as polite, yes? :smiling_imp:

[2015-08-03 20:52] WillBanner opened #3924 "[Staging and Production] Dropbox connect folder message not attached to bottom of folder browser"
# Steps
1. Go to a project on which you are an admin.
2. Go to the project settings.
3. Configure Dropbox.
4. Click to change the folder and select one of your folders, look at the blue message that appears.

# Expected
The blue message that says connect "/folder"? would be attached to the bottom of the folder browser.

# Actual
The message box is below the browser and not connected.

![image](htt

[2015-08-03 20:55] lbanner commented on #3914
Got it -- Thanks! .... so, FYI to any dev .... best this issue follows the deployment of PR / Staging to Production. Likely on Develop for 0.45.0 release.

[2015-08-03 20:56] jinluyuan commented on #3922
@lbanner It seems uncharacteristic of the OSF emails to have first person narration. Robots don't need to be polite!

[2015-08-03 20:58] mfraezz commented on #1669
Updated [my fork](https://github.com/mfraezz/dropzone/tree/accept-directory) of [our fork](https://github.com/sloria/dropzone/tree/accept-directory) of Dropzone with their latest release, which is supposed to add IE10+ support. It does not work in IE11, unable to test Safari 7.0.3 (see https://github.com/CenterForOpenScience/osf.io/issues/1250). May add regressions.

[2015-08-03 21:00] WillBanner commented on #3924
This may be the intended behavior due to the fact that the bottom of the browser has rounded corners and the top of the alert has rounded corners but, no matter what, we do need consistency, and all of the other add-ons have the blue message attached to the bottom of the browser.

[2015-08-03 21:08] sloria commented on #3922
I like the suggested change. Ping @jlcohoon for a final "go" or "nogo" on this.

[2015-08-03 22:07] jlcohoon commented on #3922
I like it. There should be a second email that pairs with this (the alternate and primary get this email). Both should be updated.

[2015-08-04 13:54] sloria opened #3925 "Registrations should be displayed in reverse chronological order"
## Steps

Go to any "Registrations" page for a project with multiple registrations

## Expected

Registrations are displayed in reverse chronological order (i.e. most recent first)

## Actual

Registrations are in forward chronological order.

[2015-08-04 15:09] reinaH opened #3927 "[Staging] paths that return 500 server errors when no user is logged in- resultant of /users/me/ route"
@brianjgeiger

# Steps
1. make sure you are not logged into your OSF account (these paths return 500 errors when user is Anonymous or None)

2. go to either API url base:
https://staging2.osf.io/api/v2/users/me/
http://localhost:8000/v2/users/me/

3. go to either API url base:
https://staging2.osf.io/api/v2/users/me/nodes/
http://localhost:8000/v2/users/me/nodes/

# Expected
View should return a 4

[2015-08-04 15:33] jinluyuan opened #3928 "Registrations page should not display Recent Activity for retracted registrations"
### Steps
1. Go to osf.io or staging.osf.io
2. Go view any public project that has a retracted registration
3. Go to the Registrations page of the project
4. Locate the retracted registration
5. Click the down arrow to expand the Recent Activity

### Expected behavior
I expected that there would not be a down arrow to allow viewing of Recent Activity. Alternatively, I expected that upon clicking t

[2015-08-04 15:44] mfraezz commented on #1669
Preliminary assessment yields that the issue probably stems from either with the fact that it's not in a `<form>`, or because of our knockout bindings. Changing either of these for IE support would be time consuming and very ugly. Further testing has revealed no regressions (at least in FF), but also no additional functionality (Safari 7.0.3 still untested). Also, according to @caileyfitz, this ha

[2015-08-04 15:47] sloria commented on #1669
It's possible that the custom elements usage could be causing breakages in IE: http://knockoutjs.com/documentation/component-custom-elements.html#note-custom-elements-and-internet-explorer-6-to-8

[2015-08-04 15:49] mfraezz commented on #1669
That is a possibility, although it's present in IE11.

[2015-08-04 15:52] mfraezz commented on #1669
It does do the data-bind correctly (`click: clearMessages()` hits that function), but something is preventing the file selection dialog.

[2015-08-04 16:17] jinluyuan opened #3931 "Registration choices should not be in select drop-downs"
According to the [Style Guide](https://centerforopenscience.github.io/osf-style/style.html#inputs), we should not be using selects for inputs with only a few options.

In the process of registering a project, selects appear multiple times, and they hinder the user experience since the user cannot see the options until clicking on the select. Options are a user-friendly alternative.

### All regist

[2015-08-04 16:23] brianjgeiger opened #3932 "API V2 Node Private Links"
From #3309, we need to add the ability to create and and access private links from within the API. Be very careful about permissions.

[2015-08-04 16:48] brianjgeiger commented on #3932
This may require having Admin permissions functionality integrated into the API.

[2015-08-04 17:03] mfraezz commented on #1669
Also, a `Dropzone` is being attached to the right DOM element. There may be a set of `dropzoneOpts` to feed in that will make it work, but I'm not yet sure about that.

[2015-08-04 17:03] #3136 closed

[2015-08-04 17:20] #3922 closed

[2015-08-04 18:08] NatashaRichter opened #3935 "Dropbox credentials message does not persist long enough"
## Description

I just tried to import my Dropbox account information on a project. I was met with the message below. However, the message did not persist long enough (at least on Chrome) for me to finish reading it, so I had to go through the steps again and then captured the message quickly.

I was familiar with what the message would say, but it still does not persist long enough.

For longer m

[2015-08-04 19:14] livethedance opened #3937 "Add-on request: Evernote"
Is there any chance someone can add Evernote (https://evernote.com) as an Add-on? I use it to keep my research notebooks because it is such a flexible app.

[2015-08-04 19:19] livethedance opened #3938 "Mendeley add-on folders"
When I try to select a folder to use from Mendeley, only some of the folders it contains appear as options. I see this: (https://cloud.githubusercontent.com/assets/12090449/9070172/e1d53e30-3ae5-11e5-85b2-dfeda50e1cec.png)

Instead of this: (https://cloud.githubusercontent.com/assets/12090449/9070202/0cc25740-3ae6-11e5-9036-a3c45727bc42.png)

[2015-08-04 20:11] caileyfitz commented on #2224
Just tried again and got a 503 error!
![screen shot 2015-08-04 at 4 12 26 pm](https://cloud.githubusercontent.com/assets/5975444/9071469/86767ddc-3ac3-11e5-872d-841e67505678.png)

[2015-08-04 20:44] mfraezz commented on #1669
Confirmed that other dropzones (even on the OSF) work with IE. Something about the way dropzone is configured differently in [treebeard](https://github.com/caneruguz/treebeard/blob/develop/dist/treebeard.js#L1624) allows it to work properly.

[2015-08-04 21:07] GaryKriebel commented on #3938
Based on the information provided, this looks like it will be fixed with the release of the following PR:
https://github.com/CenterForOpenScience/osf.io/pull/3900

I will follow up with you after it releases this week to see if you are still experiencing the issue.

[2015-08-05 13:35] Ghalko commented on #226
Following the link seems to go to the view now. Reading this issue I believe it may be resolved? If not am I missing something @rubenarslan?

[2015-08-05 13:36] rubenarslan commented on #226
now it does. great.

[2015-08-05 13:38] rubenarslan commented on #226
this new/temporary? link is now broken though, no idea what that means https://osf.io/3bqw7/version/1/

[2015-08-05 13:43] lbanner commented on #226
Ping @chennan47 -- above? ^^

[2015-08-05 13:44] erinmayhood commented on #3088
@saradbowman can this issue be closed? In the past I've dealt with these issues by suggesting the user contact their IT department about making our emails "safe" since the holdup is most likely on their end.

[2015-08-05 13:47] lbanner commented on #3088
+ 1 on @erinmayhood approach. I'm actually going to close this as it appears the user in this case was taken care of, and this 'bug' is not consistent ... unless @saradbowman :scream: 's at me.

[2015-08-05 13:47] #3088 closed

[2015-08-05 13:52] chennan47 commented on #226
@chrisseto any idea?

[2015-08-05 14:24] jlcohoon opened #3944 "swap order of configure commenting and notifications"
## Current Behavior
In the Project Settings, "Configure Commenting" is below "Configure Notifications."

![screen shot 2015-08-05 at 10 22 29 am](https://cloud.githubusercontent.com/assets/4965832/9088046/18cccb80-3b5c-11e5-8561-c0997108bcde.png)

## Suggested Behavior
Because notifications are a result of commenting (at least at the present moment, the notifications are dependent on comments bein

[2015-08-05 14:41] #3924 closed

[2015-08-05 14:49] abought commented on #3041
Adding a comment to this issue:

I wrote a sample Flask application to demonstrate the flow here. It has very minimal error handling; improvements welcomed.
https://github.com/abought/osf_oauth2_demo

It could probably be modified to just print token details for API client users.

To cross-reference: this issue covers partial requirements towards #3323.

[2015-08-05 14:57] NatashaRichter opened #3947 "Can create multiple S3 buckets with the same name"
## Steps

1. Log in to osf.io.
2. Head to your project settings page.
3. Select and configure the Amazon S3 add-on.
4. Create a bucket with the same name as one you already have in existence.
5. Try this with multiple bucket names.

Alternatively, ping me for access to: https://osf.io/vnmyr/
There, create the bucket "blackmore," and you'll see you are able to create it multiple times.

On staging,

[2015-08-05 14:57] NatashaRichter commented on #3947
From trello card: https://trello.com/c/T6LR7SHs/69-can-create-multiple-buckets-with-the-same-name-in-the-same-location

[2015-08-05 14:57] TomHardwicke commented on #3817
That looks correct. The fix has not been applied yet thought right? I'm still getting the same issue on my OSF project.

[2015-08-05 15:45] #3925 closed

[2015-08-05 15:46] JeffSpies commented on #1532
A badge is an easy answer for now, but I'm not sure this is the type of
information to go into a menu badge. As we think about dashboard changes, a
summary widget may be better.

On Mon, Aug 3, 2015 at 10:32 AM, Caner Uguz <notifications@github.com>
wrote:

[2015-08-05 16:05] caileyfitz opened #3948 "Greyed out files grid background obscures navbar upon scroll"
# Steps
1. Go to a project on which you have admin access
2. If the project does not already have components, add a component
3. Upload the same file into OSF Storage for the parent project and for one of the components
4. Locate the file in the component
5. Drag it into OSF Storage for the project to move the file
6. Confirm that an modal pops up saying that a file with that name already exists i

[2015-08-05 16:05] sloria opened #3949 "Go/Nogo for 0.45.0"
Includes S3 bucket location selection and server-side encryption of uploads and a number of UI fixes.

milestone: https://github.com/CenterForOpenScience/osf.io/pulls?q=is%3Apr+is%3Aclosed+milestone%3A0.45.0

trello: https://trello.com/b/saiiLiob/0-45

ping @JeffSpies @GaryKriebel @lbanner @caileyfitz @nicipfeiffer

[2015-08-05 16:06] sloria commented on #3949
Deployment note: will require a waterbutler release @chrisseto @icereval

[2015-08-05 16:06] caileyfitz commented on #3948
tagging @caneruguz

[2015-08-05 16:08] jinluyuan opened #3951 "Mendeley & Zotero - Download citation button does not work"
### Steps
1. Go to osf.io
2. Go to one of your projects
3. If you don't already have Mendeley and Zotero enabled and configured, do so
4. Go to the project overview page
5. Go to the Mendeley and Zotero widgets
6. Expand any folder collection
7. Click the Download Citation button

![screen shot 2015-08-05 at 12 04 14 pm](https://cloud.githubusercontent.com/assets/8591162/9090759/23a3e83c-3b6a-11e5

[2015-08-05 16:23] JeffSpies commented on #3949
With both out, is this smart to release? Will they have availability in
case of unforeseen circumstances?

On Wednesday, August 5, 2015, Steven Loria <notifications@github.com> wrote:

--
Sent from mobile.

[2015-08-05 16:27] GaryKriebel commented on #3949
@JeffSpies took my comment ... are they aware of the release?  They are both listed as PTO for the next two days .... would they be available in the event of an issue and would we even be able to contact them?

[2015-08-05 16:31] lbanner commented on #3949
Good questions -- Their intent was to be working / online and available ... but they are at a conference and it is in Vegas. @sloria If we don't get any confirmation on their part, then we probably put this on ice (?)

[2015-08-05 17:18] chrisseto commented on #3949
Both @icereval and I will be avaible until ~7pm EST

[2015-08-05 17:44] saradbowman commented on #3088
@erinmayhood great suggestion, thanks!

[2015-08-05 17:57] sloria commented on #3949
OK, I will be out today ~4:45-8:30 EST. If we don't have all "go's" by then, then we can hold on releasing this and continue work on 0.46.0.

[2015-08-05 18:08] JeffSpies commented on #3949
Getting on plane soon; assume my "go" unless--given schedules--it isn't
practical to go tonight. Not a problem to wait until better alignment of
schedules--just keep Johanna updated.

On Wed, Aug 5, 2015 at 1:57 PM, Steven Loria <notifications@github.com>
wrote:

[2015-08-05 19:08] lbanner commented on #3817
@sloria @mfraezz --- when ready, can we Hot Fix this?

[2015-08-05 19:30] geeksnglitter opened #3955 "[production + staging] Capitalization is not consistant"
The OSF has inconsistent capitalization.
As shown in: https://github.com/CenterForOpenScience/osf-style/issues/71

There are now rules for capitalization in the style guide: https://github.com/CenterForOpenScience/osf-style/pull/75

This issue is to instigate movement towards fixing those inconsistencies and bringing the capitalization of the OSF to the newly changed standards.

Some places that n

[2015-08-05 19:31] geeksnglitter commented on #3955
@haoyuchen1992 & @caneruguz

[2015-08-05 20:20] jinluyuan opened #3957 "Amazon S3 bucket creation modal should have error text when clicking OK/Create with blank name"
## Steps
1. Go to osf.io
2. Go to one of your projects
3. Go to the project's Settings page
4. Enable and configure Amazon S3
5. Click the Create Bucket button
6. Without entering anything for the bucket name, click the OK button (Create button on staging)

**Production**

![screen shot 2015-08-05 at 4 07 18 pm](https://cloud.githubusercontent.com/assets/8591162/9096611/2c3623bc-3b8c-11e5-8e6a-0e4

[2015-08-05 20:39] Johnetordoff commented on #3928
@nanchen47 can I get this?

[2015-08-05 22:59] chrisseto commented on #3773
+1

[2015-08-06 02:18] #2495 closed

[2015-08-06 12:41] caneruguz commented on #3955
Sounds like a good intern task! Thanks @geeksnglitter
Guidelines are here: http://localhost:8000/language.html#capitalization

[2015-08-06 13:16] erinmayhood commented on #1085
@lbanner This issue will be addressed with the commenting release. I believe this can close.

[2015-08-06 13:16] lbanner commented on #1085
:+1:

[2015-08-06 13:16] #1085 closed

[2015-08-06 13:18] brianjgeiger opened #3961 "No indication of limit on characters in comments"
Very long comments have the potential for display issues. To deal with very long comments (rather than imposing a character limit), please add a scroll bar to the commenting boxes.
## Steps
1. Comment on a project.
2. Make it a long comment.
## Expected

You could keep writing until something told you that you're not allowed to write any more.
## Actual

The typing just stops with no other indicat

[2015-08-06 13:20] chennan47 commented on #3961
@samanehsan will the comment panel pr cover this?

[2015-08-06 13:21] samanehsan commented on #3961
No, it will not

[2015-08-06 13:42] caneruguz commented on #3935
@NatashaRichter I took a look at this, the error is not supposed to disappear at all. I'm having a hard time creating the error itself, can you try this one more time?

[2015-08-06 13:43] caneruguz commented on #3914
@lbanner @jinluyuan  This should be fixed in the 0.45 Trello board, there was a card about the color of the keep both button.

[2015-08-06 13:48] jinluyuan commented on #3914
@caneruguz Got it, thanks!

[2015-08-06 13:48] #3914 closed

[2015-08-06 13:49] caneruguz commented on #836
@lbanner This will be fixed with 0.45, on staging you can see that the table cells already break the long words:

![screen shot 2015-08-06 at 9 48 23 am](https://cloud.githubusercontent.com/assets/1314003/9113057/69af47ac-3c20-11e5-891b-6252c0bdda01.png)

[2015-08-06 13:53] lbanner commented on #836
OK .... any particular PR?

[2015-08-06 14:03] caneruguz commented on #748
I don't think anyone is working on this issue right now and it looks like it needs some clarification:

1. Font Awesome IS open source, we do use it on OSF - http://fortawesome.github.io/Font-Awesome/license/
2. Using another company's own gravatar seems legitimate from what I can tell (https://cyber.law.harvard.edu/metaschool/fisher/domain/tm.htm); however it's not super clear cut, especially sin

[2015-08-06 14:09] haoyuchen1992 commented on #836
@lbanner This one -- https://github.com/CenterForOpenScience/osf.io/pull/3952

[2015-08-06 14:10] lbanner commented on #836
Thanks

[2015-08-06 14:30] chennan47 commented on #748
I agreed with @caneruguz . Related issues https://github.com/CenterForOpenScience/osf.io/issues/3867

[2015-08-06 14:42] caneruguz commented on #1045
@nanchen47 it looks like this fix got cut with other changes but this issue is still important to address. I recommend changing the priority and labeling Ready to get someone to claim this.

[2015-08-06 15:05] sloria commented on #3949
Update:

- We are holding deployment until Chris's, Michael's, and my schedules align. I believe Chris and Michael are available remotely on Monday. ping @icereval @chrisseto for confirmation.
- QA is finishing up the last few cards on the 0.45.0 board.
- QA is almost finished with 1st pass for all markupsafe-3 cards. `feature/markupsafe-3` still exists as its own branch so that it can be released

[2015-08-06 15:08] lbanner commented on #3949
That sounds right to me .... I'm a GO on 0.45.0 .... let's keep moving! Thanks.

[2015-08-06 15:22] csoderberg commented on #2149
Just fyi @lbanner , An article just published in PLOS (http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0134808) links to an OSF project with all their data as SPSS files.

[2015-08-06 15:22] GaryKriebel commented on #3949
Yes, the calendar states they will be remote on Monday, but good to get their confirmation.

I'm good with the plan.

I'll provide a Go when the remaining few bugs are fixed and cleared through QA.

[2015-08-06 15:28] GaryKriebel commented on #3937
@livethedance we have actually discussed this as a future feature.  I have updated our internal tracking system by adding your request for the Evernote addon.

I'm going to close the issue here as it is being tracked elsewhere.

[2015-08-06 15:28] #3937 closed

[2015-08-06 15:38] lbanner commented on #2149
Good heads-up! But those SPS files are rendering for me @csoderberg -- Not for you?

[2015-08-06 15:39] caneruguz commented on #1004
@samanehsan why is this issue deferred? These are good suggestions, especially the ones about the social, employment, education tabs.

Also @jlcohoon has put two quite unrelated issues into this one, the second is no longer an issue I believe.

[2015-08-06 15:39] chennan47 commented on #1045
This is included in @kushG 's https://github.com/CenterForOpenScience/osf.io/pull/1305. That pull request will need someone to get it updated to get merged in since it fixes a few problems with github addon. What about close this issue and open a new one about update that pr? @GaryKriebel @lbanner

[2015-08-06 15:41] csoderberg commented on #2149
Sorry, should have been more clear, the .sav files are SPSS data files, which are not rendering. The .sps field are SPSS syntax files.

[2015-08-06 15:47] sloria commented on #1045
I don't think we need to merge in that refactor just to make this minor change. I recommend someone just change the order and update that PR in the long run.

[2015-08-06 16:02] mfraezz commented on #3817
@TomHardwicke That's correct. It's ready to be merged, but it likely won't be fixed on production until Monday (our lead devops guy is at a conference). If you need it for an important presentation or something before then, we might be able to have it deployed, but that's not something I personally have control over.

[2015-08-06 16:07] lbanner commented on #748
Ping @erinmayhood for consideration as inclusion on OSF Backlog. TY.

[2015-08-06 16:09] lbanner commented on #1004
I pulled the "defer" tag -- But this one needs consideration as to value of putting into OSF product backlog. I think -- new approach to items such as these. Ping @erinmayhood on this one. TY.

[2015-08-06 16:09] TomHardwicke commented on #3817
Hi @mfraezz Ok that's great - we're about to submit a paper and we expect the reviewers might want to take a look at the OSF project. If its sorted by Monday then that would be perfect.

[2015-08-06 16:10] samanehsan commented on #1004
@caneruguz, this issue was deferred back when we decided to prioritize github issues that were bugs over ones that were enhancements to existing functionality. Now, it's priority might be different but that's up for discussion as @lbanner mentioned.

[2015-08-06 16:11] samanehsan commented on #1004
Also just to note, this one has been fixed on production:

[2015-08-06 16:17] JeffSpies commented on #748
We'd use the full logo in the space that the small icons are typically?

On Thu, Aug 6, 2015 at 12:07 PM, LarryB <notifications@github.com> wrote:

[2015-08-06 16:20] lbanner commented on #2149
Oh -- OK -- @mfraezz can you and @sloria provide insight and update on this issue, please? ASAP? Thanks.

[2015-08-06 17:00] caneruguz commented on #748
Icon size can be changed depending on the space available but the favicons on websites are often logos.  The use permissions would be the same.

In terms of design the size of the displayed images would depend on location.

[2015-08-06 17:58] mfraezz commented on #2149
pypi is currently down, but when I try to render it locally I'm getting an `ImportError` coming up through pandas. `rpy2` apparently isn't being installed by the build script. Including it in requirements might fix it.

[2015-08-06 18:20] mfraezz commented on #2149
pypi is back up, and installing `rpy2` fixed it locally (.sav taken from the above project):
<img width="1280" alt="screen shot 2015-08-06 at 14 18 01" src="https://cloud.githubusercontent.com/assets/5659262/9119710/288a1182-3c46-11e5-8260-dcaa65741864.png">

[2015-08-06 18:34] nicipfeiffer commented on #3949
I am also a GO for 0.45 release when schedules align for deployment.

[2015-08-06 18:39] JeffSpies commented on #3949
With others' dependencies met, you have my go.

On Thu, Aug 6, 2015 at 2:34 PM, Nicole Pfeiffer <notifications@github.com>
wrote:

[2015-08-06 19:05] csoderberg commented on #3484
@lbanner , this got brought up in metascience and this functionality is an urgent bug( @bnosek ). All registrations, no matter which release option you choose, should have the 48 hour cancelation policy in place.

[2015-08-06 19:08] lbanner commented on #3484
We got that -- PR in for review on that here: #3919

[2015-08-06 19:09] #3957 closed

[2015-08-06 19:10] HarryRybacki commented on #3484
Make sure to differentiate bug and feature -- the former strikes fear in the developer's heart.

[2015-08-06 19:14] #3433 closed

[2015-08-06 19:17] pattisdr opened #3969 "[bug] DELETE project with components through API throws 500 error"
<h1> Steps </h1>

1. On staging2 create a node, and then create a component for the node.
2.  Via the API, attempt to delete the first node.
![screen shot 2015-08-06 at 3 17 36 pm](https://cloud.githubusercontent.com/assets/9755598/9121093/2c987180-3c4e-11e5-8167-c7d0c46d6415.png)

<h1> Expected </h1>

Maybe a 405 Error Method Not Allowed with error detail explaining "Any child components must be

[2015-08-06 19:21] JeffSpies commented on #748
Can we get a screenshot of where these would go?

On Thu, Aug 6, 2015 at 1:00 PM, Caner Uguz <notifications@github.com> wrote:

[2015-08-06 19:21] csoderberg commented on #3484
I was told to log it as a bug, just following orders.

[2015-08-06 19:25] nicipfeiffer commented on #3949
In addition, I am confident in saying that QA will be a GO for release of markup safe 3 with the release of 0.45 on Monday.

[2015-08-06 19:29] GaryKriebel commented on #748
@caneruguz, can I assume that you are referring to this:
![screen shot 2015-08-06 at 3 27 41 pm](https://cloud.githubusercontent.com/assets/9437946/9121360/c3880500-3c4f-11e5-976a-f0543f45c170.png)

Are you suggesting that we ONLY use:
![screen shot 2015-08-06 at 3 28 45 pm](https://cloud.githubusercontent.com/assets/9437946/9121371/dbdbd046-3c4f-11e5-982b-f7ed73f2c7cb.png)
on the line and no actu

[2015-08-06 19:29] lbanner commented on #3949
Woot Woot! :smiling_imp:

[2015-08-06 19:39] caneruguz commented on #748
Oh I see, yes let me clarify this a bit more. My conversation is originally in reference to the original issue of icons next to the services in Social tab of profile. The place Gary mentions is in the Add ons addition in settings pages and has a similar use case. In both cases there will be either BOTH images and text OR only text, never only image (except for the front page logos which should sta

[2015-08-06 19:42] GaryKriebel commented on #748
You know ... I knew you were talking about that page, yet I focused on the
addon page anyway.

Though, I guess the same holds true for both.

On Thu, Aug 6, 2015 at 3:39 PM, Caner Uguz <notifications@github.com> wrote:

[2015-08-06 19:54] haoyuchen1992 commented on #3907
I can work on it, thanks!

[2015-08-06 19:55] caneruguz commented on #3787
@sloria @JeffSpies should I make a proposal for this or can we discuss my solution in the thread? I made a case above for using cards and I believe it will be a significant improvement.

[2015-08-06 20:12] lbanner commented on #3787
@caneruguz This does look like proposal worthy to me, for discussion and clarification, maybe even inclusion in larger efforts (unless anyone disagrees). Ping @erinmayhood as FYI.

[2015-08-06 20:13] lbanner commented on #3907
Done!

[2015-08-06 20:34] JeffSpies commented on #3787
While we need to consider what info goes here, can we just lock in a width and force non-responsiveness?

[2015-08-06 20:38] haoyuchen1992 commented on #3907
@jlcohoon @lbanner Can we make it simpler ? Such as "Currently we don't support to view this format of file online, please download it to view." Because renderer is kind of abstract.

[2015-08-06 20:40] lbanner commented on #3907
"We do not currently support viewing of this file type within the OSF. Please download the file to view." <---- @jlcohoon ?

[2015-08-06 20:41] jlcohoon commented on #3907
How about even simpler: "This file cannot be viewed, please download it to see the contents."

If that's too curt, I vote for Larry's suggestion.

[2015-08-06 20:42] Johnetordoff commented on #3868
@jinluyuan , @chennan47  This would be very simple to fix and I think if the title is highlighted the time stamp should be consistent with that. You can see in the example it's more difficult to read the highlighted time stamp.

[2015-08-06 20:45] haoyuchen1992 commented on #3907
It may be better to explain why it can't be viewed and I also vote  for Larry's suggestion. So go for it? :) @jlcohoon @lbanner

[2015-08-06 21:01] lbanner commented on #3907
One more: "Viewing of this file type within the OSF is not currently supported. Please download the file to view."

[2015-08-06 21:03] jlcohoon commented on #3907
That's better. Go with that.

On Thu, Aug 6, 2015 at 5:01 PM, LarryB <notifications@github.com> wrote:

[2015-08-06 21:06] haoyuchen1992 commented on #3907
OK! Go this, Right?--"Viewing of this file type within the OSF is not currently supported. Please download the file to view."   And since this is about file rendering, the change should be made in mfr. I will send a PR there.

[2015-08-07 13:14] haoyuchen1992 commented on #3811
@lbanner I can work on this. Thanks!

[2015-08-07 13:17] haoyuchen1992 commented on #3908
@lbanner This issue may be similar as https://github.com/CenterForOpenScience/osf.io/issues/3811 . I can also work on it! Thanks!

[2015-08-07 13:38] NatashaRichter commented on #3935
Thanks @caneruguz. I am not able to reproduce this right now. Let's close it and if I notice it again, I'll come find you and show you.

[2015-08-07 14:14] #3935 closed

[2015-08-07 14:28] haoyuchen1992 commented on #3811
### Analysis
This issue is denoted in bootstrap [official docs](http://getbootstrap.com/javascript/#affix-usage).

Here is the github issues on bootstrap repository -- https://github.com/twbs/bootstrap/issues/12126

### Possible Solution
Currently, I don't find a stable solution. Since it only happens in Safari,  it may be better to add specific javascript code suggested in github discussion.  Wha

[2015-08-07 14:56] haoyuchen1992 commented on #3908
This issue only happens when user internationally reduce the size of screen.  When resizing the browser windows, the correct change will not reflect instantly and therefore we see the margin is missing. If refreshing the page, the margin is there.

Therefore, I am confusing whether this should be a bug. It looks like related to the inner rendering process of browser. What do you think of it? @cane

[2015-08-07 15:06] haoyuchen1992 commented on #3776
I can work on this, Thanks!

[2015-08-07 15:30] NatashaRichter opened #3972 "[Safari] Side navbar in project settings shrinks and expands again upon scroll"
## Description

On Safari, at various screen sizes, when I scroll down on the Project settings page without adjusting page width, the side navbar shrinks and then grows larger again when I scroll up.

I've reproduced this when the screen is normal size and smaller size, but not consistently. However, it's been happening enough times for me that I thought it significant to report. See the screen vi

[2015-08-07 15:31] haoyuchen1992 commented on #3776
### Analysis
The message is from onSubmitSettings in addonHelper.js. So it is not only for Amazon s3. Therefore, we need input parameters to put the proper message for every addon.

### Possible Solution
pass warning message to onSubmitSettings -- The technique details could be based on Stackoverflow issues -- http://stackoverflow.com/questions/3458553/javascript-passing-parameters-to-a-callback-f

[2015-08-07 15:32] NatashaRichter commented on #3972
@caneruguz @haoyuchen1992 This is an interesting issue, which I've been seeing on Safari not consistently but often enough to be noticeable. Sorry that the gif isn't higher quality, but you can at least see the scroll issue.

[2015-08-07 15:53] Ghalko commented on #3961
You could do it text-message style with a second comment being made out of the overflow from the first comment.

[2015-08-07 16:34] chennan47 commented on #3799
This problem has been fixed on production

[2015-08-07 16:34] #3799 closed

[2015-08-07 16:36] chennan47 commented on #3773
@jlcohoon can you confirm this change is what we want?

[2015-08-07 16:42] jlcohoon opened #3973 "osf.io/login does not show the correct branding or "remember me" option"
noted in a community issue: https://github.com/CenterForOpenScience/community/issues/333#issuecomment-128753862

## Steps
1. Log out of the OSF
2. Go to accounts.osf.io/login and look at the branding and options on the page
3. Go to osf.io/login and look at the branding and options on the page

## Outcome
1. accounts.osf.io/login has the COS logo and a "remember me" option.
![screen shot 2015-08-0

[2015-08-07 16:44] jlcohoon commented on #3773
+1, "create" is more colloquial and more consistent.

[2015-08-07 16:44] mfraezz commented on #2149
The underlying issue has been addressed, but it requires devops intervention to fix. I've notified the appropriate people.

[2015-08-07 16:45] lbanner commented on #3973
I believe this approach has been discussed as intentional here #3026 (?)

[2015-08-07 16:47] jlcohoon commented on #3973
This isn't about the "COS" logo or if it should be "OSF," it's the fact that two login pages for the OSF are formatted differently with different features.

[2015-08-07 17:20] lbanner commented on #3973
Noted .. wrong discussion .. how about this discussion? #2358

[2015-08-07 17:25] jlcohoon commented on #3973
Also different because that was talking about the lack of navbar/footer.

The most important thing from *this* issue is the no "remember me" option. Really, the two pages should be identical, however.

[2015-08-07 18:49] Johnetordoff commented on #3972
This should have been addressed in #3898, I don't know why it won't stick for safari, @nanchen47 could you assign me so I can take another look at it.

[2015-08-07 19:07] #3773 closed

[2015-08-07 19:12] #3927 closed

[2015-08-07 19:21] sloria opened #3978 "Incorrect cursor when hovering over typeahead results"
### Steps

On your Dashboard, type into any of the onboarder widgets that have a typeahead input. Hover over a result with your mouse.

### Expected

Cursor is a pointer, since results are clickable

### Actual

Cursor is for text.

Should be a very quick fix.

[2015-08-07 20:00] nanchen47 commented on #3706
Verify with @NatashaRichter , this is no longer an issue.

[2015-08-07 20:00] #3706 closed

[2015-08-07 21:06] saradbowman opened #3979 "[osf] Discrepancies in Benchmarks.py and Search"
Related to #2853

In search, a wildcard search for projects yields 2475 projects (should only return public projects)

In benchmarks.py (https://github.com/CenterForOpenScience/osf.io/blob/750125e9cbaaf51ca55938ab1380166e133801d8/scripts/analytics/benchmarks.py), current value for public projects value is 3175.

There are inconsistencies between search and the scripts that should be addressed so w

[2015-08-07 21:50] chennan47 commented on #3979
The banchmark.py result should be trusted since it is directly getting numbers from OSF database. While the public search is getting result from elastic search database. The difference between the number suggesting that there is inconsistency in updating elastic search database.

[2015-08-10 13:31] caneruguz commented on #3908
@haoyuchen1992 There should be some information on this online, users of bootstrap might have reported this happening in Safari. I would do some research on this. If this is a common browser bug with bootstrap there will be other users talking about it and it could provide insight into what's going on. Safari is an important browser; we should try to fix this if we can so it's worth looking furthe

[2015-08-10 13:32] caneruguz commented on #3972
@Johnetordoff it may be useful to check the function that does the resizing of that box to make sure it's not missing certain use cases.

[2015-08-10 13:36] NatashaRichter opened #3981 "Improve user-facing error message when editing project titles in prohibited ways"
## Steps
1. Log in to osf.io.
2. Navigate to one of your projects.
3. Edit the project title so that your title is contained in angle brackets.
4. Notice the error message.

## Expected behavior

An error message informing me that the project title cannot be updated as suggested due to presence of characters that are not allowed as entered. Or, we can simplify the message further, saying that the