[2015-06-21 18:29] brianjgeiger opened #3243 "Move API to api.osf.io"
Jeff has approved this.

[2015-06-21 18:43] icereval commented on #3243
Cool!

[2015-06-21 22:57] lbanner commented on #3164
Hey @sloria ... Staging up-to-date with latest fixes? Wondering if worthwhile to get QA on for some runs this evening, with possible deploy night or morning? Let us know your thoughts on this. Thanks.

[2015-06-22 00:31] sloria commented on #3164
Yes, staging has been up to date with Sam's most recent fixes.

@caileyfitz @GaryKriebel @nicipfeiffer Have you been able to produce any registration failures since Friday?

[2015-06-22 00:53] GaryKriebel commented on #3164
I'll give it a go again now.

[2015-06-22 01:23] GaryKriebel commented on #3164
I just registered my big monster project with no issues 6 times (3 regular registrations, 3 embargos).

[2015-06-22 01:25] lbanner commented on #3164
@WillBanner and I are cranking some registrations -- so far so good.

[2015-06-22 01:28] WillBanner commented on #3164
Just registered a project that had all add ons with 5 components that also
had all add ons

On Sun, Jun 21, 2015 at 9:25 PM, LarryB <notifications@github.com> wrote:

[2015-06-22 01:38] sloria commented on #3164
Re-ping @JeffSpies @GaryKriebel @lbanner @icereval @caileyfitz @nicipfeiffer @chrisseto for go/nogo

[2015-06-22 01:40] GaryKriebel commented on #3164
from what i have seen, i'm a go

[2015-06-22 01:49] lbanner commented on #3205
Done!

[2015-06-22 01:57] lbanner commented on #3164
Got a couple stuck in archiving @sloria -- will let you know if they pull thru ...

[2015-06-22 01:58] GaryKriebel commented on #3164
Mine took some time.... lots of files.

[2015-06-22 02:22] lbanner commented on #3164
OK -- one success -- one failure w/notification: OSF storage + GoogleDrive + 2 Components. Notification attached.
![screen shot 2015-06-21 at 10 19 10 pm](https://cloud.githubusercontent.com/assets/2964829/8274689/00ce3930-1864-11e5-9e5c-9631a08dad48.png)

[2015-06-22 02:24] lbanner commented on #3164
The notification is a positive, and no obstacle to deployment, I think -- However, @sloria ... any backend capture of failures? So desk/community is able to respond as needed?

[2015-06-22 02:46] sloria commented on #3164
@lbanner Yes, I see the failure notification on Desk.com--does that project consistently fail to register?

[2015-06-22 02:52] lbanner commented on #3164
First time to register -- First time to fail. A failure w/notification is proper functionality. Maybe I remove a component or two, and try again -- But as long as the communication on failure is working as it should -- I am still a "Go" on release given all other tests.

[2015-06-22 03:03] lbanner commented on #3164
FYI: This project failed again on Registration w/notification. Now includes OSF storage + GoogleDrive + one basic component w/OSF storage. The GoogleDrive add-ons is tied to our shared Infrastructure Proposals Folder (may be some unknown complexities there) ... unless anyone else is running into issues, I remain good-to-go.

[2015-06-22 13:07] chrisseto commented on #3231
I'll take a look at this, @lbanner

[2015-06-22 13:08] chrisseto commented on #3183
+1

[2015-06-22 13:15] JeffSpies commented on #3164
I'll wave decision making on this one.

On Sun, Jun 21, 2015 at 11:03 PM, LarryB <notifications@github.com> wrote:

[2015-06-22 13:21] cebersole commented on #2351
I echo Rick's concerns.  I don't think that the arrow in the corner of the box is the most intuitive.  If you want to keep the box consistent across pages (and I see some value in that) the "read more" button that Rick references above seems like a pretty easy fix to this issue.  For the Many Lab, people will need to read longer entries on the Wiki, so having an easy way for folks to find that con

[2015-06-22 13:24] cebersole commented on #2351
To be more specific, I would suggest that the "read more" button take people directly to the wiki page, and not expand the box on the project homepage.  This would maintain consistent formatting on home pages and get people to wiki content quickly.

[2015-06-22 14:08] sloria commented on #3164
The following items need to be resolved before release:

- Disallow retraction of subprojects/components in isolation. Harry is working on this now. This should resolve the 2 remaining Trello cards
- Deploy waterbutler update to fix registering Dataverse Published+Unpublished files. Chris is working on this.
- Address CAS errors happening on files pages on staging

Target is to deploy at 4pm today

[2015-06-22 15:24] brianjgeiger commented on #3060
So, how this should work is:
 - the download link and the metadata link should both be the same and should be api/v2/nodes/{node-id}/files/{query parameters}
 - The links should be wrapped so that they are:
[code]

And so on. Valid query parameters should show in the swagger documentation. All links should redirect to the Waterbutler url. Folders won't have a download. "Metadata" for folders might

[2015-06-22 15:25] brianjgeiger commented on #3060
Oh, and very specifically for this issue, when creating a new file via the api, the path file parameter will be separate from the filename parameter, and we will construct the waterbutler url from the combination of those parameters.

[2015-06-22 15:52] pattisdr commented on #3046
Should GET /v2/registrations/{registration_id} return details for both registration drafts and registrations?

[2015-06-22 15:55] brianjgeiger commented on #3046
Yes

[2015-06-22 15:56] brianjgeiger commented on #3046
Any of the GETs should work for both, the POST/DELETE/PUT/PATCH should only work for drafts. And, of course, they shouldn't work at all for nodes that are neither registrations nor registration drafts.

[2015-06-22 16:06] chennan47 opened #3248 "[account merging] account shows up in both alternative email and unconfirmed email"
<b>Steps</b>
1. create 3 registered user A ,B and C
2. log in as user A and add B and C's email to A
3. go to user B's email and find and confirm the link in the email.
4. log in as use A and go to the your account settings page.

<b>Excepted</b>
User B's email will show up in alternative email and user C's email is in unconfirmed email.

<b>Actual</b>
![screen shot 2015-06-22 at 12 00 54 pm](http

[2015-06-22 16:07] jlcohoon opened #3249 "Duplicate and Watch buttons should not be visible to logged out users"
This issue was caught by an OSF user, and then was logged in the community repo: https://github.com/CenterForOpenScience/community/issues/258

<h4>Steps</h4>
1. Visit any OSF project while logged out
2. Look at the upper right hand of the project overview page

<h4>Current behavior</h4>
1. The watch button is greyed out, indicating no action can be taken, but it is still present.
2. The duplicate

[2015-06-22 16:11] jlcohoon opened #3250 "Forks of projects cannot be displayed; shows error"
<h4>Steps</h4>
1. Visit a public project with forks (https://osf.io/px0sw/, for example)
2. Click on the "forks" tab

<h4>Current Behavior</h4>
1. The user is shown an error:

![screen shot 2015-06-22 at 12 09 30 pm](https://cloud.githubusercontent.com/assets/4965832/8286440/909fa6de-18d7-11e5-9ca2-191768cd7e75.png)

This only occurs if there have been forks. If no forks have been created, the use

[2015-06-22 16:26] nanchen47 commented on #3248
https://github.com/CenterForOpenScience/osf.io/pull/3224

[2015-06-22 16:26] chennan47 commented on #3230
This will be fixed by https://github.com/CenterForOpenScience/osf.io/pull/3224

[2015-06-22 16:27] chennan47 commented on #3250
@sloria I thought this is fixed last week.

[2015-06-22 16:43] pattisdr commented on #3046
GET /v2/nodes/{node_id}/ will return any node, registration or otherwise.  Should this be changed to only return nodes where is_registration is False?

[2015-06-22 16:45] brianjgeiger commented on #3046
No, let's keep /nodes/ generic for now.

[2015-06-22 16:53] abought commented on #3058
I can reproduce it locally (at random trial #s) using the following commands:

[code]

This works in dev mode- no need to toggle production settings or change anything other than how the app is run.

In 199 trials of the runscope-like test (see previous script), it failed ~29.5% of the time.

As a side note, I've confirmed that uwsgi is what we use in production and also works well locally, so thi

[2015-06-22 17:00] brianjgeiger commented on #3058
Yay! And yes, that matches the rate I'm seeing via Runscope fairly well.

[2015-06-22 17:02] lbanner commented on #3231
Thanks @chrisseto

[2015-06-22 17:21] XTech2K commented on #3248
I attempted to recreate this issue, but ended up getting the expected result instead of the problematic one. The only difference when I tried this was that all emails were sent to my account A, and it was with that account that I confirmed account B, not the other way around.

![screen shot 2015-06-22 at 1 21 33 pm](https://cloud.githubusercontent.com/assets/5955359/8288039/921049ec-18e1-11e5-9a27

[2015-06-22 17:42] XTech2K commented on #3249
I will work on this issue.

[2015-06-22 18:15] chennan47 commented on #3248
When I clicked on my third account's email confirmation link, it said that that email has already been merged. I sort of remember I have merged that account before but not sure. Need to take a look at the production database to find out what's going on.

[2015-06-22 18:48] GaryKriebel opened #3253 "File Detail Page via Anonymous Links for new projects shows user detail"
Per @saradbowman, two reports via the help desk state that anonymized view-only links are displaying contributors' names on file history on file detail page.

I am not linking to those reported projects as they are user's private projects.

In investigating the issue, making an anonymous view-only link for a previous project shows correct behaviour:
https://osf.io/u7r5e/?view_only=15cf92dcfca64676

[2015-06-22 19:00] chennan47 commented on #3253
The problem does not matter about when the project is created. It seems the anonymous link is not hiding the name for OSF storage files.

[2015-06-22 19:12] GaryKriebel commented on #3211
@TimErrington ... I'm not seeing what you saw.

![screen shot 2015-06-22 at 3 11 05 pm](https://cloud.githubusercontent.com/assets/9437946/8290437/070552ba-18f1-11e5-8b0d-83e881c3b7e7.png)

[2015-06-22 19:13] GaryKriebel commented on #3232
I am seeing this as well.

Perhaps @nanchen47 will see the cause while looking at a different view-only link issue.

[2015-06-22 19:15] TimErrington commented on #3211
I'm not seeing it now either. Maybe it is gone now that the other registration problem was addressed (the template error one - https://github.com/CenterForOpenScience/osf.io/issues/3210#issuecomment-113280336)

[2015-06-22 19:15] GaryKriebel commented on #3253
my apologies, @chennan47 ... I thought I liked to a file in OSF... I see that my top link was dropbox.

[2015-06-22 19:16] eaquigley opened #3255 "Dataverse: Send Registrations DOIs to Related Publication Field for a dataset"
During a recent OSF talk, I saw DOIs are now being minted for Registrations. From what I can tell those aren't being sent over to Dataverse through the SWORD API when someone is pushing their dataset from OSF to Dataverse.

@posixeleni and myself discussed this as an issue in the Dataverse repo here: https://github.com/IQSS/dataverse/issues/2236 and think it would fit well into the Related Publica

[2015-06-22 19:22] GaryKriebel commented on #3211
I'll close this and we can reopen/resubmit if the behavior is experienced again.

[2015-06-22 19:22] #3211 closed

[2015-06-22 19:27] samanehsan commented on #3010
After looking into this issue, I found that the `FileEditor` in `editor.js` loads twice in Firefox, and the unsaved changes are gone after that second load. Still can't figure out where/why that reload is happening. Going to defer this for now since the behavior is so inconsistent, but feel free to change back to "ready" if someone wants to look into this further.

[2015-06-22 19:37] lbanner commented on #3010
All good -- Thank you @samanehsan

[2015-06-22 19:47] sloria commented on #3164
We've completed testing the embargo and retraction scenarios and scripts.

Sam's fixes for the two remaining trello bugs are ready for QA.

Once those are resolved and QA gives the go-ahead, I am a go.

[2015-06-22 19:49] lbanner commented on #3164
With those resolved, yes, I am a "GO" --

[2015-06-22 19:49] caileyfitz commented on #3164
Once QA checks Sam's fixes, I am a GO

[2015-06-22 20:08] pdurbin commented on #3255
As @posixeleni mentioned at https://github.com/IQSS/dataverse/issues/2236#issuecomment-108654390 the advantage of "Related Publication" is that it's structured rather than how "Related Material" is free form.

[2015-06-22 20:22] brianjgeiger opened #3259 "Links tricky for developers"
If someone attempts to do anything at all out of the ordinary with Links, they are going to run into a problem with _get_attr_from_tpl() which is going to give a somewhat opaque error message. The whole process seems difficult for people to use and wrap their heads around, so I'm concerned about long-term viability. We should look into refactoring this process.

The consideration was possibly maki

[2015-06-22 20:27] samanehsan commented on #1344
Closing this issue since an error message is now shown to the user if they try to upload a file over the limit. As for the grayed out file persisting afterwards, that issue has been filed in #2822.

[2015-06-22 20:27] #1344 closed

[2015-06-22 20:31] chennan47 commented on #3238
This is related to the none log problem and will be fixed by https://github.com/CenterForOpenScience/osf.io/pull/3224

[2015-06-22 20:32] nanchen47 commented on #3233
This looks like a log template error. Can be an intern task.

[2015-06-22 20:51] GaryKriebel commented on #3164
I will defer to @caileyfitz and @sloria

[2015-06-22 20:58] #3250 closed

[2015-06-22 20:58] haoyuchen1992 commented on #3171
I can work on this.

[2015-06-22 20:58] sloria commented on #3250
This is now fixed

[2015-06-22 21:03] sloria commented on #3164
Looking into one last issue with Dataverse draft files. Once that is resolved, I think we are a go.

ping @chrisseto and @icereval for go/nogo

[2015-06-22 21:10] samanehsan commented on #2396
This issue has been fixed in production. Now the navbar is not included on the page with the two-factor form:
![screen shot 2015-06-22 at 5 06 52 pm](https://cloud.githubusercontent.com/assets/6414394/8293124/6742de30-1901-11e5-90b0-0af5e1aa2360.png)

[2015-06-22 21:10] #2396 closed

[2015-06-22 21:14] chrisseto commented on #3164
@sloria @samchrisinger And I are looking into this now.

[2015-06-22 21:18] lbanner commented on #3164
:+1: Thanks.

[2015-06-22 21:20] lbanner commented on #3019
@caneruguz -- Had time to look into this one? TY

[2015-06-22 21:20] caileyfitz commented on #3164
For the time being, I am a no-go. Will reassess later this evening. Having too many Dataverse issues (differences in archiving content based on registration timing) that were thought to be fixed but are now appearing again.

[2015-06-22 21:28] samanehsan commented on #2183
If my understanding of Figshare is correct, users should not be able to delete published files at all. When I try to delete a published Figshare file from the files grid, I get a 400 error in the console along with the following error message:
![screen shot 2015-06-22 at 5 26 41 pm](https://cloud.githubusercontent.com/assets/6414394/8293520/e0f2531c-1903-11e5-8ae4-f12c854df387.png)

Also, when I g

[2015-06-22 21:39] lbanner commented on #3164
We are a full week beyond the date it was thought we could resolve Figshare and Dataverse within a day or so -- I'd like not to head down that path again. If we need to simply disallow Dataverse registration in order to bring the high-value of Archiver/Retraction/Embargo to our user base now (expected June 8), then I believe we should make the decision to do so. As I noted last week, Dataverse can

[2015-06-22 22:02] sloria commented on #3164
Not sure if it is more work to disable Dataverse (and add necessary language for the user, etc.) or to fix the existing issue: @chrisseto is probably in the best position to assess.

[2015-06-22 22:17] chrisseto commented on #3164
I'm going to defer to @samchrisinger as he is the most up to date with his progress.
I believe there is only one unanswered bug at this point.

[2015-06-22 22:44] abought commented on #3058
In 600 runs: 159 failures (26.5%).

The database caching hypothesis seems very plausible, based on two points from processing logs:

1. All of these failures occurred when the PID associated with pointer deletion had been used for at least one other node create/update task
2. None of these failures occurred when the same PID was used for pointer creation and deletion

This fits the theory that the

[2015-06-23 00:42] samchrisinger commented on #3164
With the most recent updates to staging Dataverse is working as expected. Once QA takes a final pass I'm a go.

[2015-06-23 01:51] brianjgeiger commented on #3058
Ideally, we want to find out what the key is at https://github.com/CenterForOpenScience/modular-odm/blob/develop/modularodm/ext/concurrency.py#L39 at the same time as we find out the thread id (or worker id or whatever we might have access to at that point). What I was expecting from code inspection is that the key would change on each request, but on a single threaded system, the dummy req… oh, r

[2015-06-23 02:00] GaryKriebel commented on #3164
Looks like I'm a go.  Anyone else?

[2015-06-23 02:20] lbanner commented on #3164
"Go" also ... when you are ready @sloria  -- and thanks much for dedicated work @samchrisinger .... @caileyfitz ?

[2015-06-23 03:19] caileyfitz commented on #3164
Sorry - was snoozing 😴 After a rough sanity check on a couple registrations that were giving me trouble before, I have no objections and am a GO

[2015-06-23 03:21] lbanner commented on #3164
Thanks @caileyfitz !!

[2015-06-23 04:42] #3164 closed

[2015-06-23 12:10] saradbowman commented on #3253
User reports issue is resolved - thanks @GaryKriebel @chennan47!

[2015-06-23 12:59] #3253 closed

[2015-06-23 13:33] bdyetton commented on #3138
@brianjgeiger Will API V2 overcome the problem? if not i will work on this issue.

[2015-06-23 13:35] bdyetton commented on #3122
@GaryKriebel I will work on this

[2015-06-23 13:38] lbanner commented on #3122
Got it @bdyetton -- and we'll get you added to COS org so we can assign directly.

[2015-06-23 13:43] lbanner commented on #2183
So -- messaging then on this can be improved? i.e. Instead of "delete failed" should we articulate "Delete failed. Published files cannot be deleted from Figshare" ?

[2015-06-23 14:07] brianjgeiger commented on #3138
Not directly. The FileTree mentioned in #2356 became not a requirement for the API, but that's the thing that's necessary. I do not have any insight on when it's intended to be implemented at this point. So without that, you would need to do the "procrastinating loading", which is like lazy loading except it loads everything currently visible without necessarily expanding them.

[2015-06-23 14:10] samanehsan commented on #2183
@lbanner, my current fix won't show the delete button in the files toolbar if the user cannot delete that figshare file. I think if the delete is guaranteed to fail we shouldn't show it to the user or the button should be disabled. Thoughts?

[2015-06-23 14:12] lbanner commented on #2183
Much better idea!

[2015-06-23 14:27] brianjgeiger commented on #3054
Possibly should be an `expand` route rather than `expands`, since it's not a collection. I don't yet have strong feelings on this.

[2015-06-23 14:31] samanehsan commented on #980
Closing this issue here since it's been reported on the pydocx tracker.

[2015-06-23 14:31] #980 closed

[2015-06-23 14:41] haoyuchen1992 opened #3272 "[Product & Staging] [OSF style guideline] Miss the loading spinner for recent activity tag on dashboard"
### Steps
1. Go to project page with multiple pages of recent activity records
2. Switch between the pages of recent activity records

### Current behavior
While loading, it just shows the text -- "Loading logs",
![spinner](https://cloud.githubusercontent.com/assets/5420789/8308612/c7c9a63e-1993-11e5-8418-0c0495f34b65.gif)

### Expected behavior
It should use the standardized loader from OSF style

[2015-06-23 14:58] jinluyuan opened #3275 "[Production & Staging] Message about uncopyable files (private Figshare, Mendeley, Zotero) should be in same modal"
### Steps
1. Go to [osf.io](http://www.osf.io).
2. Go to one of your projects.
3. Go to your project's Settings page.
4. Enable and configure Figshare (make sure your Figshare has private content), Mendeley, and a few other add-ons.
5. Go to your project's Registrations page.
6. Go through the steps to create a new registration.
10. Read the modal about Figshare.
11. Click "OK".
12. Read the modal

[2015-06-23 14:59] samanehsan commented on #3088
Updates from @sloria:

[2015-06-23 15:04] samanehsan commented on #2603
I can't reproduce this issue. @nicipfeiffer, can you see if this is still happening? Thanks!

[2015-06-23 15:09] caileyfitz opened #3276 "Mendeley and Zotero add-on terms modals incorrect"
# Steps
1. Log into production
2. Go to user settings > Configure add-ons
3. Click the box next to Mendeley and Zotero to enable the add-ons (if already checked, click to uncheck and then click again)
4. Read the registration section of the terms modals for each add-on

# Expected
I expect that the terms modal would indicate that Mendeley and Zotero content **will not** be registered, since we dec

[2015-06-23 15:31] haoyuchen1992 commented on #3272
@lbanner I can work on it :)

[2015-06-23 15:35] NatashaRichter opened #3277 "[Production]: Logs reflecting acitivity in Box add-on not rendering for some projects"
## Steps

1. Go to this project on production (ping me for access): https://osf.io/pm8re/
2. Check the project log
3. Click through the pages of the log until you see instances where the logs are not rendering (activity in Box add-on not rendering on June 8th)
4. Go to this project on the OSF (ping me for access): https://osf.io/5936d/
5. Check the project log
6. Click through the pages of the log

[2015-06-23 15:45] jinluyuan opened #3278 "[Feature] Add a "New Fork" button to the Forks page"
### Steps
1. Go to [osf.io](http://www.osf.io).
2. Go to one of your projects.
3. Go to your project's Forks page.

### Expected behavior
I would expect to be able to create a new fork from the Forks page, in the same way that I can create a new registration from the Registrations page.

### Actual behavior
The only way to make a new fork is by clicking the Duplicate button on the top right of the

[2015-06-23 15:53] nanchen47 commented on #3277
Duplicate issue as https://github.com/CenterForOpenScience/osf.io/issues/3230

[2015-06-23 17:21] #2183 closed

[2015-06-23 17:38] NatashaRichter commented on #3277
@nanchen47 Will the PR fix this issue too? I thought this issue was different from 3230 in that it's not "end of log behavior." The logs not rendering for this show up even at the beginning of logs; however, your pull request may fix this situation, as well.

[2015-06-23 17:40] chennan47 commented on #3277
@NatashaRichter Yes, it will, the error in log will prevent log after it
gets rendered. Fix the box log will fix the rendering problem.

On Tue, Jun 23, 2015 at 1:38 PM, NatashaRichter <notifications@github.com>
wrote:

[2015-06-23 17:42] NatashaRichter commented on #3277
Thanks @nanchen47

[2015-06-23 19:19] samanehsan commented on #2843
^ Since this is an issue with treebeard, @caneruguz suggested filing the issue in that repo

[2015-06-23 19:23] wisherp opened #3281 "Error when searching for * (asterisk) on production"
## Steps
1. Go to osf.io
2. On the navbar, click on search and type in the asterisk (*)

## Expected
The search page would display several results for each category

## Actual
I get a 500 error on my console and a message saying 'unable to resolve'.

![500 error when searching for asterisk](https://cloud.githubusercontent.com/assets/10926926/8315001/45c40ed6-19bb-11e5-95bc-0f478ffcd409.png)

[2015-06-23 19:45] TomHardwicke opened #3282 "Incorrect rendering of R code"
# Steps

Go to https://osf.io/s8z37/

# Expected

Correctly rendered R code document.

# Actual

I get a series of apparently meaningless symbols like this:

![screen shot 2015-06-23 at 15 41 11](https://cloud.githubusercontent.com/assets/5615147/8315379/61914f90-19be-11e5-9232-564f82f50dec.png)

Note that other R code documents in this project are rendering correctly and the file in question appe

[2015-06-23 20:10] GaryKriebel commented on #3281
@nanchen47 can you give this a look?

[2015-06-23 20:14] samanehsan commented on #2683
Closing this since it seems to no longer occur on production - neither I nor @caileyfitz can reproduce it.

[2015-06-23 20:24] caileyfitz opened #3286 ""Make Public" button message is inaccurate for embargoed registrations"
# Steps
1. Go to osf.io
2. Go to one of your projects that has at least one other admin user
3. Create an embargoed registration of your project
4. In the email sent to admins, **do not** yet click the "Approval" link
5. Go to the registration's overview page
6. Click the "Make Public" button
7. Read the message in the modal

# Expected behavior
I expect that immediately upon clicking the "Make Pu

[2015-06-23 20:26] sloria commented on #3286
Thanks @caileyfitz . @HarryRybacki please incorporate this behavior into the hotfix for removing the outdated text.

[2015-06-23 20:31] GaryKriebel commented on #3282
Might this be the same issue as https://github.com/CenterForOpenScience/osf.io/issues/3014?

[2015-06-23 20:33] samanehsan commented on #1228
Closed by #3132

[2015-06-23 20:33] #1228 closed

[2015-06-23 20:36] bnosek opened #3287 "[osf production] Remove "Important Note" from Registration Modal"
This is now outdated.  Registration and retraction functionality is in production.

![screen shot 2015-06-23 at 4 31 42 pm](https://cloud.githubusercontent.com/assets/1761504/8316497/7487b858-19c5-11e5-9d5c-489f1f126a49.png)

A sentence can be added to the top paragraph "After selecting OK, you will next select a registration form."

[2015-06-23 20:40] samanehsan commented on #2670
Now that public registrations can only be retracted and not made private, is this still an issue? @HarryRybacki @GaryKriebel

[2015-06-23 20:40] lbanner commented on #3287
Thanks @bnosek  -- @sloria has this on his list, but good to have it here as issue.

[2015-06-23 20:43] GaryKriebel commented on #2670
Correct.

I'll close.

[2015-06-23 20:43] #2670 closed

[2015-06-23 20:47] jlcohoon opened #3288 "surface wiki "save" button"
From the OSF suggestion box, and related to https://github.com/CenterForOpenScience/osf.io/issues/1142.

<h4>Steps</h4>
1. Visit a wiki page you have editing privileges on.
2. Click to edit the page.

<h4>Behavior</h4>
1. The save button is not visible on the screen.
![screen shot 2015-06-23 at 4 31 16 pm](https://cloud.githubusercontent.com/assets/4965832/8316821/82e92416-19c7-11e5-8699-5a7548804

[2015-06-23 21:09] #3187 closed

[2015-06-24 01:10] #3230 closed

[2015-06-24 01:10] sloria commented on #3248
Migration was run. @chennan47 Can you confirm that this is now fixed?

[2015-06-24 01:10] sloria commented on #3230
Migration was run. @NatashaRichter Can you confirm that this was fixed?

[2015-06-24 01:11] sloria commented on #3238
Migration was run. @caileyfitz Can you confirm that this is fixed?

[2015-06-24 02:31] nicipfeiffer commented on #2603
@samanehsan I can reproduce the error, but only for one of my repos.
![screenshot 2015-06-23 22 31 31](https://cloud.githubusercontent.com/assets/9381062/8321653/9ed2d872-19f7-11e5-8766-051060ef5990.png)

[2015-06-24 12:50] bnosek opened #3289 "[osf email] receiving two emails despite merged accounts"
I receive OSF announcement emails to:

nosek@virginia.edu
AND
ban2b@cms.mail.virginia.edu

At one point, these were separate accounts but they have been merged into a single account.  However, the email mechanism does not appear to recognize that.

Simple solution is for me to unsubscribe one, but this will come up for users and become an annoyance.

[2015-06-24 12:53] lbanner commented on #3289
@bnosek I believe the functionality is such that, even though both emails are tied to a single account, they both remain active and therefore both possible to receive our OSF / system emails.

[2015-06-24 12:53] GaryKriebel commented on #3289
@samanehsan would this be easy to correct now that email merging as been in effect?

[2015-06-24 12:56] bnosek commented on #3289
right - a bug not a feature.  User would not expect to receive multiple
emails when they are tied to a single account.

On Wed, Jun 24, 2015 at 8:53 AM, Gary Kriebel <notifications@github.com>
wrote:

[2015-06-24 12:57] GaryKriebel commented on #3289
I think it is a reasonable expectation that the primary email is the email that is subscribed.  After merging, you do not have access to the "Configure Email Preferences" for the former stand alone account.

![screen shot 2015-06-24 at 8 55 12 am](https://cloud.githubusercontent.com/assets/9437946/8330354/cf91f69e-1a4e-11e5-9474-7b3a9a134312.png)

There may be some discussion required for the case

[2015-06-24 13:08] chennan47 commented on #3248
Migration was run. @chennan47 Can you confirm that this is now fixed?
![screen shot 2015-06-24 at 9 07 47 am](https://cloud.githubusercontent.com/assets/4974056/8330616/8249a920-1a50-11e5-9a42-ac039cb92142.png)

[2015-06-24 13:18] #2843 closed

[2015-06-24 13:20] NatashaRichter commented on #3230
@sloria Still seeing this end-of-log behavior on Production (on more than one project):

![end of log](https://cloud.githubusercontent.com/assets/7093086/8330833/3f2a2fa0-1a52-11e5-8925-643106000644.png)

[2015-06-24 13:22] samanehsan commented on #3289
@GaryKriebel, I can look into this now

[2015-06-24 13:25] sloria commented on #3248
Ah, I commented on the wrong issue; the migration had nothing to do with this issue. I will look into this soon.

[2015-06-24 13:27] chennan47 commented on #3230
This is the box log error which will be fixed by https://github.com/CenterForOpenScience/osf.io/pull/3265. It's not caused by log migration.

[2015-06-24 13:27] sloria commented on #3277
This isn't really a duplicate of #3230 ; the box logs may still be broken, pending merge of @chennan47's PR.

[2015-06-24 13:49] caileyfitz commented on #3238
Issue is resolved :whale:

[2015-06-24 13:50] sloria commented on #3230
@NatashaRichter The logs should now be fixed. Can you please verify?

[2015-06-24 13:51] lbanner commented on #3289
Thanks @samanehsan

[2015-06-24 13:58] pattisdr commented on #3046
Should a user be able to POST a final registration without making a registration draft first?

[2015-06-24 14:00] brianjgeiger commented on #3046
No, I don't think that fits with our current workflow.

[2015-06-24 14:03] #3277 closed

[2015-06-24 14:06] caileyfitz commented on #3287
Related to #3286 (same inaccurate information in the modal but the modal appears in a different place)

[2015-06-24 14:07] XTech2K commented on #3278
Oh; I didn't see that discuss label.

Well, if we decide that this change is something we want, I have a PR ready to fix it.

What I did was make the forks page look like the registrations page, which made sense to me since both pages perform similar functions.

[2015-06-24 14:14] #3238 closed

[2015-06-24 14:15] sloria opened #3292 "Go/nogo on 0.41.0"
Includes the new landing page and navbar.

Also contains a few bugfix PRs https://github.com/CenterForOpenScience/osf.io/pulls?page=1&q=is%3Apr+milestone%3A0.41.0+is%3Aclosed which have already gone through QA.

ping @JeffSpies @GaryKriebel @lbanner @caileyfitz

[2015-06-24 14:16] NatashaRichter commented on #3230
@sloria @nanchen47 Still seeing "No logs to show" at end of logs upon clicking rapidly to the end (and still have to click back for awhile to return to the actual logs). Just reproduced on this project:

https://osf.io/vnmyr/

Added Nan as an admin to the project.

[2015-06-24 14:16] lbanner commented on #3278
OK @XTech2K ... I think we will want @jlcohoon at minimum providing feedback on your approach to this - possibly @saradbowman as well. Thanks.

[2015-06-24 14:17] lbanner commented on #3292
Including all 47 of those PR's tagged w/41 milestone @sloria ?

[2015-06-24 14:18] sloria commented on #3230
@NatashaRichter Can you add me as a contributor as well?

[2015-06-24 14:23] chennan47 commented on #3230
Sry I mean I can't repo the problem. It works fine for me.

[2015-06-24 14:23] sloria commented on #3282
Thanks for reporting @TomHardwicke. Yes, this has the same cause as #3014. @chrisseto is working on the fix.

[2015-06-24 14:25] sloria commented on #3292
@lbanner No, only those that are closed and have gone through QA.

[2015-06-24 14:27] caileyfitz opened #3293 "Project stuck in Archiving mode"
## Steps
1. Go to a project you have admin access to on production
2. Go to the settings tab for the project
3. Enable/Configure the *all* external add-ons: S3, Box, Dataverse, Dropbox, Github, Google Drive, figshare, Mendeley, and Zotero.
4. Also, enable the external link and enter a forwarding url
5. Go to the registrations tab
6. Go through the steps to make an embargoed registration using the

[2015-06-24 14:27] caileyfitz commented on #3293
Tagging @sloria. Maybe we should run the script? @samchrisinger as well

[2015-06-24 14:31] lbanner commented on #3292
Cool. So -- I am going to assume that we defer for graphics-contractor participation the "mobile" oriented bugs on Trello board for the new landing page? -- If so -- it's looking very clean at present!

[2015-06-24 14:32] XTech2K commented on #3276
I will create a hotfix for this

[2015-06-24 14:36] GaryKriebel commented on #3292
My only concern is the logo when seen in Safari.
![screen shot 2015-06-23 at 4 38 02 pm](https://cloud.githubusercontent.com/assets/9437946/8332612/d52679be-1a5c-11e5-8dca-6f1255c036d3.png)

Is this one of the issues that Caner is reviewing?

[2015-06-24 14:36] jlcohoon commented on #3278
I 100% agree with this.

[2015-06-24 14:44] sloria commented on #3292
Yes, @caneruguz is looking into this now.

[2015-06-24 14:46] JeffSpies commented on #3292
It does something similar on small screens.

On Wed, Jun 24, 2015 at 10:44 AM, Steven Loria <notifications@github.com>
wrote:

[2015-06-24 14:46] #3286 closed

[2015-06-24 14:47] NatashaRichter commented on #3230
@chennan47 Yes, Nan, I talked to Steve (will show you, too); it's now a different log problem (related) that I am seeing and will create a new issue for. Let's talk via flowdock to meet.

[2015-06-24 14:47] sloria commented on #3292
Here is the trello card: https://trello.com/c/W8q6GJOR/19-safari-mobile-responsive-logo-is-broken

[2015-06-24 14:49] lbanner commented on #3292
PR is in: #3295

[2015-06-24 14:50] caneruguz commented on #3292
Wow that was fast @lbanner ! I updated the Trello board.

The one thing that I couldn't figur out fast is that their dot animation does not properly reset itself on resize (orientation change in phone is also resize). That's something that might need to go back to them.

[2015-06-24 14:50] jlcohoon commented on #2958
Did this get fixed? I'm still seeing the issue.

[2015-06-24 14:56] lbanner commented on #3293
Have we had other successful Registrations on Production @caileyfitz ?

[2015-06-24 14:58] XTech2K commented on #3278
By the way, this is what my version of the page looks like:

![screen shot 2015-06-24 at 10 57 42 am](https://cloud.githubusercontent.com/assets/5955359/8333202/fd455c46-1a5f-11e5-9bc6-a615b6cb7158.png)

[2015-06-24 15:00] jlcohoon commented on #3278
Looks good to me. Could we also move the "There have been no forks of this project" to be left aligned rather than randomly floating?

[2015-06-24 15:04] sloria commented on #2958
@haoyuchen1992 Can you take a look at this?

[2015-06-24 15:05] jinluyuan opened #3296 "[Production] Warning about private Figshare content appears twice if Figshare is enabled for both parent & component"
### Steps
1. Go to [osf.io](http://www.osf.io).
2. Go to one of your projects.
3. Make sure Figshare, with private content in it, is enabled.
4. Create a component.
5. Enable the same Figshare folder in the component.
6. Go back to the project overview.
7. Go through the steps to create a new registration.
8. Stop at the first warning modal about Figshare.

### Expected behavior
I expected that th

[2015-06-24 15:06] XTech2K commented on #3278
I moved the entire column, which means that that happened anyways

here is an image of a project with no forks:

![screen shot 2015-06-24 at 11 05 43 am](https://cloud.githubusercontent.com/assets/5955359/8333463/fce4510c-1a60-11e5-9a36-a160130964e8.png)

[2015-06-24 15:06] #3287 closed

[2015-06-24 15:07] caileyfitz opened #3297 "[feature request] Change log of "User initiated/cancelled embargo" to "embargoed registration" for clarity"
Reported by @jinluyuan on the 0.41 Trello board:

1. Create an embargoed registration for one of your projects.
2. Disapprove the embargo from the email link.
3. View the project logs.

I expected that the logs would read "Jinlu Yuan initiated an embargoed registration...".

The logs say "Jinlu Yuan initiated embargo of Jungle". I believe saying "an embargoed registration" would be clearer. The em

[2015-06-24 15:08] caileyfitz commented on #3293
@lbanner Yes, I registered one other project that had almost exactly all the same add-ons with the exception of Zotero and an external link and that registration went through in only a couple of minutes. For some reason, only this registration got stuck.

[2015-06-24 15:09] caileyfitz commented on #3293
Two other projects with a combination of these add-ons also registered successfully.

[2015-06-24 15:15] sloria commented on #3292
Once the latest fixes have gone through QA, I am a go.

[2015-06-24 15:18] haoyuchen1992 commented on #2958
@jlcohoon I just tested in both staging and production. Both work well. Where did you test it? What's the project name you used for testing?

[2015-06-24 15:23] NatashaRichter opened #3298 "[Production]: Admin cannot comment on a project that is configured for email notifications"
## Steps

1. Log in to osf.io
2. Navigate to a project for which you have admin permissions.
3. Go to your settings page to configure your notifications
4. Choose from the drop-down menu: "Emails"
5. Comment on the project
6. Navigate to another project for which you have admin permissions
7. Have **another** admin on the project configure notifications this time
8. Have them choose from the drop-

[2015-06-24 15:27] jlcohoon commented on #2958
I'm sorry—this was from the regular search, not the onboarder. Should I log elsewhere?

I saw the issue on production:
![screen shot 2015-06-24 at 10 49 28 am](https://cloud.githubusercontent.com/assets/4965832/8334040/ccf52554-1a63-11e5-971a-962403e76ea5.png)

I searched for "Masicampo"

[2015-06-24 15:29] lbanner commented on #3292
I'm on board -- "GO" w/those fixes passing. Thanks.

[2015-06-24 15:29] brianjgeiger commented on #3278
Be sure to check the Style Guide for this. http://caneruguz.github.io/osf-style/

[2015-06-24 15:30] caneruguz commented on #3292
Sara had comments on the text consistency https://github.com/CenterForOpenScience/osf.io/pull/3267#issuecomment-114909631

[2015-06-24 15:31] #3276 closed

[2015-06-24 15:32] lbanner commented on #3278
+ 1 @brianjgeiger

[2015-06-24 15:32] XTech2K commented on #3086
I just noticed that there is also an odd connection with #3235; if you add something to a collection, it will always appear in the search until the collection is deleted, even if it is removed from the collection.

[2015-06-24 15:37] nanchen47 commented on #3281
This problem has been fixed on production by running invoke migrate search to remove wrong data from elasticsearch database.

[2015-06-24 15:37] #3281 closed

[2015-06-24 15:41] NatashaRichter opened #3299 "[Production]: Clicking through log while log loads leads to "No logs to show""
## Steps

1. Log in to osf.io.
2. Navigate to one of your projects that has a lot of recent activity in the project log.
3. Scroll down to the project log.
4. Click through the pages of the log to the end, as the log is still loading.

## Expected behavior:

I expect to land on the final page of the log, which will record my earliest activity on the project.

## Actual behavior:

I see a "No logs

[2015-06-24 15:41] XTech2K commented on #3278
Just checked it, and I see no issues, especially because I am just copying the design of another page.

The one thing that might be improvable would be the amount of text when there are no forks, since the page feels slightly empty with just one short sentence. Any ideas on what could be put there?

[2015-06-24 15:41] jinluyuan opened #3300 "[Production] Grammatical & spelling mistakes in private registration's "Make Public" warning modal"
### Steps
1. Go to [osf.io](http://www.osf.io)
2. Go to one of your projects that has a private/embargoed registration
3. Go to that registration's overview page
4. Click the "Make Public" button
5. Read the modal

![screen shot 2015-06-24 at 10 57 03 am](https://cloud.githubusercontent.com/assets/8591162/8334067/f288b934-1a63-11e5-80e3-4f5a5fa403a5.png)

### There are also a few stylistic issues.

[2015-06-24 15:42] NatashaRichter commented on #3299
@chennan47 Here's the issue I showed you!

[2015-06-24 15:43] brianjgeiger commented on #3278
Specifically, http://caneruguz.github.io/osf-style/style.html#buttons - And the style guide is more important than existing usage. There's all sorts of crazy inconsistent things we do now that we don't want to copy.

[2015-06-24 15:49] jinluyuan commented on #3297
+1 Thanks @caileyfitz

[2015-06-24 15:49] sloria commented on #3300
Good catches. Will fix those now.

[2015-06-24 15:53] XTech2K commented on #3278
Thanks! Fixing that now. I can also change the registration button to be the correct color if we want (especially since that is one of the exact examples used in the style guide) but would it be a bad idea to include that in the same PR, even if it is a single-word change?

[2015-06-24 15:56] #3300 closed

[2015-06-24 15:56] sloria commented on #3300
Here is the updated text:

![osf___test_comp](https://cloud.githubusercontent.com/assets/2379650/8334845/0f92287c-1a68-11e5-90e3-6289913bf51e.png)

@bnosek Feel free to suggest any further changes.

[2015-06-24 15:58] sloria commented on #3292
Those comments have now been addressed.

[2015-06-24 16:01] caileyfitz opened #3302 "No results when searching for user with same name as contributor on a project"
# Steps
1. Go to a project on which you have admin access on production
2. Go to the Sharing tab
3. Press Add to add a contributor
4. In the modal, search for *Casey Rollins*
5. Confirm that three users appear
![screen shot 2015-06-24 at 11 36 32 am](https://cloud.githubusercontent.com/assets/5975444/8334687/38fd2a00-1a67-11e5-84f0-cd20dbc8ac9a.png)
6. Select the account for Casey with the pink av

[2015-06-24 16:02] GaryKriebel commented on #3292
Capital "I" on "OSF Integrations make ..."?

[2015-06-24 16:04] caileyfitz commented on #3292
When all cards have made it through QA and all issues resolved, I am a GO.

We currently have three cards in 2nd Pass, three in Bugs Found, and one in Draft/Pending

[2015-06-24 16:15] NatashaRichter opened #3304 "[Feature Request] Enhance emails to users by distinguishing project titles from other text"
## Current State

Currently, if you register a project, you'll receive emails in which project titles are not distinguished from other text in the emails. If project titles are set apart from other text via bolding or some other agreed upon way, it will read better and look more professional to users.

## Expected Behavior

Registration of **Phantom of the Opera** finished.

## Actual Behavior

Re

[2015-06-24 16:17] abought commented on #3058
Submitted #3303, a fix based on pushing a flask dummy request context in Django middleware. I've also updated https://gist.github.com/abought/0814e30017494ce5542c to include the latest versions of mass-request-generation code (used with uwsgi command described above) that I used for testing this bug locally.

[2015-06-24 16:31] JeffSpies commented on #3292
Does the OSF have an upper password limit?

On Wed, Jun 24, 2015 at 12:04 PM, Cailey Fitzgerald <
notifications@github.com> wrote:

[2015-06-24 16:38] chrisseto commented on #3014
This is fixed. @GaryKriebel

[2015-06-24 16:39] chrisseto commented on #3282
This is fixed @GaryKriebel

[2015-06-24 16:41] sloria commented on #3292
@JeffSpies I believe it is 256 characters.

[2015-06-24 16:42] #3282 closed

[2015-06-24 16:42] #3014 closed

[2015-06-24 16:50] JeffSpies commented on #3292
And the minimum is 6? Shall we update the landing page?

On Wed, Jun 24, 2015 at 12:41 PM, Steven Loria <notifications@github.com>
wrote:

[2015-06-24 17:02] sloria commented on #3292
Yes, good catch. I'll change it to "Must be 6 to 256 characters" when I make the other small changes.

[2015-06-24 17:12] sloria commented on #3292
@caileyfitz Some of the mobile-related issues will likely be sent back to the contractor. Unless there a major bugs, those cards can be deferred.

[2015-06-24 17:14] lbanner commented on #3298
Interesting bug .... @samanehsan ?

[2015-06-24 17:39] caileyfitz commented on #3292
@sloria deferred all the mobile related issue cards. Looks like everything has passed through QA now. If there are no more PRs to test, I am a go :rocket:

[2015-06-24 17:41] GaryKriebel commented on #3292
I'm a go as well.

[2015-06-24 17:41] lbanner commented on #3292
:rocket: :rocket: :rocket:

[2015-06-24 18:19] haoyuchen1992 commented on #3171
The suggestion is really good! Caner and I have discussed about it. The enhancement will be considered and implemented when we have time  to design new UI for wiki and editor.

[2015-06-24 18:24] haoyuchen1992 commented on #3272
It has been done in my branch that use osf style guideline. So the PR can be sent after the osf guideline branch is merged into develop branch.

[2015-06-24 18:27] sloria commented on #3292
Language changes (https://trello.com/c/YNTaTDrD/33-language-changes) made.

Are we a go, @JeffSpies ?

[2015-06-24 18:40] brianjgeiger opened #3308 "Add Node Tags creating/deleting"
Steps
-------
1. Try to update a project's user tags with some new or modified tags

Expected
------------
You can make that modification

Actual
--------
Tags are a read-only resource.

Note that system tags should never be editable. Also, there are some complications working with lists and dictionaries in DRF right now because the functionality is broken. @billyhunt has done some work with this

[2015-06-24 18:44] brianjgeiger opened #3309 "Survey what functionality will make API/V2 complete"
Steps
--------
Try to replace all OSF front-end functionality with the V2 API.

Expected
-------------
You could totally do that.

Actual
--------
There's a bunch of missing functionality.

If we wanted to replace all of the functionality of the OSF front-end with API v2 calls, what would we need to be able to do that? This task is to make a checklist of the required functionality, with things tha

[2015-06-24 18:58] brianjgeiger opened #3310 "Make API 401 instead of 403ing during unauthorized requests"
Steps
-------
While logged out of the OSF, try to perform an action that requires authorization.

Expected
-------------
You would receive a 401 error.

Actual
--------
You receive a 403.

The reason this is happening right now is because unit tests (and runscope tests) currently require basic authorization, but I don't want basic auth to be used by users as it is not super secure. However, when u

[2015-06-24 19:05] brianjgeiger commented on #3309
For each checkbox, if there's an issue already for completing that functionality, add a link to that issue.

[2015-06-24 19:10] sloria commented on #3310
I am not opposed to a custom error handler; I was opposed to sending the wrong error code (403). See https://github.com/CenterForOpenScience/osf.io/pull/3156#discussion_r33174879. If you can somehow use a custom error handler to prevent the dialog while browsing the API docs (while still supporting basic auth for other clients), go for it.

[2015-06-24 19:15] #3304 closed

[2015-06-24 19:26] brianjgeiger commented on #3310
Ah, I see. I typed a 403 when I meant 401 in that thread. This is how wars get started. :)

[2015-06-24 19:31] pattisdr commented on #3046
Should a user be able to create a registration draft of a registration?  I don't know why you would want to, but should this be allowed/not allowed?

[2015-06-24 19:32] brianjgeiger commented on #3061
This should no longer be necessary.

[2015-06-24 19:32] #3061 closed

[2015-06-24 19:34] brianjgeiger commented on #3046
I don't *think* so. Let's limit it for now, as it would be easier to add in later if we thought it was worth doing.

[2015-06-24 19:37] Johnetordoff commented on #3302
I got this.

[2015-06-24 19:38] lbanner commented on #3302
Thanks

[2015-06-24 19:46] jinluyuan opened #3312 ""OSF" is an initialism and should be preceded by "the" when used as a noun"
We have inconsistent usage of "the" throughout the OSF site and related materials. Since the OSF is an initialism, meaning you pronounce each letter, it always needs to have "the" (or another article) in front of it when it is used as a noun (e.g., the FBI, an IUD, the DVD, a VCR, the SAT). This issue is most apparent when reading through the FAQs page, attached. I also read through Getting Starte

[2015-06-24 20:06] #2993 closed

[2015-06-24 20:10] abought commented on #3163
#3192 merged. @brianjgeiger and @icereval  , let me know when this is deployed to Staging2 and I'll commence with testing the feature.

[2015-06-24 20:18] brianjgeiger opened #3314 "Ensure API tests are tearing down properly"
When going through the test code, it looks like Node Filtering tests have a teardown method that removes all the nodes. Most of the other test cases have nothing at all, though there is one test class that has the node removal code at the end of the last case of that test.

This task is to see if the Node.remove() code is necessary and, if so, put it in the appropriate places for existing tests (w

[2015-06-24 20:34] NatashaRichter opened #3315 "[Production]: Fix language in Getting Started page Links Explanation"
## Steps

1. Log in to osf.io.
2. Click on the "help" drop-down menu at the top of the screen and select "Getting started."
3. Go to the "structure" heading on the left hand side of the screen and click on the subheading "links."
4. Read the first sentence in the third paragraph.

## Current:

"A link can **created be** by visiting the project you want to add the link to."

## Change to:

"A link

[2015-06-24 21:22] WillBanner opened #3319 "[Staging and Production] Comment buttons cut-off at bottom of screen"
# Steps
1. Go to osf.io and log in.
2. Go to one of your projects.
3. Click on the comment box in the upper right-hand corner.
4. Create a comment.
5. Reply to the comment using the arrow at the bottom right of the comment you just made.
6. Repeat step number 5, 5-6 times or more if necessary to each subsequent comment.

# Expected
The "save" and "cancel" buttons would continue to display above th

[2015-06-24 21:29] haoyuchen1992 commented on #3152
I can work on this! Thanks :)

[2015-06-24 22:31] bnosek commented on #3300
First sentence doesn't make sense because obviously making something public
means that the data is accessible.

"Once a registration is made public, you will not be able to make the
registration private again.  After making the registration public, if you
discover material in it that should have remained private, your only option
will be to retract the registration.  This will eliminate the regist

[2015-06-25 01:54] lbanner commented on #3152
You got it -- Thanks!

[2015-06-25 01:57] lbanner commented on #3319
@WillBanner -- Good catch. This bug is meant to be resolved with PR #2534 -- updated commenting functionality. Hope to get this to Production within this Epic.

[2015-06-25 03:32] sloria commented on #3292
@JeffSpies' go given verbally.

This is now released.

[2015-06-25 03:32] #3292 closed

[2015-06-25 03:35] GaryKriebel commented on #3292
👍🏻

[2015-06-25 13:30] sloria commented on #3124
@saradbowman On what browser are you seeing this issue?

[2015-06-25 13:32] XTech2K commented on #3315
Making a hotfix for this now.

Also changes another grammatical error from the same section, "persons's work" to "person's work"

[2015-06-25 13:34] lbanner commented on #3315
Good!

[2015-06-25 13:36] saradbowman commented on #3124
It was chrome - but I just tested again, and I'm no longer experiencing the issue.

[2015-06-25 13:50] haoyuchen1992 commented on #2841
@lbanner The tooltip has been removed on both staging and production. I think both this issue and #2844 could be closed now.

[2015-06-25 13:57] haoyuchen1992 commented on #2376
This bug is also fixed in the [osf branch](https://github.com/caneruguz/osf.io/tree/feature/styleguide) which apply style guideline.  If it merges with develop branch, then this issue can be closed.

[2015-06-25 13:58] abought opened #3323 "[feature] Allow login as OSF"
We would like the OSF to serve as an identity provider for other services. (analogous to the "Login with your Google Account" feature available on many sites)

This will serve as a tracking issue for requirements gathering and implementation, per @JeffSpies .

## Requirements
Two parts:
- [ ] Identity provider (ability to get profile data), and
- [ ] Ability to use and control account via third pa

[2015-06-25 14:01] icereval opened #3324 "[Production] Files View Page file tree not sorting"
# Steps
1. Go to staging.osf.io and log in.
2. Create a new project.
3. Upload files in this specific order: x.txt, y.txt and z.txt
4. Upload files in this specific order: c.txt, b.txt and a.txt
5. Click on b.txt to navigate to the file view page
6. The left file view tree does not properly sort the files by name.

# Expected
File names would show up in alphabetical order, e.g. a.txt, b.txt, c.txt

[2015-06-25 14:03] sloria commented on #3300
Thanks @bnosek , I will make that change.

The first sentence also appears in the modal that appears when making a project public:

![osf___new_addons](https://cloud.githubusercontent.com/assets/2379650/8356096/2bba1ac8-1b21-11e5-8dbf-55a35acfebef.png)

The intention was to make clear that once a project is made public, search engines and crawlers may index the data, which would make the data publ

[2015-06-25 14:32] icereval opened #3325 "[Production] Allow parallel Dropzone uploads"
# Steps
1. Go to staging.osf.io and log in.
2. Create a new project.
3. Select multiple files to upload a once. e.g. a.txt, b.txt, c.txt.

# Expected
Multiple files should upload at the same time to provide the user an optimal experience.

# Actual
When uploading many small files, files are uploaded one at a time with significant delays.

# A Bit of History
The `parallelUploads` option was reduced

[2015-06-25 14:39] jinluyuan opened #3326 "[Feature] Allow logged in users to access "Browse New Projects" from the navigation bar"
Currently, only logged out users can see the "Browse New Projects" link in the top navigation bar. Either this should be added to the bar for logged in users as well, or a "Browse New" link in the "Explore" tab (possibly above the "Registry" link).

**Logged out**
![screen shot 2015-06-25 at 10 32 18 am](https://cloud.githubusercontent.com/assets/8591162/8356901/09d8959c-1b26-11e5-8a6f-9530a4ecc93

[2015-06-25 14:43] MPNussbaum commented on #3312
@lbanner Should I take care of this or will it be trashed in the upcoming redesign?

[2015-06-25 14:53] lbanner commented on #3312
You can update the FAQ page -- that'd be good!

[2015-06-25 14:56] lbanner commented on #2841
Cool!

[2015-06-25 14:56] #2841 closed

[2015-06-25 14:56] #2844 closed

[2015-06-25 15:02] samchrisinger opened #3328 "Onboarder's Create Project Broken"
![screen shot 2015-06-25 at 11 00 51 am](https://cloud.githubusercontent.com/assets/2207561/8357570/7f8871ce-1b29-11e5-95d4-f94f1b35fea2.png)
![screen shot 2015-06-25 at 11 00 59 am](https://cloud.githubusercontent.com/assets/2207561/8357569/7f8551b0-1b29-11e5-8ff7-00f9cdadc264.png)

# Expected
A new project gets created and I'm redirected to that project

# Actual
Clicking the create button cause

[2015-06-25 15:03] samanehsan commented on #3298
Looks to be a bug in inheriting the `notify_base.mako` template. Reassigning to @samchrisinger, since he worked on this last.

[2015-06-25 15:05] lbanner commented on #3328
@sloria ?

[2015-06-25 15:06] GaryKriebel commented on #3328
@nanchen47 can you look at this?  We'll want this fixed asap with the science articles coming out today.

[2015-06-25 15:11] sloria commented on #3328
Regression was introduced by this hotfix: https://github.com/CenterForOpenScience/osf.io/pull/3208. @chennan47 Any ideas?

[2015-06-25 15:16] chennan47 commented on #3328
Just talked with @sloria. This should now be fixed.

[2015-06-25 15:18] #3328 closed

[2015-06-25 15:21] hmoco commented on #3324
@GaryKriebel  I can work on this

[2015-06-25 15:22] lbanner commented on #3324
@icereval ... suspect this to be a regression?

[2015-06-25 15:39] #2146 closed

[2015-06-25 15:40] sloria commented on #3289
This should now be fixed.

[2015-06-25 15:40] #3289 closed

[2015-06-25 15:42] icereval commented on #3324
I don't believe so, it's been happening for some time on all environments.

[2015-06-25 15:47] lbanner commented on #3324
OK

[2015-06-25 15:54] samchrisinger commented on #3298
Resolved in https://github.com/CenterForOpenScience/osf.io/pull/3329

[2015-06-25 15:57] bnosek commented on #3300
Good catch.  How about we simplify a bit and be more direct:

"Once a project is made public, you should assume that it will always be
public.  You can return it to private later, but search engines or others
may access the files before you do so.  Please review your project for
sensitive or restricted information before making it public.  Are you sure
you would like to continue?"

On Thu, Jun 25,

[2015-06-25 16:00] brianjgeiger opened #3330 "Make cookies work across subdomains"
Steps
-------
1.Run the OSF and API targets from the branch that #3251 is based on
2. Add the following to your /etc/hosts:
[code]
3. Add the following to your website/settings/local.py
[code]
4. Run fakecas
5. Log in to `http://staging3.osf.io:5000/`
6. Visit `http://api.staging3.osf.io:8000/v2/`

Expected
------------
The `current_user` would be set to the user you logged in as on step 5.

Actua

[2015-06-25 16:15] sloria commented on #3300
Sounds good. Will make that change as well.

[2015-06-25 18:23] brianjgeiger commented on #3330
I just verified that the logout problem was not a side effect of fakecas. Also, side effects of a PR for this should note that local.py will have to be updated with a cookie domain of '.localhost' (or maybe 'localhost')

[2015-06-25 18:24] #3315 closed

[2015-06-25 19:37] WillBanner opened #3336 "[Production and Staging] Uncheck google drive add on does not fully remove it from Project"
# Steps
1. Go to osf.io
2. Go to one of your projects.
3. Go to the settings tab.
4. Check the box to select the Google Drive add on and press submit.
5. Scroll down to configure the Google Drive add on and import your API token.
6. Scroll back up and uncheck the Google Drive box and press submit.
7. Go to the User settings page.
8. On the left hand side of the page go to configure add ons.
9. Scr

[2015-06-25 19:43] icereval commented on #3163
@abought this has been deployed to staging2.

[2015-06-25 19:43] #3163 closed

[2015-06-25 20:03] hmoco commented on #3324
This is fixed in the referenced pr.

[2015-06-25 20:12] haoyuchen1992 commented on #836
Firstly, I agree with Lyndsy's point that it is unnecessary to set the maximum length here.  And also the reason why it is out of boundary is because the input is a very long word. In default setting, that word will not be break and also its length will be the width of the table cell (td).

However, in our real use case, it is nearly impossible to have such a long single word. The most complicated

[2015-06-25 20:22] abought commented on #3163
I used the runscope test to confirm that Sentry is logging API errors; thanks, @icereval . Both the API and OSF loggers are called root, but we can always change that in the future if needed.

![screen shot 2015-06-25 at 4 18 44 pm](https://cloud.githubusercontent.com/assets/2957073/8364673/f171f400-1b55-11e5-8e6a-5ce939b393a2.png)

[2015-06-25 20:38] haoyuchen1992 commented on #856
So currently when user opens project, the file will be expanded at the first level (See picture below). So does it mean the problem has been solved?

![screen shot 2015-06-25 at 4 28 45 pm](https://cloud.githubusercontent.com/assets/5420789/8364909/9135b66a-1b57-11e5-8416-ba949deccc47.png)

Similar as this issue, I think we should also expand the projects on the dashboard page. Every time I want t

[2015-06-25 20:47] GaryKriebel commented on #856
@sloria was this to do with just "folders" or the addons themselves?

Currently, folders within the addon don't expand but the top-level addons do.
![screen shot 2015-06-25 at 4 43 51 pm](https://cloud.githubusercontent.com/assets/9437946/8365174/6dd40c42-1b59-11e5-8aa5-41edd6d0b5f7.png)

[2015-06-25 20:53] #3298 closed

[2015-06-25 20:55] samanehsan commented on #3201
Closed by #3221

[2015-06-25 20:55] #3201 closed

[2015-06-25 20:57] haoyuchen1992 commented on #954
This is a small but good UI improvement. I can work on it! Thanks :)

[2015-06-25 21:05] nicipfeiffer opened #3341 "Dashboard buttons fail to restore after canceling search"
## Summary
The project dashboard toolbar has four buttons (add collection, add project, search, and info)

If the user clicks "search", then "cancel", there will only be two buttons. The "add collection" and "add project" buttons are not restored.

Seen in Firefox and Chrome.

## Steps to reproduce
1. Go to the project dashboard
2. Click "Search" on the toolbar above the project organizer.
3. Clic

[2015-06-26 12:28] nicipfeiffer opened #3343 "[IE] Uploading a file to a folder: doesn't always work"
Reported on the 0.36 Trello board by myself and also @caileyfitz
## Using IE Steps:
1. Go to a project you have admin access on that has add-ons configured and folders linked
2. Click on OSF storage
3. In the toolbar, click to create a new folder
4. With the folder closed (still showing the plus sign), click to upload a file
5. Select a file called one.ext to upload
6. See that no upload is displa

[2015-06-26 12:33] lbanner commented on #3124
I will close for now -- Thanks.

[2015-06-26 12:33] #3124 closed

[2015-06-26 12:44] nicipfeiffer opened #3344 "[IE] Cannot type in 'Add Existing Project' text field for Collection"
Reported on the 0.36 Trello Testing board
## Steps
1. Go to osf.io on IE (I am using IE10)
2. Go to your dashboard
3. With the Dashboard collection highlighted, press Add Existing Project
4. Start to type a project name
5. And/or click to 'Add Collection'; name the collection
6. With the new collection highlighted click the 'Add Existing Project' in the toolbar
7. In the text field that appears, b

[2015-06-26 12:55] haoyuchen1992 commented on #3341
I can work on this one. Thanks!

[2015-06-26 13:23] pdurbin opened #3345 "Link back to the homepage of each project OSF integrates with (Dropbox, Github, Dataverse, etc.)"
I **love** the [fancy new](https://groups.google.com/forum/#!topic/openscienceframework/TJixx-R3UkU) https://osf.io homepage*!

It would be kind of awesome if all these images (Dropbox, Github, Dataverse, etc.) linked back to the homepage of each project. Here's where this is in the code:

https://github.com/CenterForOpenScience/osf.io/commit/b9de67f6b46dc661863bfe8883976caec0795e6a#commitcomment-

[2015-06-26 13:48] GaryKriebel commented on #3345
Thanks @pdurbin

[2015-06-26 13:54] jinluyuan opened #3346 "Email to merged account is addressed incorrectly to primary account's owner"
### Steps
1. Go to [osf.io](http://www.osf.io).
2. Make sure you have access to two accounts, one of which you want to merge into the other
3. Make sure the accounts have different names (Jinlu Test vs. Pearson Creed)
4. Log into the primary account (the one you want to keep)
5. Go to Account Settings
6. Add the email address of the account you want to merge (pearsoncreed@gmail.com)
7. Check your

[2015-06-26 14:06] haoyuchen1992 commented on #856
I think I made mistake in last comment. Considering some collections and projects could be displayed in top level of dashboard. If `all my projects` expand at the beginning, use would be hard to find the items originally below `all my projects`.

So it may be better to make a small expanded list that contains the most or recently visited projects.

[2015-06-26 14:09] lbanner commented on #856
Interesting approach -- thoughts @caneruguz ? I'd like @jlcohoon 's further thoughts too.

[2015-06-26 14:14] #3297 closed

[2015-06-26 14:15] hmoco commented on #3346
@GaryKriebel I can work on this

[2015-06-26 14:37] nicipfeiffer commented on #1669
@lbanner @sloria This is happening again!

[2015-06-26 14:37] #3299 closed

[2015-06-26 15:02] brianjgeiger commented on #856
The proper solution for this problem is #3054

[2015-06-26 15:06] lbanner commented on #1669
@chennan47  --  Can you looks a this again as priority, please. Did we make changes that regressed a fix? Thanks.

[2015-06-26 15:08] NatashaRichter opened #3349 "[Production] Project's Recent Activity Not Rendering"
## Steps
1. Log in to osf.io
2. Navigate to this project (ping me for access): https://osf.io/5936d/
3. Look at the log

## Expected Behavior

I expect to see all activity related to the project recorded in the project's log.

## Actual Behavior

No activity renders at all. The date and time 6/25/2015 (11:58 a.m.) appears, followed by "Could not render log"

## Screenshot

![emptylog](https://clou

[2015-06-26 15:17] jinluyuan opened #3350 "Improve functionality and appearance of FAQ page"
The [OSF FAQ](https://osf.io/faq/) page lacks any navigation or grouping of questions, which causes the user to take longer to find the question that applies to his situation. The page is also very static and plain.

Examples of a more modern, user-friendly style of FAQ page are [Github](https://help.github.com) and [Figshare](https://figshare.zendesk.com/hc/en-us).

[2015-06-26 15:19] lbanner commented on #3350
As we grow in user-base, and improve OSF functionality, it will become more critical that this page be easy to navigate and understandable for our users.

[2015-06-26 15:21] saradbowman opened #3351 "Show changes made in dropbox in logs"
Question about/Request from user to log changes made in dropbox.

Current behavior is that changes made from dropbox website or synced dropbox folder do not display in OSF logs. Changes made to dropbox content from the OSF interface do show in logs. All versions of files display on file detail page, regardless of where change was made.

Dropbox has recently added webhooks. Would be great to utiliz

[2015-06-26 16:10] icereval opened #3353 "[Production] Drag and Drop Between Storage Addon's"
## Steps
1. Log in to osf.io
2. Navigate to a project.
3. Connect multiple storage addon's, e.g. Dropbox.
4. Go to the files page.
5. Ensure files exist in both Dropbox and OSF Storage.
6. Drag and Drop a file from Dropbox to OSF Storage, be sure to drop it over the top of an existing file.
7. The file does not transfer.

## Expected Behavior
The file should transfer to OSF Storage which is the be

[2015-06-26 17:04] lbanner commented on #3346
@hmoco -- Please note @jinluyuan 's comment in PR #3348 .... right email is fixed, but one more needed change is correcting the addressee field. Thanks.

[2015-06-26 17:12] hmoco commented on #3346
Yes, my fix actually does nothing, working on actually fixing the issue.

[2015-06-26 17:24] #3058 closed

[2015-06-26 17:39] hmoco commented on #3346
The issue is now (actually) fixed on #3354. Sorry about the confusion.

[2015-06-26 17:43] #3346 closed

[2015-06-26 19:12] NatashaRichter opened #3359 "[Feature Request] Highlight file in files grid after adding file to project through uploader widget"
## Steps

1. Log in to osf.io.
2. From your dashboard, click on the uploader widget.
3. Upload a file to a project that has many add-ons, folders, and files.
4. When you are redirected to the Files Tab, locate the recently uploaded file.

## Expected Behavior

That upon redirection to the Files Tab, the file would appear highlighted and at the top of the page (already scrolled down to OSF Storage)

[2015-06-26 19:15] icereval commented on #3325
Chris' PR addresses this issue: https://github.com/CenterForOpenScience/osf.io/pull/3356

[2015-06-26 19:27] #3324 closed

[2015-06-26 19:33] hmoco commented on #3296
I can work on this

[2015-06-26 19:43] lbanner commented on #3296
Done!

[2015-06-26 20:32] haoyuchen1992 opened #3365 "[Production & Staging] Selection in project organizer blinks when the number of row is larger than 50."
### Steps
1) Go dashboard page
2) Make sure the number of row in dashboard (Project organizer) is larger than 50
3) Scrolling down the item lists

### Expected
The selected bar will not change when scrolling
### issues
When scrolling down the item lists, the selected blue bar will keep blinking.
![blink](https://cloud.githubusercontent.com/assets/5420789/8386772/e6c9a9fa-1c20-11e5-9e51-ad2682467d1

[2015-06-26 20:32] haoyuchen1992 commented on #3365
I can work on this. Thanks!

[2015-06-26 20:40] jinluyuan commented on #2031
It appears that add-on configuration success messages are still inconsistent.
![screen shot 2015-06-26 at 4 25 41 pm](https://cloud.githubusercontent.com/assets/8591162/8386888/ecb53b26-1c21-11e5-917b-7d35b55de755.png)

[2015-06-26 20:40] haoyuchen1992 commented on #1143
I think this UI enhancement is necessary and also is not hard to do. Can I grab this one? Thanks :)

[2015-06-26 20:42] jlcohoon opened #3366 "OSF for Meetings table rows not tall enough"
<h4>Steps</h4>
1. Visit an OSF for Meetings conference page and look at one of the poster/talk rows.

<h4>Outcome</h4>
1. The download button is slightly too large for the row and the bottom gets cut off. This is especially obvious when someone has clicked the download button and there is shadow surrounding it
![screen shot 2015-06-26 at 4 35 42 pm](https://cloud.githubusercontent.com/assets/49658

[2015-06-26 20:52] billyhunt opened #3368 "Search Only Returns Values for the First Job or School in User Profile"
Steps
-------
1. Go to user profile.
2.  Click Employment
3.  Create a First Employer
4.  Create a uniquely named second Employer, for example, "Pizza Snack Bread Shack"
5.  Search for "Pizza Snack Bread Shack" on the osf

Expected
------------

You would find the person who worked at the Pizza Snack Bread Shack

Actual
--------

You do not find the person who worked at the Pizza Snack Bread Shack

[2015-06-26 20:57] jlcohoon opened #3369 "Send emails to users when they have been added as a contributor to a project"
From the community repo: https://github.com/CenterForOpenScience/community/issues/257

<h4>Current behavior</h4>
Presently, users who are added to a project as a contributor do not receive a notification, unless they do not already have an OSF account.

<h4>Expected behavior</h4>
Users should receive an email to notify them that they have been added to an OSF project. If a project has components,

[2015-06-26 21:03] samanehsan commented on #3369
I just started working on this today!

[2015-06-27 12:24] bnosek opened #3371 "[File view pages] Make default toggle: view [ON], revisions [OFF]"
![screen shot 2015-06-27 at 8 22 37 am](https://cloud.githubusercontent.com/assets/1761504/8391953/ce5cea0a-1ca5-11e5-8e5c-b767280f2456.png)

That way, focus is on most recent version which is the users primary interest, and previous versions are accessible easily with toggle.

[2015-06-28 14:35] brianjgeiger commented on #3371
+1

[2015-06-29 01:28] lbanner commented on #3368
@brandonPurvis -- maybe you can look at this one in regards to search?

[2015-06-29 13:14] haoyuchen1992 commented on #3371
I can work on this one. Thanks :)

[2015-06-29 13:32] XTech2K commented on #3368
I remember working on both search and user jobs last year, and I can tell you that the problem here is specifically with the user doc portion of website/search/elastic_search.py.

Also, I remember that this was done purposefully, though I cannot remember why, but it also applies to contributor searches.

Finally, when someone fixes this, they will also need to fix it for schools, since it doesn't

[2015-06-29 13:38] samanehsan commented on #3186
Fixed in #3189

[2015-06-29 13:38] #3186 closed

[2015-06-29 13:43] jlcohoon opened #3373 "reformat registrations page to give info on each registration template"
From the community repo: https://github.com/CenterForOpenScience/community/issues/264

<h4>Current Behavior</h4>
Users can select a registration template from a dropdown menu after clicking "new registration." To know what is included in a template, they must select it—there is no preview or information available ahead of time.

<h4>Suggested Behavior</h4>
Users should be provided with a brief des

[2015-06-29 14:01] jlcohoon opened #3374 ""forgot password" link indicates message sent to emails that were never registered"
<h4>Steps</h4>
1. Visit the OSF while logged out
2. Click on the dropdown and click on "forgot password"
3. Enter an email address that you have never registered an account with. If you have gmail, you can test this by adding "+XYZ" to your email (eg. youraddress+XYZ@gmail.com).

<h4>Outcome</h4>
1. The OSF gives you an alert that reads "An email with instructions on how to reset the password for

[2015-06-29 14:11] billyhunt commented on #3368
That's good information.  @XTech2K, do you remember someone else who might know the use case that searching all jobs and schools might cause a problem?  I can't think of what it might be.

[2015-06-29 14:30] jlcohoon commented on #2469
This is happening again. The only place to sign up is the homepage—user should be able to easily find a sign up page.

[2015-06-29 14:34] #2636 closed

[2015-06-29 14:34] jlcohoon opened #3375 "private project/public repo alert should be dismissible"
Submitted via the suggestion box

***Steps***
1. Link a public Github repo to a private OSF project
2. Visit your project's overview page

***Outcome***
1. The alert at the top of the page telling you that your repo is public is not dismissible
![screen shot 2015-06-29 at 10 27 00 am](https://cloud.githubusercontent.com/assets/4965832/8410100/1c712d8c-1e4a-11e5-8b76-2d70ee572a38.png)

***Expected

[2015-06-29 14:38] brandonPurvis commented on #3368
I can work on this.

One reason it was done this way might have been that in search results, the employer the user ranks the highest is shown under the users name. Searching for an employer and getting results which show people who's displayed employer doesn't match the given query might be confusing.

Ensuring users who's highest ranked employer/school matches the query appear first in the result

[2015-06-29 14:41] lbanner commented on #3368
:+1:

[2015-06-29 14:44] abought opened #3376 "[bug][staging2] Swagger + other errors when running DRF+FlaskRequestMiddleware"
## Summary
Changes made in #3303 (adding a FlaskRequestMiddleware) are apparently breaking the Swagger documentation. (and other things)

## Steps to reproduce
1. Run the API server with the newest develop branch
2. Go to the API documentation page:
3. There should be an error at the top of the page:
`Unable to read api 'v2' from path http://localhost:8000/v2/docs/api-docs/v2 (server returned INTE

[2015-06-29 14:59] billyhunt commented on #3368
@brandonPurvis, that sounds like a good idea.  I like you weighting the search for the first matched job or school.  Smart.

@lbanner, Maybe I should file an issue for this other problem? (only first job shows in search results)  There is no reason to only show the first job as opposed to the matched search result.  To the user, there is no weight on which job they enter first.  They might be fill

[2015-06-29 15:20] haoyuchen1992 commented on #1143
The effect after changing:
![screen shot 2015-06-29 at 11 02 18 am](https://cloud.githubusercontent.com/assets/5420789/8410847/bcb76a5a-1e4e-11e5-91d1-6b503e2531f9.png)

Similar unchecked box also exists in project setting page, make the similar change and it will get:
![screen shot 2015-06-29 at 10 59 58 am](https://cloud.githubusercontent.com/assets/5420789/8410995/76ae81b4-1e4f-11e5-8b8f-29fba0

[2015-06-29 15:26] jinluyuan commented on #3374
I believe the alert should be "If there is an OSF account associated with EMAIL ADDRESS, an email with instructions on how to reset the OSF password has been sent to EMAIL ADDRESS. If you do not receive an email and believe you should have, please contact OSF Support."

This ensures that the user will not be told whether or not there is an OSF account associated with the email address (a possible

[2015-06-29 15:28] jlcohoon commented on #3374
Isn't alerting people that they entered an incorrect email address fairly standard?

[2015-06-29 15:30] jinluyuan commented on #742
It would also help if folders were sorted first within a storage add-on, and then individual files. The current system makes locating and using folders a little more difficult.

![screen shot 2015-06-29 at 11 29 43 am](https://cloud.githubusercontent.com/assets/8591162/8411495/317d64ae-1e52-11e5-9d67-db6e390f234f.png)

[2015-06-29 15:31] jinluyuan commented on #3374
@jlcohoon That's what I thought, but we've (QA) asked the developers about this to change it. Their response was that it's a security/privacy concern.

[2015-06-29 15:51] jlcohoon commented on #3374
Thanks, @jinluyuan!
When you try to register with an already registered email, you do get an alert that it has an account already. So our behavior is inconsistent.

If we don't want to reveal immediately if there is an account registered, we should send the email a message even if it doesn't have an account. That email could say something to the effect of "you tried to reset the password for an OS

[2015-06-29 15:59] lbanner commented on #2469
I get it, I think -- You mean, if I as a public user am exploring projects on the OSF, I should be able to easily find a sign-up for account option on any page, right? Did this change w/the implementation of the new homepage?

[2015-06-29 16:02] jinluyuan commented on #3374
@jlcohoon Good point! Your idea sounds the most straightforward.

[2015-06-29 16:04] jlcohoon commented on #2469
Yes that is what I mean, and yes I do think it changed.

On Mon, Jun 29, 2015 at 11:59 AM, LarryB <notifications@github.com> wrote:

[2015-06-29 16:05] jlcohoon commented on #2469
Actually, I think what we did was have a sign up button on the log in page. That no longer exists.

[2015-06-29 16:06] lbanner commented on #1143
@haoyuchen1992 and @caileyfitz ... If I am understanding correct, does your example, "The effect after changing:" accomplish the needed task?

[2015-06-29 16:08] lbanner commented on #2469
OK -- going to change this back to 'ready'

[2015-06-29 16:11] haoyuchen1992 commented on #1143
@lbanner It does accomplish the needed task. But there is a discuss that the current implementation is already good. Changing the text color may not a good option.

[2015-06-29 16:21] GaryKriebel commented on #3374
the security concern is someone can keep requesting a new password for email addresses they think may be yours and then can narrow it down to addresses that were actually registered....

[2015-06-29 16:33] saradbowman opened #3379 "Sign in and Slide-in Footer Buttons are different colors"
The sign-in button in the nav bar and the "create account" / "learn more" buttons on the slide-in footer are not the same colors:

![screen shot 2015-06-29 at 12 31 02 pm](https://cloud.githubusercontent.com/assets/7749914/8412893/e4817ac4-1e5a-11e5-90db-57e297b5b65e.png)

I would think the slide-in footer buttons should match the new sign-in button on the nav bar.

[2015-06-29 16:34] GaryKriebel commented on #3379
not the same colors as each other or not the same colors as something else?

[2015-06-29 16:37] lbanner commented on #3379
StyleGuide insight here @caneruguz ?

[2015-06-29 16:47] #1237 closed

[2015-06-29 17:54] geeksnglitter opened #3380 "Settings tab visible on all public projects"
Steps
__________
1. Go to either production or staging.
2. Visit a public project on which you are not a contributor.
3. See that there is a settings tab.
4. Click the settings tab.

Outcome
---------------------
There's a settings tab, you can click it in order to get to a blank settings page.

![screen shot 2015-06-29 at 12 11 07 pm](https://cloud.githubusercontent.com/assets/7839433/8414419/d7b

[2015-06-29 18:44] abought commented on #3376
I've followed up a bit, and there are two problems. A sample modification for `api.base.midddleware.FlaskRequestMiddleware` is presented that fixes the issues in a single local test case, but I'm not thrilled with this solution and still unclear on some of the internals that make it necessary. Suggestions, @lyndsysimon ?

## Issue one: Popping the wrong request context
The `FlaskRequestMiddleware`

[2015-06-29 19:07] chrisseto commented on #3231
So this is a bit of an odd one. Google does not give back revision history when come to google docs. All we have in terms of version information is the "etag" which is why the version id changes but there are no additional versions displayed.

[2015-06-29 19:10] csoderberg commented on #3231
So sometimes google docs on the OSF have multiple versions displayed (e.g. https://osf.io/uk59r/), but I'm not sure which causes it to create a whole different version vs. just change the version ID on one version.

[2015-06-29 19:23] bdyetton commented on #2976
@I have a fix for the upload part of this issue in my hotfix for waterbutler (PR#55), and the branch not displaying issue in my fix for the osf issue #3122 (PR#3378)

[2015-06-29 19:25] abought commented on #3376
The changes discussed above fix two problems that prevent the Swagger docs from working intelligibly, but they do **not** fix a third problem as reported by @pattisdr :

On the branch https://github.com/CenterForOpenScience/osf.io/pull/3316 , sending a POST request to route `http://localhost:8000/v2/nodes/<node_id>/registrations/` fails with a celery-related error (see below).  If `FlaskRequestMid

[2015-06-29 19:31] sloria commented on #3302
Fixed by https://github.com/CenterForOpenScience/osf.io/commit/a05f0aca6cbcf25b8301f039e022c1f770cd0eb5

[2015-06-29 19:31] #3302 closed

[2015-06-29 19:34] pattisdr commented on #3309
<h3> Addons </h3>
- [ ] GET /v2/nodes/{node_id}/addons <br>
**AmazonS3**
- [ ] POST /v2/nodes/{node_id}/addons/amazons3/keys/
- [ ] POST /v2/nodes/{node_id}/addons/amazons3/current_folder/
- [ ] PUT /v2/nodes/{node_id}/addons/amazons3/current_folder/
- [ ] DELETE /v2/nodes/{node_id}/addons/amazons3/ <br>
**Box**
- [ ] GET /v2/nodes/{node_id}/addons/box/oauth/
- [ ] POST /v2/nodes/{node_id}/addons/

[2015-06-29 19:40] lbanner commented on #3309
Nice list!!!

[2015-06-29 19:42] pattisdr commented on #3309
Thanks :)

[2015-06-29 19:45] bdyetton commented on #3366
@GaryKriebel I will work on this

[2015-06-29 19:50] GaryKriebel commented on #3366
:+1:

[2015-06-29 19:51] jlcohoon opened #3384 "line breaks in the file extension"
**Steps**
1. Visit this file: https://staging.osf.io/z5hp7/
2. Adjust the window size

**Outcome**
1.  From a window width of about 1320px to 1200px, the line that the file title is on breaks in the middle of ".docx"
![screen shot 2015-06-29 at 3 43 58 pm](https://cloud.githubusercontent.com/assets/4965832/8416886/b92f05f0-1e76-11e5-8495-087cf0d98fb0.png)

**Expected Outcome**
1. While line breaks

[2015-06-29 20:12] #3380 closed

[2015-06-29 20:19] #2696 closed

[2015-06-29 20:28] #3249 closed

[2015-06-29 20:32] jlcohoon commented on #3379
As each other. The issue, I believe, is that the "info" buttons/text are a very similar color to the logo, but are slightly different. The right class was used on the button but to resolve this we might consider customizing the info color to be the same as the logo color.

[2015-06-29 20:52] brianjgeiger commented on #3309
That is a very nice list.  Let's see if we can shrink it a bit, though. Anything add on related should be .../addons/{addon_id}/... Or wherever the addon identifier might go in that set of urls. Dashboard will be handled by the collections, files are handled more than is reflected by this list, though we don't have folder creation or copy/move yet. We will leave wiki on for now, but those might ju

[2015-06-29 21:31] #3371 closed

[2015-06-30 13:47] pattisdr commented on #3309
Addons condensed, GET /v2/ moved to collections, GET /v2/nodes/{node_id}/files checked.

[2015-06-30 14:01] samchrisinger commented on #3373
I'm 100% onboard here. We will very likely implement this as part of the Prereg prize development

[2015-06-30 14:09] #954 closed

[2015-06-30 14:13] #3278 closed

[2015-06-30 14:45] lbanner commented on #3373
@samchrisinger -- OK I assign this to you, so we make sure it is covered? Thanks.

[2015-06-30 14:47] samchrisinger commented on #3373
:+1:, got it

[2015-06-30 14:48] jlcohoon commented on #3374
Update: I talked with Jeff and the decision is to follow @jinluyuan's suggestion of just updating the alert. I'll update the original issue

[2015-06-30 14:54] caneruguz commented on #3379
I don't think sign in and create account need to be the exact same color. The buttons below are using the right color "primary" for call to action to create account, while Learn more needs to be "info. The sign in can be a "primary" but the color will be too close to the navigation bar. We need to play with it to see what's going on there.

[2015-06-30 15:02] jinluyuan opened #3386 "Renaming files does not let changes persist & more strange behavior"
### Steps
1. Go to [osf.io](http://www.osf.io).
2. Go to one of your projects.
3. In either the Files widget in the project overview page or the Files page itself, select a file or folder.
4. Click the "Rename" button in the menu that appears.
5. Click in the middle of the file's name, either in the middle of a word or in between words.
6. Type a letter or two.
7. Click to the right of the name /

[2015-06-30 15:08] PatrickEGorman commented on #3314
I'd be interested in working on this

[2015-06-30 15:14] #1340 closed

[2015-06-30 15:24] lbanner commented on #3314
OK -- will assign. You can check in with @brianjgeiger as needed ... he'll be checking messages even while away. Thanks.

[2015-06-30 15:31] jinluyuan opened #3388 "Download as zip button does not appear for closed folders"
### Steps
1. Go to [osf.io](http://www.osf.io)
2. Go to one of your projects
3. In the files widget, create a folder in one of the storage add-ons
4. Upload some files to the folder
5. Refresh the page
6. Select the folder without opening it
7. Notice that there is no "Download as zip" button
8. Open the folder
9. Notice the "Download as zip" button appears
10. Close the folder
11. Notice the "Dow

[2015-06-30 16:12] PatrickEGorman commented on #3314
@brianjgeiger Says I should talk to Jeff.

[2015-06-30 16:13] lbanner commented on #3314
OK

[2015-06-30 17:22] samchrisinger commented on #3373
WIP, but
![screen shot 2015-06-30 at 1 21 57 pm](https://cloud.githubusercontent.com/assets/2207561/8437128/08cf4c32-1f2b-11e5-83e9-38cbd78c7dba.png)

[2015-06-30 17:45] haoyuchen1992 opened #3393 "[Production & Staging] Search result has unnecessary margin"
This issue was found during the debugging of #3365

#### Steps
1. Go to a project organizer with more than 50 rows
2. Click search on the tab
3. Scroll down a little bit and then type in search words

#### Expected
Show search results

#### Actual
Search result has unnecessary margin.

![scroll](https://cloud.githubusercontent.com/assets/5420789/8437625/35e28cd6-1f2e-11e5-902d-9d4bae74a9b4.gif)

[2015-06-30 17:56] evomellor commented on #3373
Sorry @jlcohoon , after seeing the pre or post data collection recommendation in this format, I think the wording (that I had approved!) is a bit misleading. Pre-reg prize can use preexisting data under certain circumstances and this format also makes it look like there is a separate post data-collection pre-reg prize template. Please revise as follows:

Open Ended Registration Form: You will be a

[2015-06-30 18:16] evomellor commented on #3373
@samchrisinger This mockup looks really good and brings the information right to the user earlier and in a clear way. Thanks for including the "Fulfills" category. We use "form" "schema" and "template" somewhat interchageably in a few different places. For consistency, let's refer to each of these as "templates." So please change the wording to "Please select a registration template to continue:"

[2015-06-30 18:17] jlcohoon commented on #3373
That's fine by me. @samchrisinger, cancel my previous comments!

[2015-06-30 18:52] bdyetton commented on #3388
@GaryKriebel I will look at this, its very close to the other issue i just fixed.

[2015-06-30 19:00] haoyuchen1992 commented on #3191
I just replicated the issue.  Can I grab this one? Thanks :)

[2015-06-30 19:04] rohan-bajaj commented on #3076
Can I grab this issue?

[2015-06-30 19:20] lbanner commented on #3076
OK -- you got it.

[2015-06-30 19:20] lbanner commented on #3191
:+1:

[2015-06-30 19:40] #3368 closed

[2015-06-30 19:42] hmoco commented on #2031
I will be looking at this/including it in my UI changes under #3396 as per @samchrisinger's request.

[2015-06-30 19:44] caneruguz commented on #3076
Actually @lbanner and @nanchen47 this seems to me like a treebeard issue so if we try to fix it with OSF it will be a hack. I recommend we open an issue in treebeard for this. Whichever intern wants to deal with it can fix it there. I'm happy to help with onboarding.

[2015-06-30 19:51] lbanner commented on #3076
@rohan-bajaj You catch that above ^^ Let me know if you still want to tackle.

[2015-06-30 19:54] rohan-bajaj commented on #3076
Yeah I still want to work on this issue. I'll start looking into treebeard

[2015-06-30 20:00] caneruguz commented on #3076
Check this: https://github.com/caneruguz/treebeard/wiki/Modal

Some of it migt be a bit outdated but that's the code for the modal, you will need to regulate height and scroll body content.

[2015-06-30 20:05] rohan-bajaj commented on #3076
Thanks!

[2015-06-30 20:21] nicipfeiffer opened #3398 "[IE] File Revision Table and project logs have incorrect time stamp"
## Steps
1. Using IE 11, Go to a project on which you have admin or read/write access on production
2. Go to the files tab
3. Click on a text file in OSF Storage to view it in the detail page
4. Click on the most recent version of the file in the revisions table and confirm that there is an edit tab
5. Toggle the edit tab to edit the file (make sure the versions table is also still open)
6. Make a

[2015-07-01 06:25] brianjgeiger opened #3400 "PUT/PATCH unauthorized node while authenticated results in 500"
Steps
-------
1. Log into the OSF for API usage
2. Attempt to update a node that you don't have privileges for

Expected
------------
400 Series error

Actual
--------
500 Error

I'm seeing these on Runscope. We should be getting them in the unit tests as well, so if we're not that is concerning as well.

[2015-07-01 13:34] bdyetton commented on #3388
@GaryKriebel @lbanner @caneruguz
Before we give the user the option to download a folder we check if that folder is empty by looking at the number of children it has. Because we use lazy loading, all non-expanded folders do not have children, and therefore we do not get the zip download option until the user expands the folder (see above).

A user should be able to zip download a folder no matter

[2015-07-01 13:37] lbanner commented on #3388
I am good with letting the user download empty folders if they chose - simple approach, and your average user will recognize the fact that a folder is, in fact, empty. Unless there is another mechanism by which to verify contents in folders?

[2015-07-01 13:42] jinluyuan commented on #3388
https://github.com/CenterForOpenScience/osf.io/issues/3018 addresses empty storage add-ons. We do not have "Download as zip" as an option for empty storage add-ons, so it would be inconsistent to have it for empty folders. However, storage add-ons are by default expanded while folders are default closed. A conundrum.

[2015-07-01 13:44] jlcohoon opened #3401 "ID requested for linkedin profile does not lead to public profile"
From the community repo: https://github.com/CenterForOpenScience/community/issues/269
## Current behavior
When adding a Linkedin profile, the user is shown the beginning of a URL that they are expected to fill out with their "profile ID" (https://www.linkedin.com/profile/view?id=)

![screen shot 2015-07-01 at 9 42 16 am](https://cloud.githubusercontent.com/assets/4965832/8455840/95abd6ca-1fd5-11e5

[2015-07-01 13:47] geeksnglitter opened #3402 "No clear registration option after failed login"
Steps
----------------------
1. Go to either production or staging.
2. Try to log in using an email you have not used for the OSF or a wrong password.
3. Be redirected to this page:

![screen shot 2015-07-01 at 8 58 25 am](https://cloud.githubusercontent.com/assets/7839433/8455512/2fea7d3e-1fd3-11e5-8146-e858ffe078d7.png)

44. Realize that you have not registered this email and would like to make

[2015-07-01 14:27] billyhunt commented on #3401
LinkedIn used to only link via profile ID, which is a number and requires a login.  Something like this:

https://www.linkedin.com/profile/view?id=285397262

That is what the OSF currently supports.  The new LinkedIn URL is pretty strange.  Something like

https://www.linkedin.com/pub/erin-braswell/31/a7/481

for someone who doesn't claim a LinkedIn UserID, or

https://www.linkedin.com/in/billyhun

[2015-07-01 14:29] lbanner commented on #3401
+1

[2015-07-01 14:32] #3393 closed

[2015-07-01 14:37] evomellor commented on #3401
+1 for the simpler solution that @billyhunt suggested. Perhaps display simply "Linkedin Profile" on user's profile page until we have a more elegant solution that would extract the person's name or Linkedin ID.

[2015-07-01 14:58] jlcohoon commented on #3402
related to https://github.com/CenterForOpenScience/osf.io/issues/2469

[2015-07-01 15:02] PatrickEGorman commented on #3384
I have a spare moment to sort this out

[2015-07-01 15:11] #3402 closed

[2015-07-01 15:43] lbanner commented on #3384
Yours!

[2015-07-01 15:54] bdyetton commented on #3388
Right well im working on another issue for now/ my project. @GaryKriebel can you change this to discussion while we work this one through please.

[2015-07-01 15:58] icereval commented on #3126
[MFR hotfix 0.2.9](https://github.com/CenterForOpenScience/modular-file-renderer/releases/tag/0.2.9) now correctly handles duplicate column names in csv/tsv files, also enabled basic column sorting in the grid.

[2015-07-01 15:58] #3126 closed

[2015-07-01 17:26] nicipfeiffer opened #3407 "Figshare: 'View' button in toolbar gives Undefined error"
## Steps
1. Go to a project you have admin access to that has figshare configured
2. Go to the files tab
3. Click on the figshare root folder
4. In the toolbar, click on the 'View' button

## Expected
I am not sure if this button should be there or if so it should do like in the case of the Github add-on and take the user to the add-on's site.

## Actual
The button does no action and the console e

[2015-07-01 18:52] jinluyuan opened #3412 "No warning that uploading file of same name replaces original file"
### Steps
1. Go to osf.io
2. Go to one of your projects
3. Upload a file into any storage add-on
4. Edit the file on your computer, without renaming the file
5. Upload the file again

### Expected behavior
I expected that the files widget would either 1) warn me that my new file would replace the old one or 2) add a "_1" into the name of the new file in order to preserve the original file.

### Ac

[2015-07-01 18:57] jinluyuan opened #3413 "No error message when clicking "Add Email" with blank input"
### Steps
1. Go to osf.io
2. Go to your Account Settings page.
3. Click "Add Email" without inputting anything

### Expected behavior
I expected to get a warning or error message that "Email cannot be blank", in the same way that clicking "Update password" gives a message of "Passwords cannot be blank."

### Actual behavior
Nothing happens when I click "Add Email".

![screen shot 2015-07-01 at 2 5

[2015-07-01 19:02] jinluyuan opened #3414 "No keyboard “Tab” key functionality in the Comments widget"
### Steps
1. Go to osf.io
2. Go to any project
3. Click the blue Comment widget icon in the top right
4. Click inside the text box
5. Type a comment
6. Press the "tab" key

### Expected behavior
I expected that pressing tab would select the "Save" button.

### Actual behavior
Pressing tab makes the cursor move into the project's Tags widget.

![screen shot 2015-07-01 at 2 58 30 pm](https://cloud.g

[2015-07-01 19:10] jinluyuan opened #3415 "Update FAQ for instructions on how to resend email confirmation after registration"
### Steps
1. Go to osf.io as a logged out user
2. Create a new account
3. In your email inbox, delete the email confirmation

### Expected behavior
I expected that the OSF FAQ page would tell me how to be able to resend the email confirmation if I lost it or didn't receive one.

### Actual behavior
There is no information about this. A user must realize on his own that he needs to log in with his

[2015-07-01 19:16] wisherp opened #3416 "Sign up does not have strong password requirements"
## Steps
1. Go to the osf landing page
2. Under sign up, fill out your name and email
3. For password, type "aaaaaa"
4. Click sign up

## Actual
The user is able to successfully create a new account

## Expected/ Recommended
A second layer of validation that checks for various combinations like "Alphanumeric characters with a single special character" or other requirements that will make the authe

[2015-07-01 19:26] jinluyuan opened #3418 "Long email address breaks "Remove Email?" modal"
### Steps
1. Go to osf.io
2. Go to your Account Settings page
3. Below the Unconfirmed Emails, enter a long email address of > 100 characters long
4. Click on Add Email button
5. Click on the X mark at the end of the email address

### Expected behavior
I expected that the email address would wrap inside the modal

### Actual behavior
The email address breaks across the modal.

![screen shot 2015-

[2015-07-01 19:38] jinluyuan opened #3419 "Links to external sites should open in new page"
Many external links on osf.io open up in the same page when they should open a new tab. The hyperlinks need the "target=_blank" attribute.

Examples:
1. Clicking External Link on a project
2. Clicking "Create Access Token" when configuring add-ons
3. Clicking the social links in the footer
4. Clicking the Gravatar link in the Change Avatar modal

[2015-07-01 19:48] wisherp opened #3420 "Unhelpful error message when trying to configure Amazon S-3 without entering credentials"
## Steps
1. Go to osf.io
2. Go to account settings and click on configure add-ons
3. Select Amazon S3 and click on 'Create access token'
4. Without putting in the credentials, click submit.
5. Now go to one of your projects for which you are admin
6. Configure Amazon S3 but do not put in the credentials and hit submit.

## Expected
An error message both times that informs the user that the credent

[2015-07-01 19:49] sloria commented on #3419
I'm not sure if we should do this for *all* external links. @caneruguz This might be a good thing to document in the style guide once we nail down a best practice.

[2015-07-01 19:57] jinluyuan opened #3421 "Registration page's link to "this project" leads to unhelpful error page"
### Steps
1. Go to osf.io
2. Create a new project
3. Register your new project
4. Go to the registration once it has finished archiving
5. Click the "this project" link in the blue box at the top. You should be taken to the project you created.
6. Go to the project's Settings page
7. Delete the project
8. Go to your Dashboard
9. Click on the registration of the project you just deleted
10. Click t

[2015-07-01 19:59] wisherp opened #3422 "Success Message after password reset is not shown"
## Steps
1. Log out of osf.io
2. Under sign in, click on forgot password
3. Put in your email address
4. Open email and click on the password reset link
5. Type in a new password and hit enter

## Expected
A success message is displayed that informs the user that the password was reset successfully

## Actual
The page redirects to the account settings but no success message is displayed

[2015-07-01 20:19] GaryKriebel commented on #3414
Comments are about to get an overhaul.  Perhaps @samanehsan can check if this is handled in the new system.

[2015-07-01 20:36] wisherp opened #3425 "Project settings does not accept external link with FTP protocol"
## Steps
1. Go to osf.io
2. Go to a project with admin access
3. Go to Settings
4. Select "External link" and hit submit.
5. Under "Configure Add-ons", enter the following URL in the URL field:  ftp://testinsane.com

## Expected
The project would be successfully linked to the above url

## Actual
Does not allow to enter the ftp url
![email_field_invalid_settings](https://cloud.githubusercontent.co

[2015-07-01 22:27] nanchen47 commented on #1090
The language alert has already been added for the addons. Close for now.

[2015-07-01 22:27] #1090 closed

[2015-07-01 22:30] nanchen47 commented on #3232
The pr is already merged and deployed on production.

[2015-07-01 22:30] #3232 closed

[2015-07-02 12:56] nicipfeiffer opened #3426 "Reset Password - No upper limit set to number of reset password requests for the same account"
## Steps
1. Go to osf.io
2. Click the Sign In widget
3. Click the link for 'Forgot Password'
4. Should be redirected to https://osf.io/forgotpassword/
5. Enter your email into the text field and click Submit
6. Go back and repeat the steps many times

## Expected
A limit on how many times you can submit a request

## Actual
You see that there is no restriction on number of requests made for the sa

[2015-07-02 13:51] jinluyuan opened #3428 "Password reset is missing client-side data validation"
### Steps
1. Go to osf.io
2. Go to your Account Settings
3. Without filling in any of the boxes, click "Update Password"

### Expected behavior
I expected red text to appear above the button warning me that the fields are blank.

### Actual behavior
There is an unnecessary server side call for validation as the page reloads.

[2015-07-02 14:02] wisherp opened #3429 "Youtube frame overlaps the nav bar when scrolling down in the Getting Started Page on IE"
# Steps
1. Open up IE
2. Go to the Getting Started page
3. Click to play one of the youtube videos
4. Pause it after a couple of seconds
5. Scroll down the page

# Expected
The page would scroll normally with no overlaps

# Actual
The video player frame overlaps the OSF nav bar. This only occurs on IE-10 and only with the videos that are played.

![image](https://cloud.githubusercontent.com/assets

[2015-07-02 14:14] nicipfeiffer opened #3430 "Long project names extend boundary in User settings Authorized project list for S3"
## Steps
1. Go to osf.io and log in
2. Go to a project you have admin access on
3. Edit the name of the project to be the maximum number of characters (200)
4. Go to the project settings page
5. Configure the S3 add-on for the project
6. Go to the user settings page; configure add-ons
7. Scroll down to see S3's authorized projects

## Expected
The long project name would not break out of the area

[2015-07-02 14:50] wisherp opened #3431 "Email address length (Example: 64 characters) makes the message cross visual boundary"
# Steps
1. Go to Home page osf.io.
2. Enter the name in the Sign up form.
3. Enter an e-mail address with 64 characters.
4. Re-enter the same e-mail address in "Confirm Email" field.
5. Click on Sign up button.

# Expected
The account will be successfully created and the success message will be displayed in the box below the sign up form.

# Actual
The confirmation message crosses the visual bound

[2015-07-02 15:19] nicipfeiffer opened #3432 "S3 log in credentials give 400 error"
## Steps
1. Log in to osf.io
2. Go to the user settings page
3. Go to configure add-ons; enable S3
4. Enter the access key and secret key and Submit

## Expected
The credentials would be successfully submitted and the S3 add-on configured

## Actual
A 400 error in the console and 'Error: Could not access IAM. Please allow these keys permission' seen in the widget.
![screenshot 2015-07-02 11 11 26]

[2015-07-02 15:33] lbanner commented on #3432
Could this be an issue with S3? ..... we've had no changes made here right @sloria ?

[2015-07-02 15:34] HarryRybacki commented on #3432
Has someone logged into the respective AWS account and made any changes since Tuesday?

[2015-07-02 16:12] mfraezz commented on #3350
It looks like it’s not only poorly organized but also incorrect in a number of places due to recent site updates (e.g. whether or not files can be renamed). It might be good to have QA look over it for inaccuracies, as they know site functionality best, and also to have someone who communicates with users frequently to check if there are any common questions not on the FAQ.

[2015-07-02 17:07] jinluyuan commented on #3350
@lbanner If you want, I can make an overview of necessary content additions and changes, and we can build from that. At the very least, we should fix the incorrect information that @mfraezz pointed out as soon as possible. This might apply to Getting Started as well.

[2015-07-02 17:20] wisherp opened #3433 "In Search results page “Share” displaying twice when user hits Enter button twice"
# Steps
1. Login to https://osf.io
2. In Dashboard, click on the search icon at the top.
3. Search for any data and hit Enter twice.

# Expected
It should not be any different from hitting enter once and all the results should be displayed normally

# Actual
In the search result, on the left, "Share" appears twice.

![image](https://cloud.githubusercontent.com/assets/10926926/8483176/f8789242-20bc

[2015-07-02 17:34] hmoco commented on #3386
I am working on this

[2015-07-02 17:38] wisherp opened #3434 "Using "Add Another" and leaving it empty displays non-helpful error message"
# Steps
1. After logging into production, go to profile -> Employment tab.
2. Make sure you enter all the details correctly.
3. Now, click on "Add Another" and you will see a widget
4. Without filling out any of the fields, click "submit"

# Expected
Error will be displayed under mandatory fields of that "Add Another" form so that user knows what he / she needs to enter in order to update the sett

[2015-07-02 17:43] nicipfeiffer commented on #3432
@lbanner this issue has been resolved.  The old credentials were deleted, but @icereval has generated new ones.

[2015-07-02 17:50] mfraezz commented on #3386
This also occurs on mouseover of other files.

![rename-bug](https://cloud.githubusercontent.com/assets/5659262/8483780/1daaffec-20c1-11e5-82b5-55b9504e4157.gif)

[2015-07-02 17:55] #3413 closed

[2015-07-02 18:03] wisherp opened #3435 "“Unconfirmed Emails” accepts Invalid email addresses."
# Steps
1. Log into osf.io and go to User Settings
2. Click on Account settings
3. Below Unconfirmed Emails, enter any random character in the format of an email address.
4. Click 'Add Email'

# Expected
Error message will be displayed saying that the email address is invalid

# Actual
It accepts any invalid email address and shows the confirmation message about the confirmation. Email is sent to

[2015-07-02 18:22] jinluyuan opened #3436 "[Safari] In half-sized window, modals push content wider and nav bar expands"
### Steps
1. Go to osf.io on Safari
2. Make your window take up half the screen (I'm using a 27" Thunderbolt display), or small enough so the user's name is not displayed, only user's the Gravatar
3. Go to the settings page of any one of your projects
4. Check off the box of one of the add-ons to select it
5. Notice the modal that pops up
6. Click "Cancel" in the modal
7. Click "Deauthorize" for a

[2015-07-02 19:11] #3432 closed

[2015-07-02 19:12] lbanner commented on #3432
Cool!

[2015-07-02 19:29] hmoco commented on #3386
So I have a fix for the problem mentioned in the original issue, still working on the mouseover issue.

[2015-07-02 19:31] lbanner commented on #3350
Agreed - Yes, thank you @jinluyuan (OSF Editor)

[2015-07-02 20:23] haoyuchen1992 opened #3440 "[Production&Staging] Print pdf doesn't work in file rendering"
### Steps:
1. open a pdf file in osf
2. click print button on the right upper corner

### Expected:
Give me a printing page

### Actual
Nothing happens. And notice there is warning message in console
![screen shot 2015-07-02 at 4 17 52 pm](https://cloud.githubusercontent.com/assets/5420789/8486948/a0d39a22-20d6-11e5-8aa7-94e18031f279.png)

[2015-07-02 20:54] lbanner commented on #3440
@icereval ... this a piece of MFR?

[2015-07-04 01:16] icereval commented on #3440
The makers of pdf.js have provided a shim to enable a non-mozilla browser the ability to print. This is now included in the MFR [0.2.11 hotfix](https://github.com/CenterForOpenScience/modular-file-renderer/releases/tag/0.2.11).

[2015-07-04 01:16] #3440 closed

[2015-07-06 12:56] lbanner commented on #3416
@icereval @sloria -- would like your insight on security here, and improvements this might provide?

[2015-07-06 13:54] caileyfitz commented on #2521
@lbanner I'm not crazy!!!

[2015-07-06 13:58] lbanner commented on #2521
Reopening! @icereval or @chrisseto ? Thanks!

[2015-07-06 14:08] nanchen47 commented on #2720
Talk with @lyndsysimon. This will be included in the new piwik update.

[2015-07-06 14:24] Johnetordoff commented on #3421
I got this

[2015-07-06 15:14] revanthkolli commented on #3435
@lbanner Can I work on this?

[2015-07-06 15:36] #631 closed

[2015-07-06 16:00] chennan47 commented on #3435
@revanthkolli I already work on this one. Sry.

[2015-07-06 17:29] abought commented on #3097
As mentioned on flowdock, one option (which would eliminate the need for a separate API key model or cruft) would be to issue personal access tokens a la Github:

https://github.com/settings/tokens

These tokens (which presumably would be of a special non-expiring variety) would be bearer instruments not tied to a specific client secret. Basically, they'd be non-expiring access tokens.

One other

[2015-07-06 17:35] revanthkolli commented on #3428
@lbanner Can I work on this?

[2015-07-06 17:36] lbanner commented on #3428
OK

[2015-07-06 17:45] lyndsysimon commented on #3421
The message on that page is purposefully vague, as exposing the type of object that was deleted might not be a good thing.

For example - a user who requests that their account be deleted would probably not want the page where there account was to say that the ID once belonged to a user at all.

A spurious, meaningless registration that was created in error due to a bug might be deleted as well, a

[2015-07-06 17:52] lbanner commented on #3421
@lyndsysimon ... is "resource deleted" the generic/standard term for all objects that are removed, and whose links are no longer valid? i.e. go to no existent resource?

[2015-07-06 18:05] Johnetordoff commented on #3421
Would it be beneficial to have a specific resource message, but not use the word "deleted"? Maybe "Project is missing" or "Project has been removed" or something more ambiguous?

[2015-07-06 18:11] Johnetordoff commented on #3430
Do you think it would be better to extend the boundary or go with a character display limit and ellipsis?

[2015-07-06 18:44] geeksnglitter opened #3452 "[Staging][Firefox] Version select text cut off on wiki"
Steps
---------------
1. Go to any wiki page on staging in Firefox.
2. See that the version select is cut off.

Expected
------------------------
![screen shot 2015-07-06 at 2 37 45 pm](https://cloud.githubusercontent.com/assets/7839433/8530179/66a3add2-23ed-11e5-8b1f-bec224ef0a8d.png)

Actual
-------------------------------
![screen shot 2015-07-06 at 2 37 08 pm](https://cloud.githubusercontent.c

[2015-07-06 18:47] geeksnglitter commented on #3452
@lbanner Unless this is a repeat issue, I can fix this.

[2015-07-06 19:08] Johnetordoff commented on #3013
@samanehsan can we close this issue? Its been fixed by an another update.

[2015-07-06 19:11] Johnetordoff commented on #2692
@sloria this has been merged, can we close it?

[2015-07-06 19:23] #2692 closed

[2015-07-06 19:23] NatashaRichter opened #3454 "Folder names not italicized in log when deleted"
## Steps

1. Log in to osf.io.
2. Navigate to a project for which you have admin access.
3. Create a folder in OSF Storage.
4. Delete the folder.
5. Look at your project's log.

## Expected Behavior

I expect the folder name to be italicized in the log.

## Actual Behavior

When I create the folder, the name of the folder is italicized in the log. However, when I delete the folder, the name of the

[2015-07-06 19:49] #3272 closed

[2015-07-06 20:15] geeksnglitter commented on #3454
@lbanner Can I fix this?

[2015-07-06 20:42] geeksnglitter commented on #3454
Actually - this might be something to discuss. When all different types of objects are removed from logs, they are all presented in plain text. Should this be changed for all types (components, files etc.)? Or should this be left as is?

[2015-07-06 20:47] lbanner commented on #3454
Yes, @geeksnglitter -- Maybe this is a StyleGuide / consistency question? I will tag w/"Discuss"

[2015-07-06 21:01] #3452 closed

[2015-07-06 21:04] sloria commented on #3421
@lbanner My suggestion in @Johnetordoff 's PR was to make the message default to "This resource has been deleted" but make it configurable. In most cases, we should stick with the default, but we can override it in the case of deleted projects.

As a sidenote, I don't believe this issue has anything to do with registrations at all--whether you click a link to a deleted project from a registration

[2015-07-06 21:47] samanehsan commented on #3013
Sure, what was the PR that fixed this issue?

[2015-07-07 02:58] NatashaRichter opened #3460 "Scroll position lost in file tree when expanding/collapsing add-on folders and components"
Observed in Chrome, Firefox, Safari

## Steps

1. Log in to osf.io.
2. Navigate to a project for which you have admin access or head to this one (ping me for access): https://osf.io/cq9b5/
3. Click on a file in the file tree to render it (for example, the "Best _Practices_TEI_Libraries.pdf" in OSF Storage on the project above).
4. Once in the file view, expand and collapse add-on and component fol

[2015-07-07 13:13] jinluyuan opened #3461 ""Search" is missing from nav bar in small windows and mobile"
### Steps
1. Go to [osf.io](http://www.osf.io) in either a small window or on mobile
2. Log in
3. Click the navigation menu button

### Expected behavior
I expected there to be a "Search" link or a magnifying glass icon when I opened the navigation menu.

### Actual behavior
There is no "Search" option.

![screen shot 2015-07-07 at 8 37 54 am](https://cloud.githubusercontent.com/assets/8591162/854

[2015-07-07 13:27] jinluyuan opened #3462 "Public Activity page's anchor links cut off header of each section"
### Steps
1. Go to the OSF's [Public Activity](https://osf.io/explore/activity/) page.
2. Click any one of the links in the left navigation box.

### Expected behavior
I expected that the links would take me to each section of the page, with the header title at the top.

### Actual behavior
Clicking the links takes me to each section, but the header is not visible. This may be due to the top navig

[2015-07-07 13:43] jlcohoon opened #3463 "add information to s3 bucket creation modal"
Below the Bucket Location field on the modal allowing users to create a bucket for Amazon S3, we should include a sentence that reads, "For more information on locations, click here." This should link to this Amazon page describing the different bucket location options: http://www.bucketexplorer.com/documentation/amazon-s3--amazon-s3-buckets-and-regions.html

[2015-07-07 13:46] lbanner commented on #3463
This issue is a followup enhancement to #3169 ..... which should deploy to Production this week.

[2015-07-08 02:09] icereval commented on #3416
One could certainly add a few checks, one being simply for repeated characters or even a third party library indicating the password's strength.

e.g.
https://www.microsoft.com/en-gb/security/pc-security/password-checker.aspx
http://www.passwordmeter.com/

[2015-07-08 13:49] jinluyuan opened #3477 "Update "this project" box at the top of registration overview page"
### Steps
1. Go to the overview page of any registered project made from a private original project, such as [this one](https://osf.io/g23au/).
2. Notice the blue box at the top with a link to "this project".
3. Click the link to "this project".

### Expected behavior
I expected that the words would be clearer about the relationship between the registered project and the original project. I also e

[2015-07-08 14:08] samanehsan opened #3478 "Selected page in paginator shows through OSF banner"
Steps
=====
1. Make sure you are logged out of the OSF
2. Visit a public project with enough log activity so that the paginator shows up (e.g. RP:CB: https://osf.io/e81xl/)
3. Scroll so that the "Start Managing Your Projects on the OSF" banner at the bottom is above the paginator

Expected
=========
I should not be able to see anything "behind" the banner.

Actual
=====
On both staging and product

[2015-07-08 14:19] #3350 closed

[2015-07-08 14:32] mfraezz commented on #2521
Couldn't reproduce this. @caileyfitz could you add me to a project on staging where this is an issue? Staging id is fh5em.

Also, this might be closed by https://github.com/CenterForOpenScience/osf.io/pull/2195 , depending on what's going wrong

[2015-07-08 14:34] geeksnglitter opened #3479 "[Staging & Producation] Files in Treebeard Grid Draggable on Registration"
Steps
-------------------------
1. Go to a registration
2. Click and drag anything on the project treebeard grid
3. See that it lets you drag items

Expected
-------------------------
Registrations should be frozen. I should not be given the idea that I can drag and drop anything.

Actual
-------------------------
I can drag files on a registration page. You cannot drop them (which is good), but i

[2015-07-08 14:40] jinluyuan opened #3480 "[Firefox] Sign-in username field is off the page in small windows"
### Steps
1. Go to [osf.io](http://www.osf.io) in Firefox as a logged out user.
2. Make the window smaller until the top navigation bar is reduced to just the "menu" icon.
3. Click the menu icon.
4. Notice the formatting of the sign-in field.

### Expected behavior
I expected the username sign-in field to be vertically in line with the other buttons and fields.

### Actual behavior
![firefox_sign_

[2015-07-08 14:41] nicipfeiffer opened #3481 "Left Side Navigation overlaps Footer on Getting Started Page for reduced screen size"
## Steps
1. Go to osf.io and click on the Help dropdown in the navbar
2. Click on the Getting Started Page
3. Reduce the screen size and scroll down
4. Notice the left side navigation bar

## Expected
I would expect the left side navigation bar to have responsive sizing for reduced window sizes so that it does not overlap the footer

## Actual
The left side navigation bar overlaps the text in the

[2015-07-08 14:41] #3415 closed

[2015-07-08 15:00] NatashaRichter opened #3482 "Language in logs of projects created from templates is vague"
## Steps

1. Log in to osf.io.
2. Create a new project, but use another one of your projects (that has components) as a template.
3. When redirected to your new project, look at the Recent Activity log.

## Expected Behavior

I expect that the logs will refer to the actual name of the project I used as a template and to the actual component names within the project.

## Actual Behavior

The logs r

[2015-07-08 15:39] caileyfitz commented on #2521
@mfraezz project id is https://osf.io/b9v2w/

[2015-07-08 15:39] csoderberg opened #3484 "[production] registration cancelation policy unclear"
When you go to register a project we currently say:

"When you register, a notification will be sent to all other project contributors. Other administrators will have 48 hours to approve or reject creating the registration. If any other administrator rejects the registration, it will be canceled. If all other administrators approve or do nothing, the registration will be confirmed and released or

[2015-07-08 15:40] csoderberg commented on #3484
For what it's worth, I would vote for the 48 hour cancelation policy regardless of what option (immediate vs. embargo) is chosen to give other admins on a project the chance to over-rule a registration no matter how it is being released.

[2015-07-08 15:46] samanehsan commented on #3011
Fixed in #3247

[2015-07-08 15:46] #3011 closed

[2015-07-08 15:48] nicipfeiffer opened #3485 "Registration selection gives no 'Back' and 'Forward' option for users"
## Steps
1. Go to a project you have admin access on
2. Go to the registrations tab
3. Click to make a new registration
4. In the first form, select a type of registration from the dropdown
5. You should be redirected to a new form based on the previous selection.
6. Now decide you would like to change the type of registration.... notice that there is no button option to go back to the previous fo

[2015-07-08 15:51] GaryKriebel commented on #3461
@haoyuchen1992 .... in between responding to QA for the style guide updates, is this something you can give a look?

[2015-07-08 16:32] mfraezz commented on #2521
Ah. I got this to happen once. @lbanner can confirm, she's not crazy.

It looks like it's due to the `state` parameter, though I'm not sure why. (It's normally used to verify that a user's data wasn't modified during transmission: a state is generated by the OSF before authorization, passed to Box during auth, and that same one is returned to the OSF by Box.) For it to fail seemingly nondeterminis

[2015-07-08 16:40] lbanner commented on #2521
That's good to confirm about @caileyfitz, @mfraezz ! Are you on this one then? Thanks.

[2015-07-08 17:20] haoyuchen1992 commented on #3461
@GaryKriebel  Sorry for late reply. I will look at it now!

[2015-07-08 17:21] mfraezz commented on #2521
It's low priority and *may* be fixed by my [PR](https://github.com/CenterForOpenScience/osf.io/pull/2195) (scheduled for 0.43). If it's still present after that gets merged I'll work on it

[2015-07-08 17:24] lbanner commented on #2521
Got it - TY

[2015-07-08 17:38] nicipfeiffer opened #3491 "Firefox: .txt files don't wrap text"
## Steps
1. Using the Firefox browser, go to https://osf.io/cvh87/
2. Click on the file test(1) (2).txt
3. On the files detail page scroll the file render view to the right

## Expected
I would expect the text to wrap as it does on all other browsers so that the file does not extend to the right and require a left/right scroll bar

## Actual
The file should render the same on all browsers

[2015-07-08 17:43] GaryKriebel commented on #3461
no worries ... QA has you busy, I'm sure

[2015-07-08 17:45] lbanner commented on #3491
confirmed --

[2015-07-08 18:02] lyndsysimon opened #3492 "Cannot delete last remaining job/school from user profile"
# Steps to Reproduce

1. As a logged-in user, visit the user settings page (`/settings/`)
1. On the "Education" tab, type any value in the "Institution" field
1. Save your changes
1. Reload the page

# Expected behavior

A "remove" link should be visible in the top right of the section for that institution

# Actual behavior

No "remove" link is available. Setting the "name" field to an empty stri

[2015-07-08 18:09] mfraezz commented on #2591
I'm unable to reproduce this on staging with my fork of the MFR. Fangorn changes frequently enough that this was probably fixed in the past four weeks, perhaps incidentally.

[2015-07-08 18:10] lbanner commented on #3485
@nicipfeiffer This area will be refactored in the Pre-Reg PR #3476 and will be imporved, so I am gonig to close this for now. Thanks.

[2015-07-08 18:10] #3485 closed

[2015-07-08 18:11] lbanner commented on #2591
@icereval ... ?

[2015-07-08 18:12] lyndsysimon commented on #3421
@sloria

I agree that registrations wouldn't be impacted by this change, or the associated PR. My point in bringing that up is to illustrate why I believe the text was generic when it was written. I seem to recall explicitly deciding to not provide any information about the resource that had been removed.

@lbanner

The word "resource" is used in [RFC 7231](https://tools.ietf.org/html/rfc7231#sect

[2015-07-08 18:12] lbanner commented on #3492
@Johnetordoff --- You want to take a look at this?

[2015-07-08 18:12] nicipfeiffer opened #3494 "[Firefox] OSF Spinner does not spin on Files pages"
## Steps
1. Using the Firefox browser, go to a project you have read+write permissions
2. Go to the Files Tab
3. Look for the OSF spinner as the page loads, refresh the page if needed
4. Click on a file to go to the files detail page
5. Look for the OSF spinner as the page loads where the file should render, refresh the page if needed

## Expected
I would expect the OSF spinner to spin

## Actual

[2015-07-08 18:20] sloria commented on #3421
Thanks for the clarification, Lyndsy. I was not aware of an explicit decision to omit resource names from the GONE error pages. If that's still the case, then this issue can be closed. If not, we'll move forward with the PR.

Pinging @lbanner @GaryKriebel for more info on this.

[2015-07-08 18:37] lyndsysimon commented on #3492
It turns out, there is a conflict in a couple of PRs that address issues on that page, and this issue should be resolved by @billyhunt in #2531.

Closing :)

[2015-07-08 18:37] #3492 closed

[2015-07-08 18:41] sloria commented on #3401
You are now able to input either your user ID or profile ID

[2015-07-08 18:41] #3401 closed

[2015-07-08 18:55] evomellor commented on #3401
Thanks everyone, I've updated my ID already, it looks great!

[2015-07-08 19:25] HarryRybacki commented on #3401
Excellent @evomellor!

[2015-07-08 19:31] NatashaRichter opened #3496 "External link URL persists after disabling and then re-enabling"
## Steps

1. Login to osf.io
2. Navigate to a project for which you have admin permissions.
3. Head to the Project Settings.
4. Under Select Add-Ons, click the checkbox to enable the External Links and click Submit.
5. Scroll down to Configure Add-ons and enter a website link into the URL field and click Submit.
6. Now, return to Select Add-Ons to disable External Links and click Submit.
7. Re-ena

[2015-07-08 19:47] lbanner commented on #3484
I think I agree @csoderberg .... Question to @HarryRybacki or @GaryKriebel : Current functionality, if I register a project w/multiple admins making it immediately public, and another Admin receives the email and "rejects" -- what happens to the, presumably, former public registration.

[2015-07-08 19:54] HarryRybacki commented on #3484
There were no changes made to registrations that are made public immediately. That is to say, there is no approval/disapproval emails issued for registrations made public immediately. I think that is on the list for this epic though.

[2015-07-08 20:05] mfraezz commented on #1142
Issue still remains. I agree that "unsaved changes" dialogs are obnoxious. Given that this is only an issue with newly created wiki pages (old ones have a preserved draft thanks to ShareJS) and that blank wiki pages are allowed, would it make sense to save a blank page upon creation/naming of a new wiki page? No dialogs, and a draft is preserved if they navigate away after making unsaved edits.

[2015-07-08 20:15] lbanner commented on #1142
Thoughts on above ^^ @jlcohoon @brianjgeiger @caileyfitz ?

[2015-07-08 20:16] NatashaRichter opened #3497 ""Add Links" modal search error"
## Steps

1. Log in to osf.io.
2. Navigate to one of your projects.
3. Under the components widget, click the "Add Links" button.
4. In the search field, search for the letter "A" (click Search all projects).
5. Many results will appear; click to one of the later pages (page 5 for instance).
6. Now return to the search field and search for the letter "B" (again, click Search all projects).
7. Noti

[2015-07-08 20:20] jlcohoon commented on #1142
I like the solution

[2015-07-08 20:35] lbanner commented on #3497
Interesting ...

[2015-07-08 23:24] abought commented on #2933
While updating profile PR, I wrote down the checklist of most common things converted. Checklist below.

[code]

### Things to examine while converting a given route
- Check every parent template (may be several layers):   `<%inherit file="base.mako"/>`
- Check every included template (may be several layers): `<%include file="include/profile/schools.mako" />`
- Check every mod-meta template (depen

[2015-07-09 02:22] #3152 closed

[2015-07-09 12:04] HarryRybacki commented on #3484
I will write a hotfix to adjust the language accordingly this morning.

[2015-07-09 12:51] csoderberg commented on #3484
Thanks @HarryRybacki

[2015-07-09 13:22] lbanner commented on #1142
@caseyrollins You are tagged with this -- You still want it? or @mfraezz Can you implement your solution?

[2015-07-09 13:31] mfraezz commented on #1142
I've never worked on the wiki, but I doubt it would be a difficult fix.

[2015-07-09 13:51] #3312 closed

[2015-07-09 13:55] jinluyuan commented on #3136
Noticed that this also occurs in the information modal (clicking "i" button).
![screen shot 2015-07-09 at 9 54 16 am](https://cloud.githubusercontent.com/assets/8591162/8596985/930b695c-2620-11e5-946a-ba101c65fd16.png)

[2015-07-09 14:06] NatashaRichter opened #3505 "External links form submit button not clickable until URL field is filled out"
## Steps

1. Log in to osf.io.
2. Navigate to one of your projects.
3. Head to the project settings page.
4. Enable "External Links" under "Select Add-ons."
5. Scroll down to "Configure Add-ons" and notice button.

## Expected Behavior

I expect that the button will not appear grayed out or disabled. In other similar places on the OSF, buttons do not appear this way, even when fields are empty.

#

[2015-07-09 14:13] NatashaRichter commented on #3505
I've talked to Saman about this problem and we thought github may be a good place for this issue.

[2015-07-09 14:20] jinluyuan commented on #3505
Appearance on production:
![screen shot 2015-07-09 at 10 20 14 am](https://cloud.githubusercontent.com/assets/8591162/8597554/1f947f82-2624-11e5-9152-a885b6a29bc4.png)

[2015-07-09 14:58] fabianvf opened #3507 "Date parsing function (in OSF Helpers I think) doesn't handle all ISO 8601 datetimes"
Steps
====
Go to: https://osf.io/share/?q=*&optional=source%3Adailyssrn&sort=Relevance

Expected
=======
The release date would be parsed and displayed

Actual
=====
The date parsing function fails to parse a datetime string of the form ```YYYY-MM-DDTHH:mm:SS+00:00``` where the ```+00:00``` has equivalent meaning to ```Z``` (UTC +0 timezone). Instead "Invalid date" is displayed.

This also has the

[2015-07-09 15:11] chrisseto commented on #3496
It may be worth disabling the external link addon for the moment. It was originally created to work with the badges addon but it wasn't disabled along with it.

[2015-07-09 15:46] jinluyuan opened #3512 "Unable to register project that has .gslide file in it (Google Slides)"
### Steps
1. Go to [osf.io](http://www.osf.io)
2. Go to one of your projects
3. Go to your project's Settings page
4. Enable and configure the Google Drive add-on
5. Make sure the *only content being registered is a .gslide* in the project
6. Go to your project's Registrations page
7. Create a new registration
8. Notice the "Archiving" label next to the new registration on your project's Registrat

[2015-07-09 15:47] lbanner commented on #3496
OK -- would want @jlcohoon and Community input on that re: expectations of users.

[2015-07-09 15:55] jlcohoon commented on #3496
I do agree with Natasha's expectations. But, I would check how many people are using it. If it's not many and the issue will be fixed soon, you could probably disable it. The feature has more applications than just badges, however (e.g. I had a paper that cited the OSF as containing my supplemental materials, but then I moved them elsewhere).

@JeffSpies probably has the best insight on this.

[2015-07-09 16:30] HarryRybacki opened #3513 "[bug] `User.social` validators never called upon `User.save()`"
## Steps:
1. Log into an account
2. Navigate to the account settings page, osf.io/settings>/
3. Click the `Social` tab
4. Edit one of the social fields
5. Click `Submit`

## Expected:
The updated field will be validated by `profile.js` and the model `core.py`

## Actual:
1. The field is scrubbed in `profile.js` -- https://github.com/CenterForOpenScience/osf.io/blob/develop/website/static/js/profil

[2015-07-09 17:35] MPNussbaum commented on #3336
@lyndsysimon, after looking into this issue it seems that PR #2231 takes care of it.

[2015-07-09 18:18] WillBanner opened #3514 "[Staging and Production] [Firefox] [Safari] View-only Link copy button does not copy"
# Steps #
1. Go to osf.io and log in on safari or firefox
2. go to a project on which you are an admin and that has a View-only link.
3. Go to the sharing tab
4. Scroll down to "view-only links" and look under the header "link"
5. Click on the button to copy the link (to the left of the link box)
6. Paste into the browser search bar.

# Expected #
The link to the view-only version of the project w

[2015-07-09 19:08] jlcohoon commented on #2833
any more luck with piwik?

[2015-07-09 19:16] hmoco commented on #2833
I believe @GageGaskins and maybe @PatrickEGorman and @zik3qe are currently working on piwik.

[2015-07-09 19:16] lbanner commented on #2833
It's @GageGaskins --

[2015-07-09 19:47] jlcohoon opened #3518 "[Bug Production: All browsers but FireFox] hitting enter after adding an image or link to wiki exits editing"
## Steps
1. Visit a wiki page you have permissions to edit
2. Enter edit mode and click on the add link or add image button above the wiki editing box.
3. Enter a url—do not press 'OK'
4. Hit the 'return' key

## Outcome
1. The user is brought out of edit mode
2. Changes are not published (but returning to edit mode shows that they were auto saved)

## Expected outcome
1. Either hitting return sho

[2015-07-09 19:53] JeffSpies commented on #3496
It was not created for badges; it supports the flexibility and freedom of our identifiers. It should be fixed ASAP.

[2015-07-09 20:37] WillBanner opened #3521 "[Staging and Production] When addons not configured, Create Fork Modal message incorrect"
# [Chrome] [Safari] [Firefox]
# Steps
1. Go to osf.io and log in.
2. Go to a project on which you are an admin.
3. Go to the settings tab for this project.
4. Go to the Add-on selection, choose all add ons, and submit.
5. Make sure that the add on access tokens have not been submitted and the add ons are not configured.
6. Go to the project dashboard.
7. Click on the duplicate button.
8. Click to

[2015-07-09 20:59] #3407 closed

[2015-07-09 21:33] #3353 closed

[2015-07-09 23:42] NatashaRichter opened #3525 "Warning alerts: add link to figshare public files or filesets"
The warning alerts below appear on the Project Overview page when a project is private but the github repo or figshare files connected to a project are public. It would be nice for users if we added a link to the Figshare files or filesets in the warning alert, as we do with Github in the warning below.

## Screenshot
![warningsalert](https://cloud.githubusercontent.com/assets/7093086/8609319/b176

[2015-07-10 13:28] chrisseto commented on #3122
This should be fixed now thanks to @bdyetton

[2015-07-10 14:05] sloria commented on #3122
Yes, this fix will be in release 0.43.0

[2015-07-10 14:05] #3122 closed

[2015-07-10 14:21] chrisseto commented on #3122
@sloria Uploading is already fixed on prod.

[2015-07-10 14:26] jlcohoon opened #3526 "logs allow you to click on deleted file; alert is unhelpful"
## Steps
1. Visit a project with a file (or upload one)
2. Delete that file
3. Look at the logs and scroll to any log that is about that file *except* the log saying the file was deleted

## Outcome
1. The log that says the file was deleted does not link to the file
2. All other logs do link to the a file page
3. The file page is titled with a series of numbers
4. There is an alert that says the f

[2015-07-10 15:47] abought commented on #3376
#3389 was merged. I'll close this one barring further reports.

[2015-07-10 15:47] #3376 closed

[2015-07-10 15:52] revanthkolli commented on #3480
@GaryKriebel Can I work on this?

[2015-07-10 16:10] mfraezz commented on #3518
I can't reproduce this bug. Tested locally, on staging, and on production (on production - both projects that I created and did not), also with default ('http://') and filled in url fields. Are there any other details that might affect this?

[2015-07-10 17:02] jlcohoon commented on #3518
not that I can think of? I can still produce it and so can @mckidwell
![3518](https://cloud.githubusercontent.com/assets/4965832/8624111/8ca540d6-2703-11e5-9633-ee7573fc8d08.gif)

[2015-07-10 17:11] chennan47 commented on #3526
Based on how log works, this is expected behavior. Before the log is deleted, any logs about that file include the url link to that file which is already stored in the database. When the file is deleted, it just generated a new log but doesn't modify any previous log.

[2015-07-10 17:16] chennan47 commented on #3514
@caileyfitz I can't repo this problem. Can you verify it? Thanks.

[2015-07-10 17:19] nanchen47 commented on #1093
Same issue as https://github.com/CenterForOpenScience/osf.io/issues/3521. But that issue includes all addons. Close this one. Continue discussion there.

[2015-07-10 17:19] #1093 closed

[2015-07-10 18:01] mfraezz commented on #3518
Hmm. It's not happening on Firefox, but it does on Chrome/Safari. I'm getting a ```TypeError: r.refresh is not a function``` in my console log for FF, which may explain why FF is immune to this bug. It appears to be coming from a minified version of pagedown-ace's [JS](https://github.com/CenterForOpenScience/osf.io/blob/develop/website/addons/wiki/static/pagedown-ace/Markdown.Editor.js#L1539)

[2015-07-10 18:15] NatashaRichter opened #3535 "Project Overview: Warning alert language change"
## Steps
1. Log in to osf.io.
2. Navigate to one of your private projects that has a public github repo and public figshare files or filesets connected to it.
3. Notice the Warning alerts at the top of the Project Overview page.

## Suggested Change

Since there is only one alert per warning, change word from **Warnings** (plural) to **Warning** (singular).

## Screenshot

![warnings_alert](https:

[2015-07-10 18:30] Johnetordoff commented on #3513
I too was very puzzled by the validation on this page, much of the code included was superfluous, but I didn't remove any because I couldn't tell how the validation was actually being done.

[2015-07-10 18:43] jamiehand opened #3536 "[bug] Pointer created by Swagger docs belongs to wrong node"
@brianjgeiger

### Steps:

1. Go to http://localhost:8000/v2/docs/ or https://staging2.osf.io/api/v2/docs/
2. Expand ```POST /v2/nodes/{node_id}/pointers/```
3. Enter node_id A in top ```node_id``` field and node_id B in bottom ```node_id``` field.
4. Click ```Try it out!```

Based on the description, it seems this should create a pointer from node A to node B, but it instead it creates a pointer

[2015-07-10 19:01] #3496 closed

[2015-07-10 19:05] caileyfitz commented on #3497
Same problem occurs (only displaying results for the specific page the user was last on) *after* the modal is exited and re-opened. The only way to fix this is to refresh the page or add a link.

[2015-07-10 19:29] #3535 closed

[2015-07-10 19:29] #3525 closed

[2015-07-10 19:36] sloria opened #3540 "Go/nogo on release 0.42.0"
@JeffSpies @GaryKriebel @lbanner @caileyfitz @nicipfeiffer

[2015-07-10 20:12] jamiehand opened #3543 "[bug] Swagger PATCH doesn't allow change to blank-string category"
@brianjgeiger

Steps
-------
1. Go to http://localhost:8000/v2/docs/ or https://staging2.osf.io/api/v2/docs/
2. Expand ```PATCH /v2/nodes/{node_id}```
3. Enter a node_id that you can modify in the ```node_id``` field, enter "Title 1" in the ```title``` field, and set ```category``` to "project".
4. Click ```Try it out!```-- Note that the title changes to "Title 1" and the category becomes "project

[2015-07-10 20:13] GaryKriebel commented on #3540
Currently >20 bug cards that are not in the deferred column with 11 in the draft/pending column.

[2015-07-10 20:15] jamiehand opened #3544 "[bug] Swagger POST and PUT don't allow for empty string category"
@brianjgeiger

### Steps:

1. Go to http://localhost:8000/v2/docs/ or https://staging2.osf.io/api/v2/docs/
2. Expand ```POST /v2/nodes/```
3. Enter some text in the ```title``` field and leave the ```category``` field blank.
4. Click ```Try it out!```

### Expected:

Based on the description, an empty-string category (i.e., category of ```''```) should be allowed; these steps should create a new n

[2015-07-10 20:19] MPNussbaum commented on #3434
@lbanner, @GaryKriebel, has this unassigned and 0 comment issue been resolved via referencing PRs?

[2015-07-10 20:26] lbanner commented on #3434
Looks like resolved via #3450 .... I'll double check.

[2015-07-10 20:28] lbanner commented on #3434
Slated for release 0.43.0 ... so we'll close once deployed. Thanks.

[2015-07-10 20:29] MPNussbaum commented on #3434
@lbanner :+1:

[2015-07-10 20:36] lbanner commented on #3540
RE: Dataverse PR clarification: Robert notes that the "Other" field is meant to allow the user to input any URL that is a 4.0 Dataverse implementation. However, there appear to be no current, existent, Dataverse implementations that have been updated to 4.0. @nicipfeiffer, your referenced web site lists Dataverse "collections" rather than Dataverse repositories.

Two + 1 options: Release as is, an

[2015-07-10 20:52] sloria commented on #3540
Re: Dataverse, I vote to keep "Other" option for now.

[2015-07-10 20:56] GaryKriebel commented on #3540
I am fine with other as well.

[2015-07-10 21:08] #3507 closed

[2015-07-10 23:36] JeffSpies commented on #3540
Summary?

On Friday, July 10, 2015, Steven Loria <notifications@github.com> wrote:

--
Sent from mobile.

[2015-07-13 07:46] reinaH opened #3550 "[bug] can return deleted nodes"
@brianjgeiger

# Steps
Can be reproduced for both url bases: "https://staging2.osf.io/api/v2/"  and "http://localhost:8000/v2/"

1.Go to url and create a new node:
[code]
2.Retrieve the node id that has just been created:
[code]
3.Using the node id, delete the node:
[code]
4.Attempt to retrieve the deleted node:
[code]
# Expected
Once the node has been deleted, it should not be able to be retrieve

[2015-07-13 08:32] reinaH opened #3551 "[bug] can access and edit deleted nodes"
@brianjgeiger

# Steps
Can be reproduced for both url bases: "https://staging2.osf.io/api/v2/"  and "http://localhost:8000/v2/"

1.Go to url and create a new node:
[code]
2.Retrieve the node id that has just been created:
[code]
3.Using the node id, delete the node:
[code]
4.Attempt to edit the deleted node and return the node:
[code]

# Expected
Once the node has been deleted, it should not be ab

[2015-07-13 11:15] brianjgeiger commented on #3551
For this and #3550, I would have expected this not to be possible based on the base ODM query. So I think we will need to make permissions classes that prevent these thing from happening. It may be a deleted node gets a 404 rather than a 401/403. We may have to do the same with the other items in the base query.

[2015-07-13 12:33] brianjgeiger commented on #3536
One of those parameters should be 'id' rather than 'node_id'. I expect that's related.

[2015-07-13 12:47] brianjgeiger opened #3552 "Consider removing/hiding Swagger docs"
The swagger docs are somewhat redundant with the Django docs, and are somewhat troublesome. It might be better to keep the swagger generation capability, but to not use the auto-generated swagger docs as the primary point of contact with the API.

On the other hand, it could be that the Swagger isn't being so troublesome now but is really good for finding issues in the API. Anyways, this issue is

[2015-07-13 13:07] brianjgeiger commented on #3550
This is essentially part of #3551, so I think we can close this one.

[2015-07-13 13:07] #3550 closed

[2015-07-13 14:00] JeffSpies commented on #3540
What happens if people choose a dataverse that isn't 4.0?

On Fri, Jul 10, 2015 at 4:56 PM, Gary Kriebel <notifications@github.com>
wrote:

[2015-07-13 14:06] lbanner commented on #3540
Error message that we will want to improve, "There was a problem connecting to the Dataverse."

[2015-07-13 14:14] JeffSpies commented on #3540
How about

Sorry, but there was a problem connecting to that instance of Dataverse. It
is likely that the instance hasn't been upgraded to Dataverse 4.0. If you
have any questions or believe this to be an error, please contact
support@osf.io.

On Mon, Jul 13, 2015 at 10:06 AM, LarryB <notifications@github.com> wrote:

[2015-07-13 14:30] lbanner commented on #3336
OK we'll 'hold' this for now and check post PR #2231 deployment. Thanks.

[2015-07-13 14:39] #3497 closed

[2015-07-13 14:40] mfraezz commented on #3514
@chennan47 I can confirm this button works in Chrome but not FF.
<img width="591" alt="screen shot 2015-07-13 at 10 08 10 am" src="https://cloud.githubusercontent.com/assets/5659262/8651935/cc00e800-2949-11e5-9116-f8c8007aaa54.png">

I've noticed the lack of clipboard-copy functionality on FF with other sites too, this [MDN](https://developer.mozilla.org/en-US/docs/Midas/Security_preferences) arti

[2015-07-13 14:59] chennan47 commented on #3514
@mfraezz what's ur firefox version?

On Mon, Jul 13, 2015 at 10:40 AM, mfraezz <notifications@github.com> wrote:

[2015-07-13 15:03] mfraezz commented on #3514
[FirefoxDeveloperEdition](https://www.mozilla.org/en-US/firefox/developer/), 41.0a2 (latest)

[2015-07-13 15:54] abought commented on #3552
The swagger docs are an asset to discovery (all routes documented on a single page).

I admit to preferring the DRF browseable API for detailed information on a route, but I wouldn't want to use it for a high-level summary of what the API could do. Not sure if another public overview doc exists.

Just my 2 pence.

[2015-07-13 16:33] sloria commented on #3540
Ok, that change is made.

Haoyu, Caner, Nan, and I are continuing to address the remaining bugs. We will re-evaluate at 4pm to check progress.

I will be a "go" when QA decides there are no more bugs that should hold release.

[2015-07-13 16:40] NatashaRichter opened #3556 ""Add Contributors" modal needs pagination"
## Steps

1. Log in to osf.io.
2. Navigate to a project for which you have admin access
3. Go to Sharing tab
4. Click to Add Contributors
5. Add more then ten contributors
6. Now navigate to a component within the project for which you are the only contributor
7. Go to the Sharing tab for the component
8. Click to Add Contributors
9. Click "Import contributors from [Insert project name]." This wil

[2015-07-13 16:43] brianjgeiger commented on #3552
Agreed. If it goes, it'll need replacing, but it may be replaced with something generated from the swagger json but served more statically.

[2015-07-13 16:44] jamiehand commented on #3536
@brianjgeiger, based on the NodePointersSerializer in the docs, "id" doesn't seem to be something that could be entered as a parameter. It seems like "id" is a random id generated for the pointer upon creation of the pointer (i.e. it seems to be the "pointer_id", which can later be used with GET /v2/nodes/{node_id}/pointers/{pointer_id} to see a detail view for the pointer). Is that not the case?

[2015-07-13 16:49] reinaH commented on #3551
https://gist.github.com/reinaH/7eaeab5f05acac948566

[2015-07-13 16:52] brianjgeiger commented on #3536
Riiight. Okay. So there's the node_id in the path, which would have been pk before Patrick G changed it to make the documentation more useful. And even though it's labelled as the one in the path, it's clearly not working that way, because when you look at the request url, the one in the path is the id from the form item.

So the swagger docs should be able to recognize this situation, but they do

[2015-07-13 16:56] jamiehand commented on #3536
Should filing that bug be a priority, or should I hold off until we know we'll be sticking with the swagger docs?

[2015-07-13 16:58] brianjgeiger commented on #3536
If it's 15 minutes to file the bug, go ahead and do that sooner. Even if we don't need it, it'll help other people. Be sure to check to make sure someone hasn't already filed it, though.

[2015-07-13 17:14] lbanner commented on #3540
Good on that change @sloria -- We'll help make sure the communication is happening 'tween Haoyu, Caner and QA.

[2015-07-13 17:22] GaryKriebel commented on #3540
Thank you for the update @sloria, I'm just getting caught up from my return.  I agree with this plan.

[2015-07-13 17:41] WillBanner opened #3560 "[Staging and Production] Can have project with no listed contributors"
# Steps
1. Go to osf.io and log in.
2. Go to a project on which you are an admin.
3. Go to the sharing tab for that project.
4. Add your secondary osf account as a read/write contributor.
5. Uncheck the box listing you as a bibliographic contributor (the only contributor listed should now be the read/write contributor).
6. Log on to the account of the read/write contributor.
7. Go to the project.

[2015-07-13 17:56] saradbowman opened #3561 "[production] In-progress edits in Project Description lost"
Steps
-------
1. Click on a project's description to edit it, and begin typing
2. Highlight something on the wiki to copy+paste it into the description
3. The text you typed in the description box is lost, even though you have not clicked the "x"

Expected
------------
The text you typed would remain unless you click "x" to revert to the last saved version

Actual
--------
In-progress text is lost

[2015-07-13 18:10] chennan47 commented on #3560
@WillBanner Actually this problem should already be fixed on staging. Can we try to reproduce it?

[2015-07-13 18:26] WillBanner commented on #3560
@chennan47 Hmm, I'm still able to reproduce it. If you search for project Los Angeles on staging, there shouldn't be any listed contributors, and if there are, then maybe it's a problem on my end?

[2015-07-13 18:34] lbanner commented on #3560
No contributors ....
<img width="609" alt="screen shot 2015-07-13 at 2 34 02 pm" src="https://cloud.githubusercontent.com/assets/2964829/8657540/43f8b582-296c-11e5-8184-307d9451c31a.png">

[2015-07-13 18:53] #3462 closed

[2015-07-13 18:55] reinaH opened #3565 "[bug] can return deactivated user"
@brianjgeiger
# Steps
1. Go to an account on staging2 that has at least a couple of components, files, and at least one contributor. Save the account user ID for your account.
2. Deactivate the account on staging2 (ping Steve or Sara to expedite the process)
3. Go to: "https://staging2.osf.io/api/v2/users/{deactivated_user_ID}/"

# Expected
It is unknown what is expected. If a user wanted to delet

[2015-07-13 18:55] reinaH commented on #3565
@lbanner

[2015-07-13 19:01] lbanner commented on #3565
I would think we would want to just dis-allow this (?) i.e. retrieving data from deactivated accounts. But this note too begs an interesting question around what it means to 'deactivate' an account as opposed to a full deletion, 'If a user deactivates an account and tries to create a new account with the email that was associated with the deactivated account, it can not be done. The error message

[2015-07-13 19:02] brianjgeiger commented on #3565
Agreed, the API should definitely not return any info about a deactivated user. It should essentially be the same solution as #3551

[2015-07-13 19:04] lbanner commented on #3565
OK good -

[2015-07-13 19:30] jlcohoon commented on #3565
Whether we fully delete or deactivate, shouldn't the user be able to sign up with the same email? If it's just deactivation, they resume where they left off. If it's full deletion, they start from scratch.

[2015-07-13 19:41] haoyuchen1992 commented on #3461
@caneruguz fix it!

[2015-07-13 19:45] mfraezz commented on #3518
So, commenting out that [line](https://github.com/CenterForOpenScience/osf.io/blob/develop/website/addons/wiki/static/pagedown-ace/Markdown.Editor.js#L1539) fixes this in Safari and Chrome, and has no effect that I've observed in FF. Reading through that code doesn't yield any obvious issues with doing so, and the original author even left a comment saying that ```this [method] is awkward and I th

[2015-07-13 20:00] #3461 closed

[2015-07-13 20:38] brianjgeiger commented on #3518
I have no comment on the subject. I didn't work with that particular code directly.

[2015-07-13 20:52] sloria commented on #3540
Update: There are 4 remaining bugs. Two are related to searching in the Add Links modal. It is likely that they both have the same cause: there are projects with no visible contributors (https://github.com/CenterForOpenScience/osf.io/issues/3560). Since this bug is on production, I recommend deferring. Nan is already working on the fix.

The other two bugs are Dataverse-related. One is an aestheti

[2015-07-13 20:57] lbanner commented on #3540
I am a GO ... issues that exist are very well documented, and Dataverse in particular represents a very small percentage of any user use-cases on Production at the moment -- As long as @nicipfeiffer and @caileyfitz are good. Thanks.

[2015-07-13 21:02] GaryKriebel commented on #3540
I concur with @sloria

[2015-07-13 21:07] caileyfitz commented on #3540
Dataverse is now stuck in an infinite loop... so I am a no-go for the moment

[2015-07-13 21:11] brianjgeiger commented on #3074
@pattisdr I don't want to distract you from what you're doing, but if you get a moment where you're waiting for a code review or are otherwise blocked, take a look at this and let me know if you'd be interested in it.

[2015-07-13 21:23] chennan47 commented on #3540
Sry, that's my fault, but have a fix for that included in
https://github.com/CenterForOpenScience/osf.io/pull/3571. Once that one is
merged, all dataverse problem should be fixed.

On Mon, Jul 13, 2015 at 5:07 PM, Cailey Fitzgerald <notifications@github.com

[2015-07-13 21:41] nicipfeiffer commented on #3540
With dataverse fixed and all style/UI bugs that are deferred documented for fixing post release, I am a GO.

[2015-07-13 21:44] sloria commented on #3540
Nan's PR is now merged and on staging.

[2015-07-13 22:02] JeffSpies commented on #3540
I'll tether my go-no go to Cailey. On her go-ahead, I'm a go.

J.

On Mon, Jul 13, 2015 at 5:44 PM, Steven Loria <notifications@github.com>
wrote:

[2015-07-14 00:06] GaryKriebel commented on #3540
Does it still need testing?  If so, I'll give it a run through.

[2015-07-14 00:50] sloria commented on #3540
@GaryKriebel Yes, it still needs testing.

[2015-07-14 00:54] lbanner commented on #3540
OK ... if we run through it, and all's good, can we still get a "Go?"

[2015-07-14 00:56] caileyfitz commented on #3540
All looks well upon a quick run-through, so I am a GO! :rocket:

[2015-07-14 01:02] lbanner commented on #3540
Yep, I and @willbanner confirm as well. Thanks.

[2015-07-14 01:41] GaryKriebel commented on #3540
Sorry. Everything got in my way tonight including being stopped on rt20 for construction. Testing still needed?

[2015-07-14 01:47] GaryKriebel commented on #3540
Dataverse worked well for me.... I am a go if word is still needed.

[2015-07-14 02:23] sloria commented on #3540
Released!

[2015-07-14 02:23] #3540 closed

[2015-07-14 13:28] #3434 closed

[2015-07-14 13:31] #3055 closed

[2015-07-14 13:32] #3143 closed

[2015-07-14 13:33] #3059 closed

[2015-07-14 13:40] brianjgeiger commented on #3049
Circular imports are fixed, so now we just need to DRY the function.

[2015-07-14 13:53] saradbowman opened #3576 "[production] [bug] Twitter Handles including @ don't resolve properly"
Twitter handles do not always resolve properly. Example: osf.io/@BrianNosek or osf.io/@jlcohoon .

Upon further investigation, it was discovered that this occurs because the users have included the @ symbol in their user profiles:

![screen shot 2015-07-14 at 9 48 44 am](https://cloud.githubusercontent.com/assets/7749914/8674690/8feacace-2a0d-11e5-9674-6bdb5ed92410.png)

They will resolve properly

[2015-07-14 14:01] ticklemepierce opened #3578 "[bug] Panel headings are not a consistent size"
Steps:
1) Go to a project
2) Go to its wiki
3) Click the "Edit" toggle
4) Observer the difference in the panel headings of Edit and View

Expected:
They should be the same (presumably a height that is constant across the OSF).

Actual:
They are different.  Then if I create my own panel I get yet another height.

<img width="1048" alt="screen shot 2015-07-14 at 10 04 40 am" src="https://cloud.githu

[2015-07-14 14:07] GaryKriebel commented on #3578
I believe @caneruguz already started addressing this?

[2015-07-14 14:21] nicipfeiffer opened #3580 "Files Detail Page: Rich Text Files (.rtf) have edit pane"
## Steps
1. Go to a project with an .rtf file uploaded or upload one to a project
2. Click on the file name to go to the files detail page and render the file
3. On the files detail page, look in the upper right for the view toggle
4. Toggle the edit button to show the edit pane for the .rtf file

## Expected
Since this file renders as a pdf, the edit pane is not consistent with other files render

[2015-07-14 14:35] caneruguz commented on #3578
@Gary the issue I'm addressing right now is unrelated to this.

The height of a panel header is determined by what the developer chooses to put in there, and the spacing of these elements are different. The panel header allows for these changes. It is of course aesthetically better to have them all be same height but for that the style  needs to be page specific css and not a global style change.

[2015-07-14 14:36] nicipfeiffer opened #3581 "Citation Widget: Error with Polish Citation"
## Steps
1. Go to the project overview page for a project
2. In the Citations widget, click to expand the dropdown
3. At the bottom of the widget, click on the More dropdown
4. Click on the dropdown to open the text field
5. Type the letters 'lk'
![screenshot 2015-07-14 10 27 49](https://cloud.githubusercontent.com/assets/9381062/8675768/b879a3e2-2a13-11e5-9f45-733e5670f42f.png)

6. See the Citati

[2015-07-14 14:42] GaryKriebel commented on #3578
Thanks @caneruguz.
@ticklemepierce , can you update this with screenshots as well?

[2015-07-14 14:48] HarryRybacki commented on #3576
If there are users whose `social.twitter` field contain an **@** they have probably been that way for awhile.

The current front end validation will remove the first **@** a user enters into their social information e.g.
- @HarryRybacki => HarryRybacki
- @@HarryRybacki => @HarryRybacki

The back end validators are not currently being used as outlined in issue #3513

I can make a hotfix that will r

[2015-07-14 14:57] bnosek commented on #3526
An improved message of "this file was deleted on [date]" is useful, and the file should continue to be linked in the logs.

[2015-07-14 15:03] jlcohoon commented on #3565
I think I might be overruled in my previous comment. I'm going to make a summary of account alerts/emails when you try to perform various actions (forgot password, try to log in with a deactivated account) and then we should be able to make a more consistent decision on the alert/behavior the user sees.

[2015-07-14 15:04] brianjgeiger opened #3582 "Occasional 500 on API v2 POST /nodes/"
Steps
-------
1. Create a new node using the API as an authenticated user

Expected
------------
It will always work.

Actual
--------
Sometimes it gives a 500

This is easiest to replicate when a lot is going on with the API. For example, running all the Runscope tests at the same time. Running it in isolation seems fairly stable, but when all the tests are running at once, it fails 1/3 times.

R

[2015-07-14 15:31] GaryKriebel commented on #3565
this is a great idea, @jlcohoon .... we discussed with ErinM the need for this kind of documentation and this would be a good first step.

[2015-07-14 15:33] saradbowman commented on #3565
Some of this is captured here
<https://docs.google.com/document/d/1bLNVsHLktmRFhW1TJ-K4kR6PQa39aQP3iFw3shgk_vk/edit#>
(though
not all).

On Tue, Jul 14, 2015 at 11:31 AM, Gary Kriebel <notifications@github.com>
wrote:

[2015-07-14 15:35] GaryKriebel commented on #3565
woah, that's great @saradbowman

[2015-07-14 15:38] lbanner commented on #3526
I like that approach - @nanchen47 How does that sound? Difficult to change?

[2015-07-14 15:41] lbanner commented on #3576
@HarryRybacki and @saradbowman -- putting this on 'Hold' -- My understanding is that we need to clarify approach here. Thanks.

[2015-07-14 15:41] jlcohoon commented on #3526
@JeffSpies, thoughts?
what do we do about the file title on the file's page?

[2015-07-14 15:42] hmoco commented on #3431
This has been fixed with the new layout, and should be closed @lbanner
![screen shot 2015-07-14 at 11 40 04 am](https://cloud.githubusercontent.com/assets/6268982/8677458/22c12bb8-2a1d-11e5-8d34-0f5a96eae60e.png)

[2015-07-14 15:45] lbanner commented on #3431
Cool - Thanks.

[2015-07-14 15:45] #3431 closed

[2015-07-14 15:53] chennan47 commented on #3526
@lbanner easy to do. Can be an intern task.

[2015-07-14 15:53] HarryRybacki commented on #3576
@lbanner nods

[2015-07-14 15:58] brianjgeiger commented on #3552
Might look at using something like https://github.com/devo-ps/carte - it's a statically served set of pages created by Jekyll. It's fairly simple thing, and would require some extra work on our end, but we could have it point interactive examples at the Django docs on the api test server (currently staging2) rather than encouraging live testing on production, regardless of where they are checking

[2015-07-14 16:00] hmoco commented on #3412
At least for OSF Storage, this does replace the file as the latest version. However, the earlier versions are still available under the revisions tab on the file view page, so in that sense the new file is test_1 or test_2, except test_0 is only available under the file view page.

[2015-07-14 16:08] jlcohoon opened #3587 "change download count to not include contributors' downloads"
From the community repo: https://github.com/CenterForOpenScience/community/issues/178

## Current behavior
The download count for a file increment every time any user downloads the file.

## Suggested behavior
The download count for a file should increment every time any non-contributor downloads the file. This way, the download count is a measure of outside interest in the resource, not a measure

[2015-07-14 16:11] jinluyuan commented on #3412
@hmoco I think the behavior is fine, but it would be preferable to have a warning message. Users might not even realize that the different versions are available to view in the OSF. When a user clicks to view a file, the Revisions pane isn't open by default, so it's not noticeable unless the user knows where to look.

[2015-07-14 16:16] brianjgeiger commented on #3552
Although Carte is really so simple that just making a sing file by hand would probably be better.

[2015-07-14 16:19] jlcohoon commented on #3032
I think the UI changes take care of this? There is a light grey outline to indicate that when the bar isn't full, it's a portion of something.
![screen shot 2015-07-14 at 12 18 59 pm](https://cloud.githubusercontent.com/assets/4965832/8678427/8971d588-2a22-11e5-87fa-d29d31effbf4.png)

[2015-07-14 16:19] HarryRybacki opened #3588 "[bug][production] Semicolon on profile pages"
## Steps to recreate:
- Go to any user profile page

## Expected:
There to not be a semicolon on the upper left corner of the page.

## Actual:
There is a semicolon on the upper left corner of the page.
<img width="244" alt="screen shot 2015-07-14 at 12 16 00 pm" src="https://cloud.githubusercontent.com/assets/2614670/8678433/8e60ddf0-2a22-11e5-82a3-0bbea0d8d194.png">

[2015-07-14 16:20] jlcohoon commented on #425
We're working on a proposal to address this.

[2015-07-14 16:49] revanthkolli commented on #3418
Is this still an issue? If so can I work on it?

[2015-07-14 16:58] jlcohoon opened #3589 "include link to project in issue registering project email"
## Current Behavior
The email alerting users that there was an issue in registering a project does not include a link to the project.
![screen shot 2015-07-14 at 12 57 02 pm](https://cloud.githubusercontent.com/assets/4965832/8679331/083bdada-2a28-11e5-8e4b-be32639a75ce.png)

## Expected Behavior
The project title should link to the project page so that the user can easily try to register again.

[2015-07-14 17:11] jlcohoon opened #3591 "users receive two emails about failed registration when component causes failure"
## Current Behavior
When a component has an issue registering, and the user is registering a project that contains that component, they receive an email alerting them that the project cannot be registered and a separate email that the component cannot be registered.

## Expected Behavior
The user should only receive one email alerting them that there was a problem with the registration. They shoul

[2015-07-14 17:12] hmoco commented on #3412
I agree, I just wanted to clarify that the files are not just gone without warning. A message saying something like
## file_name will be replaced
### However, it will still be available under the revisions tab when viewing the new file

[2015-07-14 17:18] lbanner commented on #3412
@jlcohoon Please, see above ^^ for appropriateness of language. Thoughts?

[2015-07-14 17:26] lbanner commented on #3418
@revanthkolli Can you replicate it? If so, yes, all yours -- I will assign -- Make a note if it does not replicate on Production.

[2015-07-14 17:32] jinluyuan commented on #3412
Suggestion:

### This will replace the existing version of file_name
Previous versions are preserved in the file viewer's Revisions pane.
[Cancel][Confirm]

[2015-07-14 17:33] hmoco commented on #3412
Oh, that was just an example, I'm not currently working on this. I can however.

[2015-07-14 17:34] jinluyuan commented on #3412
@hmoco It's cool! I just want it to be as clear as possible.

[2015-07-14 17:42] jlcohoon commented on #3412
Can we include a "don't ask this again" option if we give a warning like that?

[2015-07-14 17:43] revanthkolli commented on #3418
@lbanner Yeah I was able to replicate it.

[2015-07-14 17:48] brianjgeiger commented on #3536
Probably `target_node_id` for the node being pointed to is the proper way to fix this and should be very quick to do.

[2015-07-14 17:50] lbanner commented on #3412
Cool option if possible, especially if you think you want to include the [cancel][confirm].

[2015-07-14 17:51] jlcohoon opened #3593 "add link to component in file tree"
This comes from the community repo: https://github.com/CenterForOpenScience/community/issues/179

## Steps
1. Visit the overview of a project with multiple components
2. Hover over a component's name in the file tree
3. Try to click on a component's name in the file tree

*or*

1. Visit the files page of a project with multiple components
2. Hover over a component's name in the file tree
3. Try to

[2015-07-14 17:54] jinluyuan opened #3594 "User Settings - Authorized Projects list in Mendeley & Zotero do not clear out deleted projects"
### Steps
1. Go to [osf.io](http://www.osf.io)
2. Create a new project or fork an existing project
3. Configure and enable Mendeley and Zotero, as well as a storage add-on, in your project
4. Go to your User Settings page
5. Go to the Configure Add-ons page
6. Confirm that the new project appears as an Authorized Project under Mendeley, Zotero, and the storage add-on you chose
7. Go to the new pro

[2015-07-14 17:58] jlcohoon commented on #3412
I personally think that it is unnecessary to include the alert. I do think it would surface the version control feature more, so that would be good, but it would introduce an extra hurdle for users. In all likelihood, if you wanted an extra "_1" or something added to the end to create a second copy, you would do so yourself when you saved the file on your computer. Not providing a warning and auto

[2015-07-14 18:07] jlcohoon commented on #1532
This one got discussed in the community repo (https://github.com/CenterForOpenScience/community/issues/218) and it was requested that we add a badge next to the link to registrations on a project that lists the number of registrations. If there are no registrations there should be no badge. No extra language needs to be added to the registration page itself. For example:
![screen shot 2015-07-14 a

[2015-07-14 18:08] hmoco commented on #3412
I am unsure of how this feature could be done. Not saying it is not possible, but it will be a lot harder then simply adding the warning (which is already included for when you rename the file).
![screen shot 2015-07-14 at 2 03 29 pm](https://cloud.githubusercontent.com/assets/6268982/8680735/4dd9c0f8-2a31-11e5-9164-e4cb8a55cfce.png)
Specially if the dismissal of the warning is permanent, meaning

[2015-07-14 18:11] jinluyuan commented on #3412
This discussion has led me to discover that uploading the same name file into Dataverse produces a -1 at the end of the file, and for figshare, the same file is just displayed twice. All other add-ons and OSF Storage replace the existing file.

![screen shot 2015-07-14 at 2 04 16 pm](https://cloud.githubusercontent.com/assets/8591162/8680815/e18adb84-2a31-11e5-8d75-8db85b428cc2.png)
![screen shot

[2015-07-14 18:12] hmoco commented on #3412
Actually that modal is Caner's work. If you select keep both, it renames it to test(1).txt

[2015-07-14 18:13] lbanner commented on #3412
Yeah. I am in favor of the warning in general, especially as we use it in moving/copying. Consistency. @hmoco Can we simply apply @caneruguz 's modal?

[2015-07-14 18:13] jinluyuan commented on #3412
@hmoco Oh alright, props to Caner. Any way we could then change Dataverse's versioning to be test(1).txt as well, instead of the existing test-1.txt? Or vice versa, as long as we maintain consistency.

[2015-07-14 18:13] brianjgeiger commented on #1532
While they're there, would you want to add a badge for forks as well?

[2015-07-14 18:17] brianjgeiger commented on #3552
Other ways to handle some issues:
* Point the live version of the swagger docs to the staging server rather than to whatever it happens to be hosted on. If this is possible (which it should be), it could be overridden for development testing
* See if there's an option to disable having active pages and just have them display the docs.

[2015-07-14 18:23] hmoco commented on #3412
@lbanner we can use it, but it will be a little more difficult if we want to retain the rename function.

[2015-07-14 18:24] jlcohoon commented on #3412
If we add this modal everyone will say keep both without realizing that
that means they'll have two files rather than two versions. I really think
that this will be discouraging the use of version control.

On Tue, Jul 14, 2015 at 2:13 PM, jinluyuan <notifications@github.com> wrote:

[2015-07-14 18:24] jlcohoon commented on #1532
I like the idea. @bnosek, @JeffSpies, thoughts? It would be a more obvious sign than the duplicate button's number, but it would also be redundant.

[2015-07-14 18:33] hmoco commented on #3412
How about no keep both button? It's either cancel or create new version or something like that.
I guess the question is, how many users are aware of version control and would be annoyed by the modal popping up all the time when they really just want to create a new version and how many users just are not aware of it and would benefit from the modal. Now that I think about it, being it that version

[2015-07-14 18:33] bnosek commented on #1532
Yes, okay with me.  Not sure if that badge conforms well to the style guide or not, but that should be checked (obviously).

[2015-07-14 18:37] brianjgeiger commented on #3412
If it becomes a source of confusion for users, we might be able to put some more UI effects to make it more clear what is happening. It'll be trickier with multi-file drag and drop, but doable.

[2015-07-14 18:38] jinluyuan commented on #3412
The case I'm considering -- If I have two files both named "data.txt", perhaps in different folders in my computer, I would not want the first one to be replaced by the second, even if there is versioning in the file viewer, because they could be two completely different, unrelated files.
I feel like it's best to have the warning, with just a [Cancel][Confirm] (or some other word) as the options.

[2015-07-14 18:41] hmoco commented on #3412
I guess the idea is that if we are promoting users to make use of version control, we should not be saying they might be making a mistake when they are trying to use the feature. I think if there was a way to separate the two behaviors (accidental name vs. new version) that would be ideal

[2015-07-14 18:42] hmoco commented on #3412
With that in mind, is there a way currently (maybe a button) that does something to the effect of "upload new version"?

[2015-07-14 18:44] jlcohoon commented on #3412
I think the scenario is an unlikely one and still disagree about the necessity of the warning. It seems like you're punishing people who use the feature by giving them an extra step. So, I still disagree, but if we have to have a warning then it shouldn't say "replace." It should say, "Are you sure you would like to create an additional version of the file XXXX?" with Cancel and Create New Version

[2015-07-14 18:46] brianjgeiger commented on #3412
My expectation is that someone is going to have to do a full design of the front-to-end consideration of different drag and drop scenarios and come up with something that fits our particular system. We don't want to just copy what a file system does, because we have different advantages and disadvantages to a file system. I do tend to agree that it needs to be entirely internally consistent, and t

[2015-07-14 18:51] hmoco commented on #3412
I guess a solution, for the file tree interface at the very least, would be to add a "Upload new version" button when a file is selected. And then just uploading a new file with the same name is no longer the primary/only way of using version control, and thus a warning like the one mentioned by @brianjgeiger would make a lot of sense.

[2015-07-14 18:53] jinluyuan commented on #3412
Since this is very controversial and may not have a clear best practice, can we put the information about versioning into the FAQ or Getting Started? We actually don't have any explanation of it other than this blurb:
![screen shot 2015-07-14 at 2 50 57 pm](https://cloud.githubusercontent.com/assets/8591162/8681826/c913cf42-2a37-11e5-953c-8d31e7015d4c.png)

We should have an explanation somewhere,

[2015-07-14 18:55] jlcohoon commented on #3412
Having to click a button reduces the speed with which you can upload a new version though. Unless I'm not understanding the process? Version control is one of our big selling points and making it difficult to do/hidden seems unwise.

Also, FAQ isn't really the right spot because no one has actually ever asked about this. Getting started would be appropriate though.

[2015-07-14 18:57] jlcohoon opened #3599 "add public activity back to explore dropdown"
The link to view public activity was removed from the "explore" dropdown. Unless there is a reason for this, it should be added back.

![screen shot 2015-07-14 at 2 57 20 pm](https://cloud.githubusercontent.com/assets/4965832/8682000/a7ae87f6-2a38-11e5-8fa4-d8b07421e714.png)

[2015-07-14 19:01] GaryKriebel commented on #3599
It was removed and made it's own visible link (Browse New Projects) when not logged in

![screen shot 2015-07-14 at 3 00 22 pm](https://cloud.githubusercontent.com/assets/9437946/8682112/24a587a0-2a39-11e5-9011-c336f8377469.png)

but you are correct in when you log it is not available:

![screen shot 2015-07-14 at 3 01 19 pm](https://cloud.githubusercontent.com/assets/9437946/8682123/3472d516-2a39

[2015-07-14 19:02] XTech2K commented on #3155
@sloria I think this may need to be reopened, since it looks like the removal of site.css has rendered some of my changes null, and the OSF Storage icon is right back to where it when this issue was made.

[2015-07-14 19:04] lbanner commented on #3155
Yours @XTech2K ... was this due to style changes @caneruguz ?

[2015-07-14 19:06] jinluyuan commented on #3412
Version control is definitely a great asset, but I think its user-friendliness could be improved upon. It's inconsistent across add-ons (reference my comment about Dataverse & Figshare not creating new versions), and the Revisions pane displays different version information depending on the add-on (e.g. Dropbox doesn't display Date & User, Google Drive doesn't display User, whereas GitHub & OSF St

[2015-07-14 19:09] XTech2K commented on #3155
actually, it looks like not only the ones in site.css, but all of the changes from my commit for this were undone at some point.

[2015-07-14 19:11] jinluyuan commented on #3599
This was addressed in https://github.com/CenterForOpenScience/osf.io/issues/3326.
PR https://github.com/CenterForOpenScience/osf.io/pull/3332 is waiting for a consensus.
@jlcohoon Could you help figure out the best way to link to it?

[2015-07-14 19:14] jlcohoon commented on #3412
I agree that it could be more user friendly. It is inconsistent across add-ons, but again that doesn't mean the add-on behavior is right. In fact, on Dropbox itself, they automatically replace files just like we do. Also agreed that the revisions pane should show the same information for all add-ons. I think that resolving those things would help alleviate any confusion users might experience (tho

[2015-07-14 19:16] jinluyuan commented on #3412
@jlcohoon I think putting the info on Getting Started is a good compromise. :smiley:

[2015-07-14 19:16] sloria commented on #3599
As an alternative to the suggestions in https://github.com/CenterForOpenScience/osf.io/pull/3332, maybe we keep the navbar behavior as is and just add Public Activity to the Explore dropdown. This seems to be what @jlcohoon is suggesting anyway in this issue.

This will mean that there will be two links to get to the Public Activity page when you are logged out. I don't think this degrades usabili

[2015-07-14 19:19] jlcohoon commented on #3599
That's what I thought would happen. I think that the reason to move it out of the dropdown was to surface the functionality for non-users ("you can enjoy the OSF without an account!"), but when you're logged in that matters less. However, I just commented on the PR that I like Andrew's idea. Basically I'm content with whatever as long as it exists.

[2015-07-14 19:22] hmoco commented on #3412
Alrighty so I will not continue working on this, at least for the time being

[2015-07-14 19:22] XTech2K commented on #3155
A new fix has been created, and is now a hotfix rather than a feature fix since I believe the functionality has already been looked at now.

If that sounds like a bad idea, just tell me and I will change it to a feature fix.

[2015-07-14 19:24] caneruguz commented on #3155
@XTech2K I already fixed this through our trello bugs and it will go out soon.

My solution uses much less code change so I recommend we go with that one.

@sloria

[2015-07-14 19:26] XTech2K commented on #3155
Understood. In that case, I will leave it to you.

[2015-07-14 19:45] wisherp commented on #3124
I'm seeing this issue on production while doing regression testing. It could be that the template project listed above has been deleted. Would you mind testing it one more time @saradbowman ?

[2015-07-14 19:49] saradbowman commented on #3565
I have a concern about this. Currently, there's no standard procedure for what happens upon deactivating an account; cases are evaluated as they come in dependent on various factors (public vs private projects, project has other contributors or does not, etc.). Happy to discuss scenarios further privately.

Is there a proposal or text written to explain what happens when a user is deactivated via

[2015-07-14 19:54] brianjgeiger commented on #3565
Users will not be deactivated via the API. The only thing this issue explicitly will be addressing is ensuring that deactivated users are not returned by the API. This issue should be resolved soon, and further discussions about how deactivated users will be handled will likely want to move somewhere else.

[2015-07-14 19:56] jamiehand commented on #3536
Is this something that I could do?

[2015-07-14 20:01] saradbowman commented on #3124
The template project listed above has been changed and it no longer has components - so creating a project using it as a template will produce just a project with no components.

[2015-07-14 20:01] saradbowman commented on #3565
Ah, okay. Thanks!

[2015-07-14 20:04] brianjgeiger commented on #3536
Yeah, this would be probably a 10 minute PR. Maybe a bit more if tests need changing, but not much. If you need a break from client stuff, feel free.

[2015-07-14 20:06] wisherp commented on #3124
That explains the issue I am seeing. Thanks!

[2015-07-14 20:07] GaryKriebel commented on #3599
I'm fine with @sloria suggestion as well

[2015-07-14 20:20] hmoco commented on #3593
Oh, I'm working on this.

[2015-07-14 20:37] hmoco commented on #3593
This should be good to go on #3608

[2015-07-14 21:13] #3560 closed

[2015-07-15 01:12] #3325 closed

[2015-07-15 01:56] NatashaRichter opened #3611 ""Add Links" modal: Add spinner when search results are loading"
## Steps

1. Log in to osf.io
2. Navigate to one of your projects.
3. In the components widget, click on "Add Links."
4. Search all projects for "Psych".
5. From page 1 of the results, click to the last page of the results.
6. Notice the behavior.

## Expected Behavior

I expect that while the page loads, I will see a spinner, as when logs are loading:

![loading_logs](https://cloud.githubusercont

[2015-07-15 02:31] NatashaRichter opened #3612 "Improve language on Forks tab"
## Steps

On production, navigate to one of your projects that has not been forked before and click on the "Forks" tab.

## Current text

There have been no forks of this project. Forking a project means you have created a copy of it into your dashboard, and can change that copy for your own purposes. You will be the only contributor to the forked project until you add others.

## Proposed change

[2015-07-15 14:13] samanehsan commented on #3588
Fixed in #3595

[2015-07-15 14:13] #3588 closed

[2015-07-15 14:26] hmoco commented on #3591
Could you provide an example of how a registration would have an issue causing an email to be sent?

[2015-07-15 14:37] jlcohoon commented on #3591
Yesterday, when Dataverse wasn't working, I had a component that had Dataverse linked. I tried to register the project it belonged to, so I got an email for both the project and the component. The project was here: https://osf.io/73pnd/

[2015-07-15 14:39] haoyuchen1992 opened #3614 "[Production& Staging] Add change folder toggle button"
### Steps
1. Go to the add-on setting page
2. Try to change the folder on Mendely and Amazon

### Actual
1. Amazon S3 Change folder
![change](https://cloud.githubusercontent.com/assets/5420789/8700791/f8db7bf4-2adb-11e5-9320-9d1663e6f852.gif)

2. Mendely Change folder
![change-toggle](https://cloud.githubusercontent.com/assets/5420789/8700793/fe1ad61e-2adb-11e5-8970-29b52fc0e1c6.gif)

### Expected

[2015-07-15 14:40] lbanner commented on #3591
Hmmmmm .... in that case, it could be expected behavior i.e. notification per element. Would like @nanchen47 's take on this. Thoughts?

[2015-07-15 15:07] jlcohoon opened #3615 "in search results, registrations of the same project cannot be distinguished from one another"
from the community repo: https://github.com/CenterForOpenScience/community/issues/276

## Steps
1. Search the OSF for a project that has been registered multiple times (try searching "local versus global")

## Outcome
1. Registrations of the same project are listed as separate results
2. The registrations are indistinguishable from one another
3. They do not necessarily appear next to each other o

[2015-07-15 15:08] hmoco commented on #3614
Is the problem here that the word "Change" is a good indicator for opening the folder viewer, but not so much when trying to close it?

[2015-07-15 15:18] sloria commented on #3593
Patch has been merged. Will be released in 0.43.0

[2015-07-15 15:18] #3593 closed

[2015-07-15 15:22] haoyuchen1992 commented on #3614
@hmoco Exactly!

[2015-07-15 15:27] jlcohoon commented on #3591
I don't think it's expected because the parent registration inherently fails if a child fails meaning that if we alert about all items that fail we would always be sending more than one email. Alternatively, if you only send an email about the child, that implies that the parent was successful (which would be untrue). Sending one alert about the top level node communicates the most information in

[2015-07-15 15:29] GaryKriebel commented on #3591
I would agree that one email should be sent.

[2015-07-15 15:30] hmoco opened #3616 "Zotero, Mendeley addons don't have READMEs for setup"
## Steps
1. Go to the folder osf/website/addons/mendeley (or zotero)
2. Look for a readme on how to set them up locally
3. Realize there is none
4. Cry

## Expected
Much like github, googledrive, and box, there should be a README.md file detailing how to setup those addons locally.

## Actual
There is none.

[2015-07-15 16:05] jlcohoon opened #3617 "only show "OSF Storage" folder if other add-ons are present"
from the community repo: https://github.com/CenterForOpenScience/community/issues/210

## Current Behavior
Presently, every project and component on the OSF requires that OSF Storage be available. This means that in the file tree of a project, every project and component has an "OSF Storage" folder listed, whether it is empty or not.

![screen shot 2015-07-15 at 12 00 00 pm](https://cloud.githubus

[2015-07-15 16:05] jlcohoon commented on #2928
Semi related to https://github.com/CenterForOpenScience/osf.io/issues/3617

[2015-07-15 16:23] jlcohoon opened #3618 "reduce number of folders/levels in registration file tree"
This one comes from a community meeting but has no associated issue.

## Current behavior
In the file tree for a registration, the project/component name is listed. Within that is the storage add-on used. Within that is a folder called "Archive of [add-on]." Within that are the archived folders. This means that files on the top level of a project can be four steps in. This also is not as clear as

[2015-07-15 16:34] pattisdr commented on #3074
<h2> Node </h2>
[code]

[2015-07-15 16:44] pattisdr commented on #3074
<h3>  GET /v2/nodes/</h3>
[code]

[2015-07-15 16:55] brianjgeiger commented on #3617
This should be a UI-only change. Back end functionality should not be added to support this.

[2015-07-15 17:06] pattisdr commented on #3074
<h3> GET /v2/nodes/{node_id}/contributors/ </h3>
[code]

[2015-07-15 17:45] hmoco commented on #3594
I am working on this @GaryKriebel

[2015-07-15 17:46] jinluyuan commented on #3594
I also just noticed that clicking the "x" button of these deleted projects does nothing, so they are stuck in the list until we put a fix in.

[2015-07-15 18:10] pattisdr commented on #3074
<h3> GET /v2/nodes/{node_id}/pointers/
[code]

[2015-07-15 18:11] pattisdr commented on #3074
<h3> GET /v2/nodes/{node_id}/files/ </h3>
[code]

[2015-07-15 18:36] pattisdr commented on #3074
<h3> GET /v2/draft_registrations/ </h3>
[code]

[2015-07-15 18:40] jinluyuan opened #3619 "Change private component icons to be consistent and match other OSF icons"
### Steps
1. Go to [osf.io](http://www.osf.io)
2. Go to a public project that has private components
3. Ensure that the private components are of three different types - uncategorized, project, and another category
4. Create a link in the project to a private project
5. View the public project's overview page as a non-contributor/logged-out user

Example project: [On staging](https://staging.osf.i

[2015-07-15 18:47] jinluyuan opened #3621 "Private Link in file tree should say "Private Link", not "Private Component""
### Steps
1. Go to [osf.io](http://www.osf.io)
2. Go to one of your public projects
3. Add a link to a private project
4. View your public project as a non-contributor/logged-out user

### Expected behavior
I expected that the private link's listing in the Files widget file tree would match its listing in the Components widget (which says "Private Link").

![screen shot 2015-07-15 at 2 43 49 pm](h

[2015-07-15 18:52] jinluyuan opened #3622 "Google files do not have file extensions when downloaded as part of a zip"
Reported by me on the 0.42 Trello board:

### Steps
1. Go to [osf.io](http://www.osf.io).
2. Go to one of your projects that has Google Drive enabled and configured.
3. Make sure your selected Google Drive folder contains .g documents (Google Sheets, Google Docs, and Google Slides).
4. In your project's files tree, scroll to the Google Drive add-on.
5. Click the folder that has the .g files in it.

[2015-07-15 18:56] NatashaRichter opened #3623 "Change case in blue alert on component's page"
I reported this on the 0.42 trello board.

# Steps

1. Log in to osf.io.
2. Navigate to a project for which you have admin access.
3. Create a component.
4. Notice the blue alert on the top of the new component page.

# Suggested change:

Change case of "Project Page" to lowercase "project page" to match other places on the site where the word "project" is lowercase in alerts.

# Screenshots:

Fir

[2015-07-15 19:02] nicipfeiffer opened #3625 "Add Links modal: Long project names extend out of modal"
Reported on the 0.42 Trello board:

## Steps
1. Go to a project you have admin on
2. On the project overview page click on the project title to edit the name
3. Enter text up to the max capacity without spaces; click the check mark to save the changes
4.Go to another project you have admin access on
5. On the project overview page, click the 'Add Links' button in the component widget
6. Enter the

[2015-07-15 19:02] caileyfitz opened #3626 "Project settings - Dataverse Import Access Token line has too much padding"
Reported by @jinluyuan on the 0.42 Trello board:

# Steps
1. Go to a project on which you have admin access
2. Go to the project settings page and click the check boxes to enable all add-ons (besides external link)
3. After pressing Apply, scroll down to see the list of add-ons to be configured

# Expected
I expect that there would be equal spacing for all add-ons.

# Actual
There is too much padd

[2015-07-15 19:08] wisherp opened #3627 "Help and Explore buttons don't have expanding icons in narrow view"
Reported on 0.42 trello board by @caneruguz
Link to the card: https://trello.com/c/LIqHglBO/64-help-and-explore-buttons-don-t-have-expanding-icons-in-narrow-view
# Steps
1. Log in to osf.io
2. Make the window narrow until you do not see Help and Explore on the dashboard
3. Click on the menu icon (three lines) next to search
4. Look at Help and Explore

# Expected
A downward caret next to both Help

[2015-07-15 19:09] NatashaRichter opened #3628 "Project/Registrations overview page: "Contributors" link would look better with a solid underline"
Reported on the 0.42 trello board by @jinluyuan

## Description

On Project and Registration overview pages, the link to Contributors has a dashed line. Although the dashed line is mentioned as a link option in the [Style Guide](https://centerforopenscience.github.io/osf-style/style.html#links), on this page, it doesn't make much sense. It sticks out too much as the only link with a dashed line. T

[2015-07-15 19:28] chennan47 commented on #3628
This is a designed behavior as we don't want it to draw too much user's attention. Altho there is a bug here, the text of the contributor are supposed to be black instead of blue for the same purpose.

[2015-07-15 19:32] NatashaRichter commented on #3628
Got it! Thanks @chennan47

Would you like me to report the bug about the text color of the contributor?

[2015-07-15 19:34] chennan47 commented on #3628
@NatashaRichter yes, pls and close this one. Thanks.

On Wed, Jul 15, 2015 at 3:32 PM, NatashaRichter <notifications@github.com>
wrote:

[2015-07-15 19:35] #3628 closed

[2015-07-15 19:53] pattisdr commented on #3074
Are we going to change this as well? `Content-Type: application/vnd.api+json`.   Currently, the response header is `"Content-Type": "application/json"`

http://jsonapi.org/format/#content-negotiation

[2015-07-15 20:00] brianjgeiger commented on #3074
If the spec says "must" then definitely. If it says "may" then possibly.

.:Brian

[2015-07-15 20:06] pattisdr commented on #3074
<h3> Errors  </h3>
http://jsonapi.org/format/#errors-processing
[code]

[2015-07-15 20:13] jinluyuan opened #3630 "Watch & Duplicate buttons should not be in a button group"
It doesn't make sense that Watch and Duplicate should be a button group since they do not have any relationship with each other. [UI Guide](https://centerforopenscience.github.io/osf-style/ui.html#button-state)

![screen shot 2015-07-15 at 4 04 05 pm](https://cloud.githubusercontent.com/assets/8591162/8708792/2050a1ac-2b0c-11e5-9903-9acb8f2bc993.png)

[2015-07-15 20:37] hmoco commented on #3594
#3631 Fixes this !

[2015-07-15 21:01] NatashaRichter opened #3632 "Getting Started page: Update add-on info to reflect recent button changes"
## Description

With the new style guide changes implemented, we need to update the add-on info on the Getting Started page under "Storage Options" to reflect button changes.

## Screenshots and Changes

**Dropbox**

![dropbox_buttons](https://cloud.githubusercontent.com/assets/7093086/8709502/a27b1f28-2b10-11e5-8288-3e7827f650d0.png)

Change "submit" to "click Apply."
Change "authorize" to "Impor

[2015-07-15 21:12] NatashaRichter opened #3633 "Fix typos on Getting Started page"
## Description

Fix typos in the following sections on the Getting Started page.

## Screenshots and Changes

**Contributors section**

![contributors_typos](https://cloud.githubusercontent.com/assets/7093086/8707653/1730ce82-2b05-11e5-966a-ecda487ab138.png)

Change "contributor" to "the contributor."

**Citations section**

![citations_typo](https://cloud.githubusercontent.com/assets/7093086/8709

[2015-07-16 13:12] jlcohoon commented on #3632
We might wait for this until the add-on settings change more. Which should be very soon, no?

[2015-07-16 13:16] jlcohoon opened #3634 "re-arrange project settings to put notification and comment configuration next to each other"
From the community repo: https://github.com/CenterForOpenScience/community/issues/287

## Current Behavior
Project settings places the commenting section and the notification section apart from one another (add-ons are in between).
![screen shot 2015-07-15 at 6 06 04 pm](https://cloud.githubusercontent.com/assets/7749914/8711034/59e836d6-2b1c-11e5-8927-5123664db53c.png)

## Suggested Behavior
The

[2015-07-16 13:16] lbanner commented on #3632
Good point @jlcohoon -- I labeled as 'Hold' for now.

[2015-07-16 13:17] NatashaRichter commented on #3632
Sounds good to me! I'll try to find out when the other changes will be implemented.

[2015-07-16 13:36] lbanner commented on #3623
Good catch -- Is there StyleGuide direction on this one @NatashaRichter

[2015-07-16 13:41] pattisdr commented on #3074
<h3> Empty collection </h3>
[code]

[2015-07-16 14:11] lbanner commented on #3619
Is there a StyleGuide approach to this @caneruguz ?

[2015-07-16 14:34] sloria commented on #3619
This is a clear inconsistency--the icon differs in one place from all other places. Not sure that this needs a Style Guide discussion. I recommend we go ahead and fix it for now.

[2015-07-16 14:35] lbanner commented on #3619
:+1:

[2015-07-16 14:35] GaryKriebel commented on #3619
I concur

[2015-07-16 14:40] caneruguz commented on #3619
This is not a styleguide issue as Steve said, it's an oversight that should have been fixed during the transition of icons a while ago. I can be assigned to do this.

[2015-07-16 14:46] lbanner commented on #3619
Done @caneruguz

[2015-07-16 15:28] Johnetordoff commented on #3634
@lbanner can I get this?

[2015-07-16 15:30] NatashaRichter opened #3636 "Project Overview: Discrepancy between spacing of widgets"
## Steps

Navigate to one of your projects on Production. On the Project Overview (or Component Overview) page, compare spacing between widgets.

## Expected Behavior

I expect that all widgets will be equally spaced.

## Actual Behavior

Notice that there is slightly more space between the Recent Activity widget and the Tags widget than between the other widgets on the page.

## Screenshot

![wid

[2015-07-16 15:31] #3326 closed

[2015-07-16 15:44] caileyfitz opened #3637 "Links icon incorrect on wiki menu"
# Steps
1. Go to a project on which you have admin access
2. Add a link to the project (link another project for which you have admin access)
3. Go to the Wiki tab
4. On the left side of the page, look at the wiki menu > Component Wiki Pages

# Expected
I expect that the linked project would have a link icon, just as it does on the project overview page:
![project overview](https://cloud.githubuse

[2015-07-16 15:51] MPNussbaum commented on #3430
It seems that this issue has been fixed by someone else.

[2015-07-16 15:58] NatashaRichter opened #3638 "Cannot restore deleted comments"
## Steps

1. Log in to osf.io.
2. Navigate to one of your own projects.
3. Create a comment on the project.
4. Delete the comment by clicking the trash icon and then confirming by clicking the red "Delete" button.
5. Click to restore the comment.
6. Hit the green Save button.

## Expected Behavior

I expect that my deleted comment will show up again.

## Actual Behavior

The comment does not resto

[2015-07-16 16:11] jinluyuan opened #3641 "Recent Activity - "No logs to show" flashes for a brief, but noticeable second, before logs load"
### Steps
1. Go to [osf.io](http://www.osf.io)
2. Go to any public project
3. Look at the Recent Activity widget
4. Refresh the page while keeping your eye on Recent Activity

### Expected behavior
I expected there to be a "Loading" message or just blank white space until the logs loaded.

### Actual behavior
This flashes for a brief second before the Loading message and then the actual logs.

![s