[2015-03-10 17:52] samanehsan commented on #1621
Oh wait, nevermind! I didn't see the "discuss" tag.

[2015-03-10 17:58] brianjgeiger commented on #1621
On the user settings, removing the addon will have potentially unexpected ramifications. You could have 30 projects, and all of those could lose their github stores by clicking one box. I don't know if you lose the github authorization after that or not, but if you do, then there would definitely be lost information.

On the project settings page, it will only affect the project you are on, which

[2015-03-10 19:59] lbanner commented on #1621
"if" :smiling_imp: ? Personal app opinion, it is always a good UI approach to offer a warning if a choice has ramifications to function, visibility, etc.

[2015-03-10 20:05] brianjgeiger commented on #1621
Ehhh, not always. There's a lot of overhead to that. Easily reversed and understood decisions are often easier just to let them reverse. It's essentially the question, do you want to make it half-again as difficult to do the thing every time, no matter what, or just twice as difficult to reverse if you make a mistake.

On the plus side, this is a function that shouldn't be performed by a user regu

[2015-03-10 20:12] lbanner commented on #1621
Ah, but you are a developer -- I tend to err on the side of the non-technical user who accidentally clicks a button, gets no message, and then freaks out when what they expected to still be there (like files) are no longer there :scream_cat:

[2015-03-10 20:31] brianjgeiger commented on #1621
Understood. How frequently does this happen? I know it's an issue from @saradbowman, so is it from a user or something that was just come across. If we have user reports of problems with this, then I'm certainly for it. If it hasn't been an issue, and it's just a matter of telling them to click the button again, then I'm not as for it, because it is a two-step process already. If it were a single

[2015-03-10 20:34] saradbowman commented on #1621
I discovered this during testing -- not a report from a user

On Tue, Mar 10, 2015 at 4:32 PM, Brian J. Geiger <notifications@github.com>
wrote:

[2015-03-10 20:53] samanehsan commented on #1606
@GaryKriebel, @lbanner it looks like this issue is no longer happening. Tested the file from @caileyfitz on staging: https://staging.osf.io/zs6k8/

[2015-03-10 21:02] caneruguz commented on #2026
Those involved, can we resolve this issue by either discarding it or suggesting a method?

This is what it would like with medium buttons (the same size as in Project dashboard(summary) page.

**Medium size**
![screen shot 2015-03-10 at 5 01 15 pm](https://cloud.githubusercontent.com/assets/1314003/6585290/396686ee-c747-11e4-9e41-c35407570c05.png)

**Original Size**
![screen shot 2015-03-10 at 5 0

[2015-03-10 21:04] caileyfitz commented on #2026
I think they look much better being bigger. With the original size, the toggle "VIew" is not even as big as the "View" in the column header.

[2015-03-10 21:07] caneruguz commented on #2026
Well okay, somebody needs to decide this, once we do I can be assigned to complete it.

[2015-03-11 00:17] #1667 closed

[2015-03-11 12:41] lbanner commented on #1606
Cool -- Thank you -- closing!

[2015-03-11 13:11] caneruguz commented on #1761
@lbanner I added a downloads sort a while ago but there is no sorting for Category. I can quickly add that if that is desired.

[2015-03-11 13:15] lbanner commented on #1761
@caneruguz Yeah -- I think so as this was requested by Community. Estimate on time? Thanks

[2015-03-11 13:20] sloria opened #2143 "[dev] Remove unnecessary aliases from webpack config"
As discussed in https://github.com/CenterForOpenScience/osf.io/pull/2129#discussion_r26187513, the aliases for internal modules are unnecessary, as we already set `resolve.root` to `website/static`.

These aliases should be removed in favor of resolving from the root, like so

[code]

[2015-03-11 13:23] samanehsan commented on #2100
Looking into this one! @lbanner @GaryKriebel

[2015-03-11 13:25] lbanner commented on #2100
Thanks!

[2015-03-11 15:35] sloria commented on #2135
Fixed by #2141

[2015-03-11 15:35] #2135 closed

[2015-03-11 16:12] samanehsan commented on #2100
I have a fix for this issue, but it introduces another problem where long profile names are misaligned with the gravatar. I can't seem to get the alignment right, so I'll let someone else pick up this issue. I've pushed up my code to https://github.com/samanehsan/osf.io/tree/feature/fix-profile-name in case it may be useful.

[2015-03-11 16:22] lbanner commented on #2100
OK thanks

[2015-03-11 17:01] #336 closed

[2015-03-11 17:08] caneruguz commented on #1761
I can do this PR today, it would take about 20 minutes altogether.

[2015-03-11 17:10] lbanner commented on #1761
Make it so :smiling_imp:

[2015-03-11 17:12] sloria opened #2145 "Enter does not submit in "Go to my Project" widget"
## Steps

- Go to your dashboard
- Enter a project in the Go to My Project widget
- Hit Enter

## Expected

You go to the project.

## Actual

Nothing happens. :angry:

[2015-03-11 17:14] sloria opened #2146 "Can't upload to a new project from onboarder widget"
Suggested by @JeffSpies : there is no way to upload a file to a new project from the "Upload a file" onboarder widget. This would be nice to add.

[2015-03-11 17:21] brianjgeiger commented on #2145
I expect some of this is Typeahead. Could you post a screenshot of the state of the screen after you hit enter? This may be useful when implementation happens.

[2015-03-11 17:33] brianjgeiger commented on #2145
Okay, I tested this on production, and the reason that it doesn't is just because you have the option to choose a component after. If you hit enter again after successfully choosing the project, it will take you there.

If we removed the second stage, then this *might* be something that could be done with a single enter, but I expect that Typeahead will make that difficult. Not impossible, though,

[2015-03-11 17:42] samanehsan commented on #2145
This issue has been reported in #1238 and @huangginny put in a PR for it here: https://github.com/CenterForOpenScience/osf/pull/1216

[2015-03-11 17:43] brianjgeiger commented on #2145
I talked with @sloria. In Safari, which is what I first tested with, it works as intended. You hit enter to select the project in the Typeahead list, that keeps focus, then you hit enter again and you go to the project.

In Chrome, which is what Steve uses, hitting enter to confirm the Typeahead selection causes focus to be lost, so hitting enter again does not take you to the project. Ideally foc

[2015-03-11 17:43] brianjgeiger commented on #2145
And it looks like she caught it on Firefox as well, so that's good.

[2015-03-11 17:43] #2145 closed

[2015-03-11 17:44] brianjgeiger commented on #1238
Would be good to test with IE as well.

[2015-03-11 17:51] chennan47 commented on #1238
It works fine on IE.

[2015-03-11 17:55] samanehsan commented on #1363
@mfraezz @lbanner @GaryKriebel, might we close this issue now that the corresponding PR has been merged?

[2015-03-11 17:56] samanehsan commented on #1273
Now that the MFR updates are in production, can this issue be closed? @mfraezz @lbanner @GaryKriebel

[2015-03-11 17:57] lbanner commented on #1363
Can, yes -- I'll close unless I hear differently from @sloria

[2015-03-11 17:57] #1363 closed

[2015-03-11 17:58] lbanner commented on #1273
Sounds good too --

[2015-03-11 17:58] #1273 closed

[2015-03-11 18:29] huangginny commented on #2145
@samanehsan @brianjgeiger That PR is not merged, so do you want me to submit a PR again to this repository?

[2015-03-11 19:00] lbanner commented on #1238
This still 'pending' as PR? -- or can we close? Thanks

[2015-03-11 19:02] chennan47 commented on #1238
@lbanner it's still pending. Haven't been merged yet.

[2015-03-11 19:10] huangginny commented on #1238
This PR goes to osf not osf.io... do I need to do another PR?

[2015-03-11 19:11] caneruguz commented on #1761
@lbanner PR is here: https://github.com/CenterForOpenScience/osf.io/pull/2147

It took me a while because I had to change my trial poster categories to be able to test it, which required digging through OSF code.

[2015-03-11 19:12] lbanner commented on #1761
Nice - Thank you.

[2015-03-11 19:13] lbanner commented on #1238
@sloria ^^

[2015-03-11 19:15] chennan47 commented on #1238
@huangginny yeah you need to close this one and make a new one goes to osf.io

[2015-03-11 19:17] jmcarp opened #2149 "[staging / prod] Rendering spss files throws a celery error"
# Steps
* Upload an spss data file (.sav)
* Render it

# Expected
* The file renders
* OR message is displayed indicating that we can't render this file type
* No errors are thrown in celery

# Actual
* The render waits until the timeout interval, then times out
* Errors are thrown in celery

# Proposed fixes
* Add r, rpy2 to mfr tabular dependencies
* OR disable support for spss files

I don't re

[2015-03-11 19:27] huangginny commented on #1238
@chennan47 @lbanner https://github.com/CenterForOpenScience/osf.io/pull/2150 Did another one!

[2015-03-11 19:39] #1238 closed

[2015-03-11 19:46] jmcarp commented on #2149
FWIW, .sav files are the 12th most common file type on OSF by upload count, at 1977.

[2015-03-11 19:51] brianjgeiger commented on #2149
It's a shame the build is failing on savreaderwriter.

[2015-03-11 20:20] brianjgeiger commented on #2149
Maybe we could put a bounty out on someone converting that C code to python?

[2015-03-11 20:25] lbanner commented on #2149
How big a user issue is this? And who else might need/want to weigh in?

[2015-03-11 21:01] brianjgeiger commented on #1867
This doesn't make much sense. There are a few instances of these errors in Google's search index, but we shouldn't be doing anything with files at all. Can you try to log all of your network requests or js calls etc and maybe see if there's a difference between something that happen in incognito vs in normal, or even two different incognito requests, one that succeeds and one that fails?

To be su

[2015-03-11 21:07] chennan47 commented on #1867
I was able to repo this problem once a while ago. It only happens the first
time when you open a incognito window. After one refresh, this problem is
gone forever. It can be some broswer cache problem with the mako files and
knockout binding. But haven't seen this problem recently after 0.27. I
don't really think this is a big problem since it doesn't affect user's
project or any data and is gone

[2015-03-11 21:11] brianjgeiger commented on #1867
The errors reported above will happen independently of the bug; I get them but don't have a problem with adding contributors.

It's not a bug that's likely to happen frequently, and it's not a harmful problem, but it's a terrible interface glitch. Maybe worth deferring, and maybe future changes will fix the problem or otherwise make it go away, but I don't think I'm for closing it until then.

[2015-03-12 01:06] #2103 closed

[2015-03-12 01:17] sloria opened #2153 "[dev] Add cross-browser testing with SauceLabs"
Run our JS unit tests across many browsers with SauceLabs.

[2015-03-12 01:18] sloria commented on #2153
@huangginny Has begun work on this.

[2015-03-12 12:58] brianjgeiger commented on #694
@bnosek Now that you've had some time to work with this, and now that we have the wider space for organizing, do you still think this is accurate?

[2015-03-12 13:48] brianjgeiger opened #2154 "Project organizer not always storing state"
Steps
-------
1. Go to dashboard
2. Expand a collapsed item that is not a smart folder
3. Collapse that item
4. Reload the page

Expected
------------
The item that was expanded and collapsed will be collapsed on reload

Actual
--------
The item is expanded.

It seems to be doing the collapse/expand REST request for the first action, but not the second, so collapsing an item that was expanded on l

[2015-03-12 13:52] lbanner commented on #2154
@caneruguz ^^ -- Thanks

[2015-03-12 13:56] lbanner commented on #1867
OK -- deferring this one -- Thanks

[2015-03-12 14:01] nicipfeiffer opened #2155 "[Staging & Production] Add-on Configuring Confirmation Modal"
## Steps
1. Go to the user settings page; configure add-ons
2. Check the box to enable a new add-on
3. Once PR# https://github.com/CenterForOpenScience/osf.io/pull/1327 is merged you will now need to hit 'OK' to agree to the terms for that add-on
4. Now click on 'Profile Information' on the left side (do not hit 'submit')
5. Go to the Employment tab and change a date or something
6. Click on 'Conf

[2015-03-12 14:11] kushG commented on #2031
I had a PR that dealt with handling this consistency for Github https://github.com/CenterForOpenScience/osf.io/pull/1305. This may not be required though after @samchrisinger and @lyndsysimon 's Addon refactoring PRs.

[2015-03-12 14:30] kushG commented on #2146
I can work on this.
@lbanner @sloria ?

[2015-03-12 14:32] lbanner commented on #2146
I'm good with that -- I'll add you. Thanks.

[2015-03-12 14:34] lbanner commented on #2031
OK -- thank you -- insight from @samchrisinger or @lyndsysimon or @sloria on this one would be good. Based on above ^^ we could close this + the PR.

[2015-03-12 14:37] mfraezz commented on #2149
The most common reason for savreaderwriter's recent build failures: `Build execution time has reached the maximum allowed time for your plan (40 minutes).` on 1-2 environments of 6 per build, with pip not being installed on the server (?) a distant second.

If .sav's are the 12th most common file type among user uploads, we should definitely support rendering them. I'll look deeper into savreaderw

[2015-03-12 14:58] brianjgeiger opened #2156 "System-level spell checking on wiki editing"
Steps
-------
1. Edit a wiki
2. Type in the word, 'kogvjdfojvoaj'

Expected
------------
There would be a red squiggle or similar under the fake word in the wiki editor, since the OS provides that service for text input boxes in the web browser.

Actual
--------
No squiggles, so people editing wikis do not get free spell checking.

[2015-03-12 15:06] lbanner commented on #2156
ACE editor -- anyone?anyone?

[2015-03-12 15:12] lbanner commented on #2115
@samanehsan Looks like you have a PR on that (#1418) ? Up-to-date? Thanks!

[2015-03-12 15:41] brianjgeiger commented on #2156
Based on initial research, probably OS-level spell checking isn't going to happen with Ace. We could potentially use something like https://github.com/swenson/ace_spell_check_js

[2015-03-12 15:47] samanehsan commented on #2115
@lbanner, that is a reference to this issue, not a PR!

[2015-03-12 15:57] lbanner commented on #2115
Ha! Right .... infinity mirrors! :arrows_counterclockwise:

[2015-03-12 16:11] mfraezz commented on #2149
Savreaderwriter looks like it would probably function well enough, but its [license](https://bitbucket.org/fomcl/savreaderwriter/wiki/LA_en) might be prohibitive, nor does it seem particularly actively maintained.

A promising alternative to both that and r/rpy2/foreign could be SciPy, an open source library that can read and write `.sav`'s. It depends on NumPy and is somewhat coupled with IPython

[2015-03-12 16:12] #1670 closed

[2015-03-12 16:15] brianjgeiger commented on #2149
https://github.com/scipy/scipy specifically? Well, the first thing they do is explain how to pronounce the name, which is better than most OSS products, so I'm immediately favorable towards it. That being said, I have otherwise not looked at all.

[2015-03-12 16:17] fabianvf commented on #1418
Would we want to index presentation data?

[2015-03-12 16:19] brianjgeiger commented on #2149
A little concerned that the [installation instructions](https://github.com/scipy/scipy/blob/master/INSTALL.rst.txt) are more involved than ours.

[2015-03-12 16:57] mfraezz commented on #2149
Yes, that one. The [docs](http://docs.scipy.org/doc/scipy-dev/reference/generated/scipy.io.readsav.html#scipy.io.readsav) say they'll give you a dict from a `.sav` file

If by 'involved' you mean 'thoroughly documented', yeah. It's pip-installable, and the instructions boil down to:
1. Use Python 2.6 or higher
2. Install NumPy 1.5 or newer
3. Run `python setup.py install` after cloning it (or, wit

[2015-03-12 16:59] lyndsysimon opened #2159 "Parent projects improperly displayed on child projects for project admins"
## Steps to Reproduce

1. Create two users: User A, User B
1. As User A, create three nested projects: Grandparent > Parent > Child
1. Add User B as an administrator for the Grandparent project
1. As User B, visit the Child project.

## Expected

* The Parent project's name should be header.
* The "up to parent project" link in the project navbar should take you to the parent project.

## Actual

[2015-03-12 17:09] mfraezz commented on #2149
I used this and matplotlib for a project or two in college, and found them generally easy to work with. I do recall it taking a while to install, though.

[2015-03-12 17:56] brianjgeiger commented on #2039
Markdown-it is our markdown parser. We are using the following extensions:
* [markdown-it-video](https://www.npmjs.com/package/markdown-it-video)
* [markdown-it-toc](https://github.com/samchrisinger/markdown-it-toc)
* [markdown-it-sanitizer](https://www.npmjs.com/package/markdown-it-sanitizer)

We are highlighting code with [highlight-js](https://highlightjs.org)

Markdown-it optionally supports t

[2015-03-12 18:07] lbanner commented on #2039
That's good and helpful ^^ -- thank you @brianjgeiger

[2015-03-12 18:22] nicipfeiffer opened #2160 "[Staging & Production] Add-on Terms Available for users"
## Steps
1. Go to user settings; configure add-ons
2. Check the checkbox next to various add-ons to enable
3. Click 'OK' when the terms modals appear.

## UI Question
How can a user return to these terms?
I think ethically we need to have those available to users at any time.
Especially if the Two Factor terms are taken from the configuring section and changed to be consistent with other add-ons i

[2015-03-12 18:22] nicipfeiffer opened #2161 "[Staging & Production] [UI] Two-Factor No Terms Modal"
## Steps
1. Go to the user settings and check any add-on to enable
2. After PR https://github.com/CenterForOpenScience/osf.io/pull/1327 is merged you will also then need to click 'OK' on the terms modal.
3. Now check the box next to Two Factor to enable.
4. Hit 'Submit'

## Expected
That there would be consistent behavior when configuring add-ons, to include terms modals.

## Actual
There are term

[2015-03-12 18:23] nicipfeiffer commented on #2160
Linking this other issue as they are related, sort of. https://github.com/CenterForOpenScience/osf.io/issues/2161

[2015-03-12 18:24] nicipfeiffer commented on #2161
Linking this other issue as they are related, sort of https://github.com/CenterForOpenScience/osf.io/issues/2160

[2015-03-12 18:56] nicipfeiffer opened #2162 "[Staging & Production] Zotero API revoke access gives no error message"
## Steps
1. Authorize Zotero via the Configure Add-Ons link on your Account Settings page
2. Log into zotero.com and click 'Settings' on the top right-hand side of the screen to access User Settings
3. Click Feeds/API
4. Next to the account named 'Open Science Framework: Zotero Add-on [Staging]' click to edit key
5. Scroll to the bottom of the page to edit the key and click on the button to 'Revok

[2015-03-12 18:58] nicipfeiffer commented on #2162
Linking this issue because it is related, just doesn't include this special case https://github.com/CenterForOpenScience/osf.io/issues/332

[2015-03-12 19:23] KatyCain526 commented on #2039
@brianjgeiger I agree that this is a problem, and I've had to do some googling around and asking tons of questions just so I understand markdown, let alone all the fanciness that we can instill in the wiki pages.

So I've made a getting started video and I was thinking of including some of the more useful things on the actual getting started page in text. If there is something you want linked or a

[2015-03-12 19:23] KatyCain526 commented on #2039
https://www.youtube.com/watch?v=2RVJS7nYX8k&feature=youtu.be

[2015-03-12 19:30] nicipfeiffer opened #2163 "[Production] Error handling entity encoded project name for OSF storage on File Detail Page"
Reporting this for @lyndsysimon

## Steps
1. View a file from OSF storage with an entity encoded into the project title
An example is https://osf.io/wtbm6/

## Expected
That the project title '2015: March -> May' would appear the same in the breadcrumb pathway as it does for the project.

## Actual
It looks like this:
![screen shot 2015-03-12 at 3 25 47 pm](https://cloud.githubusercontent.com/asse

[2015-03-12 19:30] mfraezz commented on #2149
It turns out there's a difference between IDL .sav files and SPSS .sav files... though I'd be interested to know if the 1977 .sav's are all SPSS. If not, this would give me an excuse to implement an extra layer of validation with the *nix `file` utility.

[2015-03-12 19:30] bnosek commented on #694
It certainly is not necessary considering that there are no other folders
at the same level.  The main arguments for retaining is if there will be
folders at the same level soon (even then, not essential now), or if there
is a UI advantage for having it (I don't see that easily, but perhaps).

On Thu, Mar 12, 2015 at 8:58 AM, Brian J. Geiger <notifications@github.com>
wrote:

[2015-03-12 19:47] brianjgeiger commented on #694
The UI advantage is just that there's a specific drop target associated with dragging something into the dashboard. That's more of a development advantage than a UI advantage, I think. Right now, everything in the grid is based on rows, and by not having a row associated with the Dashboard folder, that means there has to be some other place to drag things. That space would be, generally, to the le

[2015-03-12 19:50] bnosek commented on #694
This looks like good rationale to leave as is.

On Thursday, March 12, 2015, Brian J. Geiger <notifications@github.com>
wrote:

[2015-03-12 19:51] lbanner commented on #694
Thanks both -- maybe I won't close? Rather defer for now -- If close is better @brianjgeiger just let me know.

[2015-03-12 19:54] bnosek commented on #694
You can close. If I ever have the gumption to try to face-off with
Notorious again, having to open a new issue will be a sanity check.

On Thursday, March 12, 2015, LarryB <notifications@github.com> wrote:

[2015-03-12 19:56] bnosek commented on #694
You can close. If I ever have the gumption to try to face-off with
Notorious again, having to open a new issue will be a sanity check.

On Thursday, March 12, 2015, LarryB <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2015-03-12 19:58] brianjgeiger commented on #694
I don't mean to bully; if it weren't so hard, it definitely would have already been done. :smile:

[2015-03-12 20:14] lbanner commented on #694
Cool :smiling_imp:

[2015-03-12 20:14] #694 closed

[2015-03-12 20:56] KatyCain526 opened #2164 "[Bug"

[2015-03-12 20:56] #2164 closed

[2015-03-13 13:45] brianjgeiger opened #2167 "Change class of "Revert" button in wiki"
Steps
-------
1. Make some changes to a wiki in live edit mode

Expected
------------
Revert button would be appropriately warning of the lossy nature of clicking revert

![screen shot 2015-03-12 at 4 03 19 pm](https://cloud.githubusercontent.com/assets/6599111/6639369/6148853e-c965-11e4-8eb7-848f78d9d398.png)

Actual
--------
Revert button is a jaunty, successful green.

![screen shot 2015-03-13

[2015-03-13 15:18] #1628 closed

[2015-03-13 15:27] #2101 closed

[2015-03-13 15:33] caileyfitz opened #2169 "[staging & production] figshare revoked access not handled properly"
Related to #332 but a special case

# Steps
1. Link and configure figshare for at least one project/component
2. Follow the steps listed in https://trello.com/c/vvQwHOdE/63-staging-handle-revoked-api-access-through-figshare to revoke API access through figshare
3. Visit user settings page
4. Visit the node settings page for the project/component linked to figshare
5. Open the dev console and then

[2015-03-13 15:54] sloria opened #2171 "[dev] Internal inconsistency in naming for presentation sharing service"
The internal naming for the presentation sharing service is all over the place:

- The URL for listing presentations is `/presentations/`
- The URL pattern for a single presentation is `/view/<meeting>/`
- The module is `website.conferences`. Views are called `conference_view`, `conference_results`, etc.
- Templates are called `meeting.mako`, `meeting_body.mako`, etc.

Publicly, we use the term "P

[2015-03-13 15:55] sloria commented on #2171
Thanks @caneruguz for catching this a while back.

[2015-03-13 16:00] sloria commented on #2171
Perhaps the only changes to be made:

- Change url pattern to `/view/<conference>/`
- Change templates to `conference.mako`, `conference_body.mako`, etc.

That way, we establish the terminology:

presentation=a submission of a poster or presentation
conference=an event that used the Presentation Sharing Service

[2015-03-13 16:41] wisherp opened #2173 "[Staging & Production] Mendeley API revoke access gives no error message"
# Steps

1. Authorize Mendeley via the Configure Add-Ons link on your Account Settings page
2. Log into mendeley.com and click 'My Account' on the top right-hand side of the screen to access User Settings
3. Click 'Account Details', then the 'Personal Details' tab
4. Scroll to the password section then press 'Change'
5. Input the current password and create a new password.  Confirm the password wa

[2015-03-13 18:00] caneruguz commented on #2167
I sent a PR for this.

[2015-03-13 20:06] brianjgeiger commented on #2163
This also happens in the Project Organizer.

![screen shot 2015-03-13 at 4 04 30 pm](https://cloud.githubusercontent.com/assets/6599111/6646407/eb9646e2-c99a-11e4-9bc9-443d458c0bb6.png)

As a first step for this task, it would be a good idea to survey the interface and find all the other places this happens. Also, I believe there are a couple of functions that are fixing ampersands in these circum

[2015-03-13 22:08] #2127 closed

[2015-03-16 13:29] saradbowman opened #2177 "Canceling Dropbox Token Doesn't Return User to Project Settings"
Steps
-------
1. From a project or component, go to "Settings" and choose Dropbox.
2. Click okay, then click to create access token.
3. Enter username/password, click okay
4. Modal appears: "Open Science Framework would like to access your Dropbox account." Click Cancel.
5. You are returned to your user settings page.

Expected
------------
You would be returned to the settings page for the projec

[2015-03-16 13:57] lbanner commented on #2177
Thank you fro grabbing this @chennan47

[2015-03-16 14:39] jmcarp opened #2179 "Presentation service does not respect "sent on behalf of" email addresses"
# Steps
* Set up one email address (e.g. a gmail address) to send mail on behalf of another (e.g. a university address)
* Submit a presentation to OSF using the first address, sent on behalf of the second

# Expected
* The presentation is created for the second email address

# Actual
* The presentation is created for the first address

# Proposed solution
The "sent on behalf of" header can be spo

[2015-03-16 14:46] chennan47 commented on #2177
@lyndsysimon talk with Lyndsy and the new Oauth system may fix this issue? Can you confirm that, Lyndsy? If not I have a quick hotfix for this https://github.com/CenterForOpenScience/osf.io/pull/2180

[2015-03-16 14:51] lbanner commented on #2179
@saradbowman .... can you weigh in on this approach to solution as well, please? TY

[2015-03-16 14:57] saradbowman commented on #2179
I was about to create an issue for this- so glad to see it already raised and with a potential solution!

This sounds reasonable to me -- my only concern is that users don't always read their emails/follow instructions. Am I correct in assuming that confirming the submission is genuine will be a "click here" step and that will automatically turn the project public? (i.e., it won't tell the user, "

[2015-03-16 15:00] lbanner commented on #2179
@jmcarp -- I think that ^ was the proposal, yes?

[2015-03-16 15:06] jmcarp commented on #2179
@saradbowman agreed that users might not notice that they're supposed to do something in response to the confirmation email. I think that using a subject like "Confirm your submission to conference <conference name>" and putting the confirmation link at the top of the message would help. We can also send a reminder if they haven't confirmed after a day.

[2015-03-16 15:07] saradbowman commented on #2179
+1

[2015-03-16 16:43] jeg3tw opened #2182 "[Production] MFR rendering pdb file error"
# Steps
1.  Go to the MFR project
2.  Attempt to render a pdb file.

# Expected
A pdb file will render.

# Actual
The user sees a black screen that disappears into a blank white one.
*This problem occurs in Firefox and Safari as well as IE*

[2015-03-16 16:56] jeg3tw opened #2183 "[Staging & Production] Figshare Deletion"
# Steps
1.  Link both a private and public fileset dataset to a project
2.  Go to the file viewer
3.  Hover near download button of a public file attempting to delete

# Expected
The user is allowed to delete files from public file sets unless there’s only one file left in the fileset.

# Proposal
This is currently working, but seems unclear to the user that should be the case.  Perhaps the terms

[2015-03-16 17:23] saradbowman opened #2184 "Odd Behavior in Nav Bar: Component of Private Project"
Steps
-------
1. Visit a component on which you are a contributor, but not a contributor on its parent. Parent should be private.
2. The arrow in the nav bar is mirrored and unclickable:
![screen shot 2015-03-16 at 1 16 42 pm](https://cloud.githubusercontent.com/assets/7749914/6671919/14a8816c-cbdf-11e4-9ce2-867d737280a1.png)

Expected
------------
One of these:
*Able to click on the up arrow and

[2015-03-16 17:37] brianjgeiger commented on #2184
I learn towards resolution 2 including the tooltip. That's what it was supposed to be.

[2015-03-16 17:55] lyndsysimon opened #2185 "Wiki TOC links do not scroll page"
## Steps to reproduce

1. Create a wiki page that is longer than the container on the page.
1. Add a header near the bottom of the wiki page.
1. Add a TOC to the top
1. Save the wiki page
1. Click the TOC link to the bottom header

## Expected

The wiki page should scroll to the appropriate section

## Actual

Wiki page does not scroll, the containing web page jumps to the bottom.

[2015-03-16 17:57] brianjgeiger commented on #2185
Fixed by #2047

[2015-03-16 18:00] lyndsysimon commented on #2177
Since the hotfix is done, I think it's fine to merge it in.

Until the next release, it might be prudent for us to make sure that issues having to do with OAuth are double checked to make sure that we aren't duplicating effort.

[2015-03-16 18:00] lbanner commented on #2185
'K -- thanks -- noted as 'Pending Review'

[2015-03-16 18:05] lbanner commented on #2183
The clarity from @jmcarp on this one: It is a FigShare restriction: you’re allowed to delete files from public file sets unless there’s only one file left in the file set - then you cannot delete that last file.

It can be assumed that a FigShre user might know this (?) But: Suggestion is put some language around that in the terms modal.

[2015-03-16 18:07] lbanner commented on #2182
Is it expected that pdb files should render? And do they, in fact, render in any browser currently? -- Thanks

[2015-03-16 18:08] brianjgeiger commented on #2183
I think the Terms modal is the wrong place for this. Presuming a collaborative project, most users will not see the terms modal. Limitations should be made clear in the interface near where it would be used.

[2015-03-16 18:11] lbanner commented on #2183
Good point @brianjgeiger .... do we do any such communication on add-on limitations for any other add-on in any spot on OSF? -- or can I assume this would be introduction of a new feature?

[2015-03-16 18:13] brianjgeiger commented on #2182
They are expected to render. Also, any files that aren't meant to render should have an "unsupported file type" style message.

[2015-03-16 18:13] #1333 closed

[2015-03-16 18:20] lbanner commented on #2182
'K

[2015-03-16 18:44] jmcarp commented on #2183
@lbanner right, this is a figshare restriction. The behavior on OSF mirrors the behavior on the figshare site. I personally didn't realize that this was the expected behavior when I was browsing the figshare site, so I'm not sure whether it will be obvious to other figshare users. Agree with @brianjgeiger that explanations close to the delete functionality would be best (i.e. on the files page and

[2015-03-16 19:02] caileyfitz commented on #896
Tagging @samanehsan here.

# Steps
1. Go to project settings
2. Enable all add-ons and press Submit

# Expected
I expect that the add-ons would be listed in alphabetical order in both the enable view and the configuration view.

# Actual
When figshare got changed to be all lowercase, it also dropped below the other add-ons in the list that displays in the enabling view. See below:
![screen shot 20

[2015-03-16 19:37] saradbowman opened #2190 "Associate multiple email addresses with one account"
Currently, a user can request two accounts be merged under one, but there is not a way to associate two emails with one active account.

User story:
User has an account with email address X. User submits presentation to presentation service using email Y. User requests account merge, all under email X.

A year later, user submits to another presentation service using email Y. User must request acc

[2015-03-16 19:43] lbanner commented on #896
Didn't we take care of this one?

[2015-03-16 19:50] brianjgeiger commented on #896
This regression is likely because the sort comparator is case sensitive. Depending on how it's happening, ensuring that the sort happens in a case-insensitive way should fix the problem. This could be by comparing everything as all lower-cased or all upper-cased, or perhaps by passing a parameter to the sorter to ensure that it does not consider case.

The downside of converting to upper/lower cas

[2015-03-16 19:50] caileyfitz commented on #896
@lbanner We did, but lowercasing figshare (occurred very recently) bumped it to the bottom of the list, presumably because of case sensitivity in alphabetic sorting.

[2015-03-16 19:52] samchrisinger commented on #896
I implemented the fix for this last time around, and sorting by name feels pretty brittle. We should consider defining this somewhere in a settings file.

[2015-03-16 19:54] mfraezz commented on #2182
This is a CORS issue for FF/IE/Safari, and seemingly only when using OSF Storage. It's also present for .pdf's under the same circumstances

[2015-03-16 19:55] brianjgeiger commented on #896
It's not super-brittle, and it happens in other places where we have to sort things. Maintaining a list is problematic because what happens if you leave an item off the list? It's trouble to maintain a separate piece of information if we don't have to.

[2015-03-16 19:58] lbanner commented on #896
I'll go with that -- can we simply sort and ignore case?

[2015-03-16 19:58] lbanner commented on #2182
Can it be overcome?

[2015-03-16 20:05] mfraezz commented on #2182
Yes, though there are currently more important issues that would take less effort to fix. There was a similar albeit broader problem before, and these were the deferred cases from that fix.

[2015-03-16 20:07] mfraezz commented on #2182
Also, regarding your earlier question about browsers: this isn't an issue in Chrome because it's a bit more liberal with allowing redirects

[2015-03-16 20:07] lbanner commented on #2182
OK -- I prioritized low -- and thank you.

[2015-03-16 21:09] sloria commented on #2153
@huangginny has added the ability to run against sauce labs locally. Before this issue is closed, we should also add CI support.

[2015-03-17 00:58] JeffSpies commented on #2190
@lyndsysimon

On Monday, March 16, 2015, saradbowman <notifications@github.com> wrote:

[2015-03-17 02:13] lyndsysimon commented on #2190
This is one of the tasks I'm working on for this epic - I'm awaiting Saman's PR #2094 to be merged before starting on it.

[2015-03-17 02:20] lbanner commented on #2190
Hey @lyndsysimon -- This is a slight extension as regards requirements for accounts: The ability not just to change a single associated email w/account, but actually have two (2) email addresses for accounts. Interested in your thoughts re: our single point of ID for accounts and complications of two email addresses associated (?) Data-wise, what serves as ID ... email addy or numerical designatio

[2015-03-17 02:26] lbanner commented on #2153
You undertaking that @sloria -- or should we look for new assignee?

[2015-03-17 03:53] sloria commented on #2153
Yes, this will need to be me or @icereval , as we'll need to create a SauceLabs account for COS and set up the secure envvars in our `.travis.yml`

[2015-03-17 13:22] Ghalko opened #2197 "Simplify permissions box on add contributor"
Not really a bug. Low priority.

## Proposal
Change the add contributors permissions select box to mirror the contributors' list select boxes. This is from work on #390.

## Ramifications
One less click. Unifying similar input layouts.

[2015-03-17 15:21] caileyfitz opened #2201 "[staging & production] Change language in add-on authorization error message"
# Steps
1. Authorize Dropbox for a project
2. Go to Dropbox and revoke OSF API access (steps listed here: https://trello.com/c/QrFH1npQ/46-production-handle-revoked-api-access-through-dropbox)
3. Return to the OSF and go back to project settings
4. You should now see an error saying that credentials may no longer be valid and giving instructions on how to remedy the situation

# Expected
I expect

[2015-03-17 15:39] caileyfitz opened #2203 "[staging & production] Dropbox files grid 404 Not Found"
Sort of related to #2201

# Steps
1. Authorize Dropbox for a project and open the dev console
2. Go to Dropbox and revoke OSF API access (steps listed here: https://trello.com/c/QrFH1npQ/46-production-handle-revoked-api-access-through-dropbox)
3. Return to the OSF and go back to project settings
4. You should now see an error saying that credentials may no longer be valid and giving instructions o

[2015-03-17 16:03] lbanner commented on #2153
Thanks

[2015-03-17 18:55] Ghalko opened #2209 "New permission default for adding new contributors."
Steps
-------
1. Go to "sharing" tab on project, click add button
2. find and add contributors

Expected
------------
Default permission is not admin.

Actual
--------
Default is admin.

Suggestion
--------
Set to read, read+write, or blank making the admin adding contributors pick one of the permissions options themselves.

I would like to discuss this.

[2015-03-17 18:59] brianjgeiger commented on #2209
I think 'read' is the most sane default. We could do 'no default' but that just seems like more work. Read will never be disastrous, and could save some clicking, but people do still need to pay some attention with it otherwise they'll have to change it.

Of course, if we were to make the contributor tab changes happen immediately rather than having to submit them in a batch, it would be an equiva

[2015-03-17 19:04] fabianvf commented on #2209
:+1: for read as the default - better to ask [for] permission[s] than forgiveness

[2015-03-17 19:46] samchrisinger commented on #2031
This is addressed in two PRs:
https://github.com/CenterForOpenScience/osf.io/pull/2014
https://github.com/CenterForOpenScience/osf.io/pull/2107
and @harrismendell is working on bringing GitHub up to date

[2015-03-17 20:05] Ghalko commented on #2209
Talking with Jeff, if default is Read. Then we should think about "request write access" that a read only person can send to the admin.

[2015-03-17 20:14] brianjgeiger commented on #2209
This would be great if non-contributors could also request access in a read/write/admin capacity. This is a user complaint that I've heard that makes it difficult for people administering the project. They have to do a lot of work to find the right user, which would go away with this mechanism.

[2015-03-17 20:28] caileyfitz opened #2211 "[staging & production] Absent custom tooltip for 'Duplicate' icon on project overview"
# Steps
1. Go to a project
2. Hover over the icons on the top-right hand side of the screen.
3. There should be three icons that give tooltips: *Add/Remove from Dashboard*, *Watch/Unwatch*, *Duplicate*

# Expected
I expect that all three tooltips would look the same and be consistent with other tooltips on the site: black background with white text.

# Actual
*Add/Remove from Dashboard* and *Watch

[2015-03-17 20:41] brianjgeiger commented on #2211
This is a regression of something that happened during the Webpack/CommonJS sprint. The first two are bound to Knockout contexts, so they work through that mechanism. The last is being done with a separate function that @sloria did. I'm not sure what broke it, but if someone was refactoring anything low down (base.mako, navbar.mako, or the JS related to those), that may have done it.

[2015-03-18 02:12] lbanner opened #2220 "Admin view to control the conference page"
For a number of reasons, it is important to have an admin role for our OSF based presentation (conference) service:

General concerns about non-conference attendees emailing in posters/presentations that didn't belong. To our knowledge, this hasn't been a problem thus far -- but it's not hard to imagine such a scenario, in particular when/if the service grows in popularity.

Mail spam filter not c

[2015-03-18 13:16] lyndsysimon commented on #2190
We've used emails to this point, and I see no reason to change that. The `username` field will contain the account's "primary" email, which will be the address we use for communications as well. That address will also be in the `emails` field, to make it easier to keep email addresses associated with only one account at a time.

[2015-03-18 13:17] nicipfeiffer opened #2221 "[Staging & Production] Figshare: Unclear file path on File Detail page"
## Steps
1. Go to a project's settings page and authorize the figshare add-on
2. Link a folder to the project
3. Go to the files tab and select a file to view

## Expected
On the files detail page for a figshare file the file path on the right side of the page should give more useful information.
That figshare would have the same structure to the filepath as with other add-ons.

![screen shot 2015

[2015-03-18 14:11] caileyfitz opened #2224 "[staging & production] Cannot upload files to pre-existing Dataverse datasets"
# Steps
1. Go to a project where Dataverse is configured
2. Go to the files tab
3. Change the version from 'Released' to 'Draft'
4. Try to upload a file

# Expected
The file uploads.

# Actual
The user receives an error saying that the file cannot be uploaded:
![screen shot 2015-03-18 at 10 00 16 am](https://cloud.githubusercontent.com/assets/5975444/6710441/17cca14c-cd57-11e4-8f7f-c7c5beb44e2c.pn

[2015-03-18 14:29] caneruguz commented on #2185
Just an update that the fix is now in this PR: #2200

[2015-03-18 14:30] #1829 closed

[2015-03-18 14:33] caneruguz opened #2225 "Project parent page link for Private Parent page is disabled but with insufficient feedback"
## Steps
1. Create a Project condition where parent project is private
2. Go to child project and click on the upwards arrow link to access the parent project

## Expected
Since you can't go to the link the icon color should be more muted
There should not be a hover effect on the arrow

## Actual
There is a hover and the icon is muted but still too dark, to a user looks like a proper link and the

[2015-03-18 14:47] lbanner commented on #2221
Wondering if this is just the manner in which figshare notes files: So the file and its location (folder) are designated by seemingly random numbers, and that's what we pull from figshare (?)

[2015-03-18 14:48] lbanner commented on #2225
Quite possibly similar and related to this issue #2184

[2015-03-18 14:53] huangginny commented on #2225
@caneruguz @lbanner  I think a more serious problem that arises her is that the icon there is flipped vertically.

Parent project inaccessible:
![screen shot 2015-03-18 at 10 52 37 am](https://cloud.githubusercontent.com/assets/8628591/6711360/f1835926-cd5c-11e4-93af-a99b3b49501a.png)

Parent project accessible:
![screen shot 2015-03-18 at 10 52 52 am](https://cloud.githubusercontent.com/assets/86

[2015-03-18 14:55] sloria opened #2227 "[dev] Remove responses library from tests"
responses and httpretty are mutually redundant. Given that `httpretty` works with code that doesn't use requests and that we are using some of the features that @jmcarp added in his fork, I propose to remove usages of responses in favor of httpretty.

[2015-03-18 15:08] rliebz commented on #2224
Working from develop, I am still unable to upload files but instead producing a 400. From that, the issue appears to be an issue with the Dataverse server, as a well-formatted `curl` using the Dataverse API is returning a 500 and a Java traceback. It may currently not be possible to upload files using their API.

[2015-03-18 15:16] caneruguz commented on #2225
@Larry yes these are related, and the mirroring Ginny is referring to is also mentioned there. We can close this and if you like you can assign me to the other one, I did the logic for the arrow there and I know how it can be fixed.

[2015-03-18 16:02] nicipfeiffer commented on #2221
I wondered the same thing, and it may be the case, but I did some investigating.
I checked to see if the random numbers correlate to the figshare file.  The first number does; it is the same number in the file url on figshare.  But the second number I cannot identify.
Also, figshare does support 'projects' for the files to be categorized so I am not sure why that would not be kept with the file in

[2015-03-18 16:28] lbanner commented on #2225
Done @caneruguz - Thanks!

[2015-03-18 16:28] #2225 closed

[2015-03-18 16:31] rliebz commented on #2224
This issue should now be resolved.

[2015-03-18 16:53] chrisseto commented on #2221
This is how figshare is organized the first number is the id of either the project or fileset and the latter is the file/document id.

[2015-03-18 17:02] caileyfitz commented on #2224
Hey @rliebz I have tried uploading multiple files to Dataverse via OSF. I have gotten back a few different types of responses:

- Successful uploads (pdfs, smaller images and docx documents)
- 504 Gateway Timeout for an image (1.1 MB)
- 502 Bad Gateway for a docx file and a larger image (6.6 MB and 1.4 MB, respectively)

[2015-03-18 17:39] rliebz commented on #2224
Is it reliably rejecting certain files, or failing probabilistically? If you have any files that can reliably produce an error, send them my way and I'll see what I can figure out.

[2015-03-18 17:46] lbanner commented on #2221
OK -- noted @chrisseto  -- @nicipfeiffer I'm going to close this one -- Thanks!

[2015-03-18 17:46] #2221 closed

[2015-03-18 17:52] brianjgeiger commented on #946
This is fixed for Ampersands, but only partially fixed for < and >.

![screen shot 2015-03-18 at 1 50 49 pm](https://cloud.githubusercontent.com/assets/6599111/6715593/ecb88128-cd75-11e4-83d4-aac989666b17.png)
![screen shot 2015-03-18 at 1 50 38 pm](https://cloud.githubusercontent.com/assets/6599111/6715592/ecb4d37a-cd75-11e4-9f83-db685d5631a6.png)

[2015-03-18 18:08] Ghalko opened #2232 "Request higher permissions"
Proposed
-----
With #2223 setting the default new contributor permission to "Read" there is a definite need for a contributor to be able to request higher permissions.

As discussed in #338 and #343 there was a need for a notification system. As of last epic the notification system is live. #2209 and resulting conversations say that everyone with lower permissions should be able to request greater

[2015-03-18 18:14] icereval opened #2235 "[production & staging] Folder Picker Unavailable after 2nd Import"
Steps
------
Go to a project's settings page
Select an add-on such as dropbox
Import or Create the access token
Expand the folder picker by clicking Change if not already displayed
Deauthorize the add-on (dropbox)
Reauthorize the add-don (dropbox)
Attempt to expand/collapse the folder picker

Expected
------
The folder picker expands/collapses upon clicking the Change button.

Actual
------
The fo

[2015-03-18 18:15] caileyfitz commented on #2224
It's sort of random. Now docx files are uploading but some video files aren't (gif and some mov files). :imp:

[2015-03-18 19:15] sloria commented on #1257
This should be fixed on develop with the latest changes to MFR

[2015-03-18 19:15] #1257 closed

[2015-03-18 19:16] sloria commented on #2182
This should now be fixed on develop/staging. @jeg3tw Can you verify?

[2015-03-18 21:59] sloria opened #2241 "Go/nogo for 0.29.0"
milestone: https://github.com/CenterForOpenScience/osf.io/issues?q=milestone%3A0.29.0+is%3Aclosed
changelog: https://github.com/CenterForOpenScience/osf.io/blob/43956a065764d1427367475d3d6558126a8903ac/CHANGELOG

Deployment actions

- [ ] Install python requirements
- [ ] Install npm requirements
- [ ] Install bower requirements
- [ ] Prune bower requirements
- [ ] set OFFLOAD_DOMAIN = DOMAIN
- [

[2015-03-18 22:03] sloria commented on #2241
@nicipfeiffer Has found a bug in the 2Fa login. Once that is fixed and the final passes of the remaining cards are complete, I am a go.

[2015-03-18 22:51] sloria commented on #2241
@icereval 's go given verbally

[2015-03-19 00:03] sloria commented on #2241
2Fa is fixed, and QA is going though the final 2 cards.

[2015-03-19 00:35] lbanner commented on #2241
With you @sloria and QA "GO" - I am a GO : )

[2015-03-19 00:52] GaryKriebel commented on #2241
@sloria is looking into a small bug right now ... wording in nature, but most likely dynamically generated.

[2015-03-19 01:16] GaryKriebel commented on #2241
[Go Flight](https://www.youtube.com/watch?v=zVf-rehP4b8)

[2015-03-19 01:17] caileyfitz commented on #2241
Go go go go go :whale:

[2015-03-19 01:27] nicipfeiffer commented on #2241
I am a GO :ramen:

[2015-03-19 01:30] lbanner commented on #2241
:rocket: :rocket:

[2015-03-19 13:20] fabianvf commented on #2241
I'd prefer the last migration PR go in, but it shouldn't affect the first few migrations, so your call.

[2015-03-19 13:21] lbanner commented on #2241
Risk?

[2015-03-19 13:26] sloria commented on #2241
@fabianvf 's PR is in. @JeffSpies 's go given verbally.

After Travis passes, we're good to go.

[2015-03-19 13:27] lbanner commented on #2241
:+1:

[2015-03-19 13:55] nicipfeiffer opened #2248 "[Production & Staging] IE Search bar placeholder not visible"
## Steps
1. Using Internet Explorer, login to your account
2. Click the magnifying glass in the navbar at the top of the page

## Expected
The placeholder 'Search' would appear in the green search bar as it does in the other browsers
![screen shot 2015-03-19 at 9 52 54 am](https://cloud.githubusercontent.com/assets/9381062/6731822/0c71ff78-ce1e-11e4-956f-b0242f26d07a.png)

## Actual
The search bar

[2015-03-19 14:21] sloria commented on #2248
@nicipfeiffer Which IE version?

[2015-03-19 14:22] nicipfeiffer commented on #2248
IE 11

[2015-03-19 14:50] caileyfitz commented on #1606
@lbanner @samanehsan This is now an issue again on production. Can we re-open this?
![screen shot 2015-03-19 at 10 50 05 am](https://cloud.githubusercontent.com/assets/5975444/6733007/bc316b9a-ce25-11e4-913b-d54b6d6768f4.png)

[2015-03-19 15:18] #2241 closed

[2015-03-19 17:50] samchrisinger commented on #2235
Can I get assigned to this?

[2015-03-19 17:55] brianjgeiger commented on #2235
Done.

[2015-03-19 18:48] samchrisinger commented on #2235
Resolved in: https://github.com/CenterForOpenScience/osf.io/pull/2250

[2015-03-20 12:03] saradbowman commented on #2018
I believe this is a similar issue, reported on the help desk:

Zotero is used to scrape metadata in website and manage the full text. Most entries in user's library have one snapshot of the original website and one path to the full text. The entries in Zotero have the column "notes and attachments" for the storage of snapshot and path. In the OSF, the add-on shows three entries for each reference:

[2015-03-20 12:42] nicipfeiffer opened #2254 "[Production & Staging] Rendering issue with .csv, .xls and .gsheet files"
## Steps
1. Go to a project and select on a file with a .csv, .xls or .gsheet extension
2. On the file detail page, shrink the browser size then expand

## Expected
The file would expand and contract within the proper border on the right so that all information is visible on the page.

## Actual
The cells will spill into the widget to the right, obstructing the view of the file information.  Occur

[2015-03-20 13:08] brianjgeiger opened #2255 "MFR PDF renderer cut off for portrait documents"
Steps
-------

1. Render a PDF document that is portrait

Expected
-----------
The renderer would be completely shown on the page

Actual
--------
The bottom of the render is cut off.

Suggestion
-------------
If there is an option to zoom to width rather than showing the whole page, that should allow the bottom of the page to fit in the constrained height.

[2015-03-20 13:10] chennan47 commented on #2059
i will grab this one.

[2015-03-20 13:13] nicipfeiffer opened #2256 "[Production & Staging] When Javascript disabled user profile information not available for external search"
## Steps
1. Go to a public user profile page with information input for social, employment and education
2. Disable the javascript on the page

## Expected
The information on the page about a user should still be there when JavaScript is disabled so that it can be returned in searches.
![screen shot 2015-03-20 at 9 09 17 am](https://cloud.githubusercontent.com/assets/9381062/6752026/04d64c2e-cee1-

[2015-03-20 13:21] samchrisinger commented on #2018
Answering this with complete certainty will require spending more time with the Zotero API, but my current impression is that there is no reliable way to differentiate attachments and citations.

[2015-03-20 14:23] caileyfitz opened #2258 "[staging & production] Icon missing on mobile site"
Icon to expand a dropdown menu is missing for mobile users. There should be an icon next to the magnifying glass and also one next to 'Project Navigation.'
![missing](https://fd-files-production.s3.amazonaws.com/83148/pWC053GZcAIymwL28KfORQ?X-Amz-Expires=300&X-Amz-Date=20150320T141944Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIA2QBI5WP5HA3ZEA/20150320/us-east-1/s3/aws4_request&X-Amz-S

[2015-03-20 14:48] nicipfeiffer opened #2260 "[staging & production] Public User Profile name obscured on mobile site"
When viewing public user profiles on mobile devices the top line of information is cut off.

![screen shot 2015-03-20 at 10 45 14 am](https://cloud.githubusercontent.com/assets/9381062/6753695/48407ffe-ceee-11e4-9d18-04fdf586ec1b.png)

Occurs for iphone 5 and 4

Also, the 'edit profile' link is obscured using Nexus 4 mimicking, if you have a longer last name with descenders.

![screen shot 2015-03

[2015-03-20 15:24] jeg3tw opened #2263 "Add-on icons are draggable in IE"
# Steps
1. In **Internet Explorer**, go to a project with at least one component
2. Enable a few external storage add-ons for the project
3. Go to either the files tab or the project overview page
4. Collapse all the add-ons so that you can see them all (helpful if you have a ton of files)
5. Click an icon and drag it slightly to the left and then drag it into another add-on (even OSF Storage)

#

[2015-03-20 15:53] ginavuu opened #2264 "[production] IE: OSF Functionality Site Wide: Adding project to dashboard"
Steps
1. Using IE (version 11), go to a project
2. Add the project to the Dashboard from the project page

Expected
In order to do this, I would expect an icon to add the project to the Dashboard from the project page.

Actual
The icon is not there for IE.

[2015-03-20 16:28] #2258 closed

[2015-03-20 16:32] markhahnel opened #2265 "Text not wrapping on project comments section"
Hyperlinks here

![screen shot 2015-03-20 at 12 31 34](https://cloud.githubusercontent.com/assets/7058167/6755961/138369a2-cefd-11e4-9d10-5788b67584f1.png)

[2015-03-20 16:36] JeffSpies commented on #2265
Thanks, Mark!

@caneruguz, can you please get a hotfix in on this?

On Fri, Mar 20, 2015 at 12:32 PM, markhahnel <notifications@github.com>
wrote:

[2015-03-20 16:41] caneruguz commented on #2265
@JeffSpies on it!

[2015-03-20 16:50] mckidwell opened #2266 "contributors list in search does not match list on project overview"
**Steps:**
1. Search for "Murray"
2. View the project titled "Replication of SL Murray...Exp. 8" in the search results and take note of the contributor list.

![screen shot 2015-03-20 at 12 41 32 pm](https://cloud.githubusercontent.com/assets/7945215/6756198/9b9c497a-cefe-11e4-982a-a315216d37c1.png)
3. Go to this project's overview. Look at the list of contributors on the overview.

![screen shot

[2015-03-20 16:58] sloria commented on #2265
Fixed by https://github.com/CenterForOpenScience/osf.io/commit/f935a0ecdd4e02f7d90a57788955cab92314a0b0 .

[2015-03-20 16:58] #2265 closed

[2015-03-20 17:31] icereval commented on #2255
working on

[2015-03-20 18:09] samanehsan commented on #2201
@caileyfitz, by "Try deauthorizing and reauthorizing Dropbox", I did mean deleting the access token and re-authorizing (creating a new access token). Would it be clearer if instead it said "Please delete your access token and create a new one"?

[2015-03-20 18:23] sloria opened #2267 "Allow markdown rendering in comments"
The markdown syntax used by the wiki should also be use-able in comments.

[2015-03-20 18:26] sloria commented on #2265
In investigating this I noticed that @markhahnel 's hyperlinks were not turned into proper hyperlinks and are therefore not clickable.

A logical solution would be to allow users to use Markdown in their comments; we can enable the same markdown syntax as the Wiki.

I will send a follow-up patch soon.

[2015-03-20 18:31] caileyfitz commented on #2201
@samanehsan Yes, definitely more clear.

[2015-03-20 18:37] sloria commented on #2267
Related issue: https://github.com/CenterForOpenScience/osf.io/issues/2265

[2015-03-20 18:53] chennan47 commented on #2264
@ginavuu not quite sure about what the issue is. Could you provide some screen shoot to help explain? Thanks.

[2015-03-20 18:57] chennan47 commented on #1256
Confirmed that the behavior has been changed. So you can now actually link an addon to both parent and child project. The potential problem is that if you upload a file to that addon in the file page the change won't show up on the other file folder which linked to parent or child project untill you refresh it. It might confuse user.

[2015-03-20 19:00] #2267 closed

[2015-03-20 19:34] icereval commented on #2255
Resolved by https://github.com/CenterForOpenScience/modular-file-renderer/pull/165

[2015-03-20 20:06] caileyfitz opened #2269 "[staging & production] Bold HTML tag not sanitized for wiki and comments"
# Steps
1. Go to the wiki on staging or production
2. Type `<b>Oreo</b>`
3. Press Save
4. Input the same text into a comment on staging

# Expected
I expect that the HTML would be escaped and the text would render as `<b>Oreo</b>`.

# Actual
The text renders as **Oreo** and the tags are not escaped.

[2015-03-20 20:32] chennan47 commented on #1103
Since the wiki has been totally remade, this problem no longer exists.
![screen shot 2015-03-20 at 4 32 09 pm](https://cloud.githubusercontent.com/assets/4974056/6760420/b6c5f564-cf1e-11e4-8ee4-43b5c23daf2b.png)

[2015-03-20 20:35] #1103 closed

[2015-03-21 02:26] lbanner commented on #2266
Fishy enough it appears to me that we should dig into the underlying issue -

[2015-03-21 14:21] jlcohoon opened #2273 "project title wraps lines in the middle of words"
<h4>Steps</h4>
1. Visit a project with a long title: https://osf.io/mjasz/
2. Look at where the lines break for the title on the project overview page

<h4>Outcome</h4>
1. Many project titles are wrapped to fit, but they break lines in the middle of a word, rather than before/after the word. For instance, here, the 'y' on Boroditsky is on a second line, all by its lonesome.
![screen shot 2015-03-2

[2015-03-21 14:40] #2273 closed

[2015-03-21 23:46] cosenal opened #2277 "[feature request] Storage add-on for ownCloud"
OSF already supports several storage back-end options (Dropbox, S3, Google Drive, ...). Support for [ownCloud](https://github.com/owncloud/) would be a great addition to the list.

It is open-source and it is suitable for privacy-sensitive projects. Further, it is becoming fairly spread among schools and universities.

Integration in OSF should be simple enough through the following library: https

[2015-03-22 14:45] sloria commented on #2143
Closed by https://github.com/CenterForOpenScience/osf.io/pull/2271

[2015-03-22 14:45] #2143 closed

[2015-03-22 18:34] abought opened #2278 "SHARE links for ASU datasource are broken"
The new SHARE page ( https://osf.io/share/ ) provides a number of datasources. In most cases, choosing the datasource from the pie chart creates clickable links to each resource.

However, for the ASU datasource, the URL is malformed and can't be clicked:

So for this search...
https://osf.io/share/?q=source:asu

A given result would be displayed as shown:
[code]

The URL does appear to contain li

[2015-03-23 02:51] lbanner commented on #2277
Hey @cosenal -- thank you for the effort -- We can give direction on setting up OSF -- check in as you progress.

[2015-03-23 04:45] cosenal commented on #2277
Hi @lbanner, thanks for the reply.
Which branch should I be working on, `master` or `dev`?
Also, what's the right channel to ask for setup directions? So far I have been getting helped by @lyndsysimon  on IRC (#cos)

[2015-03-23 12:02] brianjgeiger opened #2279 "Update markdown-it and plugins to 4.0"
Our Markdown renderer has updated to 4.0 and changed its internals. We should upgrade at some point, which will involve updating our plugins to match the new internals.

[2015-03-23 12:49] lbanner commented on #2277
You should use `dev` @cosenal -- and glad you got some setup guidance from @lyndsysimon - that works!

[2015-03-23 13:18] lbanner commented on #2278
Thank you @abought -- @fabianvf or @erinspace take a look, please? Thanks.

[2015-03-23 13:48] cosenal opened #2280 "invoke setup breaks on asset bundles building"
I get the error below when I run `invoke setup`. This is at the moment when the asset bundles are built. In fact, it can be reproduced also by running `invoke assets -d`.

The execution stops, but the prompt is not returned (and it doesn't seem to be in a "watch" status either).

Probably related to https://github.com/webpack/webpack/issues/424

I don't know if this is dependent on the platform, t

[2015-03-23 13:50] jlcohoon opened #2281 "download count identical for distinct files containing underscores or periods"
<h4>Steps</h4>
1. Find a file with an underscore in the title and more than 0 downloads. I used this one: https://osf.io/8qc4x/
2. Download the file or make a new one, saving it with the same name, except swap out the underscore for a period (or vice versa). For instance, this file is title RPP_aaudl.R. You would rename it RPP.aaudl.R
3. Upload the new file to the OSF, in the same component.

<h4>

[2015-03-23 13:53] lbanner commented on #2280
@sloria ..... when you get a chance? Thanks!

[2015-03-23 14:21] sloria commented on #2280
Thanks @cosenal . Those warnings (not errors) can safely be ignored. Some of the npm packages use their minified as their "main" file, which webpack does not recommend. The knockout warnings can also be ignored; we'll see if webpack addresses that issue.

[2015-03-23 14:21] #2280 closed

[2015-03-23 14:26] brianjgeiger commented on #2280
@sloria could we get a statement after the warnings to say that it's watching for changes, maybe with a timestamp if we wanted to go mad with power? This is the second time I've seen this confusion. The timestamp would just be for developers to be able to easily see when it's been recompiled.

[2015-03-23 14:28] cosenal commented on #2280
@brianjgeiger @sloria what is confusing that `invoke assets -d`, that is without the `w` option (i suppose it stands for watch), still doesn't terminate.

[2015-03-23 14:32] sloria commented on #2280
@brianjgeiger Not a bad idea. Will see if webpack exposes that functionality.

@cosenal That was fixed recently on `develop`. `inv assets -d` will only do a single run; `-w` must be passed to enter "watch" mode.

[2015-03-23 14:36] sloria commented on #2277
@cosenal Thank you for offering to take this on! ownCloud certainly looks like a service worth integrating.

Much of the development of storage addons happens in https://github.com/CenterForOpenScience/waterbutler , the service that abstracts all the CRUD functionality for storage providers. I recommend that as a starting point. Here is the Dropbox module as an example: https://github.com/CenterFo

[2015-03-23 14:47] KatyCain526 commented on #1418
Index how? @fabianvf @lbanner

(trying to keep this conversation going)

[2015-03-23 14:51] cosenal commented on #2280
@sloria pulling from the latest develop fixes it indeed.

Now `invoke setup` fails here: https://github.com/CenterForOpenScience/osf.io/blob/develop/tasks.py#L561
It looks like that was broken in https://github.com/CenterForOpenScience/osf.io/commit/bf12b7bcb715855ee8ebc970a5696a9f0a53e899

[2015-03-23 15:07] sloria commented on #2280
@cosenal Good catch. Fixed on `develop`.

[2015-03-23 15:13] brianjgeiger commented on #2264
@ginavuu I am unable to reproduce this. Is there a public project that you can point me to that you aren't seeing the add to dashboard button for? Also, could you go to https://osf.io/e81xl/ and give me a screenshot of what you see? I am getting the Add to Dashboard with that project in IE 11. So it could be a problem with a specific project, or maybe a difference in minor versions of IE.

![scree

[2015-03-23 15:25] caneruguz opened #2282 "[Enhancement] [Feature] Toolbar for files"
There are some features and enhancements we are working on that will add functionality to files (Add folders, cancel uploads) and some others have been requested or may potentially come in the future (Delete multiple, add search box to Project Organizer) . We may need to do a general and consistent approach to Files/Folders related actions through a toolbar.

## The problem:
- We currently rely on

[2015-03-23 15:31] brianjgeiger commented on #2282
I like.

[2015-03-23 15:43] JeffSpies commented on #2282
Perhaps cancel uploads does the same as search/rename--do we want multiple
actions available when canceling? It will be greyed out most of the time
anyway.

On Mon, Mar 23, 2015 at 11:31 AM, Brian J. Geiger <notifications@github.com>
wrote:

[2015-03-23 15:57] chrisseto commented on #2278
[Fixed](https://osf.io/share/?q=source:asu)!
@lbanner Would you mind both confirming this is fixed and closing the issue?

[2015-03-23 15:59] lbanner commented on #2278
Will do!

[2015-03-23 16:13] lbanner commented on #2278
Alright -- looking good @chrisseto -- Thank you @abought !

[2015-03-23 16:13] #2278 closed

[2015-03-23 16:37] abought commented on #2278
Confirmed working for me in production. Speedy fix!

[2015-03-23 16:59] caneruguz commented on #2282
In that case Cancel Uploads would be the only thing possible to do while uploads are in progress until the user clicks X to go back to icons.

Another idea is to go back to contextual buttons like Project Organizer and only show buttons if they can be clicked. I think combining that with the new toolbar design would still give good outcomes. So a combination of B and C.

[2015-03-23 17:23] ginavuu commented on #2264
@brianjgeiger I have attached a screenshot. It's weird because the buttons shows up sometimes and not other times
![screenshot](https://cloud.githubusercontent.com/assets/11032617/6785908/1ffd7d58-d15f-11e4-8887-c3b5c9b144ed.PNG)

![screenshot2](https://cloud.githubusercontent.com/assets/11032617/6785997/bb6c3824-d15f-11e4-9a54-51324c07da17.PNG)

[2015-03-23 17:25] brianjgeiger commented on #2264
Thank you much. That looks like it could be very helpful.

[2015-03-23 17:42] brianjgeiger commented on #2264
@ginavuu When testing, we are getting the control, but it is very slow in our IE 11 on a Virtual Machine. Could you reload the page and wait for a little while to see if it eventually shows up? And it could be that we need better performance on IE 11, or IE 11 needs better JS performance.

[2015-03-23 18:39] GaryKriebel opened #2284 "[staging & production] Malformed links on osf.io/faq"
# Steps
1. Go to the FAQ on staging ( https://staging.osf.io/faq/ ) or production ( https://osf.io/faq/ )
2. Find the malformed link under the following sections:
   *  ***How can I license my data/code/etc.?***
      * Creative Commons licenses can be found [here](https://osf.io/faq/%E2%80%9Dhttps://creativecommons.org/licenses/%E2%80%9D).
   *  ***How do I create a lab group/organizational group

[2015-03-23 18:41] lbanner commented on #2284
Aha!!!! :crocodile:

[2015-03-23 19:14] ctb opened #2288 "[feature] let users request to be added to a project"
It would be nice if users could go to a public project and be asked to be added to it - e.g. when running workshops that are using the collaborative wiki, this would let the workshop coordinator approve requests quickly without having to search for all the accounts, etc.  Same for classes and courses over a longer time period.

For example,at

https://osf.io/26aun/

it would be nice to have a butt

[2015-03-23 19:21] lbanner commented on #2288
Thank you @ctb .... so, different from the "watch" option, yes? In your scenario, is the workshop coordinator owner of the public project? And you, as an OSF user, wish to add to and/or receive notification about the project?

[2015-03-23 19:22] ctb commented on #2288
Yes, different from the watch option.  The workshop coordinator would be an administrator (capable of approving membership in the public project), and I, as an OSF user, wish to be able to contribute to the project (upload files, edit wiki).

[2015-03-23 19:24] lbanner commented on #2288
Good -- thanks again, Titus!

[2015-03-23 19:27] brianjgeiger commented on #2288
Thanks, @ctb. We are working on some modifications to the sharing controls which would support this. In the last epic, we got notifications in, so we could email project administrators when requests like that would happen. We have a proposal from one of our developers #2232 to allow users who are contributors to get higher permissions, which would add the administrative side of these kinds of requ

[2015-03-23 19:29] ginavuu commented on #2264
@brianjgeiger It seems to be working now a lot better. I've noticed that it doesn't load when it is having trouble loading the page, so I think it is just really slow.

[2015-03-23 19:31] brianjgeiger commented on #2264
Thanks. If you see it again and it isn't just slowness, comment here and we'll reopen. We may have to address the slowness, however, so please try out the site with your computer sometime in chrome or firefox vs IE and see if the experience seems different. If so, file another bug with that info and we can look into seeing if it's something we are doing or just IE having a slow JS interpreter.

[2015-03-23 19:31] #2264 closed

[2015-03-23 19:36] ginavuu commented on #2264
@brianjgeiger I have been trying it with Chrome, and there is a slight lag but it always appears. Only IE is having this trouble of loading. I am having trouble with recreating the problem, because it is so inconsistent.

[2015-03-23 22:29] ctb commented on #2288
The proposed scheme looks good to me!

[2015-03-24 13:25] sloria opened #2293 "Inconsistent icons"
Steps
-------

- Go to a component whose parent project you do not have read access to
- Go to a component whose parent project you do have read access to

Expected
------------

Both scenarios use the same icons in the project title and the navbar

Actual
--------

- The 1st scenario uses a slash as separator, e.g. "Private Project / My component"  and the "up" arrow is backwards
- The 2nd scenar

[2015-03-24 13:30] lbanner commented on #2293
Reported and related in a fashion to #2184

[2015-03-24 14:34] caneruguz commented on #2184
@sloria @lbanner  PR sent.

[2015-03-24 14:34] caneruguz commented on #2293
@sloria @lbanner  PR sent.

[2015-03-24 14:36] lbanner commented on #2184
:+1:

[2015-03-24 15:51] caseyrollins commented on #2115
@lbanner I can go ahead and add "Presentations" to the Explore dropdown if that seems like the solution we're going with. I could also easily add it to the footer as well.

[2015-03-24 16:18] lbanner commented on #2115
Had put/suggested @Ghalko on this one -- BUT -- If you are open and can tackle it, I think that'd be good @caseyrollins -- Unless he :scream: 's

[2015-03-24 17:24] caileyfitz opened #2297 "[staging & production] Image hangover in comment pane"
# Steps
1. Go to a project
2. Open the comment pane
3. Paste this text as a comment: `![darryl](https://trello-attachments.s3.amazonaws.com/55031b6e62565b1f59d83707/600x400/72271891efe9cc3f450f1a57de9676c2/pupsicle.jpg)`
4. Press submit

# Expected
The image would stay within comment pane borders

# Actual
The image overhangs the border:
![screen shot 2015-03-24 at 1 23 20 pm](https://cloud.github

[2015-03-24 17:25] nicipfeiffer opened #2298 "[Staging & Production] Comments: can't scroll to bottom"
## Steps
1. Go to a project
2. Open the comment pane
3. Type in several comments, so that they are past the bottom of the current comment pane
4. Scroll to the bottom, look for the buttons to edit, reply or delete the bottom comment

## Expected
The buttons for edit, reply or delete to the comment a the bottom should be visible

## Actual
The buttons for edit, reply or delete are not visible makin

[2015-03-24 20:11] #2293 closed

[2015-03-24 20:11] #2184 closed

[2015-03-24 21:19] #2115 closed

[2015-03-24 21:19] #1418 closed

[2015-03-25 13:29] lbanner commented on #2298
@huangginny 's new comment code #1762 should overcome this issue -- So I am putting a "Hold" here for now - Thanks!

[2015-03-25 13:31] lbanner commented on #2297
Interesting -- wonder what the % edge-case of photos in comments might be! But I am putting a "Hold" here for now in anticipation of #1762 -- @huangginny Did you consider using pics in comments? Thanks -

[2015-03-25 13:33] huangginny commented on #2298
@lbanner @nicipfeiffer Yes it does. I noticed this issue when i was upgrading the pane, and fixed it

[2015-03-25 13:38] huangginny commented on #2297
@lbanner I haven't considered that, since the markdown syntax with comments are just starting to be used... I will look at it now

[2015-03-25 13:43] huangginny commented on #2297
Okay I will fix that in #1762
I think the intended behavior is that we shrink the image so that it fits the pane size...right?

[2015-03-25 14:01] huangginny commented on #2281
@GaryKriebel Can you assign me to this issue?

[2015-03-25 14:11] sloria commented on #1249
@jlcohoon Is this still something you want? Does @huangginny's proposed UI meet your needs?

[2015-03-25 14:49] lbanner commented on #2297
I think that sounds right -

[2015-03-25 14:49] jlcohoon commented on #1249
It's definitely still something I'd like, and I think this solution is consistent with how we deal with this in search results. My comment now is, same as it is on the node refactor (https://osf.io/d72uk/wiki/Node%20Class%20Refactor/), that I'm inclined to click the first link, not the second one that might be truncated. That brings you to the project, not the component.
Without thinking about it

[2015-03-25 15:02] huangginny commented on #2281
The commit that causes the problem is 60f430a9ae1f36ba0edd16879508e07bb2f1447f

[2015-03-25 15:21] huangginny commented on #2281
ready for review @lbanner @sloria

[2015-03-25 15:22] lbanner commented on #1249
Unless disagreement on @jlcohoon 's suggestion .... (?) @huangginny Can you go ahead and make this change? Thanks.

[2015-03-25 15:25] huangginny commented on #1249
@lbanner will do

[2015-03-25 15:30] nicipfeiffer opened #2307 "[Staging & Production] Project Settings scrolling for Mobile"
## Steps
1. Go to the project settings page of any project on the Chrome browser
2. Open the developer tools > javascript console
3. Click on the mobile icon in the tope left of the console to change the browser display configuration to mimic and iphone 5
4. Refresh to update
5. Begin scrolling down from the top

## Expected
That all menus and widgets for project settings would be visible on the p

[2015-03-25 15:51] nicipfeiffer opened #2308 "[Staging & Production] Box Add-on Share Copy 404"
## Steps
1. Go to a project you have admin privileges on
2. Go to the project's sharing tab and add a few contributors to the project (not necessary if there are already contributors)
3. Go to the project's settings tab and authorize/import the access token for the box add-on
4. Select a folder to link to the project, confirm that the settings have updated.
5. Click the button to 'Share on box', c

[2015-03-25 16:06] lyndsysimon opened #2309 "Email links not logged to console when running `invoke server`"
h/t @cosenal for helping us find this issue on IRC.

When `USE_EMAIL` is set to `False` in `website.settings` and a new user is registered, the email that would have been sent to the user is printed to the console as part of the log output. This is important for development, as copying and pasting this link is how a developer can confirm the registration of an account on their local copy.

This lo

[2015-03-25 16:10] lbanner commented on #2309
@lyndsysimon Is this new? -- Occurs to me that few times over while reviewing commenting funciton @GaryKriebel and I have been able to create + confirm accounts locally [at least for me I use `inv server`] -- I can double check as well.

[2015-03-25 16:13] lyndsysimon commented on #2309
As far as I know, yes.

I didn't track down where the log level is getting changed, so I can't say for sure. I didn't get the problem first-hand, because I use `python main.py` to run the server locally.

[2015-03-25 16:20] caileyfitz opened #2310 "[staging & production] Potential security issue exposing email addresses with 'Share on Box' option"
# Steps
1. Go to a project where you are an admin
2. Add contributors to the project
3. Go to the project settings page
4. Enable Box and Dropbox for the project
5. Configure Box and Dropbox for the project by selecting folders to link
6. Next to the 'Change' buttons to select a different folder, press the 'Share on Box' button

# Expected
I'm not really sure that I even expected that this could b

[2015-03-25 16:25] lbanner commented on #2310
Good catch @caileyfitz -- I think @mfraezz worked on this -- But maybe @samchrisinger can provide feedback/insight here?

[2015-03-25 16:30] lbanner commented on #2308
OK -- Let's connect this with #2310 as the potential security concern may impact a fix being needed or not here.

[2015-03-25 16:32] lbanner commented on #2307
@caneruguz -- Your insight here, please -- Thanks.

[2015-03-25 16:46] caneruguz commented on #2307
There is a fixed placement that should be removed when window is narrower than 768 pixels. This should be an easy fix, you can assign it to me.

[2015-03-25 17:22] brianjgeiger opened #2312 "Deleting a contributor gives false impression"
Steps
-------
1. Go to the sharing tab of a project with many contributors that you administer
2. Click x to remove a contributor near the top of the list
3. See that it says that the user is deleted

Expected
------------
The user is deleted.

Actual
--------
The user will be deleted pending the save. The save button is waaaay down at the bottom of the screen, so if there are too many contributor

[2015-03-25 17:50] sloria commented on #2309
I found the source of this. I will send a patch shortly.

[2015-03-25 17:50] caileyfitz opened #2313 "[feature request] User settings page anchor scrolls"
# Steps
1. Log into staging
2. Go to user settings
3. Notice the box of page headings at the top left-hand side of the page
4. Scroll freely up and down the page
5. Keep track of box of headings

# Expected
I expected that with the change to the project settings page to allow the box to scroll with content that the behavior would be consistent across settings pages and thus also applied to the use

[2015-03-25 17:58] nicipfeiffer opened #2314 "[Staging & Production] Project Settings scrolling for Reduced Browser Windows overlaps footer on page"
## Steps
1. Go to the project settings page of any project
2. Open the developer tools > javascript console OR resize the browser window  to be short in vertical
2. Begin scrolling down from the top

## Expected
The left side widget with links to select/configure settings would not extend past the page footer when the browser window is reduced in the vertical axis to overlap into the footer and th

[2015-03-25 18:03] sloria commented on #2310
Let's just remove the Share button for now. I'll send a hotfix shortly.

@samchrisinger Can you update #2014 to remove the "Share" UI?

[2015-03-25 18:04] samchrisinger commented on #2310
Will do

[2015-03-25 19:10] #2072 closed

[2015-03-25 19:28] huangginny commented on #1249
@jlcohoon The breadcrumbs do not have links. Do you want me to add the links or not?
![screen shot 2015-03-25 at 3 27 43 pm](https://cloud.githubusercontent.com/assets/8628591/6833451/8bf06020-d303-11e4-9821-1ce8bb3faec6.png)

[2015-03-25 19:36] jlcohoon commented on #1249
No links, please!

On Wed, Mar 25, 2015 at 3:28 PM, Ginny <notifications@github.com> wrote:

[2015-03-25 19:59] #2310 closed

[2015-03-25 20:45] bnosek opened #2317 "[production bug] Add unregistered contributor freezes and does nothing"
Clicking on add here generating no response:

![screen shot 2015-03-25 at 4 43 56 pm](https://cloud.githubusercontent.com/assets/1761504/6835017/44a501b6-d30e-11e4-8bac-609810ec4ce7.png)

[2015-03-25 20:46] bnosek commented on #2317
I did it again and it worked.  The time it failed, I had added added another contributor that was in the system, and then tried to add Kirstie before confirming adding that first contributor.  The second time, I added the unregistered contributor first and did not have a problem.  I have a few more to add and will try different combinations.

[2015-03-25 20:49] lbanner commented on #2317
@nicipfeiffer or @caileyfitz -- if you can, maybe double check / see if you can replicate this one? TY

[2015-03-25 20:49] bnosek commented on #2317
Tried it again the first way and had the same problem:

[1] find an existing contributor and put in queue to add to project
[2] search for an unregistered contributor
[3] add unregistered contributor

Freezes at the attempt to add the unregistered contributor

[2015-03-25 20:52] huangginny commented on #2317
I remember fixing this problem before, but it never gets merged
https://github.com/CenterForOpenScience/osf/pull/1109

[2015-03-25 20:53] lbanner commented on #2317
Good @huangginny -- will followup. TY

[2015-03-26 00:56] nicipfeiffer commented on #2317
@lbanner I was unable to replicate follow the steps @bnosek gave above, but will get more details in the morning and try again.

[2015-03-26 02:06] lbanner commented on #2317
OK - thank you - looks like @huangginny had an earlier fix on this - she is updating the PR.

[2015-03-26 13:36] huangginny commented on #2317
@nicipfeiffer To reproduce the bug you need to

1. Put a name in the search bar of the add contributor modal
2. Click search
3. Add someone from the search results
4. What @bnosek said

If you add your first contributor directly from "my recent/frequent collaborators" you won't reproduce it

[2015-03-26 14:34] TimErrington opened #2321 "Downloads are not visible"
The downloads for projects are all 0. Here's a screen shot from the APS 2014 presentation service that has multiple downloads associated with them.
![screen shot 2015-03-26 at 10 33 43 am](https://cloud.githubusercontent.com/assets/5816601/6848453/b609b442-d3a3-11e4-8cd4-eb5397af14bd.png)

[2015-03-26 14:34] caileyfitz commented on #2317
I was able to reproduce this with the steps that @huangginny listed.

[2015-03-26 14:39] lbanner commented on #2321
Let's get someone on this 'cause we want Presentations to look/work right! ... I'd generally go to Josh, however .... @sloria @icereval @JeffSpies -- thoughts on Dev?

[2015-03-26 14:41] TimErrington commented on #2321
This is also happening on all projects as well. So it doesn't seem to be limited just to presentations.

[2015-03-26 14:42] brianjgeiger commented on #2321
@chrisseto and @icereval are working on this.

[2015-03-26 14:43] lbanner commented on #2321
Great -- appreciate the quick pickup.

[2015-03-26 14:45] nicipfeiffer commented on #2317
Thanks @huangginny I am now getting the error

[2015-03-26 14:52] #2317 closed

[2015-03-26 15:29] sloria commented on #2281
Reopening, as the fix needed to be reverted to address https://github.com/CenterForOpenScience/osf.io/issues/2321 . We are looking into a more permanent fix for this now.

[2015-03-26 15:32] sloria commented on #2321
Ok, the download counts should be back.

We found that the root of the problem was the change made in https://github.com/CenterForOpenScience/osf.io/commit/adc2712c3089dd996422dd521d1596dc9f1fb69b, which inadvertently caused counts to reset for files with `.` or `$` characters. We are looking into a more permanent solution for https://github.com/CenterForOpenScience/osf.io/issues/2281 now.

[2015-03-26 15:32] #2321 closed

[2015-03-26 15:40] sloria commented on #2281
OK, the more permanent solution will be a part of @chrisseto 's larger changes to the OSF Storage addon.

[2015-03-26 15:56] lbanner commented on #2281
OK -- do we, @chrisseto, have time-frame estimate in proposal on that yet?

[2015-03-26 16:15] chrisseto commented on #2281
@lbanner within next week.

[2015-03-26 16:18] lbanner commented on #2281
OK -- great.

[2015-03-26 17:21] caileyfitz opened #2326 "[staging & production] SHARE graph has fractions of events"
# Steps
1. Go to the SHARE page on staging or production
2. Enter "phosphatase activity in matrix vesicles as determined by infrared spectroscopy" into the search bar
3. Press search
4. Confirm there is only one result
4. Look at the graph of results

# Expected
There is only one result, so I would expect that the graph of results would show that result with correct increments. Since the y-axis is

[2015-03-26 17:51] huangginny commented on #2266
Also happens on this project: https://osf.io/w6fp4/
I'll look into it

[2015-03-26 17:54] caileyfitz opened #2328 "[staging & production] SHARE: Table of provider results obscures points on graph"
# Steps
1. Go to the SHARE page on staging or production
2. Search for a single asterisk *
3. Hover over the SHARE graph below the search bar
4. Starting at the left, move your mouse to the right to view the table of provider results for each set of data points

# Expected
I expect that as the user moves his cursor to the right, the table of results would shift so that the line highlighting the da

[2015-03-26 17:58] lbanner commented on #2266
OK!

[2015-03-26 17:59] huangginny commented on #2266
Found the problem. This is what happens when you add a unreg contributor first and add a registered contributor later. I guess the search results are just applying the contributor links returned to the first few contributors.

[2015-03-26 18:00] lbanner commented on #2266
Do we know how to resolve?

[2015-03-26 18:02] huangginny commented on #2266
Not yet. Looking at it.

[2015-03-26 18:13] nicipfeiffer opened #2329 "[Staging & Production] SHARE: figshare publications links incorrect"
## Steps
1. Go to https://staging.osf.io/share/
2. Search for something
3. Filter your results to only show figshare results
4. Click on the title of a figshare publication

## Expected
The user would be taken to the figshare site and have the publication rendered

## Actual
The user sees
![screen shot 2015-03-26 at 1 39 32 pm](https://cloud.githubusercontent.com/assets/9381062/6853508/04d55e28-d3

[2015-03-26 18:24] lbanner commented on #2329
@fabianvf @chrisseto @erinspace ? -- I did replicate on Production - Thanks.

[2015-03-26 18:30] erinspace commented on #2329
Right - this is actually how the figshare API works - each url entry in their bulk API links to a separate data blob with much more detailed information. We considered querying a separate time for each entry to get this more detailed information - including the URL to the actual figshare resource - but decided against it because there are so many many many figshare resources per day.

There might

[2015-03-26 18:33] lbanner commented on #2329
A'ight -- 'cause that's not very pretty :see_no_evil: -- TY

[2015-03-26 18:34] chrisseto commented on #2329
@erinspace We could link to the doi

[2015-03-26 18:35] brianjgeiger commented on #2329
Might be worth sending a message to our Figshare contact. I think the SHARE service would be of most use to them if they provided the figshare_url in the initial results.

[2015-03-26 18:38] huangginny commented on #2266
This is a result of the format of elasticsearch. Calling <code>es.search(index=index, doc_type=doc_type, body=query)</code> returns a formatted output that is specified in <code>website/search/elasticsearch.py:update_node</code>. That format stores contributor names and contributor urls in separate lists, which results in the bug. My suggestion is to use the following format in that method:

    {

[2015-03-26 18:40] chrisseto commented on #2281
#2327 Fixes this

[2015-03-26 18:40] lbanner commented on #2266
OK - maybe you reach out to @fabianvf ?  --  recognizing he has SHARE priorities right now, but might give quick insight.

[2015-03-26 19:05] fabianvf commented on #2266
@huangginny I think that format would be much better. We have a migration script ready, so the impact on the elasticsearch data is irrelevant - if you make the change to the schema, we can migrate all users and nodes to make use of it.

[2015-03-26 19:18] huangginny commented on #2266
@fabianvf Thanks, I'll try it out :)

[2015-03-26 19:26] nicipfeiffer opened #2330 "[Staging & Production] SHARE: Pie chart filter for contributor list leaves null results"
## Steps
1. Go to the SHARE page on staging or production
2. Search for a single asterisk *
3. Click on a provider on the pie chart to the left of the graph to filter your results to only show that provider
3. Hover over the SHARE graph below the search bar

## Expected
Since the results are being filtered for only one provider then the provider table that moves with the curser over the graph shou

[2015-03-26 20:16] nicipfeiffer opened #2332 "[Staging & Production] Graph blank when results published longer than 3 months ago"
## Steps
1. Go to the SHARE page on production
2. Enter 'nosebleed' into the search query

## Expected
The graph of events would update showing the events from the search. Updating the x-axis from 'Last 3 months' to index a longer length of time to include the search results.

## Actual
The graph retains the length of time of 'Last 3 months' and is blank.

![screen shot 2015-03-26 at 4 13 38 pm](h

[2015-03-26 21:14] sloria opened #2334 "Go/nogo for 0.30.0"
@JeffSpies @icereval

[2015-03-26 21:28] sloria commented on #2334
There are a few small bugs pending fixes.

https://github.com/CenterForOpenScience/osf.io/pull/2014 is just about ready for merge, pending a few small changes and a passing build. Will need QA.

Log pagination (https://github.com/CenterForOpenScience/osf.io/pull/2214) just went on staging, needs QA.

Once the above are addressed. I am a go. I anticipate being ready to deploy by tomorrow afternoon.

[2015-03-26 22:15] JeffSpies commented on #2334
Go pending fixes.

On Thursday, March 26, 2015, Steven Loria <notifications@github.com> wrote:

[2015-03-27 00:06] lbanner commented on #2334
Tomorrow afternoon sounds good, @sloria ! -- we'll make sure all passes through QA,  and I see no obstacles to that time-frame, pending a check on whether Courtney, Sara, or Brian N are doing any OSF stuff outside of office -- though looks like ACS is done today. TY.

[2015-03-27 13:34] caileyfitz opened #2335 "[staging & production] SHARE graph percentages overhang"
# Steps
1. Go to the share page on staging or production
2. On production, search for 'experiment'
3. On staging, search for 'converse'
4. Look at the pie charts for each query

# Expected
I expected that the percentages in the pie chart would be fully visible and easy to read.

# Actual
The percentages frequently overhang the colored part of the graph, making them difficult or even impossible to

[2015-03-27 13:57] #2266 closed

[2015-03-27 13:57] #2281 closed

[2015-03-27 14:24] nicipfeiffer opened #2337 "[Staging & Production] SHARE: Graph index of providers does not equal total number of results"
## Steps
1. Go to osf.io/share
2. Enter ' * ' in to the search query so that all results for all providers are reported
3. Hover over the graph, go to the far right side.
4. Take note of the total number of events reported under the search bar

## Expected
The total number of events is equal to the total of each of the provider events for all results for all providers

## Actual
The numbers are no

[2015-03-27 14:29] lyndsysimon commented on #2277
:+1:

I've been interested for some time in implementing a storage provider that is under the control of the person/institution, as opposed to third party providers. This looks like it might fit the bill while still being not too different from the cloud providers we've already implemented :)

[2015-03-27 14:54] lbanner opened #2340 "Time-out on Google Doc for SHARE Project"
Specific to this project at the moment: https://osf.io/68ymx/

# Steps
Under Google Drive, in the meeting notes folder, click to open this file "2015-03-09 Joint WG Meeting Notes.gdoc"

# Expected
File will render and be readable

# Actual
Error occurs: "Timeout occurred while loading, please refresh the page"

The original file set to “anyone with the link can view" is here:
https://docs.google.c

[2015-03-27 14:55] lbanner commented on #2340
@sloria or @kushG ? Thanks -

[2015-03-27 15:05] sloria commented on #2340
Looking into it now.

@lbanner Are you able to render other gdoc files?

[2015-03-27 15:09] kushG commented on #2340
@lbanner seems to be working correctly on my system.
![screen shot 2015-03-27 at 11 08 58 am](https://cloud.githubusercontent.com/assets/8779995/6870317/b711c6da-d471-11e4-9480-216e20fc6793.png)

[2015-03-27 15:11] lbanner commented on #2340
Interesting ... @erinspace did replicate the SHARE issue, and I am having the same 'time-out' error with this project just setup: https://osf.io/n68yt/files/

@nicipfeiffer -- when you get a chance can you check + replicate?

[2015-03-27 15:22] GaryKriebel commented on #2340
I am experiencing the same thing that @lbanner is.  I tried another Google Doc and also received a time out.

Google Sheet is rendering fine, as @kushG pointed out.

[2015-03-27 15:33] sloria opened #2341 "Sluggish scrolling in file browser"
### Steps

- Go to the files tab on a project with lots of files
- Scroll through the filebrowser at a reasonably quick speed

### Expected

Scrolls smoothly

### Actual

Scrolls partly down the filebrowser, stops, then the whole page scrolls down, causing the page to jitter.

![issue](https://cloud.githubusercontent.com/assets/2379650/6870824/dab6ec84-d474-11e4-9e7b-1028dbff43f9.gif)

[2015-03-27 15:39] lbanner commented on #2341
This in your wheelhouse @caneruguz ?

[2015-03-27 15:42] sloria commented on #2224
@caileyfitz or @nicipfeiffer : Can you check if this is working now?

[2015-03-27 15:53] caileyfitz commented on #2224
@sloria This is still not working for me. After over a minute of waiting for each file, I get one of two errors:
![screen shot 2015-03-27 at 11 50 37 am](https://cloud.githubusercontent.com/assets/5975444/6871283/e8e2340a-d477-11e4-91e7-e0d776001c0d.png)
or
![screen shot 2015-03-27 at 11 51 53 am](https://cloud.githubusercontent.com/assets/5975444/6871286/ec5d851c-d477-11e4-804f-5f53bd42fd73.png)

[2015-03-27 16:00] sloria commented on #2224
@rliebz Any update from the Dataverse folks about this?

[2015-03-27 16:00] nicipfeiffer commented on #2340
@lbanner and @sloria I replicated the issue.  Even creating a new gdoc, giving permission, then upload to a project on osf persists with render time out.

[2015-03-27 16:19] sloria commented on #2340
Replicated this locally and got a traceback:

[code]

This seems to have been fixed recently by https://github.com/CenterForOpenScience/pydocx/pull/113 .

We are currently pinning MFR's DocX renderer to @mfraezz 's fork of pydocx (which does not have that fix).

@mfraezz Are there any barriers to using the latest version of pydocx (esp. since https://github.com/CenterForOpenScience/pydocx/pull/95

[2015-03-27 16:19] rliebz commented on #2224
I have replicated the 504 with an MOV file on production that successfully uploads on the dataverse 4.0 feature branch with WaterButler. I'm not sure if this was an issue with the implementation of the python client, the OSF, or an issue on Dataverse, but it should be resolved with the new Dataverse release April 13th.

I haven't been able to replicate the 502, so I'm not sure if that issue will b

[2015-03-27 16:35] caileyfitz commented on #2224
@rliebz I can't get the 502 consistently :disappointed:

[2015-03-27 17:03] sloria commented on #2340
Ok, looks like the only barrier is removing the inline styling (see https://github.com/CenterForOpenScience/pydocx/issues/102), but we can get away with the workaround described in that issue.

I've updated mfr to use the latest version of pydocx. Will send a hotfix with the version update shortly.

[2015-03-27 17:04] lbanner commented on #2340
Nice work!

[2015-03-27 17:07] csoderberg opened #2343 "Very sluggish dropbox add-on"
After I have authorized dropbox on a project and imported and access token, the subfolders of my dropbox never appear. I let it go for two minutes, and they still had not appeared, only the top dropbox folder had appeared (see attached image for what it looked like at the 2 minute mark). This was in safari. Other add-ons, like github, seem to be working fine. I'm not sure if this is just due to th

[2015-03-27 18:58] sloria commented on #2340
Should be fixed now.

[2015-03-27 18:58] #2340 closed

[2015-03-27 19:15] lbanner commented on #2340
Looks good! TY

[2015-03-27 19:20] sloria commented on #2334
We are close to being ready to deploy. One last bug to fix: https://trello.com/c/9ypji0On/93-mendeley-and-zotero-are-not-connecting. The two remaining bug are with the SHARE alpha release and have been  deferred (got the go-ahead from the SHARE team).

Went over deployment steps with Michael, who gave a go-ahead.

[2015-03-27 19:29] GaryKriebel commented on #2334
Makes sense to me.

[2015-03-27 19:31] lbanner commented on #2334
:+1:

[2015-03-27 20:03] cosenal commented on #2312
Why not deleting the contributor directly in the first place? And

[2015-03-27 20:07] lbanner commented on #2312
:+1: @cosenal -- and I appreciate you sharing that article!

[2015-03-27 20:14] brianjgeiger commented on #2312
That is definitely where we are headed, but it would require a significant re-write of the code. Because this is such a potential problem (though I see it's tagged as low priority right now, so there may be some disagreement there), we wanted a quick fix to keep people from thinking they had removed a contributor but hadn't. Ultimately, all actions that happen on that screen will happen immediatel

[2015-03-27 20:17] lbanner commented on #2312
"Low" as it is an improvement, but not a bug -- With that said, if there are reported user issues + mistakes + complaints around this potential confusion currently, then I'll certainly up it!

[2015-03-27 20:21] brianjgeiger commented on #2312
Not reported from users, but very likely that someone could be left with access to a project when they shouldn't. Consequences could be very bad.

[2015-03-27 20:22] lbanner commented on #2312
Word - TY

[2015-03-27 20:40] GaryKriebel commented on #2309
'Invoke Server' is still not logging emails to the console, though `python main.py' is.  @sloria asked me to reopen the issue and he will investigate.

[2015-03-27 20:58] caileyfitz opened #2348 "[staging & production] TOC scrolls in wiki widget on project overview page incorrect for all cases"
## Steps

Case 1 - Projects:

1. Log into OSF on staging
2. Go to https://staging.osf.io/zvecb/
3. Go to the project overview page, the wiki widget.
4. Click each heading in the table of contents and check that the page scrolls to right above each heading
5. Click a heading that is truncated by the widget (ie: click 'CLICK ME' or anything below that)

Case 2 - Private View-only Link:

1. Go to htt

[2015-03-30 03:13] #2334 closed

[2015-03-30 13:25] bnosek opened #2350 "[production] Mendeley citation view shows an error when not logged in, but works when logged in"
Project: https://osf.io/y5gr9/

Shows this in anonymous mode:

![screen shot 2015-03-30 at 9 21 50 am](https://cloud.githubusercontent.com/assets/1761504/6897013/a17a5a5e-d6be-11e4-93db-38b361b568f9.png)

And this when logged in:

![screen shot 2015-03-30 at 9 25 13 am](https://cloud.githubusercontent.com/assets/1761504/6897032/b3ec1d94-d6be-11e4-8269-0e9df076ec81.png)

[2015-03-30 13:26] bnosek commented on #2350
I replicated issue reported by a user using Chrome.  User reports that problem occurred on Chrome, IE, and Firefox.

[2015-03-30 13:32] sloria commented on #2309
This is due to `python-livereload`'s configuration of the root logger, which is a known issue (https://github.com/lepture/python-livereload/issues/85). I've submitted a patch to python-livereload.

[2015-03-30 13:33] lbanner commented on #2350
Thank you @bnosek -- @nicipfeiffer or @caileyfitz -- can you please do a double check replication on this? Also pinging @lyndsysimon and @samchrisinger for consideration of fix. Thanks.

[2015-03-30 13:34] samchrisinger commented on #2350
I can take this issue if someone wants to assign it to me.

[2015-03-30 13:35] lbanner commented on #2350
You go it, @samchrisinger - TY

[2015-03-30 13:59] cosenal commented on #2309
@sloria I will keep my PR open, I believe it's still better to import livereload only in the live mode.

[2015-03-30 14:07] cosenal commented on #2277
I kind of understand how WaterButler works (it reminds me of KDE's akonadi), but I couldn't find any documentation on the it. For instance, does it have a specialized API to communicate with the core server?

[2015-03-30 14:13] jeg3tw opened #2351 "[staging & production] long wiki page on project overview"
# Steps
1. Go to https://staging.osf.io/spedc/

# Expected
The wiki widget would truncate the wiki contents to end at about the same place that 'Recent Activity' ends.

# Actual
The wiki widget extends far beyond that.

![](https://trello-attachments.s3.amazonaws.com/55145d5ea152815a90633066/1440x900/b53aa6f31fb59ae781e18ff81d52b1cc/2015-03-26_15_31_44.gif)

*The cut off is based on how many chara

[2015-03-30 14:17] jeg3tw opened #2352 "[staging & production] multiple tooltips on IE"
# Steps
1.  Open IE
2.  Go to a project
3.  Authorize several add-ons so that folders are displayed
4.  Download a file
5.  Return to the files page
6.  Hover over another file

# Expected
Tooltips would only display on hover and disappear after the mouse moves off.

# Actual
Tooltips are displayed long after the mouse moves off, they also moves from item to item (like hover on the download button

[2015-03-30 14:33] jeg3tw opened #2354 "[staging & production] two factor deauthorization button"
# Steps
1.  Go to user settings
2.  Go to configure add-ons
3.  Under security, check "two-factor authorization"
4.  Hit submit
5.  Authorize two-factor
6.  Now attempt to deauthorize add-on

# Expected
There will be an option to deauthoirze.

# Actual
The only way to de-authorize the two-factor is by unchecking the add-on option and hitting submit in which you get a message reading "successfully

[2015-03-30 14:42] caileyfitz opened #2355 "[staging & production] Redirected to another page for incorrect email"
# Steps
1. Go to either staging or production
2. If you are logged in, sign out
3. In the navbar, click the 'Forgot Password?' link
4. On the Forgot Password page, enter an email that is not in the database (a way to do this would be to change one letter of your email)
5. Press 'Reset Password'

# Expected
I expect that the user should get an error message saying that the email is not found and st

[2015-03-30 14:46] caileyfitz commented on #2350
Verified this is an issue

[2015-03-30 14:49] samanehsan opened #2356 "[Box][Figshare] File breadcrumbs should match file path"
Steps
--------
1) Configure the figshare addon for a project
2) View a figshare file
3) Repeat with the box addon

Expected
-------------
I expect the breadcrumbs to say `<OSF Project Name> / figshare / <filename>`  or `<OSF Project Name> / Box / <filename>` like with the other addons.

E.g. github breadcrumbs:
![screen shot 2015-03-30 at 10 45 24 am](https://cloud.githubusercontent.com/assets/641

[2015-03-30 14:50] HarryRybacki commented on #2355
This is an interesting point of discussion. There are two ways to do handle incorrect email/usernames submitted to a *Forgot my password* service.

1. Quietly fail. E.g., tell them the account information associated with notARealEmail@pewpew.com has been sent there.
2. Inform the user that notARealEmail@pewpew.com is not registered with the site and allow then to try again.

The former is more inl

[2015-03-30 15:31] JeffSpies commented on #2355
It should quietly fail, and the message should indicate that they will only
be receiving an email if it was a valid account. If they dont' receive an
email, and believe they should, contact support at osf.

J.

On Mon, Mar 30, 2015 at 10:50 AM, Harry Rybacki <notifications@github.com>
wrote:

[2015-03-30 15:34] lbanner commented on #2355
Sounds right -- @HarryRybacki is this in your realm to be able to pick up?

[2015-03-30 15:37] lbanner commented on #2329
This was correct, I believe -- I will close.

[2015-03-30 15:37] #2329 closed

[2015-03-30 15:39] lbanner commented on #2356
Although a good point, I wonder if this is just default to how Figshare manages data path and naming - and we just pull from them (?) -- I'll ask @chrisseto this one?

[2015-03-30 15:41] chrisseto commented on #2356
This has been addressed before by @nicipfeiffer.
The numeric structure is how figshare and box handle pathing of files.

A nice fix for this would be to build the full path from the file grid when it gets added to the page.

[2015-03-30 15:41] billyhunt opened #2357 "Long load times on first visit to osf.io"
Steps
-------
1.  Log out of osf.io
2.  Clear your cached data from a browser.
3.  Go to or reload https://osf.io
4.  Repeat steps 1-3 until the error occurs.  (Sometimes it happens every other time, at others, one time in ten)

Expected
------------

The page should load within 10 seconds for first time users with no cached data.

![screenshot 2015-03-30 11 26 57](https://cloud.githubusercontent.

[2015-03-30 15:44] lbanner commented on #2357
Ping @sloria for followup/Insight on this as well -- TY

[2015-03-30 15:46] lbanner commented on #2356
Nice fix? Not too difficult a fix? Your wheelhouse, @chrisseto, kind of fix if we decide to undertake?

[2015-03-30 15:48] lbanner commented on #2352
Insight @caneruguz + @brianjgeiger ?

[2015-03-30 15:51] chrisseto commented on #2356
That would be a question for @samanehsan, who is working on the file grid integration.

[2015-03-30 15:52] lbanner commented on #2351
I set this as 'low' given likelihood that someone *might* use in such a fashion i.e. large  items in the Home Wiki. But pinging @brianjgeiger and @caneruguz on this for now - just in case.

[2015-03-30 15:53] lbanner commented on #2277
@chrisseto or @icereval -- can you assist @cosenal ? Thanks.

[2015-03-30 15:55] chrisseto commented on #2277
@icereval and I will take some time this week to write up documentation for WaterButler.

[2015-03-30 15:58] lbanner opened #2358 "[Production] Let's Brand [OSF frame] the Log-in page"
# Current

Page is here: https://osf.io/login/

![screen shot 2015-03-30 at 11 55 59 am](https://cloud.githubusercontent.com/assets/2964829/6900358/f3e7f53e-d6d3-11e4-8cb5-5c0e75debe62.png)
# Desired
This log-in screen should have OSF branding/Page framing, rather then the mysterious floating along look.

[2015-03-30 15:58] brianjgeiger commented on #2351
Easy fixes, and has always been possible. It's a question of whether we want to give people the ability to do this or we want to ensure that the widgets are size-restricted. I have no firm preference on this, but I think organizationally we are currently leaning towards a consistent project summary page.

The proper fix is to set the max-height for the widget and hide the overflow.

[2015-03-30 15:58] HarryRybacki commented on #2355
@JeffSpies -- I thought that was what you'd say but wanted to make sure. @lbanner I'll throw it into the queue. Priority level?

[2015-03-30 15:59] lbanner commented on #2358
@HarryRybacki -- Can you make this improvement?

[2015-03-30 16:00] cosenal commented on #2277
@chrisseto awesome, thanks!

[2015-03-30 16:00] lbanner commented on #2356
OK -- @samanehsan -- post your current work, we can discuss :smiling_imp:

[2015-03-30 16:01] lbanner commented on #2355
Gave it a 'Medium' dependent upon your Epic work priorities -- but it's security concern, to me, makes it a worthwhile change to get deployed. TY.

[2015-03-30 16:01] samanehsan commented on #2356
Sounds good @lbanner!

[2015-03-30 16:02] jlcohoon commented on #98
Exploring collaboration networks by forks would also be helpful, and would likely increase the use of that feature. Right now, there is no way (to my knowledge) to find which projects are forks of others, and there is definitely no visualization of that collaboration network. <a href="https://osf.io/wfc6u/">One project on the OSF</a>, in particular, uses forking often, and would likely benefit a l

[2015-03-30 16:04] HarryRybacki commented on #2358
This was done explicitly. Single use forms (e.g. log in, forgot password, and two factor) look like this. This was also brought up by a UX person in town. I wouldn't be opposed to changing the color scheme of these forms to match the navbar though. Much more than that would be time inefficient for me as styling is pretty far from my realm of knowledge.

[2015-03-30 16:04] lbanner commented on #2351
:+1: on your approach from my pov @brianjgeiger -- I tagged with 'discuss' in case of any dissension in the ranks -- and am handing to you.

[2015-03-30 16:05] JeffSpies commented on #2355
If it's production, it needs to change now.

On Mon, Mar 30, 2015 at 12:01 PM, LarryB <notifications@github.com> wrote:

[2015-03-30 16:07] HarryRybacki commented on #2355
Rodger, shifting priorities.

[2015-03-30 16:07] lbanner commented on #2358
OK -- @JeffSpies raised as legitimate concern from a brand/recognized log-in security concern, so I will tag w/'discuss' -- and ping @caneruguz on the UI/UX.

[2015-03-30 16:08] lbanner commented on #2355
Got it --"High" -- appreciate it @HarryRybacki

[2015-03-30 16:10] JeffSpies commented on #2358
Let me check out that document. The feel is off too me. I felt like I was
getting phished.

On Mon, Mar 30, 2015 at 12:07 PM, LarryB <notifications@github.com> wrote:

[2015-03-30 16:11] HarryRybacki commented on #2358
We can make everything more congruent with the rest of the site but we don't want the overhead of a complete navbar and footer. Again, we should have discussed this stuff pre-release =/

[2015-03-30 16:13] JeffSpies commented on #2358
We did discuss this. Either way, I can't see evidence of unbranded forms
being recommended in the document.

Getting that template hot-fixed would be fine.

On Mon, Mar 30, 2015 at 12:11 PM, Harry Rybacki <notifications@github.com>
wrote:

[2015-03-30 16:15] HarryRybacki commented on #2358
Okay, I've got the security related changes prepped in my mind. How do we want to change the template to match our branding?

[2015-03-30 16:18] JeffSpies commented on #2358
The simple thing would be to just throw the form in the body of the base
mako template--like create account/sign-in but with just one form.

On Mon, Mar 30, 2015 at 12:15 PM, Harry Rybacki <notifications@github.com>
wrote:

[2015-03-30 16:20] HarryRybacki commented on #2358
Alright

[2015-03-30 16:26] brianjgeiger commented on #2351
Not that I couldn't handle this quickly, but this is a good one for someone who is just starting out on the OSF and wants a quick introduction to the process. It might be good to save it for a new intern or similar.

[2015-03-30 16:28] caneruguz commented on #2358
As Harry said there are many examples of these types of pages being relatively barren; the reason is they are focused actions, the goal is not conversation or distraction but getting the process completed.

I can see why Jeff thought it looks off, because it is different than other pages. I think Github is hitting a good balance and we could follow their example:

![screen shot 2015-03-30 at 12 26

[2015-03-30 16:30] caneruguz commented on #2351
One point on that, several widgets do their own sizing, the logs paginate now and treebeard has a fixed height. So I think it's not wrong to expect wiki widget panel doing it's own sizing.

[2015-03-30 16:31] HarryRybacki commented on #2358
Thanks @caneruguz -- I'm adding an OSF themed panel class to our CSS and testing out the look

[2015-03-30 17:05] fabianvf commented on #98
That would be very interesting. I have some plans to improve the elastic search models, but I am pretty busy with SHARE atm so if anyone else wanted to tackle it, I'd be happy to provide some guidance. I don't think it would be very hard. Once the information is in elasticsearch, building these types of visualizations/interfaces becomes much more doable.

[2015-03-30 18:05] billyhunt opened #2361 "Unexpected CSS Token on First Load in Safari"
Steps
-------
1. Log our of OSF.io
2.  Clear cache in Safari
3.  Open Console
4.  Go to https://osf.io

Expected
------------

![screenshot 2015-03-30 14 01 45](https://cloud.githubusercontent.com/assets/6232068/6903011/792e9c6e-d6e5-11e4-95e3-66b7347e68b2.png)

Actual
--------
There are some CSS Javascript warnings on the first load of osf.io in Safari.  They do not occur after the initial load.

[2015-03-30 18:08] lbanner commented on #2361
I tagged "low" as this doesn't appear to impact user experience, but we shouldn't be throwing errors -- ping @caneruguz for insight?

[2015-03-30 18:16] jlcohoon opened #2362 "Remove "previous" from version view options"
**Steps**
1. Visit a wiki with more than two versions
2. In the top right of the display frame, there is a dropdown that has "current" selected. Click on the dropdown and view the options.

**Outcome**
1. The version that was last instantiated is listed as "previous" and all of the other preceding ones are numbered in the dropdown. For example, in a case where there are three versions of the wiki,

[2015-03-30 18:17] caneruguz commented on #2361
These are all from libraries that we use but they are not our own css; plus the errors themselves are still legitimate css, Safari's evaluation is not very accurate, it refers to an edge use of css.

These are not really errors we can do anything about, so I think we can close this issue.

[2015-03-30 18:21] lbanner commented on #2361
OK -- appreciate the feedback -- There any better way to approach use of libraries not owned by us? - or generally, is it to be expected that certain browsers will handle CSS and os 'errors' differently?

[2015-03-30 18:21] #2361 closed

[2015-03-30 18:27] caneruguz commented on #2361
Not really, we don't want to touch library code unless it's a version we have forked, but that's very rare.

CSS; we can easily override if necessary; but  this is not a case where we need to intervene. I think the best process is to err on the side of creating the issue or notifying developers; we can then eliminate what is not actionable.

[2015-03-30 18:27] brianjgeiger commented on #2362
The reason for this is that Previous is a useful shortcut for comparisons. As a general rule, you're probably always going to want to compare the current version with the previous version.

That being said, when we implemented it, it was originally going to have the versions listed and previous would be along with, so you'd have version 1, version 2, version 3, previous, current, and preview, wher

[2015-03-30 18:33] jlcohoon commented on #2362
If you're looking at the project logs, it can say that you updated to
version 5. But if you look at the dropdown in the wiki view, it only lists
up to 3, which is confusing at first. If the versions are in chronological
order, won't the version with the greatest number always be the previous
version? Meaning that it's still easy to compare current to the previous
(highest numbered) version?

On Mo

[2015-03-30 18:40] caileyfitz opened #2363 "[staging & production] Search bar occluded with certain screen sizes"
# Steps
1. Go to either staging or production
2. Log out of whichever site you are on
3. Press the magnifying glass to open the search bar
4. Resize the screen to be at a width between 768 and 991 pixels

# Expected
I expect that no matter what the screen size, the green search bar should be visible.

# Actual
Between these screen widths, the navbar obscures the search bar:
![screen shot 2015-03-3

[2015-03-30 18:43] brianjgeiger commented on #2362
So comparing with the logs is weird. I can see that. We might be able to do something like:
[code]
Or, of course, we could ditch the Previous altogether as an identifier. The main reason to keep it is because it does show up in the URLs that can be shared, and there's no real indication of what Previous means if it's not listed in the UI somewhere. And we could still honor previous and no longer p

[2015-03-30 18:48] huangginny opened #2364 "[staging & production] Inconsistencies with guids of figshare files"
**Steps**
Prereq: Make sure you have a figshare project, and have a folder inside this project, and then have a file inside this folder
1. Link your OSF project to your figshare project
2. Open the file and make note of the GUID
3. Change the link so that your OSF project links to the figshare folder, not the project
4. Open the file again and make note of the GUID

**Expected**
Two GUIDs should b

[2015-03-30 18:49] lbanner commented on #2362
:+1: ... With no other context, I can see it's not clear that 'Version 5' is current and 'Version 4' is most recent i.e. previous.

[2015-03-30 18:50] caileyfitz commented on #2348
@lbanner I just realized that I never put a title on this! Just confirmed that this is still an issue on staging and production.

[2015-03-30 18:52] caileyfitz commented on #2335
@erinspace @fabianvf Realized that I should have tagged you guys. Also... I may have put this in the wrong repo?

[2015-03-30 18:56] fabianvf commented on #2335
No, this is the correct repo. We will address this in the next few days. Erin has an incremental graph improvement PR up already. I don't think it addresses this issue though.

[2015-03-30 18:57] caileyfitz commented on #2335
Okay, great! Thanks, @fabianvf

[2015-03-30 19:02] sloria commented on #2357
Yes, looks like one of more of the servers on the CDN from which we download jquery and jquery-ui is being sluggish.

We can certainly just add jquery and jquery-ui to our vendor bundle. We might lose out on the caching benefit of the CDN, but that is probably outweighed by the reliability and reduced roundtrips of serving the assets ourselves.

Will send a patch soon.

[2015-03-30 20:23] lbanner commented on #2348
Misaligned anchors or the like @brianjgeiger ?

[2015-03-30 20:31] brianjgeiger commented on #2348
I think for some cases, it's just that it's going down a bit too far. For stuff farther down on the page, it's not properly linking because the content isn't actually on the page.

I think the ideal solution would be to have a parameter that we could pass to the markdown plugin to tell it to send pages to a related URL, then have the TOC links take you to the full wiki page. Aside from modifying t

[2015-03-31 12:48] nicipfeiffer commented on #2356
This is the issue @chrisseto is referring to https://github.com/CenterForOpenScience/osf.io/issues/2221. Referencing it here for any additional info it can provide.

[2015-03-31 13:28] nicipfeiffer opened #2368 "[Staging & Production] Add-on folder linking in Log inconsistent"
## Steps
1. Go to your dropbox account and create a folder inside your dropbox
2. Do the same for your box account. (create a new folder in the account)
3. Go to a project that you have admin privileges on

4. In the project's setting import the access token for dropbox
5. Select the new folder inside the dropbox folder from the folder picker widget
6. Submit
7. Do the same for the box add-on. Imp

[2015-03-31 13:39] caileyfitz commented on #2363
Tagging @caneruguz here for input.

[2015-03-31 13:41] caneruguz commented on #2363
Yes the expectation is correct. This size issue happens between certain intervals which is a small amount of possible size but it needs to be addressed.  @HarryRybacki might have suggestions or fixes for this, if not I can take a look as well.

[2015-03-31 13:52] lbanner commented on #2368
Interesting question would be: Who has write control currently for text/language in the logs? Do we interpret/alter and write? Or do we depend upon info out of the Add-on itself and simply display? @brianjgeiger (going to you first) ?

[2015-03-31 13:53] samanehsan opened #2369 "Github & Dataverse files select buttons do not show with long repo/study names"
Steps
--------
1. Configure the dataverse addon for a project using a study with a long name
2. Go to the project dashboard page and look at the files widget
3. Repeat for the github addon

Expected
-------------
Only the study name should be truncated and the "released/draft" select button for dataverse and the branch select for github should still show in the grid. Example using dataverse:
![scr

[2015-03-31 15:19] sloria commented on #2350
Fixed by @samchrisinger

[2015-03-31 15:19] #2350 closed

[2015-03-31 15:48] chennan47 commented on #2312
@lbanner @brianjgeiger It's a simple change for the language part. However the redirect link will conflict with the current behavior of the contributor table. So if currently you click a second time anywhere on the removed contributor lane, it will unremove the contributor. Thoughts?

[2015-03-31 15:51] lbanner commented on #2312
Good one for you to grab @chennan47 -- @brianjgeiger Look to you for thoughts here? TY

[2015-03-31 17:20] HarryRybacki commented on #2363
@lbanner I chatted with @caneruguz about this. It'll be a quick fix if he's assigned to it. Otherwise I'll get to it when I have a few hours to learn up on this stuff and hack it it for a bit.

[2015-03-31 17:25] chennan47 commented on #2354
talked with @lyndsysimon, it doesn't make sense to have a button to deauthorize twofactor and the only way to deauthorize this addon should be to remove this addon. But probably we can add link there to remove the addon. Thoughts @brianjgeiger @lbanner @sloria @GaryKriebel

[2015-03-31 17:53] brianjgeiger commented on #2354
From a UI Standpoint, make sure it's consistent, which may just mean having a "Disable two factor authentication" in the same place that a "Deauthorize Github" link might show.

[2015-03-31 17:54] brianjgeiger commented on #2354
That's presuming it's presented in the same way. I may change my mind when I have a chance to look over the current workflow.

[2015-04-01 13:50] nanchen47 commented on #2308
This is fixed by 8dede15. The share button is no longer available on box and dropbox addon.

[2015-04-01 13:50] #2308 closed

[2015-04-01 13:54] nanchen47 commented on #2177
Talked with @lyndsysimon. The new OAuth system has already been merged in and verify on production that this bug is gone.

[2015-04-01 13:54] #2177 closed

[2015-04-01 13:58] nanchen47 commented on #1695
The paginator has already been added to 'Add Link' results and checked on production that this problem has been solved.

[2015-04-01 13:58] #1695 closed

[2015-04-01 14:06] #2117 closed

[2015-04-01 14:09] lyndsysimon commented on #677
Self-assigning; this is part of my task list for this epic.

[2015-04-01 15:08] samanehsan commented on #2356
Thanks @nicipfeiffer! @chrisseto, I looked into this earlier and I can't pull the path off of the grid because of lazyloading. Instead, I think the path with all of the folder/file names will have to be constructed on the backend.

[2015-04-01 15:42] samanehsan commented on #2182
This works in firefox on staging and production.

[2015-04-01 15:53] samanehsan commented on #2203
When you refresh the page, the error message is there. I think this will only happen if the user is on this page while access is revoked and then they try to change the selected folder.

[2015-04-01 16:57] chennan47 commented on #2312
A short hotfix for this is rdy.
Since there is binding to the panel that when a contributor is in the deletedStages, the second click on anywhere of the line will just revert the remove contributor behavior. Add a redirect link to the save button on the line won't work under current behavior. And add another button outside the contributors table create a lot of extra css problems which takes time

[2015-04-01 17:54] samanehsan opened #2376 "Comments tab icon off-center"
Steps
--------
1. Go to the overview page for one of your osf projects
2. Look at the comments tab

Expected
------------
The comment bubble icon is centered on the comment pane tab.

Actual
--------
The icon is slightly higher than it should be:
![screen shot 2015-04-01 at 1 52 52 pm](https://cloud.githubusercontent.com/assets/6414394/6947611/715df4c0-d876-11e4-8c77-f705a2802f08.png)

[2015-04-01 17:57] huangginny commented on #2376
I fixed this in #1762 !

[2015-04-01 18:26] brianjgeiger opened #2377 "Onboarding with negative results archive"
I wonder if we could make a simplified onboarder, kind of like we do with the Presentations service, where people who have just finished an experiment with a negative result could just upload the contents with the equivalent of an abstract and a bunch of files. In return, they would be sent their OSF Project link.

There are a bunch of ways to do this, but the idea is that, after you spend 8 weeks

[2015-04-01 18:36] #2358 closed

[2015-04-01 20:33] chennan47 commented on #1669
The file page is using the same dropzone as the file page. And I tested on safari that the dropzone on file page works. So it seems not to be a problem of dropzone. Talk with @sloria and tried to log the dropzone element and the knockout binding also seems correct.
![screen shot 2015-04-01 at 4 26 02 pm](https://cloud.githubusercontent.com/assets/4974056/6951793/d8de270e-d88b-11e4-8dde-c4353b909e0

[2015-04-01 20:34] billyhunt opened #2380 "Multiple iOS Image Uploads Create New Versions, not Separate Images."
When uploading images to OSF via iPhone or iPad, the images are all named "image.jpg."  If more then one image is uploaded, it is considered a new version of the same image.

1.  Go to a project
2.  Go to Files
3.  Upload 2 images.

Expected:

Both images should appear in your project.

Actual:

Only one image is listed "image.jpg" with 2 versions.

![img_0840](https://cloud.githubusercontent.com/

[2015-04-01 20:46] chennan47 commented on #1256
discussed with @brianjgeiger @sloria , the current front end can't support the synchronous update. This problem also occurs on the project organizer when you have a project in two folder on the same page that update one project won't update it in the other folder. In order to fix this problem, it needs a structure rework of the front end. As a result, put this to defer.

[2015-04-01 20:58] nanchen47 commented on #2113
I verified on production that this problem has been solved.
![screen shot 2015-04-01 at 4 58 03 pm](https://cloud.githubusercontent.com/assets/11743657/6952492/50a166da-d890-11e4-8088-168c5ebd4b99.png)

[2015-04-01 20:58] #2113 closed

[2015-04-01 21:06] nanchen47 commented on #2201
The hotfix pr has been merged in and checked on production.
![screen shot 2015-04-01 at 5 05 26 pm](https://cloud.githubusercontent.com/assets/11743657/6952615/6536995c-d891-11e4-980c-d971cd51b3a3.png)

[2015-04-01 21:06] #2201 closed

[2015-04-01 21:14] nanchen47 commented on #2159
@caileyfitz could you verify this issue has been solved in production.

[2015-04-01 21:24] nanchen47 commented on #2080
It works when the content is inside the current editing window. When the search content is not in current ace editor window which is hidden as it goes beyond the wondiw height, the search function from your browser can't find it that it seems to be the right behavior. The possible solution can be adding a search function inside the ace editor.

[2015-04-01 21:35] nanchen47 commented on #1843
I verified this has been fixed on production.

[2015-04-01 21:35] #1843 closed

[2015-04-01 23:13] lbanner commented on #1256
Agreed @chennan47

[2015-04-01 23:16] lbanner commented on #2380
This is a good catch @billyhunt  -- marked for discussion, as it is worthwhile to imagine and/or have data on potential mobile usage for image file uploads - not knowing difficulty of altering image names from iOS uploads.

[2015-04-01 23:17] lbanner commented on #1669
Want to keep digging in here @chennan47 ? TY

[2015-04-02 12:19] caileyfitz commented on #2159
@nanchen47 Yes, this is fixed on prod :+1:

[2015-04-02 12:52] AndrewSallans opened #2382 "File rendered overlaps"
What you did (step by step)
* Went to this page:  https://osf.io/ibdv8/
![screen shot 2015-04-02 at 8 51 14 am](https://cloud.githubusercontent.com/assets/2151933/6964264/7245c01c-d915-11e4-8e54-a75d71c2c3bf.png)

What you expected
* Should resize, wrap, or something to not overlap

What actually happened
* Overlapped

Potential causes
* Not sure

Suggest a solution
* Will not overlap

[2015-04-02 13:20] #2159 closed

[2015-04-02 13:29] brianjgeiger commented on #2382
Is there a general solution we can use for these problems? Because they keep coming up. I know the general problem is that some renderers require a width to be set explicitly and similar. It would be great if we could have a div container that all the plugins could use as a width bound. Would that require a big MFR refactor?

[2015-04-02 13:37] nanchen47 commented on #2355
![screen shot 2015-04-02 at 9 35 59 am](https://cloud.githubusercontent.com/assets/11743657/6964939/cb5efbcc-d91b-11e4-8a8b-85a227020a5b.png)
This has been fixed on production.

[2015-04-02 13:37] #2355 closed

[2015-04-02 14:11] nanchen47 commented on #2382
This is the duplicate issue as https://github.com/CenterForOpenScience/osf.io/issues/2254.

[2015-04-02 14:11] #2382 closed

[2015-04-02 14:13] nanchen47 commented on #2254
@mfraezz can you help to fix this problem? Thanks.

[2015-04-02 14:22] sloria commented on #2309
@cosenal Merged.

Will close this ticket once this is no longer an issue in both livereload and non-livereload modes.

[2015-04-02 14:26] lbanner commented on #2182
Opens in Safari -- Looks cool! -- Tested and working in IE as well @sloria

[2015-04-02 14:28] billyhunt commented on #2380
Thanks.  FYI,  the images on iOS have names, the OSF is just not picking them up.

[2015-04-02 14:28] #2182 closed

[2015-04-02 14:29] sloria commented on #2182
Thanks for checking @samanehsan and @lbanner

[2015-04-02 14:30] lbanner commented on #2380
:+1:

[2015-04-02 14:33] brianjgeiger commented on #2380
Do you know how they are stored/transmitted? If it's just a matter of accepting a field name in dropzone or our code, that's an ideal fix.

[2015-04-02 14:39] saradbowman opened #2384 "No "remove" link if only 1 Employer listed on profile"
Steps
-------
1. Go to your user profile settings page.
2. Enter your employer:
![screen shot 2015-04-02 at 10 32 53 am](https://cloud.githubusercontent.com/assets/7749914/6966078/4c41ebfc-d924-11e4-8b31-7fb3eebcdfa9.png)
3. Click "Add another:"
![screen shot 2015-04-02 at 10 33 00 am](https://cloud.githubusercontent.com/assets/7749914/6966090/5e44cbc6-d924-11e4-80f9-792c8c3c9b54.png)
4. "Remove"

[2015-04-02 14:45] chennan47 opened #2385 "[2factor]the warning message doesn't update properly"
Current behavior:

1st issue
When user clicks to enable 2-factor, there is an incorrect success message. This message should not appear until after the user successful enters their verification code.

2nd issue:
After entering the verification code, the user does not get a success message within the form (when they should).

3rd issue:
Status messages appearing at the top of the screen are not nee

[2015-04-02 14:46] lbanner commented on #2080
So -- It does work even in the above scenario if my curser is in the Wiki Edit window when I do the Find -- Unless I hear :scream: 's, I am tempted to drop this to low and defer for now (?)

[2015-04-02 14:51] brianjgeiger commented on #2080
Does it work if you command-f while the ace editor has focus?

[2015-04-02 14:52] saradbowman opened #2386 "Add ResearchGate field to User Profile"
Many researchers use ResearchGate; may want to be able to add link to their profile

[2015-04-02 14:53] saradbowman opened #2387 "Add multiple personal websites to profile"
Users may have multiple personal websites (one associated with their institution, one associated with a professional society, one entirely personal - as examples) - but we currently only allow 1 associated with a profile.

[2015-04-02 15:04] cosenal commented on #2309
@sloria Great that livereload patch is already merged ;-)
I was just having second thoughts about my PR. According to PEP8, all imports should always be put at the top of the file, see https://www.python.org/dev/peps/pep-0008/#imports

[2015-04-02 15:23] sloria commented on #2309
@cosenal Indeed, and we follow that guideline everywhere except for:

- `tasks.py`, so that invoke can be used without having all the dev requirements installed (otherwise you wouldn't be able to run `inv requirements`
- When a circular import is at play

[2015-04-02 15:30] cosenal commented on #2309
@sloria I see, thanks for clarifying this.

[2015-04-02 15:33] saradbowman opened #2389 "Failure to Render Unicode Characters"
Steps
-------
1. Upload a txt file with unicode characters (UTF-8)
2. Attempt to view the file via the file renderer
3. Characters appear garbled.

Expected
------------
Characters would render as they appear in the text file:
![screen shot 2015-04-02 at 11 24 28 am](https://cloud.githubusercontent.com/assets/7749914/6967172/b05102a2-d92b-11e4-9495-66a1600cad96.png)

Actual
--------
Characters do

[2015-04-02 15:37] brianjgeiger commented on #2080
Really, the Ace editor has the capability to find from within the editor. It is probably just involves adding a plugin. And this would be good functionality to have for the end user.

[2015-04-02 15:43] brianjgeiger commented on #2080
And, in fact, this looks like default behavior that Ace has that we may have disabled. http://stackoverflow.com/questions/13677898/how-to-disable-ace-editors-find-dialog

@rliebz Did we disable Ace's find on purpose?

[2015-04-02 15:48] rliebz commented on #2080
I don't believe we did. As far as I know, all settings are configured here:
https://github.com/CenterForOpenScience/osf.io/blob/d92df8b804a7ecffdfb930f8726db3080e75a59b/website/addons/wiki/static/ShareJSDoc.js#L21-L33

The only command we manually remove is `showSettingsMenu`.

[2015-04-02 15:54] brianjgeiger commented on #2080
Huh. So it probably is a bug not a feature.

[2015-04-02 16:12] lbanner commented on #2080
A bug that we can fix? Anyone?

[2015-04-02 16:17] lbanner commented on #2389
Set this as "high" as it came in via Help Desk -- @brianjgeiger any thoughts on realm of solution (i.e. dev expertise) within which this might reside? TY

[2015-04-02 16:19] chennan47 commented on #2389
This is a mfr problem. Prolly goes to @mfraezz

[2015-04-02 16:20] brianjgeiger commented on #2389
What @chennan47 said. It's probably just that we aren't handling unicode properly through the stack, so it's probably a fairly simple solution. But Matt's the one with the most recent experience doing just that sort of thing.

[2015-04-02 16:27] rliebz commented on #2080
Possibly. My guess would be that Ace is using its default behavior (find is special cased only when Ace is given focus), which is inconsistent with what we want. It's hard to say how easy it would be to fix, but I imagine there is a solution out there.

[2015-04-02 17:25] lbanner commented on #2389
OK - @mfraezz is on "walk-about" until April 18 -- I'll tag him with this, but also would like insight on user priority @saradbowman ?

[2015-04-02 18:24] billyhunt commented on #2380
The bad news is Safari changes the name of every image you upload to "image.jpg."  The worse news is Safari wipes the metadata too.  Thanks Apple!  Soooo, one possible workaround is to use unique OSF generated names for images, but that would hose your current version system. Maybe just remove the ability to upload from iOS?  Without the metadata or names, the images have a lot less value.

Androi

[2015-04-02 18:55] abought opened #2392 "Notification email_transactional should not depend on comments"
As discussed with @sloria, the function `email_transactional` in `website/notifications/emails.py` should not depend on comments. (line 37) It should be able to handle other notification types and not expect a "commenter" field to be present in the template context.

[2015-04-02 19:06] nanchen47 commented on #2169
As the new folder which is https://github.com/CenterForOpenScience/osf.io/pull/2014 by @samchrisinger just go on staging, the pr is just under testing and modifying a lot of parts of the current addon backend. It's better to address addon issues after this is quite settled. Besides revoking api process itself is quite an edge case and it will be solved in the process when we refactor the old addon

[2015-04-02 20:10] ginavuu commented on #2307
Wondering if this issue has been fixed? I am still experiencing this issue when my window is narrow.

[2015-04-02 20:12] ginavuu commented on #2314
This is happening to me too when browser has been re-sized.

[2015-04-02 20:13] caneruguz commented on #1678
This issue can be closed now I think it was tested in a prior release.

[2015-04-02 20:53] lbanner commented on #1678
@caileyfitz -- can you confirm if you would, and we'll close. Thanks.

[2015-04-03 00:11] mfraezz commented on #2389
I don't actually leave for another ~36 hours. I'm on it

[2015-04-03 01:32] mfraezz commented on #2254
The width appears to be hard-coded to 700 pixels (and height to 600). Don't know why that was set in the first place, but I'll work on getting it to scale to the parent container.

[2015-04-03 02:27] lbanner commented on #2389
OK @mfraezz -- Thank you!

[2015-04-03 02:27] lbanner commented on #2254
:+1:

[2015-04-03 02:41] lbanner commented on #2392
Question: Does this represent a user-facing issue? -- or rather improved, more better, functionality on the back-end? ... trying to measure approach and priority. Thanks @abought

[2015-04-03 05:06] abought commented on #2392
This issue does not affect users at present. But from a design standpoint, it hinders the ability to roll out new email notification features that users might want in the future. Essentially, your general function (send notification) is tightly coupled to one particular type of notification (comments).

For example, this would be a blocking issue for wiki @ person notifications.

[2015-04-03 13:08] brianjgeiger opened #2393 "Production test server"
As we increase the capability for third parties to work with our data and services, we need to have a place for them to play and test a stable and feature-complete version of the site. Essentially a copy of all of our active services, but with a minimal set of data. This includes all of the SHARE, Waterbutler, and ElasticSearch services, but in a way that won't corrupt the SHARE stream if they cre

[2015-04-03 13:10] GaryKriebel commented on #2393
This would be good for the 3rd party regression testing to be conducted in the near term.  They asked today about the test server.

[2015-04-03 14:50] nanchen47 commented on #2384
The current behavior is that once you have ever entered an employment you need to have at least one employment info there and you can't remove any employment info anymore if there is only one. Possible solution will be add a button allow you to clear up the employment info if there is only one and allow you to update. @lbanner @GaryKriebel Thoughts?

[2015-04-03 14:56] nanchen47 commented on #2369
Put this issue to deferred since @samanehsan has a PR https://github.com/CenterForOpenScience/osf.io/pull/2229 which will change the file page user interface. It's probably better to have that pr merged first

[2015-04-03 15:08] nanchen47 commented on #2364
There is no way to compare those two files since they are in two different folder in the third party service. I think the behavior is right. The files should have 2 different GUID. @chrisseto @sloria @brianjgeiger Thoughts?

[2015-04-03 15:20] nanchen47 commented on #2343
@chrisseto any idea on this issue?

[2015-04-03 15:30] nanchen47 commented on #2337
@nicipfeiffer Could you verify this problem still exists? I can't repo this problem.

[2015-04-03 15:37] nanchen47 commented on #2332
The released data on this event is 2014-11-04 and the other one is 2014-10-29, which is more than 3 months ago. I assume this is the right behavior since there are actually no event going on in the last three months. @nicipfeiffer @erinspace

[2015-04-03 15:45] nanchen47 commented on #2326
@caileyfitz I can't repo this problem on staging or production. Can you verify if this problem still exists? Thanks.

[2015-04-03 15:54] nanchen47 commented on #2309
The fix is done and I verified this has been fixed on develop branch.

[2015-04-03 15:54] #2309 closed

[2015-04-03 15:56] nanchen47 commented on #2307
This is also related to issue https://github.com/CenterForOpenScience/osf.io/issues/2314

[2015-04-03 16:03] billyhunt commented on #2380
As expected, the file uploading and downloading works with Android.

[2015-04-03 16:11] chrisseto commented on #2343
@csoderberg Link to the project please

[2015-04-03 16:27] #2284 closed

[2015-04-03 17:27] #2255 closed

[2015-04-03 17:46] nanchen47 commented on #2235
This problem is actually fixed on staging but not yet on production. The fix is possibly included in https://github.com/CenterForOpenScience/osf.io/pull/2014. Once the 31 release is out. Need QA to verify this has been fixed on production.

[2015-04-03 17:55] nanchen47 commented on #2269
I think we allow the html tag in wiki at least. Any thought? @brianjgeiger @rliebz

[2015-04-03 18:05] nanchen47 commented on #2203
All the old addons needs to refactor auth to the new oauth system. Once the refactor is in, this problem should be solved. Defer after the 31 release of @samchrisinger 's folder cleanup is on production.

[2015-04-03 18:08] nanchen47 commented on #2190
@lyndsysimon https://github.com/CenterForOpenScience/osf.io/pull/2289 should solved this problem.

[2015-04-03 18:09] #2185 closed

[2015-04-03 18:13] brianjgeiger commented on #2269
Yes, we allow a limited number of tags to be rendered as HTML. https://www.npmjs.com/package/markdown-it-sanitizer

[2015-04-03 18:13] #2269 closed

[2015-04-03 18:14] #2167 closed

[2015-04-03 18:19] nanchen47 commented on #2153
@sloria any update on this one? Thanks.

[2015-04-03 18:20] nanchen47 commented on #2146
@kushG any update on this one?

[2015-04-03 18:24] billyhunt commented on #2387
I will grab this one.

[2015-04-03 18:33] sloria commented on #2153
We are able to run our tests using `inv karma --sauce`.

I think we can close this issue once we have integrated it with Travis CI.

[2015-04-03 18:39] nanchen47 commented on #2062
This problem only occurs in "Chrome". It doesn't happen in Firebox, safari and IE.

[2015-04-03 18:42] #2056 closed

[2015-04-03 18:45] #2027 closed

[2015-04-03 18:51] nanchen47 commented on #2026
This is related to issue https://github.com/CenterForOpenScience/osf.io/issues/2362

[2015-04-03 18:55] #2022 closed

[2015-04-03 19:04] nanchen47 commented on #2021
@caileyfitz can you verify if this problem still exist?

[2015-04-03 19:14] nanchen47 commented on #1835
@rliebz will the Dataverse 4.0 upgrade address the problem? Can you provide updates on this one?

[2015-04-03 19:16] #1761 closed

[2015-04-03 19:22] #1739 closed

[2015-04-03 19:23] nanchen47 commented on #1736
related to issue https://github.com/CenterForOpenScience/osf.io/issues/2288

[2015-04-03 19:25] nanchen47 commented on #1693
Perhaps at some point, also include a color-blind board for color-blind user to adjust the color for themselves.

[2015-04-03 19:26] rliebz commented on #1835
No, Dataverse 4.0 will not affect the widget.

The widget updates with metadata pulled from their API as it is rendered on the page. I think the ideal behavior would be that when a project with the Dataverse widget is registered, that information is saved to the registration so that we can guarantee the state of the widget. Removing the widget completely from registrations also seems like a viable

[2015-04-03 19:27] nanchen47 commented on #1692
related to https://github.com/CenterForOpenScience/osf.io/issues/1621

[2015-04-03 19:35] nanchen47 commented on #1690
@sloria @JeffSpies could you give a direction on this issue?

[2015-04-03 19:37] chennan47 opened #2394 "[production]delete files tooltip stays even you deleted the file and move your cursor to other place"
<b>Steps</b>
1. go to a project files page on production
2. choose a file and click on the remove cross
3. the remove tooltip will show up and stay there forever unless you refresh the page

![screen shot 2015-04-03 at 3 35 51 pm](https://cloud.githubusercontent.com/assets/4974056/6987633/45dcbe6a-da17-11e4-8255-7624aedf2176.png)
![screen shot 2015-04-03 at 3 32 48 pm](https://cloud.githubusercont

[2015-04-03 19:38] chennan47 commented on #2394
related issue https://github.com/CenterForOpenScience/osf.io/issues/2352

[2015-04-03 19:40] nanchen47 commented on #1688
related to https://github.com/CenterForOpenScience/osf.io/issues/2282. Discussion can be continued there.

[2015-04-03 19:40] #1688 closed

[2015-04-03 19:44] nanchen47 commented on #1686
Since this problem only occurs in one file and probably a firefox special problem, close this one. Reopen if you can repo this problem.

[2015-04-03 19:44] #1686 closed

[2015-04-03 20:13] nanchen47 commented on #1654
Also the message if there is no forks are no line up as registration page.
![screen shot 2015-04-03 at 4 13 06 pm](https://cloud.githubusercontent.com/assets/11743657/6988142/581c2368-da1c-11e4-9598-fa0e6c9814d5.png)
![screen shot 2015-04-03 at 4 12 59 pm](https://cloud.githubusercontent.com/assets/11743657/6988143/5be9f114-da1c-11e4-9a0f-3a6748a8cddc.png)

[2015-04-03 20:26] nanchen47 commented on #1678
@caneruguz It seems this problem still exists on production. It is kinda of different tho.
![screen shot 2015-04-03 at 4 23 42 pm](https://cloud.githubusercontent.com/assets/11743657/6988302/00bd9eba-da1e-11e4-86fd-c668d98bd1fe.png)
![screen shot 2015-04-03 at 4 23 50 pm](https://cloud.githubusercontent.com/assets/11743657/6988305/053deb84-da1e-11e4-9be9-27cbad2383db.png)

on a super long name fil

[2015-04-03 20:29] nanchen47 commented on #1677
@caileyfitz can't repo this problem anymore. Can you verify if this problem still exist?

[2015-04-03 20:31] nanchen47 commented on #1673
@caileyfitz check again after April 13th when dataverse update is done.

[2015-04-03 20:33] nanchen47 commented on #1672
Perhaps the cross should be disabled while uploading. I don't think we support the functionality to cancel upload right now.

[2015-04-03 20:35] nanchen47 commented on #1665
related to https://github.com/CenterForOpenScience/osf.io/issues/1673

[2015-04-03 20:37] #1648 closed

[2015-04-03 20:47] nanchen47 commented on #1606
This is related to issue https://github.com/CenterForOpenScience/osf.io/issues/2254. and @mfraezz has a fix for that. https://github.com/CenterForOpenScience/modular-file-renderer/pull/168. Close this one and continue the topic on https://github.com/CenterForOpenScience/osf.io/issues/2254.

[2015-04-03 20:48] chennan47 commented on #2254
related issue https://github.com/CenterForOpenScience/osf.io/issues/1606. After the fix being merged, need to test word file as well.

[2015-04-03 20:50] nanchen47 commented on #1577
Same issue as https://github.com/CenterForOpenScience/osf.io/issues/2146. Close this one and continue discussion and follow up there.

[2015-04-03 20:50] #1577 closed

[2015-04-03 20:55] nanchen47 commented on #1527
@fabianvf  @brianjgeiger any thoughts on this?

[2015-04-03 20:58] nanchen47 commented on #1524
same issue as https://github.com/CenterForOpenScience/osf.io/issues/1621

[2015-04-03 20:58] #1524 closed

[2015-04-03 21:04] nanchen47 commented on #1522
@sloria any thoughts about this?

[2015-04-03 21:05] brianjgeiger commented on #1527
Ideally, the Total should be at the top, SHARE at the bottom, and everything else in alphabetical order. Total should be visually distinct to indicate that it's a total. SHARE should be distinct to indicate that it takes you to a completely different search page. Total *could* go below the results that it's totaling, then SHARE below that.

I don't necessarily agree that the filters that aren't va

[2015-04-03 21:05] #1521 closed

[2015-04-03 21:12] nanchen47 commented on #1510
@lyndsysimon can you give an update on this issue? Thanks.

[2015-04-03 21:21] nanchen47 commented on #1502
@fabianvf any update on this?

[2015-04-03 21:23] nanchen47 commented on #1498
@nicipfeiffer can't repo this problem. Can you verify this problem still exist? Thanks.

[2015-04-03 21:26] nanchen47 commented on #1491
@chrisseto has a fix for figshare part of this problem. Defer to check after April 13th dataverse update or the dataverse part.

[2015-04-03 21:29] nanchen47 commented on #1474
Checked on https://osf.io/bu3mr/. This problem doesn't exist anymore.

[2015-04-03 21:35] #1466 closed

[2015-04-03 21:36] JeffSpies commented on #1690
This is actually on this sprint to clarify. I believe Gary has a proposal
put together.

On Fri, Apr 3, 2015 at 3:35 PM, nanchen47 <notifications@github.com> wrote:

[2015-04-03 21:39] chennan47 opened #2395 "[production] tooltip doesn't show up for public project's anonymous link"
<b>Steps</b>
1.create a public project
2. create a anonymous link for this public project

<b>expected</b>
As of issue https://github.com/CenterForOpenScience/osf.io/issues/1466 and commit https://github.com/CenterForOpenScience/osf.io/commit/3912ffdb0c44f0fbcc0b504c7d4f206ff67841ef by @sloria, it should look like
![image](https://cloud.githubusercontent.com/assets/4974056/6989341/4da65528-da28-11

[2015-04-03 21:44] #1474 closed

[2015-04-03 22:00] nanchen47 commented on #1457
related issue https://github.com/CenterForOpenScience/osf.io/issues/2380

[2015-04-03 22:02] #1462 closed

[2015-04-03 22:03] nanchen47 commented on #1462
The fix has been merged in.

[2015-04-03 22:09] #1410 closed

[2015-04-03 22:14] nanchen47 commented on #1045
https://github.com/CenterForOpenScience/osf/pull/1189 never got merged in. The new full request for this fix is https://github.com/CenterForOpenScience/osf.io/pull/1305

[2015-04-04 04:53] mfraezz commented on #1606
This is similar, but not directly related to https://github.com/CenterForOpenScience/osf.io/issues/2254. It's likely caused when PyDocX parses an image-containing document and [assigns](https://github.com/CenterForOpenScience/pydocx/blob/be828b94da1a05a4b021e7673697745dce7e89a6/pydocx/parsers/Docx2Html.py#L193) it fixed dimensions. The other possibility is just if the image is too large for the pa

[2015-04-04 14:20] fabianvf commented on #1527
I agree with Brian. I think total - alphabetical - SHARE is the most intuitive. I also agree that showing 0 result categories is not interesting.

[2015-04-04 17:19] nanchen47 commented on #1606
@mfraezz thanks for clarify. Reopen this one

[2015-04-04 17:28] nanchen47 commented on #1344
now when you trying to upload a file bigger than 1 MB to github through osf, you will get a warning as
![screen shot 2015-04-04 at 1 26 14 pm](https://cloud.githubusercontent.com/assets/11743657/6993792/3abeda74-dace-11e4-9ccc-3706bd301c37.png)
however the warning will disapper after a few seconds and then what you will see is
![screen shot 2015-04-04 at 1 25 59 pm](https://cloud.githubusercontent

[2015-04-04 17:44] nanchen47 commented on #1376
same issue as https://github.com/CenterForOpenScience/osf.io/issues/1690. Close this one and continue discussion there.

[2015-04-04 17:44] #1376 closed

[2015-04-04 17:44] nanchen47 commented on #1365
@AndrewSallans has this problem been addressed yet?

[2015-04-04 17:47] nanchen47 commented on #1392
We don't have the create an account or sign-in page anymore.

[2015-04-04 17:47] #1392 closed

[2015-04-04 17:53] #1381 closed

[2015-04-04 17:55] nanchen47 commented on #1370
@chrisseto has fixed this problem.

[2015-04-04 17:55] #1370 closed

[2015-04-04 17:59] nanchen47 commented on #1321
@samanehsan Is this problem going to be addressed in https://github.com/CenterForOpenScience/osf.io/pull/1762

[2015-04-04 18:01] nanchen47 commented on #1266
The search backend actually support the filter, just need some front end work to make this be obvious to user.

[2015-04-04 18:03] nanchen47 commented on #1258
@sloria any update on this one?

[2015-04-04 18:11] nanchen47 commented on #1232
same issue as https://github.com/CenterForOpenScience/osf.io/issues/1669

[2015-04-04 18:11] #1232 closed

[2015-04-04 18:21] chennan47 opened #2396 "signin form and forgot password shouldn't show up when you are on two factor code page"
<b>Steps</b>
1.have two osf accounts one of which has two factor enabled
2. log in to the one with two factor account but stop at the two factor verification
you will see
![screen shot 2015-04-04 at 2 15 05 pm](https://cloud.githubusercontent.com/assets/4974056/6993972/584a8546-dad5-11e4-849f-d0dac641b483.png)
3. then use the right top bar to log into another account, you will see
![screen shot 20

[2015-04-04 18:26] nanchen47 commented on #2384
related issue https://github.com/CenterForOpenScience/osf.io/issues/1230

[2015-04-04 18:29] #1227 closed

[2015-04-04 18:34] AndrewSallans commented on #1365
I don't believe that this has been done.

cc:  @saradbowman @jolene-esposito

[2015-04-04 18:34] #1204 closed

[2015-04-04 18:38] nanchen47 commented on #1201
The interface has been changed and this is no longer an issue

[2015-04-04 18:38] #1201 closed

[2015-04-04 18:39] #1200 closed

[2015-04-04 18:43] #1185 closed

[2015-04-04 18:44] nanchen47 commented on #1167
This problem already got solved.

[2015-04-04 18:44] #1167 closed

[2015-04-04 18:56] nanchen47 commented on #1126
addressed by https://github.com/CenterForOpenScience/osf.io/pull/1305

[2015-04-04 18:59] nanchen47 commented on #1118
@kushG any updates on this one?

[2015-04-04 19:06] nanchen47 commented on #1087
You can only drag the widget to top but not bottom. Not sure if it is designed to be so or a bug @lyndsysimon thoughts?

[2015-04-04 19:07] nanchen47 commented on #1085
@samanehsan is this problem going to be addressed in https://github.com/CenterForOpenScience/osf.io/pull/1762

[2015-04-04 19:09] #1076 closed

[2015-04-04 19:37] fabianvf commented on #1266
Yes, this is definitely a UI issue primarily.

[2015-04-04 19:48] saradbowman commented on #1365
Not done yet to my knowledge
On Apr 4, 2015 2:34 PM, "Andrew Sallans" <notifications@github.com> wrote:

[2015-04-05 01:26] AndrewSallans opened #2397 "Presentation service conference logo not resizing properly"
![screen shot 2015-04-04 at 9 22 05 pm](https://cloud.githubusercontent.com/assets/2151933/6995361/b7c81354-db10-11e4-923f-1543fc379ed4.png)

This meeting ends today, and I think the organizers are promoting this service now, so getting a quick fix in would be ideal.

What you did (step by step)
* Went to https://osf.io/view/ASB2015/

Where does this happen on the OSF?
* https://osf.io/view/ASB201

[2015-04-05 02:10] lbanner commented on #2397
Possible that the uploaded logo is just too large - and we don't auto size? Not sure how Presentation logos get into the app - but can we replace with a smaller logo? @sloria or @saradbowman ... Insight on the backend here?

[2015-04-05 02:20] brianjgeiger commented on #2397
The problem is that the image has the class "image-responsive" and it should be "img-responsive". The following is how it should look.

![screen shot 2015-04-04 at 10 19 53 pm](https://cloud.githubusercontent.com/assets/6599111/6995460/ce59c646-db18-11e4-93cd-f04e4f5b4b0c.png)

[2015-04-05 02:46] lbanner commented on #2397
@brianjgeiger --- who can make needed change? TY!

[2015-04-05 02:56] brianjgeiger commented on #2397
Fixed in #2398

[2015-04-05 03:05] lbanner commented on #2397
You da man @brianjgeiger - thank you - @sloria if you can review and deploy #2398 asap that'd be great - TY!

[2015-04-05 03:06] AndrewSallans commented on #2397
Thanks for the fix, @brianjgeiger

[2015-04-05 14:50] lbanner commented on #1085
I believe it will -- @huangginny 's code handles this with the option to go to the full discussion page.

[2015-04-05 14:53] lbanner commented on #1094
@nanchen47 -- the PR for this doesn't look to be closed yet -- Should this not remain open for now?

[2015-04-05 14:58] lbanner commented on #2384
I agree -- this would be right approach @nanchen47 : 'add a button allow you to clear up the employment info if there is only one and allow you to update.' -- Want to take this on?

[2015-04-05 15:45] #2397 closed

[2015-04-05 16:32] nanchen47 commented on #1094
@lbanner You are right. This issue hasn't been fixed yet. Should stay open. My fault.

[2015-04-05 16:35] nanchen47 commented on #1094
Actually it has the same drag and drop problem as the statistic panel which is you can only drag and drop from bottom to top but not to bottm

[2015-04-05 16:59] lbanner commented on #2395
Good catch -

[2015-04-05 17:26] lbanner commented on #2392
Indeed! Apologies sir! :smiling_imp:

[2015-04-05 20:36] lbanner commented on #1739
@nanchen47 -- Did this one deploy to Production as well? Thanks.

[2015-04-05 20:43] lbanner commented on #2026
Not quite the same/related on this one I think. However, I am going to go with @caneruguz in this case - presently - barring any reported user confusion as yet, let's not put the work into changing the buttons. Closing for now - Thanks.

[2015-04-05 20:43] #2026 closed

[2015-04-05 20:44] lbanner commented on #2027
@HarryRybacki and @nanchen47 -- Is this deployed to Production as yet? Thanks.

[2015-04-05 23:49] kushG commented on #2146
@nanchen47 , I got involved into another feature request which is almost into its final stages. Once this PR https://github.com/CenterForOpenScience/osf.io/pull/2231 is merged I'll get back to continue working on this !

[2015-04-06 00:03] kushG commented on #1118
@nanchen47 It seems to me that this issue can be closed. The bigger Download button(green) was resolved as per my comment above. And the blue occluded download button was taken care by https://github.com/CenterForOpenScience/osf/pull/1209. Although, as I can see this PR is not being merged, I believe this has been taken care as it is no longer an issue on production.

[2015-04-06 01:28] lbanner commented on #1118
Great @kushG -- @nanchen47 I will close this one. Thanks.

[2015-04-06 01:28] #1118 closed

[2015-04-06 01:29] lbanner commented on #2146
:+1:

[2015-04-06 01:30] lbanner commented on #2387
:+1:

[2015-04-06 01:34] lbanner commented on #2190
Correct @nanchen47  -- I will close this in favor of @lyndsysimon 's new work.

[2015-04-06 01:34] #2190 closed

[2015-04-06 01:35] lbanner commented on #2203
Good - yes.

[2015-04-06 01:39] lbanner commented on #2307
@caneruguz ?

[2015-04-06 01:41] lbanner commented on #2332
@erinspace -- Can you provide insight on whether this is an issue or not? Thanks.

[2015-04-06 12:49] nicipfeiffer commented on #1498
@nanchen47 I no longer get these errors.

[2015-04-06 12:52] lbanner commented on #1498
Cool! -- Let's close it for now :smile_cat:

[2015-04-06 12:53] #1498 closed

[2015-04-06 13:10] chennan47 commented on #1739
@lbanner this pr is merged into develop 28 days ago. I believe it should be on production.

[2015-04-06 13:11] chennan47 commented on #2027
@lbanner This pr is merged to develop on March the 4th. As a result, I think this should be on production.

[2015-04-06 13:17] samchrisinger commented on #2203
We might actually have regressed on this in the latest iteration. Will put up a PR to resolve this.

[2015-04-06 13:18] HarryRybacki commented on #2027
Yep, this has been in production for a bit now.

On Mon, Apr 6, 2015 at 9:11 AM, Nan Chen <notifications@github.com> wrote:

--
*Harry Rybacki* - Developer, Center for Open Science
Research: http://scinet.osf.io
Blog: http://rybacki.io
[image: http://github.com/harryrybacki]
<http://github.com/HarryRybacki> [image:
https://twitter.com/HarryRybacki] <https://twitter.com/HarryRybacki> [image:
http:/

[2015-04-06 13:20] caileyfitz commented on #2326
@nanchen47 Yes, this still occurs. You have to search with the quotation marks: *"phosphatase activity in matrix vesicles as determined by infrared spectroscopy"*

[2015-04-06 13:22] brianjgeiger commented on #2326
https://osf.io/share/?q=%22phosphatase+activity+in+matrix+vesicles+as+determined+by+infrared+spectroscopy%22&sort=Relevance

[2015-04-06 13:27] lbanner commented on #2326
Could be wrong, but I am doubting that graph dynamically generates the axis labels -- and so this would be difficult to overcome -- I'd suggest we accept this edge case for now and close -- Debate?

[2015-04-06 13:28] caileyfitz commented on #2021
@nanchen47 Yes, this is still a problem.

[2015-04-06 13:29] brianjgeiger commented on #2326
Probably not too difficult. http://stackoverflow.com/questions/12643591/how-to-limit-d3-svg-axis-to-integer-labels

[2015-04-06 13:34] Ghalko commented on #2392
The only parameters that don't make sense to more general notifications is parent_comment and commenter. parent_comment is currently required, even though a blank string can be put through, but removing the need for this might be good. On the other hand the commenter would be nice to have no matter what the notification, but with a more generic name, such as user. However, commenter implies that t

[2015-04-06 13:35] caileyfitz commented on #1677
@nanchen47 I cannot reproduce this problem either.

[2015-04-06 13:38] nanchen47 commented on #1141
checked with @sloria the robots.txt has been added but incomplete. Change the title of the issue to enhance the robots.txt.

[2015-04-06 13:40] lbanner commented on #1677
Likely overcome with recent deployments around files -- I will close -- TY!

[2015-04-06 13:40] #1677 closed

[2015-04-06 13:43] lbanner commented on #2326
OK - Thank you @brianjgeiger -- will ping @erinspace and @fabianvf to put on their radar, and decide priority on this one.

[2015-04-06 13:44] lbanner commented on #2027
Cool!

[2015-04-06 13:46] #2389 closed

[2015-04-06 13:46] lbanner commented on #1739
@mckidwell Can you do me a favor and just double-check this one on Production with some/one of your projects? TY

[2015-04-06 13:49] sloria commented on #2389
Should be fixed on production now. The problem was that we were opening text files assuming ascii encoding. The minor change in https://github.com/CenterForOpenScience/osf.io/commit/8cd0b05f87c9ce32139196262a95ddae593f029a opens files with UTF-8 encoding.

[2015-04-06 13:59] sloria commented on #1141
To clarify: the OSF does have a robots.txt . Currently, it allows all robots complete access. This may be what we want anyway. @JeffSpies may have thoughts on this.

[2015-04-06 14:03] samanehsan commented on #1321
This is not resolved by #1762

[2015-04-06 14:05] abought commented on #2392
If we do keep this in `email_transactional`, then perhaps "sender", or something to describe their specific role in the transaction?

Whatever it's named, one other thing discussed with @sloria is that it would help to have documentation of what this function needs in order to be called.

Currently, it (and the transactional email template that wraps email content) explicitly depend on a number of

[2015-04-06 14:07] lbanner commented on #2392
+1 on that point re: documentation.

[2015-04-06 14:32] samanehsan commented on #2392
I agree `commenter` should be given a more general name to accommodate other notification types. `User` could work if there is documentation that clarifies it is the user who performed the action, not the user receiving the notification.

@abought, +1 on moving required variables into the call signature -- that should also help clarify what is required for this function vs. the notification email

[2015-04-06 14:34] abought commented on #2392
Also, here is the "wrapper" email template I referred to. It goes around any individual email template, so it contains additional template variables required by just about any email. This may be worth including in the documentation.

https://github.com/CenterForOpenScience/osf.io/blob/develop/website/templates/emails/transactional.html.mako

[2015-04-06 14:35] Ghalko commented on #2392
The function *needs* the listed parameters plus "commenter", "node_id", and "title" from **context. Other than that the **context is passed onto:

subject = Template(constants.EMAIL_SUBJECT_MAP[event]).render(**context)

which uses a template that can be defined differently and use as many variables from **context as you want. Documenting all the templates that this has access to would be over the

[2015-04-06 14:37] abought commented on #2392
Documenting every possible template would be over the top... I totally agree about limiting the scope of this issue.

But documenting the single wrapper shared by every individual template seems more reasonable.

[2015-04-06 14:42] Ghalko commented on #2392
A possible reason that some of those variables are in the ```**context``` is because they are used by the template mentioned by @abought. Though I could certainly refactor either the calling function and/or the template to be more self-documenting.

[2015-04-06 14:49] jeg3tw opened #2400 "[production] .docx rendering timeout"
# Steps
1.  Go to a project
2.  Go to the files tab
3.  Try to render a .docx file

# Expected
The file will render.

# Actual
A timeout will occur.

![screen shot 2015-04-06 at 10 48 52 am](https://cloud.githubusercontent.com/assets/9021353/7005898/926766c4-dc4a-11e4-851a-0c9f220a0d2a.png)

[2015-04-06 14:53] lbanner commented on #2400
@sloria -- can we get a guess on why this might have cropped up? Recent changes? Or is there some instability around rendering that pops-up-its-ugly-head once and awhile? FYI @mfraezz is away at present -- so if need to dig in -- suggestions?

[2015-04-06 14:56] erinspace commented on #2326
On the radar! Thanks all!

[2015-04-06 14:56] sloria commented on #2400
@lbanner Will take a look

[2015-04-06 15:04] jlcohoon commented on #1527
I think it does say something though to have categories with 0 results. If
I'm expecting to find a project or component with that search result in it,
and there aren't any, seeing 0 results is meaningful. Since there are a
small, finite number of predefined categories, 0 means something. In cases
like tags, where there can be thousands of them, you wouldn't say that
there were no results for each

[2015-04-06 15:06] JeffSpies commented on #1141
Looks like both osf.io (allow all) and staging.osf.io (disallow all) are how we want them.

[2015-04-06 15:20] mckidwell commented on #1739
@lbanner .docx files are timing out and failing to render; will let you know when I'm able to check.

[2015-04-06 15:32] sloria commented on #1141
@JeffSpies That is how they are currently configured.

Closing the issue.

[2015-04-06 15:39] sloria commented on #1739
@mckidwell Looking into a fix for docx rendering now.

[2015-04-06 16:09] nanchen47 commented on #1222
checked with @AndrewSallans there is no update from the user and can't repo this problem. Close this for now

[2015-04-06 16:09] #1222 closed

[2015-04-06 16:11] sloria commented on #2400
Fixed now.

[2015-04-06 16:11] #2400 closed

[2015-04-06 16:24] sloria commented on #980
@TimErrington That file seems to have been deleted. Can this issue be closed?

[2015-04-06 16:28] TimErrington commented on #980
Here's a similar file with the same issue. https://osf.io/2perh/

[2015-04-06 18:06] caneruguz commented on #1693
The color blind and accesibility issue should be handled more significantly throughout the site. I think it's worthy to be considered, but it's more than a single issue.

[2015-04-06 18:08] lbanner commented on #1693
Yes - that should be a separate issue, agreed. RE: this issue, specifically looking at our use of color in the file/project area -- Is this opportunity to apply what you are developing for scheme @caneruguz ?

[2015-04-06 18:09] caneruguz commented on #1693
My working version is already using colors from the palette I sent, there are now essentially only two colors for rows, the dark blue for selected and hover colors.

[2015-04-06 18:11] caneruguz commented on #2307
Yes, they are related, Nan brought this to my attention last week, I will be fixing both today.

[2015-04-06 18:27] lbanner commented on #1739
.docx rendering fixed by @sloria now -- TY!

[2015-04-06 18:28] lbanner commented on #1527
I agree with @jlcohoon's point on this one: +1

[2015-04-06 18:38] mckidwell commented on #1739
Thanks @sloria! Just checked a project - special characters in .docx files are rendered as expected.

[2015-04-06 18:50] lbanner commented on #1739
Marvelous -- Thank you @mckidwell -- all is good and closed with this one.

[2015-04-06 20:04] sloria commented on #980
Thanks @TimErrington . I've reported an issue on the pydocx tracker.

[2015-04-07 13:29] sloria commented on #2312
@chennan47 Changed the language to say "Will be removed after Save". @brianjgeiger Is this change enough to close the issue?

[2015-04-07 13:37] brianjgeiger commented on #2312
Yes, that should work.

[2015-04-07 14:31] nanchen47 commented on #2312
The pr has already been merged and go on production.

[2015-04-07 14:31] #2312 closed

[2015-04-07 15:19] sloria commented on #2396
I'm thinking this should be put on hold, pending @icereval 's CAS integration, which will involve changing the UI for sign-in/2fa.

[2015-04-07 15:22] lbanner commented on #2396
Agreed -

[2015-04-07 19:09] chennan47 commented on #2352
@caileyfitz I tried on IE 11 Windows 8.1. Can't repo this problem. Can you verify this problem still exist? Thanks.

[2015-04-07 19:14] caileyfitz commented on #2352
@nanchen47 Actually I talked with Caner about this and I think it was a caching issue.

[2015-04-08 13:12] lbanner commented on #2394
This was also noted in relation to the new 'create folder' PR #2327
"When I hover over the new folder button on the files page, the tooltip "sticks", i.e. it does not disappear after hovering off of the button. Refreshing the page removes the tooltip, but then the tooltips don't show at all after that."

[2015-04-08 13:27] billyhunt opened #2412 "Adding a blank Institution in Profile causes Internal Server Error Message"
Steps
-------
1.  Go to User Profile
2.  Go to Education Tab
3.  Change Institution Field
4.  Click "Add Another"
5.  Click "Submit"

Expected
------------

If there is a blank Employment or School object, it should be ignored with the save happening, and no Internal Server Error should happen in the console.

Actual
--------

The save is not possible, and the following error shows in the console.

[2015-04-08 13:35] lbanner commented on #2412
You want this @billyhunt -- since you are working in this area at present?

[2015-04-08 14:23] billyhunt commented on #2412
Sure.  Makes sense to me.

[2015-04-08 14:27] lbanner commented on #2412
You got it -- TY

[2015-04-08 16:33] nicipfeiffer opened #2415 "[Staging & Production] Add-ons folder path calling inconsistent"
## Steps
1. Log into your account and create a brand new project
2. Go to the project settings page and go through the steps to authorize and link content for each add-on (except external link and two factor)
3. Include linking a nested folder for the add-ons box, Dropbox and Google Drive
4. For each add-on look at the folder path calling in 4 locations: the folder picker widget for the add-on, th

[2015-04-08 18:35] Ghalko commented on #2279
Submitted 2 PRs:
https://github.com/samchrisinger/markdown-it-toc/pull/3 @samchrisinger
https://github.com/brianjgeiger/markdown-it-video/pull/4 @brianjgeiger

Waiting for review/merging before continuing with integration.

[2015-04-08 19:39] Ghalko commented on #1266
One thing that will ameliorate the * problem is by appending the * when the search is blank. This would at least address part of that issue.

Can we prepend and append "+" and "-" to a tag? If you hit + it adds it to the search, if you hit - it add the negative. This would mostly be in the results.

Or better on hover the symbols appear at either end? Just throwing ideas out there.

[2015-04-09 16:19] Ghalko commented on #1266
Here are two proofs of concept coming from different avenues:
- http://jsfiddle.net/76zfycdz/

![hoverx](https://cloud.githubusercontent.com/assets/5169088/7071249/304e600e-deb2-11e4-9228-993caafbd4cf.gif)

With the fiddle I think using a fa-times-circle would work quite nicely.

[2015-04-09 18:33] sloria commented on #2279
@brianjgeiger @Ghalko  Are there breaking changes in the syntax that would affect OSF users?

[2015-04-09 18:57] Ghalko commented on #2279
@sloria There aren't any syntax changes to the markdown itself. I am sorry to have confused that. The syntax is within the module and the plug-ins, no API was changed/broken.

[2015-04-09 19:06] samchrisinger commented on #2279
:+1:

[2015-04-09 19:37] #2279 closed

[2015-04-09 22:36] nanchen47 commented on #2395
This pr has been merged and this fix already imply in production

[2015-04-09 22:36] #2395 closed

[2015-04-10 14:03] saradbowman opened #2432 "[production] Unable to import contributors from parent project"
Steps
-------
1. Navigate to a project with multiple contributors
2. Create a new component in the project.
3. Go to "Sharing" and click "Import contributors from [parent project]"

Expected
------------
imported contributors will populate the add contributors modal

Actual
--------
Nothing happens

I have experienced this in both Chrome (Version 41.0.2272.118) and Safari (Version 7.1.3 (9537.85.1

[2015-04-10 14:23] sloria commented on #2432
Fixed by #2433

[2015-04-10 14:23] #2432 closed

[2015-04-10 15:09] caneruguz commented on #2394
@nanchen47 this isn't happening for me in production. Can you provide details like browser? Is it replicable with different add ons?

[2015-04-10 15:10] caneruguz commented on #2352
Is this still happening?

[2015-04-10 15:12] caneruguz commented on #1678
I'm having a hard time replicating all these tooltip issues.  Can we provide more details on the context where these issues are happening?

[2015-04-10 15:15] chennan47 commented on #2352
@caneruguz I tried again on IE11 on windows 8.1. This problem doesn't happen. Close it for now

[2015-04-10 15:15] #2352 closed

[2015-04-10 15:18] nanchen47 commented on #1678
Just checked on production. Can't repo this problem anymore.

[2015-04-10 15:18] #1678 closed

[2015-04-10 15:34] nanchen47 commented on #2394
This problem only happens in production but not staging and even if you localhost branch on master. You can't repo this problem locally. Perhaps it can be solved with the new release. Talk with @sloria, @caneruguz . Put this to defer

[2015-04-10 19:10] chrisseto commented on #2277
@cosenal Documentation can be found at [waterbutler.io](http://waterbutler.io)

[2015-04-10 19:34] chrisseto commented on #1344
When moving and copying comes out the limit will be increased to 100MB

[2015-04-11 20:31] bnosek opened #2447 "[production] Presentation service unexpectedly added submission to another project of same name"
What you did (step by step)

Where does this happen on the OSF?

What you expected

What actually happened

Additional notes from Sara:

The project also lists "presentation service" as a contributor on the
project. Presentation Service is the account associated with the 'admin'
contributor we've discussed before - Josh wrote a migration script to
replace personal accounts as invisible contributor

[2015-04-12 21:35] bnosek opened #2454 "[production bug] Adding emails non-functional"
Going to account setting and adding emails resulted in error messages.

![screen shot 2015-04-12 at 5 34 36 pm](https://cloud.githubusercontent.com/assets/1761504/7107665/3b7dd268-e13a-11e4-85a9-a5b072ce3126.png)

[2015-04-12 21:41] GaryKriebel commented on #2454
@bnosek what action did you take for that error to show?  I just added two alternate emails and it properly placed them in the "unconfirmed" list and then clicking the link in the received email properly placed then in the "alternate" list.

[2015-04-12 21:45] bnosek commented on #2454
Clicked on "Edit your profile"
Clicked on "Account settings"
In "unconfirmed emails" I typed in an email address
Clicked on "Add email"

received error message

On Sun, Apr 12, 2015 at 3:41 PM, Gary Kriebel <notifications@github.com>
wrote:

[2015-04-12 21:48] lbanner commented on #2454
Interesting -- To too walked through this without error. If you log out and log back in, are those input 'unconfirmed' emails still there? But maybe you have not received a confirmation email? ... wonder if we can dig into a specific account error log @sloria ?

[2015-04-12 22:03] GaryKriebel commented on #2454
I just tried again on Chrome, Firefox, and Safari with desired results on all browsers.

[2015-04-12 22:06] bnosek commented on #2454
Looks like I might need to clear my cache.  Hang on.

On Sun, Apr 12, 2015 at 3:48 PM, LarryB <notifications@github.com> wrote:

[2015-04-12 22:07] sloria commented on #2454
I just saw the error pop up in Sentry and made a patch. @bnosek Can you try again please?

[2015-04-12 22:09] bnosek commented on #2454
clearing cache addressed it.

can close.

On Sun, Apr 12, 2015 at 4:07 PM, Steven Loria <notifications@github.com>
wrote:

[2015-04-12 22:09] GaryKriebel commented on #2454
@sloria when did you make the patch?  Wonder if it was the patch or Brian clearing the cache that fixed it.

[2015-04-12 22:10] sloria commented on #2454
I don't believe the bug was cache-related; there was an edge case that was unhandled in the code, which I patched on prod. I'll make a proper hotfix shortly.

[2015-04-12 22:11] GaryKriebel commented on #2454
I'll keep this open until your proper hotfix is complete.

[2015-04-12 22:15] #2454 closed

[2015-04-12 22:16] sloria commented on #2454
Should be fixed now.

[2015-04-12 22:20] bnosek opened #2455 "[production] Creator of DOI not the correct user"
I created a DOI for a registration, but the EZID page lists the creator as another member of the project:

![screen shot 2015-04-12 at 6 18 33 pm](https://cloud.githubusercontent.com/assets/1761504/7107841/7ebf4862-e140-11e4-9426-a9083d90736b.png)

[2015-04-12 22:44] lbanner commented on #2455
That's interesting too -- @sloria path for delivering account info to EZID? Are we grabbing the wrong contributor name somehow?

[2015-04-12 23:05] sloria commented on #2455
@bnosek The Creator of the DOI will be the full name of the creator of the project (not necessarily the user who clicked "Create DOI...").

Should the behavior be changed?

[2015-04-12 23:21] bnosek commented on #2455
That is probably sensible behavior.  Perhaps in the future, we can give the
user an option for who is named (assuming that it must be a single
person).  Fine for now.

On Sun, Apr 12, 2015 at 5:05 PM, Steven Loria <notifications@github.com>
wrote:

[2015-04-12 23:33] JeffSpies commented on #2455
Does it have to be a single person? Given that they're creating a preview
citation, that doesn't seem right.

On Sun, Apr 12, 2015 at 4:21 PM, Brian Nosek <notifications@github.com>
wrote:

[2015-04-12 23:50] lbanner commented on #2455
Wonder if EZID allows for multiple creators? May be a limitation on their end, but we can look into that.

[2015-04-12 23:52] bnosek commented on #2455
That would certainly be ideal for our use case.  All authors on the project
are listed.

On Sun, Apr 12, 2015 at 5:50 PM, LarryB <notifications@github.com> wrote:

[2015-04-13 00:07] GaryKriebel commented on #2455
I will look over the API documentation to see if there is any mention on
number of creators.

On Sun, Apr 12, 2015 at 7:52 PM, Brian Nosek <notifications@github.com>
wrote:

[2015-04-13 00:33] GaryKriebel commented on #2455
Yes, multiple names are allowed.  It looks like they should be separated with ;

[2015-04-13 02:51] lbanner commented on #2447
This is a good catch -- I think some discussion is needed on resolution. The 'flagged as spam' is standard response, as I have understood it, for presentation services and generally does not coincide with reality, even if a named project or conference already exists -- that is in addition to any Admin migration issues that remain I'd like to suggest that Community take lead as a Product Owner in p

[2015-04-13 12:58] csoderberg commented on #2343
It happens on any project I try it on, but here is one example:
https://osf.io/5hj4a/

On Fri, Apr 3, 2015 at 12:11 PM, Chris Seto <notifications@github.com>
wrote:

--
Courtney Soderberg, Ph.D
Statistical and Methodological Consultant
Center for Open Science

[2015-04-13 13:13] chrisseto commented on #2343
@csoderberg Looks like Dropbox isn't linked to that project.

[2015-04-13 13:17] csoderberg commented on #2343
Right, after I de-authorized the the dropbox add-on since the folders never
loaded I just went ahead and unlinked dropbox entirely, since that's the
project i use for workshops and try to keep it clean. I just re-linked it.

On Mon, Apr 13, 2015 at 9:13 AM, Chris Seto <notifications@github.com>
wrote:

--
Courtney Soderberg, Ph.D
Statistical and Methodological Consultant
Center for Open Science

[2015-04-13 13:18] chrisseto commented on #2343
Have you selected a folder as well?

[2015-04-13 13:45] nicipfeiffer opened #2456 "[Staging & Production] [SHARE] Clicking 'More' and scrolling to top causes navbar to jump"
## Steps
1. Go to https://osf.io/share/?
2. Type in a search that returns a lot of results, can enter "*" to get all results
3. Scroll to the bottom and click on 'More'
4. Repeat step 3 a few times, without scrolling to top
5. Scroll to the top quickly (pay attention to the navbar)

## Expected
That scrolling to the top with many results on the page would have no errors on the page

## Actual
When

[2015-04-13 14:22] chrisseto commented on #2456
I'm not sure if theres much that we can do about that.
@caneruguz and @brianjgeiger, thoughts?

[2015-04-13 14:23] chrisseto commented on #2343
@nanchen47 Resolved with @csoderberg, can you close this?

[2015-04-13 14:36] #2343 closed

[2015-04-13 14:52] jlcohoon opened #2459 "Contributors permissions are forgotten after adding unregistered contributor/hitting back"
<h4>Steps</h4>
1. Go to the sharing page of a project. Click to add a contributor.
2. Search for a user's name, click to put them into the "adding" column.
3. Adjust their permissions so that it is not the default "admin" setting.
![screen shot 2015-04-13 at 10 41 37 am](https://cloud.githubusercontent.com/assets/4965832/7118036/a71f37e2-e1ca-11e4-8ab4-c401b6482a56.png)
4. Hit next
5. On the next

[2015-04-13 14:55] cosenal commented on #2277
@chrisseto many things are still unclear :( Maybe we should have a chat on IRC. If you happen to be there, please ping me (cosenal on #cos).

[2015-04-13 15:08] sloria commented on #2277
@cosenal A number of people from COS are currently at PyCon doing sprints on waterbutler. They will likely be available for help on IRC. ping @lyndsysimon @brianjgeiger

[2015-04-13 15:09] cosenal commented on #2277
@sloria thanks. I am chatting with @chrisseto already :)

[2015-04-13 15:13] jlcohoon opened #2460 "Add contributor search results not updated when looking for user with special character"
<h4>Steps</h4>
1. Visit the sharing page of a project and click to add a contributor
2. Search to add a current user with special characters in their name (try Bélén Fernández or Marcus Möschl)

<h4>Outcome</h4>
1. The results, which show recently added contributors when you first open this modal, are not updated. They do not show results for the name you searched, nor do they return that no users

[2015-04-13 15:42] nicipfeiffer opened #2461 "[Staging & Production] Registration page link to Popular Registrations"
## Steps
1. Go to a public project with no registrations (here's one: https://osf.io/btc75/ )
2. Click on the registration tab
3. See the text 'There have been no registrations of this project. For a list of the most viewed and most recent public registrations on the Open Science Framework, click here. '
4. Click on 'here' a link to most viewed and most recent public **registrations**

## Expected

[2015-04-13 16:06] ginavuu opened #2462 "[IE] Confirmed email does not show as alternative email"
Steps
1. Log into primary account
2. Go to user settings
3. Click account settings tab
4. Input an email address tha is already assoicated with an  unconfirmed user (someone who started to make an osf account but never confirmed their email)
5. Click "Add Email"
6. Confirm the email

Expected
The email address should now be listed under alternative emails instead of unconfirmed email

Actual
The e

[2015-04-13 16:06] wisherp opened #2463 "No 'Back to OSF' below the text-box in the sign-in page"
STEPS
1. Log out of osf.io
2. In the nav bar, enter your correct email but an incorrect password that is at least six characters long.
3. Check that you get an error message saying login failed and are redirected to another page (sign-in) page.
4. With the correct password, enter an invalid email.
5. Check that you get an error message saying log-in failed.

EXPECTED
I expected there to be a 'Back

[2015-04-13 16:18] ginavuu opened #2464 "[IE] Small window makes navigation behind video"
Steps
1. Using IE, go to https://osf.io/9ubcv/.
2. Shrink the window's width
3. Click on project navigation

Expected
The drop down menu would drop over the video.

Actual
Only in IE the window drops behind the video.

![navi](https://cloud.githubusercontent.com/assets/11032617/7119875/4211130e-e1d7-11e4-8337-ccd852ad5b98.PNG)

[2015-04-13 16:20] nicipfeiffer commented on #2412
@billyhunt I think you are saying that this also occurs with employment and leaving the first field for 'Institution / Employer' blank when it has 'Required' in the text box.
If you have an incorrect date range, the error will tell you what is incorrect, like 'End date must be greater than or equal to the start date.'
I think the same sort of error needs to be happening here to inform the user tha

[2015-04-13 16:21] wisherp opened #2465 "[IE] GitHub: Add-ons"
STEPS
1. Select and enable add-ons (user settings)
2. Configure add-ons (user settings)
3. Import credentials into a project.
4. Configure add-on for the project (link a folder, repo, etc)
5. View a file in the linked folder (check for breadcrumbs, version table, download and delete buttons)

EXPECTED
The GitHub folder would render and the files associated with the folder could be viewed.

ACTUAL

[2015-04-13 16:28] lbanner commented on #2465
Just with IE? ..... this a WaterButler thing @icereval or maybe you have insight @samchrisinger ? Thanks.

[2015-04-13 16:30] lbanner commented on #2412
Those fields are "required?" -- I agree with @nicipfeiffer 's 'blah blah' idea.

[2015-04-13 16:31] lbanner commented on #2464
@caneruguz  -- Thoughts here?

[2015-04-13 16:32] ginavuu commented on #2464
Seems to be only on IE

[2015-04-13 16:33] caileyfitz opened #2466 "[staging & production] Overflow for folderpicker confirmation section"
# Steps
1. Go to a project on which you have admin access
2. Enable an add-on which has folderpicker (Google Drive, figshare, Mendeley, Zotero, Box, Dropbox)
3. For whichever add-on you have selected (I found the problem after selecting Google Drive), go to the service's site and add a folder that has an extremely long name
4. In the folder picker, select that folder with the long name to connect

[2015-04-13 16:33] wisherp commented on #2465
The testing was intended to be done in IE but getting the same issue in Chrome also.

[2015-04-13 16:34] chrisseto commented on #2465
Please provider a link to the project.

[2015-04-13 16:35] chrisseto commented on #2465
@wisherp And make it public please.

[2015-04-13 16:38] jlcohoon opened #2467 "Buttons on slide in footer do not lead anywhere"
<h3>Steps</h3>
1. Visit an OSF page while logged out.
2. On the footer that slides up from the bottom, click on the "Create an Account" or the "Learn More" buttons.

<h3>Outcome</h3>
1. The buttons do not link you to a new page, nor do they open a new tab.

<h3>Expected</h3>
1. The buttons should open a new tab with the desired URL.

[2015-04-13 16:39] ginavuu opened #2468 "[IE] Entering a blank email box"
Steps
1. Log into your primary account on staging.
2. Go to user settings
3. Click the account settings tab
4. Enter nothing into the box above 'Add Email' button
5. Hit submit.

Expected
To get a message that email cannot be blank

Actual
The message does not appear after clicking submit,

[2015-04-13 16:40] lbanner commented on #2467
My guess it that these broke when we instituted the new log-in pages? Can we get a quick fix on this @chennan47 or maybe @Ghalko ?

[2015-04-13 16:45] lbanner commented on #2468
This is expected -- If you enter in a space (#) and click submit, you will get the error -- But the case simply clicking "add email" is highly improbable -- the use will just enter an email or not -- But I'll defer in the off chance this does become point of confusion. TY

[2015-04-13 16:48] jlcohoon opened #2469 "No sign up link from navbar or sign in page"
<h3>Present Behavior</h3>
As a logged out user, the OSF only allows you to sign up via the homepage or by clicking on one of the buttons (<a href="https://github.com/CenterForOpenScience/osf.io/issues/2467">that don't work</a>) that appear in the pop up footer. This means that if you reflexively hide the footer and navigate the OSF by viewing projects and avoiding the homepage, you cannot create a

[2015-04-13 16:52] ginavuu commented on #2468
Sounds good. Thanks.

[2015-04-13 16:53] lbanner commented on #2462
I assume you received the confirmation email and clicked to confirm? Have you logged out and returned to that page, double checking the email remains in "unconfirmed?" -- Can you double-check functionality in another browser? Thanks @ginavuu

[2015-04-13 17:06] jlcohoon opened #2470 "Cannot change primary email"
<h3>Steps</h3>
1. Visit your account settings on the OSF
2. If you do not have an alternate email set up already, add one
3. Click on "make primary" to the right of your alternate email. The picture below shows my settings before clicking on the make primary link.
![screen shot 2015-04-13 at 12 57 56 pm](https://cloud.githubusercontent.com/assets/4965832/7120784/b09a1b58-e1dd-11e4-8dff-3b446586aa6

[2015-04-13 17:06] sloria commented on #1661
@icereval  reports that this is still happening: http://webmup.com/a62b0/

[2015-04-13 17:07] lbanner commented on #2470
@sloria -- This per-chance the same issue BrianN was dealing with in #2454?

[2015-04-13 17:11] sloria commented on #2470
Will look into this shortly

[2015-04-13 17:11] GaryKriebel commented on #2470
And just like yesterday, it is working as expected for me.

[2015-04-13 17:16] GaryKriebel commented on #2470
@jlcohoon did you get an email confirmation that you changed the primary email address?

[2015-04-13 17:18] jlcohoon commented on #2470
No email alerts, just the pop up notifications

On Mon, Apr 13, 2015 at 1:16 PM, Gary Kriebel <notifications@github.com>
wrote:

[2015-04-13 17:42] billyhunt commented on #2412
I was going to handle it by allowing a blank employment or school object.  That is the original state, and you can never get back to that.  To me, it makes sense to allow you to have no job and/or no school.  Sad, but very possible.  As it stands, I don't think you can reset to that original blank state.

So, I think the logic should be as follows when you hit "Submit"

1.  If any field is filled

[2015-04-13 18:22] caileyfitz opened #2473 "[production] Replies to comments does not override project settings"
# Steps
1. Log in as user A on production
2. Go to your user settings
3. Click Notifications, then set 'Replies to your comments' to Emails
4. Go to one of your public projects
5. Go to Settings > Configure Commenting
6. Select the option *When the project is public, any OSF user can post comments* and press Submit
7. Go to Settings > Configure Notifications
8. Set 'Comments Added' to None
9. As u

[2015-04-13 18:24] caileyfitz commented on #2298
I am still having this problem on staging and production. This makes it impossible to reply to some comments, which is not ideal.

[2015-04-13 18:28] nicipfeiffer commented on #2412
Yes, I agree!

[2015-04-13 18:36] Ghalko commented on #2473
Not necessary to use a public project.

[2015-04-13 18:43] lbanner commented on #2473
I would actually expect the opposite @caileyfitz, as in: Project settings override the global settings, so that the user can make more specific adjustment for preference at the project level (and so the above would not be an error) -- Likely @samanehsan can give insight on expected functionality?

[2015-04-13 18:44] nicipfeiffer opened #2474 "[Staging & Production] Dataverse: Delete fails when trying to delete a draft file"
## Steps
1. Go to a public project with Dataverse authorized (link: https://osf.io/9jtkg/ )
2. Go to the files tab
3. Switch the Dataverse folder from Released to Draft
4. Wait for the folder to re-load with draft files
5. Click on the red 'x' next to a file to delete it
6. Hit 'OK' to confirm

## Expected
That a dataverse draft file can be deleted from the files tab

## Actual
There is an error i

[2015-04-13 18:44] lbanner commented on #2412
:+1: from me, thanks.

[2015-04-13 18:48] lbanner commented on #2298
Yeah -- I think that will exist until we get the new comment code integrated.

[2015-04-13 18:50] lbanner commented on #2474
@rliebz  -- Thoughts? Are we yet running into new version/API issues? Thanks.

[2015-04-13 18:58] Ghalko commented on #2473
```notify``` in comments.py returns a list of subscribers including the one that the comment was in reply to. Except that I turned off all subscriptions, so I get a list of three that really aren't subscribed, but are returned into a variable that is called ```sent_subscribers``` which is a bit concerning. It looks like the logic in this case would never get to the second call of notify.

[2015-04-13 19:15] caileyfitz commented on #2473
@lbanner In our testing scenarios, we tested that users would still get replies even if the project settings were set to no notifications. Whether or not the current situation is desired behavior, it has changed since the last time this was checked.

[2015-04-13 19:29] rliebz commented on #2474
The http://thedata.harvard.edu (the Dataverse server we're connected to) has just changed to read-only mode as Dataverse 4.0 is going live. There are a number of backwards incompatible changes that prevent us from using 4.0 in its current state, so the OSF will not be able to upload or delete files until we we merge https://github.com/CenterForOpenScience/osf.io/pull/2426 and the corresponding wat

[2015-04-13 19:30] sloria commented on #2470
@jlcohoon Are you still seeing any errors when switching the primary email?

[2015-04-13 19:32] jlcohoon commented on #2470
I am :(

![screen shot 2015-04-13 at 3 32 04 pm](https://cloud.githubusercontent.com/assets/4965832/7123748/57ff2992-e1f2-11e4-9ab3-7db02a8a077b.png)

[2015-04-13 19:36] billyhunt commented on #2412
OK.  I have been holding off on completion of this until I finish adding the multiple websites to the profile, but if you think this takes priority, let me know.

[2015-04-13 19:36] Ghalko commented on #2473
@caileyfitz It seems to work on staging as expected. Please confirm.

[2015-04-13 19:37] ginavuu commented on #2462
I think I got this working now. It may be that I was confirming to the wrong confirmation which makes it a new account instead of merging the two address.

[2015-04-13 20:00] samanehsan commented on #2473
The project settings for comments override the user level settings for comment replies. The reasoning was that if a user sets comment replies to None but configures comments for a project, any replies to their comments on that project should not be excluded from the notifications they receive.

[2015-04-13 20:05] GaryKriebel commented on #2474
@sloria with Dataverse 4.0 going live, can we get this included?

[2015-04-13 20:12] lbanner commented on #2462
Alright -- Let's close for now, unless it comes up again. Thank you!

[2015-04-13 20:12] #2462 closed

[2015-04-13 20:19] lbanner commented on #2473
:+1: Appreciate the clarification - make sense - So I believe this is functioning as presently expected (even if there is sense of a change) @caileyfitz ? I'd like to close for now. Thanks.

[2015-04-13 20:45] lbanner commented on #2412
As a :bug: @billyhunt , I'd say yes on this one first -- thanks.

[2015-04-13 20:56] sloria commented on #2470
Johanna had two accounts, `edb8y` and `yq4ke`. `yq4ke` was merged into `edb8y`; however, `yq4ke` still has a username set. Therefore, when changing the primary email to the gmail address, a validation error occurs because the uniqueness constraint on primary emails is violated.

I've manually set the duplicate account's (yq4ke) username to `None`, which is consistent with the current merge procedu

[2015-04-13 20:59] caileyfitz commented on #2473
Oh... Maybe I got confused about something else. I'll close this.

[2015-04-13 20:59] #2473 closed

[2015-04-13 21:50] samanehsan commented on #728
Closing this issue since you can no longer edit your profile information from your profile page.