[2015-01-19 17:03] lbanner commented on #1521
@lyndsysimon Any chance you can / should knock this one out? -- or is it Intern worthy? Thanks!

[2015-01-19 18:33] nicipfeiffer opened #1522 "[UI] Getting Started: Playing video leads to console error"
Reported by @huangginny  on the CommonJS Trello board

## Steps
Open console. Navigate to "getting started" and play a video.

## Expected
Console should show nothing

## Actual
![screen shot 2015-01-19 at 12 34 33 pm](https://cloud.githubusercontent.com/assets/9381062/5805707/515a9298-9fdf-11e4-9357-db6bbd7baf28.png)

[2015-01-19 18:51] caileyfitz opened #1523 "[feature request] Typeahead search for search when adding links"
# Steps
1. Go to a project
2. Near the components header, click 'Add Links'
3. Search for a project/component to link

# Expected
Just as in the onboarder widget when searching for projects, I would expect that there would be typeahead search so that a user could see the projects/components available to link.

# Actual
There is no typeahead search/autocomplete. A user has to type in the project/co

[2015-01-19 19:28] caileyfitz opened #1524 "[staging & production] Consistency in add-on deletion modal for user settings page"
# Steps
1. Enable multiple add-ons for two or more projects.
2. Go to one of the projects where add-ons are enabled.
3. In the Settings tab, go to the Select Add-ons section and deselect two or more add-ons and press Submit.
4. Notice what happens after the Submit button is clicked.
5. Now, go to the user settings page and navigate to Configure Add-ons.
6. Deselect two or more add-ons and press Su

[2015-01-19 19:30] nicipfeiffer opened #1525 "[Staging & Production] [UI] Info Modal does not scroll for lengthy project descriptions"
## Steps
1. Go to the dashboard page and click the 'i' next to a project that has a lengthy description
2. The info modal appears with the Project Name, Contributors and the Description

## Expected
When opening the info modal on the dashboard for a project with a lengthy description, the modal would allow the user to scroll to the end to read all the info.

## Actual
The modal cuts off the descri

[2015-01-19 19:31] brianjgeiger commented on #1525
This will not be an issue in 0.24.0

[2015-01-19 19:48] kmjungersen commented on #1518
+1, I could definitely see a user forgetting to submit and then losing the changes

[2015-01-19 20:06] nicipfeiffer opened #1526 "[Staging & production] [UI] Firefox: Rename folder text obstruction"
## Steps
1. Using the firefox browser: Go to the project dashboard and click the 'i' beside a folder
2. Click on the pencil to 'edit' the name of the folder

## Expected
That the current name would be readable, and not obstructed and any typing done to edit would not be obstructed.
![screenshot 2015-01-19 15 03 49](https://cloud.githubusercontent.com/assets/9381062/5806980/6ba1a990-9fec-11e4-8482-

[2015-01-19 20:14] brianjgeiger commented on #1526
Will not be an issue in 0.24.0

[2015-01-19 20:16] JeffSpies commented on #1526
What are we testing that continues to be followed with the message, "Will
not be an issue in 0.24.0"?

On Mon, Jan 19, 2015 at 3:14 PM, Brian J. Geiger <notifications@github.com>
wrote:

[2015-01-19 20:18] brianjgeiger commented on #1526
I think they're moving over issues from the Search trello board; cards from old sprints were not migrated from trello until now, but we are making changes regardless.

[2015-01-19 21:30] jlcohoon opened #1527 "Filters on search rearrange order"
<h4>Steps/Results</h4>
1. Search for "henderson" (as an example)
2. Refer to the left hand side of the search results page where you can filter results by projects, components, registrations or users—in that order.
3. Conduct another search, this time for "plant" (another example)
4. Again, look at the filters; this time they are listed as registrations, components, and projects.

The search filte

[2015-01-20 15:34] lbanner commented on #1526
Meaning @brianjgeiger that functionality or PR planned to release in 0.24.0 will correct this? -- If so, suggest we close it, yes? -- Thanks!

[2015-01-20 15:36] lbanner commented on #1525
Clarification again @brianjgeiger : ) Functionality to be released in 0.24.0 will correct this? Thanks!

[2015-01-20 15:37] brianjgeiger commented on #1526
Yes. But it shouldn't be closed until it is actually corrected, though it should be assigned a 0.24.0 milestone, which I have just done.

[2015-01-20 15:41] brianjgeiger commented on #1525
Yes. This will be more clear after the lunch presentation today.

[2015-01-20 16:00] #1482 closed

[2015-01-20 16:08] sloria commented on #1428
As of #1433, all storage addons are not copied to registrations. Closing this for now

[2015-01-20 16:08] #1428 closed

[2015-01-20 16:09] sloria commented on #1417
As of #1433 , the "Settings" tab is no longer shown for registrations.

[2015-01-20 16:09] #1417 closed

[2015-01-20 19:38] csoderberg opened #1532 "[Feature request] Obvious visual for number of registrations for a project"
Currently, to determine whether a project has any registration you have to go and actually click on the 'Registration' button. It would be a lot nicer if somewhere on the project dashboard there was a button or widget or something that showed the number of registration of that project (which would include the registrations at that level and in any nested levels), so you would know whether you migh

[2015-01-21 21:15] jlcohoon opened #1535 "Project Organizer isn't loading"
<h4>Steps</h4>
Visit your dashboard
<h4>Expected</h4>
All projects load and are displayed in the previously established folders.
<h4>Actual</h4>
Several times today, my project organizer has not loaded my projects or any folders, leaving it entirely blank. Refreshing the page does not always resolve it.
The only relevant error in my console is that hgrid cannot find a stylesheet.

[2015-01-21 21:19] lbanner commented on #1535
Can you screen shot this for us @jlcohoon ? Maybe an expected vs actual?

[2015-01-22 15:04] rliebz commented on #1508
After discussing with @jmcarp, it appears this issue, as well as #1481, will be resolved with the release of Water Butler.

[2015-01-23 16:12] jlcohoon opened #1557 "Dropbox settings cannot be adjusted"
<h4>Steps</h4>
1. Visit your user settings, scroll down to Dropbox
2. Clicking "Delete Access Token"
OR
1. At the top of your user settings page in "Select Addons", de-select "Dropbox" and submit your change.

<h4>Expected</h4>
1. Dropbox token should be deleted, allowing the user to click on "Create Access Token"
2. No projects should be listed as "authorized projects"
3. No projects should have

[2015-01-23 16:24] lbanner commented on #1557
@jlcohoon Is this issue live / on Production?

[2015-01-23 16:54] jlcohoon commented on #1557
yes

[2015-01-23 16:57] lbanner commented on #1557
TY! Might not be a "bug" per se, but rather a need to clarify expected action after deactivating a DropBox Add-On -- I have label'd as "Bug: Production" with "Discuss" -- and we'll move this forward.

[2015-01-24 21:00] JeffSpies opened #1576 "Users with no public projects or registrations show empty lists"
Actual
======

![screen shot 2015-01-24 at 3 55 14 pm](https://cloud.githubusercontent.com/assets/512000/5889022/67c046da-a3e1-11e4-8b2f-8043cec31e88.png)

Expected
=======
There is some message underneath the bottom two headings indicating that the user has none.

[2015-01-24 21:01] JeffSpies opened #1577 "Upload file(s) in Quick Tasks on Project Dashboard should allow me to create a new project as well as selecting an existing project"
# Steps

1. Go to https://osf.io/dashboard
2. Drag a file into the "Upload a file" section on the right

# Actual

Choose existing project

# Expected/desired

Choose existing project or new project

[2015-01-26 13:33] saradbowman opened #1582 "redirect to desired page after login"
Behavior: User clicks on link to private resource on the OSF and is instructed she must sign in to view resource. User signs in and is directed to her own dashboard and has to navigate to the resource she was trying to reach in the first place.

Desired behavior: Upon logging in, user is directed to the private resource rather than her dashboard.

[2015-01-26 14:51] brianjgeiger commented on #1582
That should be what's happening (and I tested it just now and it seemed to be working that way).

It will only work if you sign in on the page that's presented to you when you try to access the resource; if you land on that page then click the sign-in button (which I have done many times) it won't take you to the proper page. Otherwise it will (or seems to according to my testing and how it's supp

[2015-01-26 15:02] jlcohoon opened #1583 "Dropbox files not loading"
<h4>Steps</h4>
1. On production, visit a project that has a Dropbox folder connected. For example: https://osf.io/siaqe/
2. Look at the file tree and find the Dropbox folder you have linked.

<h4>Expected</h4>
1. The files that are saved in that Dropbox folder should be listed on the OSF

<h4>Actual</h4>
1. No Dropbox files are shown:
![screen shot 2015-01-26 at 9 59 27 am](https://cloud.githubuse

[2015-01-26 15:04] jlcohoon commented on #1557
As a followup to this, not all of my Dropbox-connected projects are displaying in my user settings. The ones shown below are only a few of the ones that I have connected. I assume this is because the OSF isn't able to properly connect with DropBox at the moment.
![screen shot 2015-01-26 at 10 03 35 am](https://cloud.githubusercontent.com/assets/4965832/5901717/a54be15a-a542-11e4-869d-f8b41323dcdb.

[2015-01-26 15:10] lbanner commented on #1583
So, again -- this is Production, right @jlcohoon ? Not QA / testing work on Staging?

[2015-01-26 15:13] brianjgeiger commented on #1557
Because of the interaction between this and #1583, we are trying removing all of the projects from the project setting page, then when they are all gone deleting the access token from the user account, then reapplying everything. If this works, this is obviously not how it should. It would seem that there's a bug in there somewhere.

[2015-01-26 15:15] brianjgeiger commented on #1557
There's an error on sentry. https://sentry.osf.io/osf/production/group/1705/

website/addons/dropbox/utils.py Line 55:
            'folder': self.node.get_addon('dropbox').folder
Attribute error: 'NoneType' object has no attribute 'folder'

[2015-01-26 15:17] brianjgeiger commented on #1557
In the meantime, this leaves @jlcohoon unable to use Dropbox on her production projects.

[2015-01-26 15:26] sloria commented on #1557
Looking into this

[2015-01-26 15:37] jlcohoon commented on #1583
correct

On Mon, Jan 26, 2015 at 10:10 AM, LarryB <notifications@github.com> wrote:

[2015-01-26 15:41] jlcohoon commented on #1557
I just deauthorized the OSF via Dropbox. My OSF user settings are still saying that they can't connect and are still not allowing me to delete the token.

[2015-01-26 16:26] JeffSpies commented on #1582
@saradbowman can you provide an example (perhaps not exactly the one the user reported but one that adequately mimics the issue?)?

[2015-01-26 16:31] saradbowman commented on #1582
Actually... no. I didn't realize this was intended behavior, and now I
can't replicate the error on Safari or Chrome. Gathering more information
from the user....

On Mon, Jan 26, 2015 at 11:26 AM, Jeffrey Spies <notifications@github.com>
wrote:

[2015-01-26 17:16] sloria commented on #1557
OK, found the root cause of this: When creating a "node_deauthorized" log for all a user's Dropbox-authorized nodes, we weren't accounting for `DropboxNodeSettings` records that had the `deleted` field set `True`. This resulted in the `AttributeError` seen by Sentry.

Once the CI build passes, will merge the hotfix.

[2015-01-26 17:55] #1557 closed

[2015-01-26 19:47] brianjgeiger commented on #1576
I don't think I saw the "expected" here the first time, so that eliminates my biggest problem with this one. The only thing really missing is if this also happens on production. If not, it should probably be in Trello, if so, it would be good to explicitly mention, since the url in the screenshot is for staging.

[2015-01-26 19:53] lbanner commented on #1576
Is the same on Production -- Tagged this with "Enhancement" + "UI" -- It would be more clear to state "0" or "None"

[2015-01-26 19:53] brianjgeiger commented on #1577
This contains all of the requisite information, but in a form that takes a little cognitive overhead to parse. Breaking it up in the description wouldn't hurt.

Also, technically this is part of the onboarding widget, not the project organizer. Which ordinarily would be a tiny pedantic thing, but there have been a lot of reports confusing the project organizer with the project overview page which

[2015-01-26 20:02] lbanner commented on #1577
OK @brianjgeiger help:
The "Project Overview Page" is my "Project Dashboard" -- On my "Project Dashboard" is the "Onboarding Widget" -- So the "Project Organizer" references .... ?

[2015-01-26 20:07] brianjgeiger commented on #1577
Project Organizer is the grid widget on the left side of the page of osf.io/dashboard that lets you organize your projects into folders and such.

The dashboard is the whole page osf.io/dashboard

The project overview page is the landing page when you go to a project or component with the two columns of widgets.

Project dashboard is a phrase that should never be used.

[2015-01-26 20:12] lbanner commented on #1577
Appreciate the clarity! However, "My Dashboard" is how I, as a user, see my overview of projects, even if we, as developers, see the construction of that page differently -- so we should take care with phrasing around a user's "Dashboard" and the term Project Dashboard. I will aim to pay attention to that.

[2015-01-26 20:14] brianjgeiger commented on #1577
Which is why I suggested the changes to this issue, even though they are otherwise pedantic. We've had a lot of confusion around these issues. @caneruguz and I discussed possibly re-working the interior look of osf.io/dashboard to make it more clear what was what, but we have some new UI options in the next sprint or two that will make that better.

[2015-01-26 20:14] jlcohoon commented on #1535
This same error has occurred a few times today. It's possible its an internet connection issue, but if that's the case, we should have a timeout error, should we not?

Actual:
![screen shot 2015-01-26 at 3 13 13 pm](https://cloud.githubusercontent.com/assets/4965832/5907573/fb071e9a-a56d-11e4-964b-7e6e5af1c761.png)

Expected:
![screen shot 2015-01-26 at 3 13 20 pm](https://cloud.githubusercontent.

[2015-01-26 20:20] JeffSpies commented on #1535
Can you open up your development console and see if you receive any error
messages when this happens? It might also be your machine--too much memory
being used--so if you see it again, come find me.

J.

On Mon, Jan 26, 2015 at 3:14 PM, jlcohoon <notifications@github.com> wrote:

[2015-01-26 21:12] jlcohoon opened #1598 "Alphabetical file sorting also sorts components/add-ons"
Images are from staging, but the issue is the same on production.
<h4>Steps</h4>
1. Visit a project with multiple components and an add-on (https://staging.osf.io/frzcd/)
2. Note the order of the components on the right
3. Note that the order of the components in the file tree on the left matches the order on the right
![screen shot 2015-01-26 at 3 28 31 pm](https://cloud.githubusercontent.com/ass

[2015-01-26 21:19] lbanner commented on #1598
@caneruguz With Treebeard -- What is our intended / expected functionality here? All  files + folders in alphabetical or reverse alphabetical order depending on selection?

[2015-01-27 05:03] sloria commented on #1583
@jlcohoon Can you confirm that this is now fixed?

[2015-01-27 14:28] jlcohoon commented on #1583
Confirmed!

[2015-01-27 14:38] #1583 closed

[2015-01-27 15:36] caileyfitz commented on #873
@sloria @caseyrollins @samanehsan  I know this issue is closed, but I found something similar to be happening on production now with a word file I have uploaded. See image below:
![screen shot 2015-01-27 at 10 33 54 am](https://cloud.githubusercontent.com/assets/5975444/5921185/3b5291a8-a610-11e4-9f1b-d3aabbe2f5f3.png)

Should I create a new issue for this? Or should we re-open this issue?

[2015-01-27 15:40] samanehsan commented on #873
@caileyfitz, go ahead and create a new issue for this one since it's specific to word files, not PDFs. Thanks!

[2015-01-27 15:40] brianjgeiger commented on #873
I suspect it's a genuinely new issue. I'd make a new one.

[2015-01-27 15:40] brianjgeiger commented on #873
+1 to @samanehsan :)

[2015-01-27 15:44] caileyfitz commented on #873
Alright I'm about to create a new issue!

[2015-01-27 17:21] caileyfitz opened #1606 "[production] Version history table occluded by image in word file"
# Steps
1. Upload multiple versions of a word file with images to production
2. Click on the file to render

# Expected
I expected that the version history table would be visible, despite the file images.

# Actual
The version history table is occluded
![screen shot 2015-01-27 at 11 52 06 am](https://cloud.githubusercontent.com/assets/5975444/5923131/08e101be-a61f-11e4-9922-ee24137c8b9d.png)

[2015-01-27 21:15] harrismendell opened #1611 ""Modified" column time inaccuracy in dashboard. Chrome."
## Steps
1.) Modify a project.
2.) Immediately go to dashboard and check "modified" column for corresponding project.

## Expected
Time since last modification should be accurate, most likely in the seconds if following step 2.)

## Actual
Time always says at minimum "2 minutes" since last modification.

[2015-01-27 21:33] lbanner commented on #1611
Might need to discuss expectations here on accuracy to the second or minute -- Thanks for submitting @harrismendell

[2015-01-27 21:57] brianjgeiger commented on #1611
It's been a while since I made that, but I thought it would say "just now" or similar if it was below a minute or two. We may also just replace that with the date/time of the modification rather than the relative time to make it easier to sort by updated column (when we add that in).

[2015-01-27 22:04] saradbowman opened #1613 "[production] update copyright date"
Copyright on footer of OSF is currently:
![screen shot 2015-01-27 at 4 39 43 pm](https://cloud.githubusercontent.com/assets/7749914/5928117/4c36e4e8-a646-11e4-9f84-e15dfc6d752d.png)

Should update to 2011 - 2015

[2015-01-27 22:13] GaryKriebel commented on #1613
Can this be dynamically built so that we don't have to submit another issue next year?

[2015-01-27 23:28] nicipfeiffer opened #1616 "[Staging & Production] Add-ons: inconsistent list order in configuration table for Project Settings and user Settings"
## Steps
1. Go to the user settings, add-on configuration table
2. Go to a project settings, add-on configuration table

## Expected
The order would be consistent from one to the other so a user would not mistakenly click incorrectly.

## Actual
Project settings for add-on configuration are listed alphabetically.  User settings are listed in a random, illogical order.

![screenshot 2015-01-27 18 0

[2015-01-27 23:37] kmjungersen commented on #1220
Ping @JeffSpies, @lbanner and @GaryKriebel, I think this would be a great/simple feature to add to our roadmap soon.  This is pretty standard functionality for similar services.

[2015-01-27 23:38] kmjungersen commented on #1220
Also @caneruguz

[2015-01-28 01:10] saradbowman opened #1621 "[production] deselecting add on gives no warning"
Steps
-------
1. Configure Github or Dropbox in an project - select add on, create access token, link repo or folder.
2. Remove the add on by unchecking the box in "select add on"
3. Click Submit
4. Add on is removed without displaying a warning

Expected
------------
There would be a warning, as there is on the account settings page when you deactivate an add on this way:

![screen shot 2015-01-2

[2015-01-28 02:34] lbanner commented on #1611
"date/time of the modification" -- I support that idea, clear and much simpler.

[2015-01-28 02:48] JeffSpies commented on #1611
I'm not a fan of relative times in general (except maybe on user
dashboards), but we should be able to have a "view" time and a "sort" time
with treebeard.

On Tue, Jan 27, 2015 at 9:34 PM, LarryB <notifications@github.com> wrote:

[2015-01-28 16:06] jlcohoon commented on #1019
Just got user feedback related to this issue (that I agree with):
"I sometimes show my students how to create from a template, and I run a test. If I have to delete the project thereafter, I have to delete every single subcomponent. Gets a bit high on time investment after a while. It would be great to just be able to delete from the dashboard right away."

I'd suggest that in Caner's proposed upd

[2015-01-28 18:07] huangginny opened #1628 "[production] Incorrect language for public component registration page for unauthenticated users"
Steps
-----------
1.DO NOT LOG IN.
2.Go to a public component that has not been registered.
3.Go to the registration page.

Expected
-----------
There should be a message telling the user that "there are no registrations for this project."

Actual
------------
![incorrect language](https://trello-attachments.s3.amazonaws.com/54c867eb200d6ff1ed579ede/1049x225/c210b02c86958db964b8552ef640dc03/Screen

[2015-01-28 18:37] jlcohoon opened #1629 "Chrome: PDF navigation buttons sit too far to the right"
For landscape and vertical PDFs with multiple pages, the triangular forward/back buttons are off center. They are too far to the right on both the left and right sides. This only seems to occur in Chrome.

![screen shot 2015-01-28 at 1 26 16 pm](https://cloud.githubusercontent.com/assets/4965832/5944153/c485a202-a6f2-11e4-9bc1-2c1790e355c2.png)

[2015-01-28 19:59] sloria opened #1635 "Go/Nogo for release 0.24"
milestone: https://github.com/CenterForOpenScience/osf.io/issues?q=milestone%3A%220.24.0+%28OSF+Files%2C+Treebeard%2C+MFR%29%22+is%3Aclosed

changelog: https://github.com/CenterForOpenScience/osf.io/blob/develop/CHANGELOG

Deployment actions:

- [x] Change Tokumx log path (to prevent OS disk from filling up).
- [x] Update python requirements
- [x] Install mfr requirements
- [x] Clear mfr cache
- [

[2015-01-28 20:15] jlcohoon opened #1636 "Sharing page on registration includes instructions on how to reorder"
<h4>Steps</h4>
1. Visit a registration that you are a contributor to
2. Visit the registration's sharing page

<h4>Actual</h4>
1. Instructions to reorder/add contributors and to make private links are shown.

![screen shot 2015-01-28 at 3 05 06 pm](https://cloud.githubusercontent.com/assets/4965832/5945994/6882fae6-a700-11e4-8add-b78741f5b92e.png)

<h4>Expected</h4>
1. No instructions to make any

[2015-01-28 23:04] #1037 closed

[2015-01-29 15:29] samanehsan opened #1641 "JS console error appears after configuring two-factor authentication"
Steps
--------
1) Go to the "Configure Addons" page for your user settings
2) Enable 2-factor authentication
3) Refresh the page
4) Check your JS console

Expected
-------------
No console errors

Actual
---------
The error message "No elements matching selector '#twoFactorScope'" appears in the console.
![screen shot 2015-01-29 at 10 17 18 am](https://cloud.githubusercontent.com/assets/6414394/59

[2015-01-29 15:31] brianjgeiger commented on #1641
That's less than ideal. Everything works otherwise, though?

[2015-01-29 16:56] brianjgeiger opened #1644 "Renaming projects shows 404 in error console"
Steps
--------
1. Go to a project you have admin rights for
2. Click on the project title to rename

Expected
------------
No 404s in error console

Actual
--------
404 in the error console. Nothing else seems to be affected. Projects rename, no errors visible unless you have the error console open.

The full error is "[Error] Failed to load resource: the server responded with a status of 404 (Not

[2015-01-29 16:57] lbanner commented on #1644
@brianjgeiger Any impact on user here?

[2015-01-29 16:59] brianjgeiger commented on #1644
No. It's a minor, minor bug.

[2015-01-29 17:23] #1641 closed

[2015-01-29 17:24] sloria commented on #1641
This is fixed now. @samanehsan Can you please verify this on production?

[2015-01-29 18:34] #1636 closed

[2015-01-29 20:36] HarryRybacki opened #1648 "Users should be able to log in from the landing page"
### Problem

Unlike new users wanting to sign up for an account, existing users are required to navigate away from the landing page by clicking on the 'Create an Account or Sign-in' button at the top right of the navbar if they wish to log in to their accounts. ![screen shot 2015-01-29 at 3 34 36 pm](https://cloud.githubusercontent.com/assets/2614670/5965733/62b50574-a7cc-11e4-914a-2bb449dc4d42.pn

[2015-01-29 20:45] brianjgeiger commented on #1648
Rather than replacing the nav bar widget, what if you made the sign up box into a tabbed area defaulting to sign up that you could switch to log in?

[2015-01-29 20:47] HarryRybacki commented on #1648
@brianjgeiger interesting idea. I think this (and most UI) things should go up for a vote related to what 'feels' the most intuitive. Let's get some of the others to weigh in before I start working.

[2015-01-29 20:48] brianjgeiger commented on #1648
@caneruguz likes to be involved in things like this.

[2015-01-29 21:01] fabianvf commented on #1648
I like to be able to log in to a site without having to do any navigation whatsoever, and I don't really see much of a functional difference between clicking a link and clicking a tab.

[2015-01-29 21:21] HarryRybacki commented on #1648
I agree with @fabianvf . Facebook, Twitter, Google all do it this way and we know they've done the research.

[2015-01-29 21:24] caneruguz commented on #1648
I think this update should involve generally rethinking the sign up process and should include the current login page as well that has three different purpose forms in the same place. I think an incremental small step doesn't go far enough to improve the user login experience and an overhaul would need more time.

Having said that I'm not sure to what extent this fix aligns with our 3 month priori

[2015-01-29 22:51] caileyfitz commented on #1635
GO :raised_hands:

[2015-01-29 22:53] chrisseto commented on #1635
GO

[2015-01-29 22:56] nicipfeiffer commented on #1635
A long awaited, and my last :+1: GO!

[2015-01-29 23:01] jmcarp commented on #1635
:+1:

[2015-01-29 23:07] caneruguz commented on #1635
**GO** from Treebeard/Fangorn/Project Organizer

Harry's issue can't be replicated for now and is really minor (one line css that works with IE 5.5).
Treebeard Tests repaired and running and is now part of Travis, (build passing).

[2015-01-29 23:11] sloria commented on #1635
Go

[2015-01-29 23:13] GaryKriebel commented on #1635
[Go Flight!](https://www.youtube.com/watch?v=zVf-rehP4b8)

[2015-01-29 23:25] lbanner commented on #1635
No argument -- 'Tis a GO! :+1: Woo Hooo! @nicipfeiffer
..... Let's make sure @JeffSpies gets a chance to review and weigh in -- Thanks!

[2015-01-29 23:37] icereval commented on #1635
The issue with water butler servers going offline was tracked down to an auto update settings and FastStart option in the CSF Firewall, both have been set disabled (h/t @chrisseto).

Also a status page was added in water butler today allowing us to monitor the workers are online and accessible via the haproxy load balancer.

[2015-01-29 23:45] lbanner commented on #1635
Thank you @icereval  -- I know you noted it this morning -- just to reiterate for all: We've got multiple folk w/access to the status page + auto-notification to ping (via Text? Email?) if a server / workers down, correct?

[2015-01-30 00:18] JeffSpies commented on #1635
Brian G. is a go according to his text message.

On Thu, Jan 29, 2015 at 6:37 PM, Michael Haselton <notifications@github.com>
wrote:

[2015-01-30 00:58] sloria commented on #1635
@lbanner We have email notifications now. Michael will be setting up SMS notifications as well.

[2015-01-30 02:23] JeffSpies commented on #1635
go given verbally

[2015-01-30 13:07] sloria commented on #1635
Released!

[2015-01-30 13:07] #1635 closed

[2015-01-30 13:44] mckidwell opened #1649 "Search bar on mobile is covered by nav bar"
Steps

1. Open osf.io on your mobile browser
2. Click the magnifying glass icon to search

Expected

The search bar will appear underneath the nav bar, so that users can see what they are typing.

Actual

Search bar is covered by the nav bar - it appears that the text "Open Science Framework" is farther down than it should be? Image attached.

![screenshot_2015-01-30-08-14-13](https://cloud.github

[2015-01-30 14:16] brianjgeiger commented on #1648
@HarryRybacki I think I mis-interpreted your original proposal, my apologies. That sounds like a good plan. I'll be interested in how you do the two-factor, though. Three fields?

[2015-01-30 14:19] HarryRybacki commented on #1648
@brianjgeiger Do we have a way of easily determining what percentage of users have two-factor enabled?

[2015-01-30 14:21] brianjgeiger commented on #1649
Ah, okay. Safari and mobile safari on my phone don't go that narrow, but the phrase "Open Science Framework" should either disappear entirely or be replaced by "OSF", I think, below a certain width. @caneruguz

[2015-01-30 14:22] brianjgeiger commented on #1649
Probably be replaced by OSF, as that's what happens during one of the midway-phases of the responsive setup.

[2015-01-30 14:24] brianjgeiger commented on #1648
Should be a simple db query. I don’t know what that query is off the top of my head. I expect the number to be very small right now.

[2015-01-30 14:25] HarryRybacki commented on #1648
Josh is grabbing that info for me. If it's small I'll opt for two fields (username/password) with a forward for two-factor to keep the landing page as clean as possible. This can be changed later on if the percentage grows.

[2015-01-30 14:37] caneruguz commented on #1649
This happens on very narrow devices and unfortunately Bootstrap doesn't have an extra small size.
The solution to this problem may need to be specific to this one or a site wide introduction of xxs width setting. This would depend on whether anything else needs improvement on this size. Otherwise Brian's solution is the best for this case.

[2015-01-30 14:38] brianjgeiger commented on #1648
Based on past discussions, the login procedure will have to be re-worked more that you may be anticipating in order to do a two-stage login. @lyndsysimon has been considering doing that re-work, but hasn't had the time, so you might want to check with him about that.

[2015-01-30 14:41] HarryRybacki commented on #1648
Will do, thanks!

[2015-01-30 14:43] brianjgeiger commented on #1648
If that doesn't work out, you could have the two factor field drop down, possibly with a submit button, if focus is in the username/password field. Or something similar.

[2015-01-30 15:12] icereval commented on #1635
@lbanner - Yes we have multiple dev's with access to the status page, monitoring has been setup to email on warnings/changes and page if it is critical.

[2015-01-30 15:42] lbanner commented on #1635
Thank you @icereval

[2015-01-30 16:07] sloria opened #1652 "Bust CSS caching"
We currently do not add a cache-busting hash for CSS assets like we do with JS assets. This may lead to strange UI bugs the first time users view the site after a release, as we saw this morning in various places.

This should be an easy fix with webpack; I will look into this.

[2015-01-30 16:24] brianjgeiger commented on #1535
Ended up being a plugin causing the trouble.

[2015-01-30 16:24] #1535 closed

[2015-01-30 16:41] jlcohoon commented on #1422
@lyndsysimon @brianjgeiger It's still not fixed...should I hold out for 0.25.0?

[2015-01-30 16:46] brianjgeiger commented on #1422
I would wait until the next Epic before anticipating this fix. March or so.

[2015-01-30 17:55] brianjgeiger opened #1654 "Empty fork screen"
Steps
--------
1. Go to or project that:
    1. has no forks
    2. you have only write permissions for
    3. is private
2. Go to forks tab

Expected
------------
Something that says that there are no forks of this project

Actual
---------
Between the project tabs and the footer is only empty space

![screen shot 2015-01-30 at 12 54 44 pm](https://cloud.githubusercontent.com/assets/6599111/59805

[2015-01-30 18:05] samanehsan commented on #1648
@HarryRybacki, issue #879 has some discussion about re-working the login process that you might be able to address as well.

[2015-01-30 18:22] brianjgeiger opened #1655 "Statistics for private projects"
Steps
--------
1. Go to a private project
2. Go to the Statistics tab

Expected
-------------
![osf___waterbutler_testing_statistics-1](https://cloud.githubusercontent.com/assets/6599111/5980896/01206bf2-a883-11e4-8d3f-7305880d2dc1.png)

Actual
--------
![screen shot 2015-01-30 at 1 21 49 pm](https://cloud.githubusercontent.com/assets/6599111/5980900/0a97cb94-a883-11e4-884d-436edd6cbd86.png)

Appa

[2015-01-30 18:26] brianjgeiger commented on #1655
It appears that private projects may be getting a piwik_site_id.

[2015-01-30 18:29] brianjgeiger commented on #1655
Apparently this is expected. The striped display is for old private projects. Now, projects are all created with piwik IDs and just have the warning at the top.

[2015-01-30 18:29] #1655 closed

[2015-01-30 19:26] sloria opened #1656 "Add a feedback button that links to issue tracker or Desk.com"
It would be nice to have a quick way to capture user feedback. This was discussed informally a long time ago, but dismissed after we started using GH and Desk.com for issue tracking and support, respectively.

I like Gratipay's approach  in https://github.com/gratipay/gratipay.com/pull/3101 , which adds a feedback button that just links to the GH issue tracker. We could also link to a mailto link

[2015-01-30 19:29] jmcarp commented on #1656
:+1:

[2015-01-30 19:35] huangginny opened #1657 "[production] Python files icons fail to show on hgrid"
Steps
--------------
1. Upload a python file to the osf storage, or link an addon that contains a python file to your project
2. Click on the "Files" tab

Expected
----------------
![screen shot 2015-01-30 at 2 35 50 pm](https://cloud.githubusercontent.com/assets/8628591/5982042/5a2cb142-a88d-11e4-90fc-a1f8cbf59c30.png)

Actual
------------------
![screen shot 2015-01-30 at 2 32 16 pm](https://clo

[2015-01-30 19:39] sloria commented on #1657
Hm, the permissions on `file_extension_py.png` is different from the other icon files. I'll try changing them and seeing if that fixes it.

[2015-01-30 19:46] brianjgeiger commented on #1657
I am not seeing that on any of my browsers.

[2015-01-30 19:46] huangginny commented on #1657
@brianjgeiger Chrome version 40

[2015-01-30 19:49] brianjgeiger commented on #1657
Just upgraded from 39 to 40 and it's not happening on my project (IE, Chrome, Safari, Firefox). Hmm.I've just added you to the project I'm using. Could you check it out and see if you see it there, too? https://osf.io/rcqxp/files/

[2015-01-30 19:49] JeffSpies commented on #1220
I like that idea.

On Tue, Jan 27, 2015 at 6:38 PM, Kurtis Jungersen <notifications@github.com>
wrote:

[2015-01-30 19:51] sloria commented on #1657
@brianjgeiger Seems to be probablistic. I have only seen it once. After refreshing, it went away

[2015-01-30 19:52] huangginny commented on #1657
![screen shot 2015-01-30 at 2 51 55 pm](https://cloud.githubusercontent.com/assets/8628591/5982288/8e5cd076-a88f-11e4-88d8-2761d74ebc82.png)
@brianjgeiger
On the file browser on the OVERVIEW's page it looks good though

[2015-01-30 19:58] sloria commented on #1657
Hm, was not able to reproduce. Deferring for now, since this is very minor. If anyone sees this again, please inspect the row element to see the path to the errant image.

[2015-01-30 20:08] lbanner commented on #1656
:+1:

[2015-01-30 20:24] caileyfitz commented on #1410
Hey I just checked this and I think it may not be an issue anymore. Can you confirm @brianjgeiger?

[2015-01-30 20:42] caneruguz commented on #1220
Yes, I have been holding on to adding this. Treebeard has multiselect and hooks for onmultiselect. Project Organizer is already using something like this where you can select multiple items and remove from folders. I would have to talk to waterbutler guys but I think the implementation of this would be swift.

@JeffSpies, let me know about a good time frame that fits with our goals and I'll fit it

[2015-01-30 20:44] brianjgeiger commented on #1410
Did you check the json @caileyfitz ?

[2015-01-30 20:48] caileyfitz commented on #1410
Oh, no @brianjgeiger

[2015-01-30 20:55] caneruguz commented on #1598
For some reason I didn't get a notification for being tagged in this issue or what's mroe likely it that I archived it with many other github notices coming my way.  I would have addressed this issue before our release otherwise.

Treebeard is a library so it's rules are very general, the intended behavior is that it applies throughout the entire list.

However Files page has already many of its o

[2015-01-30 20:58] caneruguz commented on #1526
@sloria @brianjgeiger  This needs an update.

[2015-01-30 20:59] caneruguz commented on #1525
@sloria @brianjgeiger Also needs an update. Maybe we should go over these milestone related issues.

[2015-01-30 21:01] brianjgeiger commented on #1526
Fixed.

[2015-01-30 21:01] #1526 closed

[2015-01-30 21:01] brianjgeiger commented on #1525
No longer an issue.

[2015-01-30 21:01] #1525 closed

[2015-01-30 21:06] brianjgeiger commented on #1629
@jlcohoon is this fixed with the recent update?

[2015-01-30 21:08] JeffSpies commented on #1220
Will do. Let's see how the month starts--wiki is higher priority for your
skills and meeting our goals, I think.

We can chat more if need be.

On Fri, Jan 30, 2015 at 3:42 PM, Caner Uguz <notifications@github.com>
wrote:

[2015-01-30 21:11] brianjgeiger commented on #98
With the recent search updates, any search will show the top tags related to that search, and you can browse those projects by clicking on the tags. If you wanted to start with everything on the site, you could search for *. Is this kind of what you were thinking, @rubenarslan?

![screen shot 2015-01-30 at 4 07 37 pm](https://cloud.githubusercontent.com/assets/6599111/5983365/8cd71ef4-a89a-11e4-8e

[2015-01-31 22:13] macklenc opened #1661 "File Scrollbar Jitter"
Steps
-------
1. Login
2. Navigate to a project root
3. Grab scroll bar in the "files" box and scroll through content

Expected
------------
Smooth scrolling

Actual
--------
Jittery scrolling. While moving the mouse up and down the scroll bar seems to jump up and down as the mouse moves. I've noticed this issue in both Firefox and Chrome.

[2015-02-01 03:53] brianjgeiger commented on #1661
In Chrome, but not Firefox nor Safari, I can get https://osf.io/ezcuj/files/ to do a bit of jittering if I scroll all the way to the bottom and, while holding the mouse, move it to the left or right. Then it shakes up and down a pixel or two very rapidly. But nothing particularly noticeable when scrolling up and down.

What's the order of magnitude of files that you're working with? Is it a partic

[2015-02-01 06:43] macklenc commented on #1661
I can't really get the file list at that link to jitter. I just made my project public, since the scroll bar still jitters for me: https://osf.io/wietn/. There aren't that many files (and even fewer from the public view) in the file list.

[2015-02-01 14:35] brianjgeiger commented on #1661
For me, I can only get a jitter if I'm moving the cursor left to right or right to left (even if that happens when I'm moving it up and down as well, it seems to be the left-right movement that causes the trouble). Here's a sample below. Can you verify if that seems to be the case for you as well?

![scroll_jitter](https://cloud.githubusercontent.com/assets/6599111/5992382/9b058658-a9f5-11e4-986a-

[2015-02-01 17:36] brianjgeiger commented on #1661
@caneruguz, this seems like something you might be interested in.

[2015-02-01 20:00] macklenc commented on #1661
That is the same jitter I get when I try to move the bar up or down. I just tried side to side and I got the same jitter. Are you using an apple device? I'm not sure if that would make a difference, I've tried two different computers, one running Windows, and one running Linux, and they both give me the jitter going up and down.

[2015-02-01 21:24] JeffSpies commented on #1661
Hi, Chris,

What mouse are you using?

On Sun, Feb 1, 2015 at 3:00 PM, Chris Macklen <notifications@github.com>
wrote:

[2015-02-01 23:55] macklenc commented on #1661
So far I have used a Logitech G9x, a Logitech M325, and a Synaptics touchpad.

[2015-02-02 00:33] caneruguz commented on #1661
Thanks for reporting the bug Chris.

I'm able to replicate your bug, it seems like it's only happening when scrolling by dragging the scroll bar itself and in that case only when dragging relatively slowly so that the scroll increment is small. This gives me some information to get started on a fix.

Is that also what's happening on your end?

[2015-02-02 01:23] caneruguz commented on #1661
I discovered the problem: during dragging the scroll bar with the mouse, the actual mouse position and the drawn scroll position are competing. It's not happening with trackpad because the mouse itself is out of the way or when the mouse is dragged a long way down the refresh is not causing conflict. I think we can resolve this bug very soon.

[2015-02-02 09:48] rubenarslan commented on #98
I honestly don't remember if this is what I wanted, I asked that question more than a year ago :-)
If you're interested in my opinion now: I doubt many people will have the idea to enter `*` to idly browse. And I think many people want to "check out how others are using the OSF" real quick. At the moment the only direct links to real projects from the front page are the reproducibility projects wh

[2015-02-02 14:35] JeffSpies commented on #1629
@icereval may have some info on this as well.

On Fri, Jan 30, 2015 at 4:06 PM, Brian J. Geiger <notifications@github.com>
wrote:

[2015-02-02 14:36] brianjgeiger commented on #1422
Since the underlying problem won't be fixed for a while, @chrisseto is going to apply a workaround that we had to use in the Treebeard grids. Should be in by 0.25.0

[2015-02-02 14:36] lbanner commented on #98
That is great feedback @rubenarslan -- Thank you!

[2015-02-02 14:38] jlcohoon commented on #1629
Still sitting off to the right. I actually noticed this on staging during the testing, but it was the same on production so I listed the bug here. It's small, but still present after the latest release

[2015-02-02 14:46] lbanner commented on #1598
@caneruguz Done!

[2015-02-02 15:03] HarryRybacki opened #1663 "Modals disable scrollbar and shift navbar right"
## Steps
1. Go to any page with a modal e.g. the login page
![screen shot 2015-02-02 at 9 42 01 am](https://cloud.githubusercontent.com/assets/2614670/6002525/106967f8-aac2-11e4-8888-32eea685aab7.png)

2. Click link that activates modal
![screen shot 2015-02-02 at 9 42 10 am](https://cloud.githubusercontent.com/assets/2614670/6002528/14d83558-aac2-11e4-87f9-0e6f00c0d43f.png)

## Expected
1. When t

[2015-02-02 15:04] HarryRybacki commented on #1663
@caneruguz

[2015-02-02 15:09] caileyfitz opened #1665 "Dataverse file upload errors and file does not upload"
Reported by @nicipfeiffer on the 0.24 Trello board

# Steps
1. Go to a project that has dataverse configured
2. Go to the files page
3. Change the dataverse to 'draft'
4. Click on the 'upload' button
5. Select a new file to upload

# Expected
The file should say 'pending', then 'uploaded 100%', then the file should appear in the list of files

# Actual
First the file says 'uploaded 100%', then it

[2015-02-02 15:35] jeg3tw opened #1667 "[staging & production] FigShare should be all lowercase in addon selection"
Reported by @erinspace on the 0.24 Trello board.

# Steps
1. Go to user settings.
2. Go to configure add-ons.
3. See under storage.

# Expected
Figshare should be displayed as it is on its main site: all lowercase.

# Actual
Currently, it is displayed as FigShare.

![](https://trello-attachments.s3.amazonaws.com/54c8f81cba6b1ae238df1ef3/469x226/2612af354e18a112466e44340c67d876/Screen_Shot_2015-01-

[2015-02-02 15:40] caileyfitz opened #1668 "[staging & production] 'Server responded with 0 code' message when two users upload file at same time"
This is a problem for Safari and IE

# Steps
1. Have two users as contributors on the same project
2. Each user has a file with the same name but different content
3. Both users upload the file with the same name to the same project at the same time

# Expected
An error message such as "Another file with the same name is currently being uploaded" should be seen by the user whose file did not uploa

[2015-02-02 15:46] sloria commented on #1422
Closed by @chrisseto

[2015-02-02 15:46] #1422 closed

[2015-02-02 16:14] caileyfitz opened #1669 "[staging & production][IE] Unable to upload via click or drag and drop on onboarder"
Reported by @nicipfeiffer on the 0.24 Trello board

Similar to https://github.com/CenterForOpenScience/osf.io/issues/1250

# Steps
(I am using IE 11, Win 8.1 on a VM to test)
1. Go to Onboarder
2. Click to upload file
3. Drag and drop a file for upload

# Expected
The files would be uploaded

# Actual
Click to upload does nothing.
Drag and Drop does not allow the file to be added.

[2015-02-02 16:18] caileyfitz opened #1670 "[staging & production] Cannot deauthorize GitHub for components on user settings page"
# Steps
1. Go to a component and authorize GitHub for that component
2. After authorization, go to your user settings page and the Configure Add-ons tab
3. Under Authorized Projects, press the red **x** to remove authorization

# Expected
I expect that the project would be deauthorized

# Actual
An error pops up saying that the project could not be deauthorized. This appears to only happen with co

[2015-02-02 16:18] jeg3tw opened #1671 "[staging & production] Files with ? in them can't be found"
Reported by @erinspace on the 0.24 Trello board.

# Steps
1. Upload a file with a ? in its name.
2. Attempt to view file.

# Expected
The file would be found and rendered.

# Actual
The file is not found at all by the OSF: "Page Not Found" error.

![](https://trello-attachments.s3.amazonaws.com/54c81f2bfc84a37ba34d9cdf/640x364/a3a5cc082e26c558b463da0bea05aea7/question.gif)

[2015-02-02 16:21] caileyfitz opened #1672 "[staging & production] Removing target project from onboard upload during process does not cancel upload"
# Steps
1. Navigate to the dashboard
2. Choose a large file to upload
3. Drag and drop it onto the onboarder
4. Choose a target project
5. Press 'Upload'
6. While the file is being uploaded, click the x by the project name

# Expected
I would expect that clicking the x would cancel the file upload, as there no longer appears to be a target destination for the file

# Actual
The file is uploaded as

[2015-02-02 16:27] caileyfitz opened #1673 "[staging & production] Dataverse .jpg files give a redirect loop error"
Reported by @nicipfeiffer on the 0.24 Trello board

# Steps
1. Go to a project and configure the dataverse add-on
2. Go to the files tab of the project and click on a .jpg file to go the file detail page and render a view

# Expected
Should see a rendered view of the file

# Actual
After waiting a long time: receive a redirect loop error.
![image](https://cloud.githubusercontent.com/assets/5975444

[2015-02-02 16:30] jeg3tw opened #1674 "[production] 'Add Link' does not retrieve all projects"
Reported by @caileyfitz on the 0.24 Trello board.

# Steps
1. Create a project titled A
2. Go to another project
3. Click the 'Add Links' button
4. Search for "A"

# Expected
The project title A should show up in the search results, especially when searching directly under My Projects.

# Actual
The search results truncate and there is no way to find project A and add it as a link. This is more a

[2015-02-02 16:30] caileyfitz opened #1675 "[staging & production] IE: Bootbox causes page to jump"
Reported by @nicipfeiffer on the 0.24 Trello board

## Steps - using IE
1. Go to the user profile page
2. Click on the gravatar image
3. when the gravatar info modal pops up, hit ok
4. click the gravatar again

## Expected
The page would remain stable

## Actual
The page jumps when clicking on the gravatar.
![profile_shift](https://cloud.githubusercontent.com/assets/5975444/6004172/d65bc4fe-aace-1

[2015-02-02 16:33] caileyfitz opened #1676 "[staging & production] IE: File names go past recent activity box"
Reported by @himicakumar on the 0.24 Trello board

# Steps - using IE
1. Upload a file name equal to or greater than 200 characters
2. Go to project page

# Expected
File names would stay inside the "Recent Activity Box"

# Actual
File names goes past recent activity box frame.

![image](https://cloud.githubusercontent.com/assets/5975444/6004239/4e49ae5e-aacf-11e4-95ee-ca42e3aa0a5c.png)

[2015-02-02 16:36] huangginny commented on #1670
:fireworks: :cake: :congratulations: :tada: Congrats Cailey :)

[2015-02-02 16:40] caileyfitz opened #1677 "[staging & production] Console error when downloading file in all addons & OSF Storage"
Reported by @samanehsan on the 0.24 Trello board

# Steps
1) Go to a project with the figshare addon configured
2) In the files page, try to download the file (make sure it is published on figshare)
3) Go to the file detail page and download the file.

# Expected
The file downloads and there are no error messages in the console.

# Actual
In both cases the file does download, but I see the followi

[2015-02-02 16:45] caileyfitz opened #1678 "[staging & production] 'View File' tooltip not visible for long filenames"
Reported by @HarryRybacki on the 0.24 Trello board

# Steps
1. Add a file with a long name
2. Go to the files page or project overview page and hover over file name

# Expected
It is expected behavior that a tooltip would show and say 'View File'

# Actual
No tooltip shows on either the files tab or the project overview page
![screen shot 2015-02-02 at 11 44 17 am](https://cloud.githubusercontent.

[2015-02-02 17:13] jeg3tw opened #1679 "[staging & production] New edit controls on project organizer lack focus"
Reported by @brianjgeiger on 0.24 Trello Board.

# Steps
1. Click on a folder in the project organizer
2. Click on New Folder

# Expected
Cursor should appear in new edit box.

# Actual
The new edit box appears, but does not have focus.  Also, the okay buttons should respond to returns, and the cancel buttons should respond to escape. If the user tabs between controls in all browsers that support

[2015-02-02 17:15] caileyfitz opened #1680 "IE: OSF Allows you to move items form parent project to component, but it doesn't work."
Reported by Harris on the 0.24 Trello board

# Steps
1.) Upload a doc/item to project.
2.) Create a component
3.) In file tab or on main project page drag and drop doc/item from parent project into collection

# Expected
OSF will not allow you to drag and drop items from parent project to collection (this is the case on other browsers and on production)

# Actual
Drag and drop works, item called f

[2015-02-02 17:20] jeg3tw opened #1681 "[staging & production] Shift-select in Modified or Contributors column in Project Organizer also selects text"
Reported by @brianjgeiger on 0.24 Trello board.

# Steps
1. Have some projects in your dashboard folder
2. Click on the top project in the contributors column
3. Shift click on the last project in the contributors column

# Expected
The rows chosen by shift-select will selected.
*this does not occur when clicking in the Name column*

# Actual
The rows AND texts are being selected.

![](https://tre

[2015-02-02 17:23] caileyfitz opened #1682 "[staging & production] Formatting issues on project organizer header"
# Steps
1. Go to the project organizer
2. Click on a project/component to rename it
3. Rename with a long name (some long words, add spaces, short words, more long words, etc)

# Expected
Project/component name would stretch across entire header

# Actual
With a long title, there is some weird formatting going on and title does not stretch across entire length of header. See images.
![image](https

[2015-02-02 17:32] jeg3tw opened #1683 "[staging & production] Misalignment between watch list and project organizer"
Reported by @sloria on 0.24 Trello Board.

# Steps
1. Go to Dashboard.
2. View line under Project and under Watchlist.

# Expected
The line even though not connected should be aligned.

# Actual
There is a slight misalignment between the two.

![](https://trello-attachments.s3.amazonaws.com/54c7b07c0a35fe0d3c603109/772x282/776cdae95f6dcf863b42268c5e8a1382/Screen_Shot_2015-01-28_at_10.06.57_AM.png)

[2015-02-02 17:34] caileyfitz opened #1684 "[staging & production] Disable links for non-configured forward add-on in registrations"
# Steps
1. Navigate to a project
2. Go to the settings tab and then Select Add-ons
3. Check the box next to External Link and press Submit
4. Without configuring the link, click the Registrations tab of the project
5. Register the project
6. On the project registration page, find the External Link widget
7. In the message saying the add-on is not properly configured, press the two hyperlinks (one

[2015-02-02 17:40] #1652 closed

[2015-02-02 17:41] caileyfitz opened #1685 "[staging & production] MFR: Won't render files that have blank names and are only the extension"
Reported by @erinspace on the 0.24 Trello board

# Steps
1. In windows, create a file with just spaces for the name
2. This file will be saved as a file with no name and only an extension
3. Upload this file to the OSF
4. Click the file to render

# Expected
- The file will be recognized and rendered

# Actual
- The page times out once, and then renders a blank page subsequent times after that.

[2015-02-02 17:43] jeg3tw opened #1686 "[staging & production] Audio bar disappears."
Reported by @kushG on the 0.24 Trello board.

# Steps
1. Go to MFR project
2. Select bread-in-toaster.wav from files tab.

# Expected
There should be an audio bar with playing controls visible to user.
*seems to be a Firefox specific problem*

# Actual
Audio bar is visible for only seconds then disappears.

![](https://trello-attachments.s3.amazonaws.com/54ca8c82e32ce0c8578f985c/399x71/ec145ba3ea9

[2015-02-02 17:45] caileyfitz opened #1687 "[staging & production] 'Add Existing Project' button does not work with tab selection"
# Steps
1. Navigate to the dashboard
2. Select a folder on the project organizer and then click 'Add Existing Project'
3. Start typing the name of a project
4. When the name of the project you are typing comes up, use the down arrow to select the project and then press tab
5. Try to add the project via the 'Add' button

# Expected
I would expect that this would sufficiently select the project and

[2015-02-02 17:46] caileyfitz opened #1688 "[feature request] Add a 'cancel upload' button for file uploads in progress"
Reported by @HarryRybacki on the 0.24 Trello board

Related to https://github.com/CenterForOpenScience/osf.io/issues/758 but new issue since we are now using Treebeard

# Steps
(1) Navigate to a projects file section
(2) Click 'Upload Files'
(3) Select file to upload
(4) Click 'Open' and watch the file upload begin
(5) Realize you selected the wrong file after starting the upload
(6) Try to cancel

[2015-02-02 17:51] caileyfitz opened #1690 "[discussion] When uploading a new version of a file, whose previous versions had been deleted, the former versions are reborn!"
Reported by @lbanner on the 0.24 Trello board

# Steps
(1) Find a project with a file that has multiple versions
(2) Delete the file: All versions of the file will no longer be visible and should be deleted
(3) Upload the file again, a new file

# Expected
There will be only one version of this new file

# Actual
The former, deleted, version(s) of the file are reborn and accessible again when rend

[2015-02-02 17:53] caileyfitz opened #1691 "[feature request] File browser should save collapse/expand state"
Reported by @sloria on the 0.24 Trello board

Unlike the project organizer, the file browser does not save folders' collapse/expand state, which can be a major annoyance when navigating between pages.

[2015-02-02 17:54] jeg3tw opened #1692 "[feature request] Success message when enabling add-ons in user settings"
Reported by @caileyfitz on 0.24 Trello board.

# Steps
1. Go to user settings page
2. Go to Configure Add-ons
3. Click a couple add-ons to enable
4. Press submit

# Expected
There would be a success message saying "Settings updated."

# Actual
There is no message. The submit button lights up for a fraction of a second after clicking it without a message. Additionally, there is a success message on

[2015-02-02 17:58] caileyfitz opened #1693 "[feature request] Reduce the number of colors used in File/project highlighting"
Reported by @jlcohoon on the 0.24 Trello board

The search bar, the highlighting of a selected folder in the project organizer, the highlighting when hovering over a file, the highlighting when hovering over a folder when uploading a file, and the file uploading progress bar all use different shades of green/yellow/blue.

Can we reduce this number at all? Perhaps at least re-using the search-bar g

[2015-02-02 18:02] caileyfitz opened #1694 "Dataverse download buttons are part of a "button group" when they should not be"
Reported by @jlcohoon on the 0.24 Trello board

The blue download buttons, as well as the grey upload button, for Dataverse have the "btn-group" class applied to them. This makes their right side not have rounded corners.

![image](https://cloud.githubusercontent.com/assets/5975444/6005865/9a48ec8c-aadb-11e4-96d1-fca26cedfa1a.png)

This class should be removed for all instances except for the uplo

[2015-02-02 18:03] brianjgeiger commented on #1693
Why do you hate color, @jlcohoon?

That being said, a properly developed color palette would be a good idea.

[2015-02-02 18:15] caileyfitz opened #1695 "[staging & production] Add pagination for 'Add Link' results"
Related to https://github.com/CenterForOpenScience/osf.io/issues/1674

# Steps
1. Go to a project
2. Press 'Add Links' button near 'Add Component'
3. Search for "a" (but no quotes) and click 'Search all projects'
4. Scroll through all the search results

# Expected
I expect that after a certain number of search results, there would be some pagination so that there's not an endless list of results

[2015-02-02 18:32] brianjgeiger commented on #1674
This really is the same issue as #1695. The other one is probably a bit more useful of a report, so I'm closing this on.

[2015-02-02 18:32] #1674 closed

[2015-02-02 18:33] caileyfitz opened #1696 "[staging & production] 'Add Links' modal scrolls out of darkened background"
Related to https://github.com/CenterForOpenScience/osf.io/issues/1695

# Steps
1. Go to a project
2. Press 'Add Links' button near 'Add Component'
3. Search for "a" (but no quotes) and click 'Search all projects'
4. Scroll through all the search results

# Expected
I expect the darkened background that is seen with pop-up modals would persist throughout scrolling.

# Actual
The background only ext

[2015-02-02 18:51] caileyfitz opened #1698 "[staging & production] Change pointer icon in wiki tab"
# Steps
1. Go to a project
2. Add a link to another project
3. Observe how the link icon looks in the components/links section on the right-hand side of the page
4. Go to the wiki tab for the parent project
5. Notice what the link icon looks like for the linked project's wiki name

# Expected
I expect these two link icons to be identical

# Actual
Elsewhere on the site, the link icon looks like a

[2015-02-02 19:14] lbanner commented on #1696
@caneruguz  -- This one for you?

[2015-02-02 19:16] caneruguz commented on #1696
Not actually a Treebeard issue but I can look into it. I believe modals should not themselves be very long, they should have internal scrolling. I can do the fix for this.

[2015-02-02 19:17] lbanner commented on #1696
TY!

[2015-02-02 19:20] lbanner commented on #1693
'properly developed color palette' -- it's on our list. Let's work with @brianjgeiger @caneruguz and @KatyCain526 on this -- I will try to remember to get us moving forward here.

[2015-02-02 19:22] lbanner commented on #1694
@caner?

[2015-02-02 20:13] caneruguz commented on #1694
Yes I'm on it.

[2015-02-02 20:24] caneruguz commented on #1691
@lbanner This isn't something I can complete by myself, it's actually not a UI issue, there needs to be some backend that saves this information. Once I have that API path I can do the rest.

[2015-02-02 20:25] brianjgeiger commented on #1691
There are a bunch of potential issues with this as well. I think it would make the most sense to bundle it in with the eventual "customizable dashboard" talked about for a future epic.

[2015-02-02 20:26] lbanner commented on #1691
OK - Thanks!

[2015-02-02 21:20] #1683 closed

[2015-02-02 21:23] brianjgeiger commented on #1675
Duplicate of #1663.

[2015-02-02 21:23] #1675 closed

[2015-02-02 21:24] brianjgeiger commented on #1663
There's a handy animated gif in #1675 that shows off the effect

[2015-02-02 21:31] lbanner commented on #1686
In Firefox - I was able to view + play .wav files. The player is a little less 'clean' then Chrome (frame displays through the time message), but it is functional.
![screen shot 2015-02-02 at 4 29 34 pm](https://cloud.githubusercontent.com/assets/2964829/6009561/e183bbf0-aaf8-11e4-8599-af83d2540257.png)

[2015-02-02 21:38] lbanner commented on #1685
Not an overly likely scenario -- good to be aware -- defer for now.

[2015-02-02 21:38] kushG commented on #1686
@lbanner Strangely, the issue is only for that one file. @brianjgeiger was mentioning that this is a known firefox issue. I couldn't find that link though !

[2015-02-02 21:38] caneruguz commented on #1675
Here's the culprit: When the modal opens body gets the .modal-open class which removes scrolling, in effect removing the scroll bar. When the scroll bar is an overlay no width change happens but otherwise this bug takes place. I think this is a bug with bootstrap.

![screen shot 2015-02-02 at 4 37 27 pm](https://cloud.githubusercontent.com/assets/1314003/6009682/f5588bd2-aaf9-11e4-90f4-6becae63339

[2015-02-02 21:40] brianjgeiger commented on #1686
http://www.tutorialspoint.com/cgi-bin/practice.cgi?file=html5-50.htm

@lbanner when you tested, did you just drag a wav file into firefox, or did you test through the MFR or something similar to the above link?

[2015-02-02 21:41] brianjgeiger commented on #1686
Limited research indicates this might be solvable by passing more metadata into the audio tag, incidentally.

[2015-02-02 21:42] caneruguz commented on #1675
https://github.com/twbs/bootstrap/issues/9855

[2015-02-02 21:42] lbanner commented on #1684
A best solution here might be a warning to the user saying the "add-on is not properly configured" before they are able to leave the page, or, at minimum, create a registration.

[2015-02-02 21:43] brianjgeiger commented on #1686
No, this is likely the problem: "What's the bit depth on your WAV files? Firefox supports 8-bit and 16-bit PCM, but not other bit depths (12, 20, 24, 32)." http://stackoverflow.com/a/10406276

[2015-02-02 21:45] lbanner commented on #1686
@brianjgeiger On OSF I searched for projects with .wav files and opened a few in a public project. FYI: Our MFR Testing Project is no longer .... any way we can we get it back on Staging?

[2015-02-02 21:47] lbanner commented on #1675
@caneruguz Same culprit for #1663? @brianjgeiger closed this one in favor of that one - Thanks!

[2015-02-02 21:48] kushG commented on #1425
Currently the fix is to list all the repositories of the organizations to which user has access. This should be still open for discussion as there is no such way yet in github3.py to get the repositories to which user has write access. This fix only lists out all the repositories of all the organization that user has access to.

[2015-02-02 21:49] lbanner commented on #1680
Assuming this is a bug on Production + Staging? @caileyfitz  --- Agreed - should not be allowed until we actually implement such.

[2015-02-02 21:50] caneruguz commented on #1675
Yes it looks the same, although I can't confirm because my Mac OS puts overlay to all scrolls. The better description for this issue is #1663, we should keep that one open and close this one or defer this one.

[2015-02-02 21:53] lbanner commented on #1425
@lyndsysimon @brianjgeiger @sloria Please let me know who is good to help discussion on this one w/ @kushG  --- And how big a deal this might be -- especially as I think we have few-to-none outside users taking advantage of GitHub?

[2015-02-02 21:54] lbanner commented on #1675
Agreed -- and you are assigned to #1663 -- Thanks!

[2015-02-03 01:36] macklenc commented on #1661
That is exactly what is happening on my end.

On Sun, Feb 1, 2015 at 6:23 PM, Caner Uguz <notifications@github.com> wrote:

--
-Chris

[2015-02-03 03:38] JeffSpies opened #1703 "Sign up field labels are not displayed in IE9"
From mycrowd....

# Summary of the Bug

Sign up field labels are not displayed in Internet Explorer v9.0

![1](https://cloud.githubusercontent.com/assets/512000/6014091/1976ed7e-ab2c-11e4-8377-078fa049d7d9.jpeg)

# Set of Steps to Reproduce:

1) Go to http://www.osf.io in Internet Explorer v9.0
2) Observer Image attached. Sign up fields labels are not displayed.
3) This make it difficult for user

[2015-02-03 13:59] caneruguz commented on #1476
@lbanner This issue is resolved now with the new Project Organizer toolbar

[2015-02-03 14:14] lbanner commented on #1476
TY!

[2015-02-03 14:15] caneruguz commented on #1688
This is not just a UI process, I think waterbutler needs to intervene here about what happens when file upload is canceled. Tagging @icereval @chrisseto @jmcarp

[2015-02-03 14:17] #1476 closed

[2015-02-03 14:18] lbanner commented on #1688
Sounds good @caneruguz

[2015-02-03 14:20] caneruguz commented on #1687
Typeahead doesn't support this: https://github.com/twitter/typeahead.js/issues/726
We can try to look for ways around it or defer it for the moment.

Thoughts @brianjgeiger ?

[2015-02-03 14:21] caneruguz commented on #1682
@lbanner This one is also something I should handle. Can you assign me?

[2015-02-03 14:22] brianjgeiger commented on #1687
I vote for defer. At some point, we may have an intern or someone go through all of those widgets and unify them on a single widget, and we can point to this as a requirement, but I don't think we should try to change typeahead right now.

[2015-02-03 14:52] icereval commented on #1688
If an upload is cancelled WaterButler will just disconnect the upload from the third party (Dropbox, S3 etc..) so you should be fine to just cancel the upload and report the operation back to the user via the frontend client.

[2015-02-03 14:59] caneruguz commented on #1688
Okay then @lbanner you can assign this to me as well.

[2015-02-03 15:00] caneruguz commented on #1678
@lbanner  I'll take this one as well.

[2015-02-03 17:17] lbanner commented on #1673
With Dataverse work upcoming - I am going to defer this for now.

[2015-02-03 18:29] caneruguz commented on #1663
So this issue is prominently discussed in Bootstrap and there is a PR submitted for it: https://github.com/twbs/bootstrap/pull/15353

I recommend that we close this issue and wait for Bootstrap to resolve it. The only other alternative is to add a sitewide readjustment which may not be necessary and may require tests.

[2015-02-03 19:43] lbanner commented on #1663
OK @caneruguz -- I am good with that, thanks.

[2015-02-03 19:43] #1663 closed

[2015-02-03 19:51] sloria commented on #1703
This was also reported in https://github.com/CenterForOpenScience/osf.io/issues/1483

[2015-02-03 19:57] #1694 closed

[2015-02-03 19:59] icereval commented on #1629
At some point we'll need to implement the full featured pdf.js viewer which should correct some of these oddities in our custom viewer implementation.

Ex:
https://mozilla.github.io/pdf.js/web/viewer.html

[2015-02-03 20:00] icereval commented on #1629
For now @mfraezz can you see if you can correct this positioning behavior, thanks!

[2015-02-03 20:15] sloria commented on #1661
@macklenc This has been fixed. Feel free to reopen if the problem persists. Thanks for reporting this.

[2015-02-03 20:18] mfraezz commented on #1629
Planning on implementing http://viewerjs.org/ as a solution to this and as a catch-all solution to open-document formats (for which we currently have no support). This is low-priority compared to a Box addon for the osf, but I will get to it

[2015-02-03 20:22] lbanner commented on #1665
Let's Defer as the Dataverse work -- and their API -- gets resolved.

[2015-02-03 20:30] lbanner commented on #1629
Thanks and agree @mfraezz

[2015-02-03 20:48] #1696 closed

[2015-02-03 21:17] caneruguz commented on #1676
For future reference, we need Browser version numbers and Operating Systems for these error reports, especially for IE.

[2015-02-03 21:20] caileyfitz commented on #1676
@caneruguz I agree that would be helpful info. I just asked @himicakumar and she said IE 11 and Windows 8.1

[2015-02-03 21:21] caneruguz commented on #1676
Very cool, thanks!

[2015-02-03 21:28] #1598 closed

[2015-02-04 16:19] caneruguz commented on #1457
This process worked for me using an LG G3 phone with Android version 5.0. I was able to click the onboarding upload, select a photo and uplaod to a subcomponent and then view it in the files page. Might likely be something specific to which mobile device or software version.

[2015-02-04 16:23] caneruguz commented on #1649
![unnamed](https://cloud.githubusercontent.com/assets/1314003/6044279/39fbfbfe-ac60-11e4-95b0-4b87cf857f91.png)

This also hides the project navigation. I should fix this now, @lbanner can you assign me to this.

[2015-02-04 16:26] brianjgeiger commented on #1457
Works on iOS 8, although it always sends it as image.jpg. It would be good to allow the ability to name the file under that circumstance.

[2015-02-04 18:02] lbanner commented on #1457
We might want to discuss this one -- how much do we want to support file-upload via mobile? File management is somewhat complex in mobile os, but for photos.

[2015-02-04 18:02] lbanner commented on #1649
Got it @caneruguz

[2015-02-04 18:22] caneruguz commented on #1427
this should be fixed now. everything about that loading experience is different.

[2015-02-04 18:27] lbanner commented on #1427
Good -- I will close this one. Thanks!

[2015-02-04 18:27] #1427 closed

[2015-02-04 18:28] caneruguz commented on #1426
This is what's happening now. Time to close this issue? @sloria @lbanner

![osf___wiki_ui_workspace_files](https://cloud.githubusercontent.com/assets/1314003/6046586/95627bb0-ac71-11e4-8b7f-981e16fe01cf.png)

[2015-02-04 18:30] lbanner commented on #1426
Yes @caneruguz -- Got it -- Thank you!

[2015-02-04 18:30] #1426 closed

[2015-02-04 18:41] caneruguz commented on #1336
@Steve is this still an issue in light of recent release?

[2015-02-04 18:44] caneruguz commented on #1261
@brianjgeiger This is no longer an issue right?

[2015-02-04 18:46] caneruguz commented on #1165
@lbanner Treebeard now does this. I think this issue can be closed.

[2015-02-04 18:47] sloria commented on #1336
Yes, this can be closed.

[2015-02-04 18:47] #1336 closed

[2015-02-04 18:47] caneruguz commented on #1155
@jmcarp Is this still an issue?

[2015-02-04 18:47] brianjgeiger commented on #1261
Correct

[2015-02-04 18:47] #1261 closed

[2015-02-04 19:13] #1676 closed

[2015-02-04 19:17] #1698 closed

[2015-02-04 19:32] #1649 closed

[2015-02-04 19:39] caneruguz commented on #1680
What seems to be happening here is that the user is selecting the icon for a file and dropping it into Components.

When this happens the browser is thinking that the item is the image file and makes it a droppable file. It will then try to upload that file regularly as if it was brought from somewhere else. The file itself is not being dragged, it is impossible to drag and drop files themselves,

[2015-02-04 19:47] jmcarp commented on #1155
No, this is fixed with the move to WaterButler. Thanks for pointing this out @caneruguz.

[2015-02-04 19:47] #1155 closed

[2015-02-04 19:57] sloria opened #1715 "Link icon in project organizer does not have transparent background"
### Steps

View a linked project in the project organizer.

### Expected

The link icon's background is transparent.

### Actual

Icon's background is white.

![osf___dashboard](https://cloud.githubusercontent.com/assets/2379650/6048423/1d6c6262-ac7e-11e4-8a51-992ae73aa17f.png)

[2015-02-04 20:13] #1679 closed

[2015-02-04 20:33] caneruguz commented on #1654
The current forks file (**forks.mako**) has this. There should probably be a change in the logic of if else there or an additional message

[code]

[2015-02-04 20:35] caneruguz commented on #263
This is the case in the current implementation of Treebeard. @sloria can you close this issue?

[2015-02-04 20:35] brianjgeiger commented on #1654
I would expect that to should the "No forks" message. I wonder why it's not. I presume there are forks that are, for some reason, not visible?

[2015-02-04 20:42] caneruguz commented on #468
It doesn't look like this is an issue anymore. @sloria @jmcarp can comment to this as well. While lazyloading is happening the clicks are still responsive and the page load to what you clicked has started.
Close?

[2015-02-04 20:56] lbanner commented on #468
Currently is is deferred, but I am happy to close unless @sloria or @jmcarp say no. Thanks!

[2015-02-04 21:01] #263 closed

[2015-02-04 21:04] #1165 closed

[2015-02-04 21:21] jlcohoon commented on #1690
Like you said, this is expected behavior. I actually think it should remain this way. I've used this feature to get back an old version that I changed my mind about deleting. Furthermore, the point isn't really to hide any old information. If you don't want old versions to come back you just have to use a different file name.

[2015-02-04 21:25] lbanner commented on #1690
Interesting .... not sure which approach is better!

[2015-02-04 21:26] jlcohoon opened #1719 "Cannot delete .sta file from file details page"
<h4>Steps</h4>
1. Upload a file to the OSF. I uploaded a .sta file and this was producing the error. I have not yet replicated it with another file. You can access the file I used <a href="https://www.dropbox.com/s/7jac9ud8pvkox8u/Data%20-%20Harmon-Jones%202008%20Study%202%20Replication%20Project%20-%20Gable%20%26%20Mechin.sta?dl=0">here</a>.
2. From the file's detail page, click on delete.
3. Whe

[2015-02-04 21:37] caneruguz commented on #973
@lbanner this issue should be closed, it is not relevant with the new Treebeard implementation.

[2015-02-04 21:39] caneruguz commented on #975
@lbanner This issue is also not relevant anymore, does not happen with Treebeard.

[2015-02-04 21:55] brianjgeiger opened #1721 "Don't allow user to select Dropbox root"
Steps
-------
1. Add Dropbox plugin to a project and authorize it

Expected
------------
You should be able to select any folder in your dropbox except the root

Actual
--------
You can select any folder including the root

h/t @huangginny for finding this

[2015-02-04 21:56] huangginny commented on #1721
I can take this issue @sloria

[2015-02-05 01:48] sloria commented on #1721
We actually have been allowing users to choose the root folder. It should behave just like any other folder within a Dropbox.

Apologies for the misguidance.

[2015-02-05 01:48] #1721 closed

[2015-02-05 15:24] jlcohoon opened #1724 "Unconfirmed contributors do not show up in search results for a project"
<h4>Steps</h4>
1. Search the OSF for a project that has an unconfirmed contributor (ie. a non-OSF user added to it)
For example, search for "Halevy"

<h4>Actual Results</h4>
1. Only confirmed contributors show up in search results. For instance, if you visit the project, you see three contributors—one unconfirmed. The search results only show the two confirmed contributors.
![screen shot 2015-02-0

[2015-02-05 15:24] jlcohoon commented on #1373
any updates on this?

[2015-02-05 15:35] brianjgeiger commented on #1724
The reason it's not happening right now is that all of the information inside of the search results is based on what's indexed in Elastic Search. We could put in AJAX requests for contributor lists, but that's potentially 10 projects worth of gathering contributors, so if someone did a search for RPP and got it and 9 registrations of RPP, then there's a bunch of very slow requests to get that info

[2015-02-05 15:46] lbanner commented on #1724
Agreed that ideally all contributors, confirmed or not, might be searchable -- but for now, and thank you @brianjgeiger for insight, let's defer until we analyze search again as a whole.

[2015-02-05 15:48] lbanner commented on #1373
@caneruguz This in your arena? Maybe can/will be tackled via you and @brianjgeiger with 0.25.0 Wiki improvements?

[2015-02-05 15:50] lbanner commented on #975
Thanks!

[2015-02-05 15:50] #975 closed

[2015-02-05 15:50] lbanner commented on #973
Thanks!

[2015-02-05 15:50] #973 closed

[2015-02-05 15:51] brianjgeiger commented on #1373
This is a tiny change that nearly anyone could do in a hotfix if we wanted. Should just be adding {word-wrap: break-word;} to the css for the wiki widget.

[2015-02-05 15:54] lbanner commented on #1719
Replicated -- Ye, 'tis a :bug:  -- This is WaterButler arena? @brianjgeiger

[2015-02-05 15:55] lbanner commented on #1373
@huangginny You feel like knocking this one out? TY

[2015-02-05 18:55] sloria commented on #1466
Added the following UI to the VOL table on public projects:

![osf___addons_testing_contributors](https://cloud.githubusercontent.com/assets/2379650/6066878/735b4fb0-ad3e-11e4-9735-6e1d4a43ef52.png)

@brianjgeiger Close this issue, or is there more to do here?

[2015-02-05 19:00] brianjgeiger commented on #1466
This should do. If we get confused again, we'll revisit.

[2015-02-05 19:39] fabianvf commented on #1724
We currently purposefully filter unconfirmed users out of the search results, but they should still probably be displayed on projects. I just looked into it, and it would be a quick 1 line change to get all contributors indexed. This means that searching for an un{registered|confirmed} user would bring up all projects that they have been added to.

[2015-02-06 01:12] lbanner commented on #1724
Alright @fabian -- Want to make it happen? I tagged this to you - TY

[2015-02-06 02:08] fabian commented on #1724
Wrong @fabian, probably meant for @fabianvf ;-)

[2015-02-06 02:13] lbanner commented on #1724
Right!! Thank you @fabian : - ) ... This one is for you @fabianvf -- OK? TY

[2015-02-06 14:48] fabianvf commented on #1724
@lbanner  Is this a hotfix or feature?

[2015-02-06 14:54] lbanner commented on #1724
Feature @fabianvf  -- PR whenever you are ready

[2015-02-06 14:55] saradbowman commented on #1521
any updates/further thoughts on this?

[2015-02-06 15:02] lbanner commented on #1521
@saradbowman I'll find someone to put on this one and get it done

[2015-02-06 16:15] lbanner commented on #1521
@HarryRybacki Can you take a look at this? TY

[2015-02-06 16:35] saradbowman commented on #1521
Thanks!

On Fri, Feb 6, 2015 at 10:02 AM, LarryB <notifications@github.com> wrote:

[2015-02-06 16:41] jlcohoon commented on #1422
Still seeing this in some instances—are these trickier to work around or might they be able to get resolved as well?
![screen shot 2015-02-06 at 11 40 32 am](https://cloud.githubusercontent.com/assets/4965832/6083231/14da9b96-adf5-11e4-9c05-4bce021b5ed1.png)

[2015-02-06 16:46] HarryRybacki commented on #1521
Yep!

[2015-02-06 18:04] lbanner commented on #1422
@chrisseto @brianjgeiger Insight? Should be resolved with #1308, but that's been put on the back-burner, after completion of current 30-month epic

[2015-02-06 21:06] brianjgeiger commented on #1422
We should see why this is happening at the very least.

[2015-02-07 00:49] #1352 closed

[2015-02-07 01:29] brianjgeiger commented on #1415
@chrisseto Could you mention in your PR that this issue will be fixed when it's merged?

[2015-02-07 02:33] jlcohoon opened #1733 "Cannot download .zip file"
<h4>Steps</h4>
1. Try to download this file: https://osf.io/bimqw/

<h4>Outcome</h4>
1. "Not found" returned
2. Console logs "Failed to load resource: the server responded with a status of 404 (Not Found)"
"https://storage101.iad3.clouddrive.com/v1/MossoCloudFS_926294/osf_storage_p…700b801c93f63b8c435fbf7bdd566b2210c537bc&filename=Raw+Replicaton+Files.zip"

<h4>Expected</h4>
1. File should downloa

[2015-02-09 01:34] bnosek opened #1736 "New Feature: Open Projects"
For next epic or beyond.

Setting projects as Open is one step beyond public.  With Open projects, OSF users can join the project themselves (as Read+Write).

For public projects, when the administrator sets them to open the public button becomes a "Join" button.  Pressing it either pops-up a modal to log-in/sign-up or adds the person to the contributor list.

Administrators can set the project to

[2015-02-09 01:36] bnosek commented on #1736
might make sense to add at the same time as adding "Request Access" feature - projects/components expose the title and description and users can request read access.

[2015-02-09 01:42] sloria commented on #1733
Reopening this. Will close once @jmcarp and @icereval 's migration script is run (planning on doing this tomorrow morning).

[2015-02-09 15:15] lbanner commented on #1415
@brianjgeiger @chrisseto Files View PR, I assume? Got a number on that?

[2015-02-09 15:22] chrisseto commented on #1415
This is, currently, not fix in my PR. I can add this in if you'd like.

[2015-02-09 15:25] lbanner commented on #1415
Not too hard @chrisseto ?

[2015-02-09 15:44] chrisseto commented on #1415
@lbanner Not at all

[2015-02-09 15:51] lbanner commented on #1415
OK thanks @chrisseto -- yes, let's do it.

[2015-02-09 16:24] chennan47 opened #1738 "[staging] [onboarding] expand button on create a new project doesn't aline up"
<b><big>Step</big></b>
logging into your dashboard and check on the onboarding part

<b><big>Expected</big></b>
The expand button icon should aline up with the create a project

<b><big>Actual</big></b>
![screen shot 2015-02-09 at 11 23 58 am](https://cloud.githubusercontent.com/assets/4974056/6110219/319de6e2-b04e-11e4-8331-a55019564d9c.png)

[2015-02-09 16:28] lbanner commented on #1738
Does look just to be on 'Staging' -- Which browser @chennan47 ? -- and can you check other browsers?

[2015-02-09 16:42] chennan47 commented on #1738
@lbanner I am using chrome. Have tested this problem on Chrome 40, Safari 7, firefox 35 on OSX ver 10 and Chrome 40, firefox, IE 11 on windows 8.1. It appears that this problem only happen to Chrome and Safari.

[2015-02-09 16:44] lbanner commented on #1738
@caneruguz ?

[2015-02-09 16:51] caneruguz commented on #1738
There are some strange things happening on develop branch, most of which are issues that are not on production and some are things that were fixed earlier. This is something Steve showed me. We looked into it, and could not understand what could possibly cause this.  Before we go on trying to fix this I would like to make sure it's not a regression of recent changes to osf.
@sloria .

[2015-02-09 16:54] mckidwell opened #1739 "[production] special characters do not render for .docx files"
Steps:

1. View a .docx file that contains a special character (example: https://osf.io/7dybc/)

Expected:
Rendered version of the .docx file should reflect its contents exactly.

Actual:
Special characters (é, ö, etc.) do not render when viewing the document on the OSF.

The first name of the author listed below should read Belén, not Beln. His last name should read Fernández, not Fernndez.

![sc

[2015-02-09 16:58] JeffSpies commented on #1739
To start with, perhaps a message stating that the rendering of docx files
is imperfect would suffice?

On Mon, Feb 9, 2015 at 11:54 AM, Mallory Kidwell <notifications@github.com>
wrote:

[2015-02-09 17:03] lbanner commented on #1739
That's a sound approach -- Do we have any messaging like that currently? Around other file types?

[2015-02-09 17:09] lbanner commented on #1738
Sounds good @caneruguz TY

[2015-02-09 17:58] sloria commented on #1738
Yes, will look into this.

[2015-02-09 19:56] bnosek opened #1743 "[feature request] Demo mode for registrations"
For future epic:

If a user would like to try out the registration process, but not commit to a registration, demo mode would allow them to go through the entire preregistration process and see the output, but the registration would be purged at the end of the day (or whatever convenient period soon after).

This would be particularly useful for trainers to use when doing demonstrations of registr

[2015-02-09 20:01] jlcohoon commented on #1422
ps. This happens in the add contributors modal too:
![screen shot 2015-02-09 at 2 57 49 pm](https://cloud.githubusercontent.com/assets/4965832/6114441/29410b14-b06c-11e4-9230-f91dccaf3e83.png)

But, this same project renders correctly in search results:
![screen shot 2015-02-09 at 3 00 09 pm](https://cloud.githubusercontent.com/assets/4965832/6114474/5f147208-b06c-11e4-9b6d-581dd7c4cf90.png)

[2015-02-09 20:02] HarryRybacki opened #1744 "[dev] base.mako shouldn't be importing settings.py directly"
I noticed that base.mako was directly importing settings.py -- exposing credentials to all templates that inherit from base.mako (most of them).

We discuss possibly refactoring.

Note: base.mako was the only place this import happens so it should be a simple-ish refactor.

[2015-02-09 21:32] fabianvf commented on #1736
Interesting. Would this include a system to undo changes, similar to wikipedia, to help mitigate unhelpful or malicious users?

[2015-02-09 21:34] bnosek commented on #1736
Yes, it would need that over time.  But an incremental approach can just
add the feature and warn users about the consequences of turning it on.
Then, if there is use and interest, we could expand the accessibility of
version control for roll-back.

On Mon, Feb 9, 2015 at 4:32 PM, Fabian von Feilitzsch <
notifications@github.com> wrote:

[2015-02-09 22:02] lbanner commented on #1744
This looks to be a priority, especially given the 'exposing of credentials' nature of the thing -- Can you, @HarryRybacki take a stab at analysis and approach? One question -- wondering, for all mako files, what other files are calling "settings" (the variable)? If needed @sloria can be a question resource, and you can brainstorm with me to best of my ability.

[2015-02-10 00:14] HarryRybacki commented on #1744
Sorry, we're not exposing anything sensitive. I meant that we are exposing
more variables than are necessary in a lot of templates.

On Mon, Feb 9, 2015 at 5:02 PM, LarryB <notifications@github.com> wrote:

--
*Harry Rybacki* - Developer, Center for Open Science
Research: http://scinet.osf.io
Blog: http://rybacki.io
[image: http://github.com/harryrybacki]
<http://github.com/HarryRybacki> [image:
h

[2015-02-10 00:56] JeffSpies commented on #1744
To be clear, someone would have to output the settings variables as html for this to be an issue. It's a good fix to prevent such an accident. A filter on settings would be a quick fix.

[2015-02-10 01:21] lbanner commented on #1744
Thanks for clarity @JeffSpies -- @HarryRybacki -- want to tackle? ... even if it doesn't particular mean protecting us from sensitive exposure!

[2015-02-10 01:28] sloria commented on #1744
One issue that is related to this: `website.settings` is a mix of environment/deployment-specific variables (e.g. `DB_PORT`, `MAIL_PASSWORD`) and constants used by the application (e.g. `WIKI_WHITELIST`, the constants used by project organizer).

A good refactor would be to separate configuration from constants. Something like:

[code]

If we really wanted to, we could even maintain backwards-comp

[2015-02-10 03:24] lbanner opened #1746 "Profile pages with long links in the social media section that produce errors"
## Steps

Go to a users profile. Click on the user’s social media profile link — even a relatively long link.

## Expected

You should be directed to the user’s social media site

## Actual

The link does not direct to the proper page.

## Example

![socialmedialinkerror](https://cloud.githubusercontent.com/assets/2964829/6120980/55c955e0-b0aa-11e4-830d-e695aad832b7.png)

[2015-02-10 13:58] HarryRybacki commented on #1744
I will take a deeper look at options this morning

[2015-02-10 14:18] lbanner commented on #1744
TY! @HarryRybacki

[2015-02-10 14:23] brianjgeiger commented on #1746
What's happening here is that the LinkedIn link should just be the Profile ID for the user, not the whole URL. See how twitter and ORCID are just the pieces of info and not the whole URL? LinkedIn should be that way as well. For example, here is my social profile:

![screen shot 2015-02-10 at 9 16 34 am](https://cloud.githubusercontent.com/assets/6599111/6128685/09a08b6e-b106-11e4-8b2c-df1cdef3267

[2015-02-10 14:47] KatyCain526 opened #1748 "Apparent Divergence of View-Only Link File Downloads"
This is a problem that a user found.
1) Make a view-only link
2) Try to download files from "Files" tab
3) Try to download files from the individual file's page

-------
We expect to be able to download files from both the "Files" tab and the individual file's page.

We found that we could only download files from the "Files" tab, and that trying from the individual file's page leads to:
![screen

[2015-02-10 15:44] lbanner commented on #1748
Michael is on this -- TY @icereval !

[2015-02-10 15:45] KatyCain526 commented on #1748
:+1:

[2015-02-10 15:47] lbanner commented on #1746
So @brianjgeiger -- Anyway we can script a correction to LinkedIn links that are input incorrectly? -- especially for long-time users who may have just dropped in the full link prior to our new UI that gives better direction.

[2015-02-10 15:51] brianjgeiger commented on #1746
I don't think so. There are at least 3 different ways you can mess up the LinkedIn ID, and some of them don't really provide you with a view that's visible to someone who isn't the person in question. We could find out who some of the users are, and we could fix some of the cases. but I don't believe we can automatically fix all of the cases.

[2015-02-10 16:31] lbanner commented on #1746
Going to defer + communicate with community/desk on how to respond to user's with this challenge.

[2015-02-10 17:04] sloria commented on #1748
@KatyCain526 This should now be fixed. Can you verify?

[2015-02-10 18:52] icereval commented on #1733
This is now resolved, the file is available for download.

[2015-02-10 18:53] lbanner commented on #1733
TY!

[2015-02-10 18:53] #1733 closed

[2015-02-10 20:10] HarryRybacki opened #1753 "[feature] Password field should have helper for account creation"
## Purpose
Provide users tooltip with information regarding our password policy during account creation.

## Changes
Provide users with information about password policies during creation as opposed to after attempting submission (current behavior) -- see picture below for an example of a supposed user attempting to create an account with a password that is too short.

![screen shot 2015-02-10 at

[2015-02-11 15:10] saradbowman opened #1761 "Sort by All the Things"
Steps
-------
1. View a presentation service or the "files" tab of a project
2. You can sort by Title and Author (on the presentation service) or by Title (on files tab), but not by Download count (either pres. service or files tab) or category (presentation service).

Expected
------------
You can sort by any of the columns.

Actual
--------

You can't sort by items mentioned above in step 2.

[2015-02-11 18:59] saradbowman opened #1768 "User Metrics Aren't Counted in the Same Way"
There is a script reporting number of users (among other things): https://github.com/CenterForOpenScience/osf.io/blob/f533483945056724d05088eaccb7f5d9f087e080/scripts/analytics/benchmarks.py

There is another script reporting the domains of email addresses registered in the 24 hour period prior to the script running: https://github.com/CenterForOpenScience/osf.io/blob/1471cadbd979f0bcee73d74a8123b

[2015-02-11 19:02] lbanner commented on #1768
@jmcarp Did you originate these? If so, can you take a look? -- Thanks!

[2015-02-12 14:19] #1413 closed

[2015-02-12 16:29] sloria commented on #1748
ping @KatyCain526

[2015-02-12 20:47] caileyfitz opened #1778 "[staging & production] Text hangover in contributors modal"
# Steps
1. Go to a project on which you have admin access
2. Click on the sharing tab and then Add Contributors
3. Search for a person with a long name (you can have someone in the office temporarily change their last name to make it longer)
4. Click the plus sign to add them to your project

# Expected
I expect that all text will stay within the modal outlines

# Actual
Some text hangs over if th

[2015-02-12 21:11] sloria opened #1780 "Go/Nogo for release 0.25.0"
Branch: https://github.com/CenterForOpenScience/osf.io/tree/release/0.25.0
Changelog: https://github.com/CenterForOpenScience/osf.io/blob/release/0.25.0/CHANGELOG

Deployment actions:

- [x] Update production waterbutler servers with latest code
- [x] Add sharejs supervisor config
- [x] Update python requirements
- [x] Pull down codebase
- [x] Build citation records: `inv update_citation_styles`
-

[2015-02-12 21:16] #1494 closed

[2015-02-13 01:10] sloria commented on #1780
There is one last set of fixes to merge. After that, Michael and I will each do one last pass over each of the addons to make sure rendering is working.

Once that is finished. I am a go.

[2015-02-13 01:34] GaryKriebel commented on #1780
After talking with the boys post beCraft, I am a go pending the run through by Steve and Co.

http://m.youtube.com/watch?v=zVf-rehP4b8

[2015-02-13 01:40] lbanner commented on #1780
Thanks @sloria and @GaryKriebel  -- I am a GO -- This has been good work all around. Let's here from The @caileyfitz :smiley_cat:

[2015-02-13 02:38] sloria commented on #1780
Update: we ran into some bugs when testing rendering. I can't confidently say that this is release-ready  Will try to address the remaining bugs tonight but will likely need some time in the morning with the waterbutler team. Once that is finished, we should do one last pass over file rendering for each addon.

No go for now

[2015-02-13 02:39] chrisseto commented on #1780
No go

[2015-02-13 03:13] lbanner commented on #1780
OK @sloria and @chrisseto -- we'll regroup in the AM -- Thanks for the work!

[2015-02-13 03:23] icereval commented on #1780
No go, certainly not due to anyone's lack of effort. We'll need to revisit and rethink the way we are handling Celery/MFR File Rendering and WaterButler interactions in depth come the morning.

e.g. (once we saw this we knew it was time to take a break)

![image](https://cloud.githubusercontent.com/assets/3111541/6181722/4f088f3e-b305-11e4-8a62-3f02cc62898b.png)

[2015-02-13 03:26] JeffSpies commented on #1780
What seems to be the problem?

On Thu, Feb 12, 2015 at 10:23 PM, Michael Haselton <notifications@github.com

[2015-02-13 18:45] fabianvf opened #1795 "[production] 404 page doesn't have search bar sometimes"
Steps
-------
1. Go to any non-existent route prefixed with ```osf.io/search```

Expected
------------
You get ```404 Page not found```, but the interface works normally

Actual
--------
You get a ```404``` page, but there is no search bar at the top anymore. Other ```404``` pages behave as expected.

![screen shot 2015-02-13 at 1 44 11 pm](https://cloud.githubusercontent.com/assets/2431974/619315

[2015-02-13 18:54] lbanner commented on #1795
Interesting @caneruguz ? @brianjgeiger ?

[2015-02-13 19:06] brianjgeiger commented on #1795
That makes a certain amount of sense. Anything under osf.io/search/ matches to our search page, which doesn't have a search control at the top of the nav bar, because the search interface is all in the page. However, the 404 page is actually being displayed, not the search page, so we don't get the search content.

We are using javascript to check the location of the page to determine if we want t

[2015-02-13 19:32] brianjgeiger commented on #1795
I don't think we have access to that information directly, so I suspect either we'll need to store something in contextVars, or we will need to do something hacky like check the contents some indication that it's a 404 page.

Orrrr… maybe a better way would be to add to the contextVars a flag "onSearchPage" in search.mako. That way, if the OSF serves up the search page, we don't show the magnifyin

[2015-02-13 22:13] lbanner commented on #1780
Blocker at present: WaterButler <---> GitHub and how it deals with branches + revisions (short version of my understanding). @icereval @sloria @chrisseto are continuing to focus their efforts here. In checking in with them, I propose they take the evening + weekend, as they can, to continue the focus and resolve the issue, with a deployment possible Sunday eve -- or Monday. Other route would be to

[2015-02-15 22:29] lbanner commented on #1780
@sloria and @icereval ... GitHub issue has passed QA w/ @Gary and I. Recognize that the IE10 bug might still be with us, but that is low impact to the value of the whole. Do we think we want to go for an evening/early AM release? I'd like to see it happen if there is high-percentage confidence. Thoughts from the "Go-NoGo" team?

[2015-02-15 23:15] JeffSpies commented on #1780
What is the IE10 bug?

On Sun, Feb 15, 2015 at 5:30 PM, LarryB <notifications@github.com> wrote:

[2015-02-15 23:28] GaryKriebel commented on #1780
PDFs do not render.

[2015-02-15 23:29] JeffSpies commented on #1780
We're sure it's limited to IE10? Can we notify users that it's an IE
problem temporarily?

On Sun, Feb 15, 2015 at 6:28 PM, Gary Kriebel <notifications@github.com>
wrote:

[2015-02-16 01:29] GaryKriebel commented on #1780
PDFs now rendering in IE10.

On Sun, Feb 15, 2015 at 6:29 PM, Jeffrey Spies <notifications@github.com>
wrote:

[2015-02-16 01:51] sloria commented on #1780
Merging @icereval 's latest fixes for rendering files with `#` characters in the filename.

We have tested CRUD on all the addons and have verified it is working.

Once, the travis build is passing, I am a go.

[2015-02-16 01:57] lbanner commented on #1780
Thanks @sloria  -- @gary and I have been running through some IE file rendering issues w/PDFs (IE 11), but looks like they exist in Production too, and so we think it should not hold release on the whole, but will require checking and potential follow-on fixes. I am a "go" on release 0.25.0.

[2015-02-16 01:57] GaryKriebel opened #1806 "PDFs cause IE11 to stop working in production"
Steps
-------
1. Using IE11, go to a project with pdf files.
2. Click on a pdf file to view the files page.

Expected
------------
PDF should render.

Actual
--------
PDFs do not render and cause IE11 to stop working.
![screen shot 2015-02-15 at 8 52 26 pm](https://cloud.githubusercontent.com/assets/9437946/6206317/257dd352-b555-11e4-8bc5-4960cb369cd3.png)

[2015-02-16 02:01] GaryKriebel commented on #1780
Here is the GH issue for IE11 PDFs.
https://github.com/CenterForOpenScience/osf.io/issues/1806

Otherwise I'm good.

On Sun, Feb 15, 2015 at 8:57 PM, LarryB <notifications@github.com> wrote:

[2015-02-16 02:02] lbanner commented on #1780
:rocket:

[2015-02-16 02:15] sloria commented on #1780
Michael, Chris, and I are looking into the PDF bug on IE11 now.

[2015-02-16 02:26] sloria commented on #1780
Chris is putting in a fix that will proxy downloads through the OSF for IE11 only (which is the same behavior on production right now). Other browsers will be able to stream downloads through waterbutler. We will run through rendering on IE11 once that is merged.

ping @JeffSpies @GaryKriebel  @jmcarp @caileyfitz @rliebz for go/no-go response.

[2015-02-16 02:40] lbanner commented on #1780
Sounds good @sloria and thanks @icereval and @chrisseto

[2015-02-16 02:47] GaryKriebel commented on #1780
With that workaround I am a go.

On Sun, Feb 15, 2015 at 9:26 PM, Steven Loria <notifications@github.com>
wrote:

[2015-02-16 02:51] chrisseto commented on #1780
@GaryKriebel we think we have a fix for the IE11 bug.

[2015-02-16 02:51] GaryKriebel commented on #1780
Excellent.

On Sun, Feb 15, 2015 at 9:51 PM, Chris Seto <notifications@github.com>
wrote:

[2015-02-16 02:53] JeffSpies commented on #1780
If those are fixed and tested, and we don't need to discuss further,
consider me a go.

On Sun, Feb 15, 2015 at 9:51 PM, Gary Kriebel <notifications@github.com>
wrote:

[2015-02-16 03:09] icereval commented on #1780
Go

[2015-02-16 03:20] rliebz commented on #1780
I'm a go

[2015-02-16 03:22] gary commented on #1780
28 replies later and you still haven't figured it out. You've got the wrong
Gary, guys.

On Sunday, February 15, 2015, Robert Liebowitz <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2015-02-16 03:26] caileyfitz commented on #1780
Go! :hamster:

[2015-02-16 03:27] sloria commented on #1780
@gary Apologies. You were automatically subscribed to this thread because you were @ mentioned by accident. You can click Unsusbscribe in the sidebar.

[2015-02-16 03:51] jmcarp commented on #1780
:+1:

[2015-02-16 03:55] lbanner commented on #1780
Looks like my bad on the wrong Gary! .... Larry, Gary, Harry, 'arry ... hard to keep up with :smiling_imp: .... apologies. :+1: Appreciate all the work on this release.

[2015-02-16 05:24] sloria commented on #1806
Fixed by @chrisseto

[2015-02-16 05:24] #1806 closed

[2015-02-16 15:11] mbudisic opened #1814 "MathJaX in Wiki does not recongnize certain (common) symbols"
MathJaX does not recognize full set of symbols entered using TeX/LaTeX syntax.

For example ```$x^2$``` and ```$\frac{a}{b}$``` work well, while ```$x \to 8$```, ```$x \leq 7$``` and ```$\lim$``` do not. They should be available per http://docs.mathjax.org/en/latest/tex.html however.

Thank you for adding MathJax to Wiki!

[2015-02-16 15:24] lbanner commented on #1814
Thank you @mbudisic !

[2015-02-16 15:29] caileyfitz opened #1815 "[staging & production] Non-visible contributors show up in citations"
# Steps
1. Go to a project
2. Add a new contributor
3. Check citations for the project
4. In Sharing tab, make the contributor non-visible
5. Check the citations again

# Expected
I expect that only the visible contributors will show up in citations

# Actual
ALL contributors are listed in citations

[2015-02-16 16:03] sloria commented on #1815
Will look into this.

[2015-02-16 16:04] sloria commented on #1780
Deployed!

[2015-02-16 16:04] #1780 closed

[2015-02-16 16:13] caileyfitz opened #1816 "[staging & production] No delete button for unpublished figshare files on files details page"
# Steps
1. Go to a project and authorize figshare
2. Connect to an unpublished figshare fileset
3. Go to files page
4. Hover next to a figshare file in this folder and note the red x
5. Click on the file to view it in the files page

# Expected
I expect that there will be a Delete button on the files detail page since a user can delete files on the files grid

# Actual
There is no Delete button. I

[2015-02-16 16:27] HarryRybacki opened #1817 "[bug] OSF Helper slideInFooter no longer appearing"
## Steps
1. Navigate to [http://osf.io](http://osf.io) in a private browser (to ensure no cache).

## Expected
1. The helper slideInFooter should appear

## Actual
1. It doesn't appear.

## Notes:
I've confirmed the two conditions, window.localStorage.getItem('slide') != 0* and *$('#footerSlideIn').length > 0*, required for the slider to appear are met. However, I think the issue might have someth

[2015-02-16 16:28] HarryRybacki commented on #1817
Ping @sloria

[2015-02-16 16:34] lbanner commented on #1817
Thanks @HarryRybacki

[2015-02-16 16:36] sloria commented on #1817
Fixed by https://github.com/CenterForOpenScience/osf.io/commit/35b74f0eb51bd1f464f4c3d87fb948bcae7ac9eb

[2015-02-16 16:36] #1817 closed

[2015-02-16 17:04] wisherp opened #1818 "[Staging & Production] Can't delete GH files if viewing previous version"
Reported by @caileyfitz on the 0.25 Trello board

# Steps
1. Go to a project and connect to your GH account
2. Click on a file that has multiple versions
3. When viewing the file, click on a previous version (not the most recent)
4. Now, click the delete button
5. In the confirmation modal, press OK

# Expected
I expect that this will delete all versions of the file

# Actual
The file is not delet

[2015-02-16 17:22] ginavuu opened #1819 "[staging & production] Visiting a file page after add-on has been removed"
# Steps
1. Clicked on an add-on file. (any external add-on)
2. Copied the url for the file.
3. Went to Settings and removed the add-on for that project.
4. Visited the url, again.

# Expected
Not really sure...

# Actual
Depending on the add-on, you get an "unable to resolve" or a "bad request."
Tagging @chrisseto

[2015-02-16 19:50] chrisseto commented on #1819
Bit of an update, the bad request is expected and will occur when you remove the **node** addon settings. The unable to resolve comes from removing **user** addon settings.

[2015-02-16 20:06] lbanner commented on #1818
I think we need some clarity on expected functionality here: Should you be able to delete past versions of a file? If so, should it delete only the version you are deleting? or should it delete all versions prior to that version? or should it delete the entire file, all versions?

[2015-02-16 20:07] caileyfitz commented on #1818
All other add-ons will delete a file, even if you are viewing a previous version. The Delete button isn't tied to a specific version like the individual download buttons are. Deleting a file should delete all versions.

[2015-02-17 01:01] sloria commented on #1815
Fixed by https://github.com/CenterForOpenScience/osf.io/commit/d0ac123bd768a911b2d21e7f1f0250148f4c584b

[2015-02-17 01:01] #1815 closed

[2015-02-17 13:48] saradbowman opened #1829 "Include Metrics on Users Added as Unregistered Contributors"
Currently, stats count number of users at a point in time (this script: https://github.com/CenterForOpenScience/osf.io/blob/f533483945056724d05088eaccb7f5d9f087e080/scripts/analytics/benchmarks.py)

It would be helpful to know how many of those users signed up themselves vs. how many of those users were added to projects as unregistered contributors.

[2015-02-17 14:17] lbanner commented on #1829
@jmcarp  --  Can you help with this?

[2015-02-17 14:24] brianjgeiger commented on #1167
@lbanner Looks like @himanshuo was kind enough to update this one. Should be very easy for @sloria to get in.

[2015-02-17 14:25] lbanner commented on #1167
TY @brianjgeiger  -- I think @sloria is on this one via #1223

[2015-02-17 16:22] mckidwell commented on #1422
Just found that the ampersand is still being rendered as html in search results in some instances but not others (appears to be for component search results, but not project results in this case).

![screen shot 2015-02-16 at 3 06 53 pm](https://cloud.githubusercontent.com/assets/7945215/6231979/142b8aac-b697-11e4-9b92-be20e1346547.png)

[2015-02-17 19:17] lbanner commented on #1422
@mckidwell FYI: I am going to take your recent comment and post to a new issues around this - Freshen up the conversation. Thanks!

[2015-02-17 19:19] chrisseto commented on #1816
@caileyfitz @sloria Can we close this if it's fixed

[2015-02-17 19:22] sloria commented on #1816
This is awaiting 2nd pass of QA. ping @lbanner @GaryKriebel

[2015-02-17 19:23] chrisseto commented on #1816
@sloria Thanks for the update

[2015-02-17 19:23] lbanner commented on #1816
OK - On it @sloria

[2015-02-17 19:27] lbanner commented on #1816
@sloria @chrisseto Confirmed. "Delete" button for Figshare file-view on both Staging and Production. TY :wolf:

[2015-02-17 19:35] lbanner opened #1832 "Ampersand being rendered as html in search results"
The ampersand is still being rendered as html in search results in some instances but not others (appears to be for component search results, but not project results in this case). See example:

![searchresults](https://cloud.githubusercontent.com/assets/2964829/6235685/2f573f90-b6b2-11e4-91ed-98c973c5afef.jpg)

[2015-02-17 19:36] lbanner commented on #1832
For reference see close issue #1422

[2015-02-17 19:41] GaryKriebel commented on #1816
Concur, I see a delete button as well.

[2015-02-17 20:05] #1816 closed

[2015-02-17 21:27] #438 closed

[2015-02-17 22:03] mckidwell opened #1834 "magnifying glass icon disappears in nav bar"
When I was searching for a study, the magnifying glass icon disappeared from the nav bar although the search bar stayed visible, making it impossible for a user to close the search bar. This persisted after refreshing the page.

However, I opened the OSF in a new tab and the magnifying glass icon appeared as expected in the new window.

On production using chrome.

![screen shot 2015-02-17 at 4 59

[2015-02-17 22:09] lbanner commented on #1834
Good catch -- @brianjgeiger I ask: What is intended functionality here for exiting search? Thanks.

[2015-02-17 22:23] caileyfitz opened #1835 "[staging & production] Remove Dataverse widget from registrations"
# Steps
1. Navigate to a project
2. Configure Dataverse for that project
3. Register the project
4. View the registration

# Expected
Since a modal pops up saying that Dataverse content cannot be registered, I would expect there to be no Dataverse widget.

# Actual
The dataverse widget is present with the message "Dataverse add-on is not configured properly." Additionally, the message is shown wit

[2015-02-17 22:45] brianjgeiger commented on #1834
I talked with @mckidwell; this is as intended. She's on the search page, so there is always search capability there. If she were bothered by the behavior, it might be worth examining, but she just thought it wasn't intended.

[2015-02-17 22:45] #1834 closed

[2015-02-17 22:49] JeffSpies commented on #1834
Perhaps the search icon could sit in front of the text input? Would that
clarify what's going on?

On Tue, Feb 17, 2015 at 5:45 PM, Brian J. Geiger <notifications@github.com>
wrote:

[2015-02-17 22:53] GaryKriebel commented on #1834
That's not a bad idea.

[2015-02-17 23:07] sloria commented on #1835
I'm wondering if we should remove the widget--it doesn't do very much, and none of the other storage addons have widgets (if I remember correctly, this widget predates the consolidated Files page). It can also slow down load times of the overview page significantly due to the synchronous request made to Dataverse on the backend .

Thoughts?

[2015-02-18 02:51] JeffSpies commented on #1835
Didn't it show the DOI?

On Tue, Feb 17, 2015 at 6:07 PM, Steven Loria <notifications@github.com>
wrote:

[2015-02-18 17:40] lbanner commented on #1335
Looks to be completed with #1360

[2015-02-18 17:40] #1335 closed

[2015-02-18 21:30] #1169 closed

[2015-02-18 21:48] lbanner commented on #1158
This is newly addressed in #1832  -- So I am closing this old issue.

[2015-02-18 21:48] #1158 closed

[2015-02-19 16:58] HarryRybacki opened #1843 "Getting-Started left nav bar not scrolling correctly"
## Steps
1. Go to the [getting started page](https://osf.io/getting-started/)
2. Scroll down the page and watch the respective section header **become bold** on the left nav bar
3. Scroll until the current section is beyond the bottom of the left nav bar

## Actual
1. Left nav bar doesn't scroll with the window

## Expected
1. Left nav bar should scroll with the window

[2015-02-19 17:05] brianjgeiger opened #1844 "Do not display "Join the OSF" on signup page"
Steps
-------
1. Go to any page that lets you create an OSF account

Expected
------------
You can create an account without being pestered

Actual
--------
A big box rises from the bottom of the screen saying "Hey, you want to join the OSF? Joining the OSF is very cool. You should totally join." Any page that doesn't give you the ability to join is fine, but on those pages, it's excessive.

[2015-02-19 17:06] JeffSpies commented on #1844
+1 @hrybacki could also tackle this one if he's waiting for CR

On Thu, Feb 19, 2015 at 12:05 PM, Brian J. Geiger <notifications@github.com>
wrote:

[2015-02-19 20:30] sloria commented on #1844
This was already implemented. I've verified on production. @brianjgeiger Are you seeing this on production or staging?

[2015-02-19 20:32] sloria commented on #1844
@brianjgeiger , Also what is the URL when you see the sliding footer?

[2015-02-19 20:34] brianjgeiger commented on #1844
Local development.

[2015-02-19 20:48] sloria commented on #1844
@brianjgeiger What URL?

[2015-02-19 21:06] sloria commented on #1844
That explains it. This is a quick fix. @HarryRybacki were you already working on this, or should I go ahead and make the change?

[2015-02-19 21:17] HarryRybacki commented on #1844
I'm not sure I follow -- will get with @brianjgeiger in person

[2015-02-19 21:26] HarryRybacki commented on #1844
This definitely shouldn't show up on /forgotpassword/ -- will submit add it to NO_FOOTER_PATHS and submit a PR. As for the landing page -- @saradbowman can you weigh in?

[2015-02-19 21:32] saradbowman commented on #1844
My opinion is it's probably not necessary on osf.io

[2015-02-20 02:55] sloria opened #1853 "Go/nogo for 0.26.0"
Changes to admin read permissions to subprojects/components.

@jmcarp @JeffSpies @GaryKriebel @lbanner @caileyfitz

[2015-02-20 02:56] sloria commented on #1853
I'm a go so long as QA is confident that this is thoroughly tested.

[2015-02-20 02:57] GaryKriebel commented on #1853
I'm a go.

[2015-02-20 03:28] lbanner commented on #1853
Go -- this has been solid. Thanks!

[2015-02-20 03:48] JeffSpies commented on #1853
Go. Who will deploy?

On Thursday, February 19, 2015, LarryB <notifications@github.com> wrote:

[2015-02-20 04:38] sloria commented on #1853
I will deploy in the morning.

[2015-02-20 04:39] lbanner commented on #1853
Thanks!

[2015-02-20 14:29] jlcohoon opened #1855 "SHARE text abuts logo"
<h4>Steps</h4>
1. Open SHARE search (https://osf.io/share/)  in a large window (mine is 2545 x 5169 px)
<h4>Outcome</h4>
1. The text directly below the logo, "What is SHARE? Notice....." overlaps with the SHARE logo.
![screen shot 2015-02-20 at 9 25 49 am](https://cloud.githubusercontent.com/assets/4965832/6287884/f40ce5c4-b8e2-11e4-99e7-57a61d034f89.png)

2. The spacing is correct in a smaller wi

[2015-02-20 14:30] lbanner commented on #1855
Browser? @jlcohoon

[2015-02-20 14:35] jlcohoon commented on #1855
Chrome, Firefox, and Safari
Unsure about IE but it seems a safe bet.

[2015-02-20 14:37] jmcarp commented on #1853
:+1:

[2015-02-20 14:39] JeffSpies commented on #1855
Got it. Thanks!

On Fri, Feb 20, 2015 at 9:35 AM, jlcohoon <notifications@github.com> wrote:

[2015-02-20 15:01] sloria commented on #1853
@caileyfitz 's "go" given over Flowdowck

[2015-02-20 15:20] sloria commented on #1853
Deployed

[2015-02-20 15:20] #1853 closed

[2015-02-20 15:21] icereval commented on #1853
go

[2015-02-20 16:23] lbanner commented on #1748
@KatyCain526 -- H

[2015-02-20 16:23] lbanner commented on #1748
@KatyCain526 -- Hey, can you double check this is no longer an issue? TY

[2015-02-20 16:26] KatyCain526 commented on #1748
Jah. This is no longer a problem :D

[2015-02-20 16:26] #1748 closed

[2015-02-20 16:30] #1715 closed

[2015-02-21 19:05] abought opened #1862 "Piwik error for some project statistics pages"
### Summary
While browsing OSF pages, statistics pages usually display correctly, but reproducibly fail for some projects.

For several projects, going to the statistics tab yields an iframe with an error message from the piwik API. I received this error message reproducibly in multiple attempts 12+ hours apart, using two different browsers.

### Sample pages demonstrating error
https://osf.io/4zn

[2015-02-21 20:09] GaryKriebel commented on #1862
@lyndsysimon - do you take the pwik issues?

[2015-02-22 16:30] HarryRybacki commented on #1582
@saradbowman is this still occuring or can we close this issue?

[2015-02-22 16:33] HarryRybacki commented on #982
@huangginny @JeffSpies any updates on this? I didn't see any PRs mentioning this issue.

[2015-02-23 13:48] lbanner commented on #982
@HarryRybacki @huangginny had submitted #1015 and referenced this, but I am uncertain whether all questions were resolved. I can help you followup.

[2015-02-23 14:16] huangginny commented on #982
@HarryRybacki I think my pr is still in the old osf repository, not in the osf.io one :8ball:  I'll check it out

[2015-02-23 14:20] HarryRybacki commented on #982
Thanks!

On Mon, Feb 23, 2015 at 9:16 AM, Ginny <notifications@github.com> wrote:

--
*Harry Rybacki* - Developer, Center for Open Science
Research: http://scinet.osf.io
Blog: http://rybacki.io
[image: http://github.com/harryrybacki]
<http://github.com/HarryRybacki> [image:
https://twitter.com/HarryRybacki] <https://twitter.com/HarryRybacki> [image:
http://www.linkedin.com/in/HarryRybacki/]
<http:

[2015-02-23 14:42] erinspace commented on #1855
This is fixed now! Can be closed whenever!

[2015-02-23 15:07] lbanner commented on #1855
Thanks @erinspace !

[2015-02-23 15:07] #1855 closed

[2015-02-23 15:08] huangginny commented on #982
@HarryRybacki CenterForOpenScience/osf#1015

[2015-02-23 16:34] lbanner commented on #703
This looks to be covered - Closing.

[2015-02-23 16:34] #703 closed

[2015-02-23 16:39] lbanner commented on #1142
@brianjgeiger My sense is that this issue is now overcome with the recent Collaborative Wiki changes? -- or is this something we need still consider?

[2015-02-23 16:40] lbanner commented on #997
@brianjgeiger And this one -- Does your new Wiki work overcome any issue here?

[2015-02-23 16:41] brianjgeiger commented on #1142
I believe this is covered by the last set of wiki changes. Would be worth having someone test, but I suspect that is the case.

[2015-02-23 16:43] brianjgeiger commented on #997
Not my changes, but the last round. The current editor captures tabs rather than using it to navigate to other components, so this is not a thing anymore. Capturing the tab may negatively impact accessibility, however, and we should probably look into that.

[2015-02-23 16:44] lbanner commented on #1142
Thanks!

[2015-02-23 16:47] lbanner commented on #1142
Issue remains: No warning upon leaving and the "New" Wiki page is lost.

[2015-02-23 16:47] lbanner commented on #997
Thank you -

[2015-02-23 16:47] #997 closed

[2015-02-23 16:55] HarryRybacki commented on #1844
@sloria -- this was resolved in pr #1852 -- can you close this for me?

[2015-02-23 16:56] lbanner commented on #1844
Thanks @HarryRybacki -- Got it.

[2015-02-23 16:56] #1844 closed

[2015-02-23 17:02] saradbowman commented on #1582
We can close this out -- we couldn't repeat the error here and the user
reported that it seemed to resolve itself.

On Sun, Feb 22, 2015 at 11:30 AM, Harry Rybacki <notifications@github.com>
wrote:

[2015-02-23 17:04] HarryRybacki commented on #1582
pinging @lbanner

[2015-02-23 17:15] lbanner commented on #1582
Thank you both -- Closing.

[2015-02-23 17:15] #1582 closed

[2015-02-23 17:47] GaryKriebel commented on #1123
With updates to wikis a few releases ago, this is no longer an issue.

[2015-02-23 17:47] #1123 closed

[2015-02-23 19:57] Ghalko opened #1867 "Chrome Incognito window Add Contributors"
Pop-up shows all elements.

## Steps
1. Open Chrome incognito window.
2. Go to an OSF project either staging or production
3. Go to Sharing.
4. Click "Add" next to Contributors

## Expected

Normal pop-up.

## Actual

![screen shot 2015-02-23 at 2 26 50 pm](https://cloud.githubusercontent.com/assets/5169088/6335741/99a80aba-bb6b-11e4-8bc4-2ff31615efe3.png)

This may not be supported, but it might

[2015-02-23 20:03] brianjgeiger commented on #1867
This is an indication that something is breaking the Knockout ViewModel. There should be a Javascript error. Could you grab that and add it? It definitely should not happen.

[2015-02-23 20:17] Ghalko commented on #1867
With a second try it seems to work fine. I will try to reproduce this, thank goodness for image evidence!

[2015-02-23 20:25] Ghalko commented on #1867
- Failed to clear temp storage: It was determined that certain files are unsafe for access within a Web application, or that too many calls are being made on file resources. SecurityError
- Failed to create temp file 2 : It was determined that certain files are unsafe for access within a Web application, or that too many calls are being made on file resources.

Managed to recreate in first time us

[2015-02-24 15:12] HarryRybacki commented on #879
This will no longer be an issue after PR #1728 is merged and the two factor field is removed from the login page.

[2015-02-24 15:25] chennan47 commented on #1867
Can't repo this problem. Tried that on chrome incognito window both on staging and production. Everything is fine. @Ghalko can you verify the problem still exist?
![screen shot 2015-02-24 at 10 23 12 am](https://cloud.githubusercontent.com/assets/4974056/6352269/65194878-bc0f-11e4-9e11-56bd5b0f844f.png)
![screen shot 2015-02-24 at 10 25 47 am](https://cloud.githubusercontent.com/assets/4974056/635

[2015-02-24 15:44] GaryKriebel commented on #1243
Confirmed that this is no longer an issue.

[2015-02-24 15:44] #1243 closed

[2015-02-24 15:47] GaryKriebel commented on #1297
This is no longer an issue.
![screen shot 2015-02-24 at 10 46 38 am](https://cloud.githubusercontent.com/assets/9437946/6352709/7c1c9c66-bc12-11e4-9de5-8826cbf872fe.png)

[2015-02-24 15:47] #1297 closed

[2015-02-24 15:52] GaryKriebel commented on #1217
With the replacement of HGrid with TreeBeard, the actions are seen when the user selects a file.
![img_7683](https://cloud.githubusercontent.com/assets/9437946/6352792/35ad0706-bc13-11e4-8d07-14fd165610a4.PNG)

[2015-02-24 15:52] #1217 closed

[2015-02-24 15:55] GaryKriebel commented on #1213
This is no longer an issue.
![screen shot 2015-02-24 at 10 54 52 am](https://cloud.githubusercontent.com/assets/9437946/6352857/99ef3996-bc13-11e4-92f0-8eaaff793f26.png)

[2015-02-24 15:55] #1213 closed

[2015-02-24 16:04] GaryKriebel commented on #1317
This is no longer an issue.

[2015-02-24 16:04] #1317 closed

[2015-02-24 16:11] GaryKriebel commented on #1373
I am not seeing this issue's behaviour.
![screen shot 2015-02-24 at 11 10 31 am](https://cloud.githubusercontent.com/assets/9437946/6353199/e5cf2e82-bc15-11e4-944e-5a38391006f8.png)
@jlcohoon and/or @saradbowman can you confirm?

[2015-02-24 16:14] GaryKriebel commented on #1344
@sloria and/or @chrisseto .... now that waterbutler files page is live, is this still happening?

[2015-02-24 16:19] GaryKriebel commented on #1671
This is no longer an issue.
![screen shot 2015-02-24 at 11 18 59 am](https://cloud.githubusercontent.com/assets/9437946/6353378/fb0ead8a-bc16-11e4-8a66-6e94fca2061a.png)

[2015-02-24 16:19] #1671 closed

[2015-02-24 16:22] GaryKriebel commented on #1410
Looking for updates concerning if this is still an issue.  @sloria @brianjgeiger @caneruguz

[2015-02-24 16:24] GaryKriebel commented on #1462
@sloria .... this can be closed, yes?

[2015-02-24 16:25] GaryKriebel commented on #1483
@sloria @Ghalko has the fix gone live and thus closing this issue?

[2015-02-24 16:37] GaryKriebel commented on #1670
I am not seeing this behaviour.

@caileyfitz can you check again..

[2015-02-24 16:51] GaryKriebel commented on #1657
I am not seeing this issue.  @sloria should this stay open or be closed.

[2015-02-24 16:52] Ghalko commented on #1867
One of the problems is that this only happens the first time Incognito is used for OSF. So if you have been there before then you won't get the bug despite incognito saying that it saves nothing. After failing to reproduce it on the Mac, I tried my PC and got the information written in my previous reply and re-opening of this issue.

[2015-02-24 16:54] GaryKriebel commented on #1644
I did not see any 404s.... @brianjgeiger can you confirm?

[2015-02-24 17:00] GaryKriebel commented on #1611
"2 minutes ago" is no longer the minimum timeframe listed.  I will close this and if we wish to update with a specific time format we can take that up then.

[2015-02-24 17:00] #1611 closed

[2015-02-24 17:00] caileyfitz commented on #1670
Still happening on staging and production
![screen shot 2015-02-24 at 11 59 38 am](https://cloud.githubusercontent.com/assets/5975444/6354332/bea7b2d2-bc1c-11e4-84cf-1afc5f7ec9c3.png)

[2015-02-24 17:03] saradbowman commented on #1373
I am still seeing it:

![screen shot 2015-02-24 at 12 02 57 pm](https://cloud.githubusercontent.com/assets/7749914/6354385/2ae3f906-bc1d-11e4-877e-5905f94b3b7b.png)

[2015-02-24 17:05] brianjgeiger commented on #1644
Looks good.

[2015-02-24 17:05] #1644 closed

[2015-02-24 17:12] sloria commented on #1657
I have seen this in the past, but I have not been able to reproduce it reliably. Let's close for now. Reopen if it happens again.

[2015-02-24 17:12] #1657 closed

[2015-02-24 17:16] GaryKriebel commented on #1373
This is an issue with Chrome and Safari..... works fine with Firefox

[2015-02-24 17:21] sloria opened #1873 "[dev] Remove osffiles addon"
The OSF Files addon is now EOL in favor of OSF Storage/Waterbutler.

[2015-02-24 18:32] GaryKriebel commented on #1128
@sloria @huangginny Has this PR been merged and released?

[2015-02-24 18:33] huangginny commented on #1128
@GaryKriebel I don't think so... And that PR is still in the old repository

[2015-02-24 18:34] brianjgeiger commented on #1128
This is no longer an issue with the redesign of the project organizer and integration of Treebeard.

[2015-02-24 18:34] #1128 closed

[2015-02-24 20:02] GaryKriebel commented on #1128
Thanks @huangginny and @brianjgeiger

[2015-02-24 21:12] GaryKriebel commented on #1415
Everything looks the same now that WaterButtler Files has gone live.

[2015-02-24 21:12] #1415 closed

[2015-02-24 21:18] GaryKriebel commented on #1475
Corrected with the above PR.

[2015-02-24 21:18] #1475 closed

[2015-02-25 15:14] GaryKriebel commented on #1668
With the recent waterbutler / files work, this is no longer an issue.

[2015-02-25 15:14] #1668 closed

[2015-02-25 17:03] rliebz commented on #1835
The Dataverse team specifically requested that we include that metadata somewhere on a project, which includes the study name (which is available from the files page), doi, Dataverse, and citation information. If it is possible to include that somewhere on the files page, I don't see a reason why it has to be a widget.

[2015-02-25 19:02] rliebz commented on #1508
This is no longer an issue.

[2015-02-25 19:02] #1508 closed

[2015-02-25 19:23] jlcohoon opened #1883 "Download count on pdf not accurate"
<h4>Steps</h4>
1. I downloaded then deleted two files ("mlewis_sfn13.pdf" and "mlewis_thesis.pdf") from two separate components within this project: https://osf.io/muvl6/
2. I deleted the two, now empty, components
3. I uploaded the downloaded versions of those files to the project (https://osf.io/muvl6/) on the files overview page
4. I visited each file's details page

<h4>Outcome</h4>
1. When up

[2015-02-25 19:47] lbanner commented on #1883
@jmcarp -- Waterbutler? Files don't have individualized records per project?

[2015-02-25 20:21] jlcohoon opened #1885 "Upload times are not accurate for older files"
<h4>Steps</h4>
1. I visited a file (https://osf.io/ezrsc/) on the RPP page and looked at its details, noting the download counts and times of upload.
2. I visited another file (https://osf.io/5wup8/) with multiple versions and also looked at the download counts and times of upload

<h4>Outcome</h4>

![screen shot 2015-02-25 at 2 55 08 pm](https://cloud.githubusercontent.com/assets/4965832/6379644/

[2015-02-25 20:25] lbanner commented on #1885
@jmcarp Pinging you on this one too. We found a couple with this apparent issue, so not consistent -- But would be good if we could search for such inconsistencies and correct -- Let me know thoughts.

[2015-02-25 21:05] HarryRybacki opened #1888 "[bug] FigShare Oauth cancellation redirects incorrectly"
## Steps
1. Login to production
2. Go to user settings
3. Go to configure add-ons
4. Select FigShare
5. Click Submit
6. (optional) Log into FigShare
7. Click **Deny**

## Expected
1. User is returned to the configure addons page for their settings */settings/addons/*
![screen shot 2015-02-25 at 3 59 29 pm](https://cloud.githubusercontent.com/assets/2614670/6380468/e13c7b2a-bd07-11e4-95b7-bd19f3f14

[2015-02-25 21:19] lbanner commented on #677
I am going to remove 'deferred' on this one -- just in case this "standardization will occur in an upcoming refactor of add-ons" can happen in next Epic.

[2015-02-26 02:08] #1483 closed

[2015-02-26 02:08] #1703 closed

[2015-02-26 16:48] Ghalko opened #1907 "IE9: Cannot add Contributor"
Production and Staging

## Steps
1. Go to project with admin access
2. Choose a project
3. Go to sharing
4. Click add contributor
5. Search for and/(or just) add contributor to "Adding" list
6. Click submit

## Expected
New contributor is added to list of contributors.

## Actual
New contributor is not added, not even just a rendering issue, refreshes and checking other browsers confirms that cont

[2015-02-26 18:16] sloria commented on #1888
Fixed by https://github.com/CenterForOpenScience/osf.io/pull/1910

[2015-02-26 18:16] #1888 closed

[2015-02-26 18:24] sloria commented on #1907
@Ghalko Is this happening on any other browser?

[2015-02-26 18:58] Ghalko commented on #1907
I haven't tried newer versions of IE, but firefox, safari, and chrome are all fine.

[2015-02-26 21:39] lyndsysimon commented on #1862
My apologies for the relative silence on this issue - we're coming up on a release, and while we addressed this a few days ago I was only just able to go back and verify that the solution was complete.

The issue at hand was actually resolved last October, as a result of issue #964. In short, duplicating projects via forking, registering, or templating could in some cases result in multiple projec

[2015-02-26 23:12] sloria opened #1938 "Go/nogo: release 0.27.0"
ping @JeffSpies @GaryKriebel @lbanner @icereval @chrisseto @caileyfitz @lyndsysimon @brianjgeiger

[2015-02-27 14:38] lbanner commented on #1938
Update from this AM (Friday): Two bugs still remain, being worked by Chris. With those resolved, we can run some regressions, add-ons + authentication most important, with a goal of deploying this chunk to Production by mid-day. @sloria will ping on status for QA and go/nogo. TY

[2015-02-27 16:21] HarryRybacki opened #1950 "[bug][ui] Project/component pane can block Sharing and Settings nav items"
## Steps
1. Go to a project/component with a somewhat lengthy title
2. Click and expand the comment pane
3. Attempt to navigate to the project/component's *Sharing* or *Settings* page

## Expected
User can click either link and be redirected

## Actual
The links are activated when the mouse hovers over them

## Possible Cause
I believe this has to do with the comment pane, perhaps the div is expan

[2015-02-27 18:23] kushG opened #1957 "Clicking on any Contributor name in sharing tab asks for Save/Discard"
<h3>Steps</h3>

1. Go to Sharing tab of any project.
2. Click on any contributor name.

<h3> Expected </h3>
 Should be redirected to Profile page.

<h3> Actual </h3>
Confirmation modal is displayed along with Save & Discard changes option on the page.
![screen shot 2015-02-27 at 1 22 24 pm](https://cloud.githubusercontent.com/assets/8779995/6418532/c3e020d6-be83-11e4-8636-92891ac69532.png)

[2015-02-27 18:27] KatyCain526 opened #1958 "[Bug][Presentation Service] SPSP 2014 presentation page vs spsp 2014 presentation page"
The SPSP 2014 presentation page has two pages, one doesn't have any posters.

https://osf.io/view/SPSP2014/ takes you to a blank presentation page.
https://osf.io/view/spsp2014/   takes you to the real presentation page.

I would expect both to take you to the same presentation page.

Katy

@jmcarp

[2015-02-27 19:14] sloria commented on #1938
Once QA has finished 2nd passes and their final checks for authorizing/deauthorizing all addons, I am a go.

[2015-02-27 19:16] caileyfitz commented on #1938
QA is done with one pass of authorizing/deauthorizing addons. Go! :whale:

[2015-02-27 19:17] chrisseto commented on #1938
Go go gadget 0.27 :rocket:

[2015-02-27 19:18] GaryKriebel commented on #1938
![Go Flight](https://www.youtube.com/watch?v=zVf-rehP4b8)

[2015-02-27 19:19] brianjgeiger commented on #1938
Wiki seems good, so I'm a go.

[2015-02-27 19:21] caileyfitz commented on #1938
WAIT I'M A NO!

[2015-02-27 19:22] brianjgeiger commented on #1938
Why do you hate progress, @caileyfitz

[2015-02-27 19:22] caileyfitz commented on #1938
Just doing my job @brianjgeiger

[2015-02-27 19:24] sloria commented on #1938
@caileyfitz Fixing that now.

[2015-02-27 19:24] lbanner commented on #1938
GO if QA says so!

On Friday, February 27, 2015, Cailey Fitzgerald <notifications@github.com>
wrote:

--
Larry Banner
Technical Project Manager
Center for Open Science <http://centerforopenscience.org/>
210 Ridge McIntire Road, Suite 500
Charlottesville, VA 22903-5803
804.432.9522

-----
"We are such little men when the stars come out" - Hermann Hagedorn, 1882
-----

[2015-02-27 19:38] lbanner commented on #1958
Thanks @jmcarp -- This would be good to resolve asap, I think.

[2015-02-27 19:39] lbanner commented on #1957
@kushG This is on Production?

[2015-02-27 19:44] caileyfitz commented on #1938
After most recent fix, I am once again a Go

[2015-02-27 19:45] kushG commented on #1957
Yes it is !

[2015-02-27 19:54] #1724 closed

[2015-02-27 19:57] lbanner commented on #1957
OK

[2015-02-27 20:01] icereval commented on #1938
Go @jmcarp

[2015-02-27 20:03] samchrisinger commented on #1938
:100:

[2015-02-27 20:04] JeffSpies commented on #1938
If we're a go, let's go.

On Fri, Feb 27, 2015 at 3:03 PM, Sam Chrisinger <notifications@github.com>
wrote:

[2015-02-27 21:34] sloria commented on #1938
Deployed.

[2015-02-27 21:34] #1938 closed

[2015-02-27 21:40] GaryKriebel commented on #1938
Nice work all.  5 of 6 Features down.... 1 to go.

[2015-02-27 22:09] #1958 closed

[2015-02-27 22:23] sloria opened #1977 "Go/nogo on 0.28.0"
@JeffSpies @GaryKriebel @lbanner @icereval @jmcarp  @samanehsan @brianjgeiger @HarryRybacki @chrisseto @caileyfitz

[2015-02-28 20:38] sambrady3 commented on #1950
Changing the z-index of the commentPane div to 98 (from 999) fixes the problem. However, updating commentpane.css doesn't immediately solve the problem because the page is actually getting its css from the project-dashboard.js file that webpack builds (using commentpane.css). I don't really know anything about how webpack works, or how/when it builds the project-dashboard.js file, so someone else

[2015-02-28 20:42] lbanner commented on #1950
Thank you for taking a look @sambrady3 !

[2015-02-28 20:43] lbanner commented on #1950
@caneruguz  -- Can you follow up when you get a chance? TY

[2015-02-28 22:30] trevinovnc opened #1993 "Uploading files through the 'Drop file' option is unresponsive"
Steps

1. Go to 'My Dashboard'.
2. Drop file or click the upload button under the 'Upload file(s)' tab.
3. Select project and upload.

Expected

Should upload intended file within a reasonable time under the appropriate folder

Actual

Loading bar under the file name shows 0% uploaded and is frozen at that percentage.

![screen shot 2015-02-28 at 4 28 08 pm](https://cloud.githubusercontent.com/ass

[2015-02-28 22:44] brianjgeiger commented on #1993
Hi, @trevinovnc. Which browser were you using?

[2015-02-28 22:58] trevinovnc commented on #1993
I tried uploading on both chrome and safari.

On Sat, Feb 28, 2015 at 4:44 PM, Brian J. Geiger <notifications@github.com>
wrote:

[2015-02-28 23:01] brianjgeiger commented on #1993
Hmmm. Should work on Chrome, but Safari is a known bug. We'll take a look, thanks.

[2015-02-28 23:03] brianjgeiger commented on #1993
Ah, no, I see the problem. You haven't actually selected a project. That's a search box, and you have to choose from a list of projects that show up in that list. If you don't have a project called Lab 1 yet, go ahead and make one, then you can drag files into it. In Chrome, at least. I think it's still not working in Safari.

[2015-02-28 23:22] dromero23 commented on #1883
@jlcohoon Also if you change the name of "pre data collection report hajcak.pdf" to a previous uploaded version such as "mlewis_thesis.pdf" it keeps the same previous count of "mlewis_thesis.pdf"

[2015-02-28 23:24] trevinovnc commented on #1883
I second what @dromero23 is saying, as well as add in that if you were to update the name of any of your upload files with a different name (eg. change lewis_thesis.pdf to lewis_thesis_v2.pdf) the download count is reset to 0.

[2015-02-28 23:25] trevinovnc commented on #1993
Ah okay, thanks for the tip! I'll keep that in mind for next time.

On Sat, Feb 28, 2015 at 5:03 PM, Brian J. Geiger <notifications@github.com>
wrote:

[2015-03-01 00:01] #1993 closed

[2015-03-01 01:03] sloria commented on #1977
Once QA's pass is finished, I am a go.

[2015-03-01 01:03] JeffSpies commented on #1977
Same.

On Sat, Feb 28, 2015 at 8:03 PM, Steven Loria <notifications@github.com>
wrote:

[2015-03-01 01:09] icereval commented on #1977
go go gadget copter!

[2015-03-01 01:13] chrisseto commented on #1977
GOOOO :8ball:

[2015-03-01 01:15] HarryRybacki commented on #1977
+1

[2015-03-01 01:17] GaryKriebel commented on #1977
I cleared out the last two bug cards from 2nd pass...... I am [Go Flight](https://www.youtube.com/watch?v=zVf-rehP4b8)

[2015-03-01 01:20] caileyfitz commented on #1977
Go!

[2015-03-01 01:31] brianjgeiger commented on #1977
Unless there's something not covered by the Trello board, I'm a go.

[2015-03-01 01:35] samanehsan commented on #1977
I'd like my question on email styling cleared up first...then I'm a go.

[2015-03-01 01:59] sloria commented on #1753
Addressed by https://github.com/CenterForOpenScience/osf.io/pull/1998

[2015-03-01 01:59] #1753 closed

[2015-03-01 02:28] lbanner commented on #1977
OK -- GO by me -- Long as @samanehsan is good -- Thanks!

[2015-03-01 03:51] samanehsan commented on #1977
Email templates fixed and tested! I'm a GO!

[2015-03-01 04:01] lbanner commented on #1977
Go Go! .... Time for the Wiki Dance @brianjgeiger !!
https://www.youtube.com/watch?v=krVXRCcr2M4

[2015-03-01 23:06] #1977 closed

[2015-03-02 01:57] abought commented on #1862
Thanks for the helpful and informative response, @lyndsysimon : having a clear record of the cause will help track this issue down if there is a regression in the future. Having dealt with partial migrations in the past, I can appreciate the potential for headaches.

So far, I can confirm that one of the sites is now displaying correctly, but the [other](https://osf.io/4znzp/statistics/) is still

[2015-03-02 02:58] abought opened #2002 ""Popular public registrations" section of Activity page is empty"
### Summary
On the "Public Activity" page of the OSF, there are four parts to the page. One of those sections- "Popular Public Registrations"- has no entries as of 9pm EST March 1, 2015.

**Severity**: Probably minor

Link to affected page: https://osf.io/explore/activity/#popularPublicRegistrations

![screen shot 2015-03-01 at 9 32 08 pm](https://cloud.githubusercontent.com/assets/2957073/6434621

[2015-03-02 14:24] lbanner commented on #2002
Thank you @abought

[2015-03-02 14:27] lbanner commented on #1862
@lyndsysimon Let's knock this one out today. I think @sloria had noted this via email-thread. Thank you @abought for following up.

[2015-03-02 14:33] lbanner commented on #1883
Thank you @trevinovnc  -- We'll look into this one.

[2015-03-02 15:13] jmcarp commented on #1883
Will look at this today.

[2015-03-02 18:15] #1957 closed

[2015-03-02 18:25] kushG commented on #1957
@steve, is the fix merged? I can still replicate this in production

[2015-03-02 18:30] sloria commented on #1957
@kushG The fix is currently on staging only.

[2015-03-02 18:31] kushG commented on #1957
Got you.....I thought hotfix goes directly into production !

[2015-03-02 18:32] sloria commented on #1957
@kushG It usually does, yes, but since this one is easy to test, I wanted it to be verified on staging first.

Anyway, this is on production now. =)

[2015-03-02 19:14] caneruguz commented on #1738
@lbanner this should be fixed after Steve's change to the css load, I'm not seeing it in production. We can close this issue.

[2015-03-02 19:17] caneruguz commented on #1682
It looks like this issue was fixed in the merged PR. @lbanner we can close this issue as well.

[2015-03-02 19:47] lbanner commented on #1682
OK -- Closing -- TY

[2015-03-02 19:47] #1682 closed

[2015-03-02 19:47] lbanner commented on #1738
Got it -- TY

[2015-03-02 19:47] #1738 closed

[2015-03-03 04:06] AndrewSallans opened #2011 "Social media sharing bar"
For greater community engagement with projects, files, etc., it would be great to have social media sharing bars incorporated into the OSF.  This would probably make most sense only for public pages.

The ShareThis button might be good to use, or at least a good example:  http://www.sharethis.com/

[2015-03-03 14:28] rliebz commented on #1481
This is no longer an issue as of the release of water butler, and can be closed.

[2015-03-03 14:29] lbanner commented on #1481
OK Thanks @rliebz

[2015-03-03 14:29] #1481 closed

[2015-03-03 14:40] brianjgeiger commented on #1065
This is no longer an issue, as wiki versions do not show metadata.

[2015-03-03 14:40] #1065 closed

[2015-03-03 14:43] brianjgeiger commented on #1873
Addressed by https://github.com/CenterForOpenScience/osf.io/pull/1295

[2015-03-03 14:51] brianjgeiger commented on #1814
As of right now, everything but \lim and its variants seems to be working from your list above.

![screen shot 2015-03-03 at 9 50 30 am](https://cloud.githubusercontent.com/assets/6599111/6464800/c8388e2a-c18a-11e4-8d2b-700b14c7b0a4.png)

[2015-03-03 15:16] lbanner commented on #1814
Thank you @brianjgeiger -- please give me a Close/NoClose on this if / when you feel we are where we need to be at present.

[2015-03-03 15:21] brianjgeiger commented on #1814
Mathjax has a live edit mode that you can find on http://www.mathjax.org. I tested out $\lim_{x\to x_0\atop x\in I}$ on there and it renders as it does on ours. However, when I tested $$\lim_{x\to x_0\atop x\in I}$$ on it, it rendered properly on their live demo, so I tried that on ours and it gave us:

![screen shot 2015-03-03 at 10 19 25 am](https://cloud.githubusercontent.com/assets/6599111/646

[2015-03-03 15:21] #1814 closed

[2015-03-03 15:34] brianjgeiger commented on #1835
I am pro leaving the widget on projects and removing the widget from registrations. It's behaving poorly on registrations, is a simple fix just focusing on that, and if we have the capability to change how we do the metadata display, we can do that with the Dataverse 4.0 upgrade.

[2015-03-03 15:41] brianjgeiger commented on #1744
Did you find anything out about this @HarryRybacki?

[2015-03-03 15:47] brianjgeiger commented on #1613
This issue is fixed by https://github.com/CenterForOpenScience/osf.io/pull/1704 - if we want to make the copyright end date dynamically built, that should be a new issue.

[2015-03-03 15:47] #1613 closed

[2015-03-03 15:49] HarryRybacki commented on #1744
TBH I never even dug into it. I'm happy to hand it off if someone has time
to burn.

On Tue, Mar 3, 2015 at 10:41 AM, Brian J. Geiger <notifications@github.com>
wrote:

--
*Harry Rybacki* - Developer, Center for Open Science
Research: http://scinet.osf.io
Blog: http://rybacki.io
[image: http://github.com/harryrybacki]
<http://github.com/HarryRybacki> [image:
https://twitter.com/HarryRybacki] <http

[2015-03-03 15:52] brianjgeiger commented on #1616
This is fixed.

![screen shot 2015-03-03 at 10 51 26 am](https://cloud.githubusercontent.com/assets/6599111/6466105/5591faba-c193-11e4-9284-22b32e79e822.png)
![screen shot 2015-03-03 at 10 50 14 am](https://cloud.githubusercontent.com/assets/6599111/6466106/55ad3bae-c193-11e4-904d-96c95209514b.png)

[2015-03-03 15:52] #1616 closed

[2015-03-03 17:01] lbanner commented on #1814
OK!

[2015-03-03 18:53] jmcarp opened #2015 "Inconsistency between file versions and download counts"
Follow-up to #1883.

For a small number of old files, there are download counts in the `pagecounters` collection that don't correspond to existing file versions. For example, files that only have a single version may have download counts for version 1 (which exists) and version 2 (which doesn't). This is the source of the bug reported by @jlcohoon in #1883 such that download counts can be inconsis

[2015-03-03 18:53] jmcarp commented on #1883
This report wound up including a few different issues, some of which are related to communication and one of which is actually a bug.

1. Download counts are grouped by name and don't clear on deleting a file. This is a behavioral issue and not strictly a bug. In general, when a user creates a thing, deletes it, and creates another thing with the same name, OSF treats those things as versions of t

[2015-03-03 19:04] reh4fd opened #2016 "[Staging & Production] Zotero and Mendeley enabled even after removing add-on from user settings"
# Steps
1. Enable both Mendeley and Zotero for a project
2. Configure Mendeley and Zotero for the project (link to a folder)
3. Go to user settings page
4. Uncheck the boxes next to Mendeley and Zotero to remove them
5. Press Submit and then OK to successfully remove the add-ons
6. Scroll down to see that Mendeley and Zotero are no longer listed in the configuration table
7. Go back to the project

[2015-03-03 19:06] GaryKriebel commented on #2016
@reh4fd this is on Production, yes?

[2015-03-03 19:08] reh4fd commented on #2016
@GaryKriebel im not sure.  im moving all the deferred cards from trello to github.  i think it might be staging actually

[2015-03-03 19:13] #2016 closed

[2015-03-03 19:14] reh4fd commented on #2016
@GaryKriebel i accidentally moved this over when i shouldnt have.  im sorry for the confusion.

[2015-03-03 19:16] reh4fd opened #2017 "[Staging & Production] Scrolling bar overlaps header"
Reported by @caileyfitz on the 0.27 Trello board

# Steps
1. Link Mendeley to a project
2. Choose a folder in Mendeley that has a sufficient number of documents that you would need to scroll in the widget to see all of the citations
3. Go to the project overview page and scroll through citations

# Expected
The scroll bar would not overlap page header

# Actual
Scrollbar overlaps page header. See

[2015-03-03 19:17] reh4fd commented on #2017
@caileyfitz

[2015-03-03 19:19] reinaH opened #2018 "[Staging & Production] Zotero lists file attachments as separate citations"
Reported by @GaryKriebel  on the 0.27 Trello board
# Steps
1. Go to the Zotero site
2. Create a new folder
3. In that folder, add a citation (fill in title, author, etc)
4. After pressing Save, press Upload Attachment
5. Add an attachment to the citation
6. Go to a project on the OSF that is linked to your Zotero account
7. In the folder picker, choose your newly added folder to link to the projec

[2015-03-03 19:19] reh4fd commented on #2018
@GaryKriebel

[2015-03-03 19:21] reh4fd opened #2019 "[Staging & Production] MathJax Wiki View not right in Safari"
Reported by @lbanner on the 0.27 Trello board

# Steps
Use Browser = Safari
Create a new Wiki
Use Math-Inline to add math text
Like this $more math 3+5=8$

# Expected
Edit + Previews should look the same

# Actual
The text is duplicating in Preview
See attached --
![screen_shot_2015-02-26_at_10 58 45_am](https://cloud.githubusercontent.com/assets/5785124/6470273/8107bc44-c1b0-11e4-8c59-902d4892a37

[2015-03-03 19:21] reh4fd commented on #2019
@lbanner

[2015-03-03 19:25] reinaH opened #2020 "[Staging & Production] .aspx error"
Reported by @ginavuu on the 0.27 Trello board

# Steps
1. connect a folder from Google drive to a project
2. make sure the folder has a .aspx file
3. open and view it

# Expect
The file appears without errors.

# Actual
The file renders, but there are errors throughout the doc.

![error2](https://cloud.githubusercontent.com/assets/5785124/6470298/d66cb78e-c1b0-11e4-861e-7e36ada8d769.PNG)
![error](

[2015-03-03 19:29] reinaH opened #2021 "[Staging & Production] "Copy citations" icon whites out upon hover in IE10"
Reported by @caileyfitz on the 0.27 Trello board

# Steps
1. Access staging on IE10
2. Go to a project where Mendeley is configured
3. On the overview page, find the Mendeley widget
4. Hover over the "Copy citations" icon to view tooltip

# Expected
Tooltip would display and icon would not change

# Actual
Icon whites out upon hover. In the image below, no tooltip is displayed, but that is only be

[2015-03-03 19:30] reh4fd commented on #2021
@caileyfitz

[2015-03-03 19:31] reh4fd opened #2022 "[Staging & Production] Error when pressing syntax links before they render"
Reported by @caileyfitz on the 0.27 Trello board

# Steps
1. Go to a wiki page
2. Insert new syntax links (@youtube, @service, @vimeo, etc)
3. Press save
4. In the wiki view, press these links before they render (are embedded in page. Note that @service remains a clickable link even after the others don't)

# Expected
I'm not really sure what I expect here. I don't expect an error. Maybe if the li

[2015-03-03 19:33] reh4fd commented on #2022
@caileyfitz

[2015-03-03 20:08] caileyfitz commented on #2021
Reported in the 0.27 Trello board

[2015-03-03 20:09] caileyfitz commented on #2017
Reported in the 0.29 Trello board

[2015-03-03 20:09] caileyfitz commented on #2018
Reported in the 0.27 Trello board

[2015-03-03 20:09] caileyfitz commented on #2019
Reported in the 0.27 Trello board

[2015-03-03 20:09] caileyfitz commented on #2020
Reported in the 0.27 Trello board

[2015-03-03 20:19] caileyfitz commented on #2022
@brianjgeiger says:

[2015-03-03 20:21] caileyfitz commented on #2017
From @caneruguz on the Trello card:

-webkit-transform: translate3d(0, 0, 0)

[2015-03-03 20:21] wisherp opened #2023 "[Staging & Production] Mendeley adding multiple folders without using "All Documents""
Reported by @ginavuu on the 0.27 trello board

Option for multiple folders without selecting "All Documents"

# Steps
1. Connect an Mendeley account in a project.
2. Select a folder to connect to.

# Expected
Allow a user to select multiple folders without having to select "All Documents."

# Actual
Only one folder or "All Documents" is allowed to be selected.

[2015-03-03 20:26] brianjgeiger commented on #2019
This is not correct. Edit and Preview should not look the same.

[2015-03-03 20:26] reh4fd commented on #2018
from @GaryKriebel on the Trello Card:

talking with jeff, he suggested trying to key off the URLs returned for each. In the example below, the zotero.org url is my cited reference and the files.zotero.net is the attachment. !image

[2015-03-03 20:28] reh4fd commented on #2018
from @samchrisinger on the Tello card:

Zotero appears to be using some sort of guid system rather than path/hierarchical urls. This approach will not work.

[2015-03-03 20:29] brianjgeiger commented on #2019
Ah, and the issue for duplication is an occasional one that is being addressed by https://github.com/CenterForOpenScience/osf.io/pull/2008

[2015-03-03 20:29] wisherp opened #2024 "[Staging & Production] Wiki category inconsistent"
Reported by @chennan47 on the 0.27 Trello board

# Steps
1. Create a project
2. Create a component which don't set its category (called Uncategorized)
3. Go to the project wiki page
4. Go to the wiki page of the component which doesn't have its category set

# Expected
I expect that the wiki page views would be similar for projects and components.

# Actual
The first image (screenshot at 4.09) is

[2015-03-03 20:32] reh4fd commented on #2020
from @ginavuu on the Trello card:

I believe, I was told that aspx files are not technically suppose to work, but I am not quite sure if there is more to that.

[2015-03-03 20:34] brianjgeiger commented on #2024
I think "Wiki Pages" for the current level and "Component Wiki Pages" for anything below this level would be fine for now. Long term, something other than "Component" would be ideal, so if we can think of it now, that would be a good idea. Essentially "Child Wiki Pages" would make sense from a development standpoint, but is terrible for users.

[2015-03-03 20:35] caileyfitz opened #2025 "[feature request] Loading bar for citations"
# Steps
1. Enable Zotero for a project
2. Configure Zotero for the project and be sure to link to a folder that has many citations (200+)
3. Go to the overview page to view Zotero citations

# Expected
I expect that the citations would load after a few seconds, and if not, that there would be some sort of indication that they are loading.

# Actual
The widget is blank until 200 citations load. For

[2015-03-03 20:37] brianjgeiger commented on #2020
ASPX files are not supported. We are currently rendering text-like files as text, and other things we show as being not-renderable. We should not try to render these files, we should say that there is not a renderer. We should be selective about what things we try to render as text.

[2015-03-03 20:38] lbanner commented on #2025
@samchrisinger worked to improve that prior to deployment, and I think there are some follow-on considerations on how to improve it.

[2015-03-03 20:39] caileyfitz commented on #2020
+1 to @brianjgeiger

[2015-03-03 20:41] lbanner commented on #2020
We should look into error handling here, so that at minimum we catch it and deliver some user notification.

[2015-03-03 20:44] lbanner commented on #2024
Is this the product of the Component "categories" @brianjgeiger ? -- and might this be overcome with upcoming, "make all things projects" task, in next Epic?

[2015-03-03 20:46] brianjgeiger commented on #2024
Partially. I agree, whether or not we did change the structure, that this display is confusing. But my immediate-term / long-term suggestion dichotomy is because of making everything a project, so the terminology may change. It would be good to get ahead of that.

[2015-03-03 20:48] wisherp opened #2026 "[Staging & Production] Toggle buttons are too small"
Reported by @caileyfitz on the 0.27 Trello board

The toggle buttons are pretty small compared to other text on the wiki page. I missed them the first time, and I even knew what I was looking for. It might make sense to make them a bit bigger and more pronounced since they are smaller font size than the titles in the wiki columns.
![wiki](https://trello-attachments.s3.amazonaws.com/54ef3dab47a4693

[2015-03-03 20:50] sloria commented on #2026
Maybe deserves to be another issue, but the "Current version to Version 4" is also misaligned.

[2015-03-03 20:50] lbanner commented on #2017
@caneruguz -- Did we ever include your fix above?

[2015-03-03 20:51] HarryRybacki opened #2027 "[hotfix] ga should be mocked of not set in settings.py"
ga object should be mocked to handle click events for environments where no google_analytics_id is set e.g., in staging and most development environments.

[2015-03-03 20:51] caileyfitz commented on #2026
@sloria Yeah that's what I thought too, but the "version 4" did move to be next to "Current version to" after increasing the page width

[2015-03-03 20:51] wisherp opened #2028 "[Staging & Production] S3: Access and Secret Key boxes remain up after successful submit"
Reported by @ginavuu on the 0.27 Trello board

# Steps
1. Go to user settings.
2. Connect to S3.

# Expected
After typing in the keys, the secret and access key type box should go away if successful, and a success message should be displayed.

# Actual
After success, both boxes remain up, and a success message is display below. Only when a user navigates away from the page and returns do the boxes

[2015-03-03 20:52] lbanner commented on #2022
@brianjgeiger -- We tackling this?

[2015-03-03 20:53] sloria commented on #2026
Still, that panel should respond correctly to smaller screen sizes.

[2015-03-03 20:54] lbanner commented on #2028
We should check how this functionality compares to the other add-ons -- do they all do this?

[2015-03-03 20:54] caileyfitz commented on #2026
@sloria ah, yes :whale:

[2015-03-03 20:55] lbanner commented on #2021
@samchrisinger or @lyndsysimon ?

[2015-03-03 20:55] brianjgeiger commented on #2026
Agreed that it should be a separate issue. @caneruguz has been working on dealing with columns at awkward size combinations.

[2015-03-03 20:56] samchrisinger commented on #2021
I believe both @icereval  and @jmcarp could not duplicate this.

[2015-03-03 20:59] lbanner commented on #1883
Got it @jmcarp -- Deferring but not closing this one to deal with the discussable issues above. Noting #2015 as the bug fix. TY

[2015-03-03 21:01] brianjgeiger commented on #2022
Sure

[2015-03-03 21:02] caneruguz commented on #2017
I found that this problem occurs in other parts of the website as well and is most likely related somewhat to browser, OS. The fix does work but I would rather do a site wide fix and test. I'll send a PR for it.

[2015-03-03 21:04] caileyfitz opened #2031 "[staging & production] Inconsistencies in user settings add-on configuration"
# Steps
1. Go to user settings
2. Enable all Storage add-ons.
3. Delete any current access tokens and create them all again.

# Expected
I would expect that there would be consistency in how add-ons look in user settings after authorization.

# Actual
There are many inconsistencies, noted below.

![screen shot 2015-03-03 at 3 44 47 pm](https://cloud.githubusercontent.com/assets/5975444/6472086/dad

[2015-03-03 21:08] lbanner commented on #2031
Agreed: We need to work on consistency of add-on functionality. Part of that may well be undertaken in next Epic.

[2015-03-03 21:08] lbanner commented on #2017
TY

[2015-03-03 21:09] lbanner commented on #2021
OK - Thanks

[2015-03-03 21:11] brianjgeiger commented on #2022
@lbanner PR created, now ready for review

[2015-03-03 21:14] lbanner commented on #2022
@brianjgeiger -- Thank you!

[2015-03-04 14:12] nicipfeiffer opened #2035 "[Staging & Production] Inconsistent Add-On behavior after configuring in project settings"
Reported on the 0.27/0.28 Trello by @caileyfitz and Gina

## Steps
1. Go to user settings and authorize Github
2. Now go to a project's setting page and import the access token for Github
3. Link a repo; submit.
4. Do the same for Mendeley and Dropbox

## Expected
The success message should be consistent with other add-ons.  If there is a link to the files or overview page then it should be consis

[2015-03-04 14:32] jmcarp opened #2036 "[Staging & Production] Can't select Figshare content in folder picker"
# Steps
* Enable Figshare on a project
* Click the change folder button
* Select a project

# Expected
* Submit button appears

# Actual
# No submit button appears; can't select a project

![screen shot 2015-03-04 at 9 31 39 am](https://cloud.githubusercontent.com/assets/1633460/6485400/7daad0f8-c251-11e4-8d93-216be53e2330.png)

[2015-03-04 14:33] lbanner commented on #2036
@jmcarp ?

[2015-03-04 14:34] GaryKriebel commented on #2036
You are specifically talking about files in your account versus folders, yes?

[2015-03-04 14:35] brianjgeiger commented on #2036
This is in project settings where you choose the base folder.

[2015-03-04 14:36] GaryKriebel commented on #2036
![screen shot 2015-03-04 at 9 36 06 am](https://cloud.githubusercontent.com/assets/9437946/6485462/e92c7bce-c251-11e4-9095-5a12d1387ff9.png)

[2015-03-04 14:38] GaryKriebel commented on #2036
So... in the screenshot above ... there is no submit button.... I can't change my selection... and if you previously had not made a selection, you won't be able to.

[2015-03-04 14:42] samchrisinger commented on #2036
Resolved in this PR: https://github.com/CenterForOpenScience/osf.io/pull/2006

[2015-03-04 14:58] lbanner commented on #1214
@jmcarp -- Did this remain only on Staging? Or have we ether deployed this or overcome its issue?

[2015-03-04 15:01] jmcarp commented on #1214
@lbanner this went to production a while back. Should be ready to close.

[2015-03-04 15:06] lbanner commented on #1214
Thanks!

[2015-03-04 15:06] #1214 closed

[2015-03-04 15:08] GaryKriebel commented on #2036
@sloria This issue is on production and should be reviewed sooner than later.

[2015-03-04 15:20] brianjgeiger commented on #1514
This is something of a concern in a broader context; after all, you can also have contributors in that state. The main difference is we have mechanisms in place to allow people to access anything they can contribute to, while those mechanisms won't work with private links. Still, in a project, it would be good for the component view to give you the capability to get to anything that you have acces

[2015-03-04 15:25] jmcarp commented on #1885
Should be resolved in #2034 after review and merge.

[2015-03-04 15:52] brianjgeiger opened #2039 "Wiki page should have syntax guidelines"
Steps
-------
1. Edit a wiki page.
2. Try to figure out what is possible.

Expected
------------
There would be some way to know what is possible to do with the wiki. Probably with a clickable question mark like search has. That should give a link to an OSF wiki that shows examples of our wiki syntax. The wiki would then have examples of what it could do and how it looks when you use it. It would

[2015-03-04 15:57] lbanner commented on #2039
Agree 100% ... question is whether this resides in community for developing user documentation or other group/individual. I will clarify. TY!

[2015-03-04 17:28] samanehsan commented on #2031
The success message was there for all addons after they were configured, but if access was revoked through the provider (e.g. from your dropbox account settings instead of through the OSF) before any projects were configured, you would see both the success message above and an error message saying that your credentials may no longer be valid.

Since each addon must handle what happens in the case

[2015-03-04 17:37] samchrisinger commented on #2031
Perhaps these could get rolled into https://github.com/CenterForOpenScience/osf.io/pull/2014?

[2015-03-04 17:48] samchrisinger commented on #2031
On second thought after talking with @jmcarp he mentioned that some of @lyndsysimon's current work with OAuth is highly relevant to and may resolve this. We should get his comments before doing any new work on this.

[2015-03-04 18:02] Ghalko commented on #98
Just an idea: http://internet-map.net/
Looks like it is preprocessed. Could be based on tags, allowing people to click on the circles and get a list of projects in the circle.

[2015-03-04 18:12] lbanner commented on #98
Sure looks pretty @Ghalko -- want to take a wee bit-o-time to understand how to make that happen?

[2015-03-04 18:15] brianjgeiger opened #2044 "Remove Collaborator Network"
Steps
--------
Go to Explore->Collaborator Network

Expected
------------
A cool visualization of the current state of the OSF

Actual
--------
Currently, the Collaborator Network is out of date and problematic.

Proposed solution
------------------------
I recommend removing it for the moment until we can get something to replace it. There's some discussion in #98 that might also be relevant to a

[2015-03-04 18:30] lbanner commented on #2031
@lyndsysimon Yes, based on our today conversation, your input/insight here would be helpful as to what or how much your work might resolve. Thanks.

[2015-03-04 18:35] GaryKriebel commented on #446
Configurable citations was released with the 0.25 update.
https://github.com/CenterForOpenScience/osf.io/pulls?q=is:closed+is:pr+milestone:0.25.0

[2015-03-04 18:35] #446 closed

[2015-03-04 19:11] caneruguz commented on #1950
Hi @sambrady3
Thanks for the suggestion, that did indeed solve the problem.

For further information about what was going on there. Webpack builds javascript across the website into some key combined js files which are then used by the website. Something like this appears:

![screen shot 2015-03-04 at 2 04 11 pm](https://cloud.githubusercontent.com/assets/1314003/6490894/80a7ae72-c277-11e4-8c59-a2

[2015-03-04 19:33] GaryKriebel commented on #1229
This is no longer an issue.

[2015-03-04 19:33] #1229 closed

[2015-03-04 19:35] huangginny commented on #1867
I see this coming up once in a while too... haven't figured out when it happens

[2015-03-04 19:43] huangginny commented on #1478
@GaryKriebel This one is fixed now :) Please de-assign me and close this issue!

[2015-03-04 19:44] lbanner commented on #1478
Got it -- Thanks

[2015-03-04 19:44] #1478 closed

[2015-03-04 20:21] brianjgeiger commented on #1514
I'm not going to be able to do all of this with front-end only code; I need to add parent information to the get_editable_children view because of the way the data was flattened out.

[2015-03-04 20:26] ginavuu commented on #2028
The other add-ons do not ask for username and password on the same page but instead goes to a different page.

[2015-03-04 20:34] lbanner commented on #1514
Who do you need @brianjgeiger --- @jmcarp ? @samchrisinger ?

[2015-03-04 20:35] brianjgeiger commented on #1514
Nobody, I'm just documenting progress.

[2015-03-04 20:36] lbanner commented on #1514
OK -- thought maybe you needed some back-end back-up! :smile_cat: -- TY!

[2015-03-04 20:36] huangginny commented on #2011
I can take this feature and add it to the OSF... but what about the content that we are tweeting/sharing? The link of the page?

[2015-03-04 20:41] lbanner commented on #2011
I think, yes, the link of the page. So maybe, I as a project Admin can share my project link via Twitter, etc.

[2015-03-04 20:46] HarryRybacki commented on #2044
Harsh critics.

[2015-03-04 20:48] huangginny commented on #2011
@lbanner Sounds good, and then which pages do we want the buttons? @AndrewSallans mentioned public project's overview's page and individual files page (and I would assume wiki as well) but what about the others? Also do we need those for public pages (getting started etc)?

Also, I thought if the project is public, anyone should be able to share it right? Suppose I came across your public project

[2015-03-04 20:53] lbanner commented on #2011
@huangginny Let's start w/Public Projects overview page and individual file pages. And yes, I agree, if a project is public, I should be able to share it, even if I am just a visitor.

[2015-03-04 21:12] caneruguz commented on #2017
So after about an hour of trial and error I realized the solution I suggested may cause other problems down the line and is not idea. The other alternative is to draw a scrollbar ourselves for webkit, chrome/safari. We have then the option to make it look like anything we like. Any ideas about how to go about with this? Options are
- Ignore issue
- Make scrollbar look like OSX Yosemite (we need to

[2015-03-04 21:41] caneruguz commented on #2017
Also @brianjgeiger and @sloria, any thoughts on this?

[2015-03-04 22:31] brianjgeiger commented on #2017
Probably the scrollbar like the one in your image would be ideal of the custom options.

[2015-03-04 23:23] brianjgeiger commented on #1514
Okay, here's the change. PR coming shortly.

![private link grandchildren](https://cloud.githubusercontent.com/assets/6599111/6495825/83e35770-c29b-11e4-973d-a553875195ab.gif)

[2015-03-05 03:00] sloria opened #2053 "Wiki very slow with lots of text"
Found by @erinspace: editing text in the wiki can be very slow with a large amount of text. It is worse when the preview pane is up.

[2015-03-05 03:01] #2044 closed

[2015-03-05 14:31] lbanner commented on #2053
@brianjgeiger ? TY

[2015-03-05 14:32] lbanner commented on #1514
Cool :octocat:

[2015-03-05 14:33] saradbowman commented on #1514
+1!

On Thu, Mar 5, 2015 at 9:32 AM, LarryB <notifications@github.com> wrote:

[2015-03-05 14:36] brianjgeiger commented on #2053
Since it's happening when preview is off as well, it might be related to the collaborative wiki. But yes, we need to check and see what's happening here.

[2015-03-05 14:47] fabianvf commented on #2053
Saving the wiki also gets really slow as the size increases, not sure if it's related or not

[2015-03-05 15:01] #1885 closed

[2015-03-05 15:15] sloria commented on #1885
Ran @jmcarp's migrations script; these should now be resolved. @jlcohoon Can you verify?

[2015-03-05 15:25] #1768 closed

[2015-03-05 15:30] sloria opened #2055 "Wiki snippets appear for every word"
In the wiki editor, the snippets suggestions popup appears for virtually every word the user enters. This can be pretty annoying.

Expected:

The snippets popup only appears after entering at least a few characters of a word.

[2015-03-05 15:31] sloria commented on #2036
Fixed.

[2015-03-05 15:31] #2036 closed

[2015-03-05 15:35] caneruguz opened #2056 "Wiki view only pages should not be fixed to a height [Enhancement]"
Based on a conversation with @brianjgeiger  and his conversation with @JeffSpies  the idea is to remove the box around View section of the wiki when it's the only visible item and make the entire page scroll.

This makes sense because when only one wiki panel is active there is no need for the containment to happen. However I suggest that we do this only for the case where View is the only visible

[2015-03-05 15:42] JeffSpies commented on #2056
That's a fine starting point.

On Thu, Mar 5, 2015 at 10:35 AM, Caner Uguz <notifications@github.com>
wrote:

[2015-03-05 15:47] caneruguz commented on #2056
@brianjgeiger Do we still want menu bar to be closed initially?

![screen shot 2015-03-05 at 10 47 02 am](https://cloud.githubusercontent.com/assets/1314003/6508159/06608eaa-c325-11e4-97b1-aa4956170253.png)

[2015-03-05 15:49] brianjgeiger commented on #2056
@caneruguz For the RPCB and RPP links in the footer, I believe so, but not for general functionality. That could be a separate PR, however.

[2015-03-05 16:06] lbanner commented on #2055
@brianjgeiger ?

[2015-03-05 16:12] brianjgeiger commented on #2055
I have no special knowledge of the snippets; that was implemented before my time on the wiki. Anyone would be as good at that as I would be, and one or two others would be better.

[2015-03-05 16:40] brianjgeiger commented on #2053
@fabianvf can you link me to a slow wiki page?

[2015-03-05 16:48] jmcarp opened #2059 "No pagination for file versions"
# Steps
* Upload >10 versions of a file to a project
* Go to the file detail page

# Expected
* The most recent 10 versions of the file are listed, with a link to view more versions

# Actual
* The most recent 10 versions are listed, with no way to view more versions

Additional fun fact: users can access older versions by manually changing the URL, but if a user does this, the most recent version

[2015-03-05 16:51] brianjgeiger commented on #2059
If we switch file view to match the wiki display, this will not be an issue.

[2015-03-05 16:52] fabianvf commented on #2053
https://osf.io/wur56/wiki/scrAPI/

[2015-03-05 18:55] huangginny commented on #1907
mental note to self: happens because selection users do not add users to the selection pool when picking contributors
Might be a knockout issue

[2015-03-05 19:26] sloria commented on #2017
Fixed

[2015-03-05 19:26] #2017 closed

[2015-03-05 19:55] sloria opened #2062 "Create project "+" icon is misaligned"
![osf___dashboard](https://cloud.githubusercontent.com/assets/2379650/6513229/73669630-c347-11e4-88ac-496e4237137d.png)

This seems to have regressed after recent CSS changes.

[2015-03-05 20:09] #1369 closed

[2015-03-05 20:15] brianjgeiger commented on #1250
This *might* be fixed with the new version of DropZone recently released.

[2015-03-05 20:18] brianjgeiger commented on #1669
The new version of DropZone claims to be compatible with IE 10+ and supposedly falls back gracefully if it is being used by an incompatible browser. http://www.dropzonejs.com/#compatibility

[2015-03-05 20:47] caneruguz commented on #2062
When you add this custom tag like other boxes are using, it fixes it;

![screen shot 2015-03-05 at 3 45 21 pm](https://cloud.githubusercontent.com/assets/1314003/6514230/ca655c1c-c34e-11e4-9a03-5f62159a94e8.png)

...which tells me there is a class affecting based on child but I can't find where it is, normally inspecting css should help but it looks identical. I'm super baffled about this.

[2015-03-05 20:48] saradbowman opened #2065 "Metrics Wishlist: Scripts to append data to spreadsheets"
As per a discussion with @jmcarp, there are a few things that would make my life easier, if a dev has time to work on them (or could teach me how to do these things).

I import the results of this script: https://github.com/CenterForOpenScience/osf.io/blob/db2cc04fbc9f11fb3148754419c32af2eb954308/scripts/analytics/benchmarks.py

into a google spreadsheet automatically, but it does not append the v

[2015-03-05 20:53] saradbowman opened #2066 "Metrics: Add Daily, Weekly, Monthly Users"
As per previous discussion with @AndrewSallans @sloria and @jmcarp, it would be helpful to know how many users are active daily, weekly, and monthly.

We currently track number of users performing log-able actions in the past 3 months. It would be useful to track this across past 24 hours, past 7 days, and past 30 days, to know how often our depth users are engaged. Will also help us understand an

[2015-03-05 21:48] billyhunt opened #2070 "Warning messages for missing local.py files are need location and/or module information."
After a fresh installation, when running

`invoke server`

I get the following warnings

[website.addons.box.settings]  WARNING: No local.py settings file found
[root]  WARNING: No local.py settings file found
[website.addons.dropbox.settings]  WARNING: No local.py settings file found
[website.addons.figshare.settings]  WARNING: No local.py settings file found
[website.addons.github.settings]  WAR

[2015-03-05 21:50] brianjgeiger commented on #2070
Warnings should be fine. Does it run? Does it show anything?

.:Brian

[2015-03-05 22:19] lbanner commented on #2070
Thanks for noting @billyhunt

[2015-03-05 22:28] lbanner commented on #1669
This a WaterButler arena, @brianjgeiger  -- @jmcarp have thoughts?

[2015-03-05 22:29] sloria commented on #2070
This is an easy fix. Will submit a patch shortly.

[2015-03-05 22:29] lbanner commented on #1250
Who's world is DropZone Mr. @brianjgeiger ? .... Help me know to whom to assign :smile_cat:

[2015-03-05 22:30] lbanner commented on #2070
TY!

[2015-03-05 22:30] #2070 closed

[2015-03-05 22:33] brianjgeiger commented on #1669
No, I believe this is specifically Dropzone, which is the Javascript library we use to do Drag and Drop via the web browser. The new version may or may not fix it. If not, we might either have to submit a bug or a PR to the Dropzone folks.

[2015-03-05 22:36] brianjgeiger commented on #1250
Could be anyone who knows Javascript. Me, @caneruguz, several of the interns. What we should try first is seeing if @caileyfitz or anyone else with the right version of safari can replicate the problem with Dropzone's sample widget at http://www.dropzonejs.com/examples/simple.html

If it doesn't replicate (and the same for #1669 with its browsers), then we should just replace out the script and te

[2015-03-05 22:48] lbanner commented on #1250
TY!

[2015-03-06 00:23] sloria opened #2072 "[dev] Faster CI builds using Travis CI's container-based insfrastructure"
Discussed with @icereval : We could see significant increases in build speed by taking advantage of Travis CI's new container-based system: http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/

The only barrier right now is that we are installing TokuMX with `sudo`: https://github.com/CenterForOpenScience/osf.io/blob/0ef4524c590a14a14abad0df1bd55662238ccb28/.trav

[2015-03-06 01:46] brianjgeiger commented on #2053
I believe @erinspace has reported that this issue is fixed, yes?

[2015-03-06 01:58] saradbowman opened #2073 "[production] View-only link doesn't display wiki content"
Steps:
1. Click on view-only link: https://osf.io/26mer/?view_only=b31fa8c0a2b742fca1822549814b47b5

2. See that there is content in the wiki page from the widget on the project overview page

3. Go to the wiki page, either by clicking Wiki in the nav bar or by clicking the open button on the widget

4. The wiki content is not visible.

Expected:

Clicking to open the wiki would display the wiki c

[2015-03-06 02:07] brianjgeiger commented on #2073
Interestingly, we are getting Forbidden errors with the API wiki links.

![screen shot 2015-03-05 at 8 43 07 pm](https://cloud.githubusercontent.com/assets/6599111/6518939/3ad5161e-c37b-11e4-8fd6-6e0a795b103a.png)

The routes seem to be decorated properly https://github.com/CenterForOpenScience/osf.io/blob/develop/website/addons/wiki/views.py#L226-L229 unless @must_be_contributor_or_public isn't v

[2015-03-06 02:16] erinspace commented on #2053
@brianjgeiger  Yup, seems fixed as I don't see the same lagging that I did before, even with the live view. Looks good from my perspective!

[2015-03-06 02:57] #2053 closed

[2015-03-06 02:59] lbanner commented on #2072
I think we should consider an "internal" label? .... maybe DEV should have a label? But also we get "enhancement" and "feature" requests from Community. Insights anyone?

[2015-03-06 03:11] sloria commented on #2073
The problem seems to be related to modifying the query params. On page load the `view_only` query param is removed. Removing the calls to `history.replaceState` fixes the problem.

I will look into a fix shortly.

[2015-03-06 03:34] #2073 closed

[2015-03-06 03:35] sloria commented on #2073
Should be fixed now @saradbowman

[2015-03-06 05:30] JeffSpies commented on #2072
I believe Megan is working on this.

On Thu, Mar 5, 2015 at 9:59 PM, LarryB <notifications@github.com> wrote:

[2015-03-06 05:31] JeffSpies commented on #2053
@brianjgeiger <https://github.com/brianjgeiger> How was it fixed?

On Thu, Mar 5, 2015 at 9:57 PM, Steven Loria <notifications@github.com>
wrote:

[2015-03-06 12:46] brianjgeiger commented on #2053
It was caused by the highlighting. They had lots of code snippets on the page. I turned off the highlight rendering for the quick render. There are potentially other optimization a that can be made, as there are some open questions as to why it was a problem even after the view panel was closed.

[2015-03-06 13:04] brianjgeiger commented on #2053
What I suspect was happening based on the profiling I did is that trying to do multiple renders of the same material in quick succession was causing script to pile up with highlight events, and after that it started thrashing. Ultimately, it might be a better thing to see if we can throttle the math rendering so that it only runs after it has completed (right now we are just debouncing based on ke

[2015-03-06 14:00] sloria commented on #2072
We may also need to remove any usage of `npm install -g <something>`. We shouldn't need to install any npm packages globally. We would just need to change the invoke tasks to run, e.g.

[code]

instead of using global CLIs.

[2015-03-06 14:14] Ghalko commented on #1907
Works for me!

[2015-03-06 14:41] lyndsysimon commented on #1862
The migration script completed this morning, and all projects should now be up to date. I've checked the other project you linked above, and verified that it was included in the update.

If you encounter any other issues with Piwik, let us know! :+1:

[2015-03-06 14:41] #1862 closed

[2015-03-06 14:49] lyndsysimon commented on #2002
Since I've been working with Piwik for the past couple of days, I should be able to knock this one out quickly. I'm on it! :fast_forward:

[2015-03-06 15:04] brianjgeiger commented on #1250
So, complicating this and #1669, we have a custom version of Dropzone to fix some bad behavior with folders. I thought we were patching, but that changed a few sprints ago, so just bringing it up to date may require us to have to fix a regression with folder dropping (i.e. we don't want it) at the same time. @sloria has the [custom version of Dropzone](https://github.com/sloria/dropzone/tree/accep

[2015-03-06 15:13] brianjgeiger commented on #1250
On the plus side, the changes that were made seem like they'll merge into the new version without much trouble, so it might not be too bad to get this going.

[2015-03-06 15:48] brianjgeiger opened #2078 "Email to project"
Proposal
------------
Give projects email addresses which would allow users to send content and conversations to the project. Only emails that match contributors with write permission would be allowed to use the email address. Email content would be archived and viewable. Files would be saved. Files with the same name but different content would be added as new versions. Files with the same name b

[2015-03-06 15:53] TimErrington commented on #2078
+1

[2015-03-06 15:54] Ghalko commented on #98
Getting into D3
Notice the first link has lots of bubbles but doesn't slow down the browser.
http://www.nytimes.com/interactive/2012/02/13/us/politics/2013-budget-proposal-graphic.html?_r=0
http://www.infocaptor.com/bubble-my-page?url=osf.io&size=800

And we need to find a way to do something similar with contributions: http://mbtaviz.github.io/

http://bl.ocks.org/kerryrodden/477c1bfb081b783f80ad

[2015-03-06 16:08] erinspace opened #2080 "wiki - find does not behave as expected"
## Steps
- Go to a wiki page with lots of content
- Click edit
- Click within the edit text box
- Find text in page (with command+F on a mac or Edit > Find in the browser menu)

## Expected
Find will search within the edit text box and let you jump to the selection you've searched for so you can start editing there.

## Actual
- Activating find using a keyboard shortcut does nothing
- Activating f

[2015-03-06 16:19] wisherp commented on #1907
Tested in IE11 and Chrome. Works fine!

[2015-03-06 17:25] #1907 closed

[2015-03-06 17:49] huangginny commented on #1719
I can't replicate this bug on production.  @jlcohoon can you add me (Ginny Huang) as a contributor to your project so I can try there?

[2015-03-06 18:27] jlcohoon commented on #1719
It seems to be working now actually. @huangginny, it's wasn't the project that's the problem—it's that particular file. In any case, it seems to be fixed.

[2015-03-06 18:39] #1719 closed

[2015-03-06 19:30] #1514 closed

[2015-03-06 19:40] jlcohoon commented on #1885
looks good to me

[2015-03-06 19:42] brianjgeiger opened #2086 "'Current Status' Page"
We should have a persistent place for people to go if they want to know if we think everything is currently working. As we have many different services, some of which are not in our direct control (add-on providers, Piwik, MailChimp, Elastic Search, and so on) that may not be functioning for periods of time independent of the rest of the site, it would be great if they could check to see if we kno

[2015-03-06 19:45] fabianvf commented on #2086
:+1:

[2015-03-06 19:49] #2066 closed

[2015-03-06 19:52] #2002 closed

[2015-03-06 20:05] caneruguz opened #2088 "[IE9] Website responsivenes broken in IE9"
## Steps:
1. Go to a project page on IE9
2. Check to see if there is horizontal scrolling

## Expected
There shouldn't be page wide horizontal scrolling since width of the page should adjust to the width of the window

## Actual
There seems to be a fixed width to the entire website, there is scrolling. Columns respond to width changes but it's not fully responsive. See screenshot:

![screen shot 2

[2015-03-06 20:07] brianjgeiger commented on #1410
I've decided to just not count the children, rather than deleting the pointers. It was a much faster change than the discussion. If we want to delete pointers later, that can be a separate thing.

[2015-03-06 20:10] brianjgeiger commented on #1680
@caneruguz I think the proper fix is to make the icon a background image rather than just an image, which should keep it from being draggable.

[2015-03-06 20:12] caseyrollins commented on #2088
I have a Windows VM I can check this in.

[2015-03-06 20:12] lbanner commented on #1410
Cool! ..... Your hotfix is merged -- shall we close this?

[2015-03-06 20:14] lbanner commented on #2088
Thanks @caseyrollins

[2015-03-06 20:14] caneruguz commented on #1680
Yes that makes sense, it will need bit of an overhaul of the icon function but not a big deal. @lbanner can you assign me to this issue?

[2015-03-06 20:15] brianjgeiger commented on #1410
I'll do a quick test once it's on staging to be sure.

[2015-03-06 20:15] lbanner commented on #1680
Done!

[2015-03-06 20:16] #1873 closed

[2015-03-06 20:18] #1515 closed

[2015-03-06 20:22] Ghalko commented on #2055
I can't find any more specific settings on the ace editor autocomplete than enable autocompletion. No simple way to change when it should start from a cursory glance.

[2015-03-06 20:22] #1331 closed

[2015-03-06 20:27] brianjgeiger commented on #1739
I think a message might be nice, but I don't think that should be sufficient to close this issue. Special characters shouldn't be dropped; they should either be rendered properly (preferable) or converted to their closest ascii equivalent. There is potential for confusion and, in the case of scientific papers, entirely inaccurate data/results if characters are dropped.

Most of our rendering is an

[2015-03-06 20:34] caseyrollins commented on #1373
@lbanner @GaryKriebel I can quickly fix this.

[2015-03-06 20:37] bnosek opened #2090 "User does not come up in search"
# Steps
* search for user "Simine Vazire" or "Simine" or "Vazire" - occurs in general search and when adding an author

# Expected
* This profile should be found: https://osf.io/gmjz6/

# Actual
* Nothing is found

[2015-03-06 20:43] #1819 closed

[2015-03-06 20:43] caneruguz commented on #1373
FYI, site.css already has this helper class:
[code]

so this will work

[code]

[2015-03-06 20:46] brianjgeiger commented on #2090
Hmmm. Do we need to do a search migration, @sloria @icereval ?

[2015-03-06 20:49] lbanner commented on #1373
OK @caseyrollins  -- switched from @lyndsysimon -- he has other priorities in any case -- TY!

[2015-03-06 20:51] brianjgeiger commented on #1739
I filed an issue for pydocx: https://github.com/CenterForOpenScience/pydocx/issues/109

[2015-03-06 20:56] sloria commented on #1164
Addressed by recent wiki redesign and 4a7c39e

[2015-03-06 20:56] #1164 closed

[2015-03-06 21:02] #1795 closed

[2015-03-06 21:04] #1373 closed

[2015-03-06 21:05] brianjgeiger commented on #1832
This looks to be fixed now.

![screen shot 2015-03-06 at 4 04 44 pm](https://cloud.githubusercontent.com/assets/6599111/6536316/95921bd4-c41a-11e4-90c5-626a9e3581ad.png)

[2015-03-06 21:05] #1832 closed

[2015-03-06 21:13] lbanner commented on #1832
Right -- Very good!

[2015-03-06 21:14] caseyrollins commented on #2088
@caneruguz I'm getting the same horizontal scrolling problem in IE 9. And the horizontal scrolling doesn't allow me to see the whole page -- even when I scroll all the way over, I can never see the end of my name in the top right.

![screen shot 2015-03-06 at 4 08 15 pm](https://cloud.githubusercontent.com/assets/7913604/6536463/c88dad5e-c41b-11e4-991f-5481b7b525f9.png)

[2015-03-06 21:31] #1778 closed

[2015-03-06 21:33] caneruguz commented on #1950
This looks fixed, @lbanner can you review whether this can be closed?

[2015-03-06 21:33] sloria commented on #2090
Migrated. Simine shows up in search now.

[2015-03-06 21:33] #2090 closed

[2015-03-06 21:39] lbanner commented on #2090
Thanks @sloria

[2015-03-06 21:40] lbanner commented on #1950
I'll confirm - Thanks!

[2015-03-06 23:42] brianjgeiger commented on #2019
This is fixed, @lbanner

[2015-03-09 02:03] HarryRybacki opened #2098 "Add tests to Prisoner model"

[2015-03-09 02:03] #2098 closed

[2015-03-09 02:27] lbanner commented on #2019
Thank you!

[2015-03-09 02:27] #2019 closed

[2015-03-09 14:06] nicipfeiffer opened #2100 "[Staging & Production] Profile page obscured view for really long names"
## Steps
1. Change your profile name to a really long name.
2. Go to your profile page.

## Expected
For long names the entire name would be visible and not obscured.

## Actual
For long names the portion that moves above is half obscured.

![screen shot 2015-03-09 at 10 05 05 am](https://cloud.githubusercontent.com/assets/9381062/6556433/dc82728e-c643-11e4-877e-48973e93a8ba.png)

[2015-03-09 14:16] #1950 closed

[2015-03-09 14:35] caileyfitz opened #2101 "[staging & production] Can incorrectly delete Figshare file from files view page"
# Steps
1. Link a public figshare fileset to a project
2. Go to the files tab for that project
3. Hover near the download button and see if you can delete a file
4. Click on a file to go to the files view page
5. Look for a Delete button
6. Click the Delete button

# Expected
I expect that for public figshare filesets, you should not be able to delete a file.

# Actual
On the files tab, there is N

[2015-03-09 14:53] nicipfeiffer opened #2103 "[Staging] (& Probably Production) Add-On: Github Unable to resolve error in Project Settings"
## Steps
1. Create a project
2. Go to project settings and enable Github
3. Import the access token

## Expected
When enabling the Github add-on for a project the access token would authorize the add-on and not create an error for that add-on and the settings page for the project.

## Actual
After enabling Github for the project and attempting to import the access token to link a repo to the proje

[2015-03-09 14:55] nicipfeiffer commented on #2103
@jmcarp I think you know what this is all about.

[2015-03-09 14:59] chrisseto commented on #2101
@jmcarp Should this even be possible given the figshare API?

[2015-03-09 15:06] jmcarp commented on #2103
@nicipfeiffer yes, this is probably happening because we don't handle the case where a user's tokens are revoked or expired outside of OSF. I'll get this resolved today.

[2015-03-09 15:20] samanehsan commented on #2103
@jmcarp, I remember @chennan47 was working on a fix for when users revoke access tokens through github so you two may want to discuss

[2015-03-09 15:50] caneruguz commented on #1680
@Steve I sent a PR for this.

[2015-03-09 16:05] #1680 closed

[2015-03-09 16:08] samchrisinger commented on #2035
Still WIP, but some progress worth noting:
- PR for updating S3: https://github.com/CenterForOpenScience/osf.io/pull/2107
- @harrismendell has begun updating Github, and will resume work the week of 3/16/15
- PR for updating Box, Dropbox, Figshare, GoogleDrive, Mendeley, and Zotero: https://github.com/CenterForOpenScience/osf.io/pull/2014

[2015-03-09 16:29] samchrisinger commented on #2035
It's taking me > 30 min to try to get a dataverse account/link that account to OSF. Probably more effective to have @rliebz take a look when he's in tomorrow.

[2015-03-09 16:38] rliebz commented on #2035
If you are running into a lot of trouble, I would recommend checking to make sure that `HOST` in your `dataverse/settings/local.py` file is pointing to their production server (thedata.harvard.edu). Either way, I can certainly take a look at this tomorrow.

[2015-03-09 17:24] samanehsan commented on #2086
This is a repeat of https://github.com/CenterForOpenScience/osf.io/issues/1003

[2015-03-09 17:28] samanehsan commented on #713
Closing this since users can no longer edit their names from the profile page. It is still possible to edit your name in your user settings page without changing your citation info, but now it is less likely to occur on accident.

[2015-03-09 17:28] #713 closed

[2015-03-09 17:29] lbanner commented on #2086
Yes - it is a good one. @brianjgeiger can we add your comment/description on this one to #1003?

[2015-03-09 17:30] brianjgeiger commented on #2086
So it is.

[2015-03-09 17:30] #2086 closed

[2015-03-09 17:32] lbanner commented on #2086
TY

[2015-03-09 18:11] lbanner opened #2113 "Error: Duplicate headers received from server"
![screen shot 2015-03-09 at 11 37 18 am](https://cloud.githubusercontent.com/assets/2964829/6560966/34444266-c664-11e4-90dd-d659666c46e2.png)

Error received trying to download a file from GitHub.
Same error with google drive.
Error occurred with file name having a comma.
Could be a 'Chrome' specific defect, as the error does not crop up with other browsers.

[2015-03-09 18:14] lbanner commented on #2113
Reported by @caileyfitz --

[2015-03-09 18:46] brianjgeiger commented on #1739
Looks like it's MFR, not pydocx.

[2015-03-09 18:48] brianjgeiger commented on #1739
@mfraezz, since I suspect you have MFR all checked out and building and everything, could you make that change?

[2015-03-09 19:00] KatyCain526 opened #2115 "[Feature Request] Allow navigation to presentations page on the OSF"
**Summary**
I went to the OSF, tried to get to the presentations page, could not get there without the link.

**Expected:**
1) I expect to be able to navigate to the presentations page from the OSF.

2) I also expect to be able to navigate from osf.io to my individual conference's page.

**Actual:**
1) I cannot navigate there unless I have the link.

2) I cannot navigate there unless I have the li

[2015-03-09 19:01] samanehsan commented on #2062
I can't tell what's causing this to happen either, but moving the icon tag above the "Create a project" heading fixed the problem for me. https://github.com/CenterForOpenScience/osf.io/blob/develop/website/templates/dashboard.mako#L57-63. If this seems like an okay solution, I can put in a PR for it.

[2015-03-09 19:02] KatyCain526 commented on #2115
It deals with two things, the first one is the main one.

[2015-03-09 19:03] lbanner commented on #2115
I have no obstacles to this proposal, and think the need for a direct link is there -- labeling with "discuss" as I'd like to hear from Community @saradbowman or @AndrewSallans on proposed solution (?)

[2015-03-09 19:05] lbanner commented on #2062
Maybe @sloria or @caneruguz can weight in, but I am good with it.

[2015-03-09 19:07] fabianvf commented on #2115
It seems like a no-brainer to me, considering how popular the presentation service has been.

[2015-03-09 19:16] sloria opened #2117 "[dev] Remove knockout-mapping"
We only use knockout-mapping.js in one module (comment.js). I propose removing it. If need be, we can easily add a helper function to transform a JS object of simple types into an object who values are observables.

[2015-03-09 19:26] sloria commented on #2117
To add to this: knockout.mapping is no longer maintained as of this writing--https://github.com/SteveSanderson/knockout.mapping#read-this. I believe it is also incompatible with the latest release, which caused problems with our comment pane (see https://trello.com/c/m8pFCDSW/34-cannot-save-comments).

[2015-03-09 19:52] sloria opened #2119 "[dev] Remove dependency on handlebars.js / project organizer refactor"
Handlebars is only used in one module right now, projectorganizer.js . This module diverges from the rest of the codebase's style and architecture (which use either Knockout or mithril). I propose to refactor this module such that we can remove Handlebars as a dependency and make projectorganizer.js more consistent with the codebase.

I realize that removing handlebars is probably part of a larger

[2015-03-09 19:54] saradbowman commented on #2115
I think this is a great idea.

I wonder about what to call it - would "Presentations" convey the right meaning to users?  other options: Presentations and Posters, Conferences, Presentation Hosting?

After all that, I think I vote for Presentations...

[2015-03-09 20:50] brianjgeiger commented on #2119
If you can use the templating independently from the rest of the frameworks, then switching the template system should be a fairly small and focused change.

[2015-03-09 21:29] sloria opened #2127 "Improve PDF rendering"
Adding this issue as a reminder to review @caseyrollins's improvements to PDF rendering in https://github.com/CenterForOpenScience/modular-file-renderer/pull/153 and test integration with the OSF.

[2015-03-09 21:46] jmcarp commented on #2101
@chrisseto no, this shouldn't be possible, and they don't let you delete files from public filesets through their web interface. I'll just hide the delete button.

[2015-03-10 13:24] lbanner commented on #2127
Great -- nice work @caseyrollins

[2015-03-10 14:16] samanehsan commented on #2115
This has been reported in https://github.com/CenterForOpenScience/osf.io/issues/1418 and there is also some discussion there!!

[2015-03-10 14:43] caneruguz opened #2132 "[Production] Wiki generating potentially wrong URLS"
As you toggle views in the Wiki the URL generated shows long and unnecessary "undefined" in many places which may lead to wrong URLs. Here's a walk through with screenshots and urls.
This does not affect which panels are shown, everything else is working fine, saving, loading version within applet, showing hiding etc.

#### 1. Open a wiki page

[code]

![screen shot 2015-03-10 at 10 30 21 am](http

[2015-03-10 14:44] caneruguz commented on #2132
@brianjgeiger I added you as administrator to this project in osf.io

[2015-03-10 14:45] brianjgeiger commented on #2132
Yeah, going to the wiki is definitely adding the ?=undefined right after page load, which certainly didn't happen before. I wonder what changed. Okay, working on this now.

[2015-03-10 14:50] brianjgeiger commented on #2132
Talked with @sloria; it was apparently a change that he had made. He is fixing now.

[2015-03-10 15:13] sloria commented on #2132
Yep, looking into this now.

[2015-03-10 15:13] samanehsan commented on #879
@lbanner @GaryKriebel, might we remove the "ready" label on this? The PR @HarryRybacki mentioned is merged onto staging and resolves this issue.

[2015-03-10 15:15] samanehsan commented on #1628
I can look into this! @lbanner @GaryKriebel

[2015-03-10 15:20] lbanner commented on #1628
You got it!

[2015-03-10 15:21] lbanner commented on #879
Yep @samanehsan -- updated, thank you.

[2015-03-10 16:01] #2132 closed

[2015-03-10 16:14] HarryRybacki commented on #879
PR #2007 is the updated version that will resolve the issue.

[2015-03-10 16:17] HarryRybacki commented on #12
@GaryKriebel @lbanner this is on the docker for this epic. We shouldn't forget to assign it accordingly once the issues are being worked on.

[2015-03-10 16:19] lbanner commented on #12
Good point - yes

[2015-03-10 17:41] samanehsan commented on #1621
I can take this one! @lbanner @GaryKriebel

[2015-03-10 17:51] brianjgeiger opened #2135 "New wikis without JS are not shown in pages"
Steps
--------
`curl` a wiki page that has been edited in the last week

Expected
-------------
The wiki text will appear in the HTML that is received

Actual
--------
Wiki text is not on the page

We are currently returning data in the html for pages that are older than the recent one-page wiki updates. However, newer pages are not getting that data. So we need to ensure that the raw markdown is